@using ODMSCommon.Resources
@using ODMSModel.ClaimDismantledPartDelivery
@model ClaimDismantledPartDeliveryListModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_PageTitle_Index");
}

<script>

    $(document).ready(function () {

        $('#divDetails').hide();
        //Popup
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("ClaimDismantledPartDeliveryDetails", "ClaimDismantledPartDelivery", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("ClaimDismantledPartDeliveryUpdate", "ClaimDismantledPartDelivery", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("ClaimDismantledPartDeliveryCreate", "ClaimDismantledPartDelivery")";
            }

            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");

            windowWidget.refresh({
                url: link
            }).center();

            windowWidget.center();

            windowWidget.open();

            

        });

    });

    function Delete(Id) {
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClaimDismantledPartDeliveryDelete", "ClaimDismantledPartDelivery")",
                data: { id: Id },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#ClaimDismantledPartDeliveryGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    function loadTabs(Id) {

        var tabStrip = $('#ClaimDismantledPartDeliveryTabs').kendoTabStrip().data("kendoTabStrip");

        var partTab = tabStrip.contentElements[0];

        $.ajax({
            type: "GET",
            url: "@Url.Action("ClaimDismantledPartDeliveryDetailIndex", "ClaimDismantledPartDeliveryDetail")",
            data: { id: Id },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(partTab).html(result);
                tabStrip.select(tabStrip.tabGroup.children("li").eq(0));
            },
            error: function (request, status, err) {                
                alert(status);
                alert(err);
            },
            dataType: "html"
        });

        $('#divDetails').show();
    }

</script>

@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_PageTitle_Create"), CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ClaimDismantledPartDeliveryListModel>()
          .Name("ClaimDismantledPartDeliveryGrid")
          .Columns(columns =>
    {
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(#=ClaimWayBillId#)' id='#=ClaimWayBillId#' ><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDetails));
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a href='" + Url.Action("PrintWayBillCopy", "ClaimDismantledPartDelivery") + "?claimWayBillId=#=ClaimWayBillId#' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBillCopy") + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/invoiceCopy.jpg") + "'></a></center>").Title(CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBillCopy")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDetails)).Width(2);
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a href='" + Url.Action("PrintWayBill", "ClaimDismantledPartDelivery") + "?claimWayBillId=#=ClaimWayBillId#' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBill") + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/invoice.jpg") + "'></a></center>").Title(CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBill")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDetails)).Width(2);
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a href='" + Url.Action("PrintWayBillProforma", "ClaimDismantledPartDelivery") + "?claimWayBillId=#=ClaimWayBillId#' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBillProforma") + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/invoice.jpg") + "'></a></center>").Title(CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_Display_PrintWayBillProforma")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDetails)).Width(2);
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a class='details modalClick' id='#=ClaimWayBillId#' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_PageTitle_Details") + "' href='./ClaimDismantledPartDeliveryDetails/#=ClaimWayBillId#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDetails)).Width(2);
        columns.Bound(p => p.ClaimWayBillId).ClientTemplate("<center><a class='edit modalClick' id='#=ClaimWayBillId#' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_PageTitle_Update") + "' href='./ClaimDismantledPartDeliveryUpdate/#=ClaimWayBillId#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryUpdate)).Width(2);
        columns.Bound(o => o.ClaimWayBillId).ClientTemplate("<center><a onclick='Delete(#=ClaimWayBillId#)' href='javascript:void(0);' frameTitle='" + @CommonUtility.GetResourceValue("ClaimDismantledPartDelivery_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryDelete)).Width(2);
        columns.Bound(p => p.ClaimWayBillNo).Width(200).Sortable(true);
        columns.Bound(p => p.ClaimWayBillSerialNo).Width(200).Sortable(true);
        columns.Bound(p => p.ClaimWayBillDate).Width(200).Format("{0:dd/MM/yyyy}").Sortable(true);
    })
          .Pageable()
          .Sortable()
           
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("Read", "ClaimDismantledPartDelivery", Model))
              .Model(model => model.Field(o => o.ClaimWayBillId).DefaultValue(-1)))

    )
</div>

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
          .Name("modelWindow")
          .Draggable()
          .Resizable()
          .Width(650)
          .Height(300)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"

                function(e)
                 {
                      var grid = $('#ClaimDismantledPartDeliveryGrid').data('kendoGrid');
                      grid.dataSource.read();
                }
    ")))
</div>

<div id="divDetails">
    @(Html.Kendo().TabStrip()
          .Name("ClaimDismantledPartDeliveryTabs")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.ClaimDismantledPartDeliveryDetail_PageTitle_Index).LoadContentFrom(Url.Action("ClaimDismantledPartDeliveryDetailIndex", "ClaimDismantledPartDeliveryDetail"))))
</div>