@{
    Layout = null;
}
@using ODMSCommon.Resources
@model ODMSModel.ProposalCard.ProposalDiscountModel
<style>
    a:focus {
        outline: none;
        outline-offset: -2px;
    }
    .infoWrap {
        padding: 5px;
        margin-top: 6px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
</style>
<div id="warning-wrap" class="alert alert-warning" style="display:none">
        <strong>@(Model.DisableDiscount?Html.Raw(MessageResource.WorkOrderCard_Display_FleetDiscountExists):Html.Raw(""))</strong>
        </div>

    @Html.HiddenFor(c => c.ProposalId)
    @Html.HiddenFor(c => c.Type)
    @Html.HiddenFor(c => c.ProposalDetailId)
    @Html.HiddenFor(c => c.ItemId)
    <ul class="nav nav-tabs">
        <li class="active"><a href="#percentage" onclick=" activeTab = 1;CalculatePrice(); " data-toggle="tab">@MessageResource.WorkOrderCard_Display_Percentage</a></li>
        <li class=""><a href="#money" data-toggle="tab" onclick=" activeTab = 2;CalculatePrice(); ">@MessageResource.WorkOrderCard_Display_Price</a></li>
    </ul>
    <div id="tabWrap" class="tab-content" style="background-color: white; padding: 10px; border-right: 1px solid #dddddd; border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd">
        <div class="tab-pane active" id="percentage">
        
            @using (Html.BeginForm("AddDiscount", "Proposal_Card", FormMethod.Post, new {id = "PercentageForm"}))
            {
                <div class="labelDiv">@MessageResource.WorkOrderCard_Display_Percentage</div>
                <div class="" style="width: 300px;">@Html.Kendo().NumericTextBoxFor(c => c.DiscountRatio).Spinners(false).Format("{0:N2}").Decimals(2).Min(0.0M).Max(100M).HtmlAttributes(new { type = "text", maxlength = "5", data_val = "true", style = "width:120px;",onchange="OnRatioChange();" })</div>
                <div class="clearDiv"></div>
                @Html.Hidden("DiscountType", "Percentage")
            }
            
                <button class="k-button" onclick=" AddPercentage(); "><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;@MessageResource.Global_Display_Save</button>

        </div>
        <div class="tab-pane" id="money">
            @using (Html.BeginForm("AddDiscount", "Proposal_Card", FormMethod.Post, new {id = "MoneyForm"}))
            {
                <div class="labelDiv">@MessageResource.WorkOrderCard_Display_UnitPrice</div>
                <div class="" style="width: 300px;">@Html.Kendo().NumericTextBoxFor(c => c.DiscountPrice).Spinners(false).Format("{0:N2}").Decimals(2).Min(0).Max(Model.ListPrice).HtmlAttributes(new { type = "text", data_val = "true", style = "width:120px;",onchange="OnMoneyChange();"})</div>
                <div class="clearDiv"></div>
                @Html.Hidden("DiscountType", "Money")
            }       
          
                 <button class="k-button" onclick=" AddMoney(); "><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;@MessageResource.Global_Display_Save</button>

        </div>
    </div>
    <div class="infoWrap">
        <h5>@MessageResource.WorkOrderCard_Display_CalculationSummary &nbsp;&nbsp;<a class="k-link" onclick=" CalculatePrice(); "><img style="width: 14px;" src="@Url.Content("~/Images/refresh.png")" /></a></h5>
        <div style="margin-left: 12px">
            <div class="labelDiv">@MessageResource.WorkOrderCard_Display_CountTime</div>
            <div class="shortTxtDiv">@Model.Quantity
            @if (Model.Type == "LABOUR")
            {
                @Html.Raw("/ "+Model.Duration)
            }
            </div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@MessageResource.WorkOrderCard_Display_UnitPrice</div>
            <div class="shortTxtDiv">@Model.ListPrice</div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@MessageResource.WorkOrderCard_Display_WarrantyPayment</div>
            <div class="shortTxtDiv">@Model.WarrantyPrice</div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@MessageResource.WorkOrderCard_Display_DiscountPrice</div>
            <div class="shortTxtDiv" id="Discount">@Model.DiscountPrice</div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@MessageResource.WorkOrderCard_Display_TotalPaymentPrice</div>
            <div class="shortTxtDiv" id="TotalPrice">@Model.TotalPrice</div>
            <div class="clearDiv"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>
        var activeTab = 1;
        $(document).ready(function() {
            activeTab = 1;
            CalculatePrice();
            $("#DiscountRatio").blur(CalculatePrice);
            $("#DiscountRatio").keyup(CalculatePrice);
            $("#DiscountPrice").blur(CalculatePrice);
            $("#DiscountPrice").keyup(CalculatePrice);
        });

        function CalculatePrice() {
            var duration = parseFloat('@Model.Duration'.replace(',', '.'));
            if (isNaN(duration) || duration==0)
                duration = 100;
            duration = (duration / 100).toFixed(2);
            var quantity = parseFloat('@Model.Quantity'.replace(',', '.'));
            var price = parseFloat('@Model.ListPrice'.replace(',', '.'));
            var vatRatio = 0;
            var warrantyPayment = parseFloat('@Model.WarrantyPrice'.replace(',', '.'));
            var discount = activeTab == 1 ?
                parseFloat($("#DiscountRatio").val().toString().replace(',', '.')).toFixed(2) :
                parseFloat($("#DiscountPrice").val().toString().replace(',', '.')).toFixed(2);
            if (isNaN(discount) || discount == " ")
                discount = 0;
            var totalPriceWithoutDiscount = (duration * quantity * price * (100 + vatRatio) / 100) - warrantyPayment;
            var totalPrice = activeTab == 1 ? totalPriceWithoutDiscount * ((100 - discount) / 100) : discount * quantity * duration;
            var discountPrice = activeTab == 1 ? totalPriceWithoutDiscount - totalPrice : totalPriceWithoutDiscount - (discount * quantity * duration);
            $('#TotalPrice').html(parseFloat(totalPrice).toFixed(2).toString().replace('.', ','));
            $('#Discount').html(parseFloat(discountPrice).toFixed(2).toString().replace('.', ','));
        }

        function AddPercentage() {
            var formValues = $("#PercentageForm").serializeObject();
            $.extend(formValues, GetAdditionalValues());

            mvc.build("@Url.Action("AddDiscount", "Proposal_Card")", "", "", formValues, false, "json");
            mvc.post(null, HandleResult, null);
        }

        function OnMoneyChange() {
            var currentPrice = parseFloat($("#DiscountPrice").val().toString().replace(',', '.')).toFixed(2);
            var price = parseFloat('@Model.ListPrice'.replace(',', '.'));
            var ratio = ((price-currentPrice) / price * 100);
            $("#DiscountRatio").data("kendoNumericTextBox").value(ratio);
        }

        function OnRatioChange() {
            var currentRatio = parseFloat($("#DiscountRatio").val().toString().replace(',', '.')).toFixed(2);
            //var ratio = parseFloat('@Model.DiscountRatio'.replace(',', '.'));
            var price = parseFloat('@Model.ListPrice'.replace(',', '.')).toFixed(2)*(100-currentRatio)/100;
            $("#DiscountPrice").data("kendoNumericTextBox").value(price);
        }


        function AddMoney() {
            var formValues = $("#MoneyForm").serializeObject();
            $.extend(formValues, GetAdditionalValues());
            mvc.build("@Url.Action("AddDiscount", "Proposal_Card")", "", "", formValues, false, "json");
            mvc.post(null, HandleResult, null);
        }

        function HandleResult(json) {
            if (json.Result == false) {
                $("#warning-wrap").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
                $("#warning-wrap strong").html(json.Message);
            } else {
                $("#warning-wrap").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
                $("#warning-wrap strong").html(json.Message);
            }
            $("#warning-wrap").fadeIn();
            CalculatePrice();
            setTimeout(function() { $("#warning-wrap").fadeOut(1000); }, 3000);
        }

        function GetAdditionalValues() {
            return {
                ProposalId: $('#ProposalId').val(),
                Type: $('#Type').val(),
                ProposalDetailId: $('#ProposalDetailId').val(),
                ItemId: $('#ItemId').val()
            };
        }

        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

    </script>
