@using ODMSCommon.Resources
@model ODMSModel.AppointmentDetailsParts.AppointmentDetailsPartsViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    .special input[type=text] {
        width: 250px !important;
    }
    #popupContentWrapper {
        min-height: 200px !important;
        
    }
    #popupContent {
        width: 620px !important;
    }

</style>
 
@using (Html.BeginForm("AddProposalPart", "Proposal_Card", FormMethod.Post, new { id = "AddProposalPart" }))
{
    <div class="labelDiv">@MessageResource.OtokarPartSaleDetail_Display_PartNameCode</div>
    <div class="shortTxtDiv special">
         @(Html.Action("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = Model!=null? Model.txtPartId:"", DefaultValue =  Model!=null? Model.PartId.ToString() :"",ExtraParameter=ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId()})) @Html.ValidationMessageFor(c=>c.PartId)
    </div>
   <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@MessageResource.Global_Display_Miktar</div>
    @Html.Kendo().NumericTextBoxFor(v => v.Quantity).Min(1).Value(1).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(c=>c.Quantity)
                          
    <div class="clearDiv">&nbsp;</div>
    <input type="hidden" name="Id" value="@ViewBag.ProposalId"/>
    <input type="hidden" name="AppointIndicId" value="@ViewBag.ProposalDetailId"/>
    <input type="hidden" name="LastLevelChecked" value="@ViewBag.LastLevelChecked.ToString()"/>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Add"), CommonValues.PermissionCodes.ProposalCard.ProposalCardUpdate, "AppointmentDetailsPartsCreate")
    
}

@if (ViewBag.ShowConfirmForLastLvl != null)
{
    <script>

        $(document).ready(function() {
            CustomConfirm(function () {
                $('#AddProposalPart').submit();
            }, "@MessageResource.Global_Display_AddConfirmTitle", "@MessageResource.CampaignPart_Display_CreateConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
        });

    </script>
       
}

 