@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContentWrapper
    {
        min-height: 280px !important;
    }

    #popupContent
    {
        width: 560px !important;
    }

        #popupContent .shortTxtDiv
        {
            width: 360px !important;
        }
</style>

<script id="ComboBoxWithToolTip" type="text/x-kendo-template">
    <table style="width:100%">
    <tr>
    <td data-toggle='tool-tip' title='#=Description#'> (#=Text#) - #=Description# </td>
    </tr>
    </table>
</script>

<script id="ComboBoxWithDefault" type="text/x-kendo-template">
    <table style="width:100%">
    <tr>
       #if(Selected){#
        <td><i style='color:\#67AFE9' class="glyphicon glyphicon-ok"></i> #=Text# <td>
    #} else {#
    <td> #=Text#</td>
    #}#
    </tr>
    </table>
</script>

@using ODMSCommon.Resources
@using ODMSModel.Common
@using ODMSModel.ObjectSearch
@model ODMSModel.AppointmentDetails.AppointmentDetailsViewModel
<script src="~/Scripts/bootstrap.min.js"></script>
@if (ViewBag.HideElements)
{
@*<div class="alert alert-danger">
        <div>
            <span class="glyphicon"><img src="@Url.Content("~/images/messagebox_warning.png")"/></span> @MessageResource.Error_DB_NoRecordFound
        </div>
    </div>*@
}
else
{
    <div id="error" class="alert alert-danger" style="display: none">
        <div>
            <span class="glyphicon">
                <img src="@Url.Content("~/images/messagebox_warning.png")"/></span> <span class="message"></span>
        </div>
    </div>
    <div id="success" class="alert alert-success" style="display: none">
        <div>
            <span class="message"></span>
        </div>
    </div>
    using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmAddProposalDetail" }))
    {


    <div class="labelDiv">@Html.LabelFor(v => v.IndicatorTypeCode)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IndicatorTypeCode).HtmlAttributes(new { style = "width:330px;" }).BindTo(ViewBag.IndicatorTypes as List<SelectListItem>).Events(e => e.DataBound("onChange")).Events(e=>e.Change("onChange")).SelectFirstOne(ViewBag.IndicatorTypes as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.IndicatorTypeCode)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.ProcessTypeId)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.ProcessTypeId).DataValueField("Value").HtmlAttributes(new { style = "width:330px;" }).DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListDetailProcessTypes", "Proposal_Card")
                                                                                                                                                                                                                                                                         .Data("GetIndicatorType")
                                                                                                                                                                                                                                                                         .Type(HttpVerbs.Post))
                                                                                                                                                                                                                                                       .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("IndicatorTypeCode").TemplateId("ComboBoxWithDefault")
    </div>
    @*<div class="clearDiv">&nbsp;</div>
    <div id="divObjectSearch" class="shortTxtDivObjectSearch">
    </div>*@
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.MainCategoryId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.MainCategoryId).Events(e => e.Select("OnMainCategoryChange")).Filter(FilterType.Contains).HtmlAttributes(new { style = "width:300px;" }).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListMainCategories", "AppointmentDetails")
                                                                                                                                                                                                                                                                                                                                                                         .Data("GetIndicatorType")

                                                                                                                                                                                                                                                                                                                                                                         .Type(HttpVerbs.Post)
                                                                                                                                                                                                                                                                                                                                                     )
                                                                                                                                                                                                                                                                                                                                                       .ServerFiltering(true)).Enable(true).AutoBind(false).CascadeFrom("IndicatorTypeCode") @Html.ValidationMessageFor(v => v.MainCategoryId)


    @Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml",
                                                                                new ObjectSearchModel
                                                                                    {
                                                                                        ObjectSearchType = CommonValues.ObjectSearchType.AppointmentIndicatorSubCategory,
                                                                                        WindowTitle = MessageResource.ObjectSearch_WindowTitle_AppointmentIndicatorSubCategory,
                                                                                        ReferenceObjectId = "SelectedSubCategoryId",
                                                                                        ClearCallBackFunction = "ClearSubCategoryChange",
                                                                                        SelectCallBackFunction = "SetSubCategoryChange",
                                                                                        DataCallbackFunction = "GetIndicatorTypeCode",
                                                                                        ReferenceObjectValue = Model == null ? null : Model.SelectedSubCategoryId,
                                                                                        ParentWindowId = "AddProposalDetailWindow",
                                                                                        FilterId = Model == null ? null : Model.IndicatorTypeCode,
                                                                                        HideTextBox=true
                                                                                    })
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.CategoryId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CategoryId).Events(e => e.Select("OnCategoryChange")).Filter(FilterType.Contains).DataValueField("Value").HtmlAttributes(new { style = "width:330px;" }).DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCategories", "AppointmentDetails")
                                                                                                                                                                                                                                                                                                                                                                 .Data("GetMainCategoryId")
                                                                                                                                                                                                                                                                                                                                                                 .Type(HttpVerbs.Post)
                                                                                                                                                                                                                                                                                                                                             )
                                                                                                                                                                                                                                                                                                                                               .ServerFiltering(true)).Enable(true).AutoBind(false).CascadeFrom("MainCategoryId") @Html.ValidationMessageFor(v => v.CategoryId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.SubCategoryId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SubCategoryId).Events(e => e.Select("OnSubCategoryChange")).Filter(FilterType.Contains).DataValueField("Value").HtmlAttributes(new { style = "width:330px;" }).DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListSubCategories", "AppointmentDetails")
                                                                                                                                                                                                                                                                                                                                                                       .Data("GetCategoryId")
                                                                                                                                                                                                                                                                                                                                                                       .Type(HttpVerbs.Post))
                                                                                                                                                                                                                                                                                                                                                     .ServerFiltering(true)).Enable(true).AutoBind(false).CascadeFrom("CategoryId") @Html.ValidationMessageFor(v => v.SubCategoryId)
    </div>


    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.FailureCodeId)</div>
    <div class="shortTxtDiv">@(Html.Kendo().ComboBoxFor(c => c.FailureCodeId).DataValueField("Value").HtmlAttributes(new { style = "width:330px;" }).DataTextField("Description").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.FailureCodeList as List<ComboBoxModel>)
                                       .AutoBind(true).TemplateId("ComboBoxWithToolTip")
                                       .Events(c => c.Open("MakeItemsToolTip"))
                                       )
        @Html.ValidationMessageFor(c => c.FailureCodeId)

    </div>

    <div class="clearDiv">&nbsp;</div>
    }
    @ODMSHelpers.Button("btnAdd", CommonUtility.GetResourceValue("Global_Display_Add"), CommonValues.PermissionCodes.ProposalCard.ProposalCardUpdate, "ProposalCardUpdate", "AddDetail();")        
    
 
    @Html.AntiForgeryToken()
    <div class="clearDiv">&nbsp;</div>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/odms.objectsearch.js"></script>
    <script type="text/javascript">
        function OnCategoryChange() {
            $('#CategoryId').val('');
            $('#SubCategoryId').val('');
            OnSubCategoryChange();
        }
        function OnMainCategoryChange() {
            $('#SubCategoryId').val('');
            OnSubCategoryChange();
        }
        function OnSubCategoryChange() {
            //alert($('#SelectedSubCategoryId').val());
            //alert($('#SubCategoryId').val());
            if ($('#SelectedSubCategoryId').val() != $('#SubCategoryId').val())
                $("#SelectedSubCategoryIdTextContainer").val('');
        }
        function ClearSubCategoryChange() {
            $("#MainCategoryId").data("kendoComboBox").value('');
            $("#CategoryId").data("kendoComboBox").value('');
            $("#SubCategoryId").data("kendoComboBox").value('');
        
            $("#MainCategoryId").data("kendoComboBox").enable(true);
            $("#CategoryId").data("kendoComboBox").enable(true);
            $("#SubCategoryId").data("kendoComboBox").enable(true);
        }
        function SetSubCategoryChange() {
            var subCategoryIdParam = $('#SelectedSubCategoryId').val();
            if (subCategoryIdParam) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                $("#SubCategoryId").val(subCategoryIdParam);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAppointmentIndicatorSubCategoryInfo", "Appointment")",
                    data: { subCategoryId: subCategoryIdParam, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        $("#MainCategoryId").data("kendoComboBox").value(result.MainCategoryId);
                        $("#CategoryId").data("kendoComboBox").value(result.CategoryId);
                        $("#SubCategoryId").data("kendoComboBox").value(result.SubCategoryId);
                    },
                    dataType: "json"
                });
            } 
        }
        function GetMainCategoryId() {
            return {
                id: $('#MainCategoryId').val(),
                typeCode:$('#IndicatorTypeCode').val()
            };
        }
        function GetIndicatorTypeCode() {
            return {IndicatorTypeCode:$('#IndicatorTypeCode').val()}
        }
        function GetIndicatorType() {
            return {
                id: $('#IndicatorTypeCode').val(),
                ProposalId: @ViewBag.ProposalId,
                seq : @ViewBag.Seq,
                };
        }
        function GetCategoryId() {
            return {
                id: $('#CategoryId').val(),
                typeCode:$('#IndicatorTypeCode').val()
            };
        }
        function GetSubCategoryId() {
            return {
                id: $('#SubCategoryId').val(),
                ProposalId: @ViewBag.ProposalId
                };
        }
        function onChange() {
            var indicTypeCode = $('#IndicatorTypeCode').val();
            //alert(indicTypeCode);
        
            $.ajax({
                url: '@Url.Action("ObjectSearch","ObjectSearch")',
                type: 'GET',
                async: false,
                data: {
                    ObjectSearchType: '@CommonValues.ObjectSearchType.AppointmentIndicatorSubCategory',
                    WindowTitle: '@MessageResource.ObjectSearch_WindowTitle_AppointmentIndicatorSubCategory',
                    ReferenceObjectId: "SelectedSubCategoryId",
                    ClearCallBackFunction: "ClearSubCategoryChange",
                    SelectCallBackFunction: "SetSubCategoryChange",
                    Required: true,
                    ReferenceObjectValue: null,
                    ParentWindowId: "AddProposalDetailWindow",
                    FilterId: indicTypeCode
                },
                success: function (result) {
                    $("#divObjectSearch").html(result);
                }
            });
    }
        $(document).ready(function() {
            $('form').each(function() {
                var validator = $(this).data('validator');
                if (validator && validator.settings) {
                    validator.settings.ignore = "";
                }
            });

        });
        function MakeItemsToolTip(e) {
            $(".combotooltip").each(function(i, e) {
                $(e).tooltip({ placement: "right" ,html:true});
            });
        }


        function AddDetail() {
            if ($('form').valid()) {
                var params = {
                    AppointmentId: @ViewBag.ProposalId,
                    SubCategoryId: $("#SubCategoryId").val(),
                    FailureCodeId: $('#FailureCodeId').val(),
                    ProcessTypeId:  $('#ProcessTypeId').val(),
                    IndicatorTypeCode:  $('#IndicatorTypeCode').val(),
                    ProposalSeq: @ViewBag.Seq
                };
                mvc.build("@Url.Action("AddProposalDetail", "Proposal_Card")", "", "", params, true, "json");
                mvc.post(null, function(json) {
                    if (json.Result == false) {
                        $("#error .message").html(json.Message);
                        $("#error").fadeIn();
                    } else {
                        $("#success .message").html(json.Message);
                        $("#success").fadeIn();
                        $("#frmAddProposalDetail input[type=text]").val("");
                    }
                    setTimeout(function() {
                        $("#success").fadeOut();
                        $("#error").fadeOut();
                    } , 3000);
                }, null
                );
            }
        }
    </script>
}
