@model ODMSModel.Fleet.FleetViewModel 
@using ODMSCommon.Resources
<div class="panel panel-default ">
    <div class="panel-heading">

        <a class="k-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefleet">
            <strong style="font-size: 16px;">
                @MessageResource.WorkOrderCard_Display_FleetInfo
            </strong>
        </a>
    </div>
    <div class="panel-body " id="collapsefleet">
        <table class="table table-bordered table-zipped">
            <tbody>
                <tr>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_FleetCode :</th>
                    <td class="col-md-3">@Model.FleetCode</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_FleetName :</th>
                    <td class="col-md-3">@Model.FleetName</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_IsConstrictedName :</th>
                    <td class="col-md-3">@Html.Raw(Model.IsConstricted==1 ? MessageResource.Global_Display_Yes:MessageResource.Global_Display_No)</td>
                </tr>
                <tr>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_StartDateValid :</th>
                    <td class="col-md-3">@Model.StartDateValid</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_EndDateValid :</th>
                    <td class="col-md-3">@Model.EndDateValid</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_DealerLabourDiscount :</th>
                    <td class="col-md-3">@Model.DealerLabourDiscount</td>
                </tr>
                <tr>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_DealerPartDiscount:</th>
                    <td class="col-md-3">@Model.DealerPartDiscount</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_OtokarLabourDiscount :</th>
                    <td class="col-md-3">@Model.OtokarLabourDiscount</td>
                    <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Fleet_Display_OtokarPartDiscount :</th>
                    <td class="col-md-3">@Model.OtokarPartDiscount</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
   