@using ODMSCommon.Resources
@model List<ODMSModel.WorkOrderCard.PartReturnModel>
@{
    Layout = null;
    var i = 0;
}
 <div id="warning-wrapper" class="alert" style=" margin-left:6px;display:none;">
            <a class="close"  onclick="$('.alert').fadeOut();">&times;</a> 
            <strong>
            </strong>
        </div>
<div id="return-parts-wrap">
    
   

    @using(Ajax.BeginForm("ReturnParts","Proposal_Card",new AjaxOptions{HttpMethod = "POST",LoadingElementId = "ajax-loading", OnBegin = "CheckFormData",OnComplete = "HandleAjaxResult"})){
        <input type="hidden" name="ProposalDetailId" value="@ViewBag.DetailId" />
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @MessageResource.ClaimRecallPeriodPart_Display_PartName
                    </th>
                    <th>
                        @MessageResource.ClaimRecallPeriodPart_Display_PartCode
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_PickedQuantity
                    </th>
                     <th>
                        @MessageResource.WorkOrderCard_Display_ReturnableAmount
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_ReturnedQuantity
                    </th>
                </tr>
            
            </thead> 
            <tbody>
                @foreach (var item in Model)
                {
                    double max = (double)(item.PickedQuantity - item.ReturnedQuantity);
                    <tr>
                        <td>@item.PartName</td>
                        <td>@item.PartCode</td>
                        <td>@item.PickedQuantity</td>
                        <td>@max</td>
                        <td>
                            @Html.Kendo().NumericTextBox().Name(string.Format("[{0}].ReturnedQuantity",i)).Min(0).Max(max)
                            <input type="hidden" name="[@i].PartId" value="@item.PartId"/>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table> 
        <div class="">
            <button class="btn btn-primary">
                @MessageResource.WorkOrderCard_Display_ReturnParts 
            </button>
            <span id="ajax-loading" class="ajax-loading hide"></span>
        </div>
    }
</div>
<script type="text/javascript">
    function CheckFormData() {
        $("#warning-wrapper").hide();
        var isSendable = false;
        $("input[name*=ReturnedQuantity]").each(function (i, e) {
            if (parseFloat($(e).val().replace(",",".")).toFixed(2) > 0) {
                isSendable = true;
            }
        })
        if (isSendable == true) {
            $("#ajax-loading").removeClass("hide");

        } else {
            $("#warning-wrapper").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrapper > strong").html("@MessageResource.WorkOrderCard_Message_SelectReturnPartsAmount");
            $("#warning-wrapper").fadeIn();
            return false;
        }
    }

    function HandleAjaxResult(content) {
        if (content.status == '200') {
            var json = JSON.parse(content.responseText);
            if(json.Result==0)
                $("#warning-wrapper").removeClass("alert-danger").removeClass("alert-success").addClass("alert-danger");
            else{
                $("#warning-wrapper").removeClass("alert-danger").removeClass("alert-success").addClass("alert-success");
                $('#return-parts-wrap').html('');
            }
            $("#warning-wrapper > strong").html(json.Message);
            $("#warning-wrapper").fadeIn();
        } else {
            $("#warning-wrapper").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrapper > strong").html("@MessageResource.Err_Generic_Unexpected");
            $("#warning-wrapper").fadeIn();
        }
        $("#ajax-loading").addClass("hide");
    }
</script>