@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.PdiPrintModel
@{
    int i = -1;
    var status = Model.Items.Any(c => !String.IsNullOrEmpty(c.Statu)) ? Model.Items.First(c => !String.IsNullOrEmpty(c.Statu)).Statu :
        "0";
    var classname = string.Empty;
    switch (status)
    {

        case "0":
            classname = ""; break;
        case "1": classname = "warning"; break;
        case "2": classname = "success"; break;
        case "3": classname = "danger"; break;
        default: classname = ""; break;
    }
}
<div id="pdiPackageDetails">

    <h4>@MessageResource.WorkOrderCard_Pdi_Title</h4>
    
    <table id="tblDesc">
        <tr>
            <th>@MessageResource.WorkOrder_Display_WorkOrder</th>
            <td>@Html.Raw(ViewBag.Id)</td>
            <th>@Html.LabelFor(c => c.Status)</th>
            <td>@Html.DisplayFor(c => c.Status)</td>
            <th>@Html.LabelFor(c => c.Sender)</th>
            <td>@Html.DisplayFor(c => c.Sender)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(c => c.VinNo)</th>
            <td>@Html.DisplayFor(c => c.VinNo)</td>
            <th>@Html.LabelFor(c => c.Dealer)</th>
            <td>@Html.DisplayFor(c => c.Dealer)</td>
            <th>@Html.LabelFor(c => c.SenderNote)</th>
            <td>@Html.DisplayFor(c => c.SenderNote)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(c => c.TransmissionNo)</th>
            <td>@Html.DisplayFor(c => c.TransmissionNo)</td>
            <th>@Html.LabelFor(c => c.EngineNo)</th>
            <td>@Html.DisplayFor(c => c.EngineNo)</td>
            <th>@Html.LabelFor(c => c.Approver)</th>
            <td>@Html.DisplayFor(c => c.Approver)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(c => c.DifferentialNo)</th>
            <td>@Html.DisplayFor(c => c.DifferentialNo)</td>
            <th>@Html.LabelFor(c => c.PdiCreateDate)</th>
            <td>@Model.PdiCreateDate.ToString("dd/MM/yyyy")</td>
            <th>@Html.LabelFor(c => c.ApproverNote)</th>
            <td>@Html.DisplayFor(c => c.ApproverNote)</td>
        </tr>
    </table>
    
  




    <div id="pdiPackageItems">
        <table class="table table-bordered table-striped">

            @foreach (var item in Model.Items)
            {
                i++;
                if (item.IsGroupCode)
                {
                    <thead>
                        <tr>
                            <th colspan="6" class="msheader">
                                @item.ControlName
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr class="@classname">
                            <th colspan="2">
                                @MessageResource.WorkOrderCard_Pdi_Control
                            </th>
                            <th>
                                @MessageResource.WorkOrderCard_Display_Suitable
                            </th>

                            <th>
                                @MessageResource.WorkOrderCard_Pdi_BreakDown
                            </th>
                            <th>
                                @MessageResource.WorkOrderCard_Pdi_BreakDownPart
                            </th>
                            <th>
                                @MessageResource.WorkOrderCard_Pdi_Result
                            </th>
                        </tr>
                    </thead>

                }
                else
                {
                    <tr class="@classname">
                        <td>
                            @item.ControlCode
                        </td>
                        <td>
                            @item.ControlName
                        </td>
                        <td>
                            @if (item.IsAppropriate)
                            {
                                @Html.Raw(MessageResource.Global_Display_Yes)
                            }
                            else
                            {
                                @Html.Raw(MessageResource.Global_Display_No)
                            }
                        </td>

                        <td>
                            @item.BreakDownName &nbsp;
                        </td>
                        <td>
                            @item.PartCode -  @item.PartName
                        </td>
                        <td>
                            @item.ResultName &nbsp;
                        </td>

                    </tr>
                }
            }
        </table>
    </div>
    <div class="printVisible">
        <table style=" padding-top:10px; width: 100%; border:0 none;">
            <tr>
                <th style="text-align: left; border:0 none;">
                    @MessageResource.WorkOrderCard_Display_PdiControlledBy
                </th>
            </tr>
            <tr>
                <th style="text-align: left; border:0 none;">
                    @MessageResource.Global_Display_Signature
                </th>
            </tr>
        </table>
    </div>

</div>