@using ODMSCommon.Resources
@model List<ODMSModel.WorkOrderCard.PickingCancellationItem>
          
<div class="panel panel-primary">
    <div class="panel-heading">
        <div>@MessageResource.WorkOrderCard_Display_PickingCancellableOrders</div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @MessageResource.Global_Display_Id
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_Indicator
                    </th>
                    <th>
                        @MessageResource.Global_Display_Quantity
                    </th>
                    <th>
                        @MessageResource.WorkOrderPickingDet_Display_StockType
                    </th>
                    <th>
                        @MessageResource.Global_Display_Cancel
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.PickingId
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.StockType
                            </td>
                            <td class="text-center">
                                <a class="k-link text-danger" onclick="CancelPicking(@item.PickingId)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="bold text-center">
                            @MessageResource.Error_DB_NoRecordFound
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>        

<script id="picking-cancel-confirm-modal" type="text/x-kendo-template">
    <p class="delete-message">@MessageResource.WorkOrderCard_Confirm_CancelPicking</p>
    <p style="text-align:right">
        <button class="delete-confirm k-button">@MessageResource.Global_Display_Yes</button>
        <button class="delete-cancel k-button">@MessageResource.Global_Display_No</button>
    </p>
</script>

<script type="text/javascript">
    function CancelPicking(pickingId) {
        CancelPickingConfirm(function() {
            var request = $.ajax({
                url: '@Url.Action("CancelPicking", "Proposal_Card")',
                type: "POST",
                data: { pickingId: pickingId,workOrderId:@ViewBag.Id },
                dataType: "html"
            });
            request.success(function (html) {
                $('#PickingCancellationWindow').html(html);
            });    
        });
    }


    function CancelPickingConfirm(deleteFunction) {
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Global_Display_Warning",
            resizable: false,
            width: 450,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#picking-cancel-confirm-modal").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm, .delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                    confirm = true;
                    if (deleteFunction)
                        deleteFunction();
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
    }
    


</script>
