@using ODMSCommon.Resources
@using ODMSModel.ProposalCard
@model ProposalCardModel
@{
    IEnumerable<ProposalDetailList> list;
    list = Model.DetailList.Where(c => (ViewBag.IsVehicleLeft == true) || !(c.InvoiceId.HasValue == false && !c.WarrantyStatus.In(1, 4,5)));
}

@foreach (var item in list)
{
    <tr class="@(item.IsCanceled ? Html.Raw("danger") : Html.Raw("info")) text-center">
        <td>
            @item.ProposalDetailId / @item.GifNo
        </td>
        <td>
            @if (item.GosApprovalNeed)
            {  
                @item.WarrantyStatusDesc
                if (item.WarrantyStatus.In(3, 6))
                {
                <a class="k-link bstooltip" title="@item.GuaranteeConfirmDesc">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
                }
            }
            @if (item.InvoiceId.HasValue)
            {
                <span style="display: inline-block" class="bold text-success">@MessageResource.WorkOrderCard_Display_Invoiced</span>
            }
        </td>

        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">
            @if (item.InvoiceId.GetValueOrDefault(0) != 0)
            {
                <a class="part-tooltip" title="@item.TechicalDescription">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            }
            else if (item.WarrantyStatus.In(0, 2, 3, 6) || (item.WarrantyStatus == 5 && Model.Details.Exists(c => c.ProposalDetailId == item.ProposalDetailId && c.WarrantyRatio < 100M && c.Type != "INDICATOR")))
            {
                <a class="k-link bstooltip" title="@item.TechicalDescription" onclick="AddTechnicalDetail(@item.ProposalDetailId, this); ">
                    <img src="@Url.Content("~/Images/edit.png")" />
                </a>
            }
            else
            {
                <a class="part-tooltip" title="@item.TechicalDescription">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            }

        </td>
        @if (Model.Details.Any(c => c.IsCampaign))
        {
            <td></td>
        }
        <td class="text-center"></td>
        <td><a class="bstooltip k-link" title="@item.FailureCodeDescription">@item.FailureCode</a>

        </td>
        <td>@item.ProcessType</td>
        <td>@item.Code</td>
        <td>@item.Description</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center">

            @if (Model.Details.Any(c => c.ProposalDetailId == item.ProposalDetailId) && (ViewBag.IsVehicleLeft == true) && item.GosSendCheck == false && ((item.GosApprovalNeed && item.WarrantyStatus.In(2, 3, 6)) || (item.GuarantyAuthorizationNeed == false && item.WarrantyStatus == 0 && item.GosApprovalNeed)))
            {
                if (Model.Details.Any(c => c.ProposalDetailId == item.ProposalDetailId && c.Type != "INDICATOR"))
                {
                <a class="k-link" onclick="SendToWarrantyAppoval(@item.ProposalDetailId, this); ">

                    <span class="blink_me" style="color: red">@MessageResource.WorkOrderCard_Display_SendToWarranty</span>
                </a>
                <span class="ajax-loading hide"></span>
                }
            }
            else if ((item.WarrantyStatus == 0 && item.GuarantyAuthorizationNeed) && Model.Details.Any(c => c.ProposalDetailId == item.ProposalDetailId && c.Type != "INDICATOR"))
            {
                <a class="k-link" onclick="SendToWarrantyPreAppoval(@item.ProposalDetailId, this); ">

                    <span class="blink_me" style="color: red">@MessageResource.WorkOrderCard_Display_SendToPreWarranty</span>
                </a>

            }


        </td>
        <td></td>

    </tr>
            foreach (var detail in Model.Details.Where(c => c.ProposalDetailId == item.ProposalDetailId && c.Type != "INDICATOR"))
            {
    <tr>
        <td></td>
        <td></td>
        <td class="text-center"></td>
        @if (detail.Type == "LABOUR")
        {
            <td title="@GetLabourTdTitle(detail)" class="bstooltip text-center @GetLabourTdClass(detail.LabourWorkStatusId, detail.IsExternalLabour)"></td>
        }
        else
        {
            <td></td>
        }
        <td class="text-center"></td>
        @if (Model.Details.Any(c => c.IsCampaign))
        {
            <td></td>
        }
        <td></td>
        <td>&nbsp;</td>
        <td>@(detail.Type == "LABOUR" ? detail.IsExternalLabour ? MessageResource.WorkOrderCard_Display_ExternalLabour : MessageResource.WorkOrderCard_Display_Labour : MessageResource.WorkOrderCard_Display_Part)
        </td>
        <td class="@Html.Raw(detail.Type == "LABOUR" ? "labourCode" : "partCode")">@detail.Code</td>
        <td>@if (detail.Type == "PART")
            {
            @detail.Name
            <a class="k-link bstooltip" title="@detail.StockType">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            }
            else
            {
            @detail.Name
            }

        </td>
        <td class="@(detail.Type == "PART" ? GetPartTdClass(detail.RequiredQuantity, detail.ReservedQuantity, detail.PickedQuantity, detail.ReturnedQuantity) : Html.Raw(""))">
            @if (detail.Type == "PART")
            {
                @detail.RequiredQuantity
                @Html.Raw("&nbsp; - &nbsp;")
                <a class="part-tooltip" title="@(GetPartToolTipHtml(detail.RequiredQuantity, detail.ReservedQuantity, detail.PickedQuantity, detail.ReturnedQuantity))">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            }
            else
            {
                <span>@Convert.ToInt32(detail.Quantity) / @detail.Duration</span>
            }
        </td>
        <td>@detail.Price.RoundUp(2)

            @if (item.InvoiceId.GetValueOrDefault() == 0 && item.WarrantyStatus.In(0, 3, 6) && !ODMSCommon.Security.UserManager.UserInfo.IsDealer)
                            {
                                @Html.Raw("&nbsp; - &nbsp;")
                                <a class="k-link" onclick="ChangePriceList(@detail.ProposalDetailId, @detail.Id, '@detail.Type', this); "><i class="glyphicon glyphicon-edit"></i></a>
                            }

            <a class="part-tooltip" title="@(GetPriceToolTipHtml(detail))">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        @if ((item.InvoiceId.GetValueOrDefault() == 0 && !item.WarrantyStatus.In(1, 4)) || (item.InvoiceId.GetValueOrDefault() == 0 && item.WarrantyStatus.In(2, 5)))
        {
            if (detail.Type == "PART" && !detail.IsCampaign)
            {
            <td title="@GetDiscountTdTitle(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio)" class="@GetDiscountTdClass(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio) bstooltip">
                @detail.DiscountRatio
                @if (!detail.IsCampaign && !detail.IsFleetDiscountApplied && detail.WarrantyRatio != 100)
                {
                    @Html.Raw("&nbsp; - &nbsp;")
                    <a class="k-link" onclick="AddDetailDiscount(@detail.ProposalDetailId, @detail.Id, '@detail.Type', this); ">@MessageResource.Global_Display_Add</a>

                }
            </td>
            }
            else
            {
            <td>
                @detail.DiscountRatio
                @if (!detail.IsCampaign && !detail.IsFleetDiscountApplied && detail.WarrantyRatio != 100)
                {
                    @Html.Raw("&nbsp; - &nbsp;")
                    <a class="k-link" onclick="AddDetailDiscount(@detail.ProposalDetailId, @detail.Id, '@detail.Type', this); ">@MessageResource.Global_Display_Add</a>
                }
            </td>
            }

        }
        else
        {
            <td title="@GetDiscountTdTitle(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio)" class=" @GetDiscountTdClass(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio) bstooltip">
                @detail.DiscountRatio
            </td>
        }

        <td>@detail.TotalPrice.RoundUp(2)</td>
        <td>@detail.WarrantyRatio</td>
        <td>@detail.WarrantyTotal</td>
        <td></td>

    </tr>
            }
}
@helper GetPartTdClass(decimal required, decimal reserved, decimal picked, decimal returned)
{
    if (required > reserved && required > 0 && required > (reserved + picked - returned))
    {
    @Html.Raw(" danger ")
        return;
    }
    if (required == (picked - returned))
    {
    @Html.Raw(" success ")
        return;
    }
    if (required == reserved + (picked - returned) && reserved > 0)
    {
    @Html.Raw(" warning ")
    }
}

@helper GetPartToolTipHtml(decimal required, decimal reserved, decimal picked, decimal returned)
{
    @Html.Raw("<div class=\"part-detail-tooltip\"> " +
        "<ul>" +

           " <li><span class=\"bold\">" + MessageResource.WorkOrderCard_Display_ReservedQuantity + "</span><span class='value'>" + reserved + "</span></li>" +
           " <li><span class=\"bold\">" + MessageResource.WorkOrderCard_Display_WorkShopQuantity + "</span><span class='value'>" + (picked - returned) + "</span></li>" +
        "</ul>" +
    "</div>")
}
@helper GetDiscountTdClass(decimal discountPrice, decimal? dealerPrice, decimal? profitMarginRatio)
{
    if (dealerPrice.GetValueOrDefault(0) > discountPrice)
    {
    @Html.Raw("danger")
        return;
    }
    if (profitMarginRatio.GetValueOrDefault() > 0)
    {
        if ((dealerPrice * (1 + (profitMarginRatio / 100))) < discountPrice)
        {
    @Html.Raw("warning")
        }
    }

}
@helper GetDiscountTdTitle(decimal discountPrice, decimal? dealerPrice, decimal? profitMarginRatio)
{
    if (dealerPrice.GetValueOrDefault(0) > discountPrice)
    {
    @Html.Raw(MessageResource.WorkOrderWard_Message_DiscountLessThanDealerPrice)
        return;
    }
    if (profitMarginRatio.GetValueOrDefault() > 0)
    {
        if ((dealerPrice * (1 + (profitMarginRatio / 100))) < discountPrice)
        {
    @Html.Raw(MessageResource.WorkOrderWard_Message_DiscountLessThanProfitMargin)
        }
    }

}

@helper GetPriceToolTipHtml(ProposalDetailModel detail)
{
    <table>
        @if (detail.Type == "PART")
        {
            <tr>
                <th style="padding-right: 8px">@MessageResource.StockCard_Display_AvgDealerPrice </th>
                <td>: @detail.DealerPrice</td>
            </tr>
        }
        <tr>
            <th style="padding-right: 8px">@MessageResource.WorkOrderCard_Display_WarrantyPrice </th>
            <td>: @detail.WarrantyPrice</td>
        </tr>
    </table>
}

@helper GetLabourTdClass(sbyte id, bool isExternal)
{
    if (isExternal)
    {
    @Html.Raw(" success ")
        return;
    }
    if (id == -1 || id == 0)
    {
    @Html.Raw(" danger ")
        return;
    }
    else if (id == 4)
    {
    @Html.Raw(" success ")
        return;
    }
    else
    {
    @Html.Raw(" warning ")
    }
}

@helper GetLabourTdTitle(ProposalDetailModel detail)
{
    if (detail.LabourWorkStatusId != 4)
    {
    @Html.Raw(detail.LabourWorkStatus)
    }
    else
    {
    <table>
        <tr>
            <th style="padding-right: 8px">@MessageResource.LabourTechnician_Display_UserNameSurname </th>
            <td>: @detail.LabourTechnician</td>
        </tr>
        @if (detail.LabourStartDate != DateTime.MinValue)
        {              
            <tr>
                <th style="padding-right: 8px">@MessageResource.LabourTechnician_Display_StartDate </th>
                <td>: @detail.LabourStartDate.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
            <tr>
                <th style="padding-right: 8px">@MessageResource.LabourTechnician_Display_EndDate </th>
                <td>
                : @detail.LabourFinishDate.ToString("dd/MM/yyyy HH:mm")
            </tr>
        }
    </table>
    }
}