@using ODMSCommon.Resources
@model ODMSModel.Vehicle.VehicleContactInfoModel
<div class="panel panel-primary" id="write-note">
    <div class="panel-heading">
        @MessageResource.WorkOrderCard_Display_VehicleContactInfo
    </div>
    <div class="panel-body">
        <div id="VehicleContactInfo-warning" class="alert alert-warning" style="margin-left: 6px; display: none; ">
            <a class="close" onclick=" $('.alert').fadeOut(); ">&times;</a>
            <strong></strong>
        </div>
        @using (Ajax.BeginForm("UpdateContactInfo", "Vehicle", new AjaxOptions { OnBegin = "onBegin",OnFailure = "onFailure" ,OnComplete = "onComplete"}, new { id = "frmUpdateContactInfo" }))
        {
            @Html.HiddenFor(c=>c.VehicleId)
            <div class="labelDiv">@Html.LabelFor(c=>c.Location)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c=>c.Location) @Html.ValidationMessageFor(c=>c.Location)</div>
            <div class="clearDiv">&nbsp;</div>
            <div class="labelDiv">@Html.LabelFor(c => c.ResponsiblePerson)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ResponsiblePerson) @Html.ValidationMessageFor(c => c.ResponsiblePerson)</div>
            <div class="clearDiv">&nbsp;</div>
            <div class="labelDiv">@Html.LabelFor(c => c.ResponsiblePersonPhone)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ResponsiblePersonPhone) @Html.ValidationMessageFor(c => c.ResponsiblePersonPhone)</div>
            <div class="clearDiv">&nbsp;</div>
            <div style="margin-top: 6px;" id="buttons">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-save"></i> @MessageResource.Global_Display_Save
                </button>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        SetUpValidation("frmUpdateContactInfo");
        $("#ResponsiblePersonPhone").mask("(999) 999 99 99", { placeholder: " " });
    });
    function onBegin() {
        $(".glyphicon-save").addClass("glyphicon-save").removeClass("glyphicon-saved");
        if ($("#frmUpdateContactInfo").valid() == false)
            return false;
    }
    function onFailure() {
        $("#VehicleContactInfo-warning").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
        $("#VehicleContactInfo-warning  strong").html('@MessageResource.Global_Display_Error');
        $('#VehicleContactInfo-warning').slideDown();
    }
    function onComplete(content) {
        var json = JSON.parse(content.responseText);
        if (json.Status == 1) {
            $("#VehicleContactInfo-warning").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#VehicleContactInfo-warning  strong").html(json.Message);
            $(".glyphicon-save").removeClass("glyphicon-save").addClass("glyphicon-saved");
            $('#VehicleContactInfo-warning').slideDown();
        } else {
            $("#VehicleContactInfo-warning").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#VehicleContactInfo-warning  strong").html(json.Message);
            $('#VehicleContactInfo-warning').slideDown();
        }
    }
</script>
