@using ODMSCommon.Security
@model ODMSModel.Vehicle.VehicleIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CustomerName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VinNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VinNo) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleCode) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Plate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Plate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.EngineNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.EngineNo) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
@*<div class="labelDiv">@Html.LabelFor(v => v.ProductionCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ProductionCode) &nbsp;</div>*@
<div class="labelDiv">@Html.LabelFor(v => v.Color)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Color) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ModelYear)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ModelYear) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.WarrantyStartDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.WarrantyStartDate) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.WarrantyEndDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.WarrantyEndDate) &nbsp;</div>

@if (!(UserManager.UserInfo.GetUserDealerId() > 0))
{
    <div class="labelDiv">@Html.LabelFor(v => v.FactoryProductionDate)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.FactoryProductionDate) &nbsp;</div>
}

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PaintWarrantyEndDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PaintWarrantyEndDate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.WarrantyEndKilometer)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.WarrantyEndKilometer) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

@if (!(UserManager.UserInfo.GetUserDealerId() > 0))
{
    <div class="labelDiv">@Html.LabelFor(v => v.FactoryQualityControlDate)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.FactoryQualityControlDate) &nbsp;</div>
}


<div class="labelDiv">@Html.LabelFor(v => v.CorrosionWarrantyEndDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CorrosionWarrantyEndDate) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleKilometer)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleKilometer) &nbsp;</div>


@if (!(UserManager.UserInfo.GetUserDealerId() > 0))
{
    <div class="labelDiv">@Html.LabelFor(v => v.FactoryShipmentDate)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.FactoryShipmentDate) &nbsp;</div>
}


<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.SpecialConditions)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.SpecialConditions) &nbsp;</div>
@if (!(UserManager.UserInfo.GetUserDealerId() > 0))
{
    <div class="labelDiv">@Html.LabelFor(v => v.Notes)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Notes) &nbsp;</div>
}

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VatExcludeTypeName)</div>
<div class="shortTxtDiv">
    @Model.VatExcludeTypeName &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.WarrantyStatus)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.WarrantyStatus) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.OutOfWarrantyDescription)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.OutOfWarrantyDescription) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>





