@using ODMSCommon.Resources
@model ODMSModel.LabourDuration.LabourDurationDetailModel
@{
    ViewBag.Title = MessageResource.LabourDuration_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("LabourDurationUpdate", "LabourDuration", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(d => d.LabourCode)</div>
    <div class="shortTxtDiv">
        @Html.DisplayFor(d => d.LabourCode)
    </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.LabourName)</div>
    <div class="shortTxtDiv">
        @Html.DisplayFor(d => d.LabourName)
    </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.LabourDesc)</div>
    <div class="shortTxtDiv">
        @Html.DisplayFor(d => d.LabourDesc)
    </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.VehicleModelName)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox().Name("VehicleModelId").BindTo(ViewBag.VehicleModelList).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @class = "ComboBox", @style = "width: 200px;" }))
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.VehicleTypeName)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox().Name("VehicleTypeId").BindTo(ViewBag.VehicleTypeIdList).DataTextField("Text").DataValueField("Value").HtmlAttributes(new { @class = "ComboBox" }))
        @Html.ValidationMessageFor(d => d.VehicleEngineTypeIdList)

    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.DurationString)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().NumericTextBoxFor(b => b.Duration).Format("#").Spinners(false).Decimals(0).HtmlAttributes(new { type = "text", maxlength = 4, style = "width:204px" })
        @Html.ValidationMessageFor(d => d.Duration)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(d => d.IsActiveString)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(d => d.IsActive)</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(d => d.LabourName)
    @Html.HiddenFor(d => d.VehicleModelName)
    @Html.HiddenFor(d => d.VehicleTypeName)
    @Html.HiddenFor(d => d.LabourId)
    @Html.HiddenFor(d => d.VehicleModelId)
    @Html.HiddenFor(d => d.VehicleTypeId)
    @Html.HiddenFor(d => d.EngineType)
    @Html.HiddenFor(d => d.VehicleEngineTypeIdList)
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.LabourDuration.LabourDurationUpdate, "LabourDurationUpdate")
}

<script>

    $(document).ready(function () {
        var modelCombo = $("#VehicleModelId").data("kendoComboBox");
        modelCombo.readonly(true);

        var typeCombo = $("#VehicleTypeId").data("kendoComboBox");
        typeCombo.readonly(true);
    });

    $('form').each(function () {
        var validator = $(this).data('validator');
        if (validator && validator.settings) {
            validator.settings.ignore = "";
        }
    });

    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 500);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 350);
        $("#popupContentWrapper").css("width", 500);
    }
</script>