@using ODMSCommon.Resources
@model ODMSModel.GuaranteeAuthorityGroupIndicatorTransTypes.GuaranteeAuthorityGroupIndicatorTransTypesModel

@{
    ViewBag.Title = MessageResource.GuaranteeAuthorityGroupIndicatorTransTypes_PageTitle_Index;
}
 
@Html.AntiForgeryToken()
@if (ViewBag.GroupId > 0)
{
    <script type="text/x-kendo-tmpl" id="TypeItemTemplate">
    <div class="ListItemText" style="padding:3px 0 0 5px; cursor:default">
        <span data-typecode=#:Value#>#:Text#</span>
    </div>
</script>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#btnAddGAGITT').click(AddTypeHandler);
            $('#btnAddAllGAGITT').click(AddTypeAllHandler);
            $('#btnRemoveGAGITT').click(RemoveTypeHandler);
            $('#btnRemoveAllGAGITT').click(RemoveTypeAllHandler);
            $('#btnSaveGAGITT').click(SaveTypesHandler);
        });

        function GetData() {
            return {
                groupId: @ViewBag.GroupId
            };
        }

        function AddTypeHandler() {
            $(".k-state-selected", "#lstTypesNotIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").each(function(i, e) {
                $("#lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").append($(e).clone()).html();
                $(e).remove();
            });
        }
        function AddTypeAllHandler() {
            $(".ListItemText", "#lstTypesNotIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").each(function(i, e) {
                $("#lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function RemoveTypeHandler() {
            $(".k-state-selected", "#lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").each(function(i, e) {
                $("#lstTypesNotIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").append($(e).clone()).html();
                $(e).remove();
            });
        }
        function RemoveTypeAllHandler() {
            $(".ListItemText", "#lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").each(function(i, e) {
                $("#lstTypesNotIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function SaveTypesHandler() {
            var includedTypeCodes = [];
            $("#lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes").children().each(function(i, e) {
                var typeCode = $("span", e).data("typecode");
                includedTypeCodes[i] = typeCode;
            });
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save", "GuaranteeAuthorityGroupIndicatorTransTypes")",
                data: { GroupId: @ViewBag.GroupId, TypeCodeList: includedTypeCodes ,"__RequestVerificationToken": token  },
                traditional: true,
                success: function(result) {
                    if (result.Result == false)
                        SetErrorMessage(result.Message);
                    else
                        SetSuccessMessage(result.Message);
                },
                dataType: "json"
            });


        }
    </script>
    
    <div id="roles-wrapper" style="width: 700px; margin-left: 30px;">
        <div style="float: left; width: 280px;">
            <h4>
                @MessageResource.GuaranteeAuthorityGroupIndicatorTransTypes_PageTitle_TypesExcluded
            </h4>
            @(Html.Kendo().ListView<SelectListItem>()
                  .Name("lstTypesNotIncludedInGuaranteeAuthorityGroupIndicatorTransTypes")
                  .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                  .ClientTemplateId("TypeItemTemplate")
                  .TagName("div")
                  .DataSource(ds => ds.Read(read =>
                      read.Action("ListTypesExcluded", "GuaranteeAuthorityGroupIndicatorTransTypes").Data("GetData")))
                  .HtmlAttributes(new { @style = "height:200px;" })
                  )
        </div>
        <div style="float: left; width: 140px; margin-top: 40px;">
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnAddGAGITT", "&rsaquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnRemoveGAGITT", "&lsaquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnAddAllGAGITT", "&raquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnRemoveAllGAGITT", "&laquo;", "", "arrow-btn", "", "")
            </div>
        </div>
    
        <div style="float: left; width: 280px">
            <h4>
                @MessageResource.GuaranteeAuthorityGroupIndicatorTransTypes_PageTitle_TypesIncluded
            </h4>
            @(Html.Kendo().ListView<SelectListItem>()
                  .Name("lstTypesIncludedInGuaranteeAuthorityGroupIndicatorTransTypes")
                  .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                  .ClientTemplateId("TypeItemTemplate")
                  .TagName("div")
                  .HtmlAttributes(new { @style = "height:200px;" })
                  .DataSource(ds => ds.Read(read =>
                      read.Action("ListTypesIncluded", "GuaranteeAuthorityGroupIndicatorTransTypes", new { groupId = ViewBag.GroupId }))))
        </div>
    
        <div class="clearfix" style="margin-bottom: 15px;"></div>
        @ODMSHelpers.LinkButton("btnSaveGAGITT", MessageResource.Global_Display_Save, "", "", "", "") 
    </div>
}