@model VatRatioModel
@using ODMSCommon.Resources
@using ODMSModel.VatRatio
@{
    ViewBag.Title = MessageResource.VatRatio_PageTitle_Index;
}
<div id="vatRatioExp" style="padding-top:10px;">
@ODMSHelpers.LinkButton("btnCreate2", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick2 createNew2", MessageResource.VatRatioExp_PageTitle_Create,CommonValues.PermissionCodes.VatRatioExp.VatRatioExpCreate)
    @Html.AntiForgeryToken()
@*grid start*@
<div class="kendoGridDiv" id="grd2">
    @(Html.Kendo().Grid<VatRatioExpListModel>()
          .Name("grid2")

          .Columns(columns =>
              {
                  columns.Bound(p => p.VatRatio).ClientTemplate("<center><a class='details2 modalClick2' id='#=VatRatio#' frameTitle='" + MessageResource.VatRatioExp_PageTitle_Details + "' href='" + Url.Action("VatRatioExpDetails", "VatRatio") + "/?vatRatio=#=VatRatio#&countryId=#=CountryId#'><img class='iconLink' src='" + Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatioExp.VatRatioExpDetails));
                  columns.Bound(p => p.VatRatio).ClientTemplate("<center><a class='edit2 modalClick2' id='#=VatRatio#' frameTitle='" + MessageResource.VatRatioExp_PageTitle_Update + "' href='" + Url.Action("VatRatioExpUpdate", "VatRatio") + "/?vatRatio=#=VatRatio#&countryId=#=CountryId#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatioExp.VatRatioExpUpdate));
                  columns.Bound(o => o.VatRatio).ClientTemplate("<center><a  data-id='#=VatRatio#' frameTitle='" + CommonUtility.GetResourceValue("VatRatioExp_PageTitle_Delete") + "' onclick='DeleteVatRatioExp(#=VatRatio#,#=CountryId#);' href='javascript:void(0);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatioExp.VatRatioExpDelete));
                  columns.Bound(p => p.Country).Width(80).Sortable(true);
                  columns.Bound(p => p.Explanation).Width(150).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVatRatioExps", "VatRatio", new{VatRatio=Model.VatRatio.ToString("N2")})))
                                        //.Model(model => model.Field(o => o.VatRatio).DefaultValue(-1)))

          )
</div>
@*grid end*@

@*modelWindow start*@
    <div id="modelWindowDiv">
        @(Html.Kendo().Window()
              .Name("modelWindow2")
              .Title("Customer")
              .Draggable()
              .Resizable()
              .Width(600)
              .Height(300)
              .Visible(false)
              .Modal(true)
              .Iframe(true)
              .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid2').data('kendoGrid');      
        grid.dataSource.read();
    }"))
              )
    </div>
@*modelWindow end*@
    
    </div>
@*scripts start*@
    <script type="text/javascript">

        $(document).ready(init);
        function init() {
            $("#vatRatioExp").delegate(".modalClick2", "click", function (e) {
                $('#modelWindow2').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");
                if ($(this).hasClass("details2") == true) {
                    link = $(this).attr("href");
                }
                else if ($(this).hasClass("edit2")) {
                    link = $(this).attr("href");
                  //  link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew2")) {
                    link = "@Url.Action("VatRatioExpCreate", "VatRatio")"+"?vatRatio=@Model.VatRatio.ToString().Replace(",",".")";
                }
                $("#modelWindow2_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow2").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }
        function DeleteVatRatioExp(id, countryId) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            id = id.toString().replace(".", ",");    
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VatRatioExpDelete","VatRatio")",
                    data: { vatRatio: id, countryId: countryId, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid2').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }
    </script>
@*scripts end*@