@using ODMSCommon.Resources
@model ODMSModel.VatRatio.VatRatioExpModel
@Html.AntiForgeryToken()
<div class="labelDiv">@MessageResource.Global_Display_Country</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CountryId).BindTo(ViewBag.CountryList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.CountryId)</div>
<div class="clearfix"></div>
<div class="labelDiv">@MessageResource.VatRatio_Display_Explaination</div>
<div class="shortTxtDiv">@Html.TextAreaFor(c=>c.Explation) <label class=" label label-success" id="charsLeft">100</label></div>
<div class="clearfix"></div>
<div id="warning-wrap" class="alert alert-warning" style="">
    <strong>
        @Model.Warning
    </strong>
</div>
<script>
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 300);
        $("#popupContent").css("max-width", 580);
        updateCountdown();
        $('#Explation').focus(updateCountdown);
        $('#Explation').blur(updateCountdown);
        $('#Explation').change(updateCountdown);
        $('#Explation').keyup(updateCountdown);
    });
    function updateCountdown() {
        var remaining = 100 - $('#Explation').val().length;
        if (remaining <= 0) {
            $("#Explation").val($("#Explation").val().substring(0, 100));
        }
        if (remaining > 50) {
            $('#charsLeft').removeClass("label-info").removeClass("label-danger").addClass("label-success");
        } else if (remaining > 25)
            $('#charsLeft').removeClass("label-success").removeClass("label-danger").addClass("label-info");
        else {
            $('#charsLeft').removeClass("label-success").removeClass("label-info").addClass("label-danger");
        }
        remaining = 100 - $('#Explation').val().length;
        $('#charsLeft').text(remaining);
    }
</script>