@using ODMSCommon.Resources
@model ODMSModel.VatRatio.VatRatioModel
@{
    ViewBag.Title = MessageResource.VatRatio_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("VatRatioCreate", "VatRatio", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.InvoiceLabel)</div>
    <div class="shortTxtDiv" style="width: 220px;">@Html.TextBoxFor(v => v.InvoiceLabel)</div> @Html.ValidationMessageFor(v => v.InvoiceLabel)    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.VatRatio)</div>
    <div class="shortTxtDiv" style="width: 220px;">@Html.TextBoxFor(v => v.VatRatio)</div> @Html.ValidationMessageFor(v => v.VatRatio)    
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.VatRatio.VatRatioCreate, "VatRatioCreate")        
}

<script>
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 150);
        $("#popupContent").css("max-width", 500);
    });
</script>
