@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@using ODMSCommon.Resources
@model ODMSModel.VatRatio.VatRatioExpModel
@Html.AntiForgeryToken()
<div class="labelDiv">@MessageResource.Global_Display_Country</div>
<div class="shortTxtDiv">@Model.Country &nbsp;</div>
<div class="clearfix"></div>
<div class="labelDiv">@MessageResource.VatRatio_Display_Explaination</div>
<div class="shortTxtDiv">@Model.Explation &nbsp;</div>
<div class="clearfix"></div>
<div id="warning-wrap" class="alert alert-warning" style="">
    <strong>
        @Model.Warning
    </strong>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 300);
        $("#popupContent").css("max-width", 580);

    });
</script>
