@model ODMSModel.VatRatio.VatRatioModel
@using ODMSBusiness
@using ODMSCommon.Resources
@using ODMSModel.VatRatio
@{
    ViewBag.Title = MessageResource.VatRatio_PageTitle_Index;
}
@Html.AntiForgeryToken()
@*search start*@
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@MessageResource.User_Display_IsActive</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SearchIsActive).BindTo(CommonBL.ListStatus().Data).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_All)  </div>
        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@*serach end*@
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.VatRatio.VatRatioIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("VatRatio_PageTitle_Create"), CommonValues.PermissionCodes.VatRatio.VatRatioCreate)

@*grid start*@
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<VatRatioListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.VatRatio).ClientTemplate("<center><a class='loadTab' onclick='ShowTabs(#=VatRatio#);' data-id='#=VatRatioId#'><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatio.VatRatioIndex));
                  columns.Bound(o => o.VatRatio).ClientTemplate("<center><a  class='edit modalClick' data-id='#=VatRatio#' frameTitle='" + CommonUtility.GetResourceValue("VatRatio_PageTitle_Update") + "'  href='" + Url.Action("VatRatioUpdate") + "?IsActive=#=IsActive#&InvoiceLabel=#=InvoiceLabel#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatio.VatRatioCreate));
                  columns.Bound(o => o.VatRatio).ClientTemplate("<center><a  data-id='#=VatRatio#' frameTitle='" + CommonUtility.GetResourceValue("VatRatio_PageTitle_Delete") + "' onclick='DeleteVatRatio(#=VatRatio#);' href='javascript:void(0);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VatRatio.VatRatioDelete));
                  columns.Bound(p => p.InvoiceLabel).Width(50).Sortable(true);
                  columns.Bound(p => p.VatRatio).Format("{0:N2}").Width(80).Sortable(true);
                  columns.Bound(p => p.IsActiveString).Width(120).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVatRatios", "VatRatio", Model).Data("VatRatioSearch"))
                                        .Model(model => model.Field(o => o.VatRatio).DefaultValue(-1)))

          )
</div>
@*grid end*@

@*modelWindow start*@
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
              .Name("modelWindow")
              .Title("Customer")
              .Draggable()
              .Resizable()
              .Width(520)
              .Height(200)
              .Visible(false)
              .Modal(true)
              .Iframe(true)
              .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');      
        grid.dataSource.read();
    }"))
              )
</div>
@*modelWindow end*@

@*tab content start*@
<div id="divDetails" style="display: none; margin-top: 20px;">
    @(Html.Kendo().TabStrip()
          .Name("Tabs")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.VatRatio_Display_Explaination).Selected(true).HtmlAttributes(new { onclick = "LoadTabContent('" + Url.Action("VatRatioExp", "VatRatio") + "');" }))
          )
</div>
<div id="TabContent" style="padding: 0 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>
@*tab content end*@

@*scripts start*@
@section Scripts{
    <script type="text/javascript">
        var VatRatioId = 0;

        function VatRatioSearch() {
            return {
                IsActive: $('#SearchIsActive').val()
            };
        }

        $(document).ready(init);

        function init() {
            $("body").delegate("#btnSearch", "click", function (e) {
                $('#divDetails').hide();
                $('#TabContent').html('');
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");
                                                @*if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("VatRatioDetails", "VatRatio", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else*@
                if ($(this).hasClass("edit")) {
                    link = $(this).attr("href");
                    link += "&VatRatio=" + $(this).data("id").toString().replace(".", ",");
                } else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("VatRatioCreate", "VatRatio")";
                }
                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();

            });
    }

    function ShowTabs(id) {
        VatRatioId = id.toString().replace(".", ",");
        $('#TabContent').html('');
        $("#Tabs").data("kendoTabStrip").select(0);
        $('#divDetails').show();
        LoadTabContent('@Url.Action("VatRatioExp", "VatRatio")');
        }

        function LoadTabContent(url) {
            $('#TabContent').html('');
            $.ajax({
                type: "GET",
                url: url + '/' + '?vatRatio=' + VatRatioId,
                data: {},
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $('#TabContent').html(result);
                },
                error: function (request, status, err) {
                    //console.log(arguments);
                    alert(status);
                    alert(err);
                },
                dataType: "html"
            });
        }

        function DeleteVatRatio(id) {
            var token = $('input[name="__RequestVerificationToken"]').val();

            id = id.toString().replace(".", ",");
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VatRatioDelete", "VatRatio")",
                    data: { vatRatio: id, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }
    </script>
}
@*scripts end*@