@using ODMSCommon.Resources
@model ODMSModel.VatRatio.VatRatioModel
@{
    ViewBag.Title = MessageResource.VatRatio_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("VatRatioUpdate", "VatRatio", FormMethod.Post))
{
     
    <div class="labelDiv">@Html.LabelFor(v => v.InvoiceLabel)</div>
    <div class="shortTxtDiv" style="width: 220px;">@Html.TextBoxFor(v => v.InvoiceLabel) @Html.ValidationMessageFor(v => v.InvoiceLabel)  </div>
    
    <div class="clearDiv">&nbsp;</div>
    
    @Html.HiddenFor(c => c.VatRatio)
    <div class="labelDiv">@Html.LabelFor(v => v.VatRatio)</div>
    <div class="shortTxtDiv" style="width: 220px;">@Model.VatRatio.ToString("N2")     </div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@MessageResource.User_Display_IsActive</div>
    <div class="shortTxtDiv" style="width: 220px;">@Html.CheckBoxFor(v => v.IsActive)      </div>
    
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.VatRatio.VatRatioCreate, "VatRatioCreate")        
}

<script>
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 180);
        $("#popupContent").css("max-width", 480);
    });
</script>
