@using ODMSCommon.Resources;
@model ODMSModel.SparePartSaleOrder.SparePartSaleOrderViewModel
@{
    ViewBag.Title = MessageResource.SparePartSaleOrder_PageTitle_SaleOrderDetails;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContent {
        width: auto !important;
    }
</style>
<body style="height: 500px">
    <link href="~/Style/Content.css" rel="stylesheet" />
    <script src="~/Scripts/odms.objectsearch.js"></script>
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/custom.js"></script>
    @Html.AntiForgeryToken()
    
    <div class="kendoGridDiv" id="grd2" style="width: 950px">
                @(Html.Kendo().Grid<ODMSModel.SparePartSaleOrderDetail.SparePartSaleOrderDetailListModel>()
          .Name("grdCreateSaleOrder")
          .Columns(columns =>
          {
              columns.Bound(p => p.PartSaleId).ClientTemplate("<center><a onClick='ShowSparePartSale(#=PartSaleId#)'"
                    + " href='javascript:void(0);'>#=PartSaleId#</a></center>").Sortable(false).Width(50);
              columns.Bound(p => p.WaybillDate).ClientTemplate("#if(WaybillDate != null){#<center><a onClick='GenerateWaybillReport(#=SparePartSaleWaybillId, " + Model.DealerId + "#)'"
                    + " href='javascript:void(0);'>#=WaybillDate#</a></center>#}#").Sortable(false).Width(50);
              columns.Bound(p => p.InvoiceDate).ClientTemplate("#if(InvoiceDate != null){#<center><a onclick='GenerateInvoiceReport(#=SparePartSaleInvoiceId, InvoiceNo#)' "
                   + " href='javascript:void(0);'>#=InvoiceDate#</a></center>#}#").Sortable(false).Width(50);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                                .Read(read => read.Action("ListSparePartSaleOrderDetailsForSaleOrderDetails", "SparePartSaleOrder").Data("Search"))

                                        )
        )

    </div>
</body>
    <script>
        function Search() {
            return {
                SoNumber: $("#SoNumber").val()
            };
        }
        
        function GenerateWaybillReport(value1, value2) {
            var url = "@Url.Action("PrintWaybillReport", "SparePartSale", new { soNumber = -1, dealerId = -2 })";
            url = url.replace("-1", value1).replace("-2", value2);
            window.open(url, '_blank');
        }

        function GenerateInvoiceReport(value1, value2) {
            var url = "@Url.Action("PrintSparePartSaleReportCopy", "SparePartSale", new {sparePartSaleId = -1, invoiceNo = -2})";
            url = url.replace("-1", value1).replace("-2", value2);
            window.open(url, '_blank');
        }

        function ShowSparePartSale(value1) {
            var url = "@Url.Action("SparePartSaleIndex", "SparePartSale", new {sparePartSaleId = -1})";
            url = url.replace("-1", value1);
            window.open(url, '_blank');
        }
    </script>