@model SparePartSaleOrderViewModel
@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.SparePartSaleOrder
@{
    ViewBag.Title = MessageResource.SparePartSaleOrder_PageTitle_Index;
}
<style type="text/css">
    #searchFields .k-datepicker {
        padding: 0;
        width: 200px !important;
    }

    .k-grid bl {
        border-width: 0;
    }
</style>

<script src="~/Scripts/odms.objectsearch.js"></script>
<script type="text/javascript">
    var selectedRowIndex;
    function refreshGridAndselectRow(isSelected) {
        var grid = $('#grid').data('kendoGrid');
        if(isSelected===true){
            var selectedRow=grid.element.find('tbody tr.k-state-selected:first');
            selectedRowIndex = grid.element.find('tbody tr').index(selectedRow);
        }
        grid.dataSource.read();
     
    }
    function resetSelected() {
        console.log("ajösdhkşl")
        if (selectedRowIndex && selectedRowIndex>-1)
        {
            $('#grid').data('kendoGrid').element.find('tbody tr').eq(selectedRowIndex).addClass("k-state-selected");
        }
    }

    function SparePartSaleOrderSearch() {
        return {
            CustomerId: $('#CustomerId').val(),
            StartDate: $('#StartDate').val(),
            EndDate: $('#EndDate').val(),
            StockTypeId: $('#StockTypeId').val(),
            SoTypeId: $('#SoTypeId').val(),
            PartCode: $('#PartCode').val(),
            PartName: $('#PartName').val(),
            StatusId: $('#StatusId').val(),
            FirmTypeId: $('#FirmTypeId').val()
        };
    }
    var soNumberParam = 0;
    function ShowTabs(soNumber, ocp) {
        $("#modelWindow").data("kendoWindow").close(true);
        soNumberParam = soNumber;
        $('#TabContent').html('');
        $('#divDetails').show();
        LoadTabContent('@Url.Action("SparePartSaleOrderDetailIndex", "SparePartSaleOrderDetail")', ocp);
    }
    function LoadTabContent(url, ocp) {
        $('#TabContent').html('');
        $.ajax({
            type: "GET",
            url: url,
            data: { soNumber: soNumberParam, openCreatePopup: ocp },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#TabContent').html(result);
                $('#TabContent').show();
            },
            error: function (request, status, err) {
                //console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
    }


    $(document).ready(init);

    function SparePartSaleOrderCancel(soNumber) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SparePartSaleOrderCancel", "SparePartSaleOrder")",
                    data: { soNumber: soNumber, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            $('#divDetails').hide();
                            SetSuccessMessage('@MessageResource.Global_Display_Success');
                        }
                    },
                    dataType: "json"
                });
            }, "@MessageResource.SparePartSaleOrder_Display_Cancel", "@MessageResource.SparePartSaleOrder_Display_CancelConfirm",
            "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");

    }
    function DeleteSparePartSaleOrder(soNumber) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSparePartSaleOrder", "SparePartSaleOrder")",
                data: { soNumber: soNumber, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    function SparePartSaleOrderCollect(soNumber) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SparePartSaleOrderCollect", "SparePartSaleOrder")",
                data: { soNumber: soNumber, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        $('#divDetails').hide();
                        SetSuccessMessage('@MessageResource.Global_Display_Success');
                    }
                },
                dataType: "json"
            });
        }, "@MessageResource.SparePartSaleOrder_Display_Collect", "@MessageResource.SparePartSaleOrder_Display_CollectConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");

    }

    function GenerateProposalReport(soNumber, dealerId) {
        var url = "@Url.Action("PrintSaleOrderPrintReport", "SparePartSaleOrder")?soNumber="+ soNumber+"&dealerId="+dealerId;
        window.open(url, '_blank');
        $('#divDetails').hide();
        var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            selectedRowIndex = -1;
            $('#divDetails').hide();
        });

        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();
            var width = 0;
            var height = 0;
            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("SparePartSaleOrderDetails", "SparePartSaleOrder", new { soNumber = -1 })";
                link = link.replace("-1", clickedId);
                width = 500;
                height = 420;
            } else if ($(this).hasClass("edit")) {
                link = "@Url.Action("SparePartSaleOrderUpdate", "SparePartSaleOrder", new { soNumber = -1 })";
                link = link.replace("-1", clickedId);
                width = 1000;
                height = 410;
            } else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("SparePartSaleOrderCreate", "SparePartSaleOrder")";
                width = 1000;
                height = 600;
            }
            else if ($(this).hasClass("createSaleOrder")) {
                link = "@Url.Action("SparePartSaleOrderCreateSaleOrder", "SparePartSaleOrder", new { soNumber = -1 })";
                link = link.replace("-1", clickedId);
                width = 1500;
                height = 600;
            }
            else if ($(this).hasClass("listSaleOrderDetails")) {
                link = "@Url.Action("SparePartSaleOrderListSaleOrderDetails", "SparePartSaleOrder", new { soNumber = -1 })";
                link = link.replace("-1", clickedId);
                width = 1000;
                height = 450;
            }

            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            windowWidget.wrapper.css({ width: width, height: height });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
        });
    }
    function DisplaySoNumber(soNumber, plannedDetailCount) {
        if (plannedDetailCount > 0) {
            return "<center><a class='listSaleOrderDetails modalClick' frameTitle='"+'@CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_SaleOrderDetails")'+"' id='" + soNumber + "'" +
                " href='~/SparePartSaleOrder/SparePartSaleOrderListSaleOrderDetails/" + soNumber
                + "'>" + soNumber + "</a></center>";
        } else {
            return "<center><a>" + soNumber + "</a></center>";
        }
    }
</script>

<div id="searchDiv" style="display: block">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.FirmTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.FirmTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.FirmTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerId)</div>
        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ReferenceObjectValue = null, Required = true, SelectCallBackFunction = "" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StatusId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>


        <div class="labelDiv">@Html.LabelFor(v => v.SoTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SoTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SoTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(c => c.StartDate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().DateTimePickerFor(v => v.StartDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" })
            @Html.ValidationMessageFor(v => v.StartDate)
        </div>
        <div class="labelDiv">@Html.LabelFor(c => c.EndDate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().DateTimePickerFor(v => v.EndDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" })
            @Html.ValidationMessageFor(v => v.EndDate)
        </div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StockTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StockTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartCode)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartName)</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_Create"), CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<SparePartSaleOrderListModel>()
          .Name("grid")

          .Columns(columns =>
          {
              columns.Bound(p => p.SoNumber).ClientTemplate(
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrderDetail.SparePartSaleOrderDetailIndex) ?
                  "<a class='loadTab' title='" + CommonUtility.GetResourceValue("Global_Display_Details") + "'" + 
                  "onclick='ShowTabs(#=SoNumber#,false);' id='#=SoNumber#'>" +
                  "<img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'></a>" : "")
                  + "  " +
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderCollect) ?
                  "#if(((StatusId==0 && ApprovedCount>0 && ApprovedCount==DetailCount) || (StatusId == 1 && PODDetailCount == 0) || StatusId == 2 || StatusId == 3)  && DetailCount !=0){#" +
                  "<a href='javascript:void(0);' title='" + MessageResource.SparePartSaleOrder_Display_Collect + "'" +
                  "frameTitle='"
                  + MessageResource.SparePartSaleOrder_Display_Collect +
                  "' onclick='SparePartSaleOrderCollect(#=SoNumber#);'><img class='iconLink' style=\"width:20px; height:20px;\" src='" +
                  Url.Content("~/Images/choose.ico") +
                  "'/></a>#}#" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderDetails) ?
                   "<a class='details hide' title='" + CommonUtility.GetResourceValue("Global_Display_View") + "'" +
                   "modalClick' id='#=SoNumber#' frameTitle='"
                  + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_Details")
                  + "' href='/SparePartSaleOrder/SparePartSaleOrderDetails/#=SoNumber#'><img class=iconLink src='"
                  + @Url.Content("~/Images/view.png") + "'></a>" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderUpdate) ?
                   "#if(DetailCount == 0){#<a class='edit modalClick' id='#=SoNumber#' " +
                   " title='" + CommonUtility.GetResourceValue("Global_Display_Update") + "'" +
                   "frameTitle='"
                  + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_Update")
                  + "' href='/SparePartSaleOrder/SparePartSaleOrderUpdate/#=SoNumber#'><img class=iconLink src='"
                  + @Url.Content("~/Images/edit.png") + "'></a>#}#" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderDetails) ?
                  "#if(IsProposal){#<a onClick='GenerateProposalReport(#=SoNumber#, #=DealerId#)' " +
                   " title='" + CommonUtility.GetResourceValue("SparePartSaleOrder_Display_Proposal") + "'" +
                  "frameTitle='"
                  + @CommonUtility.GetResourceValue("SparePartSaleOrder_Display_Proposal")
                  + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='"
                  + @Url.Content("~/Images/form.ico") + "'></a>#}#" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrderDetail.SparePartSaleOrderDetailUpdate) ?
                  "#if(StatusId == 4){#<a class='createSaleOrder modalClick' id='#=SoNumber#' " +
                   " title='" + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_CreateSaleOrder") + "'" +
                  "frameTitle='"
                  + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_CreateSaleOrder")
                  + "' href='/SparePartSaleOrder/SparePartSaleOrderCreateSaleOrder/#=SoNumber#'><img style='height:24px' class=iconLink src='"
                  + @Url.Content("~/Images/open-sale-order.png") + "'></a>#}#" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderCancel) ?
                  "#if(!(StatusId == 5 || StatusId == 9)){#<a href='javascript:void(0);' " +
                   " title='" + CommonUtility.GetResourceValue("Global_Display_Cancel") + "'" +
                  "frameTitle='"
                  + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_Cancel")
                  + "' onclick='SparePartSaleOrderCancel(#=SoNumber#);'><img class='iconLink' src='"
                  + Url.Content("~/Images/passive.png") + "'/></a>#}#" : "")
                  + "  "+
                  (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSaleOrder.SparePartSaleOrderDelete) ?
                  "#if(PODDetailCount == 0 && (StatusId == 0 || StatusId == 2 || StatusId == 3)){#<a href='javascript:void(0);'" +
                   " title='" + CommonUtility.GetResourceValue("Global_Display_Delete") + "'" +
                  " frameTitle='"
                  + CommonUtility.GetResourceValue("SparePartSaleOrder_PageTitle_Delete") + "' "
                  + "onclick='DeleteSparePartSaleOrder(#=SoNumber#);'><img class='iconLink' src='"
                  + Url.Content("~/Images/delete.png") + "'/></a>#}#" : "")).Title(MessageResource.SparePartSaleOrder_Display_Operations).Width(200).Sortable(false);

              columns.Bound(p => p.SoNumber).ClientTemplate("#=DisplaySoNumber(SoNumber, PlannedDetailCount)#").Width(30).Sortable(true);
              columns.Bound(d => d.OrderDate).Width(100).Format(UserManager.LanguageCode == "TR" ? "{0:dd/MM/yyyy}" : "{0:dd.MM.yyyy}").Sortable(true);
              columns.Bound(p => p.CustomerName).Width(300).Sortable(true);
              columns.Bound(p => p.SoTypeName).Width(300).Sortable(true);
              columns.Bound(p => p.StockTypeName).Width(300).Sortable(true);
              columns.Bound(p => p.StatusName).Width(150).Sortable(true);
              columns.Container.NoRecordsTemplate.Html = "<div style='text-align:center'>" + MessageResource.Error_DB_NoRecordFound + "</div>";
          })
          .Pageable()
          .Sortable()
          .Events(e=>e.DataBound("resetSelected"))
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                                .Read(read => read.Action("ListSparePartSaleOrders", "SparePartSaleOrder", Model).Data("SparePartSaleOrderSearch"))
                                                .Model(model => model.Field(o => o.SoNumber).DefaultValue(-1)))

    )
</div>

<div id="divDetails" style="display: none; margin-top: 20px;">
    @(Html.Kendo().TabStrip()
          .Name("Tabs")
                  .Items(tabstrip => tabstrip.Add().Text(MessageResource.SparePartSaleOrderDetail_PageTitle_Index)))
    <div id="TabContent" style="padding-left: 20px; display: none" class="k-content" role="tabpanel"></div>
</div>

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(1300)
    .Height(850)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         refreshGridAndselectRow(false);
    }"))
    )
</div>


