@using ODMSModel.OtokarSparePartSaleInvoiceSearch;
@using ODMSCommon.Resources


@model OtokarSparePartSaleInvoiceSearchViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Otokar_SparePartSaleInvoiceSearch_Page_Index");
}
@Html.AntiForgeryToken()

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
        });

        function GetParameters() {
            return {
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                DealerId: $('#DealerId').val(),
                ReportType: 55,
                Columns: "InvoiceNo,InvoiceDate,InvoicePriceWithVAT,CurrencyCode,WaybillNo"
            };
        }
        function OpenIStartDate() {
            var dateStart = $("#StartDate").data("kendoDatePicker");
            var dateEnd = $("#EndDate").data("kendoDatePicker");
            if ($("#EndDate").val()) {
                dateStart.max(dateEnd.value());
            } else {
                dateStart.max(new Date(3000, 0, 1));
            }
        }

        function OpenIEndDate() {
            var dateStart = $("#StartDate").data("kendoDatePicker");
            var dateEnd = $("#EndDate").data("kendoDatePicker");
            if ($("#StartDate").val()) {
                dateEnd.min(dateStart.value());
            } else {
                dateEnd.min(new Date(1900, 0, 1));
            }
        }
    </script>
}
<div id="searchDiv" style="display: block !important">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Events(e => e.Open("OpenIStartDate").Change("OpenIEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Events(e => e.Open("OpenIEndDate").Change("OpenIStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.OtokarSparePartSaleInvoiceSearch.OtokarSparePartSaleInvoiceSearchIndex)
@Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
@Html.HiddenFor(d=>d.DealerId)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<OtokarSparePartSaleInvoiceSearchViewModel>().Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.WaybillNo).HtmlAttributes(new { style = "text-align:center" }).Sortable(false);
            columns.Bound(p => p.InvoiceNo).HtmlAttributes(new { style = "text-align:center" }).Sortable(false);
            columns.Bound(p => p.InvoiceDate).HtmlAttributes(new { style = "text-align:center" }).Sortable(false).Format("{0:dd/MM/yyyy}"); ;
            columns.Bound(p => p.InvoicePriceWithVAT).HtmlAttributes(new { style = "text-align:center" }).Sortable(false);
            columns.Bound(p => p.CurrencyCode).HtmlAttributes(new { style = "text-align:center" }).Sortable(false);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .DataSource(dataSource => dataSource.Ajax().PageSize(999).ServerOperation(true).Read(read => read.Action("ListOtokarSparePartSaleInvoiceSearchIndex", "OtokarSparePartSaleInvoiceSearch", Model).Data("GetParameters")))
    )
</div>
