@using ODMSCommon.Resources
@using ODMSModel.PDIPartDefinition;

@model ODMSModel.PDIPartDefinition.PDIPartDefinitionListModel

@{
    ViewBag.Title = MessageResource.PDIPartDefinition_PageTitle_Index;
}

 
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.PdiPartCode)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.PdiPartCode).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListPartCode", "PDIPartDefinition")).ServerFiltering(true)).Enable(true).AutoBind(true)</div>
        
        <div class="labelDiv">@Html.LabelFor(v=>v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v=>v.AdminDesc)</div>
         <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
 
    </div>
</div>

    @Html.HiddenFor(v => v.PdiPartCode)

    @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionIndex)
    @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.PDIPartDefinition_PageTitle_Create, CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionCreate)
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
<br />
<div id="PDIPartDefinitionModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("PDIPartDefinitionModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#PDIPartDefinitionGrid').data('kendoGrid');
        grid.dataSource.page(1);
        var combo = $('#PdiPartCode').data('kendoComboBox');
        combo.dataSource.read();

    }"))
    )
</div>
<script src="~/Scripts/custom.js"></script>
<script id="update-confirmation" type="text/x-kendo-template">
        <p class="update-message">@MessageResource.PDIPartDefinition_Warning_ControlMatchExist</p>
        <p style="text-align:right">
        <button class="update-confirm k-button">@MessageResource.Global_Display_Yes</button>
        <button class="update-cancel k-button">@MessageResource.Global_Display_No</button></p>
    </script>

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">

    function Delete(aId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeletePDIPartDefinition", "PDIPartDefinition")",
                data: { pdiPartCode: aId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#PDIPartDefinitionGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
    function UpdateConfirm(updateFunction) {
        var confirm = false;
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Global_Display_Warning",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#update-confirmation").html())
            .center().open();

        kendoWindow
            .find(".update-confirm,.update-cancel")
            .click(function () {
                if ($(this).hasClass("update-confirm")) {
                    confirm = true;
                    if (updateFunction)
                        updateFunction();
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
        return confirm;
    }
    function DeletePDIPartDefinition(aId, hMatch) {
        if (hMatch) {
            UpdateConfirm(function () {
                Delete(aId);
            });
        } else {
            Delete(aId);
        }
    }


    $(document).ready(init);
    function GetParameters()
    {
        return {
            ReportType: 10,
            Columns: "PdiPartCode,AdminDesc,PartName",
            PdiPartCode: $('#PdiPartCode').val(),
            AdminDesc: $('#AdminDesc').val(),
            IsActive: $('#IsActive').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#PDIPartDefinitionGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#PDIPartDefinitionModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("PDIPartDefinitionDetails", "PDIPartDefinition", new { pdiPartCode = -1 })";
                link = link.replace("-1", clickedId);
            } else {
                if ($(this).hasClass("edit")) {
                    link = "@Url.Action("PDIPartDefinitionUpdate", "PDIPartDefinition", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                } else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("PDIPartDefinitionCreate", "PDIPartDefinition")";
                }
            }
            $("#PDIPartDefinitionModelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#PDIPartDefinitionModelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
               
            });
    }

</script>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.PDIPartDefinition.PDIPartDefinitionListModel>()
          .Name("PDIPartDefinitionGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.PdiPartCode).ClientTemplate("<center><a class='details modalClick' id='#=PdiPartCode#' frameTitle='" + CommonUtility.GetResourceValue("PDIPartDefinition_PageTitle_Details") + "' href='/PDIPartDefinition/PDIPartDefinitionDetails/\"#=PdiPartCode#\"'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionDetails));
                  columns.Bound(p => p.PdiPartCode).ClientTemplate("<center><a class='edit modalClick' id='#=PdiPartCode#' frameTitle='" + MessageResource.PDIPartDefinition_PageTitle_Update + "' href='/PDIPartDefinition/PDIPartDefinitionUpdate/#=PdiPartCode#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionUpdate));
                  columns.Bound(o => o.PdiPartCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + "MessageResource.PDIPartDefinition_PageTitle_Delete" + "' onclick='DeletePDIPartDefinition(\"#=PdiPartCode#\",#=HasActiveControlPartMatch#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionDelete));
                  columns.Bound(p => p.PdiPartCode).Sortable(true);
                  columns.Bound(p => p.AdminDesc).Sortable(true);
                  columns.Bound(p => p.PartName).Sortable(true);
                  columns.Bound(p => p.IsActive).ClientTemplate("#if(IsActive){#" + MessageResource.Global_Display_Active + "#}else{#" + MessageResource.Global_Display_Passive + "#}#").Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPDIPartDefinition", "PDIPartDefinition", Model).Data("GetParameters"))
                                        .Model(model => model.Field(o => o.PdiPartCode).DefaultValue(-1)))

          )
</div>
<br />
<div id="excelVisibility">
    <h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
    <div class="labelDiv" style="width: 80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br /> @using (Html.BeginForm("PDIPartDefinitionIndex", "PDIPartDefinition", FormMethod.Post))
               {
                   @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m=>m.Select(MessageResource.Global_Display_SelectFile))
                   <div id="divExcepUpload">
                       @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
                   </div>
               }
    </div>
</div>