@model ODMSModel.PDIPartDefinition.PDIPartDefinitionViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.PDIPartDefinition_PageTitle_Create;
}


@using (Html.BeginForm("PDIPartDefinitionCreate", "PDIPartDefinition", FormMethod.Post))
{           
    <div class="labelDiv">@Html.LabelFor(v => v.PdiPartCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PdiPartCode) @Html.ValidationMessageFor(v => v.PdiPartCode) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(d => d.PartName)</div>
    <div class="shortTxtDiv">
        @{
            Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
            @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
        }
    </div>

    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>
    
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.PDIPartDefinition.PDIPartDefinitionCreate, "PDIPartDefinitionCreate")          

}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

</script>


