@model ODMSModel.BreakdownDefinition.BreakdownDefinitionViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("BreakdownDefinition_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
<div class="labelDiv">@Html.LabelFor(v => v.PdiBreakdownCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PdiBreakdownCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.BreakdownName)</div>
<div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
