@model ODMSModel.PDIResultDefinition.PDIResultDefinitionViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("PDIResultDefinition_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
<div class="labelDiv">@Html.LabelFor(v => v.PDIResultCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIResultCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.ResultNameML)</div>
<div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>
<div class="clearDiv">&nbsp;</div>
