@using ODMSCommon.Resources
@using ODMSModel.PDIResultDefinition
@model ODMSModel.PDIResultDefinition.PDIResultDefinitionListModel

@{
    ViewBag.Title = MessageResource.PDIResultDefinition_PageTitle_Index;
}

 
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v=>v.PDIResultCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v=>v.PDIResultCode)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ActiveYesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
    </div>
</div>

    @Html.HiddenFor(v => v.PDIResultCode)

    @ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.PDIResultDefinition.PDIResultDefinitionIndex)
    @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.PDIResultDefinition_PageTitle_Create, CommonValues.PermissionCodes.PDIResultDefinition.PDIResultDefinitionCreate)
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
<br />
<div id="PDIResultDefinitionModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("PDIResultDefinitionModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#PDIResultDefinitionGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">

    function DeletePDIResultDefinition(aId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeletePDIResultDefinition", "PDIResultDefinition")",
                data: { resultcode: aId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#PDIResultDefinitionGrid').data('kendoGrid');
                        grid.dataSource.page(1);
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }


    $(document).ready(init);
    function GetParameters()
    {
        return {
            ReportType: 12,
            Columns: "PDIResultCode,AdminDesc",
            AdminDesc: $('#AdminDesc').val(),
            PDIResultCode: $('#PDIResultCode').val(),
            IsActive: $('#IsActive').val(),
            IsGroupCode: $('#IsGroupCode').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#PDIResultDefinitionGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#PDIResultDefinitionModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("PDIResultDefinitionDetails", "PDIResultDefinition", new { resultcode = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("PDIResultDefinitionUpdate", "PDIResultDefinition", new { resultcode = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("PDIResultDefinitionCreate", "PDIResultDefinition")";
            }
            $("#PDIResultDefinitionModelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#PDIResultDefinitionModelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }

</script>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.PDIResultDefinition.PDIResultDefinitionListModel>()
          .Name("PDIResultDefinitionGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.PDIResultCode).ClientTemplate("<center><a class='details modalClick' id='#=PDIResultCode#' frameTitle='" + CommonUtility.GetResourceValue("PDIResultDefinition_PageTitle_Details") + "' href='/PDIResultDefinition/PDIResultDefinitionDetails/#=PDIResultCode#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIResultDefinition.PDIResultDefinitionDetails));
                  columns.Bound(p => p.PDIResultCode).ClientTemplate("<center><a class='edit modalClick' id='#=PDIResultCode#' frameTitle='" + MessageResource.PDIResultDefinition_PageTitle_Update + "' href='/PDIResultDefinition/PDIResultDefinitionUpdate/#=PDIResultCode#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIResultDefinition.PDIResultDefinitionUpdate));
                  columns.Bound(o => o.PDIResultCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.PDIResultDefinition_PageTitle_Delete + "' onclick='DeletePDIResultDefinition(\"#=PDIResultCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIResultDefinition.PDIResultDefinitionDelete));
                  columns.Bound(p => p.PDIResultCode).Sortable(true);
                  columns.Bound(p => p.AdminDesc).Sortable(true);
                  columns.Bound(p => p.IsActiveName).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPDIResultDefinition", "PDIResultDefinition", Model).Data("GetParameters"))
                                        .Model(model => model.Field(o => o.PDIResultCode).DefaultValue(-1)))

          )
</div>
<br />
<div id="excelVisibility">
    <h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
    <div class="labelDiv" style="width: 80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br /> @using (Html.BeginForm("PDIResultDefinitionIndex", "PDIResultDefinition", FormMethod.Post))
               {
                   @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m=>m.Select(MessageResource.Global_Display_SelectFile))
                   <div id="divExcepUpload">
                       @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
                   </div>
               }
    </div>
</div>