@using ODMSCommon.Resources
@model ODMSModel.SupplierDispatchPart.SupplierDispatchPartOrderViewModel

@{
    ViewBag.Title = "SupplierDispatchPartOrderCreate";
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}



@using (Html.BeginForm("SupplierDispatchPartOrderCreate", "SupplierDispatchPart", FormMethod.Post))
{
    @Html.HiddenFor(c => c.PurchaseNo)
    @Html.HiddenFor(c => c.SupplierId)
    @Html.HiddenFor(c => c.DeliveryId)

    <div class="labelDiv">&nbsp;</div>
    <div class="shortTxtDiv">
        <a class="k-button" onclick="OpenPurchaseOrderSelectWindow();">
            <i class="glyphicon glyphicon-search"></i> @MessageResource.ObjectSearch_PageTitle_PurchaseOrder
        </a>
        <i id="ok" class="glyphicon glyphicon-remove text-danger"></i>
    </div>

    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.WayBillNo)</div>
    <div class="shortTxtDiv">@Html.EditorFor(c => c.WayBillNo)  </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.WayBillDate)</div>
    <div class="shortTxtDiv">@Html.EditorFor(c => c.WayBillDate) </div>
    <div class="clearDiv"></div>

    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.SupplierDispatchPart.SupplierDispatchPartCreate, "SupplierDispatchPartOrderCreate")
}

<div id="PurchaseOrderSelectWindow" class="hide" style="background-color:#EDF1F4 !important">

</div>

<script src="~/Scripts/custom.js"></script>

<script>

    $(document).ready(function () {
        $("#WayBillNo").prop("readonly", "readonly");
        $("#WayBillDate").prop("readonly", "readonly");
    });

    function OpenPurchaseOrderSelectWindow() {
        window.parent.ResizeSupplierWindow(1);

        $('#PurchaseOrderSelectWindow').kwnd('@Url.Action("PurchaseSelect","Delivery")' + '/' + '@Model.SupplierId' + "?partSearch=true", '@Html.Raw(MessageResource.ObjectSearch_PageTitle_PurchaseOrder)',
            {
                iframe: true,
                width: 1300,
                height: 700,
                onClose: function () {
                    $("#PurchaseOrderSelectWindow").html('');
                    window.parent.ResizeSupplierWindow(0);
                },
            });
        $('#PurchaseOrderSelectWindow').removeClass("hide");
        OpenWindow($('#PurchaseOrderSelectWindow'));

    }

    function CloseSearch(items) {
        var wnd = $('#PurchaseOrderSelectWindow').data("kendoWindow");
        wnd.close();
        if (items.length == 0) {
            $("#ok").removeClass("glyphicon-ok").removeClass("text-success").addClass("glyphicon-remove").addClass("text*danger");
        } else {
            $("#ok").removeClass("glyphicon-remove").removeClass("text*danger").addClass("glyphicon-ok").addClass("text-success");
            var val = "";
            $(items).each(function (i, e) {
                val += e + ';';
            });
            $('#PurchaseNo').val(val);
        }
    }

</script>


<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 630);
        $("#popupContentWrapper").css("min-height", 300);
        $("#popupContentWrapper").css("width", 650);
    }
</script>
