@using ODMSCommon.Resources
@model ODMSModel.SupplierDispatchPart.SupplierDispatchPartViewModel

@{
    ViewBag.Title = MessageResource.SupplierDispatchPart_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}




@using (Html.BeginForm("SupplierDispatchPartUpdate", "SupplierDispatchPart", FormMethod.Post))
{
  
    @Html.HiddenFor(c => c.DeliverySeqNo)
    @Html.HiddenFor(c => c.PartCode)
    @Html.HiddenFor(c => c.PartId)


    <div class="labelDiv">@Html.LabelFor(v => v.PartId)</div>
    <div class="shortTxtDiv">
        @{
            Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "NotOrginalSparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });
        }
        @Html.ValidationMessageFor(v => v.PartId)
    </div>

            <div class="clearDiv">&nbsp;</div>
            <div class="labelDiv">@Html.LabelFor(v => v.Qty)</div>
            <div class="shortTxtDiv">
                @Html.Kendo().NumericTextBoxFor(c => c.Qty).HtmlAttributes(new { type = "text", data_val_min = "0", style = "width:200px" }).Spinners(false)
                @Html.ValidationMessageFor(v => v.Qty)
            </div>

            <div class="clearDiv">&nbsp;</div>
            <div class="labelDiv">@Html.LabelFor(v => v.InvoicePrice)</div>
            <div class="shortTxtDiv">
                @Html.Kendo().NumericTextBoxFor(c => c.InvoicePrice).Decimals(2).Spinners(false).Culture(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()).HtmlAttributes(new { type = "text", style = "width:200px" })
                @Html.ValidationMessageFor(v => v.InvoicePrice)
            </div>
            <div class="clearDiv">&nbsp;</div>
            @ODMSHelpers.Button("Save", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.SupplierDispatchPart.SupplierDispatchPartUpdate, "SupplierDispatchPartUpdate")
            }




<script>
   

    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 630);
        $("#popupContentWrapper").css("min-height", 300);
        $("#popupContentWrapper").css("width", 650);
    }
    
    $(document).ready(function () {      
        $("#txtPartId").val($("#PartCode").val());        
    });
</script>