@using ODMSCommon.Resources

@model ODMSModel.SparePartSaleDetail.SparePartSaleDetailDetailModel
@{
    ViewBag.Title = MessageResource.SparePartSaleDetail_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
<script>
    $('body').css('overflow', 'hidden');
</script>
<div class="labelDiv">@Html.LabelFor(d => d.SparePartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.SparePartName)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.SparePartCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.SparePartCode)&nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(d => d.ListPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.ListPrice) @Html.DisplayFor(e => e.DealerCurrencyCode)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.DealerPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.DealerPrice) @Html.DisplayFor(e => e.DealerCurrencyCode)&nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(d => d.DiscountPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.DiscountPrice) @Html.DisplayFor(e => e.DealerCurrencyCode)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.IsPriceFixed)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.IsPriceFixed) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(d => d.DiscountRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.DiscountRatio)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.PlanQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.PlanQuantity)&nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(d => d.PickQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.PickQuantity)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.PickedQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.PickedQuantity)&nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(d => d.ReturnedQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.ReturnedQuantity)&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(d => d.VatRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(d => d.VatRatio)&nbsp;</div>


