@using ODMSCommon.Resources
@model ODMSModel.FleetRequest.FleetRequestViewModel
@{
    ViewBag.Title = MessageResource.FleetRequest_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("FleetRequestCreate", "FleetRequest", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(d => d.Description)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(d => d.Description)
        @Html.ValidationMessageFor(d => d.Description)
    </div>
    <div class="clearDiv">&nbsp;</div> 
    <div class="labelDiv">@Html.LabelFor(b => b.StatusName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.StatusId).Enable(false).BindTo(ViewBag.StatusList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    </div>
    
    <div class="clearDiv">&nbsp;</div> 
    @Html.HiddenFor(v => v.StatusId)
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.FleetRequest.FleetRequestCreate, "FleetRequestCreate")        
}

<script>
    $(document).ready(function () {
        adjustPage();
        
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
    function adjustPage() {
        $("#popupContent").css("width", 380);
        $("#popupContentWrapper").css("min-height", 370);
        $("#popupContentWrapper").css("height", 370);
        $("#popupContentWrapper").css("width", 380);
    }
</script>
