@using ODMSBusiness
@using ODMSCommon.Resources
@model ODMSModel.FleetRequest.FleetRequestViewModel
@{
    ViewBag.Title = MessageResource.FleetRequest_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("FleetRequestUpdate", "FleetRequest", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(d => d.Description)</div>
    <div id="divDesc" class="shortTxtDiv">
        @Html.TextBoxFor(d => d.Description)
        @Html.ValidationMessageFor(d => d.Description)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(b => b.StatusName)&nbsp;</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.StatusName)&nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.FleetRequestId)
    @Html.HiddenFor(v => v.StatusId)
    @Html.HiddenFor(v => v.StatusName)
    @Html.HiddenFor(v => v.Description)
    if (Model.StatusId == (int)CommonValues.FleetRequestStatus.NewRecord)
    {
    <div id="divButton">
        @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.FleetRequest.FleetRequestUpdate, "FleetRequestUpdate")
        @ODMSHelpers.Button("SendApproval", MessageResource.Global_Display_SendApproval, CommonValues.PermissionCodes.FleetRequest.FleetRequestUpdate, "", "FleetRequestSendApproval();", false)
    </div>
    }
}
<script id="confirm-request" type="text/x-kendo-template">
        <p class="add-message" style="width:350px;"><div class="checkbox">
        <label for="chkAccept">
        <input type="checkbox" id="chkAccept">
       @Html.Raw(string.Format(MessageResource.FleetRequest_Warning_AcceptConditions, Url.Content("~" + CommonBL.GetGeneralParameterValue("FLEET_REQUEST_CONDITIONS_DOC").Model)))
        </label>
        </div>
        </p>
        <p style="text-align:right">
        <button class="add-confirm k-button">@MessageResource.Global_Display_Ok</button>
        <button class="add-cancel k-button">@MessageResource.Global_Display_Close</button></p>
</script>
<script>
    function adjustPage() {
        $("#popupContent").css("width", 380);
        $("#popupContentWrapper").css("min-height", 370);
        $("#popupContentWrapper").css("height", 370);
        $("#popupContentWrapper").css("width", 380);
    }
    function DisableInputs(obj) {
        $("input,select,textarea", obj).attr("disabled", "disabled");
    }
    function EnableInputs(obj) {
        $("input,select,textarea", obj).removeAttr("disabled");
    }
    $(document).ready(function () {
        adjustPage();
        
        if (parseInt (@Model.StatusId) != 0) {
            DisableInputs($('#divDesc'));
        } else {
            EnableInputs($('#divDesc'));
        }
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
        var isConfirmed = false;

        function SendApprovalConfirmed(addFunction) {
            var confirm = false;
            var kendoWindow = $("<div id='RequestConfirm' />").kendoWindow({
                title: "@MessageResource.Global_Display_Warning",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#confirm-request").html())
            .center().open();

        kendoWindow
            .find(".add-confirm, .add-cancel")
            .click(function () {
                if ($(this).hasClass("add-confirm")) {
                    isConfirmed = $('#chkAccept').prop("checked");
                    if (addFunction) {
                        if (isConfirmed == true)
                            addFunction();
                        else {
                            SetErrorMessage("@MessageResource.FleetRequest_Error_TermsMustBeAccepted");
                        }
                    }
                }
                kendoWindow.data("kendoWindow").destroy();
            })
            .end();
            isConfirmed = confirm;
            return confirm;
        }

        function FleetRequestSendApproval() {
            var frId = $('#FleetRequestId').val();
            var sId = $('#StatusId').val();
        
            if (sId != 0) {
                SetErrorMessage('@MessageResource.FleetRequest_Warning_StatusNotNewRecordSendApproval');
        } else {
            SendApprovalConfirmed(
                function() {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("FleetRequestSendApproval")",
                        data: { fleetRequestId: frId },
                        traditional: true,
                        success: function(result) {
                            if (result.Status == 0)
                                SetErrorMessage(result.Message);
                            else {
                                SetSuccessMessage(result.Message);
                                DisableInputs($('#divDesc'));
                                $('#divButton').hide();
                            }
                            isConfirmed = false;
                        },
                        dataType: "json"
                    })
                });
            }
        }
</script>
