@using ODMSCommon.Resources
@using ODMSModel.DeliveryList
@{
    ViewBag.Title = MessageResource.DeliveryList_PageTitle_CheckService;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/Content.css" rel="stylesheet" />
@model ODMSModel.Delivery.DeliveryCreateModel
@using (Html.BeginForm("DeliveryCreate", "DeliveryList", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(c => c.SapDeliveryNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.SapDeliveryNo) @Html.ValidationMessageFor(c => c.SapDeliveryNo) </div>
    <div class="clearDiv"></div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("DeliveryList_Display_CheckService"), CommonValues.PermissionCodes.DeliveryList.DeliveryListIndex, "DeliveryCreate")
}
<script>
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                try {
                    validator.settings.ignore = "";
                } catch (e) {}
            }
        });
    });
</script>