@using ODMSCommon.Resources
@{
    ViewBag.Title = @MessageResource.FavoriteScreen_PageTitle_Index;
}
@Html.AntiForgeryToken()
<script type="text/x-kendo-tmpl" id="ScreenItemTemplate">
    <div class="ListItemText">
        <span data-MenuId=#:MenuId#>#:MenuText#</span>
    </div>
</script>
<div id="roles-wrapper" style="width:700px; margin-left: 30px;">
    <div style="float:left;width:280px;">
        <h4>
            @MessageResource.FavoriteScreen_AllScreen
        </h4>
        @(Html.Kendo().ListView<ODMSModel.Common.ComboBoxModel>()
              .Name("lstAllScreen")
              .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("ScreenItemTemplate")
              .TagName("div")
              .DataSource(ds => ds.Read(read =>
                  read.Action("ListAllScreen", "FavoriteScreen")))
              .HtmlAttributes(new { @style = "height:200px; overflow:auto;" })
        )
    </div>
    <div style="float:left; width:140px; margin-top: 40px;">
        <div style="text-align: center; margin-top:10px;">
            @ODMSHelpers.LinkButton("btnAdd", "&raquo;", "", "arrow-btn", "", "")
        </div>
        <div style="text-align: center; margin-top: 10px;">
            @ODMSHelpers.LinkButton("btnRemove", "&laquo;", "", "arrow-btn", "", "")
        </div>
    </div>

    <div style="float:left; width:280px">
        <h4>
            @MessageResource.FavoriteScreen_FavoriteScreen
        </h4>
        @(Html.Kendo().ListView<ODMSModel.Common.ComboBoxModel>()
              .Name("lstFavoriteScreen")
              .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("ScreenItemTemplate")
              .TagName("div")
              .HtmlAttributes(new { @style = "height:200px; overflow:auto;" })
              .DataSource(ds => ds.Read(read =>
                  read.Action("ListFavoriteScreen", "FavoriteScreen"))))
    </div>

    <div class="clearfix" style="margin-bottom: 15px;"></div>
    @ODMSHelpers.LinkButton("btnSave", @MessageResource.Global_Display_Save, "", "", "", "")
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#roles-wrapper').hide();
            $('#btnAdd').click(AddRoleHandler);
            $('#btnRemove').click(RemoveRoleHandler);
            $('#btnSave').click(SaveRolesHandler);

            var includedRolelist = $("#lstFavoriteScreen").data("kendoListView");
            var notIncludedRolelist = $("#lstAllScreen").data("kendoListView");
            includedRolelist.dataSource.read();
            notIncludedRolelist.dataSource.read();
        });

        function SelectedUserChanged() {         
                $('#roles-wrapper').show();
                var includedRolelist = $("#ListFavoriteScreen").data("kendoListView");
                var notIncludedRolelist = $("#ListAllScreen").data("kendoListView");

                includedRolelist.dataSource.read();
                notIncludedRolelist.dataSource.read();           
        }
        function AddRoleHandler() {
            $(".k-state-selected", "#lstAllScreen").each(function (i, e) {
                $("#lstFavoriteScreen").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function RemoveRoleHandler() {
            $(".k-state-selected", "#lstFavoriteScreen").each(function (i, e) {
                $("#lstAllScreen").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function SaveRolesHandler() {
            var favoriteScreenIds = [];
            $("#lstFavoriteScreen").children().each(function (i, e) {
                var screenId = $("span", e).data("menuid");
                favoriteScreenIds[i] = screenId;
            });
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Save","FavoriteScreen")",
                data: { ScreenIdList: favoriteScreenIds, "__RequestVerificationToken": token },
                traditional: true,
                success: function(result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else
                        SetSuccessMessage(result.Message);
                },
                dataType: "json"
            });
        }
    </script>
}
