@using ODMSCommon.Resources
@model ODMSModel.StockBlockDetail.StockBlockDetailViewModel
@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.StockBlockDetail_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<br />
 

@using (Html.BeginForm("StockBlockDetailUpdate", "StockBlockDetail", FormMethod.Post, new { id = "stockBlockDetailFormUpdate" }))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v=>v.PartCode)</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v=>v.PartName)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IdStockType)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v=>v.StockTypeName)</div>
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.UnBlockQty)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v=>v.UnBlockQty)</div>//,"#=BlockQty#-#=UnBlockQty#")
    
    <div class="labelDiv">@Html.LabelFor(v => v.BlockQty)</div>
    <div class="">@Html.Kendo().NumericTextBoxFor(v=>v.BlockQty).Min(1).Max(Model.UnBlockQty).HtmlAttributes(new { type = "text" })</div>//.Max(Model.RemovedBlockQty)
         
    <div class="clearDiv">&nbsp;</div>

   @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.StockBlock.StockBlockUpdate)//,"","",true)
   
    @Html.HiddenFor(v=>v.IdDealer)
    @Html.HiddenFor(v=>v.IdPart)
    @Html.HiddenFor(v=>v.IdStockType)
    @*@Html.HiddenFor(v=>v.BlockQty)*@
    @Html.HiddenFor(v=>v.IdStockBlock)
    @Html.HiddenFor(v=>v.IdStockBlockDet)
}
       

<script type="text/javascript">
    $("#Update").on('click', function (e) {
       
        var formUpdate = $("#stockBlockDetailFormUpdate");
        e.preventDefault();
        var isValid = formUpdate.valid();
        var errMsg = "";

        if (isValid) {
            $.ajax({
                type: formUpdate.prop('method'),
                url: formUpdate.prop('action'),
                data: formUpdate.serialize()
            })
                .success(function (result) {
                    if (result.isError == false) {
                        //var grid = $('#StockBlockDetailGrid').data('kendoGrid');
                        //grid.dataSource.page(1);
                        SetSuccessMessage(result.message);
                    }
                    else {
                        //if (result.message!=null)
                            SetErrorMessage(result.message);
                    }
                });
        } else {
            formUpdate.validate();
        }
    });
    var formUpd = $('#StockBlockDetailUpdate');
    formUpd.removeData('validator');
    formUpd.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(formUpd);

    $('#stockBlockFormUpdate').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });

   
</script>