@model ODMSModel.PurchaseOrderType.PurchaseOrderTypeViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderType_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<script src="~/Scripts/UI_Scripts/PurchaseOrderType.js"></script>


@using (Html.BeginForm("PurchaseOrderTypeCreate", "PurchaseOrderType", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PurchaseOrderTypeName)</div>
    <div class="shortTxtDiv">
        <div style="float: left; width: 70%">
            @{
    Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
                @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
            }
        </div>
    </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.StockTypeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StockTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.StockTypeId)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.Description)
        @Html.ValidationMessageFor(v => v.Description)
    </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.ProposalType)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.ProposalType, new { @maxlength = "5" })
        @Html.ValidationMessageFor(v => v.ProposalType)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.DeliveryPriority)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().NumericTextBoxFor(v => v.DeliveryPriority).Format("{0:N0}").Spinners(false).Min(1).Decimals(0).HtmlAttributes(new { type = "text", maxlength = 1, style = "width:204px" })
        @Html.ValidationMessageFor(v => v.DeliveryPriority)
    </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.OrderReason)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.OrderReason)@Html.ValidationMessageFor(v => v.OrderReason)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.ItemCategory)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ItemCategory)@Html.ValidationMessageFor(v => v.ItemCategory)</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)</div>
    
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsVehicleSelectionMust)</div>
    <div class="shortTxtDiv" style="margin-left: 2px">@Html.CheckBoxFor(v => v.IsVehicleSelectionMust)</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.ManuelPriceAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.ManuelPriceAllow)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsCurrencySelectAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsCurrencySelectAllow)@Html.ValidationMessageFor(v => v.IsCurrencySelectAllow)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsFirmOrderAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsFirmOrderAllow)@Html.ValidationMessageFor(v => v.IsFirmOrderAllow)</div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsDealerOrderAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsDealerOrderAllow)@Html.ValidationMessageFor(v => v.IsDealerOrderAllow)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsSupplierOrderAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsSupplierOrderAllow)@Html.ValidationMessageFor(v => v.IsSupplierOrderAllow)</div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsSaleOrderAllow)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsSaleOrderAllow)@Html.ValidationMessageFor(v => v.IsSaleOrderAllow)</div>
    <div class="clearDiv">&nbsp;</div>

    <div class="clearDiv">&nbsp;</div>
    

    <div class="shortTxtDiv">
        @ODMSHelpers.Button("Save", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.PurchaseOrderType.PurchaseOrderTypeCreate, "PurchaseOrderTypeCreate")
    </div>
}

