@model ODMSModel.PurchaseOrderType.PurchaseOrderTypeViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderType_PageTitle_Detail");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<div class="labelDiv">@Html.LabelFor(v => v.PurchaseOrderTypeName)</div>
<div class="shortTxtDiv">
    @{
        Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
        @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    }
</div>

<div class="labelDiv">@Html.LabelFor(v => v.StockTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StockTypeName)</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Description)</div>

<div class="labelDiv">@Html.LabelFor(v => v.ProposalType)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ProposalType)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.DeliveryPriority)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DeliveryPriority)</div>

<div class="labelDiv">@Html.LabelFor(v => v.OrderReason)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.OrderReason)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.ItemCategory)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ItemCategory)</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsVehicleSelectionMust)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsVehicleSelectionMust)</div>

<div class="labelDiv">@Html.LabelFor(v => v.ManuelPriceAllow)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ManuelPriceAllow)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsCurrencySelectAllow)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsCurrencySelectAllow)</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsFirmOrderAllow)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsFirmOrderAllow)</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsDealerOrderAllow)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsDealerOrderAllow)</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsSupplierOrderAllow)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsSupplierOrderAllow)</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="width: 147px">@Html.LabelFor(v => v.IsSaleOrderAllow)</div>
<div class="shortTxtDiv" style="margin-left: 2px">@Html.DisplayFor(v => v.IsSaleOrderAllow)</div>
<div class="clearDiv">&nbsp;</div>

