@using ODMSCommon.Resources
@model ODMSModel.Workshop.WorkshopDetailModel
@{
    ViewBag.Title = MessageResource.Workshop_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("WorkshopUpdate", "Workshop", FormMethod.Post))
{
    <div id="tagDealerListDiv" class="labelDiv" style="width: 120px; margin-top: 10px">@Html.Label(@MessageResource.Workshop_Display_DealerList)</div>
    <div id="cmbDealerListDiv" class="shortTxtDiv" style="position: absolute; margin-left: 120px; margin-top: 10px">
        @(Html.Kendo().ComboBox()
                  .Name("DealerId")
                  .Placeholder(@MessageResource.Workshop_Display_SelectDealer)
                  .BindTo(ViewBag.DealerList)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .HtmlAttributes(new { @class = "ComboBox", @style = "width: 205px;" })
            )
    </div>
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.LabelFor(d => d.Name)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 120px; width: 100px">@Html.TextBoxFor(b => b.Name)
        @Html.ValidationMessageFor(v => v.Name)
    </div>
    <div class="labelDiv" style="position: absolute; width: 100px; margin-left: 140px; margin-top: 70px;">@Html.LabelFor(d => d.IsActiveString)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 70px; margin-left: 120px; width: 100px">@Html.CheckBoxFor(d => d.IsActive)</div>
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.Workshop.WorkshopUpdate, "WorkshopUpdate")        
}


<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });

    function adjustPage() {
        $("#popupContent").css("width", 430);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 440);
    }

    function adjustControlPositions() {
        $("#Update").css("position", "absolute");
        $("#Update").css("margin-top", "90px");
        $("#Update").css("margin-left", "-120px");
        $("#Update").css("width", "75px");
    }
</script>