@using ODMSCommon.Resources
@model ODMSModel.Workshop.WorkshopDetailModel
@{
    ViewBag.Title = MessageResource.Workshop_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("WorkshopDetails", "Workshop", FormMethod.Post))
{
    <div id="tagDealerListDiv" class="labelDiv" style="width: 120px; margin-top: 10px">@Html.LabelFor(d => d.DealerName)&nbsp;</div>
    <div id="cmbDealerListDiv" class="shortTxtDiv" style="position: absolute; margin-left: 120px; margin-top: 10px">@Html.DisplayFor(d => d.DealerName)&nbsp;</div>
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.LabelFor(d => d.Name)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 120px; width: 100px">@Html.DisplayFor(d => d.Name)&nbsp;</div>
    <div class="labelDiv" style="position: absolute; width: 100px; margin-top: 70px;">@Html.LabelFor(d => d.IsActiveString)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 70px; margin-left: 120px; width: 100px">@Html.DisplayFor(d => d.IsActiveString)&nbsp;</div>
}


<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 430);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 440);
    }
</script>
