@using ODMSCommon.Resources

@model ODMSModel.ClaimWaybillList.ClaimWaybillListListModel

@{
    ViewBag.Title = MessageResource.ClaimWaybillList_PageTitle_Index;
}

<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.IsAccepted)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IsAccepted).DataTextField("Text").SelectedIndex(1).DataValueField("Value").BindTo(ViewBag.AcceptStatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.WaybillNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.WaybillNo) </div>

        <div class="labelDiv">@Html.LabelFor(v => v.WaybillSerialNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.WaybillSerialNo) </div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.WaybillText)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.WaybillText) </div>

        <div class="labelDiv">@Html.LabelFor(v => v.WaybillDate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().DatePickerFor(v => v.WaybillDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" }) 
        </div>

        <div class="labelDiv">@Html.LabelFor(v => v.AcceptUser)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AcceptUser) </div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.AcceptDate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().DatePickerFor(v => v.AcceptDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })
        </div>
        <br /><br />
        </div>
        <br />
    </div>

    @ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.ClaimWaybill.ClaimWaybillIndex)

<br />
<div id="ClaimWaybillListModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("ClaimWaybillListModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#ClaimWaybillListGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function ShowPopup(frameTitle, link) {
        $("#ClaimWaybillListModelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#ClaimWaybillListModelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
       
    }

    $(document).ready(init);

    $('#divDetails').hide();

    function ClaimWaybillListSearch()
    {
        return {
            IsAccepted: $('#IsAccepted').val(),
            WaybillNo: $('#WaybillNo').val(),
            WaybillSerialNo: $('#WaybillSerialNo').val(),
            WaybillText: $('#WaybillText').val(),
            WaybillDate: $('#WaybillDate').val(),
            AcceptUser: $('#AcceptUser').val(),
            AcceptDate: $('#AcceptDate').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#ClaimWaybillListGrid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#divDetails').hide();
        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });

}

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.ClaimWaybillList.ClaimWaybillListListModel>()
          .Name("ClaimWaybillListGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.IdClaimWaybill).ClientTemplate("<center><a class='loadTab' onclick='ShowTabs(\"#=IdClaimWaybill#\")' id='#=IdClaimWaybill#'><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimWaybill.ClaimWaybillDetails));
                  //columns.Bound(p => p.IdClaimWaybill).ClientTemplate("<center><a class='details modalClick' idClaimWaybill='#=IdClaimWaybill#' idClaimWaybill='#=IdClaimWaybill#' frameTitle='" + CommonUtility.GetResourceValue("ClaimWaybillList_PageTitle_Details") + "' href='/ClaimWaybillList/ClaimWaybillListDetails/#=IdCustomer#&#=IdDealer#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimWaybill.ClaimWaybillDetails));
                  columns.Bound(p => p.DealerName).Sortable(true);
                  columns.Bound(p => p.WaybillNo).Sortable(true);
                  columns.Bound(p => p.WaybillSerialNo).Sortable(true);
                  columns.Bound(p => p.WaybillText).Sortable(true);
                  columns.Bound(p => p.WaybillDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                  columns.Bound(p => p.AcceptUser).Sortable(true);
                  columns.Bound(p => p.AcceptDate).Sortable(true).Format("{0:dd/MM/yyyy}");
              })
          .Pageable()
          .Sortable()
          .Scrollable()
           

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListClaimWaybillList", "ClaimWaybillList", Model).Data("ClaimWaybillListSearch"))
                                        .Model(model => model.Field(o => o.IdClaimWaybill).DefaultValue(-1)))

          )
</div>

@*tab content start*@
<div id="divDetails" style="display: none; margin-top: 20px;">
    @(Html.Kendo().TabStrip()
          .Name("Tabs")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.ClaimDismantledPartDelivery_PageTitle_Details).Selected(true).HtmlAttributes(new { onclick = "LoadTabContent('" + Url.Action("ClaimDismantledPartsIndex", "ClaimDismantledParts") + "');" }))
          )


    <div id="TabContent" style="padding: 0 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>
</div>
@*tab content end*@

<script type="text/javascript">
    var IdClaimWaybill;

    function ShowTabs(id) {
        IdClaimWaybill = id;
        $('#TabContent').html('');
        $("#Tabs").data("kendoTabStrip").select(0);
        $('#divDetails').show();
        LoadTabContent('@Url.Action("ClaimDismantledPartsIndex", "ClaimDismantledParts")');
    }

    function LoadTabContent(url) {      
        $('#TabContent').html('');
        $.ajax({
            type: "GET",
            url: url + '/' + IdClaimWaybill,
            data: {},
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#TabContent').html(result);
            },
            error: function (request, status, err) {
                //////console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
    }
</script>
