@using ODMSBusiness
@using ODMSCommon.Resources
@using ODMSModel.VehicleCode
@model VehicleCodeIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleCode_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        @*<div class="labelDiv">@Html.LabelFor(v => v.VehicleCodeSSID)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleCodeSSID) </div>*@

        <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleGroupId).DataTextField("Text").DataValueField("Value").BindTo(VehicleGroupBL.ListVehicleGroupAsSelectList(ODMSCommon.Security.UserManager.UserInfo).Data).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.ModelName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ModelName).DataTextField("Text").DataValueField("Value").BindTo(VehicleModelBL.ListVehicleModelAsSelectList(ODMSCommon.Security.UserManager.UserInfo).Data).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleTypeName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VTSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EngineType)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.EngineType, new { @maxlength = "30" }) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
      
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleCode, new { @maxlength = "30" }) </div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", ODMSCommon.CommonValues.PermissionCodes.VehicleCode.VehicleCodeIndex)
<script>

    function Search() {
        return {
            IsActiveSearch: $("#IsActiveSearch").val(),
            VehicleTypeId: $("#VehicleTypeId").val(),
            VehicleGroupId: $("#VehicleGroupId").val(),
            ModelName: $("#ModelName").val(),
            EngineType: $("#EngineType").val(),
            VehicleCode: $("#VehicleCode").val()
        };
    }
    $(document).ready(function () {
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("VehicleCodeUpdate", "VehicleCode", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("VehicleCodeDetails", "VehicleCode", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteVehicleCode(vehicleCodeKod) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("VehicleCodeDelete", "VehicleCode")",
                data: { vehicleCodeKod: vehicleCodeKod, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<VehicleCodeListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.VehicleCodeKod).ClientTemplate("<center><a class='details modalClick' id='#=VehicleCodeKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleCode_PageTitle_Details") + "' href='/VehicleCode/VehicleCodeDetails/#=VehicleCodeKod#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleCode.VehicleCodeDetails));
                  columns.Bound(p => p.VehicleCodeKod).ClientTemplate("<center><a class='edit modalClick' id='#=VehicleCodeKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleCode_PageTitle_Update") + "' href='/VehicleCode/VehicleCodeUpdate/#=VehicleCodeKod#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleCode.VehicleCodeUpdate));
                  columns.Bound(o => o.VehicleCodeKod).ClientTemplate("<center><a onclick='DeleteVehicleCode(\"#=VehicleCodeKod#\")' href='javascript:void(0);'  id='#=VehicleCodeKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleCode_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleCode.VehicleCodeDelete));
                  columns.Bound(p => p.VehicleGroupId).Width(180).Sortable(true);
                  columns.Bound(p => p.EngineType).Width(140).Sortable(true);
                  columns.Bound(p => p.ModelName).Width(140).Sortable(true);
                  columns.Bound(p => p.VehicleTypeName).Width(140).Sortable(true);
                  columns.Bound(p => p.VehicleCodeKod).Width(140).Sortable(true);
                  columns.Bound(p => p.VehicleCodeName).Width(250).Sortable(true);
                  columns.Bound(p => p.IsActiveS).Sortable(true).Width(60);

              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVehicleCode", "VehicleCode", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.VehicleCodeKod).DefaultValue(-1)))

    )
</div>
