@model ODMSModel.VehicleCode.VehicleCodeIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleCode_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<link href="~/Style/bootstrap.css" rel="stylesheet" />
 

@using (Html.BeginForm("VehicleCodeUpdate", "VehicleCode", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
        @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleCodeKod)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleCodeKod) </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleTypeName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleTypeName) </div>
    
    <div class="clearDiv">&nbsp;</div>  
    
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) </div>  @Html.ValidationMessageFor(v => v.AdminDesc)

    <div class="labelDiv">@Html.LabelFor(v => v.VehicleCodeName)</div>
    <div class="shortTxtDiv">
        <div style="float:left;width:70%">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }</div>
       <div style="float:left;width:20%;margin-top:50px">@Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)    </div> 
    </div>
     <div class="clearDiv">&nbsp;</div>  
    
    <div class="labelDiv">@Html.LabelFor(v => v.EngineType)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.EngineType,new{ @maxlength="30"}) </div> 
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive) </div>

    <div class="clearDiv">&nbsp;</div>    
    <br /> 
    @Html.HiddenFor(v => v.VehicleCodeKod)
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), ODMSCommon.CommonValues.PermissionCodes.VehicleCode.VehicleCodeUpdate, "VehicleCodeUpdate")
    }


}