@model ODMSModel.DealerRegion.DealerRegionIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("DealerRegion_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.DealerRegionName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerRegionName) </div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "",CommonValues.PermissionCodes.DealerRegion.DealerRegionDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("DealerRegion_PageTitle_Create"),CommonValues.PermissionCodes.DealerRegion.DealerRegionCreate)

    <br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(600)
    .Height(200)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>
<script>
    function Search() {
        return {
            DealerRegionName: $('#DealerRegionName').val()
        };
    }
    $(document).ready(function () {
        
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));
           
            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("DealerRegionDetails", "DealerRegion", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("DealerRegionUpdate", "DealerRegion", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("DealerRegionCreate", "DealerRegion")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

    });
    function DeleteDealerRegion(drId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteDealerRegion","DealerRegion")",
                data: { dealerRegionId: drId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<div class="kendoGridDiv" id="grd">    
    @(Html.Kendo().Grid<ODMSModel.ListModel.DealerRegionListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.DealerRegionId).Width("10%").ClientTemplate("<center><a class='details modalClick' id='#=DealerRegionId#' frameTitle='" + @CommonUtility.GetResourceValue("DealerRegion_PageTitle_Details") + "' href='/DealerRegion/DealerRegionDetails/#=DealerRegionId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DealerRegion.DealerRegionDetails));
                  columns.Bound(p => p.DealerRegionId).Width("10%").ClientTemplate("<center><a class='edit modalClick' id='#=DealerRegionId#' frameTitle='" + @CommonUtility.GetResourceValue("DealerRegion_PageTitle_Update") + "' href='/DealerRegion/DealerRegionUpdate/#=DealerRegionId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DealerRegion.DealerRegionUpdate));
                  columns.Bound(o => o.DealerRegionId).Width("10%").ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("DealerRegion_PageTitle_Delete") + "' onclick='DeleteDealerRegion(#=DealerRegionId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DealerRegion.DealerRegionDelete));
                  columns.Bound(p => p.DealerRegionName).Width("70%").Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListDealerRegion", "DealerRegion",Model).Data("Search"))
                                        .Model(model => model.Field(o => o.DealerRegionId).DefaultValue(-1)))

          )
</div>
