@model ODMSModel.DealerRegion.DealerRegionIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("DealerRegion_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<style>
    #popupContentWrapper {
        min-height: 180px !important;
    }
    #popupContent {
        width: 580px !important;
    }
</style>

 
@using (Html.BeginForm("DealerRegionUpdate", "DealerRegion", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.DealerRegionName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerRegionName) @Html.ValidationMessageFor(c => c.DealerRegionName)</div> 
    <div class="clearDiv">&nbsp;</div>
    <br />
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"),  CommonValues.PermissionCodes.DealerRegion.DealerRegionUpdate, "DealerRegionUpdate")
    @Html.HiddenFor(v => v.DealerRegionId)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
