@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.CampaignDocument.CampaignDocumentViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DocName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DocumentDesc)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DocumentDesc) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.LanguageName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.LanguageName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<br />




