@model ODMSModel.CampaignDocument.CampaignDocumentListModel
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickCampaignDocument createNewCampaignDocument", CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Create"), CommonValues.PermissionCodes.CampaignDocument.CampaignDocumentCreate)
@Html.AntiForgeryToken()
<br />
<div id="CampaignDocumentModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("CampaignDocumentModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#CampaignDocumentGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
          )
    @Html.HiddenFor(v=>v.CampaignCode)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").delegate(".modalClickCampaignDocument", "click", function (e) {
            $('#CampaignDocumentModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var idList = clickedId.split("$");
            var campaignCodeParam = idList[0];
            var documentIdParam = idList[1];
            var languageCodeParam = idList[2];
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("edit")) {
                link = "@Url.Action("CampaignDocumentUpdate", "CampaignDocument", new { campaignCode = -1, documentId = -2, languageCode = -3 })";
                link = link.replace("-1", campaignCodeParam);
                link = link.replace("-2", documentIdParam);
                link = link.replace("-3", languageCodeParam);
            }
            else if ($(this).hasClass("createNewCampaignDocument")) {
                link = "@Url.Action("CampaignDocumentCreate", "CampaignDocument", new { campaignCode = Model.CampaignCode})";
            }
            $("#CampaignDocumentModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#CampaignDocumentModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteCampaignDocument(cCode, dId, lCode) {
        var token = $('input[name="__RequestVerificationToken"]').val();
    DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteCampaignDocument", "CampaignDocument")",
            data: { campaignCode: cCode, documentId: dId, languageCode: lCode, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#CampaignDocumentGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
    });
}
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignDocument.CampaignDocumentListModel>()
          .Name("CampaignDocumentGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.DocId).ClientTemplate("<center><a class='details' id='#=CampaignCode#" + "$" + "#=DocId#" + "$" + "#=LanguageCode#'" + " frameTitle='" + @CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Details") + "' href='/SYS/CampaignDocument/CampaignImage/#=DocId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDocument.CampaignDocumentDetails));
                  columns.Bound(p => p.DocId).ClientTemplate("<center><a class='edit modalClickCampaignDocument' id='#=CampaignCode#" + "$" + "#=DocId#" + "$" + "#=LanguageCode#'" + " frameTitle='" + @CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Update") + "' href='/CampaignDocument/CampaignDocumentUpdate/#=DocId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDocument.CampaignDocumentUpdate));
                  columns.Bound(o => o.DocId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Delete") + "' onclick='DeleteCampaignDocument(\"#=CampaignCode#\",#=DocId#,\"#=LanguageCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDocument.CampaignDocumentDelete));
                  columns.Bound(p => p.DocName).Width(100).Sortable(true);
                  columns.Bound(p => p.DocumentDesc).Width(100).Sortable(true);
                  columns.Bound(p => p.LanguageName).Width(100).Sortable(false);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCampaignDocument", "CampaignDocument", Model))
                                        .Model(model => model.Field(o => o.DocId).DefaultValue(-1)))

          )
</div>
