@model ODMSModel.CampaignDocument.CampaignDocumentViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignDocument_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignDocumentUpdate", "CampaignDocument", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.DocName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.LanguageCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LanguageName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DocumentDesc)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.DocumentDesc) @Html.ValidationMessageFor(c => c.DocumentDesc)</div>
    <div class="clearDiv">&nbsp;</div>
    <br />
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.CampaignDocument.CampaignDocumentUpdate, "CampaignDocumentUpdate")
    @Html.HiddenFor(v => v.DocId)
    @Html.HiddenFor(v => v.CampaignCode)
    @Html.HiddenFor(v => v.LanguageCode)
    @Html.HiddenFor(v => v.DocName)
    @Html.HiddenFor(v => v.LanguageName)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
