@using ODMSTerminal.Infrastructure.Utility
@model ODMSBusiness.Terminal.OldRackQuery.Dtos.OldRackQueryInfo
@{
    ViewBag.Title = MessageResource.Terminal_OldRackQuery_Title_Index;
    ViewBag.WrapperCssClass = "wrapper-colored white-background";
    ViewBag.BodyCssClass = "primary";
}

@section header{
    @Html.Partial("_subheader")
}


<div class="margin-3 pageContent">
    @using (Html.BeginForm("Index", "OldRackQuery", FormMethod.Get, new {id = "frm"}))
    {
        <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
            <tbody>
            <tr>
                <td class="bold stay-line">@MessageResource.PurchaseOrderReport_Display_PartName:</td>
                <td width="60%">
                    @Html.TextBoxFor(c => c.PartCode, new {@class = "text"})
                </td>
                <td class="last-child">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="1">
                    &nbsp;
                </td>
                <td colspan="2" class="text-right last-child"><input id="btnSearch" type="submit" class="btn btn-xs success margin-top-3" value="@MessageResource.Global_Display_Search"></td>
            </tr>

            </tbody>
        </table>
    }

    @if (Model != null)
    {
        <br/>
        <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
            <tbody>
            <tr>
                <td class="bold stay-line">
                    @MessageResource.Terminal_StockcardQuery_PartName
                </td>
                <td width="60%">
                    @Model.PartName
                </td>
                <td class="last-child">&nbsp;</td>
            </tr>
            <tr>
                <td class="bold stay-line">
                    @MessageResource.Terminal_StockMovement_Unit
                </td>
                <td width="60%">
                    @Model.Unit
                </td>
                <td class="last-child">&nbsp;</td>
            </tr>
            </tbody>
        </table>


        <br/>

        <table border="0" cellspacing="0" width="100%" class="margin-top-3 datatable">
            <thead>
            <tr>
                <th>@MessageResource.Terminal_OldRackQuery_Source</th>
                <th>@MessageResource.Terminal_OldRackQuery_Destination</th>
                <th>@MessageResource.Terminal_StockcardQuery_Quantity</th>
                <th class="last-child">@MessageResource.Terminal_OldRackQuery_Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ResultList)
            {
                <tr>
                    <td>@item.SourceRack &nbsp;</td>
                    <td>@item.DestinationRack</td>
                    <td class="text-right">@item.Quantity</td>
                    <td class="last-child">@item.Date.FormatForView()</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#PartCode").focus();
        });
    </script>
}
