@model ODMSBusiness.Terminal.Common.EnumerableResponse<ODMSBusiness.Terminal.RackQuery.Dtos.RackQueryListItem>
@{
    ViewBag.Title = MessageResource.Terminal_RackQuery_Title_Index;
    ViewBag.WrapperCssClass = "wrapper-colored white-background";
    ViewBag.BodyCssClass = "primary";
}
@section header{
    @Html.Partial("_subheader")
}
<div class="margin-3 pageContent">
    <table border="0" cellspacing="0" width="100%" class="margin-top-3 datatable">
        <thead>
            <tr>
                <th>@MessageResource.PurchaseOrderReport_Display_PartName</th>
                <th>@MessageResource.Terminal_StockMovement_Quantity</th>
                <th class="last-child">@MessageResource.Terminal_StockMovement_Unit</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PartCode</td>
                <td class="text-right">@item.Quantity</td>
                <td class="last-child">@item.Unit</td>
            </tr>
        }
        </tbody>
    </table>
</div>