@using ODMSCommon.Resources
@{
    ViewBag.Title = MessageResource.ActiveAnnouncements_PageTitle_Index;
}
<style>
   label.label {
       font-size: 100%;
   }
   .announcement-title {
       font-weight: bold;
       font-size: 18px;
       margin-left: 6px;
   }
</style>
@model List<ODMSModel.Announcement.AnnouncementListModel>
@foreach (var item in Model)
{
    <div class="announcement-title">@MessageResource.ActiveAnnouncements_Display_AnnouncemntDate : @item.StartDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
    <div style="height: 6px;">&nbsp;</div>
    <div class="panel @Html.Raw(item.IsUrgent.GetValueOrDefault()>0 ?"panel-danger":"panel-default")">
        <div class="panel-heading">@item.Title</div>
        <div class="panel-body">         
            @item.Body
        </div>
        <div class="panel-footer">
            
            @if (item.DocId > 0)
            {
                <strong>@MessageResource.ActiveAnnouncements_Display_Attachment : </strong><a class="k-link" href="@Url.Action("WorkOrderDocumentsDownload","WorkOrderDocuments",new {id=item.DocId})"> <label style="cursor:pointer" class="label label-danger">@item.DocName -@MessageResource.Global_Display_Download</label> </a>
            }

        </div>
    </div>
}
