@using ODMSCommon.Resources
@using ODMSModel.DealerFleetVehicle
@model DealerFleetVehicleListModel

<div id="DealerFleetVehicleWindowDiv">
    @(Html.Kendo().Window()
        .Name("DealerFleetVehicleWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#DealerFleetVehicleGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>
<script>
    function DealerFleetVehicleSearch() {
        return {
            FleetId : '@Model.FleetId'
        };
    }

    function ShowPopupDealer(frameTitle, link) {
        $("#DealerFleetVehicleWindow_wnd_title").html(frameTitle);
        var windowWidget = $("#DealerFleetVehicleWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;
        windowWidget.wrapper.css({
            width: 1250,
            height: 650
        });
        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();

    }

    function OpenVehicleHistory(obj) {
        ShowPopupDealer('@Html.Raw(MessageResource.WorkOrderCard_Display_VehicleHistory)', '@Url.Action("VehicleHistoryIndex", "Vehicle")' + '?vehicleId=' + obj);
    }

    function OpenCustomerDetail(obj) {
        ShowPopupDealer('@Html.Raw(MessageResource.Customer_PageTitle_Details)', '@Url.Action("CustomerDetails", "Customer")' + '?id=' + obj);

    }

    function OpenDealerDetail(obj) {
        ShowPopupDealer('@Html.Raw(MessageResource.Dealer_PageTitle_Details)', '@Url.Action("DealerDetails", "Dealer")' + '?id=' + obj);
    }
</script>
<div class="kendoGridDiv" id="grdDealerFleetVehicle">
    @(Html.Kendo().Grid<DealerFleetVehicleListModel>()
          .Name("DealerFleetVehicleGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.VinNo).Width(150).ClientTemplate("<center><a class='' style='cursor:pointer' onclick='OpenVehicleHistory(#=VehicleId#)'>#=VinNo#</a></center>").Sortable(true);
                  columns.Bound(p => p.CustomerName).Width(150).ClientTemplate("<center><a class='' style='cursor:pointer' onclick='OpenCustomerDetail(#=CustomerId#)'>#=CustomerName#</a></center>").Sortable(true);
                  columns.Bound(p => p.WorkOrderId).Width(80).ClientTemplate("<center><a class='' id='#=WorkOrderId#' href='" + Url.Action("WorkOrderCardIndex", "WorkOrderCard") + "/#=WorkOrderId#'>#=WorkOrderId#</a></center>").Sortable(true);
                  columns.Bound(p => p.FleetRequestId).Width(50).Sortable(true);
                  columns.Bound(p => p.DealerName).Width(150).ClientTemplate("<center><a class='' style='cursor:pointer' onclick='OpenDealerDetail(#=DealerId#)'>#=DealerName#</a></center>").Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
           
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListDealerFleetVehicle", "DealerFleetVehicle", Model).Data("DealerFleetVehicleSearch")))

          )
</div>
