@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@model ODMSModel.GuaranteeAuthorityLimitations.GuaranteeAuthorityLimitationsViewModel
@using ODMSCommon.Resources
@using (Html.BeginForm("GuaranteeAuthorityLimitationsCreate", "GuaranteeAuthorityLimitations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(c => c.ModelKod)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.ModelKod).BindTo(ViewBag.ModelKodList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(MessageResource.Global_Display_Select) @Html.ValidationMessageFor(v => v.ModelKod) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.CurrencyName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CurrencyCode).BindTo(ViewBag.CurrencyList as List<SelectListItem>).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_Select)  @Html.ValidationMessageFor(v => v.CurrencyCode) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.Amount)</div>
    <div style="width: 300px; float: left;">@Html.Kendo().NumericTextBoxFor(c => c.Amount).Decimals(2).Min(0).Format("{0:N2}").Spinners(true).HtmlAttributes(new { type = "text", maxlength = "12", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.Amount)
    </div>
    <div class="labelDiv">@Html.LabelFor(c => c.CumulativeAmount)</div>
    <div style="width: 300px; float: left;">@Html.Kendo().NumericTextBoxFor(c => c.CumulativeAmount).Decimals(2).Min(0).Format("{0:N2}").Spinners(true).HtmlAttributes(new { type = "text", maxlength = "13", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.CumulativeAmount)
    </div>
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.GuaranteeAuthorityLimitations.GuaranteeAuthorityLimitationsCreate, "GuaranteeAuthorityLimitationsCreate")   
}

<script type="text/javascript">
    $(document).ready(function() {
        $('form').each(function() {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

</script>