@model ODMSModel.PurchaseOrderGroup.PurchaseOrderGroupViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderGroup_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@using (Html.BeginForm("PurchaseOrderGroupUpdate", "PurchaseOrderGroup", FormMethod.Post))
{

    @Html.HiddenFor(x => x.PurchaseOrderGroupId)


    <div class="labelDiv">@Html.LabelFor(v => v.GroupName)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.GroupName)
        @Html.ValidationMessageFor(v => v.GroupName)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">
        @Html.CheckBoxFor(v => v.IsActive)
        @Html.ValidationMessageFor(v => v.IsActive)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="shortTxtDiv">
        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.PurchaseOrderGroup.PurchaseOrderGroupUpdate, "PurchaseOrderGroupUpdate")
    </div>
}

<script>

    $(function () {
        adjustPage();
        adjustControlPositions();
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("height", 300);
        $("#popupContentWrapper").css("width", 460);
    }

    function adjustControlPositions() {
        $("#Update").css("position", "absolute");
        $("#Update").css("width", "75px");

        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-left", "-75px");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-top", "80px");
    }
</script>