@using ODMSCommon.Resources
@using ODMSModel.WorkOrderCard
@model List<WorkOrderInvoiceItem>

<div class="panel panel-primary" style="width:99%;">
    <div class="panel-heading">
        @MessageResource.WorkOrderCard_Display_Indicators
    </div>
    <div class="panel-body">
      
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:10%">
                        @MessageResource.Global_Display_Select
                    </th>
                    <th style="width:15%">
                        @MessageResource.WorkOrderCard_Display_BillingStatus
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_Indicator
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_TotalPrice
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="invoice-item" data-id="@item.WorkOrderDetailId" @(item.WorkOrderInvoiceId>0 || item.InvoiceCancel ?Html.Raw("checked=\"checked\" disabled=\"disabled\""):Html.Raw("")) onchange="SetSelectedItems()"/></td>
                    <td class="text-center">
                        @if (item.WorkOrderInvoiceId == 0)
                        {
                            if (item.InvoiceCancel)
                             {
                                <button style="font-weight: bold;" class="btn btn-success btn-xs" data-id="@item.WorkOrderDetailId" data-value="false" onclick=" ChangeBillingStatus(this) ">
                                     @MessageResource.WorkOrderCard_Display_ToBeInvoiced
                                 </button> 
                                
                             }
                             else
                             {
                                 <button style="font-weight: bold;" class="btn btn-danger btn-xs" data-id="@item.WorkOrderDetailId" data-value="true" onclick=" ChangeBillingStatus(this) ">
                                     @MessageResource.WorkOrderCard_Display_ToBeNotInvoiced
                                 </button>
                             }
                        }
                    </td>
                    
                    <td>@item.Indicator</td>
                    <td>@item.PriceString</td>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function ChangeBillingStatus(obj) {
        $.ajax({
                type: "POST",
                url: "@Url.Action("SetBillingStatus")",
            data: { workOrderDetailId: $(obj).data("id"), invoiceCancel: $(obj).data("value") },
                dataType:"JSON"
            })
            .done(function (json) {
                if (json.Status == 1) {
                    SetSuccessMessage(json.Message);
                    OnTabChange(1, null);
                } else {
                    SetErrorMessage(json.Message);
                }
            });
    }
</script>
