@using ODMSBusiness.WorkOrder
@using ODMSCommon.Resources
@model List<ODMSModel.WorkOrderInvoice.WorkOrderInvoicesListModel>

<div class="panel panel-success" style="width: 99%;">
    <div class="panel-heading">
        @MessageResource.WorkOrderCard_Display_Invoices
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @MessageResource.Global_Display_Select
                    </th>
                    <th>&nbsp;</th>
                    <th>@MessageResource.WorkOrderInvoice_Display_InvoiceId</th>
                    <th>
                        @MessageResource.Customer_Display_Name
                    </th>
                    <th>
                        @MessageResource.WorkorderListInvoices_Display_InvSerialNo
                    </th>
                    <th>
                        @MessageResource.WorkOrderInvoiceList_Display_InvoiceNo
                    </th>
                    <th>
                        @MessageResource.WorkOrderInvoiceList_Display_InvoiceDate
                    </th>
                    <th>
                        @MessageResource.WorkOrderCard_Display_TotalPrice
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model.Where(c => c.InvoiceAmount > 0))
            {
                <tr>
                    <td>
                        <a class="k-link" href="@Url.Action("EditWorkOrderInvoice", new { id = item.WorkOrderInvoiceId, workOrderId = (long)ViewBag.WorkOrderId })" title="@MessageResource.Global_Display_Select">
                            <img src="@Url.Content("~/Images/select.png")"/>
                        </a>
                    </td>
                    <td><a class="btn btn-primary"  href="@Url.Action("PrintWorkOrderInvoice", "WorkOrderCard", new { id = (long)ViewBag.WorkOrderId, invoiceId = item.WorkOrderInvoiceId, printType = InvoicePrintType.Printed })">@MessageResource.WorkOrderCard_Display_InvoiceTypePrinted</a>
                        <a class="btn btn-default" href="@Url.Action("PrintWorkOrderInvoice", "WorkOrderCard", new { id = (long)ViewBag.WorkOrderId, invoiceId = item.WorkOrderInvoiceId, printType = InvoicePrintType.Transcript })">@MessageResource.WorkOrderCard_Display_InvoiceTypeTranscript</a>
                        <a class="btn btn-default" href="@Url.Action("PrintWorkOrderInvoice", "WorkOrderCard", new { id = (long)ViewBag.WorkOrderId, invoiceId = item.WorkOrderInvoiceId, printType = InvoicePrintType.Proforma })">@MessageResource.WorkOrderCard_Display_InvoiceTypeProforma</a>
                        <a class="btn btn-default" href="@Url.Action("PrintWorkOrderInvoice", "WorkOrderCard", new { id = (long)ViewBag.WorkOrderId, invoiceId = item.WorkOrderInvoiceId, printType = InvoicePrintType.ProformaExcel })">@MessageResource.WorkOrderCard_Display_InvoiceTypeProformaExcel</a>
                        <a class="btn btn-warning" href="@Url.Action("PrintWorkOrderInvoice", "WorkOrderCard", new { id = (long)ViewBag.WorkOrderId, invoiceId = item.WorkOrderInvoiceId, printType = InvoicePrintType.WorkOrderAndProforma })">@MessageResource.WorkOrderCard_Display_InvoiceTypeWorkOrderProforma</a>

    @*<a class="btn btn-danger" onclick="DeleteInvoice(@item.WorkOrderInvoiceId,'@item.InvoiceSerialNo/@item.InvoiceNo')">@MessageResource.Global_Display_Delete</a>*@

                    </td>
                    <td>@item.WorkOrderInvoiceId</td>
                    <td>@item.CustomerName</td>
                    <td>@item.InvoiceSerialNo</td>
                    <td>@item.InvoiceNo</td>
                    <td>@item.InvoiceDate.Normalize(true)</td>
                    <td>@item.PriceString</td>
                </tr>
            }
        </table>
    </div>
</div>
@using (Html.BeginForm("DeleteInvoice", "WorkOrderInvoice", FormMethod.Post, new { id = "frmDeleteInvoice" }))
{
    @Html.Hidden("_workOrderId", (long)ViewBag.WorkOrderId)
    @Html.Hidden("_invoiceId", "", new { id = "_invoiceId" })
    @Html.Hidden("customerId","")
}

<script id="delete-confirmation" type="text/x-kendo-template">
        <p class="delete-message">@MessageResource.Global_Display_DeleteConfirmQuestion</p>
        <p style="text-align:right">
            <button class="delete-confirm k-button">@MessageResource.Global_Display_Yes</button>
            <button class="delete-cancel k-button">@MessageResource.Global_Display_No</button>
        </p>
</script>

<script>
    //Fatura iptal ekrarnından yapsın
    //function DeleteInvoice(id,invoiceNo) {
    //    $("#_invoiceId", "#frmDeleteInvoice").val(id);
    //    $("#customerId", "#frmDeleteInvoice").val($("#CustomerId").val());
    //    DeleteConfirm(function () {
    //        $("#frmDeleteInvoice").submit();
    //    },invoiceNo);
    //}

    function DeleteConfirm(deleteFunction,invoiceNo) {
        var confirm = false;
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Gloabl_Display_DeleteConfirmTitle",
            resizable: false,
            modal: true
        });
        var question = '@MessageResource.WorkOrderInvoice_Message_DeleteQuestion'.replace("{0}", invoiceNo);
        kendoWindow.data("kendoWindow")
            .content(" <p class='delete-message'>"+question+"</p>" +
        "<p style='text-align:right'>"+
           "<button class='delete-confirm k-button'>@MessageResource.Global_Display_Yes</button>"+
           " <button class='delete-cancel k-button'>@MessageResource.Global_Display_No</button>"+
       " </p>")
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                    confirm = true;
                    if (deleteFunction)
                        deleteFunction();
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
        return confirm;
    }
</script>
