@{
    ViewBag.Title = MessageResource.WorkOrderInvoice_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContentWrapper {
        min-height: 400px !important;
    }
</style>
@using ODMSCommon.Resources
@using ODMSModel.WorkOrderInvoice
@model WorkOrderInvoicesViewModel
 
<link href="~/Style/bootstrap.css" rel="stylesheet" />

<div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
<div class="shortTxtDiv">@Model.CustomerName &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Address)</div>
<div class="shortTxtDiv">@Model.Address &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.InvoiceNo)</div>
<div class="shortTxtDiv">@Model.InvoiceNo &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.InvoiceAmount)</div>
<div class="shortTxtDiv">@Model.InvoiceAmount &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.InvoiceVatAmount)</div>
<div class="shortTxtDiv">@Model.InvoiceVatAmount &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.VatRatio)</div>
<div class="shortTxtDiv">@Model.VatRatio &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.InvoiceSerialNo)</div>
<div class="shortTxtDiv">@Model.InvoiceSerialNo &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.InvoiceDate)</div>
<div class="shortTxtDiv">@Model.InvoiceDate.ToString("dd/MM/yyyy") &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.InvoiceRatio)</div>
<div class="shortTxtDiv">@Model.InvoiceRatio &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.DueDuration)</div>
<div class="shortTxtDiv">@Model.DueDuration &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
