@using ODMSCommon.Resources
@model ODMSModel.Contract.ContractListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Contract_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.ContractName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContractName)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").SelectedIndex(0).BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })</div>

        <div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })</div>

        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.Contract.ContractDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickContract createNewContract", CommonUtility.GetResourceValue("Contract_PageTitle_Create"), CommonValues.PermissionCodes.Contract.ContractCreate)

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#ContractGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )

</div>
<script type="text/javascript">
    function onActivate(e) {
        alert($(e.item).find("> .k-link").text());
        //kendoConsole.log("Activated: " + $(e.item).find("> .k-link").text());
    }

    function loadTabs(idContractParam) {
        $('#divDetails').hide();

        if (idContractParam != '' && idContractParam != null) {

            var tabStrip = $('#ContractDetails').kendoTabStrip().data("kendoTabStrip");

            var partTab = tabStrip.contentElements[0];
            $.ajax({
                type: "GET",
                url: "@Url.Action("ContractPartIndex", "ContractPart")",
                data: { IdContract: idContractParam },
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    $(partTab).html(result);
                    $('#IdContract').val(null);
                    $('#divDetails').show();
                },
                error: function(request, status, err) {
                    alert(status);
                    alert(err);
                },
                dataType: "html"
            });

            tabStrip.select(tabStrip.tabGroup.children("li").eq(0));
        }
    }

    function Search() {
        $('#divDetails').hide();
        return {
            IdContract: $('#IdContract').val(),
            IsActive: $('#IsActive').val(),
            ContractName: $('#ContractName').val(),
            Duration: $("#Duration").val(),
            StartDate: $("#StartDate").val(),
            EndDate: $("#EndDate").val()
        };
    }

    $(document).ready(function () {
        $('#divDetails').hide();

        @*loadTabs('@Model.IdContract');*@

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#ContractGrid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#divDetails').hide();
        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickContract", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("ContractDetails", "Contract", new { IdContract = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("ContractUpdate", "Contract", new { IdContract = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNewContract")) {
                link = "@Url.Action("ContractCreate", "Contract")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });

    function DeleteContract(cId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteContract", "Contract")",
                data: { idContract: cId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0) {
                        SetErrorMessage(result.Message);
                    } else {
                        $('#IdContract').val('');
                        var grid = $('#ContractGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                        $('#divDetails').hide();
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.Contract.ContractListModel>()
          .Name("ContractGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.IdContract).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(\"#=IdContract#\")' id='#=IdContract#'><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractDetails));
              columns.Bound(p => p.IdContract).ClientTemplate("<center><a class='details modalClickContract' id='#=IdContract#' frameTitle='" + @CommonUtility.GetResourceValue("Contract_PageTitle_Details") + "' href='/Contract/ContractDetails/#=IdContract#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractDetails));
              columns.Bound(p => p.IdContract).ClientTemplate("<center><a class='edit modalClickContract' id='#=IdContract#' frameTitle='" + @CommonUtility.GetResourceValue("Contract_PageTitle_Update") + "' href='/Contract/ContractUpdate/#=IdContract#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractUpdate));
              columns.Bound(o => o.IdContract).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Contract_PageTitle_Delete") + "' onclick='DeleteContract(\"#=IdContract#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractDelete));
              columns.Bound(p => p.IdContract).Width(250).Sortable(true);
              columns.Bound(p => p.ContractName).Width(250).Sortable(true);
              columns.Bound(p => p.Duration).Width(60).Sortable(true);
              columns.Bound(p => p.IsActiveName).Width(40).Sortable(true);
              columns.Bound(p => p.DocName).Width(80).Sortable(true);
              columns.Bound(p => p.StartDate).Format("{0:dd/MM/yyyy}").Width(80).Sortable(true);
              columns.Bound(p => p.EndDate).Format("{0:dd/MM/yyyy}").Width(80).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListContract", "Contract", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.IdContract).DefaultValue(-1)))

    )
</div>
<div id="divDetails">
    @(Html.Kendo().TabStrip()
          .Name("ContractDetails")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.Contract_PageTitle_ContractPartIndex).LoadContentFrom(Url.Action("ContractPartIndex", "ContractPart"))))
</div>
<div id="TabContent" style="padding-left: 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>
