@{
    ViewBag.Title = CommonUtility.GetResourceValue("Contract_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.Contract.ContractViewModel

<div class="labelDiv">@Html.LabelFor(v => v.IdContract)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IdContract)&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContractName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ContractName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StartDate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.EndDate) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Duration)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Duration) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DocName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<br />




