
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickCampaignDismantlePart createNewCampaignDismantlePart", CommonUtility.GetResourceValue("CampaignDismantlePart_PageTitle_Create"), CommonValues.PermissionCodes.CampaignDismantlePart.CampaignDismantlePartCreate)
@Html.AntiForgeryToken()
<br />
<div id="CampaignPartModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("CampaignDismantlePartModelWindow")
     .Draggable()
    .Resizable()
    .Width(940)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#CampaignDismantlePartGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
          )
</div>
<script>
    $(document).ready(function () {
        $("body").delegate(".modalClickCampaignDismantlePart", "click", function (e) {
            $('#CampaignDismantlePartModelWindow').html('');
            e.preventDefault();
            var link;
            var clickedId = $(this).attr("id");
            var idList = clickedId.split("$");
            var campaignCodeParam = idList[0];
            var partIdParam = idList[1];
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("CampaignDismantlePartDetails", "CampaignDismantlePart", new { campaignCode = -1, partId = -2 })";
                link = link.replace("-1", campaignCodeParam);
                link = link.replace("-2", partIdParam);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("CampaignDismantlePartUpdate", "CampaignDismantlePart", new { campaignCode = -1, partId = -2 })";
                link = link.replace("-1", campaignCodeParam);
                link = link.replace("-2", partIdParam);
            }
            else
            if ($(this).hasClass("createNewCampaignDismantlePart")) {
                link = "@Url.Action("CampaignDismantlePartCreate", "CampaignDismantlePart", new { campaignCode = Model.CampaignCode})";
            }
            $("#CampaignDismantlePartModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#CampaignDismantlePartModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            
            windowWidget.center();
            windowWidget.open();
           
        });

    });
    function DeleteCampaignDismantlePart(cCode, pId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
    DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteCampaignDismantlePart", "CampaignDismantlePart")",
            data: { campaignCode: cCode, partId: pId, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#CampaignDismantlePartGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
    });
}
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignDismantlePart.CampaignDismantlePartListModel>()
          .Name("CampaignDismantlePartGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.PartId).ClientTemplate("<center><a class='details modalClickCampaignDismantlePart' id='#=CampaignCode#" + "$" + "#=PartId#" + "'" + " frameTitle='" + @CommonUtility.GetResourceValue("CampaignDismantlePart_PageTitle_Details") + "' href='/CampaignDismantlePart/CampaignDismantlePartDetails/#=CampaignCode#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDismantlePart.CampaignDismantlePartDetails));
                  columns.Bound(p => p.PartId).ClientTemplate("<center><a class='edit modalClickCampaignDismantlePart' id='#=CampaignCode#" + "$" + "#=PartId#" + "'" + " frameTitle='" + @CommonUtility.GetResourceValue("CampaignDismantlePart_PageTitle_Update") + "' href='/CampaignDismantlePart/CampaignDismantlePartUpdate/#=CampaignCode#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDismantlePart.CampaignDismantlePartUpdate));
                  columns.Bound(o => o.PartId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CampaignPart_PageTitle_Delete") + "' onclick='DeleteCampaignDismantlePart(\"#=CampaignCode#\",#=PartId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignDismantlePart.CampaignDismantlePartDelete));
                  columns.Bound(p => p.PartName).Width(100).Sortable(true);
                  columns.Bound(p => p.PartCode).Width(100).Sortable(true);
                  columns.Bound(p => p.Note).Width(100).Sortable(true);
                  columns.Bound(p => p.CreateDate).Width(100).Sortable(true).Format("{0:dd/MM/yyyy}");
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCampaignDismantlePart", "CampaignDismantlePart", Model))
                                        .Model(model => model.Field(o => o.PartId).DefaultValue(-1)))

          )
</div>
