@model ODMSModel.CampaignDismantlePart.CampaignDismantlePartViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignVehicle_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignDismantlePartUpdate", "CampaignDismantlePart", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.CampaignCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(p => p.CampaignCode)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.PartTypeDesc)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(p => p.PartName)</div>
    
   
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(b => b.Note)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(b => b.Note, new { style = "width: 500px; height: 50px" })
        @Html.ValidationMessageFor(v => v.Note)
    </div>
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.CampaignDismantlePart.CampaignDismantlePartUpdate, "CampaignDismantlePartUpdate")
    @Html.HiddenFor(v => v.CampaignCode)
    @Html.HiddenFor(p => p.PartId)
    @Html.HiddenFor(p => p.PartName)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
