@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignDismantlePart_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.CampaignDismantlePart.CampaignDismantlePartViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.CampaignCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CampaignCode) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Note)</div>
<div class="shortTxtDiv">@Html.TextAreaFor(v => v.Note, new { @readonly = true, @style = "width: 500px; height: 50px" }) &nbsp;</div>
<br />




