@using ODMSCommon.Resources
@using ODMSModel.AppointmentIndicatorFailureCode;

@model ODMSModel.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeListModel

@{
    ViewBag.Title = MessageResource.AppointmentIndicatorFailureCode_PageTitle_Index;
}

 
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.IdAppointmentIndicatorFailureCode)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.Code).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCode", "AppointmentIndicatorFailureCode")).ServerFiltering(true)).Enable(true).AutoBind(true)</div>

        @*<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.Code).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CodeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>*@
        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

    </div>
</div>

@Html.HiddenFor(v => v.IdAppointmentIndicatorFailureCode)

@ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeIndex)
@ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.AppointmentIndicatorFailureCode_PageTitle_Create, CommonValues.PermissionCodes.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeCreate)
@Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
<br />
<div id="AppointmentIndicatorFailureCodeModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("AppointmentIndicatorFailureCodeModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#AppointmentIndicatorFailureCodeGrid').data('kendoGrid');
        grid.dataSource.page(1);
         var combo = $('#Code').data('kendoComboBox');
        combo.dataSource.read();

    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    
    function DeleteAppointmentIndicatorFailureCode(aId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAppointmentIndicatorFailureCode", "AppointmentIndicatorFailureCode")",
                data: { idAppIndFulerCode: aId , "__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppointmentIndicatorFailureCodeGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }


    $(document).ready(init);
    function GetParameters()
    {
        return {
            IsActive: $('#IsActive').val(),
            ReportType: 6,
            Columns: "AdminDesc,Code,Description"
            //IsActive: $('#IsActive').val()==""?null:( $('#IsActive').val() == "1" ? true : false)
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#AppointmentIndicatorFailureCodeGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#AppointmentIndicatorFailureCodeModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            @*if ($(this).hasClass("details") == true) {
                link = "@Url.Action("AppointmentIndicatorFailureCodeDetails", "AppointmentIndicatorFailureCode", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else*@ if ($(this).hasClass("edit")) {
                link = "@Url.Action("AppointmentIndicatorFailureCodeUpdate", "AppointmentIndicatorFailureCode", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("AppointmentIndicatorFailureCodeCreate", "AppointmentIndicatorFailureCode")";
                }
            $("#AppointmentIndicatorFailureCodeModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#AppointmentIndicatorFailureCodeModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
           
        });

        if (@ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId()>0) 
        {
            $(excelVisibility).css("display","none");
        }else {
            $(excelVisibility).css("display","block");
        }
    }

</script>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeListModel>()
          .Name("AppointmentIndicatorFailureCodeGrid")

          .Columns(columns =>
              {
                  // columns.Bound(p => p.IdAppointmentIndicatorFailureCode).ClientTemplate("<center><a class='details modalClick' id='#=IdCustomer#' frameTitle='" + CommonUtility.GetResourceValue("AppointmentIndicatorFailureCode_PageTitle_Details") + "' href='/CustomerDiscount/CustomerDiscountDetails/#=IdCustomer#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountDetails));
                  columns.Bound(p => p.IdAppointmentIndicatorFailureCode).ClientTemplate("<center><a class='edit modalClick' id='#=Code#' frameTitle='" + MessageResource.AppointmentIndicatorFailureCode_PageTitle_Update + "' href='/AppointmentIndicatorFailureCode/AppointmentIndicatorFailureCodeUpdate/#=Code#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeUpdate));
                  columns.Bound(o => o.IdAppointmentIndicatorFailureCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.AppointmentIndicatorFailureCode_PageTitle_Delete + "' onclick='DeleteAppointmentIndicatorFailureCode(\"#=IdAppointmentIndicatorFailureCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeDelete));
                  columns.Bound(p => p.Code).Sortable(true);
                  columns.Bound(p => p.AdminDesc).Sortable(true);
                  columns.Bound(p => p.Description).Sortable(true);
                  columns.Bound(p => p.IsActive).ClientTemplate("#if(IsActive){#" + MessageResource.Global_Display_Active + "#}else{#" + MessageResource.Global_Display_Passive + "#}#").Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListAppointmentIndicatorFailureCode", "AppointmentIndicatorFailureCode", Model).Data("GetParameters"))
                                        .Model(model => model.Field(o => o.IdAppointmentIndicatorFailureCode).DefaultValue(-1)))

          )
</div>
<br />
<div id="excelVisibility">
    <h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
    <div class="labelDiv" style="width:80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br />
        @using (Html.BeginForm("AppointmentIndicatorFailureCodeIndex", "AppointmentIndicatorFailureCode", FormMethod.Post))
        {
            @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
            <div id="divExcepUpload">
                @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
            </div>
        }
    </div>
 
</div>
