@using ODMSCommon.Resources
@model ODMSModel.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeViewModel

@{
    ViewBag.Title = MessageResource.AppointmentIndicatorFailureCode_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("AppointmentIndicatorFailureCodeUpdate", "AppointmentIndicatorFailureCode", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.Code)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Code)</div>  @Html.ValidationMessageFor(v => v.Code)
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc)</div>  @Html.ValidationMessageFor(v => v.AdminDesc)
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.DescriptionML)</div>
    <div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }
        @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    </div>
        
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.IdAppointmentIndicatorFailureCode)
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.AppointmentIndicatorFailureCode.AppointmentIndicatorFailureCodeUpdate, "AppointmentIndicatorFailureCodeUpdate")        
}
<script>
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
