@using ODMSCommon.Resources
@model ODMSModel.Proposal.CustomerChangeModel
<div>
    <div class="labelDiv"><label>@MessageResource.WorkOrder_Display_SelectedCustomerName</label></div>
    <div class="shortTxtDiv">@Model.CustomerName</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv"><label>@MessageResource.WorkOrder_Display_VehicleCustomerName</label></div>
    <div class="shortTxtDiv">@Model.VehicleCustomerName</div>
    <div class="clearDiv">&nbsp;</div>
</div>
<div>
    <div class="bold">@MessageResource.WorkOrder_Message_VehicleCustomerChange</div>
</div>
<hr />
<div class="bold">
    <button class="btn btn-success" onclick="SetProposalCustomer(@Model.VehicleCustomerId);">
        @MessageResource.WorkOrder_Display_KeepCurrentCustomer
    </button>
    &nbsp;
    <button class="btn btn-warning" onclick="SetProposalCustomer(@Model.CustomerId)">
        @MessageResource.WorkOrder_Display_ChangeToSelectedCustomer
    </button>
    &nbsp;
    <button class="btn btn-default" onclick="CloseCustomerChangeWindow();">
        @MessageResource.Global_Display_Cancel
    </button>
</div>


