@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.Proposal
@model ProposalViewModel
<style>
    #popupContent {
        width: 100% !important;
    }
</style>

<link href="~/Style/bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/odms.objectsearch.js"></script>
<script src="~/Scripts/custom.js"></script>
@Html.AntiForgeryToken()
<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(UserManager.UserInfo.GetUserDealerId() == 0)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AppointmentId)</div>
<div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Appointment, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Appointment, ReferenceObjectId = "AppointmentId", ReferenceObjectValue = Model.AppointmentId, ParentWindowId = "modelWindow", Required = false, SelectCallBackFunction = "GetProposalAppointmentData", ClearCallBackFunction = "ClearAppointmentData" }) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.VehicleId)</div>
<div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Vehicle, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Vehicle, ReferenceObjectId = "VehicleId", ReferenceObjectValue = null, ParentWindowId = "modelWindow", Required = true, SelectCallBackFunction = "GetProposalVehicleData", ClearCallBackFunction = "ClearVehicleData" }) @Html.ValidationMessageFor(c => c.VehicleId)</div>
<div class="labelDiv">@Html.LabelFor(c => c.CustomerId)</div>
<div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ReferenceObjectValue = null, ParentWindowId = "modelWindow", Required = true, SelectCallBackFunction = "GetProposalCustomerData", ClearCallBackFunction = "ClearCustomerData" }) @Html.ValidationMessageFor(c => c.CustomerId)</div>
<div class="labelDiv">@Html.LabelFor(c => c.AppointmentTypeId)</div>
<div class="shortTxtDiv">
    @(Html.Kendo().ComboBox()
                               .Name("AppointmentTypeId")
                               .HtmlAttributes(new { style = "width:150px" })
                               .Placeholder(MessageResource.Global_Display_Select)
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .Filter(FilterType.Contains)
                               .BindTo(ViewBag.AppointmentTypeList)
) @Html.ValidationMessageFor(v => v.AppointmentTypeId)
</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.CustomerName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.CustomerName, new { @disabled = "disabled" }) @Html.ValidationMessageFor(v => v.CustomerName) </div>
<div class="labelDiv">@Html.LabelFor(c => c.CustomerSurName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.CustomerSurName, new { @disabled = "disabled" }) @Html.ValidationMessageFor(v => v.CustomerSurName) </div>
<div class="labelDiv">@Html.LabelFor(c => c.CustomerPhone)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.CustomerPhone, new { @disabled = "disabled" }) @Html.ValidationMessageFor(v => v.CustomerPhone) </div>
<div class="clearDiv">&nbsp;</div>

@*<div class="labelDiv">@Html.LabelFor(c => c.VehiclePlate)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehiclePlate,new {@disabled="disabled"}) @Html.ValidationMessageFor(v => v.VehiclePlate) </div>*@
<div class="labelDiv">@Html.LabelFor(c => c.VehicleModel)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleModel, new { @disabled = "disabled" }) @Html.ValidationMessageFor(v => v.VehicleModel) </div>
<div class="labelDiv">@Html.LabelFor(c => c.VehicleTypeName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleTypeName, new { @disabled = "disabled" }) @Html.ValidationMessageFor(v => v.VehicleTypeName) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.Stuff)</div>
<div class="shortTxtDiv">
    @(Html.Kendo().ComboBox()
                               .Name("Stuff")
                               .HtmlAttributes(new { style = "width:150px" })
                               .Placeholder(MessageResource.Global_Display_Select)
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .Filter(FilterType.Contains)
                               .BindTo(ViewBag.StuffList))
@Html.ValidationMessageFor(c => c.Stuff)
</div>
<div class="labelDiv">@Html.LabelFor(c => c.Note)</div>

<div class="shortTxtDiv" style="width:440px">@Html.TextAreaFor(c => c.Note, new { style = "width:400px; height: 80px;" }) @Html.ValidationMessageFor(c => c.Note) </div>
<div class="clearDiv">&nbsp;</div>
@Html.HiddenFor(c => c.DealerId)
<script id="warning-modal" type="text/x-kendo-template">
    <div class="alert alert-warning">
        <div style="width:500px">
            <span class="glyphicon glyphicon-warning-sign"></span><p class="warning-message" style="font-weight:bold"></p>
            <p style="text-align:right">
                <button class="warning-ok btn btn-warning">@MessageResource.Global_Display_Ok</button>
            </p>
        </div>
    </div>
</script>

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    function GetProposalAppointmentData() {
        ClearAppointmentData();
        mvc.build('@Url.Action("GetProposalData","Proposal_")', null, null, { id: $('#AppointmentId').val(), type: 'Appointment' }, false, "json");
        mvc.post(null, function(json) {
            SetAppointmentValues(json);
        }, null);
    }
    function GetProposalVehicleData() {
        ClearVehicleData();
        mvc.build('@Url.Action("GetProposalData","Proposal_")', null, null, { id: $('#VehicleId').val(), type: 'Vehicle' }, false, "json");
        mvc.post(null, function (json) {
            SetVehicleValues(json);
        }, null);
    }
    function GetProposalCustomerData() {
        ClearCustomerData();
        mvc.build('@Url.Action("GetProposalData","Proposal_")', null, null, { id: $('#CustomerId').val(), type: 'Customer' }, false, "json");
        mvc.post(null, function (json) {
            SetCustomerValues(json);
        }, null);
    }
    function SetAppointmentValues(json) {
        ClearAppointmentData();
        $("#CustomerId").val(json.CustomerId);
        $("#CustomerName").val(json.CustomerName);
        $("#CustomerSurName").val(json.CustomerSurName);
        $("#CustomerPhone").val(json.CustomerPhone);
        $("#VehicleId").val(json.VehicleId);
        $("#VehicleModel").val(json.VehicleModel);
        $("#VehiclePlate").val(json.VehiclePlate);
        $("#VehicleTypeName").val(json.VehicleTypeName);
        $("#Note").val(json.Complaint);
        $("#CustomerIdTextContainer").val(json.CustomerName + " " + json.CustomerSurName);
        $('#VehicleIdTextContainer').val(json.VehiclePlate +"-"+json.VehicleVin);//plate

        //appointmenttype
        if (json.AppointmentTypeId != "") {
            var AppointmentTypeCombo = $("#AppointmentTypeId").data("kendoComboBox");
            AppointmentTypeCombo.select(function (dataItem) {
                return dataItem.Value == json.AppointmentTypeId;
            });
        }
        //customer
        if (json.CustomerId == "") {
            ShowWarningMessage("@MessageResource.WorkOrder_Message_CustomerNotFoundInAppointment");
        }
        //vehicle
        if (json.VehicleId == "") {
            ShowWarningMessage("@MessageResource.WorkOrder_Message_VehicleNotFoundInAppointment");
        }
    }
    function SetVehicleValues(json) {
        ClearVehicleData();
        ClearCustomerData();
        $("#VehicleModel").val(json.VehicleModel);
        $("#VehiclePlate").val(json.VehiclePlate);
        $("#VehicleTypeName").val(json.VehicleType);
        $("#CustomerId").val(json.CustomerId);
        $("#CustomerName").val(json.CustomerName);
        $("#CustomerSurName").val(json.CustomerSurName);
        $("#CustomerPhone").val(json.CustomerPhone);
        if (json.CustomerId == "") {
            ShowWarningMessage("@MessageResource.WorkOrder_Message_CustomerNotFoundInVehicle");
        }
    }
    function SetCustomerValues(json) {
        ClearCustomerData();
        $("#CustomerName").val(json.CustomerName);
        $("#CustomerSurName").val(json.CustomerSurName);
        $("#VehicleTypeName").val(json.VehicleType);
    }
    $(document).ready(function () {

        $("#CustomerPhone").mask("(999) 999 99 99", { placeholder: " " });

        $('form').each(function() {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
    function ClearAppointmentData() {
        ClearFleetId();
        $("#CustomerId").val('0');
        $("#CustomerName").val('');
        $("#CustomerSurName").val('');
        $("#CustomerPhone").val('');
        $("#VehicleId").val('0');
        $("#VehicleModel").val('');
        $("#VehiclePlate").val('');
        $("#VehicleTypeName").val('');
        $("#Note").val('');
        var AppointmentTypeCombo = $("#AppointmentTypeId").data("kendoComboBox");
        AppointmentTypeCombo.select(function (dataItem) {
            return dataItem.Value == "";
        });
    }
    function ClearVehicleData() {
        ClearFleetId();
       // $("#VehicleId").val('0');
        $("#VehicleModel").val('');
        $("#VehiclePlate").val('');
        $("#VehicleTypeName").val('');
    }
    function ClearCustomerData() {
        ClearFleetId();
        //$("#CustomerId").val('0');
        $("#CustomerName").val('');
        $("#CustomerSurName").val('');
        $("#CustomerPhone").val('');
    }
    var cnt = 0;
    function ShowWarningMessage(msg) {
        cnt++;
        var id='warning-div-'+cnt;
        var kendoWindow = $("<div id='"+id+"'/>").kendoWindow({
            title: "@MessageResource.Global_Display_Warning",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#warning-modal").html())
            .center().open();
        $(".warning-message", '#' + id).append(msg);
        kendoWindow
            .find(".warning-ok")
            .click(function () {
                kendoWindow.data("kendoWindow").destroy();
            })
            .end();
    }

</script>
