@using ODMSCommon.Resources
@model ODMSModel.ProposalCard.ProposalCardModel
<div class="panel-group" id="accordion" style="margin-bottom: 5px;">

    <div class="panel panel-default ">
        <div class="panel-heading">
            <a class="k-link" data-parent="#accordion" data-target="#collapseVehicle">
                <strong style="font-size: 16px;">
                    @MessageResource.Appointment_Display_Vehicle
                </strong>
            </a>
        </div>
        <div id="collapseVehicle" class="panel-body" style="">
            <table class="table table-bordered table-zipped">
                <tbody>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Appointment_Display_VehicleModel :</th>
                        <td class="col-md-3">@Model.Vehicle.VehicleModel</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Appointment_Display_VehicleType :</th>
                        <td class="col-md-3">@Model.Vehicle.VehicleType</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.VehicleCode_Display_Kod :</th>
                        <td class="col-md-3">@Model.Vehicle.VehicleCode</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Vehicle_Display_Plate:</th>
                        <td class="col-md-3">@Model.Vehicle.Plate</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Vehicle_Display_VinNo :</th>
                        <td class="col-md-3">@Model.Vehicle.VinNo</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Vehicle_Display_EngineNo :</th>
                        <td class="col-md-3">@Model.Vehicle.EngineNo</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Vehicle_Display_WarrantyStatus :</th>
                        <td class="col-md-3">
                            @if (Model.Vehicle.WarrantyStartDate.HasValue)
                            {
                                if (Model.Vehicle.WarrantyStatus)
                                {
                                    <text>@MessageResource.WorkOrderCard_Display_VehicleWarranty</text>
                                }
                                else
                                {
                                    <text>@MessageResource.WorkOrderCard_Display_VehicleOutOfWarranty</text>
                                }
                            }
                            else
                            {
                                @Html.Raw("-")
                            }

                        </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyStartDate :</th>
                        <td class="col-md-3">
                            @if (Model.Vehicle.WarrantyStartDate != default(DateTime))
                            {
                                @Model.Vehicle.WarrantyStartDate.GetValueOrDefault().ToString("dd/MM/yyyy").Replace(".", "/")
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyEndDate :</th>
                        <td class="col-md-3">
                            @if (Model.Vehicle.WarrantyEndDate != default(DateTime))
                            {
                                @Model.Vehicle.WarrantyEndDate.GetValueOrDefault().ToString("dd/MM/yyyy").Replace(".", "/")
                            }
                            else
                            {
                                @Html.Raw("-")
                            }

                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_PaintWarrantyEndDate :</th>
                        <td class="col-md-3">
                            @if (Model.Vehicle.PaintWarrantyEndDate.HasValue && Model.Vehicle.PaintWarrantyEndDate != default(DateTime))
                            {
                                @Model.Vehicle.PaintWarrantyEndDate.GetValueOrDefault().ToString("dd/MM/yyyy").Replace(".", "/")
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_CorrosionWarrantyEndDate :</th>
                        <td class="col-md-3">
                            @if (Model.Vehicle.CorrosionWarrantyEndDate.HasValue && Model.Vehicle.CorrosionWarrantyEndDate != default(DateTime))
                            {
                                @Model.Vehicle.CorrosionWarrantyEndDate.GetValueOrDefault().ToString("dd/MM/yyyy").Replace(".", "/")
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Vehicle_Display_VehicleKilometer :</th>
                        <td class="col-md-3">@Model.Vehicle.VehicleKilometer</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            @MessageResource.WorkOrderCard_Display_VehicleLocation
                        </th>

                        <td class="col-md-3">@Model.Vehicle.Location</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_VehicleResponsible :</th>
                        <td class="col-md-3">  @Model.Vehicle.ResponsiblePerson</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_VehicleResponsiblePhone :</th>
                        <td class="col-md-3">  @Model.Vehicle.ResponsiblePersonPhone</td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default ">
        <div class="panel-heading">

            <a class="k-link">
                <strong style="font-size: 16px;">
                    @MessageResource.Appointment_Display_Customer
                </strong>
            </a>
        </div>
        <div class="panel-body " id="collapseCustomer">
            <table class="table table-bordered table-zipped">
                <tbody>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.CustomerAddress_Display_CustomerName :</th>
                        <td class="col-md-3">@Model.Customer.CustomerName</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Customer_Display_TCIdentityNo :</th>
                        <td class="col-md-3">@Model.Customer.TcIdentityNo</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Proposal_Display_ResponsibleConsultant :</th>
                        <td class="col-md-3">@Model.Customer.Staff</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.WorkOrderCard_Display_ContactInfo :</th>
                        <td class="col-md-3">@Model.ContactInfo</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Customer_Display_TaxOffice :</th>
                        <td class="col-md-3">@Model.Customer.TaxOffice</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.Dealer_Display_TaxNo :</th>
                        <td class="col-md-3">@Model.Customer.TaxNo</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="glyphicon glyphicon-chevron-right"></i>@MessageResource.User_Display_Address :</th>
                        <td colspan="5" class="col-md-11">@Model.Customer.CustomerAddress </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
