@model ProposalListModel
@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.Proposal


@{
    ViewBag.Title = MessageResource.Proposal_PageTitle_Index;
}
@*search start*@
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">
            <label>@Html.LabelFor(v => v.ProposalDate)</label></div>
        <div class="shortTxtDiv">@Html.Kendo().DatePicker().Name("StartDate").Events(c => c.Open("OpenStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }) </div>
        <div class="labelDiv"><label>@MessageResource.Proposal_Display_ProposalEndDate</label></div>
        <div class="shortTxtDiv">@Html.Kendo().DatePicker().Name("EndDate").Max(DateTime.Now).Events(c => c.Open("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }) </div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.VehicleType)</label></div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleType).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VehicleTypeList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.DealerName)</label></div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(UserManager.UserInfo.IsDealer == false)</div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.ProposalStatusId)</label></div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ProposalStatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ProposalStatusList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Value("1")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv"><label>@MessageResource.Proposal_Display_ProposalNumber</label></div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ProposalId, new { @Value = "", @type = "number", @class = "proposalNumber", @min = "0" }) </div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.CustomerName)</label></div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.CustomerName) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.VinNo)</label></div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.VinNo) </div>
        <div class="labelDiv"><label>@Html.LabelFor(v => v.VehiclePlate)</label></div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.VehiclePlate, new { @onkeyup = "InputToUpperWithoutWhiteSpace(this);" })</div>






        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@*serach end*@
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.Proposal.ProposalIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("Proposal_PageTitle_Create"), CommonValues.PermissionCodes.Proposal.ProposalCreate)

@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proposal.ProposalExcelExport))
{
 @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}


    @*grid start*@
    <div class="kendoGridDiv" id="grd">
        @(Html.Kendo().Grid<ProposalListModel>()
          .Name("grid")

          .Columns(columns =>
          {
              columns.Bound(c => c.SparePartSaleId).Visible(false);
              columns.Bound(c => c.WorkOrderId).ClientTemplate("#if(ProposalStatusId == 6 && WorkOrderId != ''){#" + String.Format("<center><a class='k-link' target='_blank' href='{0}/#=WorkOrderId#'>#=WorkOrderId#</a></center>", Url.Action("WorkOrderCardIndex", "WorkOrderCard")) + "#}else if(ProposalStatusId == 7 && SparePartSaleId != ''){#" + String.Format("<center><a class='k-link' target='_blank' href='{0}?sparePartSaleId=#=SparePartSaleId#'>#=SparePartSaleId#</a></center>", Url.Action("SparePartSaleIndex", "SparePartSale")) + "#}#").Width(90);
              columns.Bound(b => b.IsConvert).ClientTemplate("#if(IsConvert == 0 && ProposalStatusId == 4)" +
                                                            "{#<center><a href='javascript:void(0);' frameTitle='"
                  + MessageResource.Global_Display_Convert
                  + "' onclick='ConvertProposalCardToWorkOrderCard(this,#=ProposalId#,#=ProposalSeq#);'><img class='iconLink' style=\"width:20px; height:20px;\" src='"
                  + Url.Content("~/Images/choose.ico") + "'/></a></center>#}#").Title(MessageResource.Global_Display_Convert).Width(80).Sortable(false);
              // columns.Bound(p => p.IsConvertText).Width(130).Sortable(true).HtmlAttributes(new { style="text-align:center;"});
              columns.Bound(p => p.ProposalId).ClientTemplate("<center><a class='' id='#=ProposalId#' href='" + Url.Action("ProposalCardIndex", "Proposal_Card") + "?id=#=ProposalId#&seq=#=ProposalSeq#'>#=ProposalId#</a></center>").Title(CommonUtility.GetResourceValue("User_Display_ProposalId")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proposal.ProposalIndex));
              columns.Bound(p => p.ProposalSeq).Width(60).HtmlAttributes(new { style = "text-align:center;" });
              columns.Bound(p => p.ProposalId).ClientTemplate("<center><a class='details modalClick' id='#=ProposalId#' frameTitle='" + CommonUtility.GetResourceValue("Proposal_PageTitle_Details") + "'href='" + Url.Action("ProposalDetails", "Proposal_") + "?id=#=ProposalId#&seq=#=ProposalSeq#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proposal.ProposalDetails));
              columns.Bound(p => p.ProposalDate).Width(100).Sortable(true).Format("{0:dd/MM/yyyy}");
              columns.Bound(p => p.CustomerName).Width(100).Sortable(true);
              columns.Bound(p => p.VehiclePlate).Width(80).Sortable(true);
              columns.Bound(p => p.VinNo).Width(120).Sortable(true);
              columns.Bound(p => p.EngineNo).Width(120).Sortable(true);
              columns.Bound(p => p.VehicleModel).Width(120).Sortable(true);
              columns.Bound(p => p.VehicleType).Width(120).Sortable(true);
              columns.Bound(p => p.VehicleCode).Width(120).Sortable(true);
              columns.Bound(p => p.WarrantyStartDate).Width(80).Sortable(true).Format("{0:dd/MM/yyyy}"); ;
              columns.Bound(p => p.WarrantyEndDate).Width(80).Sortable(true).Format("{0:dd/MM/yyyy}"); ;
              columns.Bound(p => p.WarrantyEndKilometer).Width(80).Sortable(true);
              columns.Bound(p => p.ProposalStatus).Width(120).Sortable(true);
              columns.Bound(p => p.ProposalStatusId).Visible(false);
              columns.Bound(p => p.DealerName).Width(120).Sortable(false).Visible(UserManager.UserInfo.IsDealer == false);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListProposal", "Proposal_", Model).Data("GetParameters"))
                                        .Model(model => model.Field(o => o.ProposalId).DefaultValue(-1)))

        )
    </div>
    @*grid end*@

    @*modelWindow start*@
    <div id="modelWindowDiv">
        @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(1400)
    .Height(570)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.read();
    }"))
        )
    </div>
    @*modelWindow end*@


    @*scripts start*@
    @section Scripts{
        <script type="text/javascript">
            
            function GetParameters() {
                return {
                    CustomerName: $('#CustomerName').val(),
                    VehiclePlate: $('#VehiclePlate').val(),
                    DealerId: $('#DealerId').val(),
                    ProposalId : $('#ProposalId').val(),
                    ProposalStatusId: $('#ProposalStatusId').val(),
                    VinNo: $('#VinNo').val(),
                    VehicleType: $('#VehicleType').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    ReportType:49,
                    Columns: "WorkOrderId,IsConvertText,ProposalId,ProposalSeq,ProposalDate,CustomerName,VehiclePlate,VinNo,EngineNo,VehicleModel,VehicleType,VehicleCode,WarrantyStartDate,WarrantyEndDate,WarrantyEndKilometer,ProposalStatus,DealerName"
                };
            }

            $(document).ready(init);




            function init() {

                PrepareDatePickers();

                $("body").delegate("#btnSearch", "click", function (e) {
                    var grid = $('#grid').data('kendoGrid');
                    grid.dataSource.page(1);

                });
                $("body").delegate("#showSearch", "click", function (e) {
                    var IsVisible = Boolean($(this).hasClass("searchVisible"));

                    if (!IsVisible) {
                        $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                        $(this).addClass("searchVisible");
                        $("#searchDiv").show("slow");
                    } else {
                        $(this).html("@MessageResource.Global_Display_Search_Criteria");
                        $(this).removeClass("searchVisible");
                        $("#searchDiv").hide("slow");
                    }
                });
                $("body").delegate(".modalClick", "click", function (e) {
                    $('#modelWindow').html('');
                    e.preventDefault();

                    var link;
                    //var clickedId = $(this).attr("id");
                    //var clikedSeq = $(this).attr("seq");
                    var frameTitle = $(this).attr("frameTitle");
                    if ($(this).hasClass("details") == true) {
                        link = $(this).attr("href");
                        @*link = "@Url.Action("ProposalDetails", "Proposal", new { id = -1,seq= -2 })";
                        link = link.replace("-1", clickedId);
                        link = link.replace("-2", clikedSeq);*@
                    } @*else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("ProposalUpdate", "Proposal", new {id = -1})";
                    link = link.replace("-1", clickedId);
                }*@ else if ($(this).hasClass("createNew")) {
                        link = "@Url.Action("ProposalCreate", "Proposal_")";
                    }
                    $("#modelWindow_wnd_title").html(frameTitle);

                    var windowWidget = $("#modelWindow").data("kendoWindow");
                    var closeOrigin = windowWidget.close;

                    windowWidget.refresh({
                        url: link
                    }).center();
                    windowWidget.center();
                    windowWidget.open();
                    //$('.k-overlay').unbind('click');
                    //$('.k-overlay').click(function() {
                    //    var popup = $("#modelWindow").data("kendoWindow");
                    //    if (popup)
                    //        popup.close();
                    //    $('#modelWindow').html('');
                    //});
                });
            }

            function ConvertProposalCardToWorkOrderCard(obj, ProposalId, seq) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ConvertProposalCard", "Proposal_")",
                    data: { ProposalId: ProposalId, "__RequestVerificationToken": token, seq: seq },
                    traditional: true,
                    success: function (result) {
                        //console.log(result);
                        if (result.Status == 0){
                            SetErrorMessage(result.Message);
                            //window.location.reload();
                        }
                        else {
                            SetSuccessMessage(result.Message);
                            window.location.reload();
                        }
                    },
                    dataType: "json"
                });
            }


            @* function DeleteProposal(id) {
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProposalDelete","Proposal")",
                    data: { id:id },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }*@
            @*function RefreshProposal(obj) {
                $(obj).addClass("hide");
                $(obj).next(".ajax-loading").removeClass("hide");
                var wrapper = $('#ProposalDetails');
                $.post(
                    "@Html.Raw(Url.Action("GetProposalDetails", new { ProposalId = Model.ProposalId, vehicleId = Model.Vehicle.VehicleId, vehicleLeave = Model.VehicleLeaveDate.HasValue,seq =Model.ProposalSeq }))",

                    null,
                function(html) {
                    wrapper.html(html);
                    $.validator.unobtrusive.parse(wrapper);
                    EnableClicks();
                    //stickIt();
                    $(obj).next(".ajax-loading").addClass("hide");
                    $(obj).removeClass("hide");
                }, "html");


            }*@
        </script>
        <script src="~/Scripts/custom.js"></script>
    }
    @*scripts end*@

<style>
    .proposalNumber {
        width: 200px !important;
        border: 1px solid #c6c5c5 !important;
        padding: 2px 0 !important;
        outline: transparent none !important;
        border-radius: 4px !important;
    }
</style>