@{
    ViewBag.Title = CommonUtility.GetResourceValue("DealerUser_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.User.UserIndexViewModel
 
<div style="position: absolute; right: 10px; top: 10px;">@Html.EditorForModel("UserPhoto", new { DocId = @Model.PhotoDocId })</div>

<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.RoleTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.RoleTypeName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UserCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UserCode) &nbsp;</div>
@if (Model.TCIdentityNo.HasValue && Model.TCIdentityNo > 0)
{
    <div class="labelDiv">@Html.LabelFor(v => v.TCIdentityNo)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.TCIdentityNo) &nbsp;</div>

}
else
{
    <div class="labelDiv">@Html.LabelFor(v => v.PassportNo)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.PassportNo) &nbsp;</div>
}
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UserFirstName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UserFirstName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UserMidName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UserMidName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UserLastName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UserLastName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.EmploymentDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.EmploymentDate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UnemploymentDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UnemploymentDate) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Phone)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Phone) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Extension)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Extension) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Mobile)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Mobile) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.EMail)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.EMail) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Sex)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Sex) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.MaritalStatus)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MaritalStatus) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.BirthDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.BirthDate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Address)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Address) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.LanguageCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.LanguageCode) &nbsp;</div>
<br />



<script type="text/javascript">
    $(function () {
        AdjustPage();
    });

    function AdjustPage() {
        $("#popupContentWrapper").css("height", 640);
    }
</script>
