@using ODMSCommon.Resources
@model ODMSModel.User.UserIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("User_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.UserCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.UserCode) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.UserFirstName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.UserFirstName) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.UserLastName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.UserLastName) </div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IdentityNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.IdentityNo) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.SearchIsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SearchIsActive).BindTo(ViewBag.ActivePassiveList as List<SelectListItem>).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_All)  </div>
        <div class="labelDiv">@Html.LabelFor(v => v.RoleTypeName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.RoleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.RoleTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>


        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.Sex)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SexId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SexList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.MaritalStatus)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MaritalStatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.MaritalStatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))  </div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.User.UserDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("User_PageTitle_Create"), CommonValues.PermissionCodes.User.UserCreate)
@Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
                .Name("modelWindow")
             .Draggable()
            .Resizable()
            .Width(950)
            .Height(700)
            .Visible(false)
            .Modal(true)
            .Iframe(true)
            .Events(ev => ev.Close(@"function(e){
     var grid = $('#grid').data('kendoGrid');
    grid.dataSource.page(1);
}"))
    )
</div>
<script>
    function GetParameters() {

        return {
            ReportType: 14,
            Columns: "DealerName,UserCode,UserFirstName,UserLastName,IdentityNo,EMail,IsActiveName",
            UserCode: $('#UserCode').val(),
            UserFirstName: $("#UserFirstName").val(),
            UserLastName: $("#UserLastName").val(),
            IdentityNo: $('#IdentityNo').val(),
            SearchIsActive: $('#SearchIsActive').val(),
            RoleTypeId: $('#RoleTypeId').val(),
            DealerId: $('#DealerId').val(),
            SexId: $('#SexId').val(),
            MaritalStatusId: $('#MaritalStatusId').val(),
            IsTechnician:0
        };
    }
    $(document).ready(function () {

        $('#divDetails').hide();
        if (parseInt (@Model.UserId) != 0) {
            ShowTabs(@Model.UserId);
        }

        $("body").delegate("#btnSearch", "click", function (e) {
            $('#divDetails').hide();
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("UserDetails", "User", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("UserUpdate", "User", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("UserCreate", "User")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteUser(uId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

    DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteUser", "User")",
            data: { userId: uId, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#grid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
    });
    }
    function ShowTabs(id) {
        $('#divDetails').show();
        //$('#TabContent').html('');
        //$("#Tabs").data("kendoTabStrip").select(0);
        LoadTabContent('@Url.Action("UserChangePassword", "User")', id);
    }
    function LoadTabContent(url, userId) {
        $('#TabContent').html('');
        $.ajax({
            type: "GET",
            url: url + '/?userId=' + userId,
            data: {},
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#TabContent').html(result);
            },
            error: function (request, status, err) {
                //console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
    }
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.ListModel.UserListModel>()
                  .Name("grid")

                  .Columns(columns =>
                      {
                          columns.Bound(p => p.UserId).ClientTemplate("<center><a class='loadTab' onclick='ShowTabs(#=UserId#);' id='#=UserId#'><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.User.UserUpdate));
                          columns.Bound(p => p.UserId).ClientTemplate("<center><a class='details modalClick' id='#=UserId#' frameTitle='" + @CommonUtility.GetResourceValue("User_PageTitle_Details") + "' href='/User/UserDetails/#=UserId#'><img class='iconLink' src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.User.UserDetails));
                          columns.Bound(p => p.UserId).ClientTemplate("<center><a class='edit modalClick' id='#=UserId#' frameTitle='" + @CommonUtility.GetResourceValue("User_PageTitle_Update") + "' href='/User/UserUpdate/#=UserId#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.User.UserUpdate));
                          columns.Bound(o => o.UserId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("User_PageTitle_Delete") + "' onclick='DeleteUser(#=UserId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.User.UserDelete));
                          columns.Bound(p => p.DealerName).Width(300).Sortable(true);
                          columns.Bound(p => p.UserCode).Width(100).Sortable(true);
                          columns.Bound(p => p.UserFirstName).Width(140).Sortable(true);
                          columns.Bound(p => p.UserLastName).Sortable(true);
                          columns.Bound(p => p.IdentityNo).Sortable(true);
                          columns.Bound(p => p.EMail).Sortable(true);
                          columns.Bound(p => p.IsActiveName).Sortable(true);

                      })
                  .Pageable()
                  .Sortable()
                  .Scrollable()


                  .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .ServerOperation(true)
                                                .Read(read => read.Action("ListUser", "User", Model).Data("GetParameters"))
                                                .Model(model => model.Field(o => o.UserId).DefaultValue(-1)))

    )
</div>
@*tab content start*@
<div id="divDetails" style="margin-top: 20px;">
    @(Html.Kendo().TabStrip()
                  .Name("Tabs")
                  .Items(tabstrip => tabstrip.Add().Text(MessageResource.User_PageTitle_ChangePassword).Selected(true).HtmlAttributes(new { onclick = "LoadTabContent('" + Url.Action("UserChangePassword", "User") + "');" }))
    )
    <div id="TabContent" style="padding: 0 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>
</div>
@*tab content end*@