@model ODMSModel.User.UserIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("User_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
    
}

<script src="~/Scripts/jquery.maskedinput.js"></script>
 
@using (Html.BeginForm("UserTCIdentityConfirm", "User", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.IdentityNoControl)</div>
    <input type="text" id="IdentityNoControl" style="border:1px #9a9a9a solid !important;" name="IdentityNoControl" />
    @*@Html.TextBoxFor(p => p.IdentityNoControl)*@
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.UserId)
    @Html.HiddenFor(v => v.Index)
}
@ODMSHelpers.Button("Confirm" + @Model.Index, CommonUtility.GetResourceValue("Global_Display_Confirm"), "", "UserTCIdentityConfirm", "CompleteConfirm()")

<script src="~/Scripts/custom.js"></script>

<script type="text/javascript">
    function CompleteConfirm() {
        if('@Model.Index' == '1')
            window.parent.SetTCIdentityConfirmationResultTech('@Model.TCIdentityNo' == $('#IdentityNoControl').val() || '@Model.PassportNo' == $('#IdentityNoControl').val());
        if ('@Model.Index' == '2')
            window.parent.SetTCIdentityConfirmationResultDet('@Model.TCIdentityNo' == $('#IdentityNoControl').val() ||  '@Model.PassportNo' == $('#IdentityNoControl').val());
        if('@Model.Index' == '3')
            window.parent.SetTCIdentityConfirmationResult('@Model.TCIdentityNo' == $('#IdentityNoControl').val() ||  '@Model.PassportNo' == $('#IdentityNoControl').val());
    }
    $(document).ready(function () {
        $("#popupContent").css("width", 440);
        $("#popupContent").css("height", 240);
        $("#popupContentWrapper").css("min-height", 250);
        $("#popupContentWrapper").css("width", 450);

            $('form').each(function () {
                var validator = $(this).data('validator');
                if (validator && validator.settings) {
                    validator.settings.ignore = "";
                }
            });
    });
</script>
