@model ODMSModel.LabourSubGroup.LabourSubGroupViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("LabourSubGroup_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("LabourSubGroupUpdate", "LabourSubGroup", FormMethod.Post))
{
    
    @Html.HiddenFor(x => x.SubGroupId)
    @Html.HiddenFor(x => x.MainGroupId)

    <div class="labelDiv">@Html.LabelFor(v => v.SubGroupId)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.SubGroupId)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.LabourSubGroupName)</div>
    <div class="shortTxtDiv">
        <div style="float: left; width: 70%">
            @{
                Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
                @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
            }
        </div>
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.Description)
        @Html.ValidationMessageFor(v => v.Description)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)</div>


    <div class="clearDiv">&nbsp;</div>

    <div class="shortTxtDiv">
        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.LabourSubGroup.LabourSubGroupUpdate, "LabourSubGroupUpdate")
    </div>
}

<script>

    $(document).ready(function () {
        $("#MainGroupId").prop('readonly', true);
    });

    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 550);
    }
</script>



