@using ODMSCommon.Resources
@using ODMSModel.LabourSubGroup
@model LabourSubGroupListModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("LabourSubGroup_PageTitle_Index");
}

<script>

    //SearchScript
    $(document).ready(function () {
        
        //Popup
        $("body").delegate(".modalClickSubGroup", "click", function (e) {
            $('#modelWindowSubGroup').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");

            var lines = clickedId.split(',');

            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("LabourSubGroupDetail", "LabourSubGroup")";
                link = link + "/?mainId=" + lines[0] + "&subId=" + lines[1];
            }            
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("LabourSubGroupUpdate", "LabourSubGroup")";
                link = link + "/?mainId=" + lines[0] + "&subId=" + lines[1];
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("LabourSubGroupCreate", "LabourSubGroup")";
                link = link + "/?mainId=" + "@Model.MainGroupId";

                //////console.log(link);
            }

            $("#modelWindowSubGroup_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowSubGroup").data("kendoWindow");

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

    });

    function Delete(mainId, subId) {
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("LabourSubGroupDelete", "LabourSubGroup")",
                data: { mainId: mainId, subId: subId },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#LabourSubGroupGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

</script>

@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickSubGroup createNew", CommonUtility.GetResourceValue("LabouSubGroup_PageTitle_Create"), CommonValues.PermissionCodes.LabourSubGroup.LabourSubGroupCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<LabourSubGroupListModel>()
          .Name("LabourSubGroupGrid")
          .Columns(columns =>
    {
        columns.Bound(p => p.SubGroupId).ClientTemplate("<center><a class='details modalClickSubGroup' id='#=MainGroupId#,#=SubGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("LabouSubGroup_PageTitle_Details") + "' href='./LabouSubGroup/?mainId=#=MainGroupId#&subId=#=SubGroupId#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.LabourSubGroup.LabourSubGroupDetail)).Width(10);
        columns.Bound(p => p.SubGroupId).ClientTemplate("<center><a class='edit modalClickSubGroup' id='#=MainGroupId#,#=SubGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("LabouSubGroup_PageTitle_Update") + "' href='./LabouSubGroup/?mainId=#=MainGroupId#&subId=#=SubGroupId#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.LabourSubGroup.LabourSubGroupUpdate)).Width(10);
        columns.Bound(o => o.SubGroupId).ClientTemplate("<center><a onclick='Delete(#=MainGroupId#,#=SubGroupId#)' href='javascript:void(0);' id='#=MainGroupId,SubGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("LabouSubGroup_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.LabourSubGroup.LabourSubGroupDelete)).Width(10);
        columns.Bound(p => p.SubGroupId).Width(50).Sortable(true);
        columns.Bound(p => p.LabourSubGroupName).Width(400).Sortable(true);
        columns.Bound(p => p.Description).Width(400).Sortable(true);
        columns.Bound(p => p.StateName).Width(10).Sortable(true);
    })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("Read", "LabourSubGroup", Model))
              .Model(model => model.Field(o => o.MainGroupId).DefaultValue(-1)))

    )
</div>
<br />
<h4>@Html.Raw(MessageResource.LabourSubGroup_Display_UploadFromExcel) </h4>
<div class="labelDiv" style="width:80px">@MessageResource.Global_Display_SampleFile </div>
<div>
    <a class="k-link2" href="@Url.Action("ExcelSample")">
        <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
    </a>
    @using (Html.BeginForm("LabourSubGroupIndex", "LabourSubGroup", FormMethod.Post))
    {
        @Html.Kendo().Upload().Name("excelFileS").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
        <div id="divExcepUpload">
            @ODMSHelpers.Button("btnUploadS", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
        </div>
    }
</div>



<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowSubGroup")
        .Title("LabourSubGroup")
        .Draggable()
        .Resizable()
        .Width(550)
        .Height(400)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){var grid = $('#LabourSubGroupGrid').data('kendoGrid');grid.dataSource.page(1);}"))
    )
</div>
