@model ODMSModel.DealerClass.DealerClassViewModel
@{
    ViewBag.Title = ViewBag.Title = ODMSCommon.Resources.MessageResource.DealerClass_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("DealerClassUpdate", "DealerClass", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.DealerClassCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerClassCode)</div>
    @Html.HiddenFor(v => v.DealerClassCode)
    <div class="labelDiv">@Html.LabelFor(v => v.SSIdDealerClass)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SSIdDealerClass, new {style=" text-transform : uppercase;" }) @Html.ValidationMessageFor(v => v.SSIdDealerClass) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DealerClassName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerClassName) @Html.ValidationMessageFor(v => v.DealerClassName) </div>@*
   
    <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>*@   
    <div class="labelDiv" >@Html.LabelFor(w => w.IsActiveName)</div>
    <div class="shortTxtDiv" >@Html.CheckBoxFor(w => w.IsActive)</div>
    
    <div class="clearDiv">&nbsp;</div>

    <br />
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.DealerClass.DealerClassUpdate, "DealerClassUpdate")

}

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    function GetDealerClassCode() {
        return {
            DealerClassCode: $('#DealerClassCode').val()
        };
    }

    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
