@using ODMSCommon.Resources

@model ODMSModel.DealerClass.DealerClassListModel

@{
    ViewBag.Title = MessageResource.DealerClass_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.DealerClassCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerClassCode) </div>

        <div class="labelDiv">@Html.LabelFor(v => v.SSIdDealerClass)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SSIdDealerClass) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.DealerClassName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerClassName) </div>
                 
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        
        <div class="clearDiv">&nbsp;</div>
        <br /><br />
        </div>
        <br />
    </div>


    @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.DealerClass.DealerClassIndex)
    @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.DealerClass_PageTitle_Create, CommonValues.PermissionCodes.DealerClass.DealerClassCreate)
         


<br />
<div id="DealerClassModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("DealerClassModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#DealerClassGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function DeleteDealerClass(code) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteDealerClass", "DealerClass")",
            data: { DealerClassCode: code, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#DealerClassGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
        });
    }


    $(document).ready(init);
    function DealerClassSearch()
    {
        //alert("arama");
        return {
            DealerClassCode: $('#DealerClassCode').val(),
            SSIdDealerClass: $('#SSIdDealerClass').val(),
            DealerClassName: $('#DealerClassName').val(),
            IsActive: $('#IsActive').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#DealerClassGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
            $("body").delegate(".modalClick", "click", function (e) {
                $('#DealerClassModelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");
                 if ($(this).hasClass("edit")) {
                    link = "@Url.Action("DealerClassUpdate", "DealerClass", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("DealerClassCreate", "DealerClass")";
                }
                $("#DealerClassModelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#DealerClassModelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });

}

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.DealerClass.DealerClassListModel>()
          .Name("DealerClassGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.DealerClassCode).ClientTemplate("<center><a class='edit modalClick' id='#=DealerClassCode#' frameTitle='" + @CommonUtility.GetResourceValue("DealerClass_PageTitle_Update") + "' href='/DealerClass/DealerClassUpdate/#=DealerClassCode#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DealerClass.DealerClassUpdate));
                  columns.Bound(o => o.DealerClassCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("DealerClass_PageTitle_Delete") + "' onclick='DeleteDealerClass(\"#=DealerClassCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DealerClass.DealerClassDelete));
                  columns.Bound(p => p.DealerClassCode).Sortable(true);
                  columns.Bound(p => p.SSIdDealerClass).Sortable(true);
                  columns.Bound(p => p.DealerClassName).Sortable(true);
                  //columns.Bound(p => p.IsActive).Sortable(true);
                  columns.Bound(p => p.IsActiveName).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListDealerClass", "DealerClass", Model).Data("DealerClassSearch"))
                                        .Model(model => model.Field(o => o.DealerClassCode).DefaultValue(-1)))

          )
</div>
