@using ODMSCommon.Resources
@model ODMSModel.CampaignPart.CampaignPartViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignPart_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignPartCreate", "CampaignPart", FormMethod.Post, new { id = "CampaignPartForm" }))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PartTypeDesc)</div>
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "OrginalSparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = Model.PartCode, DefaultValue = Model.PartId });@Html.ValidationMessageFor(v => v.PartId)

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(v => v.Quantity).Spinners(false).Decimals(2).Format("{0:N}").HtmlAttributes(new { maxlength = "6", data_val_min = "0", data_val_max = "1000", style = "width:200px", type="text" }) @Html.ValidationMessageFor(v => v.Quantity) </div>
    
    <div class="clearDiv">&nbsp;</div>
    <div style="width:100%">
        <div class="labelDiv">@Html.LabelFor(v => v.SupplyTypeName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.SupplyType).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SupplyTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
            @Html.ValidationMessageFor(c => c.SupplyType)
        </div>
    </div>

    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.CampaignCode)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.CampaignPart.CampaignPartCreate, "CampaignPartCreate")
}
 
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {

        if ('@Model.SupplyType' == '') {
            $("#SupplyType").data("kendoComboBox").value(null);
        }

        kendo.culture("tr-TR");
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });

        if ("@Model.ErrorNo" == 2) {
            //alert('test');
            CustomConfirm(function () {
                    $('#CampaignPartForm').submit();
        }, "@MessageResource.Global_Display_AddConfirmTitle", "@MessageResource.CampaignPart_Display_CreateConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");

        }

    });
</script>
