@model FleetVehicleViewModel
@Html.HiddenFor(c=>c.FleetVehicleId)
@using ODMSCommon.Resources
@using ODMSModel.FleetVehicle

@{
    ViewBag.Title = MessageResource.FleetVehicle_PageTitle_Index;
}
@Html.AntiForgeryToken()
@if (!Model.HideElements)
{
    @ODMSHelpers.LinkButton("btnCreate2", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickMainLabour createNewMaintLabour", CommonUtility.GetResourceValue("FleetVehicle_PageTitle_Create"), CommonValues.PermissionCodes.FleetVehicle.FleetVehicleCreate)
    @ODMSHelpers.LinkButton("btnExcelCreate", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "Create", "modalClickMainLabour createExcelNew", CommonUtility.GetResourceValue("FleetPartPartial_PageTitle_Excel_Create"), CommonValues.PermissionCodes.FleetVehicle.FleetVehicleCreate)

@*scripts start*@
    <script type="text/javascript">
        $(document).ready(init);

        function init() {
            $("#btnSearch3").click(function(e) {
                var grid = $('#FleetVehicleGrid').data('kendoGrid');
                grid.dataSource.read();
            });
            $("body").delegate(".modalClickMainLabour", "click", function(e) {
                $('#modelWindowMaintLabour').html('');
                e.preventDefault();

                var link = $(this).attr("href");
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");
                if ($(this).hasClass("createNewMaintLabour")) {
                    link = "@Url.Action("FleetVehicleCreate", "FleetVehicle", new {fleetId = Model.FleetId})";
                }
                else if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("FleetVehicleDetails", "FleetVehicle", new {fleetVehicleId = -1})";
                    link = link.replace("-1", clickedId);
                } else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("FleetVehicleUpdate", "FleetVehicle", new {fleetVehicleId = -1})";
                    link = link.replace("-1", clickedId);
           
                }
                else if ($(this).hasClass("createExcelNew")) {
                    link = "@Url.Action("FleetVehicleExcelCreate", "FleetVehicle", new { fleetId = Model.FleetId })";
                 }
                $("#modelWindowMaintLabour_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindowMaintLabour").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }

        function DeleteFleetVehicle(m) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            DeleteConfirm(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FleetVehicleDelete", "FleetVehicle")",
                    data: { FleetVehicleId: m, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function(result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#FleetVehicleGrid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }

    </script>

@*scripts end*@


@*grid start*@
    <div class="kendoGridDiv" id="grd2">
        @(Html.Kendo().Grid<FleetVehicleListModel>()
              .Name("FleetVehicleGrid")

              .Columns(columns =>
              {
                  columns.Bound(p => p.FleetVehicleId).ClientTemplate("<center><a class='details modalClickMainLabour' id='#=FleetVehicleId#' frameTitle='" + CommonUtility.GetResourceValue("FleetVehicle_PageTitle_Details") + "' href='" + Url.Action("FleetVehicleDetails", "FleetVehicle") + "?fleetVehicleId=#=FleetVehicleId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.FleetVehicle.FleetVehicleDetails));
                  //columns.Bound(p => p.FleetVehicleId).ClientTemplate("<center><a class='edit modalClickMainLabour' id='#=FleetVehicleId#' frameTitle='" + CommonUtility.GetResourceValue("FleetVehicle_PageTitle_Update") + "' href='" + Url.Action("FleetVehicleUpdate", "FleetVehicle") + "?fleetVehicleId=#=FleetVehicleId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.FleetVehicle.FleetVehicleUpdate));
                  columns.Bound(o => o.FleetVehicleId).ClientTemplate("<center><a href='javascript:void(0);' id='#=FleetVehicleId#' frameTitle='" + CommonUtility.GetResourceValue("FleetVehicle_PageTitle_Delete") + "' onclick='DeleteFleetVehicle(#=FleetVehicleId#)' ><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.FleetVehicle.FleetVehicleDelete));
                  columns.Bound(p => p.CustomerName).Width(150).Sortable(true);
                  columns.Bound(p => p.VehicleName).Width(120).Sortable(true);
              })
              .Pageable()
              .Sortable()
              .Scrollable()


              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(ODMSCommon.CommonValues.GridPageSize.Short)
                  .ServerOperation(true)
                  .Read(read => read.Action("ListFleetVehicles", "FleetVehicle",new{fleetId=Model.FleetId})))
              )
                                        


    </div>
@*grid end*@

@*modelWindow start*@
    <div id="modelWindowDiv">
        @(Html.Kendo().Window()
              .Name("modelWindowMaintLabour")
              .Draggable()
              .Resizable()
              .Width(600)
              .Height(250)
              .Visible(false)
              .Modal(true)
              .Iframe(true)
              .Events(ev => ev.Close(@"function(e){
         var grid = $('#FleetVehicleGrid').data('kendoGrid');      
        grid.dataSource.read();
    }"))
              )
    </div>
@*modelWindow end*@


}
else
{
    <script type="text/javascript">
        SetErrorMessage("@MessageResource.Error_DB_NoRecordFound");
    </script>
}