@model ODMSModel.CampaignLabour.CampaignLabourViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignLabourUpdate", "CampaignLabour", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.LabourCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LabourCode)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.LabourTypeDesc)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LabourTypeDesc)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(v => v.Quantity).Spinners(false).Decimals(2).Format("{0:N}").HtmlAttributes(new{maxlength="6",data_val_min="0",data_val_max="1000",style="width:200px", type="text"}) @Html.ValidationMessageFor(v => v.Quantity) </div>
    
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.CampaignLabour.CampaignLabourUpdate, "CampaignLabourUpdate")
    @Html.HiddenFor(v => v.LabourId)
    @Html.HiddenFor(v => v.CampaignCode)
    @Html.HiddenFor(v => v.LabourCode)
    @Html.HiddenFor(v => v.LabourTypeDesc)
}
<script src="~/Scripts/jquery.maskedinput.js"></script>
 
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
