@model ODMSModel.CampaignLabour.CampaignLabourViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignLabourCreate", "CampaignLabour", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.LabourCode)</div>
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", 
        new { SearchType = "LabourName", ControlId = "LabourId", Title1 = "", Title2 = "", DefaultText = Model.LabourCode, DefaultValue = Model.LabourId });
    @Html.ValidationMessageFor(c => c.LabourId)
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(v => v.Quantity).Spinners(false).Decimals(2).Format("{0:N}").HtmlAttributes(new { maxlength = "6", data_val_min = "0", data_val_max = "1000", style = "width:200px", type="text" }) @Html.ValidationMessageFor(v => v.Quantity) </div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.CampaignCode)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.CampaignLabour.CampaignLabourCreate, "CampaignLabourCreate")        
}
 
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
