@model ODMSModel.CampaignLabour.CampaignLabourListModel
@using ODMSCommon.Resources
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickCampaignLabour createNewCampaignLabour", CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Create"), CommonValues.PermissionCodes.CampaignLabour.CampaignLabourCreate)
@Html.AntiForgeryToken()
<br />
<div id="CampaignLabourModelWindowDiv">
    @(Html.Kendo().Window()
          .Name("CampaignLabourModelWindow")
          .Draggable()
          .Resizable()
          .Width(950)
          .Height(350)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
         var grid = $('#CampaignLabourGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
          )
</div>

<script src="~/Scripts/Tooltipster/jquery.tooltipster.min.js"></script>
<link href="~/Style/Tooltipster/tooltipster.css" rel="stylesheet" />
<link href="~/Style/Tooltipster/tooltipster-shadow.css" rel="stylesheet" />
<style type="text/css">
    .seperator {
        border-bottom: 1px solid #cbcbcb;
        margin: 2px 0;
    }

    .table tbody tr.info > td {
        background-color: #D9EDF7;
    }

    button:focus {
        -moz-outline: 0 none !important;
        outline: 0 none !important;
    }

    a {
        cursor: default;
    }


    .part-theme {
        background: white;
        border: 1px solid #c6c6c6;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #090909;
    }

        .part-theme .tooltipster-content {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            padding: 15px 18px;
        }

            .part-theme .tooltipster-content ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

                .part-theme .tooltipster-content ul li {
                    list-style: none;
                    padding: 0 0 5px;
                }

                    .part-theme .tooltipster-content ul li span.value {
                        padding-left: 10px;
                    }
</style>


@helper GetPartToolTipHtml(string duration)
{ 
        @Html.Raw("<div class=\"part-detail-tooltip\"> " +
        "<ul>" +
           " <li><span class=\"bold\">" + MessageResource.CampaignLabour_Display_VehicleTypeDuration + "</span></li><br/>" +
             "<li></span><span class=\"value\">" + duration + "</span></li>" +
           "</ul>" +
    "</div>")
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#CampaignLabourGrid").delegate(".part-tooltip", 'mouseenter', function (e) {

            $('.part-tooltip').tooltipster({
                animation: 'grow',
                delay: 200,
                trigger: 'hover',
                theme: 'part-theme',
                contentAsHTML: true
            });

        });



        $("body").delegate(".modalClickCampaignLabour", "click", function (e) {
            $('#CampaignLabourModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var idList = clickedId.split("$");
            var campaignCodeParam = idList[0];
            var labourIdParam = idList[1];
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("CampaignLabourDetails", "CampaignLabour", new { campaignCode = -1, labourId = -2 })";
                link = link.replace("-1", campaignCodeParam);
                link = link.replace("-2", labourIdParam);

            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("CampaignLabourUpdate", "CampaignLabour", new { campaignCode = -1, labourId = -2 })";
                link = link.replace("-1", campaignCodeParam);
                link = link.replace("-2", labourIdParam);
            }
            else if ($(this).hasClass("createNewCampaignLabour")) {
                link = "@Url.Action("CampaignLabourCreate", "CampaignLabour", new { campaignCode = Model.CampaignCode})";
            }
            $("#CampaignLabourModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#CampaignLabourModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteCampaignLabour(cCode, lId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteCampaignLabour", "CampaignLabour")",
                data: { campaignCode: cCode, labourId: lId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#CampaignLabourGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });

    }

</script>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignLabour.CampaignLabourListModel>()
          .Name("CampaignLabourGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.LabourId).ClientTemplate("<center><a class='details modalClickCampaignLabour' id='#=CampaignCode#" + "$" + "#=LabourId#' frameTitle='" + @CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Details") + "' href='/CampaignLabour/CampaignLabourDetails/#=LabourId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignLabour.CampaignLabourDetails));
                  columns.Bound(p => p.LabourId).ClientTemplate("<center><a class='edit modalClickCampaignLabour' id='#=CampaignCode#" + "$" + "#=LabourId#' frameTitle='" + @CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Update") + "' href='/CampaignLabour/CampaignLabourUpdate/#=LabourId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignLabour.CampaignLabourUpdate));
                  columns.Bound(o => o.LabourId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CampaignLabour_PageTitle_Delete") + "' onclick='DeleteCampaignLabour(\"#=CampaignCode#\",#=LabourId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignLabour.CampaignLabourDelete));
                  columns.Bound(p => p.LabourCode).Width(100).ClientTemplate("<a class='part-tooltip' title='" + GetPartToolTipHtml("#=LabourDuration#") + "' labId='#=LabourId#'>#=LabourCode#</a>").Sortable(false);
                  columns.Bound(p => p.LabourTypeDesc).Width(100).Sortable(true);
                  columns.Bound(p => p.Quantity).Width(100).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCampaignLabour", "CampaignLabour", Model))
                                        .Model(model => model.Field(o => o.LabourId).DefaultValue(-1)))

          )
</div>


  