@using System.Collections.Concurrent
@using ODMSCommon.Resources
@model ODMSModel.SystemAdministration.AccountRecoveryViewModel
@{
    ViewBag.Title = "Login";
    Layout = "";
    var isSucceed = ViewBag.IsSucceed;
}
<style>
    body {
        font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    }

    #RedirectBtn {
        float: left;
    }
</style>
<script src="~/Scripts/jquery-1.9.1.js"></script>
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/kendo")
<link href="~/Style/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Style/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/JSONProblemSolver.js"></script>
<link href="~/Style/login.css" rel="stylesheet" />
<link href="~/Style/login2.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $("body").delegate(".close", "click", function () {
            $("#errorDiv").hide("slow");
        });

        if ("@Json.Encode(isSucceed)" == true) {
            $("#btnSendMail").attr("disabled", true);
            $("#ChangePasswordForm").find("input[type=text], textarea").val("");
        }

        backgroundChange();
    });

    function backgroundChange() {
        var d = new Date();
        var n = d.getHours();

        var bgImage = "@Url.Content("~/images/clouds.jpg")";
        if (n == 9 || n == 14) {
            bgImage = "@Url.Content("~/images/clouds_1.jpg")";
        }
        else if (n == 10 || n == 15) {
            bgImage = "@Url.Content("~/images/clouds_2.jpg")";
        }
        else if (n == 11 || n == 16) {
            bgImage = "@Url.Content("~/images/clouds_3.jpg")";
        }
        else if (n == 12 || n == 17) {
            bgImage = "@Url.Content("~/images/clouds_4.jpg")";
        }
        else if (n == 13 || n == 18) {
            bgImage = "@Url.Content("~/images/clouds_5.jpg")";
        }

        $("#bgimgwrapper img:first").attr("src", bgImage);
    }
</script>
<div id="bgimgwrapper" style="z-index: -1; position: absolute">
    <img alt="" src="~/images/clouds.jpg" class="bg" style="width: 100%;" />
</div>
<div id="container" style="width: 100%; height: 1000px;">
    <div style="text-align: center;">
        <div id="wrapper" style="text-align:left;">
            <div id="login" class="animate form">

                @using (Html.BeginForm("AccountRecovery", "SystemAdministration", FormMethod.Post, new { id = "ChangePasswordForm" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>
                        <div style="text-align: center;">@MessageResource.Login_PageTitle_ForgotPass</div>
                    </h1>
                    <br />
                    if (TempData["MessageToShow"] != null && TempData["IsError"] != null)
                    {
                        if (!string.IsNullOrEmpty(TempData["MessageToShow"].ToString()))
                        {
                            <div id="errorDiv" class="alert  @((bool)TempData["IsError"] ? "alert-danger" : "alert-success") messageDiv">
                                @(TempData["MessageToShow"])
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        }
                    }
                    <p style="margin-top: 10px">
                        @Html.LabelFor(v => v.UserName, new { data_icon = "u", @class = "uname" })
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(v => v.UserName)
                    </p>
                    <p style="margin-top: 10px">
                        @Html.LabelFor(v => v.IdentityNo)
                        @Html.TextBoxFor(m => m.IdentityNo, new { @onkeypress = "return IdentityNo(event)" })
                        @Html.ValidationMessageFor(v => v.IdentityNo)
                    </p>
                    <p style="margin-top: 10px">
                        @Html.LabelFor(v => v.Email, new { data_icon = "e" })
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(v => v.Email)
                    </p>
                    @*int currentCount = Convert.ToInt32(Session["Try_Count"]);
                    if (currentCount >= Convert.ToInt32(Session["CaptchaCount"]))
                    {
                        <p>
                            <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                            @Html.LabelFor(v => v.Captcha)
                            @Html.TextBoxFor(m => m.Captcha)
                            <span style="color:red;">@Html.ValidationMessageFor(v => v.Captcha)</span>
                        </p>
                    }*@
                    <p class="login button">
                        @if (isSucceed != null && isSucceed)
                        {
                            <input type="button" id="RedirectBtn" value="@MessageResource.SystemAdministration_Display_Login" class="k-button" onclick="window.location.href='@Url.Action("Login", "SystemAdministration")';" />
                        }
                        @ODMSHelpers.Button("btnSendMail", CommonUtility.GetResourceValue("SystemAdministration_Display_AccountRecovery"), "", "AccountRecovery", "this.form.submit(); this.disabled=true; this.value='Gönderiliyor...'; ")
                    </p>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function IdentityNoKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57)) || $("#TcNo").val().length >= 11)
            return false;
        else
            return true;
    }
    function disableMultipleClick() {
        this.disabled = true;
    }
</script>