@using ODMSCommon.Resources
@model ODMSModel.SystemAdministration.SystemAdministrationLoginModel
@{
    Layout = null;
}
<html>
<head>
    <title>
        Otokar-DMS
    </title>
    <style>
        body {
            font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    <link href="~/Style/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/JSONProblemSolver.js"></script>
    <link href="~/Style/login.css" rel="stylesheet" />
    <link href="~/Style/login2.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {

            backgroundChange();
            $("body").delegate(".close", "click", function () {
                $("#errorDiv").hide("slow");
            });
        });

        $(document).ready(function () {
            if ((window.top != window)) {
                window.parent.location = "@Url.Action("Login", "SystemAdministration")";
            }
        });

        function backgroundChange() {
            var d = new Date();
            var n = d.getHours();

            var bgImage = "@Url.Content("~/images/clouds.jpg")";
            if (n == 9 || n == 14)
            {
                bgImage = "@Url.Content("~/images/clouds_1.jpg")";
            }
            else if (n == 10 || n == 15) {
                bgImage = "@Url.Content("~/images/clouds_2.jpg")";
            }
            else if (n == 11 || n == 16) {
                bgImage = "@Url.Content("~/images/clouds_3.jpg")";
            }
            else if (n == 12 || n == 17) {
                bgImage = "@Url.Content("~/images/clouds_4.jpg")";
            }
            else if (n == 13 || n == 18) {
                bgImage = "@Url.Content("~/images/clouds_5.jpg")";
            }

            $("#bgimgwrapper img:first").attr("src", bgImage);
        }
    </script>
</head>
<body>
    <div id="bgimgwrapper" style="z-index: -1; position: absolute">
        <img alt="" src="~/images/clouds.jpg" class="bg" style="width: 100%;" />
    </div>
    <div id="container" style="width: 100%; height: 1000px;">
        <div style="text-align: center;">
            <div id="wrapper" style="text-align:left;">
                <div id="login" class="animate form">
                    @using (Html.BeginForm("Login", "SystemAdministration", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h1>
                            <div style="text-align: center;">@Html.LabelFor(v => v.Login)</div>
                        </h1>
                        if (TempData["MessageToShow"] != null && TempData["IsError"] != null)
                        {
                            if (Convert.ToBoolean(TempData["IsError"]) && !string.IsNullOrEmpty(TempData["MessageToShow"].ToString()))
                            {
                                <div id="errorDiv" class="alert alert-danger messageDiv">
                                    @(TempData["MessageToShow"])
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            }
                        }
                        <p style="margin-top: 15px">
                            @Html.LabelFor(v => v.UserName, new { data_icon = "u", @class = "uname" })
                            @Html.EditorFor(m => m.UserName)

                        </p>
                        <p>
                            @Html.LabelFor(v => v.Password, new { data_icon = "p", @class = "youpasswd" })
                            @Html.EditorFor(m => m.Password)
                        </p>

                        @Html.CheckBoxFor(v => v.RememberMe, new { @class = "checkbox" })
                        @Html.LabelFor(v => v.RememberMe)
                        @*int currentCount = Convert.ToInt32(Session["Try_Count"]);
                        if (currentCount >= Convert.ToInt32(Session["CaptchaCount"]))
                        {
                            <p>
                                <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />

                                @Html.LabelFor(v => v.Captcha)
                                @Html.TextBoxFor(m => m.Captcha)
                                <span style="color:red;">@Html.ValidationMessageFor(v => v.Captcha)</span>
                            </p>
                        }*@
                        <p class="login button">
                            @ODMSHelpers.Button("btnLogin", CommonUtility.GetResourceValue("SystemAdministration_Display_Login"), "Login")
                        </p>
                    }
                    <a href="@Url.Action("AccountRecovery", "SystemAdministration")"> @MessageResource.Login_Display_ForgotPass <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                    
                </div>
                <br />
                <p style="margin-top:425px; padding-left: 71px; color: white;">Server : @ODMSCommon.General.Server Database : @ODMSCommon.General.DatabaseName</p>
            </div>
            
        </div>
    </div>

</body>
</html>