@using ODMSCommon.Resources
@using ODMSModel.Proficiency

@{
    ViewBag.Title = MessageResource.DealerProficiency_PageTitle_Index;
}
@Html.AntiForgeryToken()
    <script>
        $(function () {
            RegisterEventHandlers();
        });

        function RegisterEventHandlers() {
            $("body").delegate(".modalClick3", "click", function (e) {
                $('#modelWindow3').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var dealerId = $("#DealerId").val();
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("ProficiencyDetails", "Proficiency", new { proficiencyCode = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("ProficiencyUpdate", "Proficiency", new { proficiencyCode = -1, dealerId = -2 })";
                    link = link.replace("-1", clickedId);
                    link = link.replace("-2", dealerId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("DealerProficiencyCreate", "DealerProficiency", new { dealerId = "p1", proficiencyCode = "p2" })";
                    link = link.replace("p1", dealerId);
                    link = link.replace("p2", clickedId);
                }

                $("#modelWindow3_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow3").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }

        function Search() {
            return {
                dealerId: $("#DealerId").val()
            };
        }
        
        function DeleteDealerProficiency(proficencyCode) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            var dealerId = $("#DealerId").val();
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DealerProficiencyDelete", "DealerProficiency")",
                    data: { dealerId: dealerId, proficiencyCode: proficencyCode, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid3').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }

    </script>
@Html.Hidden("DealerId", (int)ViewBag.DealerId)

@ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick3 createNew", MessageResource.Proficiency_PageTitle_Create, CommonValues.PermissionCodes.Proficiency.ProficiencyCreate)

<div class="kendoGridDiv" id="grd2">
    @(Html.Kendo().Grid<ProficiencyListModel>()
          .Name("grid3")
          .Columns(columns =>
              {
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a class='details modalClick3' id='#=ProficiencyCode#' frameTitle='" + MessageResource.Proficiency_PageTitle_Details + "' href='/Proficiency/ProficiencyDetails/#=ProficiencyCode#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(MessageResource.Global_Display_View).Width(50).Sortable(false);
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a class='edit modalClick3' id='#=ProficiencyCode#' frameTitle='" + MessageResource.Proficiency_PageTitle_Update + "' href='/Proficiency/ProficiencyUpdate/#=ProficiencyCode#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(MessageResource.Global_Display_Update).Width(60).Sortable(false);
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.DealerProficiency_PageTitle_Delete + "' onclick='DeleteDealerProficiency(\"#=ProficiencyCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(MessageResource.Global_Display_Delete).Width(50).Sortable(false);
                  columns.Bound(b => b.ProficiencyCode).Width(200).Sortable(true);
                  columns.Bound(b => b.ProficiencyName).Width(200).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListProficienciesOfDealer", "DealerProficiency", Model).Data("Search")))
          )

</div>

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow3")
        .Title("DealerProficiency")
        .Draggable()
        .Resizable()
        .Width(500)
        .Height(400)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){
            var grid = $('#grid3').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
    )
</div>



