@model ODMSModel.ObjectSearch.AppointmentIndicatorSubCategorySearchViewModel

@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@helper DynamicBodySize()
{
    @Html.Raw(string.Format("<style> #bodyContainer {{ height: {0}px; width: {1}px; }}</style>", "490", "1330"))
}

@DynamicBodySize()


<div id="bodyContainer">
    <div id="searchCriterias">
        <div class="labelDiv">@Html.LabelFor(v => v.MainCategoryCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MainCategoryCode)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.MainCategoryName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MainCategoryName)</div>
        <div class="clearfix"></div>
        <div class="labelDiv">@Html.LabelFor(v => v.CategoryCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.CategoryCode)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CategoryName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.CategoryName)</div>
        <div class="clearfix"></div>
        <div class="labelDiv">@Html.LabelFor(v => v.SubCategoryCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SubCategoryCode)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.SubCategoryName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SubCategoryName)</div>
        <div class="clearDiv">&nbsp;</div>
    </div>
    @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.AppointmentIndicatorSubCategorySearch.AppointmentIndicatorSubCategorySearchIndex)
    @ODMSHelpers.LinkButton("btnClear", ODMSCommon.Resources.MessageResource.Global_Display_Clear, "", "", "", "")
    @Html.HiddenFor(e=>e.IndicatorTypeCode)
    <div class="kendoGridDivObjectSearch" id="grd">
        @(Html.Kendo().Grid<ODMSModel.ObjectSearch.AppointmentIndicatorSubCategorySearchListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.SubCategoryId).ClientTemplate("<center><a class='loadTab' onclick='selectAppointmentIndicatorSubCategory(#=SubCategoryId#, \"#=SubCategoryCode#\", \"#=SubCategoryName#\")' id='#=SubCategoryId#'><img class=iconLink src='" + Url.Content("~/Images/choose.ico") + "'/></a></center>").Title(ODMSCommon.Resources.MessageResource.Global_Display_Select).Width(50).Sortable(false);
                  columns.Bound(p => p.MainCategoryCode).Width(100).Sortable(true);
                  columns.Bound(p => p.MainCategoryName).Width(150).Sortable(true);
                  columns.Bound(p => p.CategoryCode).Width(100).Sortable(true);
                  columns.Bound(p => p.CategoryName).Width(150).Sortable(true);
                  columns.Bound(p => p.SubCategoryCode).Width(100).Sortable(true);
                  columns.Bound(p => p.SubCategoryName).Width(150).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(CommonValues.GridPageSize.Short)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("SearchAppointmentIndicatorSubCategory", "ObjectSearch", Model).Data("AppointmentIndicatorSubCategorySearch"))
                                        .Model(model => model.Field(o => o.SubCategoryId).DefaultValue(-1))
                                        .Model(model => model.Field(o => o.SubCategoryCode).DefaultValue("-"))
                                        .Model(model => model.Field(o => o.SubCategoryName).DefaultValue("-")))
          )
    </div>
</div>
<script type="text/javascript">
    
    function AppointmentIndicatorSubCategorySearch() {
        return {
            MainCategoryCode: $('#MainCategoryCode').val(),
            MainCategoryName: $('#MainCategoryName').val(),
            CategoryCode: $('#CategoryCode').val(),
            CategoryName: $('#CategoryName').val(),
            SubCategoryCode: $('#SubCategoryCode').val(),
            SubCategoryName: $('#SubCategoryName').val(),
            IndicatorTypeCode: $('#IndicatorTypeCode').val()
        };
    }

    $(document).ready(function() {
        $("#btnSearch").on("click", function(e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $("#btnClear").on("click", function(e) {
            $('#searchCriterias').find('input:text').val('');
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
        });
    });

    function selectAppointmentIndicatorSubCategory(subCategoryId, subCategoryCode, subCategoryName) {
        if (subCategoryName == null || subCategoryName == '')
            subCategoryName = " / ";
        else
            subCategoryName = subCategoryCode + " / " + subCategoryName;

        if (window.parent != "undefined") {
            var currentWindowState = window.parent.getWindowState("@Model.ReferenceObjectId" + "SearchWindow", false);
            var parentSetterFunctionName = "setFoundValuesFor" + "@Model.ReferenceObjectId";
            window.parent[parentSetterFunctionName]("@Model.ReferenceObjectId", subCategoryId, subCategoryName, "@Model.SelectCallBackFunction", currentWindowState);
        }
    }

</script>
<style>
    body
    {
        background-color: #EDF1F4 !important;
        overflow-x: hidden;
    }

    .kendoGridDivObjectSearch
    {
        width: 1300px;
        padding-bottom: 30px;
    }
</style>
