@model ODMSModel.PDIControlDefinition.PDIControlDefinitionViewModel
@using ODMSCommon.Resources;

@{
    ViewBag.Title = MessageResource.PDIControlDefinition_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("PDIControlDefinitionUpdate", "PDIControlDefinition", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PDIControlCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PDIControlCode,new {@onkeyup="InputToUpper(this);"}) @Html.ValidationMessageFor(v => v.PDIControlCode)</div>  
    <div class="labelDiv">@Html.LabelFor(v => v.RowNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.RowNo) @Html.ValidationMessageFor(v => v.RowNo)</div> 
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.ModelKod)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ModelKod).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ModelCodeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(v => v.ModelKod) 
    </div>
 
    <div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.ControlNameML)</div>
    <div class="shortTxtDiv" style="margin-top: 5px">
        @{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }
        @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  @Html.ValidationMessageFor(v => v.IsActive)  </div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsGroupCodeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsGroupCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ActiveYesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.IsGroupCode) </div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.IdPDIControlDefinition)
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.PDIControlDefinition.PDIControlDefinitionUpdate, "PDIControlDefinitionUpdate","")
}
<script>
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    })
</script>
