@model ODMSModel.PDIControlDefinition.PDIControlDefinitionViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("PDIControlDefinition_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
<div class="labelDiv">@Html.LabelFor(v => v.PDIControlCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIControlCode) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ModelKod)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ModelKod) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.RowNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.RowNo) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.ControlNameML)</div>
<div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>

<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsGroupCodeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsGroupCodeName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>
