@using ODMSCommon.Resources
@model ODMSModel.WorkOrderInvoice.WorkOrderInvoicesViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 @using (Html.BeginForm("WorkOrderInvoiceCreate", "WorkOrderBatchInvoice", FormMethod.Post, new{id="frmInvoice"}))
    {
        @Html.Hidden("WorkOrderIds", (string)ViewBag.Details)
        @Html.HiddenFor(c=>c.CustomerId)
        Html.RenderPartial("~/Views/WorkOrderInvoice/_WorkOrderInvoiceEdit.cshtml", Model);

    }
    @if (Model.WorkOrderInvoiceId == 0)
            {
@ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.WorkorderInvoice.WorkOrderInvoiceCreate, "WorkOrderInvoiceCreate")
            }
<div id="indicators" style="margin-top: 15px">
      @MessageResource.Loading_Indicators
</div>  
@if (Model.WorkOrderInvoiceId > 0)
{   <div id="invoices" style="margin-top: 15px">
        @MessageResource.Loading_Invoice
</div>
    
}
<script>
    $(document).ready(function() {
        var url = '@Url.Action("ListWorkOrderDetails", "WorkOrderBatchInvoice", new {workOrderDetailIds = Model.WorkOrderIds})';
        $.ajax({
            url: url,
            type: "GET",
            dataType: "html",
            success: function(html) {
                $("#indicators").html(html);
            }
        });
        @if (Model.WorkOrderInvoiceId > 0)
        {
            @Html.Raw("GetInvoice();")
        }

        $("#Create").click(function() {
            if ($("#frmInvoice").valid()) {
                $("#Create").attr("disabled", "disabled");
                $("#frmInvoice").submit();
            }
        });

    });

    function GetInvoice() {
        var url = '@Url.Action("ListWorkOrderInvoices", "WorkOrderBatchInvoice", new {id = Model.WorkOrderInvoiceId, workOrderDetailIds = Model.WorkOrderIds})';
        $.ajax({
            url: url,
            type: "GET",
            dataType: "html",
            success: function(html) {
                $("#invoices").html(html);
            }
        });
    }

</script>