@using ODMSCommon.Resources
@using ODMSModel.WorkOrderCard
@model List<WorkOrderInvoiceItem>
@{
    Layout = null;
}
<div class="panel panel-primary" style="width:99%;">
    <div class="panel-heading">
        @MessageResource.WorkOrderCard_Display_Indicators
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    @MessageResource.WorkOrderBatchInvoice_Display_WorkOrderId
                </th>
                <th>
                    @MessageResource.WorkOrderBatchInvoice_Display_WorkOrderDetailId
                </th>
                <th>
                    @MessageResource.WorkOrderCard_Display_Indicator
                </th>
                <th>
                    @MessageResource.WorkOrderCard_Display_TotalPrice
                </th>
            </tr>
            </thead>
            @foreach (var item in Model.Where(c => c.Price > 0))
            {
                <tr>
                    <td>@item.WorkOrderId</td>
                    <td>@item.WorkOrderDetailId</td>
                    <td>@item.Indicator</td>
                    <td>@item.PriceString</td>
                </tr>
            }
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#InvoiceAmount").html('@Html.Raw(Model.Sum(c=>c.Price).ToString("N2"))');
    });
</script>
