@{
    Layout = null;
}


<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<input type="hidden" id="@ViewBag.ProcId" name="@ViewBag.ProcId" value="" />
<input type="hidden" id="@ViewBag.ControlId" name="@ViewBag.ControlId" value="@ViewBag.DefaultValue" />
<input type="hidden" id="@ViewBag.Column1" name="@ViewBag.Column1" value="" />
<input type="hidden" id="@ViewBag.Column2" name="@ViewBag.Column2" value="" />

@Html.TextBox((string)ViewBag.ControlTxtId, (string)ViewBag.DefaultText, new { style = "width:300px;text-transform:uppercase; width:200px", autocomplete = "off", data_val = (bool)ViewBag.Required ? "true" : "false", data_val_required = "*" })
@if ((bool)ViewBag.Required)
{
    @Html.ValidationMessage((string)ViewBag.ControlTxtId)
}

    @*<input type="text" name="@ViewBag.ControlTxtId" style="width:300px;vertical-align:top" id="@ViewBag.ControlTxtId" autocomplete="off" value="@ViewBag.DefaultText"/>*@
    <style>
    .acItem:hover
    {
        background:url(@Url.Content("~/Images/autocompleteBG.png")) repeat-x 0;
    }
    .renderpart
    {
        position:absolute;
    }
    </style>
    <div class="@ViewBag.ControlTxtId renderpart" style="z-index: 100; max-height:200px; overflow-y:auto; max-width:350px">
        <div class="DataBlock" style="border:1px solid #aaaaaa;background-color:white;max-width:350px; z-index: 100">
            <div id="@ViewBag.ControlBlockId" style="/*max-width: 300px;*/">
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript">
        var timeOut;
        var leftx = 0;
        var topx = 0;
        $(document).ready(function () {

            window.isReadyForSearch = "1";
            $(".renderpart").hide();
            var txtid = "#" + '@ViewBag.ControlTxtId';
            var renderpart = "." + '@ViewBag.ControlTxtId';
            var selectlinkvalueid = ".Get" + '@ViewBag.SearchType';

            $("body").delegate(selectlinkvalueid, "click", function () {
                var value = $(this).attr('id');
                if (value == "-1") {
                    $(txtid).val("");
                    $("#@ViewBag.ControlId").val("");
                }
                else {
                    var valueText = $(this).attr('title');
                    $("#@ViewBag.ControlId").val(value);
                    $(txtid).val(valueText);
                    $(renderpart).slideUp("slow");

                    //callback function
                    var callbackFunction = "@ViewBag.CallbackFunction";
                    if (callbackFunction != '') {
                        try {
                            window[callbackFunction]();
                        } catch (e) {
                            //console.log(callbackFunction);
                        }
                    }
                }
            });
           

            /*
                * keypress ilk karakteri boş geçiyor ve hepsi aynıanda seçilip yeni karakter yazıldıgında eskilerini silmiyor ,consoledan kontrol edildi.
                * change de ise focus out oldugunda devreye giriyor.
                * keyup da ise keypressde oldugu gibi diger klavye fonk. tuslarını pasif etme yok.
            */
            $(txtid).on('keyup', function (e) {
                
                switch(e.keyCode) {
                    case 16: // Shift                                              
                    case 35: // End                                               
                    case 36: // Home                       
                    case 37: // Left
                    case 38: // Up
                    case 39: // Right
                    case 40: // Down                       
                        return;                        
                }

                if (e.keyCode == 8 && e.keyCode == 46)
                    $("#@ViewBag.ControlId").val('');

                if (window.isReadyForSearch == "0") {
                    clearTimeout(timeOut);
                    timeOut = window.setTimeout(function () { window.isReadyForSearch = "1"; $(txtid).trigger("keyup"); }, 700);

                    return;
                }
                else {

                    window.isReadyForSearch = "0";
                    timeOut = window.setTimeout(function () { window.isReadyForSearch = "1"; }, 700);
                    var value = $(txtid).val();
                    var Procvalue = '@ViewBag.SearchType';
                    var controlid = "#" + '@ViewBag.ControlBlockId';
                    var extraParam = '@ViewBag.ExtraParameter';

                    value = encodeURI(value);

                    if (value.length > 2) {
                        $.ajaxSetup({ cache: false });
                        $.getJSON("@Url.Action("LoadComboData","AutocompleteSearch")", { strSearch: decodeURI(value), SearchFor: " " + Procvalue, ExtraParameter: extraParam }, function (data) {
                            $(controlid).html("");
                            var tempprocId = '@ViewBag.SearchType';
                            var jsondata = JSON.stringify(data);
                            $(controlid).html(CreateDynamicTable(jsondata, tempprocId));
                            locateResultsForShow();
                            $("." + '@ViewBag.ControlTxtId').slideDown("slow");
                        });
                        $.ajaxSetup({ cache: true });
                    }
                    else {

                        $(renderpart).slideUp("slow");
                    }
                }
            });


            function locateResultsForShow() {
                if (leftx == 0 || topx == 0) {
                    var txt = "#txt" + '@ViewBag.ControlId';
                    var textboxOffset = $(txt).offset();
                    var textboxHeight = $(txt).height();
                    leftx = textboxOffset.left;
                    topx = textboxOffset.top + textboxHeight + 2;

                    $("." + '@ViewBag.ControlTxtId').offset({ left: leftx });
                }
            }


            function CreateDynamicTable(objArray, tempprocId) {
                var array = JSON.parse(objArray);
                var str = "<div style='width:300px;float:left;  background-color:#FFCC66;padding-right:-2px'><div style='float:left;padding-left:5px;'>@ViewBag.Title1</div><div style='float:left;padding-left:5px;'>@ViewBag.Title2</div></div>";
                var txtid = "#" + '@ViewBag.ControlTxtId';
                var value = $(txtid).val().toUpperCase();
                var flag = false;
                var id;
                var singleItemHtml = "<a id='##ID##' title='##Title##' href='javascript:void(0);' class='##Class##'><div class='acItem' style='width:300px;float:left'><div style='padding-left:5px;float:left'>##firstItem##</div><div style='padding-left:5px;float:left'>##SecondItem##</div></div><div style='clear:both'/></a>";
                var firstItem;
                var secondItem;
                var completeHtml = "";
                for (var addedContent in array) {
                    firstItem = array[addedContent]["Column1"];
                    firstItem = firstItem.replace(value, "<span style='color:red'>" + value + "</span>");
                    var textBoxText = "";
                    textBoxText = array[addedContent]["Column1"];
                    if (array[addedContent]["Column2"]) {
                        textBoxText += "/" + array[addedContent]["Column2"];
                    }
                    secondItem = array[addedContent]["Column2"];
                    if (secondItem != null)
                        secondItem = secondItem.replace(value, "<span style='color:red'>" + value + "</span>");
                    else secondItem = "";
                    id = array[addedContent]["Id"];
                    var singleHtmlReplaced = singleItemHtml.replace("##ID##", id).replace("##Title##", textBoxText).replace("##firstItem##", firstItem).replace("##SecondItem##", secondItem).replace("##Class##", "Get" + tempprocId);
                    completeHtml += singleHtmlReplaced;
                }
                if (completeHtml == "") {
                    var noItemFound = "<div style='z-index: 100;max-height: 200px;max-width: 350px;display: block;top: 29px;left: 160px;overflow-y: auto;'><a id='-1' title='Sonuç Bulunamadı.' href='javascript:void(0);' class='GetSparePart'><div class='acItem' style='width:300px;float:left'><div style='padding-left:5px;float:left'>Sonuç bulunamadı.</div><div style='clear:both'/></a></div>";
                    completeHtml = str + noItemFound;
                }
                else {
                    completeHtml = str + completeHtml;
                }
                return completeHtml;
            }



            $("a", ".field-validation-error").each(function (i, e) {
                $(e).tooltip({ placement: "right", html: true });
            });

        });



        $(document).click(function (evt) {
            var renderpart = "." + '@ViewBag.ControlTxtId';
            var theElem = (evt.srcElement) ? evt.srcElement : evt.target;

            var txt = "#" + '@ViewBag.ControlId';
            if (theElem.id != "txt" + $(txt).attr("id"))
                $(renderpart).slideUp("fast");
        });

        function reArrangeValidation() {
            try {
                var settings = $('form').validate().settings;
                if (settings) {
                    settings.wrapper = "label";
                    settings.showErrors = function (errorMap, errorList) {
                        this.defaultShowErrors();
                        $(".field-validation-error").each(function (i, e) {
                            if ($("a", e).length > 0) return;
                            var html = $("label", e).text().replace("'", "").replace("'", "");
                            var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                            $(e).html(newHtml);

                            $("a", e).tooltip({ placement: "right" });
                        });
                    };
                }
                $(".field-validation-error").each(function (i, k) {
                    var html = $(k).html().replace("'", "").replace("'", "");
                    var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                    $(k).html(newHtml);

                    $("a", k).tooltip({ placement: "right", html: true });
                });
            }
            catch (m) {
            }
        };


    </script>