@{
    Layout = null;
}
@using ODMSCommon.Resources
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <link href="~/Style/default.css" rel="stylesheet" />
    <link href="~/Style/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title - Otokar DMS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/odms/css/commons")
    @Styles.Render("~/Content/kendo/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <link href="~/Style/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/JSONProblemSolver.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    }
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/languages/kendo." + culture + ".js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/cultures/globalize.culture.tr-TR.js")"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/messages_tr.js"></script>
</head>
<body>
        <div  style="background-color: #EDF1F4 !important;">
            <div>
                <div style="width: 100%; min-height:300px; margin:10px;">
                    @RenderBody()
                </div>
            </div>
        </div>
</body>
</html>

