<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <link href="~/Style/default.css" rel="stylesheet" />
    <link href="~/Style/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title - Otokar DMS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/odms/css/commons")
    @Styles.Render("~/Content/kendo/css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @{
        var culture =  System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    }
    <link href="~/Style/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/languages/kendo." + culture + ".js")"></script>
     <script src="@Url.Content("~/Scripts/kendo/globalize.js")"></script>
     <script src="@Url.Content("~/Scripts/kendo/cultures/globalize.culture.tr-TR.js")"></script>
    <script src="~/Scripts/JSONProblemSolver.js"></script>
    <script>




        function pageLoad() {
            CheckAlertBox();
        }
        (function ($) {

            var pr = 0, bgWidth = true, bgResize;



            $(document).ready(function () {
                $(".ScreenName").html("@ViewBag.Title");
                kendo.culture("@culture");
                CheckAlertBox();
                $(".close").on("click", function () {
                    $(".messageDiv").fadeOut("slow");
                });
                backgroundChange();
            });
        })(jQuery);
        function SetPageTitle(pageTitle) {
            $(".ScreenName").html(pageTitle);
        }
        function CheckAlertBox() {

            $('div[id="successDiv"]:visible').each(function () {

                $(this).css("display", "none");
                $(this).fadeIn(2000, function () {
                });
            });
            $('div[id="errorDiv"]:visible').each(function () {
                $(this).css("display", "none");
                $(this).fadeIn(2000, function () {
                });
            });
        }
        $(document).ready(function () {
            $(".languageFlag").on("click", function () {
                changeLang($(this).attr("lang"));
            });
            $.validator.methods.number = function(value, element) {
                return !isNaN(Globalize.parseFloat(value));
            };
            Globalize.culture('tr-TR');
        });

        function changeLang(lang) {
            var date = new Date();
            date.setDate(date.getDate() + 50 * 365);
            $.removeCookie("ODMSApplicationLang", { path: '/' });
            $.cookie('ODMSApplicationLang', lang, { expires: date, path: '/' });
            window.location.reload();
        }

        function backgroundChange() {
            var d = new Date();
            var n = d.getHours();

            var bgImage = "@Url.Content("~/images/clouds.jpg")";
            if (n == 9 || n == 14)
            {
                bgImage = "@Url.Content("~/images/clouds_1.jpg")";
            }
            else if (n == 10 || n == 15) {
                bgImage = "@Url.Content("~/images/clouds_2.jpg")";
            }
            else if (n == 11 || n == 16) {
                bgImage = "@Url.Content("~/images/clouds_3.jpg")";
            }
            else if (n == 12 || n == 17) {
                bgImage = "@Url.Content("~/images/clouds_4.jpg")";
            }
            else if (n == 13 || n == 18) {
                bgImage = "@Url.Content("~/images/clouds_5.jpg")";
            }

            $("#bgimgwrapper img:first").attr("src", bgImage);
        }
    </script>
   
</head>
<body>

    

    <div id="bgimgwrapper">
        <img alt="" src="~/images/clouds.jpg" class="bg" style="width: 100%;" />
    </div>


    <div id="contentWrapper">
       

        <div id="content" class="rounded" style="margin-top: 5px; background-color:#fbfbfb !important; padding-top: 15px; box-shadow: 0 5px 4px #646464;">
            <div style="padding: 10px;">

                <div style="width: 100%">
                    @Html.Partial("MessageHolder")
                    @RenderBody()
                </div>

            </div>
        </div>
        <div id="footer">
            <p>
                Copyright &copy; 2013 Otokar.com.tr
            </p>
        </div>
    </div>
    
    @RenderSection("Scripts",false)
</body>
</html>
