@model InvoiceListFilter
@using ODMSModel.WebServiceLogs
@using ODMSCommon.Resources
@{
    ViewBag.Title = MessageResource.WebServiceLogs_PageTitle_InvoiceListLogs;
}
@Html.AntiForgeryToken()
@*search start*@
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(c => c.UserCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.UserCode)  </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Events(e => e.Open("openStartDate").Change("openEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(b => b.EndDate) </div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Events(e => e.Open("openEndDate").Change("openStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>

    </div>
</div>
@*search end*@
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.WebServiceLogs.InvoiceList)

@*grid start*@
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<InvoiceListLogItem>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.InvoiceServiceLogId).HtmlAttributes(new { style = "text-align:center" }).ClientTemplate("#if(IsSuccess){# <a class=\"btn btn-xs btn-primary\" onclick=\"openResponse(#=InvoiceServiceLogId#);\"> <i class=\"fa fa-ellipsis-h\"></i></a> #}#").Sortable(false).Title("Sonuç");
                      columns.Bound(p => p.CallUserCode).Sortable(true);
                      columns.Bound(o => o.CallDate).Sortable(true).Format("{0:dd/MM/yyyy hh:mm:ss}");
                      columns.Bound(o => o.StartDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                      columns.Bound(p => p.EndDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                      columns.Bound(p => p.IsSuccess).ClientTemplate("#if(IsSuccess){#" + MessageResource.Global_Display_Yes + "#} else{#" + MessageResource.Global_Display_No + "#}#").Sortable(true);
                      columns.Bound(p => p.ErrorDesc).Sortable(true);
                  })
                  .Pageable()
                  .Sortable()
                  .Scrollable()
                  .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .ServerOperation(true)
                                                .Read(read => read.Action("ListInvoiceWebServiceLogs", "WebServiceLogs").Data("getSearchParameters"))
                                               ))

</div>


@*grid end*@

<div id="ResponseWindow" style="background-color: #EDF1F4 !important" class="hide"></div>



@*scripts start*@
@section Scripts{
    <script type="text/javascript">
        function getSearchParameters() {
            return {
                UserCode: $("#UserCode").val(),
                StartDate: $("#StartDate").val(),
                EndDate:$("#EndDate").val()
            };
        }

        function openResponse(logId) {
            $('#ResponseWindow').kwnd('@Url.Action("GetInvoiceLogResponse", "WebServiceLogs")/' + logId, 'Webservis Sonucu',
           {
               iframe: false,
               width: 800,
               height: 400,
               onClose: function () {
                   $("#ResponseWindow").html('');
               }
           });
            $('#ResponseWindow').removeClass("hide");
            OpenWindow($('#ResponseWindow'));
        }


        function openStartDate() {
            var dateStart = $("#StartDate").data("kendoDatePicker");
            var dateEnd = $("#EndDate").data("kendoDatePicker");
            if ($("#EndDate").val()) {
                dateStart.max(dateEnd.value());
            } else {
                dateStart.max(new Date(3000, 0, 1));
            }
        }

        function openEndDate() {
            var dateStart = $("#StartDate").data("kendoDatePicker");
            var dateEnd = $("#EndDate").data("kendoDatePicker");
            if ($("#StartDate").val()) {
                dateEnd.min(dateStart.value());
            } else {
                dateEnd.min(new Date(1900, 0, 1));
            }
        }

        $(document).ready(init);

        function init() {
            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
       
        }


    </script>
}
@*scripts end*@