@using ODMSCommon.Resources
@using ODMSModel.PDIVehicleResult;

@model PDIVehicleResultListModel

@{
    ViewBag.Title = MessageResource.PDIVehicleResultConfirm_PageTitle_Index;
}
<script src="~/Scripts/odms.objectsearch.js"></script>
 
<script src="~/Scripts/custom.js"></script>
<div id="GuaranteeRequestApproveModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("GuaranteeRequestApproveModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#PDIVehicleResultGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.GroupName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.GroupId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.GroupList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.ModelKod)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ModelKod).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ModelKodList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.TypeName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.TypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.TypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.VinNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.VinNo)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ReferenceObjectValue = null, Required = true, SelectCallBackFunction = "" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StatusName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Events(e => e.Open("OpenStartDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Events(e => e.Open("OpenEndDate").Change("OpenStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.ApprovalUserName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ApprovalUserId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.UserList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.PDIVehicleResult.PDIVehicleResultIndex)
<div id="PDIVehicleResultModelWindowDiv">
    @(Html.Kendo().Window()
          .Name("PDIVehicleResultModelWindow")
          .Draggable()
          .Resizable()
          .Width(950)
          .Height(647)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
         var grid = $('#PDIVehicleResultGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
          )
</div>

<div id="PdiPackageResultsWindow" style="background-color: #EDF1F4 !important" class="hide"></div>
<script type="text/javascript">
    function ShowPopup(frameTitle, link) {
        $("#GuaranteeRequestApproveModelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#GuaranteeRequestApproveModelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;
        windowWidget.wrapper.css({
            width: 1450,
            height: 650
        });
        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();

    }
    function OpenStartDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#EndDate").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#StartDate").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }
    $(document).ready(init);
    function PDIVehicleResultSearch() {
        return {
            GroupId: $('#GroupId').val(),
            TypeId: $('#TypeId').val(),
            ModelKod: $('#ModelKod').val(),
            VinNo: $('#VinNo').val(),
            CustomerId: $('#CustomerId').val(),
            StatusId: $('#StatusId').val(),
            StartDate: $('#StartDate').val(),
            EndDate: $('#EndDate').val(),
            ApprovalUserId: $('#ApprovalUserId').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#PDIVehicleResultGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#PDIVehicleResultModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("detailsPopup") == true) {
                link = "@Url.Action("PdiVehicleResultDetailConfirmIndex", "PDIVehicleResult", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#PDIVehicleResultModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#PDIVehicleResultModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });
    }
    function OpenDocuments(id) {
        $('#ShowWorkOrderDocumentsWindow').kwnd('@Url.Action("WorkOrderDocumentsIndex","WorkOrderDocuments")/' + id, '@Html.Raw(MessageResource.WorkOrderCard_Display_Documents)',
            {
                iframe: false,
                width: 1200,
                height: 460,
                onClose: function () {
                    $("#ShowWorkOrderDocumentsWindow").html('');

                }
            });
        $('#ShowWorkOrderDocumentsWindow').removeClass("hide");
        OpenWindow($('#ShowWorkOrderDocumentsWindow'));
    }
    function OpenVehicleHistory(obj) {
        ShowPopup('@Html.Raw(MessageResource.WorkOrderCard_Display_VehicleHistory)', '@Url.Action("VehicleHistoryIndex","Vehicle")' + '?vehicleId=' + obj);
    }
</script>

<div id="ShowWorkOrderDocumentsWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PDIVehicleResultListModel>()
          .Name("PDIVehicleResultGrid")

          .Columns(columns =>
              {
                  //columns.Bound(p => p.PDIVehicleResultId).ClientTemplate("<center><a class='detailsPopup modalClick' id='#=PDIVehicleResultId#' frameTitle='" + CommonUtility.GetResourceValue("PDIVehicleResultConfirm_PageTitle_Details") + "' href='/PDIVehicleResult/PDIVehicleResultConfirmDetails/\"#=PDIVehicleResultId#\"'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIVehicleResult.PDIVehicleResultConfirmDetails)).Title("Onay/İptal");
                  //columns.Bound(p => p.GroupName).Sortable(true);
                  columns.Bound(p => p.WorkOrderId).Width(50).ClientTemplate("<center><a class='' style='cursor:pointer' onclick='OpenDocuments(#=WorkOrderId#)'><img class=iconLink src='" + Url.Content("~/Images/save.gif") + "'></a></center>").Sortable(false).Title(MessageResource.Global_Display_Doc);
                  columns.Bound(p => p.WorkOrderId).Width(60).ClientTemplate("<center><a class='' id='#=WorkOrderId#' href='" + Url.Action("WorkOrderCardIndex", "WorkOrderCard") + "/#=WorkOrderId#'>#=WorkOrderId#</a></center>").Sortable(true);
                  columns.Bound(p => p.ModelKod).Width(100).Sortable(true);
                  columns.Bound(p => p.TypeName).Width(110).Sortable(true);
                  columns.Bound(p => p.VinNo).ClientTemplate("<center><a class='' style='cursor:pointer' onclick='OpenVehicleHistory(#=VehicleId#)'>#=VinNo#</a></center>").Sortable(true);
                  columns.Bound(p => p.EngineNo).Width(90).Sortable(true);
                  columns.Bound(p => p.CustomerName).Width(200).Sortable(true);
                  columns.Bound(p => p.TransmissionSerialNo).Sortable(true);
                  columns.Bound(p => p.DifferentialSerialNo).Sortable(true);
                  columns.Bound(p => p.PDICheckNote).Sortable(true);
                  //columns.Bound(p => p.ApprovalNote).Sortable(true);
                  columns.Bound(p => p.ApprovalUserName).Sortable(true);
                  columns.Bound(p => p.StatusName).Width(90).Sortable(true);
                  columns.Bound(p => p.CreateDate).Width(90).Sortable(true).Format("{0:dd/MM/yyyy}");
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPDIVehicleResultConfirm", "PDIVehicleResult", Model).Data("PDIVehicleResultSearch"))
                                        .Model(model => model.Field(o => o.PDIVehicleResultId).DefaultValue(-1)))

          )
</div>
