
@using ODMSCommon.Resources
@using ODMSModel.Reports
@using Kendo.Mvc.UI
@using System.Web.Mvc.Html
@model CampaignSummaryInfoDetailParameter
@{
    Layout = "~/views/shared/popup_layout.cshtml";
}

@Html.ExportExcelButton(new ExcelExportDto("Reports", "ListCampaignSummaryInfo", "CampaignSummaryInfoReportFilterFunc", "sdfsdf", filterId: "searchFields", reportName: MessageResource.PartExchangeReport_Display_PartInfo).Build<CampaignSummaryInfoModel, object>(c => c.VehicleModel, c => c.VehicleType, c => c.VinNo, c => c.IsActive, c => c.Region, c => c.DealerName, c => c.WorkOrderCardNumber, c => c.WorkOrderStartDate, c => c.Kilometer, c => c.WorkerMount, c => c.BitMount))



<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<CampaignSummaryInfoModel>()
          .Name("PartInfoGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.VehicleModel).Sortable(true).Width(70).Title(MessageResource.Appointment_Display_VehicleModel);
              columns.Bound(p => p.VehicleType).Sortable(true).Width(70).Title(MessageResource.Appointment_Display_VehicleType);
              columns.Bound(p => p.VinNo).ClientTemplate("<a class='k-link' onclick='OpenVehicleHistory(#=VehicleId#)'>#=VinNo#</a>").Sortable(true).Width(70).Title(MessageResource.Vehicle_Display_VinNo);
              columns.Bound(p => p.IsActive).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_IsActive);
              //columns.Bound(p => p.IsApply).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_IsApply);
              columns.Bound(p => p.Region).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_Region);
              columns.Bound(p => p.DealerName).Sortable(true).Width(70).Title(MessageResource.StockBlock_Display_Dealer);
              columns.Bound(p => p.WorkOrderCardNumber).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderCardNumber#'>#=WorkOrderCardNumber#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_WorkOrderCardNumber);
              columns.Bound(p => p.WorkOrderStartDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(70).Title(MessageResource.WorkOrderDetailReport_Display_StartDate);
              columns.Bound(p => p.WarrantyStartDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(70).Title(MessageResource.KilometerReportInfo_Display_WarrantyStartDate);
              columns.Bound(p => p.Kilometer).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_Kilometer);
              columns.Bound(p => p.WorkerMount).Format("{0:n}").Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_WorkerMount);
              columns.Bound(p => p.BitMount).Format("{0:n}").Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_BitMount);
              columns.Bound(p => p.VehicleId).Sortable(true).Visible(false);
              columns.Bound(p => p.GifCost).Sortable(true).Title(MessageResource.GifCost); ;
              columns.Bound(p => p.AvgPrice).Sortable(true).Title(MessageResource.PartExchangeReport_Display_AvgPrice); ;
          })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                .Read(read => read.Action("ListCampaignSummaryInfo", "Reports").Data("CampaignSummaryInfoReportFilterFunc"))
                                        )
    )
</div>
<div id="VehicleHistoryWindow" style="background-color: #EDF1F4 !important" class="hide"></div>
<script type="text/javascript">
    function OpenVehicleHistory(obj) {
        $('#VehicleHistoryWindow').kwnd('@Url.Action("VehicleHistoryIndex", "Vehicle")?VehicleId=' + obj, '@Html.Raw(MessageResource.WorkOrderCard_Display_VehicleHistory)',
        {
            iframe: true,
            width: 1250,
            height: 650,
            onClose: function () {
                $("#VehicleHistoryWindow").html('');
            }
        });
        $('#VehicleHistoryWindow').removeClass("hide");
        OpenWindow($('#VehicleHistoryWindow'));
    }

    function CampaignSummaryInfoReportFilterFunc() {
        return {
            CampaignCode: '@Model.CampaignCode',
            RegionIdList: '@Model.RegionIdList',
            DealerIdList: '@Model.DealerIdList',
            GroupCode: '@Model.GroupCode',
            GroupType: @Model.GroupType,
            Currency: '@Model.Currency',
            StartDate:'@Model.StartDate',
            EndDate:'@Model.EndDate',
            VehicleModel : '@Model.VehicleModel',
            GuaranteeStat : '@Model.GuaranteeStat',
            IsMust : '@Model.IsMust',
            CampaignStatus : '@Model.CampaignStatus',
            GuaranteeConfirmStartDate : '@Model.GuaranteeConfirmStartDate',
            GuaranteeConfirmEndDate : '@Model.GuaranteeConfirmEndDate'
        }
    }
</script>