@using ODMSCommon.Resources
@using ODMSModel.Reports
@using Kendo.Mvc.UI
@using System.Web.Mvc.Html
@model WorkOrderInfoDetailParameter
@{
    Layout = null;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style>
    #popupContent {
        width: 100%;
        margin-right: 10px;
    }
</style>


<div id="searchFields1" class="disnone">
    <input type="hidden" id="group_type" name="group_type" value="@Model.id" />
    <input type="hidden" id="GroupTypeVal" name="GroupTypeVal" value="@Model.GroupName" />
    <input type="hidden" id="StatusIds" name="StatusIds" value="@Model.StatusIds" />
    @Html.HiddenFor(c => c.DealerIdList)
    @Html.HiddenFor(c => c.RegionIdList)
    @Html.HiddenFor(c => c.CustomerIdList)
    @Html.HiddenFor(c => c.VehicleModelList)
    @Html.HiddenFor(c => c.VinNo)
    @Html.HiddenFor(c => c.CustTypeList)
    @Html.HiddenFor(c => c.BeginDate)
    @Html.HiddenFor(c => c.EndDate)
</div>
@Html.ExportExcelButton(new ExcelExportDto("Reports", "ListWorkOrderInfo", "GetSearchParameters", "sdfsdf", filterId: "searchFields1", reportName: MessageResource.CarServiceDurationReport_PageTitle_Index).Build<WorkOrderInfoModel, object>(
    c => c.DealerName,
    c => c.WorkOrderId,
    c => c.VinNo,
    c => c.WarrantyStartDate,
    c => c.WarrantyEndDate,
    c => c.StartDate,
    c => c.EndDate,
    c => c.CloseDate,
    c => c.TotalWaitingHour,
    c => c.WoDate,
    c => c.TotalDay,
    c => c.WoDateTotal,
    c => c.VehicleKilometer))


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<WorkOrderInfoModel>()
          .Name("PartInfoGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerName).Sortable(true).Width(70).Title(MessageResource.CarServiceDurationReport_Display_GroupName);
              columns.Bound(p => p.WorkOrderId).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderId#'>#=WorkOrderId#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).Sortable(true).Width(100).Title(MessageResource.WorkOrderBatchInvoice_Display_WorkOrderId);
              columns.Bound(p => p.VinNo).HtmlAttributes(new { style = "text-align:center" }).ClientTemplate("<a class='k-link' onclick='OpenVehicleHistory(#=VehicleId#)'>#=VinNo#</a>").Sortable(true).Width(100).Title(MessageResource.Vehicle_Display_VinNo);
              columns.Bound(p => p.WarrantyStartDate).Width(90).Format("{0:dd/MM/yyyy}").Sortable(true);
              columns.Bound(p => p.WarrantyEndDate).Width(90).Format("{0:dd/MM/yyyy}").Sortable(true);
              columns.Bound(p => p.StartDate).Format("{0:dd/MM/yyyy HH:mm}").Sortable(true).Width(70).Title(MessageResource.WorkOrderDetailReport_Display_WorkOrderDate);
              columns.Bound(p => p.EndDate).Format("{0:dd/MM/yyyy HH:mm}").Sortable(true).Width(70).Title(MessageResource.WorkOrderCard_Dislay_VehicleLeaveDate);
              columns.Bound(p => p.CloseDate).Format("{0:dd/MM/yyyy HH:mm}").Sortable(true).Width(70).Title(MessageResource.WorkOrderDetailReport_Display_ClosedDate);
              columns.Bound(p => p.TotalWaitingHour).Format("{0:n}").Sortable(true).Width(100).Title(MessageResource.CarServiceDurationReport_Display_TotalStatusWaitingHour);
              columns.Bound(p => p.TotalDay).Format("{0:n}").Sortable(true).Width(100).Title(MessageResource.CarServiceDurationReport_Display_TotalDay_);
              columns.Bound(p => p.WoDate).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(100).Title(MessageResource.CarServiceDurationReport_Display_TotalStatusDay);
              columns.Bound(p => p.WoDateTotal).Format("{0:n}").Sortable(true).Width(100).Title(MessageResource.CarServiceDurationReport_Display_WoDateTotal_);
              columns.Bound(p => p.VehicleKilometer).Sortable(true).Width(100).Title(MessageResource.VehicleHistory_Display_VehicleKM);
              columns.Bound(p => p.VehicleId).Sortable(true).Visible(false).Title("VehicleId");

          })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true).Read(read => read.Action("ListWorkOrderInfo", "Reports").Data("GetSearchParameters"))
                                        )

    ) 
</div>
<div id="VehicleHistoryWindow" style="background-color: #EDF1F4 !important" class="hide">

</div>
<script type="text/javascript">

    function OpenVehicleHistory(obj) {
        $('#VehicleHistoryWindow').kwnd('@Url.Action("VehicleHistoryIndex", "Vehicle")?VehicleId=' + obj, '@Html.Raw(MessageResource.WorkOrderCard_Display_VehicleHistory)',
        {
            iframe: true,
            width: 800,
            height: 400,
            onClose: function () {
                $("#VehicleHistoryWindow").html('');
            }
        });
        $('#VehicleHistoryWindow').removeClass("hide");
        OpenWindow($('#VehicleHistoryWindow'));
    }
    function GetSearchParameters() {
        var dealerIdList = $("#DealerIdList").val();
        var vehicleModelList = $("#VehicleModelList").val();
        var regionIdList = $("#RegionIdList").val();
        return {
            group_type: @Model.id,
            GroupTypeVal:$('#GroupTypeVal').val(),
            BeginDate: '@Model.BeginDate',
            EndDate: '@Model.EndDate',
            DealerIdList: dealerIdList,
            RegionIdList: regionIdList,
            VehicleModelList: vehicleModelList,
            VinNo: $("#VinNo").val(),
            CustTypeList: $("#CustTypeList").val(),
            CustomerIdList: $("#CustomerIdList").val(),
            StatusIdList: $("#StatusIds").val()
        };
    }
</script>