@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.Reports
@using ODMSBusiness

@model AlternatePartReportFilterRequest

@{
    ViewBag.Title = MessageResource.AlternatePartReport_PageTitle_Index;
}
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.PartCode) </div>
        <div class="shortTxtDiv">@Html.TextBoxFor(x => x.PartCode)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.PartName) </div>
        <div class="shortTxtDiv">@Html.TextBoxFor(x => x.PartName)</div>
            
        <div class="clearDiv">&nbsp;</div>
        
        <div class="labelDiv">@Html.LabelFor(v => v.AlternatePartCode) </div>
        <div class="shortTxtDiv">@Html.TextBoxFor(x => x.AlternatePartCode)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.AlternatePartName) </div>
        <div class="shortTxtDiv">@Html.TextBoxFor(x => x.AlternatePartName)</div>
     </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.AlternatePartReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.AlternatePartExcelExport))
{
    @Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<AlternatePartReport>()
          .Name("AlternatePartReportGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.PartCode).Sortable(false);
              columns.Bound(p => p.PartName).Sortable(false);
              columns.Bound(p => p.AlternatePartCode).Sortable(false);
              columns.Bound(p => p.AlternatePartName).Sortable(false);
              columns.Bound(p => p.AlternatePartListPrice).Sortable(false);

          })
          .Pageable()
          .Sortable()
          .Events(e => e.DataBound("onDataBound"))
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Events(e => e.RequestStart("onDataBinding"))
                                                .Read(read => read.Action("ListAlternatePartReport", "Reports", Model).Data("GetParameters"))
                                        )

    )
</div>
<script type="text/javascript">

    function onDataBinding(e) {
       
    }

    $(document).ready(init);

    function GetParameters() {
        return {
            PartCode: $("#PartCode").val(),
            PartName: $("#PartName").val(),
            AlternatePartCode: $("#AlternatePartCode").val(),
            AlternatePartName: $("#AlternatePartName").val(),
            ReportType: 57,
            Columns: "PartCode,PartName,AlternatePartCode,AlternatePartName"
        };
    }

    function init() {

        $("#searchDiv").show("slow");
        $("body").delegate("#btnReset", "click", function (e) {
            $("#PartCode").val("");
            $("#PartName").val("");
            $("#AlternatePartCode").val("");
            $("#AlternatePartName").val("");
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#AlternatePartReportGrid').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }

    function onDataBound(e) {
    }


</script>