@using ODMSCommon.Resources
@using ODMSModel.Reports

@model CampaignSummaryReportFilterRequest

@{
    ViewBag.Title = MessageResource.CampaignSummaryReport_PageTitle_Index;
}

<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).Events(e => e.Change("OnDealerRegionIdChange")).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.RegionIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).Events(e => e.Change("GroupTypeRefresh")).DataTextField("ShortName").DataValueField("DealerId").HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.StartDate) <br /> (@MessageResource.Campaign_Display_StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Events(e => e.Open("OpenBeginDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EndDate) <br /> (@MessageResource.Campaign_Display_EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Events(e => e.Open("OpenEndDate").Change("OpenBeginDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.Currency)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.Currency).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CurrencyCodeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CampaignCode)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.CampaignCode).Events(e => e.Change("GroupTypeRefresh")).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CampaignCodeList as List<SelectListItem>).DataValueField("Value").DataTextField("Value")</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.VehicleModelList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleModelList).Events(e => e.Change("GroupTypeRefresh")).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleModelList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsWarranty)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IsWarranty).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.WarrantyStatusList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.IsMust)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IsMust).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.IsMust as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.CampaignStatus)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CampaignStatus).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CampaignStatus as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.GroupType)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.GroupType).HtmlAttributes(new { style = "width:200px;" }).DataTextField("Text").DataValueField("Value").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.GroupType as List<SelectListItem>)
        </div>

        <div class="labelDiv">@Html.LabelFor(b => b.GuaranteeConfirmStartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.GuaranteeConfirmStartDate).Events(e => e.Open("OpenBeginDate").Change("OpenBeginDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.GuaranteeConfirmEndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.GuaranteeConfirmEndDate).Events(e => e.Open("OpenBeginDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.CampaignSummaryReportIndex)

@*@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", "")*@
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.CampaignSummaryExcelExport))
{
        @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<CampaignSummaryReport>()
          .Name("gridReport")
          .Columns(columns =>
          {
              columns.Bound(p => p.GroupCode).Sortable(true).Visible(false).Width(200);
              columns.Bound(p => p.GroupType).Sortable(true).Visible(false).Width(200);
              columns.Bound(p => p.GroupName).Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_GroupName);
              columns.Bound(p => p.CampaignCode).Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_CompaignCode);
              columns.Bound(p => p.Description).Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_Description);
              columns.Bound(p => p.StartDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150).Title(MessageResource.CampaignSummaryReport_Display_StartDate);
              columns.Bound(p => p.EndDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150).Title(MessageResource.CampaignSummaryReport_Display_EndDate);
              columns.Bound(p => p.TotalCampaignInternalVehicle).ClientTemplate("<a class='k-link' onclick='OpenCampaignVehicles(\"#=CampaignCode#\", \"#= GroupType #\", \"#= GroupName #\", \"#= Currency #\")'>#=TotalCampaignInternalVehicle#</a>").Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_TotalCampaignInternalVehicle);
              columns.Bound(p => p.TotalCampaignUseVehicle).ClientTemplate("<a class='k-link' onclick='OpenCampaignUseVehicles(\"#=CampaignCode#\", \"#= GroupType #\", \"#= GroupCode #\", \"#= Currency #\")'>#=TotalCampaignUseVehicle#</a>").Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_TotalCampaignUseVehicle);
              columns.Bound(p => p.CampaignUseVehicle).Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_CampaignUseVehicle);
              //columns.Bound(p => p.ReturnedQty).Sortable(true).Width(60).HtmlAttributes(new { style = "text-align:right" });
              //columns.Bound(p => p.Orderqty).Sortable(true).Width(70).Title(MessageResource.CampaignSummaryReport_Display_Orderqty).HtmlAttributes(new { style = "text-align:right" }).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}?campaignCode=#=CampaignCode#'>#=Orderqty#</a>", Url.Action("PurchaseOrderIndex", "PurchaseOrder")));
              columns.Bound(p => p.Application).Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_Application);
              columns.Bound(p => p.WorkerAmount).Format("{0:n}").Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_WorkerAmount).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.BitMount).Format("{0:n}").Sortable(true).Width(200).Title(MessageResource.CampaignSummaryReport_Display_BitMount).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.GroupType).Width(200).Sortable(true).Visible(false);
              //columns.Bound(p => p.AvgPrice).Sortable(true).Width(70).HtmlAttributes(new { style = "text-align:right" }).Width(100);
              columns.Bound(p => p.Currency).Sortable(true).Width(150).Title(MessageResource.CampaignSummaryReport_Display_Currency);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(e => e.RequestStart("onValidate"))
                                        .ServerOperation(true)
                                                .Read(read => read.Action("CampaignSummaryReport", "Reports", Model).Data("GetParameters"))
                                                
                                        )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important;width:auto !important;" class="hide"></div>
<div id="CampaignVehiclesWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")
<script type="text/javascript">

    

    var groupTypeJSON = @Html.Raw(Json.Encode(ViewBag.GroupType));

    function OpenCampaignUseVehicles(campaignCode, groupType, groupCode, currency) {

        var dealerIdList= $("#DealerIdList").data('kendoMultiSelect').value().toString();
        var regionIdList= $("#RegionIdList").data('kendoMultiSelect').value().toString();
        var startDate= $('#StartDate').val();
        var endDate= $('#EndDate').val();

        var vehicleModel= $("#VehicleModelList").data('kendoMultiSelect').value().toString();
        var guaranteeStat= $("#IsWarranty").data('kendoComboBox').value().toString();
        var campaignStatus= $("#CampaignStatus").data('kendoComboBox').value().toString();
        var isMust= $("#IsMust").data('kendoComboBox').value().toString();
        var guaranteeConfirmStartDate= $('#GuaranteeConfirmStartDate').val();
        var guaranteeConfirmEndDate= $('#GuaranteeConfirmEndDate').val();

        if(guaranteeStat=="")
            guaranteeStat= 0;
        if(campaignStatus=="")
            campaignStatus= 0;
        if(isMust=="")
            isMust= 0;

        $('#PartInfoWindow').kwnd('@Url.Action("CampaignSummaryInfo", "Reports")?campaignCode=' + campaignCode + '&groupCode=' + groupCode + '&groupType=' + groupType + '&currency=' + currency + '&startDate=' + startDate + '&endDate=' + endDate+"&dealerIdList="+dealerIdList+"&regionIdList="+regionIdList+"&vehicleModel="+vehicleModel+"&guaranteeStat="+guaranteeStat+"&campaignStatus="+campaignStatus+"&isMust="+isMust+"&guaranteeConfirmStartDate="+guaranteeConfirmStartDate+"&guaranteeConfirmEndDate="+guaranteeConfirmEndDate, '@Html.Raw(MessageResource.CampaignSummaryReport_PageTitle_Index)',
        {
            iframe: true,
            width: 920,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });


        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }
    function OpenCampaignVehicles(campaignCode, groupType, groupCode, currency) {

        var dealerIdList= $("#DealerIdList").data('kendoMultiSelect').value().toString();
        var regionIdList= $("#RegionIdList").data('kendoMultiSelect').value().toString();
        var startDate= $('#StartDate').val();
        var endDate= $('#EndDate').val();

        var vehicleModel= $("#VehicleModelList").data('kendoMultiSelect').value().toString();
        var guaranteeStat= $("#IsWarranty").data('kendoComboBox').value().toString();
        var campaignStatus= $("#CampaignStatus").data('kendoComboBox').value().toString();
        var isMust= $("#IsMust").data('kendoComboBox').value().toString();
        var guaranteeConfirmStartDate= $('#GuaranteeConfirmStartDate').val();
        var guaranteeConfirmEndDate= $('#GuaranteeConfirmEndDate').val();

        if(guaranteeStat=="")
            guaranteeStat= 0;
        if(campaignStatus=="")
            campaignStatus= 0;
        if(isMust=="")
            isMust= 0;

        $('#CampaignVehiclesWindow').kwnd('@Url.Action("CampaignVehicles", "Reports")?campaignCode=' + campaignCode + '&groupCode=' + groupCode + '&groupType=' + groupType + '&currency=' + currency + '&startDate=' + startDate + '&endDate=' + endDate+"&dealerIdList="+dealerIdList+"&regionIdList="+regionIdList+"&vehicleModel="+vehicleModel+"&guaranteeStat="+guaranteeStat+"&campaignStatus="+campaignStatus+"&isMust="+isMust+"&guaranteeConfirmStartDate="+guaranteeConfirmStartDate+"&guaranteeConfirmEndDate="+guaranteeConfirmEndDate, '@Html.Raw(MessageResource.CampaignVehicle_PageTitle_Index)',
     {
         iframe: true,
         width: 800,
         height: 450,
         onClose: function () {
             $("#CampaignVehiclesWindow").html('');
         }
     });


        $('#CampaignVehiclesWindow').removeClass("hide");
        OpenWindow($('#CampaignVehiclesWindow'));
    }


    function OpenBeginDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#EndDate").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#StartDate").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }

    $(document).ready(init);

    function onValidate(evt)
    {
        var groupType = $("#GroupType").data('kendoComboBox').value().toString();

        if (!groupType || groupType == "0") {
            SetErrorMessage('@MessageResource.VehicleServiceDurationReport_Message_GroupTypeIsRequired');
            evt.preventDefault();
            return false;
        }
        
        SetSuccessMessage('@MessageResource.VehicleServiceDurationReport_Message_GroupTypeChoose');
        return true;
    }
    

    function GetParameters(evt) {

        return {
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            RegionIdList: $("#RegionIdList").data('kendoMultiSelect').value().toString(),
            StartDate: $('#StartDate').val(),
            EndDate: $('#EndDate').val(),
            Currency: $("#Currency").data('kendoComboBox').value().toString(),
            CampaignCode: GetQuotedList($("#CampaignCode").data('kendoMultiSelect').value().toString()),
            VehicleModelList: GetQuotedList($("#VehicleModelList").data('kendoMultiSelect').value().toString()),
            IsWarranty: $("#IsWarranty").data('kendoComboBox').value().toString(),
            GroupType: $("#GroupType").data('kendoComboBox').value().toString(),
            CampaignStatus: $("#CampaignStatus").data('kendoComboBox').value().toString(),
            IsMust: $("#IsMust").data('kendoComboBox').value().toString(),
            GuaranteeConfirmStartDate: $('#GuaranteeConfirmStartDate').val(),
            GuaranteeConfirmEndDate: $('#GuaranteeConfirmEndDate').val(),
            ReportType:42,
            Columns:"GroupName,CampaignCode,Description,StartDate,EndDate,TotalCampaignInternalVehicle,TotalCampaignUseVehicle,CampaignUseVehicle,Application,WorkerAmount,BitMount,Currency"
        };
    }


    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#RegionIdList").data('kendoMultiSelect').value('');
            $("#VehicleModelList").data('kendoMultiSelect').value('');
            $("#Currency").data('kendoComboBox').value('');
            $("#CampaignCode").data('kendoMultiSelect').value('');
            $("#IsWarranty").data('kendoComboBox').value('');
            $("#GroupType").data('kendoComboBox').value('');
            $("#CampaignStatus").data('kendoComboBox').value('');
            $("#IsMust").data('kendoComboBox').value('');
        });

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $.ajax({
            url: '@Url.Action("ListDealers", "Dealer")',
            type: 'GET',
            async: false,
            success: function (result) {
                var combobox = $("#DealerIdList").data("kendoMultiSelect");
                combobox.setDataSource(result.Data);

            }
        });

    }

    function OnDealerRegionIdChange() {
        GroupTypeRefresh();

        var DealerRegionId = $('#RegionIdList').val();
        $("#DealerIdList").data("kendoMultiSelect").value([]);

        $.ajax({
            url: '@Url.Action("ListDealers", "Dealer")',
            type: 'GET',
            async: false,
            data: "Page=1&PageSize=99999&DealerRegionId=" + DealerRegionId,
            success: function (result) {

                var combobox = $("#DealerIdList").data("kendoMultiSelect");
                combobox.setDataSource(result.Data);
            }
        });
    }

    //Seçilen kriteler çıkarılır.
    function GroupTypeRefresh()
    {
        $("#GroupType").data("kendoComboBox").value('');
        var combobox = $("#GroupType").data("kendoComboBox");

        var list = [];
        $.each(groupTypeJSON, function(i, v) {
            if ((v.Value == 2 && $("#VehicleModelList").val() == null)   ||
                (v.Value == 4 && $("#RegionIdList").val() == null)  ||
                (v.Value == 1 && $("#DealerIdList").val() == null)  ||
                (v.Value == 5 && $("#CampaignCode").val() == null) ||
                (v.Value == 3)
                ) {
                list.push(v);
                return;
            }
        });

        combobox.setDataSource(list);
    }

</script>