@using ODMSCommon.Resources
@using ODMSModel.Reports

@model VehicleServiceDurationFilterRequest
@{
    ViewBag.Title = MessageResource.CarServiceDurationReport_PageTitle_Index;
}

<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.BeginDate) <br /> (@MessageResource.WorkOrderDetailReport_Display_WorkOrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.BeginDate).Events(e => e.Open("OpenBeginDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EndDate) <br /> (@MessageResource.WorkOrderDetailReport_Display_WorkOrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Events(e => e.Open("OpenEndDate").Change("OpenBeginDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.RegionIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.VehicleModelList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleModelList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleModelList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(v => v.VinNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.VinNo)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.CustTypeList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.CustTypeList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CustTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.CustomerIdList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CustomerIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.StatusIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.StatusIdList).Value("4").HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.WorkOrderStatusList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.GroupType)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.GroupType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.GroupType as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.CarServiceDurationReportIndex)

@*@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", "")*@
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.CarServiceDurationExcelExport))
{
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<VehicleServiceDurationReport>()
          .Name("gridReport")

          //te
          .Columns(columns =>
          {
              columns.Bound(p => p.GroupName).Sortable(true).Width(100).Title(MessageResource.CarServiceDurationReport_Display_GroupName).Width(200);
              columns.Bound(p => p.TotalWorkOrderNumber).HtmlAttributes(new { style = "width:200px;" }).ClientTemplate("<a class='k-link' onclick='OpenPartInfo(#=group_type #, \"#= GroupName #\")'>#=TotalWorkOrderNumber#</a>").Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalWorkOrderNumber);
              columns.Bound(p => p.TotalServiceHour).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalServiceHour);
              columns.Bound(p => p.TotalServiceDay).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalServiceDay);
              columns.Bound(p => p.AverageServiceHour).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_AverageServiceHour);
              columns.Bound(p => p.AverageServiceDay).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_AverageServiceDay);
              columns.Bound(p => p.TotalWaitingHour).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalStatusWaitingHour);
              columns.Bound(p => p.TotalDay).Format("{0:n}").Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalStatusDay);
              columns.Bound(p => p.AverageWaitingHour).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_AverageWaitingStatuHour);
              columns.Bound(p => p.WoDate).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalWaitingHour);
              columns.Bound(p => p.WoTotalDay).Format("{0:n}").Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_TotalDay);
              columns.Bound(p => p.WoAverageWaitingHour).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_AverageWaitingHour);
              columns.Bound(p => p.AverageDay).Format("{0:n}").HtmlAttributes(new { style = "width:200px;" }).Sortable(true).Width(200).Title(MessageResource.CarServiceDurationReport_Display_AverageDay);
              columns.Bound(p => p.group_type).Sortable(true).Visible(false); 
          })

          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Events(c => c.RequestStart("CheckFilters"))
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                .Read(read => read.Action("CarServiceDurationReport", "Reports", Model).Data("GetParameters")))
    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")

<script type="text/javascript">

    function OpenPartInfo(groupType, groupName) {

        var params = '?id=' + groupType + '&groupName=' + groupName + "&statusIds=" + $("#StatusIdList").data('kendoMultiSelect').value().toString() +
        '&BeginDate=' + $('#BeginDate').val() +
        '&EndDate=' + $('#EndDate').val() +
        '&DealerIdList=' + $("#DealerIdList").data('kendoMultiSelect').value().toString() +
        '&RegionIdList=' + $("#RegionIdList").data('kendoMultiSelect').value().toString() +
        '&VehicleModelList=' + $("#VehicleModelList").data('kendoMultiSelect').value().toString() +
        '&VinNo=' + $("#VinNo").val() +
        '&CustTypeList=' + $("#CustTypeList").data('kendoMultiSelect').value().toString() +
        '&CustomerIdList=' + $("#CustomerIdList").data('kendoMultiSelect').value().toString();
        $('#PartInfoWindow').kwnd('@Url.Action("WorkOrderInfo", "Reports")' + params,
            '@Html.Raw(MessageResource.CarServiceDurationReport_PageTitle_Index)',
        {
            iframe: true,
            width: 1250,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });

        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }

    function CheckFilters(e) {
        var groupType = $("#GroupType").data('kendoComboBox').value().toString();
        var statusIdList = $("#StatusIdList").data('kendoMultiSelect').value().toString();

        if ($("#BeginDate").val() == "" || $("#EndDate").val() == "") {
            SetErrorMessage('@MessageResource.WorkOrderMaint_Validation_Required');
            e.preventDefault();
            return false;
        }


        if (!statusIdList || statusIdList == "0") {
            SetErrorMessage('@MessageResource.VehicleServiceDurationReport_Message_StatusIsRequired');
            e.preventDefault();
            return false;
        }

        if (!groupType || groupType == "0") {
            SetErrorMessage('@MessageResource.VehicleServiceDurationReport_Message_GroupTypeIsRequired');
            e.preventDefault();
            return false;
        }

    }

    function OpenBeginDate() {
        var dateStart = $("#BeginDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#EndDate").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#BeginDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");
        if ($("#BeginDate").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }

    $(document).ready(init);

    function GetParameters() {

        var dealerIdList = $("#DealerIdList").data('kendoMultiSelect').value().toString();
        var vehicleModelList = GetQuotedList($("#VehicleModelList").data('kendoMultiSelect').value().toString());
        var regionIdList = $("#RegionIdList").data('kendoMultiSelect').value().toString();
        var groupType = $("#GroupType").data('kendoComboBox').value().toString();
        var statusIdList = $("#StatusIdList").data('kendoMultiSelect').value().toString();
        if (!groupType || groupType == "0") {
            SetErrorMessage('@MessageResource.VehicleServiceDurationReport_Message_GroupTypeIsRequired');
            return;
        }
        if (!statusIdList || statusIdList == "0") {
            SetErrorMessage('@MessageResource.VehicleServiceDurationReport_Message_StatusIsRequired');
            return;
        } if ($("#BeginDate").val() == "" || $("#EndDate").val() == "") {
            SetErrorMessage('@MessageResource.WorkOrderMaint_Validation_Required');
            e.preventDefault();
            return false;
        }

        SetSuccessMessage('@MessageResource.Filtration_Success_Message');

        return {
            BeginDate: $('#BeginDate').val(),
            EndDate: $('#EndDate').val(),
            DealerIdList: dealerIdList,
            RegionIdList: regionIdList,
            VehicleModelList: vehicleModelList,
            VinNo: $("#VinNo").val(),
            CustTypeList: $("#CustTypeList").data('kendoMultiSelect').value().toString(),
            CustomerIdList: $("#CustomerIdList").data('kendoMultiSelect').value().toString(),
            StatusIdList: $("#StatusIdList").data('kendoMultiSelect').value().toString(),
            GroupType: groupType,
            ReportType: 34,
            Columns: "GroupName,TotalWorkOrderNumber,TotalServiceHour,TotalServiceDay,AverageServiceHour,AverageServiceDay,TotalWaitingHour,TotalDay,AverageWaitingHour,WoDate,WoTotalDay,WoAverageWaitingHour,AverageDay"
        };
    }


    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#RegionIdList").data('kendoMultiSelect').value('');
            $("#VehicleModelList").data('kendoMultiSelect').value('');
            $("#CustomerName").data('kendoMultiSelect').value('');
            $("#CustTypeList").data('kendoMultiSelect').value('');
            $("#CustomerIdList").data('kendoMultiSelect').value('');
            $("#StatusIdList").data('kendoMultiSelect').value('');
            $("#GroupType").data('kendoComboBox').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }

</script>
