@using ODMSCommon.Resources
@using ODMSModel.Reports
@model ODMSModel.Reports.FixAssetInventoryReportFilterRequest
@{
    ViewBag.Title = MessageResource.FixAssetInventoryReport_PageTitle_Index;
}
<link href="~/Style/Content.css" rel="stylesheet" />
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID ==0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId ==0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        <div class="shortTxtDiv">
            @Html.TextBoxFor(f=>f.PartCode)
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">
            @Html.TextBoxFor(f=>f.PartName)
        </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.EquipmentTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.EquipmentTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleGroupId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VehicleGroupList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StatusId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

    </div>

</div>
@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.FixAssetInventoryReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.FixAssetInventoryExcelExport))
{
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<FixAssetInventoryReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerName).Sortable(true).Width(70);
              columns.Bound(p => p.RegionName).Sortable(true).Width(70);
              columns.Bound(p => p.FixAssetCode).Sortable(true).Width(70);
              columns.Bound(p => p.FixAssetName).Sortable(true).Width(70);
              columns.Bound(p => p.EquipmentTypeName).Sortable(true).Width(70);
              columns.Bound(p => p.PartCode).Sortable(true).Width(70);
              columns.Bound(p => p.PartName).Sortable(true).Width(50);
              columns.Bound(p => p.SerialNo).Sortable(true).Width(100);
              columns.Bound(p => p.VehicleGroupName).Sortable(true).Width(60);
              columns.Bound(p => p.StatusName).Sortable(true).Width(50);
              columns.Bound(p => p.CreateDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(100);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Events(e => e.RequestStart("onDataBinding"))
              .Read(read => read.Action("ListFixAssetInventoryReport", "Reports", Model).Data("GetParameters"))
          )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
<script type="text/javascript">

    function onDataBinding(e) {
        if ($("#DealerIdList").val() == null) {
            SetErrorMessage('@MessageResource.CycleCountResult_Validation_Required');
            e.preventDefault();
        } else {
            SetSuccessMessage('@MessageResource.Filtration_Success_Message');
        }
    }

    $(document).ready(init);
    function GetParameters() {
        return {
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            RegionIdList: $("#RegionIdList").data('kendoMultiSelect').value().toString(),
            PartCode: $("#PartCode").val(),
            PartName: $("#PartName").val(),
            EquipmentTypeId: $("#EquipmentTypeId").data('kendoComboBox').value().toString(),
            VehicleGroupId: $("#VehicleGroupId").data('kendoComboBox').value().toString(),
            StatusId: $("#StatusId").data('kendoComboBox').value().toString(),
            ReportType: 37,
            Columns: "DealerName,RegionName,FixAssetCode,FixAssetName,EquipmentTypeName,PartCode,PartName,SerialNo,VehicleGroupName,StatusName,CreateDate"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            $("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#RegionIdList").data('kendoMultiSelect').value('');
            $("#VehicleGroupId").data('kendoComboBox').value('');
            $("#EquipmentTypeId").data('kendoComboBox').value('');
            $("#StatusId").data('kendoComboBox').value('');
            $("#PartCode").val('');
            $("#PartName").val('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            //grid.dataSource.read();
            grid.dataSource.page(1);
        });
    }



</script>
