@using ODMSCommon.Resources
@using ODMSModel.Reports

@model InvoiceInfoFilterRequest

@{
    ViewBag.Title = MessageResource.InvoiceInfoReport_PageTitle_Index;
}
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.InvoiceCreateBeginDate) </div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.InvoiceCreateBeginDate).Events(e => e.Open("function(){ODMS.Component.OpenBeginDate('InvoiceCreateBeginDate','InvoiceCreateEndDate');}").Change("function(){ODMS.Component.OpenEndDate('InvoiceCreateEndDate','InvoiceCreateBeginDate');}")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.InvoiceCreateEndDate) </div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.InvoiceCreateEndDate).Events(e => e.Open("function(){ODMS.Component.OpenEndDate('InvoiceCreateEndDate','InvoiceCreateBeginDate');}").Change("function(){ODMS.Component.OpenBeginDate('InvoiceCreateBeginDate','InvoiceCreateEndDate');}")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.InvoiceType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.InvoiceType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.InvoiceTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>


        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.InvoiceNo)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().MultiSelectFor(c => c.InvoiceNo).MinLength(3).Filter(FilterType.StartsWith).AutoBind(true).DataTextField("Text").DataValueField("Value").DataSource(s => s.Read(r => r.Action("ListInvoiceNo", "Reports").Data("GetDealerId").Type(HttpVerbs.Post)).ServerFiltering(true)).HtmlAttributes(new { style = "width:200px" })

        </div>
        <div class="labelDiv">@Html.LabelFor(b => b.CustomerType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.CustomerType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CustomerTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.GovermentType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.GovermentType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.GovermentTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.CompanyType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.CompanyType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CompanyTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.CustomerNameList)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().MultiSelectFor(c => c.CustomerNameList).MinLength(3).Filter(FilterType.StartsWith).DataTextField("Text").DataValueField("Value").AutoBind(false).DataSource(s => s.Read(r => r.Action("ListCustomers", "Reports").Data("GetDealerId").Type(HttpVerbs.Post)).ServerFiltering(true)).HtmlAttributes(new { style = "width:200px" })
        </div>
        <div class="labelDiv">@Html.LabelFor(b => b.HasWithold)</div>
        <div class="shortTxtDiv">@Html.CheckBoxFor(c => c.HasWithold)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.ShowInvoiceDetails)</div>
        <div class="shortTxtDiv">@Html.CheckBoxFor(c => c.ShowInvoiceDetails, new { onchange = "ShowIncoiveDetailsChange();" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div id="invoiceDetailsFilters" class="hide">
            <div class="labelDiv">@Html.LabelFor(b => b.VatType)</div>
            <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VatType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VatTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
            <div class="labelDiv">@Html.LabelFor(b => b.PartCode)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.PartCode)</div>
            <div class="clearDiv">&nbsp;</div>
            <div class="labelDiv">@Html.LabelFor(b => b.LabourIdList)</div>
            <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.LabourIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.LabourList.ToString()).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.LabourList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
            <div class="clearDiv">&nbsp;</div>
        </div>
    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.InvoiceInfoReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.InvoiceInfoExcelExport))
{
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<InvoiceInfoReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.Type).Title("Tür").ClientTemplate("#if(Type == 1){#" +
              "<center>İş Emri Faturası</center>"
              + "#}else{# " +
              "  <center>Satış Faturası</center>"
              + " #}#").Width(100);
              columns.Bound(p => p.RegionName).Sortable(true).Width(200);
              columns.Bound(p => p.SAPCode).Sortable(true).Width(200);
              columns.Bound(p => p.DealerName).Sortable(true).Width(200);
              columns.Bound(p => p.VehicleModel).Sortable(true).Width(200);
              columns.Bound(p => p.VehicleType).Sortable(true).Width(200);
              columns.Bound(p => p.VinNo).Sortable(true).Width(200);
              //columns.Bound(p => p.EngineNo).Sortable(true);
              columns.Bound(p => p.CompanyType).Sortable(true).Width(200);
              columns.Bound(p => p.GovermentType).Sortable(true).Width(200);
              columns.Bound(p => p.TCIdentityNo).Sortable(true).Width(100);
              columns.Bound(p => p.TaxNo).Sortable(true).Width(100);
              columns.Bound(p => p.CustomerName).Sortable(true).Width(200);
              columns.Bound(p => p.CustomerSurname).Sortable(true).Width(200);
              columns.Bound(p => p.City).Sortable(true).Width(100);
              columns.Bound(p => p.Country).Sortable(true).Width(200);
              columns.Bound(p => p.Plate).Sortable(true).Width(200);
              columns.Bound(p => p.WorkOrderId).ClientTemplate("#if(WorkOrderId != null && Type == 1){#" + String.Format("<center><a class='k-link' target='_blank' href='{0}/#=WorkOrderId#'>#=WorkOrderId#</a></center>", Url.Action("WorkOrderCardIndex", "WorkOrderCard")) + "#}else{#<center> - </center>#}#").Width(150);




              //.ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderId#'>#=WorkOrderId#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).Sortable(true).Width(70);

              columns.Bound(p => p.WorkOrderDetailId).Sortable(true).Width(150);
              columns.Bound(p => p.InvoiceSerialNo).Sortable(true).Width(150);
              columns.Bound(p => p.Type).Visible(false);
              columns.Bound(p => p.DealerId).Visible(false);
              columns.Bound(p => p.InvoiceNo).Sortable(true)
              .ClientTemplate("#if(Type == 1){#" +
              "  <a class=\"btn btn-default\" target=\"_blank\" href=\"" + Url.Action("PrintWorkOrderInvoice", "WorkOrderCard") + "/#=WorkOrderId#?invoiceId=#=WorkOrderInvoiceId#&printType=Transcript\">#=InvoiceNo#</a>"
              + "#}else{# " +
              "  <a class=\"btn btn-default\" target=\"_blank\" href=\"" + Url.Action("PrintInvoiceCopyReport", "SparePartSale") + "?sparePartSaleId=#=WorkOrderId#&dealerId=#=DealerId#\">#=InvoiceNo#</a>"
              + " #}#");

              //.ClientTemplate("  <a class=\"btn btn-default\" target=\"_blank\" href=\"" + Url.Action("PrintWorkOrderInvoice", "WorkOrderCard" ) + "/#=WorkOrderId#?invoiceId=#=WorkOrderInvoiceId#&printType=Transcript\">#=InvoiceNo#</a>").Sortable(true).Width(70);

              columns.Bound(p => p.InvoiceDate).Format("{0:dd/MM/yyyy hh:mm}").Sortable(true);
              columns.Bound(p => p.InvoiceType).Sortable(true);

              columns.Bound(p => p.PartCode).Sortable(true);
              columns.Bound(p => p.PartName).Sortable(true);
              columns.Bound(p => p.Quantity).Sortable(true);
              columns.Bound(p => p.Unit).Sortable(true);
              columns.Bound(p => p.LabourName).Sortable(true).Width(200);
              columns.Bound(p => p.LabourCode).Sortable(true).Width(200);
              columns.Bound(p => p.LabourPrice).Sortable(true).HtmlAttributes(new { style = "text-align:right;" });
              columns.Bound(p => p.VatRatio).Sortable(true);
              columns.Bound(p => p.DiscountRatio).Sortable(true);
              columns.Bound(p => p.UnitPrice).Format("{0:n}").Sortable(true);
              columns.Bound(p => p.TotalPrice).Format("{0:n}").Sortable(true);
              columns.Bound(p => p.InvoiceLabel).Sortable(true);

          })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Events(e => e.DataBound("onDataBound"))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(10)
    .ServerOperation(true)
    .Events(e => e.RequestStart("onDataBinding"))
    .Read(read => read.Action("ListInvoiceInfoReport", "Reports", Model).Data("GetParameters"))
    )

    )
</div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")
<script type="text/javascript">

    function onDataBinding(e) {
        if ($("#InvoiceCreateBeginDate").val() == "" || $("#InvoiceCreateEndDate").val() == "") {
            SetErrorMessage('@MessageResource.Invoice_Report_InvoiceDate_Required');
            e.preventDefault();
        } else {
            SetSuccessMessage('@MessageResource.Filtration_Success_Message');
        }
    }

    $(document).ready(init);
    function ShowIncoiveDetailsChange() {

        if ($('#ShowInvoiceDetails').prop("checked") == true) {
            $("#invoiceDetailsFilters").removeClass("hide");
            $("#VatType").data('kendoMultiSelect').value('');
            $("#PartCode").val("");
        } else {
            $("#invoiceDetailsFilters").addClass("hide");
        }
    }
    
    function GetParameters() {
        return {
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            RegionIdList: $("#RegionIdList").data('kendoMultiSelect').value().toString(),
            LabourIdList: $("#LabourIdList").data('kendoMultiSelect').value().toString(),
            InvoiceCreateBeginDate: $("#InvoiceCreateBeginDate").val(),
            InvoiceCreateEndDate: $("#InvoiceCreateEndDate").val(),
            InvoiceType: GetQuotedList($("#InvoiceType").data('kendoMultiSelect').value().toString()),
            InvoiceNo: GetQuotedList($("#InvoiceNo").data('kendoMultiSelect').value().toString()),
            CustomerNameList: GetQuotedList($("#CustomerNameList").data('kendoMultiSelect').value().toString()),
            CustomerType: GetQuotedList($("#CustomerType").data('kendoMultiSelect').value().toString()),
            GovermentType: GetQuotedList($("#GovermentType").data('kendoMultiSelect').value().toString()),
            CompanyType: GetQuotedList($("#CompanyType").data('kendoMultiSelect').value().toString()),
            HasWithold: $("#HasWithold").prop("checked"),
            ShowInvoiceDetails: $('#ShowInvoiceDetails').prop("checked"),
            VatType: $("#VatType").data('kendoMultiSelect').value().toString(),
            PartCode: $("#PartCode").val(),
            ReportType: 45,
            Columns: "RegionName,SAPCode,DealerName,CompanyType,GovermentType,TCIdentityNo,PassportNo,TaxOffice,TaxNo,CustomerName,CustomerSurname,CustomerType,HasWithold,AddressType,City,Town,Country,ZipCode,VehicleCustomer,VehicleGroup,VehicleModel,VehicleType,VehicleCode,EngineType,VinNo,Plate,ModelYear,Description,WorkOrderId,LabourName,LabourCode,LabourPrice,WorkOrderDetailId,InvoiceSerialNo,InvoiceNo,InvoiceDate,InvoiceType,PartCode,PartName,Quantity,Unit,VatRatio,DiscountRatio,UnitPrice,TotalPrice"

        };
    }

    function GetDealerId() {
        return { dealerId: $("#DealerIdList").data('kendoMultiSelect').value().toString() };
    }

    function init() {

        $("#searchDiv").show("slow");
        ShowIncoiveDetailsChange();
        $("body").delegate("#btnReset", "click", function (e) {
            $("#DealerIdList").data('kendoMultiSelect').value("");
            $("#LabourIdList").data('kendoMultiSelect').value("");
            $("#RegionIdList").data('kendoMultiSelect').value("");
            $("#InvoiceCreateBeginDate").val("");
            $("#InvoiceCreateEndDate").val("");
            $("#InvoiceType").data('kendoMultiSelect').value("");
            $("#InvoiceNo").data('kendoMultiSelect').value("");
            $("#CustomerNameList").data('kendoMultiSelect').value("");
            $("#CustomerType").data('kendoMultiSelect').value("");
            $("#GovermentType").data('kendoMultiSelect').value("");
            $("#CompanyType").data('kendoMultiSelect').value("");
            $("#VatType").data('kendoMultiSelect').value("");
            $('#ShowInvoiceDetails').prop("checked", false);
            $("#invoiceDetailsFilters").addClass("hide");
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }

    function onDataBound(e) {
        var showDetails = $('#ShowInvoiceDetails').prop("checked");
        if (showDetails == true) {

            this.showColumn("LabourName");
            this.showColumn("LabourCode");
            this.showColumn("LabourPrice");
            this.showColumn("PartCode");
            this.showColumn("PartName");
            this.showColumn("Quantity");
            this.showColumn("Unit");
            this.showColumn("VatRatio");
            this.showColumn("DiscountRatio");
            this.showColumn("UnitPrice");
            this.showColumn("TotalPrice");
            this.showColumn("InvoiceLabel");
        }
        else {
            this.hideColumn("LabourName");
            this.hideColumn("LabourCode");
            this.hideColumn("LabourPrice");
            this.hideColumn("PartCode");
            this.hideColumn("PartName");
            this.hideColumn("Quantity");
            this.hideColumn("Unit");
            this.hideColumn("VatRatio");
            this.hideColumn("DiscountRatio");
            this.hideColumn("UnitPrice");
            this.hideColumn("TotalPrice");
            this.hideColumn("InvoiceLabel");
        }
    }


</script>