@using ODMSCommon.Resources
@using ODMSModel.Reports

@{
    ViewBag.Title = MessageResource.PartStockActivityReport_PageTitle_Index;
}

@model PartStockActivityFilterRequest

<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.Year)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.Year).HtmlAttributes(new { style = "width:200px;" }).BindTo(ViewBag.YearList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.InGuarantee)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.InGuarantee).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).BindTo(ViewBag.GuaranteeParameters as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.PartCode)</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.ProcessType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.ProcessType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.ProcessTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>


    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.PartStockActivityReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.PartStockActivityExcelExport))
{
    @Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PartStockActivityReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.ProcessTypeName).Sortable(false).Width(200);
              columns.Bound(p => p.ProcessType).Visible(false).Width(200);
              columns.Bound(p => p.PartCode).Sortable(true).Width(200);
              columns.Bound(p => p.M1).Width(70).Title(MessageResource.Global_Display_January);
              columns.Bound(p => p.M2).Width(70).Title(MessageResource.Global_Display_February);
              columns.Bound(p => p.M3).Width(70).Title(MessageResource.Global_Display_March);
              columns.Bound(p => p.M4).Width(70).Title(MessageResource.Global_Display_April);
              columns.Bound(p => p.M5).Width(70).Title(MessageResource.Global_Display_May);
              columns.Bound(p => p.M6).Width(70).Title(MessageResource.Global_Display_June);
              columns.Bound(p => p.M7).Width(70).Title(MessageResource.Global_Display_July);
              columns.Bound(p => p.M8).Width(70).Title(MessageResource.Global_Display_August);
              columns.Bound(p => p.M9).Width(70).Title(MessageResource.Global_Display_September);
              columns.Bound(p => p.M10).Width(70).Title(MessageResource.Global_Display_October);
              columns.Bound(p => p.M11).Width(70).Title(MessageResource.Global_Display_November);
              columns.Bound(p => p.M12).Width(70).Title(MessageResource.Global_Display_December);
              //columns.Bound(p => p.Total).Sortable(false).Width(200);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .Events(evt => evt.DataBound("onDataBound"))
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                          .Events(c => c.RequestStart("CheckFilters"))
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                .Read(read => read.Action("ListPartStockActivityReport", "Reports", Model).Data("GetParameters"))
                                        )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
<script type="text/javascript">

    function OpenPartInfo(id) {
        $('#PartInfoWindow').kwnd('@Url.Action("PartInfo", "Reports")' + '/' + id, '@Html.Raw(MessageResource.PartExchangeReport_Display_PartInfo)',
        {
            iframe: false,
            width: 1250,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });
        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }

    function CheckFilters(e) {
        var year = $("#Year").data('kendoComboBox').value().toString();
        var dealerIdList = $("#DealerIdList").data('kendoMultiSelect').value().toString();

        if (!dealerIdList || dealerIdList == "0") {
            SetErrorMessage('@MessageResource.PartStockActivityReport_Message_DealerIdIsRequired');
            e.preventDefault();
            return false;
        }

        if (!year || year == "0") {
            SetErrorMessage('@MessageResource.PartStockActivityReport_Message_YearIsRequired');
            e.preventDefault();
            return false;
        }

        SetSuccessMessage("Seçim yapıldı.");
    }

    function onDataBound(e) {
        var grid = $("#gridReport").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {

            if (row.ProcessType == 1) {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#ffb97b");
            }
            else if (row.ProcessType == 2) {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#3498db");
            }
            else if (row.ProcessType == 3) {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#1abc9c");
            }
            else if (row.ProcessType == 4) {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#bdc3c7");
            }
        });
    }

    $(document).ready(init);
    function GetParameters() {
        return {
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            Year: $("#Year").data('kendoComboBox').value().toString(),
            InGuarantee: $("#InGuarantee").data('kendoComboBox').value().toString(),
            PartCode: $("#PartCode").val(),
            ProcessType: $("#ProcessType").data('kendoMultiSelect').value().toString(),
            ReportType: 40,
            Columns: "ProcessTypeName,ProcessType,PartCode,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12,Total"

        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
            //$("#StockTypeIdList").data('kendoMultiSelect').value('');
            //$("#Currency").data('kendoComboBox').value('');
            //$("#Date").data('kendoMultiSelect').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }



</script>
