@using ODMSCommon.Resources
@using ODMSModel.Reports
@using ODMSBusiness

@model PartStockFilterRequest

@{
    ViewBag.Title = MessageResource.PartStockReport_PageTitle_Index;
    string _partCode = (string)TempData["partCodes"];
}

<div id="searchDiv">
    <div id="searchFields">
        @Html.Hidden("_PartCodes", _partCode, new { id = "_PartCodes"})
        <div class="labelDiv">@Html.LabelFor(b => b.StockTypeIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.StockTypeIdList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.StokcTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>


        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="labelDiv">
            @Html.LabelFor(v => v.Date)<br />
        </div>
        @*(@MessageResource.PartStockReport_Date)*@
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.Date).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" }).Max(DateTime.Now)</div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.PartId)</div>
        <div class="shortTxtDiv">@*@(Html.Action("AutocompleteSearch", "AutocompleteSearch", new {SearchType = "SparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = ""}))*@ @Html.TextBoxFor(b => b.PartId) </div>

        <div class="labelDiv">@Html.LabelFor(b => b.Currency)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.Currency).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CurrencyCodeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.PartClassCodes)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.PartClassCodes).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.PartClassList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>


        <div class="labelDiv">@Html.LabelFor(v => v.IsOriginal)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IsOriginal).DataValueField("Value").DataTextField("Text").AutoBind(true).BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.VehicleGroupIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleGroupIdList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleGroupList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

    </div>
</div>
@*<div style="float: right">
        <label class="">@MessageResource.PartStockReport_Stock_Total_Price : </label><strong style="padding-left:3px; padding-right:20px;" id="totalPrice"></strong>
    </div>*@
@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.PartStockReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.PartStockExcelExport))
{    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}

@using (Html.BeginForm("PartStockReportIndex", "Reports", FormMethod.Post, new { onsubmit = "FillParameter();" }))
{
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv" style="width: 80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample","StockCard")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br />
    </div>
    <div class="labelDiv">@Html.LabelFor(d => d.PartCodeList) </div>
    <div class="shortTxtDiv">
        @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
    </div>
    <div id="divExcepUpload">
        @ODMSHelpers.Button("StockCardSearch", CommonUtility.GetResourceValue("Global_Display_Search"), CommonValues.PermissionCodes.StockCard.StockCardSearch, "StockCardSearch")
    </div>

    <br />
    @Html.HiddenFor(x => x.StockTypeIdList, new { id = "_StockTypeIdList" })
    @Html.HiddenFor(x => x.DealerIdList, new { id = "_DealerIdList" })
    @Html.HiddenFor(x => x.RegionIdList, new { id = "_RegionIdList" })
    @Html.HiddenFor(x => x.Date, new { id = "_Date" })
    @Html.HiddenFor(x => x.PartId, new { id = "_PartId" })
    @Html.HiddenFor(x => x.Currency, new { id = "_Currency" })
    @Html.HiddenFor(x => x.PartClassCodes, new { id = "_PartClassCodes" })
    @Html.HiddenFor(x => x.IsOriginal, new { id = "_IsOriginal" })
    @Html.HiddenFor(x => x.VehicleGroupIdList, new { id = "_VehicleGroupIdList" })

    <script> 
        $(document).ready(function () {
            FillParameter();
        });
    </script>
    <br />
    <div class="clearDiv">&nbsp;</div>
}


<div class="kendoGridDiv" id="grd">
    @Html.HiddenFor(x => x.PartCodeList)
    @(Html.Kendo().Grid<PartStockReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerRegionName).Sortable(true).Width(200);
              columns.Bound(p => p.DealerName).Sortable(true).Width(300);
              columns.Bound(p => p.IsOriginalPart).ClientTemplate("<input disabled type='checkbox' #=IsOriginalPart ? 'checked':''# />").Sortable(true).Width(150);
              columns.Bound(p => p.PartSectionName).Sortable(true).Width(150);
              columns.Bound(p => p.PartClassName).Sortable(true).Width(150);
              columns.Bound(p => p.PartCode).ClientTemplate("<a class='k-link' onclick='OpenPartInfo(#=PartId#)'>#=PartCode#</a>").Sortable(true).Width(170);
              columns.Bound(p => p.PartName).Sortable(true).Width(200);
              columns.Bound(p => p.StockTypeName).Sortable(true).Width(100);
              columns.Bound(p => p.StockQuantity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.PackageQuantity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.CriticalStockQuantity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.MinStockQuantity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.MaxStockQunatity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.StartupQuantity).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.AvgDealerPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.TotalPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(100);
              columns.Bound(p => p.Currency).Sortable(true).Width(100);
              columns.Bound(p => p.StockAge).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.TotalAmount).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(100);
          })
          .Pageable()
          .Sortable()
          .Scrollable()

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Events(e => e.RequestStart("onDataBinding").RequestEnd("DisplayTotalPrice"))
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                .Read(read => read.Action("ListPartStockReport", "Reports", Model).Data("GetParameters"))
                                        )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")
<script type="text/javascript">
    function DisplayTotalPrice(e) {
        // $("#totalPrice").html(e.response.TotalPrice);
    }

    function OpenPartInfo(id) {
        $('#PartInfoWindow').kwnd('@Url.Action("PartInfo", "Reports")' + '?PartId=' + id, '@Html.Raw(MessageResource.PartExchangeReport_Display_PartInfo)',
        {
            iframe: true,
            width: 1250,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });
        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }
    function onDataBinding(e) {
        if ($("#Date").val() == "") {
            SetErrorMessage('@MessageResource.Validation_DateRequired');
            e.preventDefault();
        }
        else
        {
            SetSuccessMessage('@MessageResource.Global_Display_Success');
        }
    }

    $(document).ready(init);
    
    function GetParameters() {
        return {
            Date: $("#Date").val(),
            StockTypeIdList: GetQuotedList($("#StockTypeIdList").data('kendoMultiSelect').value().toString()),
            VehicleGroupIdList: GetQuotedList($("#VehicleGroupIdList").data('kendoMultiSelect').value().toString()),
            DealerIdList: GetQuotedList($("#DealerIdList").data('kendoMultiSelect').value().toString()),
            RegionIdList: GetQuotedList($("#RegionIdList").data('kendoMultiSelect').value().toString()),
            Currency: $("#Currency").data('kendoComboBox').value().toString(),
            IsOriginal: $("#IsOriginal").data('kendoComboBox').value().toString(),
            PartId: $("#PartId").val(),
            PartClassCodes: GetQuotedList($("#PartClassCodes").data('kendoMultiSelect').value().toString()),
            PartCodeList: $("#_PartCodes").val(),
            ReportType: 33,
            Columns: "DealerRegionName,DealerName,IsOriginalPart,PartSectionName,PartClassName,PartCode,PartName,StockTypeName,StockQuantity,PackageQuantity,CriticalStockQuantity,MinStockQuantity,MaxStockQunatity,StartupQuantity,AvgDealerPrice,TotalPrice,Currency,StockAge,TotalAmount"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            $("#PartCodeList").val('');
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
            //$("#StockTypeIdList").data('kendoMultiSelect').value('');
            //$("#Currency").data('kendoComboBox').value('');
            //$("#Date").data('kendoMultiSelect').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });

        $('#exportForm').submit(function () { //listen for submit event
            var json = PartStockReport();
            for (var i in json) {
                $('#exportForm').find('input[name="' + i + '"]').remove();
                $('<input />').attr('type', 'hidden')
                    .attr('name', i)
                    .attr('value', json[i])
                    .appendTo('#exportForm');
            }
            return true;
        });
    }
    function FillParameter() {
        $("#_StockTypeIdList").val($("#StockTypeIdList").data('kendoMultiSelect').value().toString());
        $("#_DealerIdList").val($("#DealerIdList").data('kendoMultiSelect').value().toString());
        $("#_RegionIdList").val($("#RegionIdList").data('kendoMultiSelect').value().toString());
        $("#_Date").val($("#Date").val());
        $("#_PartId").val($("#PartId").val());
        $("#_Currency").val($("#Currency").data('kendoComboBox').value().toString());
        $("#_PartClassCodes").val($("#PartClassCodes").data('kendoMultiSelect').value().toString());
        $("#_IsOriginal").val($("#IsOriginal").data('kendoComboBox').value().toString());
        $("#_VehicleGroupIdList").val($("#VehicleGroupIdList").data('kendoMultiSelect').value().toString());
    }
</script>
