@using ODMSCommon.Resources
@using ODMSModel.Reports

@model SentPartUsageReportFilterRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = MessageResource.SentPartUsageReport_PageTitle_Index;
}

<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="labelDiv">@Html.LabelFor(b => b.DealerRegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerRegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.RegionIdList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.OrderStartDate) <br /> (@MessageResource.PurchaseOrder_Display_OrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.OrderStartDate).Events(e => e.Open("OpenStartDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(b => b.OrderEndDate) <br /> (@MessageResource.PurchaseOrder_Display_OrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.OrderEndDate).Events(e => e.Open("OpenEndDate").Change("OpenStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.PartId)</div>
        <div class="shortTxtDiv">@(Html.Action("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "OrginalSparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" })) </div>
        <div class="labelDiv">@Html.LabelFor(b => b.PurchaseOrderType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.PurchaseOrderType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.PurchaseOrderTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.SaleType)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SaleType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.SaleTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Events(e => e.Change("onSaleTypeChange"))</div>
        <div class="labelDiv stockType hide">@Html.LabelFor(b => b.StockTypeId)</div>
        <div class="shortTxtDiv stockType hide">@Html.Kendo().ComboBoxFor(c => c.StockTypeId).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.StockTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>



        <div class="clearDiv">&nbsp;</div>
    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", ODMSCommon.CommonValues.PermissionCodes.Reports.SentPartUsageReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.SentPartUsageExcelExport))
{
    @Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<SentPartUsageReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerName).Sortable(true).Width(300);
              columns.Bound(p => p.PurchaseOrderType).Sortable(true).Width(150);
              columns.Bound(p => p.PoNumber).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(100);
              columns.Bound(p => p.PartCode).Sortable(true).Width(150);
              columns.Bound(p => p.PartName).Sortable(true).Width(200);
              columns.Bound(p => p.VinNo).Sortable(true).Width(150);
              columns.Bound(p => p.OrderDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
              columns.Bound(p => p.WaybillDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
              columns.Bound(p => p.OrderQuantity).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.ShippedQuantity).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
              columns.Bound(p => p.PlacementDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
              columns.Bound(p => p.VehicleUseDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
              columns.Bound(p => p.IntervalDate).Sortable(true).Width(150);
              columns.Bound(p => p.ActualVinNo).Sortable(true).Width(150);
              columns.Bound(p => p.WorkOrderNo).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderNo#'>#=WorkOrderNo#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).Sortable(true).Width(100);
              columns.Bound(p => p.WorkOrderOpenDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
              columns.Bound(p => p.WorkOrderCloseDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(150);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Events(e => e.RequestStart("onDataBinding"))
                                        .Read(read => read.Action("ListSentPartUsageReport", "Reports", Model).Data("GetParameters"))
                                       ))


</div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")

<script type="text/javascript">

    function onDataBinding(e) {
        if ($("#DealerIdList").val() == null) {
            SetErrorMessage('@MessageResource.CycleCountResult_Validation_Required');
            e.preventDefault();
            return;
        }

        if ($("#OrderStartDate").val() == "" || $("#OrderEndDate").val() == "") {
            SetErrorMessage('@MessageResource.Report_StartDate_EndDate_Required');
            e.preventDefault();
            return;
        }

        SetSuccessMessage('@MessageResource.Filtration_Success_Message');
    }

    function OpenStartDate() {
        var dateStart = $("#OrderStartDate").data("kendoDatePicker");
        var dateEnd = $("#OrderEndDate").data("kendoDatePicker");
        if ($("#OrderEndDate").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#OrderStartDate").data("kendoDatePicker");
        var dateEnd = $("#OrderEndDate").data("kendoDatePicker");
        if ($("#OrderStartDate").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }

    function onSaleTypeChange() {
        var $elem = $("#SaleType");
        if ($elem.val() == "1") {
            $(".stockType").removeClass("hide");
        } else {
            $(".stockType").addClass("hide");
            $elem.val("");
        }

    }


    $(document).ready(init);
    
    function GetParameters() {
        return {
            OrderStartDate: $('#OrderStartDate').val(),
            OrderEndDate: $('#OrderEndDate').val(),
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            DealerRegionIdList: $("#DealerRegionIdList").data('kendoMultiSelect').value().toString(),
            PartId: $("#PartId").val(),
            PurchaseOrderType: GetQuotedList($("#PurchaseOrderType").data('kendoMultiSelect').value().toString()),
            StockTypeId: $("#StockTypeId").val(),
            ReportType: 32,
            Columns: "DealerName,PurchaseOrderType,PoNumber,PartCode,PartName,VinNo,OrderDate,WaybillDate,OrderQuantity,ShippedQuantity,PlacementDate,VehicleUseDate,IntervalDate,ActualVinNo,WorkOrderNo,WorkOrderOpenDate,WorkOrderCloseDate"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }


</script>

