@using ODMSCommon.Resources
@using ODMSModel.Reports

@model PartStockFilterRequest

@{
    ViewBag.Title = MessageResource.SparePartControlReport_PageTitle_Index;
}
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartCode, new { style = "width:200px;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartName, new { style = "width:200px;" })</div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsOriginal)</div>

        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IsOriginal).DataValueField("Value").DataTextField("Text").AutoBind(true).BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.SparePartControlReportIndex)
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.SparePartControlExcelExport))
{
    @Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<SparePartControlReport>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerName).Sortable(true).Width(200);
              columns.Bound(p => p.RegionName).Sortable(true).Width(200);
              columns.Bound(p => p.PartCode).Sortable(true).Width(200);
              columns.Bound(p => p.PartName).Sortable(true).Width(200);
              columns.Bound(p => p.UsableQuantity).Sortable(true).Width(200);
              columns.Bound(p => p.BlockQuantity).Sortable(true).Width(200);
              columns.Bound(p => p.ReserveQuantity).Sortable(true).Width(200);
              columns.Bound(p => p.OpenOrderCount).ClientTemplate("<a class='k-link' target='_blank' href='" + Url.Action("PurchaseOrderSearchIndex", "PurchaseOrder") + "'>#=OpenOrderCount#</a>").Sortable(true).Width(100);
              columns.Bound(p => p.LastOpenOrderDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(200);
              columns.Bound(p => p.TotalPrice).Format("{0:n}").Sortable(true).Width(100);
              columns.Bound(p => p.CurrencyCode).Sortable(true).Width(100);
          })
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(10)
    .ServerOperation(true)
    .Events(e => e.RequestStart("onDataBinding"))
    .Read(read => read.Action("ListSparePartControlReport", "Reports", Model).Data("GetParameters"))
    )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
<script type="text/javascript">
    function onDataBinding(e) {
        if ($("#DealerIdList").val() == null) {
            SetErrorMessage('@MessageResource.CycleCountResult_Validation_Required');
            e.preventDefault();
            return;
        }

        SetSuccessMessage('@MessageResource.Filtration_Success_Message');
    }

    function OpenOrderPage() {
        window.location = '@Url.Action("PurchaseOrderSearchIndex", "PurchaseOrder")';
    }
    function OpenPartInfo(id) {
        $('#PartInfoWindow').kwnd('@Url.Action("PartInfo", "Reports")' + '/' + id, '@Html.Raw(MessageResource.PartExchangeReport_Display_PartInfo)',
        {
            iframe: false,
            width: 1250,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });
        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }


    $(document).ready(init);
    function GetParameters() {
        return {
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            RegionIdList: $("#RegionIdList").data('kendoMultiSelect').value().toString(),
            IsOriginal: $("#IsOriginal").data('kendoComboBox').value().toString(),
            PartCode: $("#PartCode").val(),
            PartName: $("#PartName").val(),
            ReportType: 41,
            Columns: "DealerName,RegionName,PartCode,PartName,UsableQuantity,BlockQuantity,ReserveQuantity,OpenOrderCount,LastOpenOrderDate,TotalPrice,CurrencyCode"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
            //$("#StockTypeIdList").data('kendoMultiSelect').value('');
            //$("#Currency").data('kendoComboBox').value('');
            //$("#Date").data('kendoMultiSelect').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }



</script>
