@using ODMSCommon.Resources
@using ODMSModel.Reports

@model WorkOrderDetailReportListModel

@{
    ViewBag.Title = MessageResource.WorkOrderDetailReport_PageTitle_Index;
} @*@MessageResource.WorkOrder_Number*@
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.StartDate) <br /> (@MessageResource.WorkOrderDetailReport_Display_WorkOrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Value(new DateTime(DateTime.Now.Year, 1, 1).Date).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(v => v.EndDate) <br /> (@MessageResource.WorkOrderDetailReport_Display_WorkOrderDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Value(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).Date).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">
            <label>@MessageResource.WorkOrderDetailReport_Display_WorkOrderNumber </label>
        </div>
        <div> <input type="text" class="tagInput" name="WorkOrderNo" value="" /><i class="glyphicon glyphicon-info-sign" title="@MessageResource.WorkOrderDetailReport_Display_EnterNewNumber"></i> </div>

        <div class="clearDiv">&nbsp;</div>


        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.DealerRegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerRegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        <div class="labelDiv">@Html.LabelFor(v => v.WarrantyStartDate) </div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.WarrantyStartDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>


        <div class="clearDiv">&nbsp;</div> <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.ModelKodList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.ModelKodList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.ModelList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.StatusIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.StatusIdList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.WorkOrderStatusList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(v => v.WarrantyEndDate) </div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.WarrantyEndDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.VinNo)</div>
        @Html.TextBoxFor(c => c.VinNo, new { @class = "tagInput" })
        <div><i class="glyphicon glyphicon-info-sign" title="@MessageResource.WorkOrderDetailReport_Display_EnterNewNumber"></i></div>


        <div class="labelDiv" style="margin-left:100px;">@Html.LabelFor(v => v.Plate)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.Plate, new { @onkeyup = "InputToUpperWithoutWhiteSpace(this);" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>

        @*<div class="shortTxtDiv">@Html.TextBoxFor(c => c.VehicleType)</div>*@
        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        @*<div class="shortTxtDiv"></div>*@ @Html.TextBoxFor(c => c.PartCode, new { @class = "tagInput" })
        <div> <i class="glyphicon glyphicon-info-sign" title="@MessageResource.WorkOrderDetailReport_Display_EnterNewNumber"></i></div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.LabourCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.LabourCode)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsDayTime)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IsDayTime).DataValueField("Value").DataTextField("Text").AutoBind(true).BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>


    </div>
        <div class="clearDiv">&nbsp;</div>
    </div>

<div style="float: right">
    <label class="">@MessageResource.WorkOrderDetailReport_Display_TotalVehicle : </label><strong style="padding-left:3px; padding-right:20px;" id="totalVehicles"></strong>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.WorkOrderDetailReportIndex)

@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.WorkOrderDetailExcelExport))
{
    @Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())
}

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<WorkOrderDetailReportListModel>()
                  .Name("gridReport")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.WorkOrderNo).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderNo#'>#=WorkOrderNo#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(120);
                      columns.Bound(p => p.StatusName).Sortable(true).Width(150);
                      columns.Bound(p => p.DealerRegionName).Sortable(true).Width(100);
                      columns.Bound(p => p.DealerName).Sortable(true).Width(170);
                      columns.Bound(p => p.SAPCode).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(100);
                      columns.Bound(p => p.WorkOrderDate).Format("{0:dd/MM/yyyy H:mm}").Sortable(true).Width(120);
                      columns.Bound(p => p.VehicleLeaveDate).Format("{0:dd/MM/yyyy H:mm}").Sortable(true).Width(120);
                      columns.Bound(p => p.ClosedDate).Format("{0:dd/MM/yyyy H:mm}").Sortable(true).Width(120);
                      columns.Bound(p => p.DayTime).HtmlAttributes(new { style = "text-align:right" }).Sortable(false).Width(70).ClientTemplate("#= LineItems_Databound(DayTime)#"); ;
                      columns.Bound(p => p.WoTime).HtmlAttributes(new { style = "text-align:right" }).Sortable(false).Width(70);
                      columns.Bound(p => p.FleetCode).Sortable(true).Width(100);
                      columns.Bound(p => p.CustomerNameLastName).Sortable(true).Width(300);
                      columns.Bound(p => p.Plate).Sortable(true).Width(100);
                      columns.Bound(p => p.ModelKod).Sortable(true).Width(100);
                      columns.Bound(p => p.VehicleType).Sortable(true).Width(100);
                      columns.Bound(p => p.VinNo).HtmlAttributes(new { style = "text-align:center" }).ClientTemplate("<a class='k-link' onclick='OpenVehicleHistory(#=VehicleId#)'>#=VinNo#</a>").Sortable(true).Width(150);
                      columns.Bound(p => p.WarrantyStartDate).Width(90).Format("{0:dd/MM/yyyy}").Sortable(true);
                      columns.Bound(p => p.WarrantyEndDate).Width(90).Format("{0:dd/MM/yyyy}").Sortable(true);
                      columns.Bound(p => p.VehicleKM).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(70);
                      columns.Bound(p => p.CustomerPartPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
                      columns.Bound(p => p.CustomerLabourPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
                      columns.Bound(p => p.WarrantyPartPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(200);
                      columns.Bound(p => p.WarrantyLabourPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(150);
                      columns.Bound(p => p.CurrencyCode).Sortable(true).Width(70);

                  })
                  .Pageable()
                  .Sortable()
                  .Scrollable()
                  .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .ServerOperation(true)
                                                .Events(e => e.RequestEnd("DisplayTotalVehicles"))
                                                .Events(e => e.RequestStart("onDataBinding"))
                                                .Read(read => read.Action("ListWorkOrderDetailReport", "Reports", Model).Data("GetParameters"))
                                                .Model(model => model.Field(o => o.WorkOrderNo).DefaultValue(-1)))

    )
</div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
@Html.Partial("_MultipleSelectionFunc")

<div id="VehicleHistoryWindow" style="background-color: #EDF1F4 !important" class="hide"></div>
<script type="text/javascript">

    function onDataBinding(e) {
        if (($("#StartDate").val() == "" || $("#EndDate").val() == "")) {
            SetErrorMessage('@MessageResource.WorkOrderDetail_Validation_Required');
            e.preventDefault();
            return;
        }
        SetSuccessMessage('@MessageResource.Filtration_Success');
    }

    function DisplayTotalVehicles(e) {
        $("#totalVehicles").html(e.response.TotalVehicle);
    }

    $(document).ready(init);

    function GetParameters() {
        return {
            StartDate: $('#StartDate').val(),
            EndDate: $('#EndDate').val(),
            WarrantyStartDate: $('#WarrantyStartDate').val(),
            WarrantyEndDate: $('#WarrantyEndDate').val(),
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            DealerRegionIdList: $("#DealerRegionIdList").data('kendoMultiSelect').value().toString(),
            ModelKodList: GetQuotedList($("#ModelKodList").data('kendoMultiSelect').value().toString()),
            StatusIdList: $("#StatusIdList").data('kendoMultiSelect').value().toString(),
            VinNo: $("#VinNo").val(),
            IsDayTime: $("#IsDayTime").val(),
            Plate: $("#Plate").val(),
            VehicleType: GetQuotedList($("#VehicleType").data('kendoMultiSelect').value().toString()),
            PartCode: $("#PartCode").val(),
            LabourCode: $("#LabourCode").val(),
            WorkOrderIdList: $("input[name='WorkOrderNo']").val(),
            ReportType: 26,
            Columns: "WorkOrderNo,StatusName,DealerRegionName,DealerName,SAPCode,WorkOrderDate,VehicleLeaveDate,ClosedDate,DayTime,WoTime,FleetCode,CustomerNameLastName,Plate,ModelKod,VinNo,WarrantyStartDate,WarrantyEndDate,VehicleKM,CustomerPartPrice,CustomerLabourPrice,WarrantyPartPrice,WarrantyLabourPrice,CurrencyCode"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
            $("#ModelKodList").data('kendoMultiSelect').value('');
            $("#StatusIdList").data('kendoMultiSelect').value('');
            $("#VehicleType").data('VehicleType').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.page(1);
        });
    }

    function OpenVehicleHistory(obj) {
        $('#VehicleHistoryWindow').kwnd('@Url.Action("VehicleHistoryIndex", "Vehicle")' + '?vehicleId=' + obj, '@Html.Raw(MessageResource.WorkOrderCard_Display_VehicleHistory)',
        {
            iframe: true,
            width: 1250,
            height: 650,
            onClose: function () {
                $("#VehicleHistoryWindow").html('');
            }
        });
        $('#VehicleHistoryWindow').removeClass("hide");
        OpenWindow($('#VehicleHistoryWindow'));
    }
    function LineItems_Databound(item) {
        var i = parseInt(item);
        if (i > (27 * 24)) {
            return "<div style='background: red'>" + item + " </div>";
        }
        else {
            return item;
        }
    }


</script>