@using ODMSCommon.Resources
@using ODMSModel.Reports

@model WorkOrderProcessTypesFilterRequest

@{
    ViewBag.Title = MessageResource.WorkOrderProcessTypesTotalReport_PageTitle_Index;
}
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.DealerIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.DealerIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ODMSCommon.Security.UserManager.UserInfo.DealerID.ToString()).Enable(ODMSCommon.Security.UserManager.UserInfo.DealerID == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.RegionIdList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.RegionIdList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.DealerRegionId.ToString()).Enable(ViewBag.DealerRegionId == 0).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.VehicleType)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleType).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.VehicleModel)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.VehicleModel).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.VehicleModelList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>


        <div class="labelDiv">@Html.LabelFor(b => b.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(b => b.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.GroupId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.GroupId).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.GroupTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.WorkOrderStatus)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.WorkOrderStatus).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.WorkOrderStatusList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(b => b.CurrencyCode)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CurrencyCode).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.CurrencyCodeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(b => b.InGuarantee)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.InGuarantee).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.GuaranteeParameters as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
    </div>
    <div class="clearDiv">&nbsp;</div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Reports.WorkOrderDetailReportIndex)
@*@Html.ExportExcelButton(new ExcelExportDto("Reports", "ListWorkOrderProcessTypesTotalReport", "WorkOrderProcessTypesTotalReport", "sdfsdf", filterId: "searchFields", reportName: MessageResource.PartStockReport_PageTitle_Index).Build<ChargePerCarReport, object>(c => c.DealerName, c => c.DealerRegionName, c => c.NameSurname, c => c.TypeName, c => c.ModelName, c => c.VinNo, c => c.WorkOrderCount, c => c.WorkOrderDetailCount, c => c.CarCount, c => c.ProcessTypes))*@
@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.WorkOrderProcessTypesTotalExcelExport))
{
    @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
}
<div class="kendoGridDiv" id="grd">
    @{
        var processTypeList = (List<SelectListItem>)ViewBag.ProcessTypes;
    }
    @(Html.Kendo().Grid<WorkOrderProcessTypesTotalReportModel>()
          .Name("gridReport")

          .Columns(columns =>
          {
              columns.Bound(p => p.GroupName).Sortable(true).Width(200);
              columns.Bound(p => p.TotalCarCount).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(200);
              columns.Bound(p => p.TotalPrice).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(200);
              columns.Bound(p => p.CurrencyCode).Sortable(false).Width(200);
              columns.Bound(p => p.TotalWorkOrderCount).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(200);
              columns.Bound(p => p.TotalWorkOrderDetailCount).HtmlAttributes(new { style = "text-align:right" }).Sortable(true).Width(200);
              //columns.Bound(p => p.TotalIndicatorCount).Width(70);
              for (var i = 0; i < processTypeList.Count; i++)
              {
                  columns.Bound(p => p.ProcessTypes[i].Price).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Title(processTypeList[i].Text + " Tutar").Width(180).Sortable(false);
                  columns.Bound(p => p.ProcessTypes[i].Count).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Title(processTypeList[i].Text + " Adet").Width(180).Sortable(false);
                  columns.Bound(p => p.ProcessTypes[i].Percent).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Title(processTypeList[i].Text + " Yüzde").Width(180).Sortable(false);
                  columns.Bound(p => p.ProcessTypes[i].TotalPercent).Format("{0:n}").HtmlAttributes(new { style = "text-align:right" }).Title(processTypeList[i].Text + " ToplamYüzde").Width(180).Sortable(false);
              }

          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax().Events(e => e.RequestStart("onDataBinding"))
              .PageSize(10)
              .ServerOperation(true)

              .Read(read => read.Action("ListWorkOrderProcessTypesTotalReport", "Reports", Model).Data("GetParameters"))
          )

    )
</div>
<div id="PartInfoWindow" style="background-color: #EDF1F4 !important" class="hide"></div>

@Html.Partial("~/Views/Reports/_ResponseTimeForGrid.cshtml")
<script type="text/javascript">
    function onDataBinding(e) {

        if ($("#GroupId").val() == "") {
            SetErrorMessage('@MessageResource.ValidationGroupIdRequired');
            e.preventDefault();
            return;
        }

        SetSuccessMessage('Seçim Yapıldı');
    }

    function OpenWorkOrderDetail(dealerId, dealerRegionId, customerId, vehicleTypeId, modelCode) {
        $('#PartInfoWindow').kwnd('@Url.Action("ChargeWorkOrderDetail", "Reports")' + '?dealerId=' + dealerId + '&dealerRegionId=' + dealerRegionId + '&customerId=' + customerId + '&vehicleTypeId=' + vehicleTypeId + '&modelCode=' + modelCode, '@Html.Raw(MessageResource.PartExchangeReport_Display_PartInfo)',
        {
            iframe: false,
            width: 1250,
            height: 450,
            onClose: function () {
                $("#PartInfoWindow").html('');
            }
        });
        $('#PartInfoWindow').removeClass("hide");
        OpenWindow($('#PartInfoWindow'));
    }

    $(document).ready(function () {
        $('#exportForm').submit(function () { //listen for submit event
            var json = WorkOrderProcessTypesTotalReport();
            for (var i in json) {
                $('#exportForm').find('input[name="' + i + '"]').remove();
                $('<input />').attr('type', 'hidden')
                    .attr('name', i)
                    .attr('value', json[i])
                    .appendTo('#exportForm');
            }
            return true;
        });
    });
    $(document).ready(init);
    function GetParameters() {
        return {
            StartDate: $("#StartDate").val(),
            EndDate: $("#EndDate").val(),
            DealerIdList: $("#DealerIdList").data('kendoMultiSelect').value().toString(),
            RegionIdList: $("#RegionIdList").data('kendoMultiSelect').value().toString(),
            CurrencyCode: $("#CurrencyCode").data('kendoComboBox').value().toString(),
            VehicleType: $("#VehicleType").data('kendoMultiSelect').value().toString(),
            VehicleModel: $("#VehicleModel").data('kendoMultiSelect').value().toString(),
            InGuarantee: $("#InGuarantee").data('kendoComboBox').value().toString(),
            GroupId: $("#GroupId").data('kendoComboBox').value(),
            WorkOrderStatus: $("#WorkOrderStatus").data('kendoMultiSelect').value().toString(),
            ReportType: 36,
            Columns: "GroupName,TotalCarCount,TotalPrice,CurrencyCode,TotalWorkOrderCount,TotalWorkOrderDetailCount"
        };
    }
    function init() {

        $("#searchDiv").show("slow");

        $("body").delegate("#btnReset", "click", function (e) {
            //$("#DealerIdList").data('kendoMultiSelect').value('');
            //$("#DealerRegionIdList").data('kendoMultiSelect').value('');
            $("#StockTypeIdList").data('kendoMultiSelect').value('');
            $("#Currency").data('kendoComboBox').value('');
            $("#Date").data('kendoMultiSelect').value('');
        });
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridReport').data('kendoGrid');
            grid.dataSource.read();
            //grid.dataSource.page(1);
        });
    }



</script>
