@using ODMSModel.GuaranteeCompLabourMargin;
@model ODMSModel.GuaranteeCompLabourMargin.GuaranteeCompLabourMarginListModel

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.GuaranteeCompLabourMargin_Title;
}

<div id="showSearch">@ODMSCommon.Resources.MessageResource.Global_Display_Search_Criteria </div>
@Html.AntiForgeryToken()
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.CountryName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.CountryId).BindTo(ViewBag.CountryList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))  </div>
        <div class="clearDiv">&nbsp;</div>

    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.GuaranteeCompLabourMargin.GuaranteeCompLabourMarginIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", ODMSCommon.Resources.MessageResource.GuaranteeCompLabourMargin_Title, CommonValues.PermissionCodes.GuaranteeCompLabourMargin.GuaranteeCompLabourMarginCreate)

<br />

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
          .Name("modelWindow")
          .Title("Customer")
          .Draggable()
          .Width(1500)
          .Height(300)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.read();
    }"))
          )
</div>

@section Scripts
{
    <script>

        function Search() {
            return {
                CountryId: $("#CountryId").val()
            };
        }

        function Redirect(IdGrntLabourMrgn) {
            //alert("sayfa tasarlandığında url girilip redirection kodu uncomment edilmeli, appointmentId = " + appointmentId); 
            window.location.href = '@Url.Action("GuaranteeCompLabourMarginIndex", "GuaranteeCompLabourMargin")' + "/" + IdGrntLabourMrgn;
        }

        $(document).ready(function () {

            $("#btnSearch").on("click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);
            });

            $("#showSearch").on("click", ToggleSearchPanel);

            function ToggleSearchPanel(e) {
                var isVisible = Boolean($(this).hasClass("searchVisible"));

                if (!isVisible) {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            } //ToggleSearchPanel(e)


            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();
                var width = 1000;
                var height = 300;
                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("edit")) {
                    link = "@Url.Action("GuaranteeCompLabourMarginUpdate", "GuaranteeCompLabourMargin", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("GuaranteeCompLabourMarginCreate", "GuaranteeCompLabourMargin")";
                }


                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                //Change Size of Window for different actions
                windowWidget.wrapper.css({
                    width: width,
                    height: height
                });
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            }); //  $(".modalClick")


        });//  $(document).ready(function

    </script>
}

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<GuaranteeCompLabourMarginListModel>()
          .Name("grid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.IdGrntLabourMrgn).ClientTemplate("<center><a class='edit modalClick' id='#=IdGrntLabourMrgn#' frameTitle='" + @CommonUtility.GetResourceValue("GuaranteeCompLabourMargin_Title_Update") + "' href='/GuaranteeCompLabourMargin/GuaranteeCompLabourMarginUpdate/#=IdGrntLabourMrgn#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.GuaranteeCompLabourMargin.GuaranteeCompLabourMarginUpdate));
                  columns.Bound(p => p.IdGrntLabourMrgn).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + ODMSCommon.Resources.MessageResource.GuaranteeCompLabourMargin_Title_Delete + "' onclick='DeleteGuaranteeCompLabourMargin(#=IdGrntLabourMrgn#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(ODMSCommon.Resources.MessageResource.Global_Display_Delete).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.GuaranteeCompLabourMargin.GuaranteeCompLabourMarginDelete));
                  columns.Bound(p => p.CountryId).Sortable(true).Visible(false);
                  columns.Bound(p => p.CountryName).Sortable(true);
                  columns.Bound(p => p.MaxPrice).Sortable(true).Visible(false);
                  columns.Bound(p => p.MaxPriceStr).Sortable(true);
                  columns.Bound(p => p.GrntRatio).Sortable(true);
                  columns.Bound(p => p.GrntPrice).Sortable(true).Visible(false);
                  columns.Bound(p => p.GrntPriceAndCurrencyCode).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListGuaranteeCompLabourMargin", "GuaranteeCompLabourMargin", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.IdGrntLabourMrgn).DefaultValue(-1)))

          )
</div>


<script>

    /// kendo grid columnları verilirken silme functionu olarak bu metot verilir.
    function DeleteGuaranteeCompLabourMargin(IdGrntLabourMrgn) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GuaranteeCompLabourMarginDelete", "GuaranteeCompLabourMargin")",
                data: { IdGrntLabourMrgn: IdGrntLabourMrgn, "__RequestVerificationToken": token },
                        traditional: true,
                        success: function (result) {
                            if (result.Status == 0)
                                SetErrorMessage(result.Message);
                            else {
                                var grid = $('#grid').data('kendoGrid');
                                grid.dataSource.read();
                                SetSuccessMessage(result.Message);
                            }
                        },
                        dataType: "json"
                    });
                });
            }
   
</script>
