@model ODMSModel.Title.TitleIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Title_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("TitleCreate", "Title", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.TitleName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = "", IsEnabled = true });  }  @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsTechnician)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsTechnician).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList2 as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    <br />
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.Role.RoleTypeCreate, "RoleCreate")
        }

