@model ODMSModel.Title.TitleIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Title_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("TitleUpdate", "Title", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.TitleName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }@Html.ValidationMessageFor(v => v.MultiLanguageContentAsText, null, new { @class = "mlRequired" })  </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsTechnician)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsTechnician).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList2 as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

    @Html.HiddenFor(v => v.TitleId)
        <div class="clearDiv">&nbsp;</div>


        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Role.RoleTypeUpdate, "RoleUpdate")
        }

