@using ODMSModel.Title;
@model ODMSModel.Title.TitleListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Title_PageTitle_Index");
}
@Html.AntiForgeryToken()
<div id="showSearch">Arama Kriterleri</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.TitleName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TitleName) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsTechnician)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsTechnician).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.Title.TitleList)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("Title_PageTitle_Create"), CommonValues.PermissionCodes.Title.TitleCreate)
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.read();
    }"))
    )
</div>
@section Scripts
{
    <script>
        function Search() {
            return {
                TitleName: $("#TitleName").val(),
                AdminDesc: $("#AdminDesc").val(),
                IsActive: $("#IsActive").val(),
                IsTechnician: $("#IsTechnician").val()
            };
        }
        $(document).ready(function () {

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");
                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("TitleDetails", "Title", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("TitleUpdate", "Title", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("TitleCreate", "Title")";
                }
                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();

            });

        });
        function DeleteTitle(rId) {
            var token = $('input[name="__RequestVerificationToken"]').val();

            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteTitle", "Title")",
                    data: { TitleId: rId, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }
    </script>
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<TitleListModel>().Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.TitleId).ClientTemplate("<center><a class='details modalClick' id='#=TitleId#' frameTitle='" + @CommonUtility.GetResourceValue("Title_PageTitle_Details") + "' href='/Title/TitleDetails/#=TitleId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Role.RoleTypeDetails));
            columns.Bound(p => p.TitleId).ClientTemplate("<center><a class='edit modalClick' id='#=TitleId#' frameTitle='" + @CommonUtility.GetResourceValue("Title_PageTitle_Update") + "' href='/Title/TitleUpdate/#=TitleId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Role.RoleTypeUpdate));
            columns.Bound(o => o.TitleId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Title_PageTitle_Delete") + "' onclick='DeleteTitle(#=TitleId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Role.RoleTypeDelete));
            columns.Bound(p => p.TitleName);
            columns.Bound(p => p.AdminDesc);
            columns.Bound(p => p.IsActiveString);
            columns.Bound(p => p.IsTechnicianName);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .DataSource(dataSource => dataSource.Ajax().PageSize(10).ServerOperation(true).Read(read => read.Action("ListTitle", "Title", Model).Data("Search")).Model(model => model.Field(o => o.TitleId).DefaultValue(-1)))
    )
</div>