@model ODMSModel.VehicleType.VehicleTypeIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleType_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<link href="~/Style/bootstrap.css" rel="stylesheet" />
 



<div class="labelDiv">@Html.LabelFor(v => v.ModelName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ModelName) </div>

<div class="labelDiv">@Html.LabelFor(v => v.TypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.TypeName) </div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.TypeSSID)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.TypeSSID) </div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive) </div>
