@model ODMSModel.EducationDates.EducationDatesViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("EducationDates_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 

    <div class="labelDiv">@Html.LabelFor(v => v.EducationCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.EducationCode)</div> 
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.EducaitonTime)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.EducationTimeDT)</div>
    
    <div class="clearDiv">&nbsp;</div>
   
    <div class="labelDiv">@Html.LabelFor(v => v.EducationPlace)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.EducationPlace)</div>    
    
    <div class="labelDiv">@Html.LabelFor(v => v.Instructor)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Instructor)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.MaximumAtt)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.MaximumAtt)</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.MinimumAtt)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.MinimumAtt)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.Notes)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Notes)</div>
