@model ODMSModel.LabourMainGroup.LabourMainGroupViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("LabourMainGroup_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("LabourMainGroupCreate", "LabourMainGroup", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.MainGroupId)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MainGroupId) @Html.ValidationMessageFor(v => v.MainGroupId)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.LabourGroupName)</div>
    <div class="shortTxtDiv">
        <div style="float: left; width: 70%">
            @{
                Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
                @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
            }
        </div>
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.Description)
        @Html.ValidationMessageFor(v => v.Description)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)</div>


    <div class="clearDiv">&nbsp;</div>

    <div class="shortTxtDiv">
        @ODMSHelpers.Button("Save", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.LabourMainGroup.LabourMainGroupCreate, "LabourMainGroupCreate")
    </div>
}

<script>

    $(function () {
        adjustPage();       
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("height", 300);
        $("#popupContentWrapper").css("width", 460);
    }    
</script>