@model ODMSModel.LabourMainGroup.LabourMainGroupViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("LabourMainGroup_PageTitle_Detail");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<div class="labelDiv">@Html.LabelFor(v => v.MainGroupId)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MainGroupId)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.LabourGroupName)</div>
<div class="shortTxtDiv">
    <div style="float: left; width: 70%">
        @{
            Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });           
        }
    </div>
</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
<div class="shortTxtDiv">
    @Html.DisplayFor(v => v.Description)    
</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive)</div>


<script>

    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("height", 300);
        $("#popupContentWrapper").css("width", 460);
    }
</script>

