@model ODMSModel.StockBlock.StockBlockViewModel
@{
    ViewBag.Title = "Günceleme test..";//ODMSCommon.Resources.MessageResource.StockBlock_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("StockBlockUpdate", "StockBlock", FormMethod.Post))
{  
    <div class="labelDiv">@Html.LabelFor(v => v.BlockDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.BlockDate).Enable(false).Value(DateTime.Now).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })
         
    </div>
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.BlockReasonDesc)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.BlockReasonDesc)</div>
    
    <div class="clearDiv">&nbsp;</div> 
    <div class="labelDiv">@Html.LabelFor(v => v.BlockedStatusId)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.BlockedStatusId).Enable(false).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockBlockStatus as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>
    
    <div class="clearDiv">&nbsp;</div>
    
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.StockBlock.StockBlockUpdate, "StockBlockUpdate")
    
    @Html.HiddenFor(v => v.IdStockBlock)
    @Html.HiddenFor(v => v.IdDealer)
    @Html.HiddenFor(v => v.BlockedStatusId)
    
    <div class="clearDiv">&nbsp;</div>
    
}

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
