@using ODMSCommon.Resources
@{
    ViewBag.Title = "CountryVatRatioList";
    Layout = "";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
        GetVatRatio();
    });
    function GetVatRatio() {
        $.post("@Url.Action("GetVatRatio","CountryVatRatio")", {
                partId: @ViewBag.PartId,
                dealerId: @ViewBag.DealerId,
            countryId: $("#CountryId").val() == 0 ? 0 : @ViewBag.CountryId
            }, function(json) {
                if (json) {
                    //StockCardIndex ekranında VatRatio id yer aldığı için çakıştığından dolayı değiştirilmiştir.
                    $("#VatRatio2").html(json.VatRatio);
                }
            }, "JSON");
    }
</script>

<div class="labelDiv">@MessageResource.Global_Display_Country</div>
<div class="shortTxtDiv">@(Html.Kendo().ComboBox().Name("CountryId").BindTo(ViewBag.CountryList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Events(action=>action.Change("GetVatRatio")).Value(ViewBag.CountryId.ToString())
.Enable((int)ViewBag.CountryId==0)
) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@MessageResource.CountryVatRatio_Display_PartVatRatio</div>
<div class="shortTxtDiv"><label id="VatRatio2" class="label label-info"></label>
</div>
<div class="clearDiv">&nbsp;</div>

