@{
    ViewBag.Title = MessageResource.CountryVatRatio_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.CountryVatRatio.CountryVatRatioViewModel
@using (Html.BeginForm("CountryVatRatioUpdate", "CountryVatRatio", FormMethod.Post))
{
    Html.RenderPartial("_CountryVatRatioEdit", Model);
    @Html.HiddenFor(s => s.CountryId)
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.CountryVatRatio.CountryVatRatioUpdate, "CountryVatRatioUpdate","UpdateCountryVatRatio();", false)
}
<script src="~/Scripts/custom.js"></script>
<script id="update-confirmation" type="text/x-kendo-template">
        <p class="update-message">@MessageResource.CountryVatRatio_Warning_Update</p>
        <p style="text-align:right">
        <button class="update-confirm k-button">@MessageResource.Global_Display_Yes</button>
        <button class="update-cancel k-button">@MessageResource.Global_Display_No</button></p>
    </script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#CountryId').data("kendoComboBox").enable(false);
    });
    function UpdateConfirm(updateFunction) {
        var confirm = false;
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Global_Display_Warning",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#update-confirmation").html())
            .center().open();

        kendoWindow
            .find(".update-confirm,.update-cancel")
            .click(function () {
                if ($(this).hasClass("update-confirm")) {
                    confirm = true;
                    if (updateFunction)
                        updateFunction();
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
        return confirm;
    }

    function UpdateCountryVatRatio() {
        UpdateConfirm(function () {
            mvc.build('@Url.Action("CountryVatRatioUpdate")', "", "", $('form').eq(0).serialize(), false, "json");
            mvc.post(null, function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    SetSuccessMessage(result.Message);
                }
            }, null);
        });
    }
</script>