@using ODMSCommon.Resources
@model ODMSModel.CampaignRequestApprove.CampaignRequestApproveListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignRequestApprove_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.RequestDealerName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.RequestDealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.SupplierDealerName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SupplierDealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.SupplierTypeName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SupplierTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SupplierTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.ModelKod)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ModelKod).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ModelList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CampaignName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.CampaignCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CampaignList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.RequestStatusName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.RequestStatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.RequestStatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.CampaignRequestApprove.CampaignRequestApproveDetails)

@Html.Partial("_ExcelExport", new ODMS.Model.ExportModel())

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
                                        .Name("modelWindow")
                                     .Draggable()
                                    .Resizable()
                                    .Width(950)
                                    .Height(440)
                                    .Visible(false)
                                    .Modal(true)
                                    .Iframe(true)
                                    .Events(ev => ev.Close(@"function(e){
var grid = $('#CampaignRequestApproveGrid').data('kendoGrid');
grid.dataSource.page(1);
}"))
    )

</div>
<script>
    function Search() {
        return {
            ModelKod: $('#ModelKod').val(),
            RequestDealerId: $('#RequestDealerId').val(),
            SupplierDealerId: $('#SupplierDealerId').val(),
            SupplierTypeId: $('#SupplierTypeId').val(),
            CampaignCode: $('#CampaignCode').val(),
            RequestStatusId: $('#RequestStatusId').val()
        };
    }
    $(document).ready(function () {
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#CampaignRequestApproveGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickCampaignRequestApprove", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("CampaignRequestApproveDetails", "CampaignRequestApprove", new { campaignRequestId = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("CampaignRequestApproveUpdate", "CampaignRequestApprove", new { campaignRequestId = -1 })";
                    link = link.replace("-1", clickedId);
                }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });

    //_CampaignRequestApproveReject.cshtml içinden geliyor content
    function OpenRejectWindow(obj, campReqId) {

        var _model = {
            IdCampaignRequest: campReqId,
            token: $('input[name="__RequestVerificationToken"]').val()
        }

        CustomConfirm(function () {
            $("#CampaignRequestRejectWindow").html('');
            var wnd = $("#CampaignRequestRejectWindow").data("kendoWindow");

            wnd.refresh({
                url: '@Url.Action("CampaignRequestApproveReject")?IdCampaignRequest=' + _model.IdCampaignRequest + '&token=' + _model.token
            }).center();

            wnd.open();
    }, "@MessageResource.Global_Display_Reject", "@MessageResource.Global_Display_RejectConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");



    }

    function Approve(uid, campReqId, ApprovedIdCampaignRequest) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        $('tr[data-uid="' + uid + '"] td').find('.iconLinkChange').attr('src', '@Url.Content("~/Images/ajax-loader.gif")');


        var warning = "@MessageResource.Global_Display_ApproveConfirm";

        if (ApprovedIdCampaignRequest != "")
        {
            warning = "@MessageResource.CampaignRequestApprove_Display_Already_Approved".replace("%REQUEST_ID%", ApprovedIdCampaignRequest);

        }

        CustomConfirm(
            function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CampaignRequestApproveApprove", "CampaignRequestApprove")",
                    data: { id: campReqId,"__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        SetSuccessMessage('@MessageResource.Global_Display_Success');
                    }
                    var grid = $('#CampaignRequestApproveGrid').data('kendoGrid');
                    grid.dataSource.read();
                },
                dataType: "json"
            });
        }, "@MessageResource.Global_Display_Approve", warning, "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");


    }
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignRequestApprove.CampaignRequestApproveListModel>()
                                          .Name("CampaignRequestApproveGrid")
                                          .Columns(columns =>
                                          {
                                  //columns.Bound(p => p.CampaignRequestId).ClientTemplate("<center><a class='details modalClickCampaignRequestApprove' id='#=CampaignRequestId#' frameTitle='" + @CommonUtility.GetResourceValue("CampaignRequestApprove_PageTitle_Details") + "' href='/CampaignRequestApprove/CampaignRequestApproveDetails/#=CampaignRequestId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequestApprove.CampaignRequestApproveDetails));
                                  columns.Bound(p => p.CampaignRequestId).ClientTemplate("#if(RequestStatusId==1){#<center><a href='javascript:void(0);' frameTitle='" + MessageResource.Global_Display_Approve + "' onclick='Approve(\"#=uid#\",#=CampaignRequestId#,\"#=ApprovedIdCampaignRequest#\");'><img class='iconLinkChange' style=\"width:20px; height:20px;\" src='" + Url.Content("~/Images/choose.ico") + "'/></a></center>#}#").Title(MessageResource.Global_Display_Approve).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequestApprove.CampaignRequestApproveUpdate));
                                              columns.Bound(p => p.CampaignRequestId).ClientTemplate("#if(RequestStatusId==1){#<center><a href='javascript:void(0);' frameTitle='" + MessageResource.Global_Display_Reject + "' onclick='OpenRejectWindow(this,#=CampaignRequestId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>#}#").Title(MessageResource.Global_Display_Reject).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequestApprove.CampaignRequestApproveUpdate));
                                              columns.Bound(p => p.CampaignRequestId).ClientTemplate("<center><a class='edit modalClickCampaignRequestApprove' id='#=CampaignRequestId#' frameTitle='" + @CommonUtility.GetResourceValue("CampaignRequestApprove_PageTitle_Update") + "' href='/CampaignRequestApprove/CampaignRequestApproveUpdate/#=CampaignRequestId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequestApprove.CampaignRequestApproveUpdate));
                                              columns.Bound(p => p.CampaignRequestId).Width(50).Sortable(true);
                                              columns.Bound(p => p.CampaignCode).Width(50).Sortable(true);
                                              columns.Bound(p => p.CampaignName).Width(130).Sortable(true);
                                              columns.Bound(p => p.ModelKod).Width(60).Sortable(true);
                                              columns.Bound(p => p.RequestDealerName).Width(80).Sortable(true);
                                              columns.Bound(p => p.RequestStatusName).Width(50).Sortable(true);
                                              columns.Bound(p => p.SupplierTypeName).Width(50).Sortable(true);
                                              columns.Bound(p => p.VinCodes).Width(80).Sortable(false)
                                             .ClientTemplate("#if(VinCodes!='') {#<center><a class='btn btn-xs btn-danger' href=\"javascript:void(0);\" onclick =\"showVins('#=VinCodes#');\">" + MessageResource.Global_Display_Show + "</a></center>#}#");

                                              columns.Bound(p => p.UpdateUserName).Width(80).Sortable(true);
                                              columns.Bound(p => p.SupplierDealerName).Width(80).Sortable(true);
                                              columns.Bound(p => p.Quantity).Width(40).Sortable(true);
                                              columns.Bound(p => p.RequestNote).Width(150).Sortable(true);
                                              columns.Bound(p => p.CampaignCode).Title(@CommonUtility.GetResourceValue("Campaign_PageTitle_Details")).ClientTemplate(Html.ActionLink(@CommonUtility.GetResourceValue("Campaign_PageTitle_Details"), "CampaignIndex", "Campaign", new { campaignCode = "#=CampaignCode#" }, new { target = "_blank" }).ToString()).Width(80).Filterable(false);
                                          })
                                          .Pageable()
                                          .Sortable()
                                          .Scrollable()


                                          .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .PageSize(10)
                                                                        .ServerOperation(true)
                                                                        .Read(read => read.Action("ListCampaignRequestApprove", "CampaignRequestApprove", Model).Data("Search"))
                                                                        .Model(model => model.Field(o => o.CampaignRequestId).DefaultValue(-1)))

    )
</div>

<script>

    function GetParameters() {
        return {
            RequestDealerId: $('#RequestDealerId').val(),
            SupplierTypeId: $('#SupplierTypeId').val(),
            CampaignCode: $('#CampaignCode').val(),
            SupplierDealerId: $('#SupplierDealerId').val(),
            ModelKod: $('#ModelKod').val(),
            RequestStatusId: $('#RequestStatusId').val(),
            ReportType: 60,
            Columns: "CampaignRequestId,CampaignCode,CampaignName,ModelKod,RequestDealerName,RequestStatusName,SupplierTypeName,VinCodes,UpdateUserName,SupplierDealerName,Quantity,RequestNote"

        };
    }



    function showVins(vins) {

        $("#VinWindow").html('');
        var wnd = $("#VinWindow").data("kendoWindow");


        var newVins = "";
        $.each(vins.split(','), function () {
            newVins += this +" <br />"

        });

        $("#VinWindow").html(newVins);

        wnd.center().open();

    }
</script>

@(Html.Kendo().Window()
                    .Name("VinWindow")
                    .Modal(true).Width(200).Height(150)
                    .Visible(false)
                    .Iframe(false)
                    .HtmlAttributes(new { style = "overflow-y:scroll;text-align:center;" })
                    .Title(string.Format("{0}", MessageResource.CampaignRequest_Display_VinNumbers)
                    )
);

@(Html.Kendo().Window()
                        .Name("CampaignRequestRejectWindow")
                        .Modal(true).Width(500).Height(275)
                        .Visible(false)
                        .Iframe(false)
                        .HtmlAttributes(new { style = "background-color:#EDF1F4 !important" })
                        .Title(string.Format("{0} [{1}]", MessageResource.Global_Display_Warning, MessageResource.Global_Display_Reject))


    .Events(evt => evt.Close("function(e){ $('#CampaignRequestApproveGrid').data('kendoGrid').dataSource.read() }"))


);
@* //.Animation(a => a.Open(effect => effect.SlideIn(SlideDirection.Right)))
    // .Title(string.Format("{0} [{1}]", MessageResource.WorkOrderCard_Display_WorkOrderDetails, MessageResource.WorkOrderCard_Display_AddCampaign)))*@