@using System.IdentityModel.Configuration
@using ODMSCommon.Resources
@{
    ViewBag.Title = MessageResource.Delivery_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<script id="complete-confirmation" type="text/x-kendo-template">
    <p class="complete-message">@Html.Raw(MessageResource.Global_Display_DeliveryDateQuestion)</p>
    <p style="text-align:right">
        <button class="complete-confirm k-button">@MessageResource.Global_Display_Yes</button>
        <button class="complete-cancel k-button">@MessageResource.Global_Display_No</button>
    </p>
</script>
<style type="text/css">
    #popupContentWrapper {
        height: 450px !important;
    }

    #popupContent {
        width: 97% !important;
    }

    body {
        overflow: hidden;
    }
</style>
 
@model ODMSModel.Delivery.DeliveryCreateModel
@using (Html.BeginForm("DeliveryCreate", "Delivery", FormMethod.Post, new { Id = "DeliveryForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.PurchaseNo)
    <div class="labelDiv">@Html.LabelFor(c => c.SupplierId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SupplierId).BindTo(ViewBag.SupplierList as List<SelectListItem>).DataTextField("Text").DataValueField("Value").Events(c => c.Change("ClearDetailItems")).Placeholder(MessageResource.Global_Display_Select)  @Html.ValidationMessageFor(c => c.SupplierId)  </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">&nbsp;</div>
    @*
        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.PurchaseOrder, WindowTitle = MessageResource.ObjectSearch_PageTitle_PurchaseOrder, ReferenceObjectId = "PurchaseNo", ReferenceObjectValue = null, ParentWindowId = "modelWindow", Required = true, SelectCallBackFunction = "SerializeItems", ClearCallBackFunction = "" }) </div>*@
    <div class="shortTxtDiv">
        <a class="k-button" onclick="OpenPurchaseOrderSelectWindow();">
            <i class="glyphicon glyphicon-search"></i>@MessageResource.ObjectSearch_PageTitle_PurchaseOrder
        </a>
        <i id="ok" class="glyphicon glyphicon-remove text-danger"></i>
        @Html.ValidationMessageFor(c => c.PurchaseNo)
    </div>

    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.WayBillNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.WayBillNo) @Html.ValidationMessageFor(c => c.WayBillNo) </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.WayBillDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(c => c.WayBillDate).Value(Model == null || Model.WayBillDate == default(DateTime) ? DateTime.Now : Model.WayBillDate).Max(DateTime.Now).Events(e => e.Change("onChange")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).Min(DateTime.Now.AddYears(-1)).HtmlAttributes(new { type = "text" })  @Html.ValidationMessageFor(c => c.WayBillDate) </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.InvoiceNo)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.InvoiceNo)   @Html.ValidationMessageFor(c => c.InvoiceNo)
    </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.InvoiceSerialNo)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.InvoiceSerialNo) @Html.ValidationMessageFor(c => c.InvoiceSerialNo)
    </div>
    <div class="clearDiv"></div>
    <div class="labelDiv">@Html.LabelFor(c => c.InvoiceDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.InvoiceDate).Format("dd/MM/yyyy").Value(Model == null || Model.InvoiceDate == default(DateTime) ? DateTime.Now : Model.InvoiceDate).ParseFormats(new string[] { "dd.MM.yyyy" }).Max(DateTime.Now).Min(DateTime.Now.AddYears(-1)).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.InvoiceDate) </div>
    <div class="clearDiv"></div>


    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.Delivery.DeliveryCreate, "DeliveryCreate")
}
<div id="PurchaseOrderSelectWindow" class="hide" style="background-color: #EDF1F4 !important">
</div>
<script src="~/Scripts/custom.js"></script>
<script>
    
    function CompleteConfirm(completeFunction) {
        var confirm = false;
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Global_Display_Approve",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#complete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".complete-confirm, .complete-cancel")
            .click(function () {
                if ($(this).hasClass("complete-confirm")) {
                    confirm = true;
                    if (completeFunction)
                        completeFunction();
                }
                else if ($(this).hasClass("complete-cancel")) {
                    $("#WayBillDate").data("kendoDatePicker").value('');
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
        return confirm;
    }


    function onChange() {
        var date = $("#WayBillDate").data("kendoDatePicker");
        if (date.value() > new Date($.now())) {
            CompleteConfirm(function () {

            });

        }
    }

    function OpenPurchaseOrderSelectWindow() {
        if ($('#SupplierId').val() == '') {
            SetErrorMessage("@MessageResource.Delivery_Warning_SelectSupplier")
            return;
        }
        window.parent.ResizeWindow(1400, 800);

        $('#PurchaseOrderSelectWindow').kwnd('@Url.Action("PurchaseSelect")' + '/' + $('#SupplierId').val() + "?partSearch=false", '@Html.Raw(MessageResource.ObjectSearch_PageTitle_PurchaseOrder)',
            {
                iframe: true,
                width: 1300,
                height: 700,
                onClose: function () {
                    $("#PurchaseOrderSelectWindow").html('');
                    window.parent.ResizeWindow(500, 430);
                },
            });
        $('#PurchaseOrderSelectWindow').removeClass("hide");
        OpenWindow($('#PurchaseOrderSelectWindow'));

    }

    function CloseSearch(items) {
        var wnd = $('#PurchaseOrderSelectWindow').data("kendoWindow");
        wnd.close();
        if (items.length == 0) {
            $("#ok").removeClass("glyphicon-ok").removeClass("text-success").addClass("glyphicon-remove").addClass("text*danger");
        } else {
            $("#ok").removeClass("glyphicon-remove").removeClass("text*danger").addClass("glyphicon-ok").addClass("text-success");
            var val = "";
            $(items).each(function (i, e) {
                val += e + ';';
            });
            $('#PurchaseNo').val(val);
        }
    }

    function ClearDetailItems() {
        $("#ok").removeClass("glyphicon-ok").removeClass("text-success").addClass("glyphicon-remove").addClass("text*danger");
        $('#PurchaseNo').val('');
    }

    function SerializeItems() {
        var data = JSON.parse($('#PurchaseNo').val().toString());
    }

    $(document).ready(function () {
        $('#WayBillDate').prop("readonly", true);
        $('#InvoiceDate').prop("readonly", true);
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                try {
                    validator.settings.ignore = "";
                } catch (e) {
                }
            }
        });
    });

    var isPrevent = true;
    $(document).on("submit", "form", function (evt) {

        var parameters = {
            SupplierId: parseFloat($("#SupplierId").val()),
            WayBillNo: $("#WayBillNo").val()
        };

        if (isPrevent) {
            evt.preventDefault();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckDeleteItem", "Delivery")",
                data: parameters,
                traditional: true,
                success: function (result) {
                    if (result.HasDeleteItem) {
                        CustomConfirm(function () {

                            Delete(result.DeliveryId);

                        },  "@MessageResource.Gloabl_Display_Approve",
                            "@MessageResource.Delivery_Display_ApproveMessage",
                            "@MessageResource.Global_Display_Yes",
                            "@MessageResource.Global_Display_No");
                    } else {
                        isPrevent = false;
                        $("#DeliveryForm").submit();
                    }
                },
                dataType: "json"
            });
        }
    });

    function Delete(id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteDeliveryItem", "Delivery")",
            data: { deliveryId: id },
            traditional: true,
            dataType: "json",
            success: function () {
                isPrevent = false;
                $("#DeliveryForm").submit();
            }
        });
    }

</script>
