@using ODMSCommon.Resources
@model ODMSModel.Delivery.DeliveryListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Delivery_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
        <div>
            <div class="labelDiv">@Html.LabelFor(c => c.SupplierId)</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.SupplierId).BindTo(ViewBag.SupplierList as List<SelectListItem>).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_Select) </div>
            <div class="labelDiv">@Html.LabelFor(c => c.Status)</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.Status).BindTo(ViewBag.StatusList as List<SelectListItem>).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_Select) </div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@Html.LabelFor(c => c.WayBillNo)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.WayBillNo) </div>
            <div class="labelDiv">@Html.LabelFor(c => c.WayBillDate)</div>
            <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(c => c.WayBillDate).Format("{0:dd/MM/yyyy}").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" }) </div>
            <div class="clearDiv"></div>
        </div>

    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.Delivery.DeliveryDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("Delivery_PageTitle_Create"), CommonValues.PermissionCodes.Delivery.DeliveryCreate)

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(700)
    .Height(400)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
        ResizeWindow(0);
         var grid = $('#grid').data('kendoGrid');
         grid.dataSource.page(1);
        try {
         var supplierDispatchPartGrid = $('#SupplierDispatchPartGrid').data('kendoGrid');
         supplierDispatchPartGrid.dataSource.read();
        }
        catch(e){

        }

    }"))
    )
</div>
<script>
    function Search() {
        return {
            SupplierId: $('#SupplierId').val(),
            Status: $("#Status").val(),
            WayBillNo: $("#WayBillNo").val(),
            WayBillDate: $('#WayBillDate').val()
        };
    }
    $(document).ready(function () {

     

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#divDetails').hide();

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();
            var width = 0;
            var height = 0;
            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("DeliveryUpdate", "Delivery", new { id = -1 })";
                link = link.replace("-1", clickedId);
                width =1000;
                height = 750;
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("DeliveryCreate", "Delivery")";
                width = 500;
                height = 430;
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;
            windowWidget.wrapper.css({ width: width, height: height });
            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
        });

    });

    function CloseModelWindow() {
        $("#modelWindow").data("kendoWindow").close();
    }

    function ResizeWindow(width, height) {
        var windowWidget = $("#modelWindow").data("kendoWindow");
        windowWidget.wrapper.css({ width: width, height: height });

        windowWidget.center();
    }

    var DeliveryId = 0;
    var SupplierId = 0;
    var WayBillNo = "";
    var WayBillDate = "";
    var StatusId = 0;
    function LoadTabs(id, suppId, wayBillNo, wayBillDate, statusId) {
        DeliveryId = id;
        SupplierId = suppId;
        WayBillNo = wayBillNo;
        WayBillDate = wayBillDate;
        StatusId = statusId;

        $('#TabContent').html('');
        $("#Tabs").data("kendoTabStrip").select(0);
        $('#divDetails').show();
        LoadTabContent('@Url.Action("SupplierDispatchPartIndex", "SupplierDispatchPart")');
    }
    function LoadTabContent(url) {
        $('#TabContent').html('');
        $.ajax({
            type: "GET",
            url: url + '/?id=' + DeliveryId + "&suppId=" + SupplierId + "&wayBillNo=" + WayBillNo + "&wayBillDate=" + WayBillDate + "&statusId=" + StatusId,
            data: {},
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#TabContent').html(result);
            },
            error: function (request, status, err) {

                alert(status);
                alert(err);
            },
            dataType: "html"
        });
    }

    function CancelDelivery(id) {
        CustomConfirm(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Cancel","Delivery")',
                data: { id: id },
                success: function(result) {
                    if (result.Status == 1) {
                        SetSuccessMessage('@MessageResource.Global_Display_Success');
                        var grid = $('#grid').data('kendoGrid');
                        $('#divDetails').hide();
                        grid.dataSource.page(1);
                    } else {
                        SetErrorMessage(result.Message);
                    }

                },
                error: function(request, status, err) {
                    SetErrorMessage('@MessageResource.Err_Generic_Unexpected');
                },
                dataType: "JSON"
            });
        }, "@MessageResource.SparePartSale_Display_Cancel", "@MessageResource.SparePartSale_Display_CancelConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
    }


</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.Delivery.DeliveryListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.DeliveryId).ClientTemplate("<center><a class='tabs' onclick='LoadTabs(#=DeliveryId#,#=SupplierId#,\"#=WayBillNo#\",\"#=WayBillDateString#\",#=StatusId#)' id='#=DeliveryId#' frameTitle='" + @CommonUtility.GetResourceValue("Delivery_PageTitle_Details") + "' ><img class='iconLink' style='width:16px;' src='" + Url.Content("~/Images/tabs.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Delivery.DeliveryDetails));
                  columns.Bound(p => p.DeliveryId).ClientTemplate("#if(StatusId!=9){#"+
                      "<center><a class='edit modalClick' id='#=DeliveryId#' frameTitle='" + CommonUtility.GetResourceValue("Delivery_PageTitle_Update") + "' href='/Delivery/DeliveryUpdate/#=DeliveryId#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'/></a></center>"+
                      "#}else{#"+
                      "#}#").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Delivery.DeliveryUpdate));
                  columns.Bound(p => p.IsPlaced).ClientTemplate(String.Concat(@"
                    #if(!IsPlaced)#
                    #{#
                      <a onclick='CancelDelivery(#=DeliveryId#)' class='k-link'>",
                          "<i class='text-danger glyphicon glyphicon-remove'></i></a>",
                    "#}#")).Width(60).HtmlAttributes(new{style="text-align:center"});
                  columns.Bound(p => p.WayBillNo).Width(140).Sortable(true);
                  columns.Bound(p => p.WayBillDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                  columns.Bound(p => p.SupplierName).Sortable(true);
                  columns.Bound(p => p.Status).Sortable(true);
                  columns.Bound(p => p.TotalPriceString).HtmlAttributes(new{style="text-align:right"}).Sortable(false);
                  columns.Bound(p => p.DeliveryId).ClientTemplate("<center><a title='"+MessageResource.DeliveryList_PageTitle_Index+"' class='k-link' href='"+Url.Action("DeliveryListIndex","DeliveryList")+"/#=DeliveryId#' id='#=DeliveryId#'  ><img class='iconLink' style='width:16px;' src='" + Url.Content("~/Images/step_forward.png") + "'/></a></center>").Title(String.Empty).Width(100).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.DeliveryList.DeliveryListIndex));
                  
              })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListDelivery", "Delivery", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.DeliveryId).DefaultValue(-1)))

    )
</div>
@*tab content start*@
<div id="divDetails" style="display: none; margin:0 20px;">
    @(Html.Kendo().TabStrip()
          .Name("Tabs")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.SupplierDispatchPart_PageTitle_Index).Selected(true).HtmlAttributes(new { onclick = "LoadTabContent('" + Url.Action("SupplierDispatchPartIndex", "SupplierDispatchPart") + "');" }))

    )
    <div id="TabContent" style="padding: 0 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>
</div>
@*tab content end*@
