@model ODMSModel.Announcement.AnnouncementViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Announcement_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<style>

    #checkMail {
        width: 150px !important;
    }

    #checkUrgent {
        width: 60px !important;
    }

    #checkSlide {
        width: 100px !important;
    }

    .shortTxtDivCheck {
        width: 200px !important;
    }
</style>


@using (Html.BeginForm("AnnouncementUpdate", "Announcement", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.DocName) @Html.DisplayFor(v => v.DocName)</div>
    <div class="shortTxtDiv">@Html.Kendo().Upload().Name("attachments").Messages(x => x.Select(ODMSCommon.Resources.MessageResource.Global_Display_SelectFile))</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Title)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Title) @Html.ValidationMessageFor(c => c.Title)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Body)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.Body, new { style = "width: 650px; height: 250px" }) @Html.ValidationMessageFor(c => c.Body)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().DateTimePickerFor(v => v.StartDate).Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.StartDate)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().DateTimePickerFor(v => v.EndDate).Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.EndDate)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div  id="checkUrgent" class="labelDiv Announchecks">@Html.LabelFor(v => v.IsUrgentName)</div>
    <div class="shortTxtDiv shortTxtDivCheck">@Html.CheckBoxFor(v => v.IsUrgent) @Html.ValidationMessageFor(c => c.IsUrgent)</div>
    <div  id="checkMail" class="labelDiv Announchecks">@Html.LabelFor(v => v.SendMailName)</div>
    <div class="shortTxtDiv shortTxtDivCheck">@Html.CheckBoxFor(v => v.SendMail) @Html.ValidationMessageFor(c => c.SendMail)</div>
    <div id="checkSlide" class="labelDiv Announchecks">@Html.LabelFor(v => v.IsSlideName)</div>
    <div class="shortTxtDiv shortTxtDivCheck">@Html.CheckBoxFor(v => v.IsSlide) @Html.ValidationMessageFor(c => c.IsSlide)</div>



    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Announcement.AnnouncementUpdate, "AnnouncementUpdate")
    @Html.HiddenFor(v => v.AnnouncementId)
    @Html.HiddenFor(v => v.DocName)
    @Html.HiddenFor(v => v.DocId)
}
<script src="~/Scripts/custom.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (document.getElementById("IsUrgent").checked) {
            document.getElementById("SendMail").checked = true;
            $("#SendMail").attr("disabled", "disabled");
        }

        $('#IsUrgent').change(function () {
            var isChecked = $(this).is(':checked');
            document.getElementById("SendMail").checked = isChecked;
            alert(isChecked);
            if (isChecked) {
                $("#SendMail").attr("disabled", "disabled");
            }
            else {
                $("#SendMail").removeAttr("disabled");
            }
        });
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
