@{
    ViewBag.Title = ViewBag.Title = ODMSCommon.Resources.MessageResource.PurchaseOrder_PageTitle_Details;
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.PurchaseOrder.PurchaseOrderViewModel
<link href="~/Style/Content.css" rel="stylesheet" />

<div class="labelDiv">@Html.LabelFor(v => v.PoNumber)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PoNumber) </div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName)</div>

<div class="labelDiv">@Html.LabelFor(v => v.IdSupplier)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.SupplierName)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IdStockType)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StockTypeName)</div>

<div class="labelDiv">@Html.LabelFor(v => v.PoType)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PoTypeName)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Status)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StatusName)</div>

@if (Model.SupplyType == 3)
{

    <div class="labelDiv">@Html.LabelFor(v => v.IsProposalName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsProposalName)</div>
}

<div class="clearDiv">&nbsp;</div>

@if (Model.SupplyType == 1)
{

    <div class="labelDiv">@Html.LabelFor(v => v.ProposalType)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.ProposalType)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.DeliveryPriority)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.DeliveryPriority)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.SalesOrganization)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.SalesOrganization)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.OrderReason)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.OrderReason)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Division)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Division)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.DistrChan)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.DistrChan)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.ItemCategory)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.ItemCategory)</div>
    @*<div class="clearDiv">&nbsp;</div>*@
}

<div class="labelDiv">@Html.LabelFor(v => v.CreateUser)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CreateUser)</div>
<div class="clearDiv">&nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<br />

<script type="text/javascript">
    $("#popupContent").css("width", 900);
    $("#popupContent").css("height", 450);
</script>

