@using ODMSCommon.Security
@model ODMSModel.PurchaseOrder.PurchaseOrderViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
}

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.PurchaseOrder_PageTitle_Create;
}
@*<link href="~/Style/Content.css" rel="stylesheet" />*@


<style>
    body {
        max-height: 440px;
        max-width: 900px;
        overflow: no-display;
    }
</style>

@using (Html.BeginForm("PurchaseOrderCreate", "PurchaseOrder", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        @Html.ValidationMessageFor(v => v.IdDealer)
    </div>

    <div class="labelDiv">@Html.LabelFor(v => v.SupplyTypeName)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.SupplyType).DataTextField("Text").Events(e => e.Change("CheckSupplyType")).DataValueField("Value").BindTo(ViewBag.SupplyTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    @Html.ValidationMessageFor(v => v.SupplyType)
</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.PoType)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.PoType).DataSource(c => c.Read(a => a.Action("ListPurchaseOrderTypes", "PurchaseOrder").Data("GetSupplyType").Type(HttpVerbs.Post)).ServerFiltering(true)).DataTextField("Text").DataValueField("Value").AutoBind(false).CascadeFrom("SupplyType").Events(e => e.Change("CheckPoType")).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    @Html.ValidationMessageFor(v => v.PoType)
</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsProposal)</div>
    <div class="shortTxtDiv">
        @Html.CheckBoxFor(v => v.IsProposal)
    @Html.ValidationMessageFor(v => v.IsProposal)
</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IdStockType)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IdStockType).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(false)
        @Html.ValidationMessageFor(v => v.IdStockType)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IdSupplier)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IdSupplier).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SupplierList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    @Html.ValidationMessageFor(v => v.IdSupplier)
</div>

    <div id="divVehicleIdLabel" class="labelDiv">@Html.LabelFor(v => v.VehicleId)</div>
    <div id="divVehicleId" class="shortTxtDivObjectSearch">
        @Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Vehicle, WindowTitle = ODMSCommon.Resources.MessageResource.ObjectSearch_WindowTitle_Vehicle, ReferenceObjectId = "VehicleId", ClearCallBackFunction = null, SelectCallBackFunction = "ChangeVehicle", Required = false, ReferenceObjectValue = Model == null ? null : Model.VehicleId, ParentWindowId = "PurchaseOrderModelWindow" })
    @Html.ValidationMessageFor(v => v.VehicleId)
</div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsBranchOrder)</div>
    <div class="shortTxtDiv">
        @Html.CheckBoxFor(v => v.IsBranchOrder)
    @Html.ValidationMessageFor(v => v.IsBranchOrder)
</div>
<div class="labelDiv">@Html.LabelFor(v => v.IdDefect)</div>
<div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(v => v.IdDefect).DataSource(c => c.Read(a => a.Action("ListDefectList", "PurchaseOrder").Data("GetVehicle").Type(HttpVerbs.Get)).ServerFiltering(true)).DataTextField("Text").DataValueField("Value").AutoBind(false).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    @*@Html.Kendo().ComboBoxFor(v => v.IdDefect).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DefectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(false)*@
    @Html.ValidationMessageFor(v => v.IdDefect)
</div>
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.PurchaseOrder.PurchaseOrderCreate, "PurchaseOrderCreate")
    @Html.HiddenFor(v => v.IdDealer)
    @Html.HiddenFor(v => v.DesiredShipDate)
    @Html.HiddenFor(v => v.PoType)
    @Html.HiddenFor(v => v.ProposalType)
    @Html.HiddenFor(v => v.DeliveryPriority)
    @Html.HiddenFor(v => v.SalesOrganization)
    @Html.HiddenFor(v => v.Division)
    @Html.HiddenFor(v => v.DistrChan)
    @Html.HiddenFor(v => v.ItemCategory)
    @Html.HiddenFor(v => v.OrderReason)
    @Html.HiddenFor(v => v.IsVehicleSelectionMust)
    @Html.HiddenFor(v => v.IdStockType)
    @Html.HiddenFor(v => v.DealerBranchSSID)
    @Html.HiddenFor(v => v.PoNumber)
    @Html.HiddenFor(v => v.IdDefect)
}
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/odms.objectsearch2.js"></script>
<script type="text/javascript">
    function RefreshMasterGrid() {
        if ($('#PoNumber').val() != '') {
            parent.loadTabs($('#PoNumber').val(), true);
            parent.refreshGridAndselectRow(true);
            $('#PoNumber').val('');
        }
    }

    function GetSupplyType() {
        return {
            supplyType: $("#SupplyType").val()
        };
    }

    function GetVehicle() {
        return {
            idVehicle: $("#VehicleId").val()
        };
    }

    function SetStockType() {
        var token = $('input[name="__RequestVerificationToken"]').val();

        $("#IdStockType").data("kendoComboBox").readonly(true);//.enable(false);

        $.post("@Url.Action("GetStockTypeIdByGeneralParameter", "PurchaseOrder")", {
            "__RequestVerificationToken": token
        }, function (json) {
            $("#IdStockType").data("kendoComboBox").value(json.StockTypeId);
        }, "JSON");
    }
    function GetPoTypeList() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ListPoType", "PurchaseOrder")",
            data: { supplyTypeId: $("#SupplyType").data("kendoComboBox").value() },
        traditional: true,
        success: function (result) {
            var combobox = $("#PoType").data("kendoComboBox");
            combobox.dataSource.data(result);
            combobox.dataSource.query();
            combobox.value("");
        },
        dataType: "json"
    });
    }
    function GetSupplierList() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ListSupplier", "PurchaseOrder")",
            data: { supplyTypeId: $("#SupplyType").data("kendoComboBox").value() },
        traditional: true,
        success: function (result) {
            var combobox = $("#IdSupplier").data("kendoComboBox");
            combobox.dataSource.data(result);
            combobox.dataSource.query();
            combobox.value("");
            $("#IdSupplier").data("kendoComboBox").enable(true);
        },
        dataType: "json"
    });
    }
    function CheckSupplyType() {
        var item = $("#IdStockType").data("kendoComboBox");
        item.value(null);
        item.readonly(true);

        if ($("#SupplyType").data("kendoComboBox").value() == 1) {//Otokar
            $("#PoType").data("kendoComboBox").enable(true);
            $("#PoType").data("kendoComboBox").value(null);
            $("#PoType").data("kendoComboBox").text('');
            $("#IdSupplier").data("kendoComboBox").enable(false);
            $("#IdSupplier").data("kendoComboBox").value(null);
            $("#IsProposal").hide();
            $("label[for='IsProposal']").hide();

            if ('@string.IsNullOrEmpty(Model.DealerBranchSSID)' == 'True') {
                $("#IsBranchOrder").attr("disabled", false);
            } else {
                $("#IsBranchOrder").attr("checked", false);
                $("#IsBranchOrder").removeAttr("disabled");
                $("#IsBranchOrder").show();
                $("label[for='IsBranchOrder']").show();
            }
        } else {
            $("#IsBranchOrder").hide();
            $("label[for='IsBranchOrder']").hide();
            $("#IsBranchOrder").val(false);
            $("#IsProposal").hide();
            $("label[for='IsProposal']").hide();
        }

        if ($("#SupplyType").data("kendoComboBox").value() == 2) {//Tedarikçi
            $("#IdSupplier").data("kendoComboBox").enable(true);
            $('#divTypeDetails').hide();
            $("#IsVehicleSelectionMust").val(false);
            $(".k-widget").removeClass("input-validation-error");
            $("#IsProposal").hide();
            $("label[for='IsProposal']").hide();
            GetSupplierList();
        }

        if ($("#SupplyType").data("kendoComboBox").value() == 3) // Bayi Servis
        {
            GetSupplierList();
            GetPoTypeList();
            $("#IsProposal").show();
            $("label[for='IsProposal']").show();
        }
    }

    function ChangeVehicle() {
        var vehId = $("#VehicleId").val();

        if (vehId != null || vehId != '') {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ListDefectList", "PurchaseOrder")",
                data: { idVehicle: vehId },
            traditional: true,
            success: function (result) {
                if (result.length > 0 && result != '') {
                    $("#IdDefect").data("kendoComboBox").enable(true);
                    var combobox = $("#IdDefect").data("kendoComboBox").value();
                    combobox.dataSource.data(result);
                    combobox.dataSource.query();
                    combobox.value("");                 
                } else {
                    $("#IdDefect").data("kendoComboBox").enable(false);
                    $("#IdDefect").data("kendoComboBox").value(null);
                }
            },
            dataType: "json"
        });
        }
    }

    function CheckPoType() {

        if ($("#PoType").data("kendoComboBox").value() == null || $("#PoType").data("kendoComboBox").value() == 0 ||
            $("#PoType").data("kendoComboBox").value() == '' || $("#PoType").data("kendoComboBox").text() == ',') {
            $("#PoType").data("kendoComboBox").text('');
            $("#PoType").data("kendoComboBox").value(null);

            $('#divTypeDetails').hide();
        } else {
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.post("@Url.Action("GetPoTypeInfo", "PurchaseOrder")", {
                poType: $("#PoType").data("kendoComboBox").value(), "__RequestVerificationToken": token
            }, function (json) {
                $("input,select,textarea", $('#divTypeDetails')).removeAttr("disabled");
                $("#ProposalType").val(json.ProposalType);
                $("#DeliveryPriority").val(json.DeliveryPriority);
                $("#SalesOrganization").val(json.SalesOrganization);
                $("#OrderReason").val(json.OrderReason);
                $("#DistrChan").val(json.DistrChan);
                $("#Division").val(json.Division);
                $("#ItemCategory").val(json.ItemCategory);
                $("#IsVehicleSelectionMust").val(json.IsVehicleSelectionMust);
                $("input,select,textarea", $('#divTypeDetails')).attr("disabled", "disabled");
                $('#divTypeDetails').show();
            }, "JSON");
            $.post("@Url.Action("GetStockType", "PurchaseOrder")", {
                poType: $("#PoType").data("kendoComboBox").value()
            }, function (json) {
                var item = $("#IdStockType").data("kendoComboBox");
                item.value(json.StockTypeId);
                item.readonly(true);
            }, "JSON");
        }



        if ($("#SupplyType").data("kendoComboBox").value() == 1) {//Otokar
            $("#PoType").data("kendoComboBox").enable(true);
            $("#IdSupplier").data("kendoComboBox").enable(false);
        } else if ($("#SupplyType").data("kendoComboBox").value() == 2) {//Tedarikçi
            $("#IdSupplier").data("kendoComboBox").enable(true);
        } else if ($("#SupplyType").data("kendoComboBox").value() == 3) {//Bayi/Servis
            $("#PoType").data("kendoComboBox").enable(true);
        } else {//Boş
            $("#PoType").data("kendoComboBox").enable(false);
            $("#PoType").data("kendoComboBox").value(null);
            $("#IdSupplier").data("kendoComboBox").enable(false);
        }
    }
    $(document).ready(function () {
        RefreshMasterGrid();

        if ($("#PoType").data("kendoComboBox").value() == 145 && $("#VehicleId").val() != null && $("#VehicleId").val() != '') {//Sözleşme Kapsamında Sipariş
            $("#IdDefect").data("kendoComboBox").enable(true);
        } else {
            $("#IdDefect").data("kendoComboBox").enable(false);
            $("#IdDefect").data("kendoComboBox").value(null);
        }

        if ($("#SupplyType").data("kendoComboBox").value() != 1) {//Otokar
            CheckSupplyType();
            $("#IsBranchOrder").hide();
            $("label[for='IsBranchOrder']").hide();
        } else {
            $("#IsBranchOrder").show();
            $("label[for='IsBranchOrder']").show();
        }

        if ($("#SupplyType").data("kendoComboBox").value() == null || $("#SupplyType").data("kendoComboBox").value() == 0 || $("#SupplyType").data("kendoComboBox").value() == '') {
            $("#SupplyType").data("kendoComboBox").value(null);
        }

        if ($("#IdStockType").data("kendoComboBox").value() == null || $("#IdStockType").data("kendoComboBox").value() == 0 || $("#IdStockType").data("kendoComboBox").value() == '' || $("#IdStockType").data("kendoComboBox").value() == ',') {
            $("#IdStockType").data("kendoComboBox").value(null);
            $("#IdStockType").data("kendoComboBox").text(null);
        }

        $('#divTypeDetails').hide();
        CheckPoType();

        $(function () {
            $('.k-widget').addClass('input-validation-valid');
            $(".k-widget").removeClass("input-validation-error");
        });

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

    $("#popupContent").css("width", 900);
    $("#popupContent").css("height", 450);

</script>


