@using ODMSCommon.Resources
@model ODMSModel.PdiGifApproveGroupMembers.PdiGifApproveGroupMembersModel

 
@Html.AntiForgeryToken()
@if (ViewBag.GroupId > 0)
{
    <script type="text/x-kendo-tmpl" id="UserItemTemplate">
    <div class="ListItemText" style="padding:3px 0 0 5px; cursor:default">
        <span data-userid=#:Value#>#:Text#</span>
    </div>
</script>
      <script type="text/javascript">
        $(document).ready(function() {
           // $('#roles-wrapper').hide();
            $('#btnAddGAGM').click(AddUserHandler);
            $('#btnAddAllGAGM').click(AddUserAllHandler);
            $('#btnRemoveGAGM').click(RemoveUserHandler);
            $('#btnRemoveAllGAGM').click(RemoveUserAllHandler);
            $('#btnSaveGAGM').click(SaveUsersHandler);
        });

        function GetData() {
            return {
                groupId: @ViewBag.GroupId
            };
        }

        function AddUserHandler() {
            $(".k-state-selected", "#lstUsersNotIncludedInPdiGifApproveGroupMembers").each(function(i, e) {
                $("#lstUsersIncludedInPdiGifApproveGroupMembers").append($(e).clone()).html();
                $(e).remove();
            });
        }
        function AddUserAllHandler() {
            $(".ListItemText", "#lstUsersNotIncludedInPdiGifApproveGroupMembers").each(function(i, e) {
                $("#lstUsersIncludedInPdiGifApproveGroupMembers").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function RemoveUserHandler() {
            $(".k-state-selected", "#lstUsersIncludedInPdiGifApproveGroupMembers").each(function(i, e) {
                $("#lstUsersNotIncludedInPdiGifApproveGroupMembers").append($(e).clone()).html();
                $(e).remove();
            });
        }
        function RemoveUserAllHandler() {
            $(".ListItemText", "#lstUsersIncludedInPdiGifApproveGroupMembers").each(function(i, e) {
                $("#lstUsersNotIncludedInPdiGifApproveGroupMembers").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function SaveUsersHandler() {
            var includedUserIds = [];
            $("#lstUsersIncludedInPdiGifApproveGroupMembers").children().each(function(i, e) {
                var userId = $("span", e).data("userid");
                includedUserIds[i] = userId;
            });
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save", "PdiGifApproveGroupMembers")",
                data: { GroupId: @ViewBag.GroupId, UserList: includedUserIds , "__RequestVerificationToken": token  },
                traditional: true,
                success: function(result) {
                    if (result.Result == false)
                        SetErrorMessage(result.Message);
                    else
                        SetSuccessMessage(result.Message);
                },
                dataType: "json"
            });


        }
    </script>
    
    <div id="roles-wrapper" style="width: 700px; margin-left: 30px;">
        <div style="float: left; width: 280px;">
            <h4>
                @MessageResource.PdiGifApproveGroupMembers_Display_UsersExcluded
            </h4>
            @(Html.Kendo().ListView<SelectListItem>()
                  .Name("lstUsersNotIncludedInPdiGifApproveGroupMembers")
                  .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                  .ClientTemplateId("UserItemTemplate")
                  .TagName("div")
                  .DataSource(ds => ds.Read(read =>
                      read.Action("ListUsersExcluded", "PdiGifApproveGroupMembers").Data("GetData")))
                  .HtmlAttributes(new { @style = "height:200px; overflow:auto;" })
                  )


        </div>
        <div style="float: left; width: 140px; margin-top: 40px;">
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnAddGAGM", "&rsaquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnRemoveGAGM", "&lsaquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnAddAllGAGM", "&raquo;", "", "arrow-btn", "", "")
            </div>
            <div style="text-align: center; margin-top: 10px;">
                @ODMSHelpers.LinkButton("btnRemoveAllGAGM", "&laquo;", "", "arrow-btn", "", "")
            </div>
        </div>
    
        <div style="float: left; width: 280px">
            <h4>
                @MessageResource.PdiGifApproveGroupMembers_Display_UsersIncluded
            </h4>
            @(Html.Kendo().ListView<SelectListItem>()
                  .Name("lstUsersIncludedInPdiGifApproveGroupMembers")
                  .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                  .ClientTemplateId("UserItemTemplate")
                  .TagName("div")
                  .HtmlAttributes(new { @style = "height:200px; overflow:auto;" })
                  .DataSource(ds => ds.Read(read =>
                      read.Action("ListUsersIncluded", "PdiGifApproveGroupMembers", new { groupId = ViewBag.GroupId }))))
        </div>
    
        <div class="clearfix" style="margin-bottom: 15px;"></div>
        @ODMSHelpers.LinkButton("btnSaveGAGM", MessageResource.Global_Display_Save, "", "", "", "") 
    </div>
}