@model ODMSModel.PDIControlPartDefinition.PDIControlPartDefinitionViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("PDIControlPartDefinition_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
<div class="labelDiv">@Html.LabelFor(v => v.PDIControlCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIControlCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PDIModelCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIModelCode) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PDIPartCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIPartCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
