@model ODMSModel.PDIControlPartDefinition.PDIControlPartDefinitionViewModel
@using ODMSCommon.Resources;

@{
    ViewBag.Title = MessageResource.PDIControlPartDefinition_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("PDIControlPartDefinitionUpdate", "PDIControlPartDefinition", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PDIControlCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIControlCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PDIModelCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIModelCode) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PDIPartCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PDIPartCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  @Html.ValidationMessageFor(v => v.IsActive)  </div>
<div class="clearDiv">&nbsp;</div>
    
    @Html.HiddenFor(v => v.IdPDIControlDefinition)
    @Html.HiddenFor(v => v.PDIControlCode)
    @Html.HiddenFor(v => v.PDIModelCode)
    @Html.HiddenFor(v => v.PDIPartCode)
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.PDIControlPartDefinition.PDIControlPartDefinitionUpdate, "PDIControlPartDefinitionUpdate")        
}
<script>
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
