@model ODMSModel.PDIControlPartDefinition.PDIControlPartDefinitionViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.PDIControlPartDefinition_PageTitle_Create;
}


@using (Html.BeginForm("PDIControlPartDefinitionCreate", "PDIControlPartDefinition", FormMethod.Post))
{           
    <div class="labelDiv">@Html.LabelFor(v => v.PDIPartCode)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.PDIPartCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.PartList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) 
        @Html.ValidationMessageFor(v => v.PDIPartCode) 
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.PDIControlModelCode)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdPDIControlDefinition).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ControlModelCodeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) 
        @Html.ValidationMessageFor(v => v.IdPDIControlDefinition) 
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)   @Html.ValidationMessageFor(v => v.IsActive) </div>
    <div class="clearDiv">&nbsp;</div>
    
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.PDIControlPartDefinition.PDIControlPartDefinitionCreate, "PDIControlPartDefinitionCreate")          

}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#PDIModelCode').val() == null) {
            $("#PDIPartCode").data("kendoComboBox").text('');
            $("#IdPDIControlDefinition").data("kendoComboBox").text('');
        }
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

</script>


