@model ODMSModel.PurchaseOrderMatch.PurchaseOrderMatchViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Detail");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


<div class="labelDiv">@Html.LabelFor(v => v.PurhcaseOrderGroupName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PurhcaseOrderGroupName)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.PurhcaseOrderTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PurhcaseOrderTypeName) </div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.SalesOrganization)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.SalesOrganization)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.DistrChan)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.DistrChan) </div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Division)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.Division)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.IsActive)</div>

<script>

    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("height", 300);
        $("#popupContentWrapper").css("width", 460);
    }
</script>