@using ODMSBusiness
@using ODMSCommon.Resources
@using ODMSModel.PurchaseOrderMatch
@model PurchaseOrderMatchListModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Index");
}



<script>

    function Search() {
        return {
            IsActive: $("#IsActive").val(),
            PurhcaseOrderGroupId: $("#PurhcaseOrderGroupId").val(),
            PurhcaseOrderTypeId: $("#PurhcaseOrderTypeId").val(),
        };
    }

    //SearchScript
    $(document).ready(function () {

        $("#IsActive").val(1);

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#PurchaseOrderMatchGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });

        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });

        //Popup
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var groupId = $(this).attr("groupId");
            var typeId = $(this).attr("typeId");
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("details") == true) {                
                link = "@Url.Action("PurchaseOrderMatchDetail", "PurchaseOrderMatch")";
                link = link + "/?groupId=" + groupId + "&typeId=" + typeId;

                //console.log(groupId);
                //console.log(typeId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("PurchaseOrderMatchUpdate", "PurchaseOrderMatch")";
                link = link + "/?groupId=" + groupId + "&typeId=" + typeId;
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("PurchaseOrderMatchCreate", "PurchaseOrderMatch")";
            }

            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
           
        });

    });

    function Delete(groupId, typeId) {
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("PurchaseOrderMatchDelete", "PurchaseOrderMatch")",
                data: { groupId: groupId, typeId: typeId },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#PurchaseOrderMatchGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>



<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        
        <div class="labelDiv">@Html.LabelFor(v => v.SearchIsActive)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.IsActive).BindTo(CommonBL.ListStatus().Data).DataTextField("Text").DataValueField("Value").Placeholder(MessageResource.Global_Display_All)
        </div>
               

        <div class="labelDiv">@Html.LabelFor(v => v.PurhcaseOrderGroupId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.PurhcaseOrderGroupId).BindTo(ViewBag.PurchaseOrderGroupList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.PurhcaseOrderGroupId)</div>
        

        <div class="labelDiv">@Html.LabelFor(v => v.PurhcaseOrderTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.PurhcaseOrderTypeId).BindTo(ViewBag.PurchaseOrderTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.PurhcaseOrderTypeId) </div>
        
    </div>

</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", null)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Create"), CommonValues.PermissionCodes.PurchaseOrderMatch.PurchaseOrderMatchCreate)


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PurchaseOrderMatchListModel>()
          .Name("PurchaseOrderMatchGrid")
          .Columns(columns =>
    {
        columns.Bound(p => p.PurhcaseOrderGroupId).ClientTemplate("<center><a class='details modalClick' groupId='#=PurhcaseOrderGroupId#' typeId='#=PurhcaseOrderTypeId#'  frameTitle='" + @CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Detail") + "' href='./PurchaseOrderMatchDetail/?groupId=#=PurhcaseOrderGroupId#&typeId=#=PurhcaseOrderTypeId#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderMatch.PurchaseOrderMatchDetail)).Width(10);
        columns.Bound(p => p.PurhcaseOrderGroupId).ClientTemplate("<center><a class='edit modalClick' groupId='#=PurhcaseOrderGroupId#' typeId='#=PurhcaseOrderTypeId#' frameTitle='" + @CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Update") + "' href='./PurchaseOrderMatchUpdate/?groupId=#=PurhcaseOrderGroupId#&typeId=#=PurhcaseOrderTypeId#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderMatch.PurchaseOrderMatchUpdate)).Width(10);
        columns.Bound(o => o.PurhcaseOrderGroupId).ClientTemplate("<center><a onclick='Delete(#=PurhcaseOrderGroupId#,#=PurhcaseOrderTypeId#)' href='javascript:void(0);' groupId='#=PurhcaseOrderGroupId#' typeId='#=PurhcaseOrderTypeId#' frameTitle='" + @CommonUtility.GetResourceValue("PurchaseOrderMatch_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderMatch.PurchaseOrderMatchDelete)).Width(10);
        columns.Bound(p => p.PurhcaseOrderGroupName).Width(50).Sortable(true);
        columns.Bound(p => p.PurhcaseOrderTypeName).Width(50).Sortable(true);
        columns.Bound(p => p.SalesOrganization).Width(50).Sortable(true);
        columns.Bound(p => p.DistrChan).Width(50).Sortable(true);
        columns.Bound(p => p.Division).Width(50).Sortable(true);
        columns.Bound(p => p.StateName).Width(20).Sortable(true);
    })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("Read", "PurchaseOrderMatch", Model).Data("Search"))
              .Model(model => model.Field(o => o.PurhcaseOrderGroupId).DefaultValue(-1)))

    )
</div>



<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
        .Title("PurchaseOrderMatch")
        .Draggable()
        .Resizable()
        .Width(600)
        .Height(400)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){var grid = $('#PurchaseOrderMatchGrid').data('kendoGrid');grid.dataSource.page(1);}"))
    )
</div>