@using ODMSModel.Vehicle
@{
    ViewBag.Title = "VehicleHistoryTotalPriceIndex";
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@model VehicleHistoryTotalPriceListModel
<script>
    function SearchVehicleHistoryTotalPrice() {
        return {
            VehicleId: @Model.VehicleId
            };
    }

</script>
<div class="kendoGridDiv" id="gridDet">
    @(Html.Kendo().Grid<VehicleHistoryTotalPriceListModel>()
          .Name("gridVehicleHistoryTotalPrice")
          .HtmlAttributes(new { style = "width: 1150px;" })
          .Columns(columns =>
              {
                  columns.Bound(b => b.ProcessTypeName).Width(70).Sortable(false);
                  columns.Bound(p => p.IndicatorTypeName).Width(70).Sortable(false);
                  columns.Bound(b => b.CurrencyCode).Width(70).Sortable(false);
                  columns.Bound(b => b.CustomerPrice).Width(120).Format("{0:N}").Sortable(false).HtmlAttributes(new { @style = "text-align:right" });
                  columns.Bound(b => b.OtokarPrice).Width(120).Format("{0:N}").Sortable(false).HtmlAttributes(new { @style = "text-align:right" });
                  columns.Bound(b => b.CustomerTotalPrice).Width(120).Format("{0:N}").Sortable(false).HtmlAttributes(new { @style = "text-align:right" });
                  columns.Bound(b => b.OtokarTotalPrice).Width(120).Format("{0:N}").Sortable(false).HtmlAttributes(new { @style = "text-align:right" });

              })
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(1000)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVehicleHistoryTotalPrice", "Vehicle", Model).Data("SearchVehicleHistoryTotalPrice"))
                                        .Model(model => model.Field(b => b.VehicleId).DefaultValue(-1)))
          )

</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.TotalCustomerPrice)</div>
<div class="shortTxtDiv">@String.Format("{0:N}", Model.TotalCustomerPrice)</div>
<div class="labelDiv">@Html.LabelFor(v => v.TotalOtokarPrice)</div>
<div class="shortTxtDiv">@String.Format("{0:N}", Model.TotalOtokarPrice)</div>
<script>
    
    $(document).ready(function() {
        $("#popupContentWrapper").css("min-height", 650);
    });
</script>
