@using ODMSCommon.Resources
@model ODMSModel.EducationRequest.EducationRequestDetailModel
@{
    ViewBag.Title = MessageResource.EducationRequest_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("EducationRequestDetails", "EducationRequest", FormMethod.Post))
{
    <div class="labelDiv" style="position: absolute; margin-top: 10px; width: 120px">@Html.LabelFor(d => d.EducationCode)&nbsp;</div>
    <div style="position: absolute; margin-top: 10px; margin-left: 120px;">@Html.DisplayFor(d => d.EducationCode)&nbsp;</div>
    
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.LabelFor(d => d.EducationName)&nbsp;</div>
    <div style="position: absolute; margin-top: 40px; margin-left: 120px;">@Html.DisplayFor(d => d.EducationName)&nbsp;</div>
    
    <div class="labelDiv" style="position: absolute; margin-top: 70px; width: 120px">@Html.LabelFor(d => d.WorkerName)&nbsp;</div>
    <div style="position: absolute; margin-top: 70px; margin-left: 120px;">@Html.DisplayFor(d => d.WorkerName)&nbsp;</div>
    
    <div class="labelDiv" style="width: 120px; margin-top: 100px;">@Html.LabelFor(d => d.CreateDateString)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 120px; margin-top: 100px; width: 250px">@Html.DisplayFor(b => b.CreateDateString)&nbsp;</div>
}

<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 370);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 680);
    }
</script>