@using ODMSCommon.Resources
@model ODMSModel.EducationRequest.EducationRequestDetailModel
@{
    ViewBag.Title = MessageResource.EducationRequest_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
@Html.AntiForgeryToken()
@using (Html.BeginForm("EducationRequestCreate", "EducationRequest", FormMethod.Post))
{
    <div id="divEducationListTag" class="labelDiv" style="position: absolute; margin-top: 10px; width: 120px">@Html.Label(MessageResource.Education_Display_EducationList)</div>
    <div id="divEducationList" class="shortTxtDiv" style="position: absolute; margin-top: 10px; margin-left: 120px;">
        @(Html.Kendo().ComboBox()
              .Name("EducationCode")
              .Placeholder(@MessageResource.EducationRequest_Display_SelectEducation)
              .BindTo(ViewBag.EducationList)
              .DataTextField("Text")
              .DataValueField("Value")
              .HtmlAttributes(new { @class = "ComboBox", @style = "width: 200px;" })
              )
        @Html.ValidationMessageFor(d => d.EducationCode)
    </div>
    
    <div id="divWorkerListTag" class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.Label(MessageResource.Global_Display_WorkerList)</div>
    <div id="divWorkerList" style="position: absolute;">
        @(Html.Kendo().ListView<SelectListItem>()
              .Name("lstWorkers")
              .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("WorkerItemTemplate")
              .TagName("div")
              .BindTo(ViewBag.WorkerList)
              .HtmlAttributes(new { @style = "position: absolute; float: left; width: 205px; height: 200px; overflow: auto" })
              )
    </div>
    
    <div id="divSelectedWorkerList" style="position: absolute;">
        @(Html.Kendo().ListView<SelectListItem>()
              .Name("lstSelectedWorkers")
              .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("WorkerItemTemplate")
              .TagName("div")
              .BindTo(new List<SelectListItem>())
              .HtmlAttributes(new { @style = "position: absolute; float: left; width: 205px; height: 200px; overflow: auto;" })
              )
        @Html.ValidationMessageFor(d => d.SerializedWorkerIds)
    </div>
}

@ODMSHelpers.LinkButton("btnAdd", @MessageResource.Global_Display_Add, "", "Button", "", "", "position: absolute; margin-left: 350px; margin-top: 120px; width: 50px;")
@ODMSHelpers.LinkButton("btnRemove", @MessageResource.Global_Display_Remove, "", "Button", "", "", "position: absolute; margin-left: 350px; margin-top: 150px; width: 50px;")

@ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.EducationRequest.EducationRequestCreate, "EducationRequestCreate")

<script type="text/x-kendo-tmpl" id="WorkerItemTemplate">
    <div class="ListItem">
        <span workerId=#:Value#>#:Text#</span>
    </div>
</script>

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
        RegisterEventHandlers();
    });

    function adjustPage() {
        $("#popupContent").css("width", 600);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 680);
    }

    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "260px");
        $("#Create").css("width", "75px");

        $("#divWorkerList").css("margin-top", "40px");
        $("#divWorkerList").css("margin-left", "120px");

        $("#divSelectedWorkerList").css("margin-top", "40px");
        $("#divSelectedWorkerList").css("margin-left", "420px");

        $(".shortTxtDiv span[data-valmsg-for='EducationCode']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='EducationCode']").css("margin-left", "10px");
        $(".shortTxtDiv span[data-valmsg-for='EducationCode']").css("margin-top", "3px");
    }

    function RegisterEventHandlers() {
        $("body").delegate("#btnAdd", "click", AddWorkerClickHandler);
        $("body").delegate("#btnRemove", "click", RemoveWorkerClickHandler);
        $("body").delegate("#Create", "click", SaveEducationRequestClickHandler);
    }

    function AddWorkerClickHandler() {
        $(".k-state-selected", "#lstWorkers").each(function (i, e) {
            $("#lstSelectedWorkers").append($(e).clone()).html();
            $(e).remove();
        });
    }

    function RemoveWorkerClickHandler() {
        $(".k-state-selected", "#lstSelectedWorkers").each(function (i, e) {
            $("#lstWorkers").append($(e).clone()).html();
            $(e).remove();
        });
    }

    function SaveEducationRequestClickHandler() {
        var educationCode = $("#EducationCode").val();

        var selectedWorkers = [];
        $("#lstSelectedWorkers").children().each(function (i, e) {
            var selectedWorker = { Value: $("span", e).attr("workerId"), Text: $("span", e).html() };
            selectedWorkers[i] = selectedWorker;
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("EducationRequestCreate", "EducationRequest")",
            contentType: 'application/json',
            data: JSON.stringify({ EducationCode: educationCode, WorkerList: selectedWorkers}),
            traditional: true,
            success: function (result) {
                if (result.Status == 0) {
                    SetErrorMessage(result.Message);
                }
                else {
                    SetSuccessMessage(result.Message);
                    $("#EducationCode").data("kendoComboBox").text('');
                    $("#EducationCode").data("kendoComboBox").value('');
                    
                    var lstWorkers = $("#lstWorkers").data("kendoListView");
                    lstWorkers.clearSelection();
                    lstWorkers.dataSource.read();
                    
                    var lstSelectedWorkers = $("#lstSelectedWorkers").data("kendoListView");
                    lstSelectedWorkers.clearSelection();
                    lstSelectedWorkers.dataSource.read();
                }
            },
            dataType: "json"
        });
    }
</script>
