@{
    ViewBag.Title = ViewBag.Title = ODMSCommon.Resources.MessageResource.VehicleBodywork_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.VehicleBodywork.VehicleBodyworkViewModel
 

<div class="labelDiv">@Html.LabelFor(v => v.BodyworkCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.BodyworkCode) &nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.BodyworkName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.BodyworkName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.VehiclePlate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VehiclePlate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.CityName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CityName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.WorkOrderName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.WorkOrderName) &nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Manufacturer)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Manufacturer) &nbsp;</div>

<br />



