@using ODMSCommon.Resources
@using ODMSModel.WorkshopType
@model WorkshopTypeListModel
@{
    ViewBag.Title = MessageResource.WorkshopType_PageTitle_Index;
}
  
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveSearch)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "",null)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickWorkshopType createWorkshop", CommonUtility.GetResourceValue("WorkshopType_PageTitle_Create"),ODMSCommon.CommonValues.PermissionCodes.Labour.LabourCreate)
<script>

    function Search() {
        return {
            IsActiveSearch: $("#IsActiveSearch").val()
        };
    }
    $(document).ready(function () {
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#WorkshopTypeGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickWorkshopType", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("update")) {
                link = "@Url.Action("WorkshopTypeUpdate", "WorkshopType", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            if ($(this).hasClass("createWorkshop") == true) {
                link = "@Url.Action("WorkshopTypeCreate", "WorkshopType", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

    });
    function DeleteWorkshopType(id) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("WorkshopTypeDelete", "WorkshopType")",
                data: { id: id, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#WorkshopTypeGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#WorkshopTypeGrid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<WorkshopTypeListModel>()
          .Name("WorkshopTypeGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.WorkshopTypeId).ClientTemplate("<center><a class='update modalClickWorkshopType' id='#=WorkshopTypeId#' frameTitle='" + @CommonUtility.GetResourceValue("WorkshopType_PageTitle_Update") + "' href='/WorkshopType/WorkshopTypeUpdate/#=WorkshopTypeId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleModel.VehicleModelUpdate));
                  columns.Bound(o => o.WorkshopTypeId).ClientTemplate("<center><a onclick='DeleteWorkshopType(\"#=WorkshopTypeId#\")' href='javascript:void(0);' id='#=WorkshopTypeId#' frameTitle='" + @CommonUtility.GetResourceValue("BodyworkDetail_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleModel.VehicleModelDelete));
                  columns.Bound(p => p.WorkshopTypeName).Width(180).Sortable(true);
                  columns.Bound(p => p.Description).Width(380).Sortable(true);
                  columns.Bound(p => p.IsActiveString).Width(380).Sortable(true);

              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListWorkshopType", "WorkshopType", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.WorkshopTypeId).DefaultValue(-1)))

          )
</div>
