@using ODMSCommon.Resources
@model ODMSModel.WorkshopType.WorkshopTypeViewModel
@{
    ViewBag.Title = MessageResource.WorkshopType_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("WorkshopTypeCreate", "WorkshopType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="labelDiv">@Html.LabelFor(v => v.WorkshopTypelName)</div>
    <div class="shortTxtDiv">
        <div style="float: left; width: 70%">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = "", IsEnabled = true }); }</div>
        <div style="float:left;width:20%;margin-top:50px">@Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)    </div> 
    </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.Descripion)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.Descripion) @Html.ValidationMessageFor(v => v.Descripion)</div> 
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(p=>p.IsActive) @*@Html.ValidationMessageFor(v => v.RepairCode)*@</div> 
    
      <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), ODMSCommon.CommonValues.PermissionCodes.WorkshopType.WorkshopTypeCreate, "WorkshopTypeCreate")        
}
<script>
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 480);
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });

    });

</script>