@using ODMSCommon.Resources
@using ODMSModel.GuaranteeRequestApproveDetail
@model FailureInfo
<div class="panel panel-default panel-collapse" style="width: 500px">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#gradFailureInfo" href="#collapseFailureInfo">
            <strong style="font-size: 16px;">@MessageResource.Global_Display_FailureInfo</strong>
        </a>
    </div>
    <div class="panel-body collapse" id="collapseFailureInfo">
        <div class="labelDiv">@Html.LabelFor(p=>p.FailureDate)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.FailureDate)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(p=>p.VehicleLeaveDate)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.VehicleLeaveDate)</div>
        
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(p=>p.Km)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.Km)</div>
        
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(p=>p.CampaignCode)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.CampaignCode)</div>
        
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(p=>p.FailureCode)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.FailureCode)</div>
    </div>
</div>
