@using ODMSCommon.Resources
@using ODMSModel.GuaranteeRequestApproveDetail
@model CustomerInfo
<div class="panel panel-default panel-collapse">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#gradCustomerInfo" href="#collapseCustomerInfo">
            <strong style="font-size: 16px;">@MessageResource.Global_Display_CustomerInfo</strong>
        </a>
    </div>
    <div class="panel-body in" id="collapseCustomerInfo">
        <div class="labelDiv">@Html.LabelFor(p=>p.Name)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.Name)</div>

        <div class="labelDiv">@Html.LabelFor(p=>p.Adress)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.Adress)</div>
        
        <div class="clearDiv"></div>

        <div class="labelDiv">@Html.LabelFor(p=>p.City)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.City)</div>   

        <div class="labelDiv">@Html.LabelFor(p=>p.Phone)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.Phone)</div>
        
        <div class="clearDiv"></div>

        <div class="labelDiv">@Html.LabelFor(p=>p.Fax)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(p=>p.Fax)</div>
    </div>
</div>
