@using ODMSCommon.Resources
@model ODMSModel.Defect.DefectListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Defect_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.DefectNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DefectNo)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(true)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.VehicleVinNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleVinNo)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IdContract)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdContract).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ContractList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.DeclarationDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.DeclarationDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })</div>

        <div class="labelDiv">@Html.LabelFor(v => v.DealerDeclarationDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.DealerDeclarationDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DocName)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").SelectedIndex(0).BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.Defect.DefectDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickDefect createNewDefect", CommonUtility.GetResourceValue("Defect_PageTitle_Create"), CommonValues.PermissionCodes.Defect.DefectCreate)

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#DefectGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )

</div>
<script type="text/javascript">
    function onActivate(e) {
        alert($(e.item).find("> .k-link").text());
        //kendoConsole.log("Activated: " + $(e.item).find("> .k-link").text());
    }

    function Search() {
        return {
            IdDefect: $('#IdDefect').val(),
            IsActive: $('#IsActive').val(),
            DefectNo: $('#DefectNo').val(),
            IdDealer: $("#IdDealer").val(),
            DeclarationDate: $("#DeclarationDate").val(),
            DealerDeclarationDate: $("#DealerDeclarationDate").val(),
            IdVehicle: $("#IdVehicle").val(),
            VehicleVinNo: $("#VehicleVinNo").val(),
            IdContract: $("#IdContract").val(),
            DocName: $("#DocName").val()
        };
    }

    $(document).ready(function () {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#DefectGrid').data('kendoGrid');
            grid.dataSource.page(1);
        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickDefect", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("DefectDetails", "Defect", new { IdDefect = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("DefectUpdate", "Defect", new { IdDefect = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNewDefect")) {
                link = "@Url.Action("DefectCreate", "Defect")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });

    function DeleteDefect(cId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteDefect", "Defect")",
                data: { idDefect: cId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0) {
                        SetErrorMessage(result.Message);
                    } else {
                        $('#IdDefect').val('');
                        var grid = $('#DefectGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.Defect.DefectListModel>()
          .Name("DefectGrid")

          .Columns(columns =>
          {
             columns.Bound(p => p.IdDefect).ClientTemplate("<center><a class='details modalClickDefect' id='#=IdDefect#' frameTitle='" + @CommonUtility.GetResourceValue("Defect_PageTitle_Details") + "' href='/Defect/DefectDetails/#=IdDefect#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Defect.DefectDetails));
              columns.Bound(p => p.IdDefect).ClientTemplate("<center><a class='edit modalClickDefect' id='#=IdDefect#' frameTitle='" + @CommonUtility.GetResourceValue("Defect_PageTitle_Update") + "' href='/Defect/DefectUpdate/#=IdDefect#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Defect.DefectUpdate));
              columns.Bound(o => o.IdDefect).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Defect_PageTitle_Delete") + "' onclick='DeleteDefect(\"#=IdDefect#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Defect.DefectDelete));
              columns.Bound(p => p.DefectNo).Width(40).Sortable(true);
              columns.Bound(p => p.DealerName).Width(140).Sortable(true);
              columns.Bound(p => p.ContractName).Width(60).Sortable(true);
              columns.Bound(p => p.VehicleVinNo).Width(80).Sortable(true);
              columns.Bound(p => p.IsActiveName).Width(40).Sortable(true);
              columns.Bound(p => p.DocName).Width(80).Sortable(true);
              columns.Bound(p => p.DeclarationDate).Format("{0:dd/MM/yyyy}").Width(80).Sortable(true);
              columns.Bound(p => p.DealerDeclarationDate).Format("{0:dd/MM/yyyy}").Width(80).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListDefect", "Defect", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.IdDefect).DefaultValue(-1)))

    )
</div>
@*<div id="TabContent" style="padding-left: 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>*@
