@{
    ViewBag.Title = CommonUtility.GetResourceValue("Defect_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.Defect.DefectViewModel

<div class="labelDiv">@Html.LabelFor(v => v.DefectNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DefectNo)&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContractName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ContractName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DeclarationDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DeclarationDate) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DealerDeclarationDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerDeclarationDate) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleVinNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleVinNo) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive, new { disabled = "disabled" })  </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DocName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<br />




