@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.Defect.DefectViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Defect_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@using (Html.BeginForm("DefectUpdate", "Defect", FormMethod.Post))
{
    @*<div class="labelDiv">@Html.LabelFor(v => v.IdDefect)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.IdDefect) @Html.ValidationMessageFor(c => c.IdDefect)</div>*@
    <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(true)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DefectNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DefectNo) @Html.ValidationMessageFor(v => v.DefectNo)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DeclarationDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.DeclarationDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })@Html.ValidationMessageFor(v => v.DeclarationDate)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DealerDeclarationDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.DealerDeclarationDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })@Html.ValidationMessageFor(v => v.DealerDeclarationDate)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IdContract)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdContract).DataTextField("Text").DataValueField("Value").SelectedIndex(0).BindTo(ViewBag.ContractList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleId)</div>
    <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Vehicle, WindowTitle = ODMSCommon.Resources.MessageResource.ObjectSearch_WindowTitle_Vehicle, ReferenceObjectId = "VehicleId", ClearCallBackFunction = "ClearVehicleChange", SelectCallBackFunction = "SetVehicleChange", Required = false, ReferenceObjectValue = Model == null ? null : Model.VehicleId, ParentWindowId = "modelWindow" })</div>
     <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.DocName)  </div>
    <div class="clearDiv">&nbsp;</div>

    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Contract.ContractUpdate, "DefectUpdate")
    @Html.HiddenFor(x=>x.IdDefect)
    @Html.HiddenFor(x=>x.DocId)
}
<script src="~/Scripts/odms.objectsearch.js"></script>
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
