@model ODMSModel.WorkOrderDocuments.WorkOrderDocumentsViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("WorkOrderDoc_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@using (Html.BeginForm("WorkOrderDocumentsCreate", "WorkOrderDocuments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Kendo().Upload().Name("file").TemplateId("fileTemplate").Multiple(false).Events(e => e
                                                                                            .Complete("onComplete").Select("onSelectDocumentCreate")).Messages(m => m.Select(ODMSCommon.Resources.MessageResource.Global_Display_Choose))@Html.ValidationMessageFor(v => v.file)

                                                                                            <div class="clearDiv">&nbsp;</div>
                                                                                            <div class="labelDiv">@Html.LabelFor(q => q.Description)</div>
                                                                                            <div class="shortTxtDiv">@Html.TextBoxFor(q => q.Description)</div> @Html.ValidationMessageFor(v => v.Description)

                                                                                            @Html.HiddenFor(v => v.WorkOrderId)
                                                                                            <div class="clearDiv">&nbsp;</div>
                                                                                            @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.WorkOrderDocuments.WorkOrderDocumentCreate, "WorkOrderDocumentsCreate")
}

<script>


    function onSelectDocumentCreate(e) {

        var fileName = e.files[0].name;
        if (fileName.length > 0) {
            fileName = fileName.split(".xlsx")[0];
            if (fileName.length > 4000) {

                SetErrorMessage("@ODMSCommon.Resources.MessageResource.WorkOrderDoc_Display_DocumentName");
                e.preventDefault();

            }


        }

    }

    function onComplete(e) {
        $("#WorkOrderDocId").val(1);
    }
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
        $("#popupContentWrapper").css("min-height", 300);

    });

</script>

