@using ODMSModel.WorkOrderDocuments;
@model WorkOrderDocumentsViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("WorkOrderDoc_PageTitle_Index");
    var isHq = !ODMSCommon.Security.UserManager.UserInfo.IsDealer && !ODMSCommon.Security.UserManager.UserInfo.IsTechnician;
}

@Html.AntiForgeryToken()
@if (Model.IsRequestRoot)
{
    @ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickWorkOrderDoc createNewWorkOrderDoc", CommonUtility.GetResourceValue("WorkOrderDoc_PageTitle_Create"), CommonValues.PermissionCodes.WorkOrderDocuments.WorkOrderDocumentCreate)
}

<script>

    $(document).ready(function() {

        $("body").delegate(".modalClickWorkOrderDoc", "click", function(e) {
            $('#modelWindowWorkOrderDoc').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            width = 950;
            height = 350;

            if ($(this).hasClass("createNewWorkOrderDoc")) {
                link = "@Url.Action("WorkOrderDocumentsCreate", "WorkOrderDocuments", new {wOrderId = Model.WorkOrderId})";
                height = 300;
                width = 950;
            }

            $("#modelWindowWorkOrderDoc_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowWorkOrderDoc").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidget.wrapper.css({
                width: width,
                height: height
            });

            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            $('.k-overlay').unbind('click');
            $('.k-overlay').click(function() {
                var popup = $("#modelWindowWorkOrderDoc").data("kendoWindow");
                if (popup)
                    popup.close();
            });
        });

    });


    function DeleteWorkOrderDoc(woDocId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("WorkOrderDocumentsDelete", "WorkOrderDocuments")",
                data: { woDocId: woDocId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#WorkOrderDocGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowWorkOrderDoc")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#WorkOrderDocGrid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd" style="width:1190px">
 
    @(Html.Kendo().Grid<WorkOrderDocumentsListModel>()
          .Name("WorkOrderDocGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.WorkOrderDocId).ClientTemplate("<center><a href='" + @Url.Action("WorkOrderDocumentsDownload", "WorkOrderDocuments") + "/#=DocId#'><img class=iconLink src='" + @Url.Content("~/Images/save.png") + "'></a></center>").Width(50).Title(CommonUtility.GetResourceValue("Global_Display_Download")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkOrderDocuments.WorkOrderDocumentDownload));
              columns.Bound(p => p.WorkOrderDocId).ClientTemplate("<center><a onclick='DeleteWorkOrderDoc(#=WorkOrderDocId#)' href='javascript:void(0);' id='#=WorkOrderDocId#' frameTitle='" + @CommonUtility.GetResourceValue("WorkOrderDoc_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkOrderDocuments.WorkOrderDocumentDelete));
              columns.Bound(p => p.DocumentName).HtmlAttributes(new { style = "word-wrap: break-word" }).Width(300).Sortable(true);
              columns.Bound(p => p.Description).Width(300).Sortable(true);
              columns.Bound(p => p.IsActiveName).Width(300).Visible(isHq).Sortable(true);
          })
          .Pageable()
          .HtmlAttributes(new { style = "width:1180px" })
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListWorkOrderDocuments", "WorkOrderDocuments", Model))
                                        .Model(model => model.Field(o => o.WorkOrderDocId).DefaultValue(-1)))

    )
</div>
