@using ODMSCommon.Resources
@using ODMSModel.ClaimDismantledPartDeliveryDetails
@model ClaimDismantledPartDeliveryDetailListModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("ClaimDismantledPartDeliveryDetail_PageTitle_Index");
}

<script src="~/Scripts/UI_Scripts/Barcode.js"></script>
<script>

    var barcode = new Barcode();
    barcode.Initiliaze("ClaimDismantledPartDeliveryDetailGrid");

    $("#Barcode").keypress(function (e) {
        if (e.which == 13) {
            var Ids = barcode.GetIds();
            $.each(Ids, function (i) {
                $('#' + Ids[i]).attr('checked', 'checked');
                SetWayBill(Ids[i], "@Model.ClaimWayBillId");

            });
            
            $("#Barcode").val("");
        }
    });

    function toggleCheckBox(id) {
        var checked = $('#' + id).attr("checked");
        if (checked != "checked") {
            $('#' + id).attr('checked', 'checked');
            SetWayBill(id, "@Model.ClaimWayBillId");
        } else {
            $('#' + id).removeAttr('checked');
            SetWayBill(id, 0);
        }
    }

    function SetWayBill(claimDismantledPartId, claimWayBillId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SetClaimWayBill", "ClaimDismantledPartDeliveryDetail")",
            data: { claimDismantledPartId: claimDismantledPartId, claimWayBillId: claimWayBillId },
            traditional: true,
            success: function () {
            },
            dataType: "json"
        });
    }

</script>

<br />
<br />

<div class="labelDiv">@Html.LabelFor(v => v.Barcode)</div>
<div class="shortTxtDiv" style="width:214px">
    @Html.TextBoxFor(x => x.Barcode) <p class="message">@MessageResource.Global_Message_Barcode_Not_Found</p>
</div>

<br /><br /><br /><br />

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ClaimDismantledPartDeliveryDetailListModel>()
          .Name("ClaimDismantledPartDeliveryDetailGrid")
          .Columns(columns =>
            {
                columns.Bound(p => p.ClaimWayBillId).ClientTemplate("# if(IsSelected == true) {#<input type='checkbox' onclick='toggleCheckBox(#=Id#)' name='claim' id= #=Id# checked>#} else {" +
                                                                  "#<input type='checkbox' name='claim' onclick='toggleCheckBox(#=Id#)' id= #=Id#>#} #").
                Title(CommonUtility.GetResourceValue("Global_Display_Select")).Width(60).Sortable(false).
                Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.ClaimDismantledPartDelivery.ClaimDismantledPartDeliveryIndex));
                columns.Bound(p => p.PartCode).Width(200).Sortable(true);
                columns.Bound(p => p.PartName).Width(200).Sortable(true);
                columns.Bound(p => p.DismantledDate).Width(200).Format("{0:dd/MM/yyyy}").Sortable(true);
                columns.Bound(p => p.Barcode).Width(200).Sortable(true);
                columns.Bound(p => p.Qty).Width(200).Sortable(true);
            })
          .Sortable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(1000)
              .ServerOperation(true)
              .Read(read => read.Action("Read", "ClaimDismantledPartDeliveryDetail", Model))
              .Model(model => model.Field(o => o.ClaimWayBillId).DefaultValue(-1)))

    )
</div>

<br />
<br />