@model ODMSModel.AppointmentDetailsParts.AppointmentDetailsPartsViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointDetailsParts_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("AppointmentDetailsPartsDelete", "AppointmentDetailsParts", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PartId)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.PartSearch.DefaultText)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Quantity)</div>

    <div class="labelDiv">@Html.LabelFor(v => v.ListPrice)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.ListPrice)</div>
    
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(d => d.Id)

    @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"),  CommonValues.PermissionCodes.AppointmentDetailsParts.AppointmentDetailsPartsDelete, "AppointmentDetailsPartsDelete")
    
}
