@model ODMSModel.AppointmentDetailsParts.AppointmentDetailsPartsViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointDetailsParts_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("AppointmentDetailsPartsCreate", "AppointmentDetailsParts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(v => v.GroupList)</div>
    <div class="shortTxtDiv" style="width: 600px;">@Html.DisplayFor(v => v.GroupList)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.PartId)</div>
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });@Html.ValidationMessageFor(v => v.PartId)

    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    @(Html.Kendo().NumericTextBoxFor(v => v.Quantity).Decimals(2).Min(0).Format("{0:N2}").HtmlAttributes(new { type = "text" })) @Html.ValidationMessageFor(v => v.Quantity)
   
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.CurrencyCode)</div>
    <div class="shortTxtDiv" style="width: 600px;">@Html.DisplayFor(v => v.CurrencyCode)</div>
    <div class="clearDiv">&nbsp;</div>
     @Html.HiddenFor(d => d.AppointIndicId)
    @Html.HiddenFor(d => d.GroupList)
    @Html.HiddenFor(d => d.CurrencyCode)

    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.AppointmentDetailsParts.AppointmentDetailsPartsCreate, "AppointmentDetailsPartsCreate")
    
}
<script>
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
