@model ODMSModel.AppointmentDetailsParts.AppointmentDetailsPartsViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointDetailsParts_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 

<div class="labelDiv">@Html.LabelFor(v => v.GroupList)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.GroupList)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.PartId)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartSearch.DefaultText)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Quantity)</div>

<div class="labelDiv">@Html.LabelFor(v => v.ListPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ListPrice)</div>
