@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.PDIInvoice
@model PDIInvoiceListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("PDIInvoiceList_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<script>
    function InvoiceListSearch() {
        return {
            DealerId: $("#DealerId").val()
        };
    }
    $(document).ready(function () {
        $("#btnRefresh").on("click", function (e) {
            var grid = $('#InvoiceGrid').data('kendoGrid');
            grid.dataSource.page(1);
        });
        $("body").delegate(".modalClickDetail", "click", function (e) {
            $('#modelWindowDetail').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = '@CommonUtility.GetResourceValue("PDIInvoiceDetailList_PageTitle_Index")' + ' - Ref NO : ' + clickedId;
            var height = "350";
            var width = "950";

            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("PDIInvoiceDetailListIndex", "PDIInvoiceList", new { refNo = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowDetail_wnd_title").html(frameTitle);

            var windowWidgetDetail = $("#modelWindowDetail").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidgetDetail.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidgetDetail.close;

            windowWidgetDetail.refresh({
                url: link
            }).center();
            windowWidgetDetail.center();
            windowWidgetDetail.open();

        });
        $("body").delegate(".modalClickPartDetail", "click", function (e) {
            $('#modelWindowPartDetail').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = '@CommonUtility.GetResourceValue("PDIInvoicePartDetailList_PageTitle_Index")' + ' - Ref NO : ' + clickedId;
            var height = "350";
            var width = "950";

            if ($(this).hasClass("partDetails") == true) {
                link = "@Url.Action("PDIInvoicePartDetailListIndex", "PDIInvoiceList", new { refNo = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowPartDetail_wnd_title").html(frameTitle);

            var windowWidgetPartDetail = $("#modelWindowPartDetail").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidgetPartDetail.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidgetPartDetail.close;

            windowWidgetPartDetail.refresh({
                url: link
            }).center();
            windowWidgetPartDetail.center();
            windowWidgetPartDetail.open();

        });
        $("body").delegate(".modalClickLabourDetail", "click", function (e) {
            $('#modelWindowLabourDetail').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = '@CommonUtility.GetResourceValue("PDIInvoiceLabourDetailList_PageTitle_Index")' + ' - Ref NO : ' + clickedId;
            var height = "350";
            var width = "950";


            if ($(this).hasClass("labourDetails") == true) {
                link = "@Url.Action("PDIInvoiceLabourDetailListIndex", "PDIInvoiceList", new { refNo = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowLabourDetail_wnd_title").html(frameTitle);

            var windowWidgetLabourDetail = $("#modelWindowLabourDetail").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidgetLabourDetail.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidgetLabourDetail.close;

            windowWidgetLabourDetail.refresh({
                url: link
            }).center();
            windowWidgetLabourDetail.center();
            windowWidgetLabourDetail.open();

        });

    });

    function DisplayDetails(refNo) {
        return "<a class='details modalClickDetail' id='"+refNo+"'>" + refNo + "</a>";
    }
    function DisplayLabourDetails(refNo, totalLabourPrice) {
        return "<div style='text-align:right'><a class='labourDetails modalClickLabourDetail' id='" + refNo + "'>" + parseFloat(totalLabourPrice).toFixed(2).replace(".", ",") + "</a></div>";
    }
    function DisplayPartDetails(refNo, totalPartPrice) {
        return "<div style='text-align:right'><a class='partDetails modalClickPartDetail' id='" + refNo + "'>" + parseFloat(totalPartPrice).toFixed(2).replace(".", ",") + "</a></div>";
    }
</script>
<br />
<div id="modelWindowDetailDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowDetail")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(false)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
    }"))
    )
</div>
<div id="modelWindowPartDiv">
    @(Html.Kendo().Window()
          .Name("modelWindowPartDetail")
          .Draggable()
          .Resizable()
          .Width(950)
          .Height(350)
          .Visible(false)
          .Modal(false)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
    }"))
          )
</div>
<div id="modelWindowLabourDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowLabourDetail")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(false)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
    }"))
    )
</div>
@ODMSHelpers.LinkButton("btnRefresh",MessageResource.Global_Display_Refresh, "", "", "", CommonValues.PermissionCodes.PDIInvoiceList.PDIInvoiceListIndex)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PDIInvoiceListModel>()
          .Name("InvoiceGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.RefNo).Width(150).ClientTemplate("#=DisplayDetails(RefNo)#").Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIInvoiceList.PDIInvoiceListIndex));
              columns.Bound(p => p.TotalLabourPrice).Format("{0:N2}").Width(100).ClientTemplate("#=DisplayLabourDetails(RefNo, TotalLabourPrice)#").Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIInvoiceList.PDIInvoiceListIndex));
              columns.Bound(p => p.TotalPartPrice).Format("{0:N2}").Width(100).ClientTemplate("#=DisplayPartDetails(RefNo, TotalPartPrice)#").Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PDIInvoiceList.PDIInvoiceListIndex));
              columns.Bound(p => p.Type).Width(100);
              columns.Bound(p => p.OperationDateTime).Format(UserManager.LanguageCode == "TR" ? "{0:dd/MM/yyyy}" : "{0:dd.MM.yyyy}").Width(100);
              columns.Bound(p => p.TotalMaintenancePrice).Format("{0:N2}").Width(200).HtmlAttributes(new { @style = "text-align:right" });
              columns.Bound(p => p.TotalPDIPrice).Format("{0:N2}").Width(200).HtmlAttributes(new { @style = "text-align:right" });
              columns.Bound(p => p.VehicleGroupCode).Width(100);
          })
          .Pageable()
          .Sortable()
          .Scrollable()

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPDIInvoices", "PDIInvoiceList", Model).Data("InvoiceListSearch"))
                                        .Model(model => model.Field(o => o.RefNo).DefaultValue(-1)))

          )
</div>

