@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.Dealer.DealerViewModel
 @{   HtmlHelper.ClientValidationEnabled = false; }


<link href="~/Style/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/custom.js"></script>


<div class="labelDiv">@Html.LabelFor(v => v.SSID)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.SSID) @Html.ValidationMessageFor(v => v.SSID) </div>
<div class="labelDiv">@Html.LabelFor(v => v.BranchSSID)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.BranchSSID) @Html.ValidationMessageFor(v => v.BranchSSID) </div>


<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DealerRegionId)</div>
<div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(c => c.DealerRegionId).BindTo(ViewBag.DealerRegionList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.DealerRegionId)
</div>

<div class="labelDiv">@Html.LabelFor(v => v.PurchaseOrderGroupId)</div>
<div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(c => c.PurchaseOrderGroupId).BindTo(ViewBag.PurchaseOrderGroupList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Events(e=>e.Change("PurchaseOrderGroupSelected"))
    @Html.ValidationMessageFor(v => v.PurchaseOrderGroupId)
</div>
<div class="clearDiv">&nbsp;</div>
<div id="divSaleOrder" hidden="hidden">
    <div class="labelDiv">@Html.LabelFor(c => c.IsSaleDealer)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBoxFor(v => v.IsSaleDealer)</label>  </div>
</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.ShortName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.ShortName) @Html.ValidationMessageFor(v => v.ShortName) </div>
<div class="labelDiv">@Html.LabelFor(c => c.Name)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.Name) @Html.ValidationMessageFor(v => v.Name) </div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.Address1)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.Address1) @Html.ValidationMessageFor(v => v.Address1) </div>
<div class="labelDiv">@Html.LabelFor(c => c.Address2) @Html.ValidationMessageFor(v => v.Address2)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.Address2) </div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(c => c.Country)</div>
<div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(c => c.Country).BindTo(ViewBag.CountryList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).SelectedIndex(((List<SelectListItem>)ViewBag.CountryList).FindIndex(c => c.Value == "1")) @Html.ValidationMessageFor(v => v.Country)
</div>
<div class="labelDiv">@Html.LabelFor(c => c.City)</div>
<div class="shortTxtDiv ">
    @Html.Kendo().DropDownListFor(c => c.City).DataValueField("Value").DataTextField("Text").OptionLabel(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCities", "Dealer")
        .Data("GetCountryId"))
        .ServerFiltering(true)).Enable(true).AutoBind(true).HtmlAttributes(new { style = "width:200px" }) @Html.ValidationMessageFor(v => v.City)
    </div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.ForeignCity) @Html.ValidationMessageFor(v => v.ForeignCity)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.Town)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.Town).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListTowns", "Dealer")
        .Data("GetCityId"))
        .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("City") @Html.ValidationMessageFor(v => v.Town)
    </div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(v => v.ForeignTown) @Html.ValidationMessageFor(v => v.ForeignTown)
    </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Phone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Phone) @Html.ValidationMessageFor(v => v.Phone) </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.MobilePhone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MobilePhone) @Html.ValidationMessageFor(v => v.MobilePhone) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Fax)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Fax) @Html.ValidationMessageFor(v => v.Fax) </div>
    <div class="clearDiv">&nbsp;</div>


    <div class="labelDiv">@Html.LabelFor(c => c.ContactNameSurname)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactNameSurname) @Html.ValidationMessageFor(v => v.ContactNameSurname) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.ContactEmail)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactEmail) @Html.ValidationMessageFor(v => v.ContactEmail) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.TaxNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxNo) @Html.ValidationMessageFor(v => v.TaxNo) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.TaxOffice)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxOffice) @Html.ValidationMessageFor(v => v.TaxOffice) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.CustomerGroupLookVal)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.CustomerGroupLookVal).BindTo(ViewBag.CustomerGroupLookValList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.CustomerGroupLookVal)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.DealerClassCode)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.DealerClassCode).BindTo(ViewBag.DealerClassList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.DealerClassCode)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.WorkshopPlanType)</div>
    <div class="shortTxtDiv">
        @Html.RadioButtonFor(c => c.WorkshopPlanType, "Basic", new { id = "WorkshopPlanType_Basic", @checked = "checked" }) @Html.LabelFor(c => c.WorkshopPlanType, MessageResource.Dealer_WorkshopPlanType_Basic, new { @for = "WorkshopPlanType_Basic" })
        <span style="padding-right: 15px;"></span>
        @Html.RadioButtonFor(c => c.WorkshopPlanType, "Advanced", new { id = "WorkshopPlanType_Advanced" }) @Html.LabelFor(c => c.WorkshopPlanType, MessageResource.Dealer_WorkshopPlanType_Advanced, new { @for = "WorkshopPlanType_Advanced" })
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.HasTs12047Certificate)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBoxFor(v => v.HasTs12047Certificate)</label>  </div>
    <div class="labelDiv"><label style="width:200px">@Html.LabelFor(c => c.Ts12047CertificateDate)</label></div>

    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.Ts12047CertificateDate).Format("dd/MM/yyyy").ParseFormats(new string[] { "dd.MM.yyyy" }).Min(DateTime.Now.AddDays(1)).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.Ts12047CertificateDate) </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.ClaimRatio)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(v => v.ClaimRatio).Spinners(false).Decimals(7).HtmlAttributes(new { type = "text", style = "width:204px", maxlength = 9 }) @Html.ValidationMessageFor(c => c.ClaimRatio) </div>


    <div class="labelDiv">@Html.LabelFor(v => v.SaleChannelCode)</div>
    <div class="shortTxtDiv">
        <label style="width:200px">
            @Html.Kendo().ComboBoxFor(c => c.SaleChannelCode).BindTo(ViewBag.DealerSaleChannels as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.SaleChannelCode)
        </label>
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.HasServiceResponsibilityInsurance)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBoxFor(v => v.HasServiceResponsibilityInsurance)</label>  </div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActive)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBox("IsActive", Model == null || Model.IsActive)</label>  </div>


    <div class="clearDiv">&nbsp;</div>
    @if (!ODMSCommon.Security.UserManager.UserInfo.IsDealer)
    {
        <div class="labelDiv">@Html.LabelFor(c => c.AutoMrp)</div>
        <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBoxFor(v => v.AutoMrp)</label>  </div>
    }
    else
    {
        <div class="labelDiv">@Html.LabelFor(c => c.AutoMrp)</div>
        <div class="shortTxtDiv"><label style="width:200px">@Html.DisplayFor(v => v.AutoMrp)</label>  </div>
    }

    <div class="labelDiv">@Html.LabelFor(c => c.LastMrpDate)</div>
    <div class="shortTxtDiv"> <label style="width:200px">@Html.DisplayFor(v => v.LastMrpDate)</label>  </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.AcceptOrderProposal)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.CheckBoxFor(v => v.AcceptOrderProposal)</label>  </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.Latitude)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.TextBoxFor(v => v.Latitude, new { @class = "latitude"})</label>  </div>


    <div class="labelDiv">@Html.LabelFor(c => c.Longitude)</div>
    <div class="shortTxtDiv"><label style="width:200px">@Html.TextBoxFor(v => v.Longitude, new { @class = "longitude"})</label>  </div>


    <div class="clearDiv">&nbsp;</div>
   
    <div class="shortTxtDiv">
        <div id="us4" style="width: 900px; height: 400px;"></div>
    </div>

    <div class="clearDiv">&nbsp;</div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyD-cmnXHeFtHz-owih5NxYHV66k1kG7vNQ&sensor=false&libraries=places'></script>
    <script src="@Url.Content("~/Scripts/locationpicker.jquery.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            PurchaseOrderGroupSelected();

            $('#us4').locationpicker({
                location: {
                    latitude: @Model.Latitude.ToString().Replace(",","."),
                    longitude:  @Model.Longitude.ToString().Replace(",", ".")
                    },
                radius: 0,
                inputBinding: {
                    latitudeInput: $('.latitude'),
                    longitudeInput: $('.longitude')
                }
            });
        });
    </script>
    <script type="text/javascript">
        function PurchaseOrderGroupSelected()
        {            
            $("#divSaleOrder").hide();  
            // servis-merkez, servis-otokar ise seçim açılır
            if($('#PurchaseOrderGroupId').val() == 11 || $('#PurchaseOrderGroupId').val() == 8)
            {
                $("#divSaleOrder").show(); 
                $("#divSaleOrder :input").attr("disabled", false); 
            }
            // araç satış bayi ise seçim açılır ve değiştirilemez olarak gelir
            if($('#PurchaseOrderGroupId').val() == 12)
            {                
                $("#divSaleOrder").show();  
                document.getElementById("IsSaleDealer").checked = true;
                $("#divSaleOrder :input").attr("disabled", true); 
            }
            //  bayi ise görünmüyor ve seçilemiyor
            if($('#PurchaseOrderGroupId').val() == 7)
            {
                $("#divSaleOrder").hide();    
            }
        }
        function GetCountryId() {
            return {
                id: $('#Country').val()
            };
        }
        function GetCityId() {
            return {
                id: $('#City').val()
            };
        }

        function CheckCountry() {

            if ($("#Country").val() == 1) {
                $("#ForeignCity").val(null);
                $("#ForeignTown").val(null);

                $("#ForeignCity").parent().hide();
                $("#ForeignTown").parent().hide();

                var cityCombo = $("#City").data("kendoDropDownList");
                cityCombo.enable(true);

                $("#City").closest('.shortTxtDiv').show();
                $("#Town").closest('.shortTxtDiv').show();
            } else {
                $("#City").val(null);
                $("Town").val(null);

                $("#ForeignCity").parent().show();
                $("#ForeignTown").parent().show();

                var cityCombo = $("#City").data("kendoDropDownList");
                cityCombo.enable(false);

                $("#City").closest('.shortTxtDiv').hide();
                $("#Town").closest('.shortTxtDiv').hide();
            }
        }

        function CheckPhoneMask() {
            if ($("#Country").val() == 1) {
                $("#Phone,#Fax,#MobilePhone").mask("(999) 999 99 99", { placeholder: " " });
            }
            else {
                $("#Phone,#Fax,#MobilePhone").unmask();
            }
        }


        $("#Country").on('change', function () {
            CheckCountry();
        });

        $(document).ready(function () {

            CheckCountry();
            $('form').each(function () {
                var validator = $(this).data('validator');
                if (validator && validator.settings) {
                    validator.settings.ignore = "";
                }
            });

        });

    </script>
