@{
    ViewBag.Title = MessageResource.Dealer_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@using ODMSCommon.Resources
@using ODMSModel.Dealer
@model DealerViewModel
@using (Html.BeginForm("DealerDelete", "Dealer", FormMethod.Post))
{
     if(!(bool)ViewBag.HideFormElements)
     {
         Html.RenderPartial("_DealerView", Model);
         <input type="hidden" name="DealerId" id="DealerId" value="@Model.DealerId"/>

         @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), CommonValues.PermissionCodes.Dealer.DealerDelete, "DealerDelete","","delete-button")
     }
}
<script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">@MessageResource.Global_Display_DeleteConfirmQuestion</p>
    <p style="text-align:right">
    <button class="delete-confirm k-button">@MessageResource.Global_Display_Yes</button>
    <button class="delete-cancel k-button">@MessageResource.Global_Display_No</button></p>
</script>

<script type="text/javascript">
    function DeleteConfirm() {
        var confirm = false;
        var kendoWindow = $("<div />").kendoWindow({
            title: "@MessageResource.Gloabl_Display_DeleteConfirmTitle",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#delete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                    confirm = true;
                    $('form').submit();
                }
                kendoWindow.data("kendoWindow").close();
            })
            .end();
        return confirm;
    }

</script>