@using ODMSCommon.Resources
@{
    ViewBag.Title = MessageResource.DealerVehicleGroups_PageTitle_Delete;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContent{width:500px !important;}
    #popupContentWrapper{ min-height: 250px !important;}
</style>
@model ODMSModel.DealerVehicleGroup.DealerVehicleGroupViewModel
 
<link href="~/Style/bootstrap.css" rel="stylesheet" />
@if ((bool) ViewBag.HideElements==false)
{
 using (Html.BeginForm("DeleteDealerVehicleGroups", "Dealer", FormMethod.Post))
 {
     @Html.HiddenFor(c => c.VehicleGroupId)
     @Html.HiddenFor(c => c.DealerId)
     @Html.AntiForgeryToken()
     <div class="labelDiv">@MessageResource.Dealer_Display_Name</div>
     <div class="shortTxtDiv">@Model.DealerName</div>
     <div class="clearDiv">&nbsp;</div>
     <div class="labelDiv">@MessageResource.VehicleGroup_Display_Name</div>
     <div class="shortTxtDiv">@Model.VehicleGroupName</div>
     <div class="clearDiv">&nbsp;</div>
     <div class="labelDiv">@MessageResource.Global_Display_IsActive</div>
     <div class="shortTxtDiv">@Model.IsActiveString</div>
     <div class="clearDiv">&nbsp;</div>
     @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), CommonValues.PermissionCodes.DealerVehicleGroups.DealerVehicleGroupDelete, "DeleteDealerVehicleGroups", "return DeleteDealerVehicleGroups();", "delete-button")
 }
}
<div class="clearDiv">&nbsp;</div>

