@model ODMSModel.SparePartAssemble.SparePartAssembleIndexViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
    ViewBag.Title = ODMSCommon.Resources.MessageResource.SparePartAssemble_PageTitle_Create;
}


@using (Html.BeginForm("SparePartAssembleCreate", "SparePartAssemble", FormMethod.Post))
{

    <div class="labelDiv">@Html.LabelFor(v => v.PartCode) </div>
    <div class="shortTxtDiv">
        @{
            Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new {SearchType = "SparePart1", ControlId = "IdPart", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = ""});
        }
        @Html.ValidationMessageFor(v => v.IdPart)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.Label(ODMSCommon.Resources.MessageResource.SparePartAssemble_Display_PartCodeAssemble)</div>
    <div class="shortTxtDiv">
        @{
            Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart2", ControlId = "IdPartAssemble", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });
        }
        @Html.ValidationMessageFor(v => v.IdPartAssemble)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.Quantity).Decimals(2).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", style = "width:204px"})
        @Html.ValidationMessageFor(v => v.Quantity) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>

    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.SparePartAssemble.SparePartAssembleCreate, "SparePartAssembleCreate")

}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

</script>


