@using ODMS.Security
@using ODMSCommon.Resources

@model ODMSModel.SparePartSplitting.SparePartSplittingListModel

@{
    ViewBag.Title = MessageResource.SparePartAssemble_PageTitle_Index;
}

@Html.AntiForgeryToken()
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(d => d.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartCode) </div>

        <div class="labelDiv">@Html.LabelFor(d => d.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartName) </div>
    </div>
</div>


        @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.SparePartAssemble.SparePartAssembleIndex)

<br />


<script type="text/javascript">
    $(document).ready(function() {
        $("#searchDiv").show();
        $("body").delegate("#btnSearch", "click", function(e) {
            var grid = $('#SparePartSplittingGrid').data('kendoGrid');
            grid.dataSource.page(1);
        });
    });

    function ChangeStatus(partId, usable) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeSplitPartUsage")", 
            data: { partId,usable },
        traditional: true,
        success: function (result) {
            if (result.Status == 0)
                SetErrorMessage(result.Message);
            else {
                SetSuccessMessage(result.Message);
            }
            var grid = $('#SparePartSplittingGrid').data('kendoGrid');
            grid.dataSource.read();
        },
        dataType: "json"
    });
    }


    function SparePartSplittingSearch() {
        return {
            PartName: $('#PartName').val(),
            PartCode: $('#PartCode').val()
        };
    }

    function onDataBound() {
        var grid = $("#SparePartSplittingGrid").data("kendoGrid");
        var data = grid.dataSource.data();
        var partCode = $("#PartCode").val();
        var color = "";
        var item;
        var groupId;
        var oldRow;
        //if (partCode) {
        $.each(data, function (i, row) {
            //1300
            if (partCode == row.OldPartCode || partCode == row.NewPartCode) {
                $('tr[data-uid="' + row.uid + '"]').css("color", "green");
            }
            if (parseInt(row.RankNo) == 1) {
                color = $('tr[data-uid="' + oldRow + '"]').css("background-color");
                if (color == "rgb(224, 224, 224)") {
                    $('tr[data-uid="' + row.uid + '"]').css("background-color", "white");
                } else {
                    $('tr[data-uid="' + row.uid + '"]').css("background-color", "#e0e0e0");
                }
            } else {
                color = $('tr[data-uid="' + oldRow + '"]').css("background-color");
                $('tr[data-uid="' + row.uid + '"]').css("background-color", color);
            }
            
            oldRow = row.uid;
        });
        //}
    }
</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.SparePartSplitting.SparePartSplittingListModel>()
          .Name("SparePartSplittingGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.GroupId).Sortable(false);
              columns.Bound(p => p.RankNo).Sortable(false);
              columns.Bound(p => p.OldPartCode).Sortable(false);
              columns.Bound(p => p.OldPartName).Sortable(false);
              columns.Bound(p => p.CounterNo).Sortable(false);
              columns.Bound(p => p.NewPartCode).Sortable(false);
              columns.Bound(p => p.NewPartName).Sortable(false);
              columns.Bound(p => p.Quantity).Sortable(false);
              columns.Bound(p => p.Usable).Sortable(false);
              columns.Bound(p => p.Status).Sortable(false);
              columns.Bound(p => p.WarrantyUsable).ClientTemplate("#if(WarrantyUsable){#"+MessageResource.Global_Display_Yes+"#}else{#"+ MessageResource.Global_Display_No+"#}#").Sortable(false);
              columns.Bound(p => p.WarrantyUsable).ClientTemplate("#if(WarrantyUsable){# <a style=\"font-size:18px; cursor:pointer\" class=\"text-success\" onclick=\"ChangeStatus(#=OldPartId#,#=!WarrantyUsable#)\"><i class=\"fa fa-check-circle\"></i></a>#}else{# <a class=\"text-danger\" style=\"font-size:18px; cursor:pointer\" onclick=\"ChangeStatus(#=OldPartId#,#=!WarrantyUsable#)\"><i class=\"fa fa-times-circle\"></i></a> #}#").Title(MessageResource.Global_Display_Update).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartAssemble.ChangeSplitPartUsage)).HtmlAttributes(new {style="text-align:center"});
              columns.Bound(p => p.WarrantyUsableChange).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartAssemble.ChangeSplitPartUsage));

          })
          .Pageable()
          .Sortable()
          .Scrollable()
          //.Events(e=>e.DataBound("onDataBound"))
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(30)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListSparePartSplitting", "SparePartAssemble", Model).Data("SparePartSplittingSearch"))
                                        .Model(model => model.Field(o => o.GroupId).DefaultValue(-1)))

          )
</div>


