@using ODMSCommon.Resources
@model ODMSModel.DealerRegionResponsible.DealerRegionResponsibleDetailModel
@{
    ViewBag.Title = MessageResource.DealerRegionResponsible_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("DealerRegionResponsibleCreate", "DealerRegionResponsible", FormMethod.Post))
{
    <div id="tagDealerRegionDiv" class="labelDiv" style="position: absolute; margin-top: 10px; width: 120px">@Html.LabelFor(d => d.DealerRegionId)</div>
    <div id="cmbDealerRegionDiv" style="position: absolute; margin-top: 10px; margin-left: 120px;">
        @(Html.Kendo().ComboBox()
              .Name("DealerRegionId")
              .Placeholder(@MessageResource.Global_Display_SelectDealerRegion)
              .BindTo(ViewBag.DealerRegionList)
              .DataTextField("Text")
              .DataValueField("Value")
              .HtmlAttributes(new { @class = "ComboBox", @style = "width: 200px;" })
              )
        
        @Html.ValidationMessageFor(d => d.DealerRegionIdString)
    </div>
    
    <div id="tagUserDiv" class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.LabelFor(d => d.UserId)</div>
    <div id="cmbUserDiv" style="position: absolute; margin-top: 40px; margin-left: 120px;">
        @(Html.Kendo().ComboBox()
              .Name("UserId")
              .Placeholder(@MessageResource.WorkshopWorker_Display_SelectWorker)
              .BindTo(ViewBag.UserList)
              .DataTextField("Text")
              .DataValueField("Value")
              .HtmlAttributes(new { @class = "ComboBox", @style = "width: 200px;" })
              )
        @Html.ValidationMessageFor(d => d.UserIdString)
    </div>
        
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.DealerRegionResponsible.DealerRegionResponsibleCreate, "DealerRegionResponsibleCreate")
}

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();

        if ($('#DealerRegionId').val() == 0) {
            $('#DealerRegionId').data('kendoComboBox').text('');
            $('#UserId').data('kendoComboBox').text('');
        }
    });

    function adjustPage() {
        $("#popupContent").css("width", 370);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 380);
    }

    function adjustControlPositions() {
        $("#Create").css("margin-top", "70px");
        $("#Create").css("width", "75px");
    }
</script>
