@using ODMSCommon.Resources
@model ODMSModel.DealerRegionResponsible.DealerRegionResponsibleDetailModel
@{
    ViewBag.Title = MessageResource.DealerRegionResponsible_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("DealerRegionResponsibleDetails", "DealerRegionResponsible", FormMethod.Post))
{
    <div class="labelDiv" style="position: absolute; margin-top: 10px; width: 120px">@Html.LabelFor(d => d.DealerRegionName)&nbsp;</div>
    <div style="position: absolute; margin-top: 10px; margin-left: 120px;">@Html.DisplayFor(d => d.DealerRegionName)&nbsp;</div>
    
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 120px">@Html.LabelFor(d => d.Name)&nbsp;</div>
    <div style="position: absolute; margin-top: 40px; margin-left: 120px;">@Html.DisplayFor(d => d.Name)&nbsp;</div>
    
    <div class="labelDiv" style="position: absolute; margin-top: 70px; width: 120px">@Html.LabelFor(d => d.Surname)&nbsp;</div>
    <div style="position: absolute; margin-top: 70px; margin-left: 120px;">@Html.DisplayFor(d => d.Surname)&nbsp;</div>
    
    <div class="labelDiv" style="width: 120px; margin-top: 100px;">@Html.LabelFor(d => d.Phone)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 120px; margin-top: 100px; width: 250px">@Html.DisplayFor(b => b.Phone)&nbsp;</div>
    
    <div class="labelDiv" style="position: absolute; width: 120px; margin-top: 130px;">@Html.LabelFor(d => d.Email)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 130px; margin-left: 120px; width: 110px">@Html.DisplayFor(d => d.Email)&nbsp;</div>
}

<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 370);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 380);
    }
</script>
