@model ODMSModel.Maintenance.MaintenanceViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Maintenance_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("MaintenanceDelete", "Maintenance", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
        <div class="labelDiv">@Html.LabelFor(v => v.MaintTypeName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.MaintTypeName)</div>
        <div id="divMonth">
            <div class="labelDiv">@Html.LabelFor(v => v.MaintMonth)</div>
            <div class="shortTxtDiv">@Html.DisplayFor(v => v.MaintMonth)</div>
        </div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.VehicleTypeId)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleTypeName)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.MaintName)</div>
        <div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new {DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false}); }</div>

        <div class="labelDiv">@Html.LabelFor(v => v.MaintKM)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.MaintKM)</div>

        <div class="clearDiv">&nbsp;</div>


        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc)</div>


        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive)</div>

        <div class="clearDiv">&nbsp;</div>
        @Html.HiddenFor(d => d.MaintId)

        @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), CommonValues.PermissionCodes.Maintenance.MaintenanceDelete, "MaintenanceDelete")
    }
}
