@using ODMSCommon.Resources
@using ODMSModel.Common
@using ODMSModel.Maintenance
@model MaintenanceViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Maintenance_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch1" class="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <div id="searchDiv1" class="searchDiv">
                <div id="searchFields1">

                    <div class="labelDiv">@Html.LabelFor(v => v.MainCategoryId)</div>
                    <div class="shortTxtDiv"><div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MainCategoryId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.MainCategoryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div> @Html.ValidationMessageFor(v => v.MainCategoryId)
                    </div>
                    <div class="labelDiv">@Html.LabelFor(v => v.MaintTypeName)</div>
                    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MaintTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.MTSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

                    <div class="clearDiv">&nbsp;</div>

                    <div class="labelDiv">@Html.LabelFor(c => c.CategoryId)</div>
                    <div class="shortTxtDiv">
                        @Html.Kendo().ComboBoxFor(c => c.CategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCategories", "Maintenance")
                                     .Data("GetMainCategoryId")
                                     .Type(HttpVerbs.Post)
                                     )
                                     .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("MainCategoryId") @Html.ValidationMessageFor(v => v.CategoryId)
                                </div>
                                <div class="labelDiv">@Html.LabelFor(v => v.VehicleTypeName)</div>
                                <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VTSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

                                <div class="clearDiv">&nbsp;</div>

                                <div class="labelDiv">@Html.LabelFor(c => c.SubCategoryId)</div>
                                <div class="shortTxtDiv">
                                    @Html.Kendo().ComboBoxFor(c => c.SubCategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListSubCategories", "Maintenance")
                                     .Data("GetCategoryId")
                                     .Type(HttpVerbs.Post))
                                     .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("CategoryId") @Html.ValidationMessageFor(v => v.SubCategoryId)
                                </div>
                                <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
                                <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).SelectedIndex(0).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

                                <div class="clearDiv">&nbsp;</div>

                                <div class="labelDiv">@Html.LabelFor(c => c.FailureCodeId)</div>
                                <div class="shortTxtDiv">
                                    @(Html.Kendo().ComboBox().Name("FailureCodeId").DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.FailureCodeList as List<ComboBoxModel>)
                                    )
                                </div>
                                <div class="labelDiv">@Html.LabelFor(v => v.MaintNameSearch)</div>
                                <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MaintNameSearch, null, new { maxlength = 50 })</div>

                                <div class="clearDiv">&nbsp;</div>
                                <div class="labelDiv">@Html.LabelFor(v => v.EngineType)</div>
                                <div class="shortTxtDiv">@Html.TextBoxFor(v => v.EngineType, null, new { maxlength = 30 })</div>
                            </div>
                        </div>

                        <button class="k-button" id="btnReset" onclick="ResetSearchTop();"><i class=" glyphicon glyphicon-remove"></i>@MessageResource.Global_Display_Clear</button>
                        @ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", ODMSCommon.CommonValues.PermissionCodes.Maintenance.MaintenanceIndex)
                        @ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickMaintenance createNewMaint", CommonUtility.GetResourceValue("Maintenance_PageTitle_Create"), ODMSCommon.CommonValues.PermissionCodes.Maintenance.MaintenanceCreate)

                        <br />
                        <div id="modelWindowDiv">
                            @(Html.Kendo().Window()
        .Name("modelWindowMaint")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(450)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#MaintenanceGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
                            )
                        </div>
                        @if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Maintenance.MaintenanceIndexExcelExport))
                        {
                            <br />
                            @Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
                        }
                    </div>
                    <div class="col-md-3" style="">
                        <div style="border:1px dashed #808080;">
                            <h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
                            <div class="labelDiv" style="width:80px;float:left;">@MessageResource.Global_Display_SampleFile </div>
                            <div>
                                <a class="k-link2" href="@Url.Action("ExcelSample")">
                                    <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
                                </a>
                                <br />
                                @using (Html.BeginForm("MaintenanceIndex", "Maintenance", FormMethod.Post, new { id = "frmPeriodicUpload", enctype = "multipart/form-data" }))
                                {
                                    @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
                                    <div id="divExcepUpload">
                                        @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="kendoGridDiv" id="grd">
                @(Html.Kendo().Grid<MaintenanceListModel>()
          .Name("MaintenanceGrid")
          .Columns(columns =>
          {

              columns.Bound(p => p.MaintId).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(#=MaintId#)' id='#=MaintId#'><img class=iconLink src='" + Url.Content("~/Images/tabs.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Maintenance.MaintenanceDetails));
              columns.Bound(p => p.MaintId).ClientTemplate("<center><a class='details modalClickMaintenance' id='#=MaintId#' frameTitle='" + @CommonUtility.GetResourceValue("Maintenance_PageTitle_Details") + "' href='/Maintenance/MaintenanceDetails/#=MaintId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Maintenance.MaintenanceDetails));
              columns.Bound(p => p.MaintId).ClientTemplate("<center><a class='edit modalClickMaintenance' id='#=MaintId#' frameTitle='" + @CommonUtility.GetResourceValue("Maintenance_PageTitle_Update") + "' href='/Maintenance/MaintenanceUpdate/#=MaintId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Maintenance.MaintenanceUpdate));
              columns.Bound(o => o.MaintId).ClientTemplate("<center><a onclick='DeleteMaintenance(#=MaintId#)' href='javascript:void(0);' id='#=MaintId#' frameTitle='" + @CommonUtility.GetResourceValue("Maintenance_PageTitle_Delete") + "' ><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Maintenance.MaintenanceDelete));
              columns.Bound(p => p.MaintId).Width(60).Sortable(true).Title(CommonUtility.GetResourceValue("Maintenance_Display_ID"));
              columns.Bound(p => p.MaintName).Width(80).Sortable(true);
              columns.Bound(p => p.VehicleModel).Width(80).Sortable(true);
              columns.Bound(p => p.VehicleTypeName).Width(80).Sortable(true);
              columns.Bound(p => p.EngineType).Width(80).Sortable(true);
              columns.Bound(p => p.MaintTypeName).Width(80).Sortable(true);
              columns.Bound(p => p.MaintKM).Width(50).Sortable(true);
              columns.Bound(p => p.MaintMonth).Width(60).Sortable(true);
              columns.Bound(p => p.MainCategoryName).Width(100).Sortable(true);
              columns.Bound(p => p.CategoryName).Width(100).Sortable(true);
              columns.Bound(p => p.SubCategoryName).Width(100).Sortable(true);
              columns.Bound(p => p.FailureCode).Width(50).Sortable(true);
              columns.Bound(p => p.IsActiveS).Width(50).Sortable(true);

          })
          .Pageable()
          .Sortable()
          .Scrollable()

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListMaintenance", "Maintenance", Model).Data("GetParameters"))
                                        .Model(model => model.Field(o => o.MaintId).DefaultValue(-1)))

                )
            </div>
            <div id="divDetails" style="display: none">
                @(Html.Kendo().TabStrip()
          .Name("MaintenanceDetails")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.MaintenancePart_PageTitle_Index).LoadContentFrom(Url.Action("MaintenancePartIndex", "MaintenancePart")).Selected(true))
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.MaintenanceLabour_PageTitle_Index).LoadContentFrom(Url.Action("MaintenanceLabourIndex", "MaintenanceLabour"))))
            </div>

            <script type="text/javascript">

                function GetMainCategoryId() {
                    return {
                        id: $('#MainCategoryId').val()
                    };
                }
                function GetCategoryId() {
                    return {
                        id: $('#CategoryId').val()
                    };
                }
                function loadTabs(maintId) {

                    var tabStrip = $('#MaintenanceDetails').kendoTabStrip().data("kendoTabStrip");

                    var maintPartTab = tabStrip.contentElements[0];
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("MaintenancePartIndex", "MaintenancePart")',
                        data: { id: maintId },
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            $(maintPartTab).html(result);
                        },
                        error: function (request, status, err) {
                            //////console.log(arguments);
                            alert(status);
                            alert(err);
                        },
                        dataType: "html"
                    });

                    var tabStrip = $('#MaintenanceDetails').kendoTabStrip().data("kendoTabStrip");

                    var maintLabourTab = tabStrip.contentElements[1];
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("MaintenanceLabourIndex", "MaintenanceLabour")',
                        data: { id: maintId },
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            $(maintLabourTab).html(result);
                        },
                        error: function (request, status, err) {
                            //////console.log(arguments);
                            alert(status);
                            alert(err);
                        },
                        dataType: "html"
                    });
                    $('#divDetails').show();

                }

                //bakım paketleri ajax ile yüklenmesi
                $('#frmPeriodicUpload').submit(function (event) {
                    event.preventDefault();
                    var formdata = new FormData($('#frmPeriodicUpload').get(0));
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("MaintenanceIndex", "Maintenance")',
                        data: formdata,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $('html, body').animate({ scrollTop: (0) }, 1000);
                            if (response.Success) {
                                SetSuccessMessage(response.Message);
                                $('#modelWindowMaint').data('kendoGrid').dataSource.read();
                            }
                            else {
                                SetErrorMessageWithFile(response.Message, response.FileId);
                            }
                        }
                    });
                });

                function GetParameters() {
                    $('#divDetails').hide();
                    return {
                        MaintTypeId: $("#MaintTypeId").val(),
                        VehicleTypeId: $("#VehicleTypeId").val(),
                        IsActiveSearch: $("#IsActiveSearch").val(),
                        MainCategoryId: $("#MainCategoryId").val(),
                        SubCategoryId: $("#SubCategoryId").val(),
                        MaintNameSearch: $("#MaintNameSearch").val(),
                        EngineType: $("#EngineType").val(),
                        CategoryId: $("#CategoryId").val(),
                        FailureCodeId: $("#FailureCodeId").val(),
                        ReportType: 18,
                        Columns: "MaintId,MaintName,VehicleModel,VehicleTypeName,EngineType,MaintTypeName,MaintKM,MaintMonth,MainCategoryName,CategoryName,SubCategoryName,FailureCode,IsActiveS"
                    };
                }
                function ResetSearchTop() {
                    $("#MaintTypeId").data('kendoComboBox').value(null);
                    $("#VehicleTypeId").data('kendoComboBox').value(null);
                    $("#IsActiveSearch").data('kendoComboBox').value(null);
                    $("#MainCategoryId").data('kendoComboBox').value(null);
                    $("#SubCategoryId").data('kendoComboBox').value(null);
                    $("#MaintNameSearch").val('');
                    $("#EngineType").val('');
                    $("#CategoryId").data('kendoComboBox').value(null);
                    $("#FailureCodeId").data('kendoComboBox').value(null);
                    $('#divDetails').hide();
                }
                $(document).ready(function () {
                    $("body").delegate("#btnSearch", "click", function (e) {
                        var grid = $('#MaintenanceGrid').data('kendoGrid');
                        grid.dataSource.page(1);

                    });
                    $("body").delegate("#showSearch1", "click", function (e) {
                        var IsVisible = Boolean($(this).hasClass("searchVisible"));

                        if (!IsVisible) {
                            $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                            $(this).addClass("searchVisible");
                            $("#searchDiv1").show("slow");
                        }
                        else {
                            $(this).html('@MessageResource.Global_Display_Search_Criteria');
                            $(this).removeClass("searchVisible");
                            $("#searchDiv1").hide("slow");
                        }
                    });
                    $("body").delegate(".modalClickMaintenance", "click", function (e) {
                        $('#modelWindowMaint').html('');
                        e.preventDefault();

                        var link;
                        var clickedId = $(this).attr("id");
                        var frameTitle = $(this).attr("frameTitle");
                        if ($(this).hasClass("edit")) {
                            link = "@Url.Action("MaintenanceUpdate", "Maintenance", new { id = -1 })";
                            link = link.replace("-1", clickedId);
                        }
                        else if ($(this).hasClass("createNewMaint")) {
                            link = "@Url.Action("MaintenanceCreate", "Maintenance")";
                        }
                        if ($(this).hasClass("details") == true) {
                            link = "@Url.Action("MaintenanceDetails", "Maintenance", new { id = -1 })";
                            link = link.replace("-1", clickedId);
                        }
                        $("#modelWindowMaint_wnd_title").html(frameTitle);

                        var windowWidget = $("#modelWindowMaint").data("kendoWindow");

                        windowWidget.refresh({
                            url: link
                        }).center();
                        windowWidget.center();
                        windowWidget.open();

                    });

                });
                function DeleteMaintenance(maintId) {
                    var token = $('input[name="__RequestVerificationToken"]').val();

                    DeleteConfirm(function () {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("MaintenanceDelete", "Maintenance")",
                            data: { maintId: maintId, "__RequestVerificationToken": token },
                            traditional: true,
                            success: function (result) {
                                if (result.Status == 0)
                                    SetErrorMessage(result.Message);
                                else {
                                    var grid = $('#MaintenanceGrid').data('kendoGrid');
                                    grid.dataSource.read();
                                    SetSuccessMessage(result.Message);
                                }
                            },
                            dataType: "json"
                        });
                    });
                }
            </script>
