@using ODMSCommon.Resources
@model ODMSModel.AppointmentDetailsParts.AppointmentDetailsPartsViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    .special input[type=text] {
        width: 250px !important;
    }

    #popupContentWrapper {
        min-height: 200px !important;
    }

    #popupContent {
        width: 620px !important;
    }
</style>

@using (Html.BeginForm("AddWorkOrderPart", "WorkOrderCard", FormMethod.Post, new { id = "AddWorkOrderPart" }))
{
    <div class="labelDiv" style="width: 200px;">@MessageResource.WorkOrderCard_BarkodRead</div>
    <div class="shortTxtDiv special">
        <input type="checkbox" id="chkIsManuel" />
        <input type="hidden" id="IsManuel" name="IsManuel" value="0" />
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div id="manuelPanel">
        <div class="labelDiv">@MessageResource.OtokarPartSaleDetail_Display_PartNameCode</div>
        <div class="shortTxtDiv special">
            @(Html.Action("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = Model != null ? Model.txtPartId : "", DefaultValue = Model != null ? Model.PartId.ToString() : "", ExtraParameter = ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId() })) @Html.ValidationMessageFor(c => c.PartId)
        </div>
        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@MessageResource.Global_Display_Miktar</div>
        @Html.Kendo().NumericTextBoxFor(v => v.Quantity).Min(1).Value(1).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(c => c.Quantity)

        <div class="clearDiv">&nbsp;</div>
    </div>

    <div id="autoPanel" style="display:none;">
        <div class="labelDiv">@MessageResource.OtokarPartSaleDetail_Display_PartNameCode</div>
        <div class="shortTxtDiv special">
            <textarea id="BarcodeList" name="BarcodeList" rows="5" cols="50"></textarea>
        </div>
        <div class="clearDiv">&nbsp;</div>
    </div>

    <input type="hidden" name="Id" value="@ViewBag.WorkOrderId" />
    <input type="hidden" name="AppointIndicId" value="@ViewBag.WorkOrderDetailId" />
    <input type="hidden" name="LastLevelChecked" value="@ViewBag.LastLevelChecked.ToString()" />
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Add"), CommonValues.PermissionCodes.WorkOrderCard.WorkOrderCardUpdate, "AppointmentDetailsPartsCreate")

}
<script>

    $(document).ready(function () {
        $('#txtPartId').focus();
        setTimeout(function () { $('#txtPartId').focus() }, 3000);
        $('#txtPartId').keypress(function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode == '13') {
                alert("@Html.Raw(MessageResource.WorkOrderCard_BarkodRead_Check)");
                e.preventDefault();
            }
        });

        $("#chkIsManuel").change(function () {
            if ($('#chkIsManuel').is(':checked')) {
                $("#manuelPanel").hide();
                $("#autoPanel").show();
                $("#txtPartId").val("");
                $("#IsManuel").val("1");
                $("#BarcodeList").focus();
            }
            else {
                $("#BarcodeList").val("");
                $("#manuelPanel").show();
                $("#autoPanel").hide();
                $("#IsManuel").val("0");
                $('#txtPartId').focus();
            }
        });

        $("#Create").click(function () {
            $(".alert-danger").hide();
            $(this).attr("disabled", "disabled");
            $(this).val("@Html.Raw(MessageResource.Please_Waiting)");

            $("#AddWorkOrderPart").submit();
        });

    });
</script>

@if (ViewBag.ShowConfirmForLastLvl != null)
{
    <script>
        $(document).ready(function () {
            CustomConfirm(function () {
                $('#AddWorkOrderPart').submit();
            }, "@MessageResource.Global_Display_AddConfirmTitle", "@MessageResource.CampaignPart_Display_CreateConfirm", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
        });
    </script>

}

