@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.WorkOrderMaintenanceModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContentWrapper{ min-height: 200px !important;}
     .special input[type=text] {
        width: 250px !important;
    }
     #popupContent {
         width: 480px !important;
     }
</style>

@if (ViewBag.HideElements == false)
{
    using (Html.BeginForm("AddWorkOrderMaint", "WorkOrderCard", FormMethod.Post, new { id = "AddWorkOrderPart" }))
    {
        @Html.HiddenFor(c => c.WorkOrderId)
        @Html.HiddenFor(c => c.WorkOrderDetailId)
        @Html.HiddenFor(c => c.MaintenanceId)
        <div class="labelDiv">@MessageResource.WorkOrderCard_Display_PeriodicMeintenance </div>
        <div class="shortTxtDiv">@Model.MaintenancName</div>
        <div class="clearDiv">&nbsp;</div>
        @ODMSHelpers.Button("Add", CommonUtility.GetResourceValue("Global_Display_Add"), CommonValues.PermissionCodes.WorkOrderCard.WorkOrderCardUpdate, "")
    }
}


    