@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.AddPdiPackageModel

<div id="warning-wrap659" class="alert" style="display:none">
     <a class="close"  onclick="$('.alert').fadeOut();">&times;</a> 
    <strong></strong>
</div>
    

@using (Ajax.BeginForm("AddPdiPackage", "WorkOrderCard", new AjaxOptions { HttpMethod = "POST",OnBegin = "onBegin",OnComplete = "SetAjaxMessage33" }, new { id = "frmAddPdiPackage" }))
{
    @Html.HiddenFor(c => c.WorkOrderId)
    <div class="labelDiv">@Html.LabelFor(c => c.TransmissionSerialNo)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.TransmissionSerialNo) @Html.ValidationMessageFor(c=>c.TransmissionSerialNo)
    </div>
    <div class="labelDiv">@Html.LabelFor(c => c.DifferencialSerialNo)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.DifferencialSerialNo) @Html.ValidationMessageFor(c=>c.DifferencialSerialNo)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.PdiCheckNote)</div>
    <div class="shortTxtDiv">
        @Html.TextAreaFor(c => c.PdiCheckNote) @Html.ValidationMessageFor(c=>c.PdiCheckNote)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <button class="k-button" onclick=" HideDisplays() ">
        <i class="glyphicon glyphicon-save"></i> @MessageResource.Global_Display_Save
    </button>

}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    var errors = [];
    $(document).ready(function () {
        try {
            var settings = $('#frmAddPdiPackage').validate().settings;
            if (settings) {
                settings.wrapper = "label";
                settings.showErrors = function (errorMap, errorList) {
                    this.defaultShowErrors();
                    $(".field-validation-error").each(function (i, e) {
                        if ($("a", e).length > 0) return;
                        var html = $("label", e).text().replace("'", "").replace("'", "");
                        var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                        $(e).html(newHtml);

                        $("a", e).tooltip({ placement: "right" });
                    });
                };
            }
            $(".field-validation-error").each(function (i, k) {
                // if ($("a", e).length > 0) return;
                //console.log("k=>" + $(k).html());
                var html = $(k).html().replace("'", "").replace("'", "");
                var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                $(k).html(newHtml);

                $("a", k).tooltip({ placement: "right", html: true });
            });
        }
        catch (m) { }
    });


    function onBegin() {
        HideDisplays();
        if ($("#frmAddPdiPackage").valid() == false)
            return false;
    }
    function SetAjaxMessage33(content) {
        var json = JSON.parse(content.responseText);
        if (json.Result == false) {
            $("#warning-wrap659").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap659  strong").html(json.Message);
        } else {
            $("#warning-wrap659").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#warning-wrap659  strong").html(json.Message);
        }
        $('#warning-wrap659').slideDown();
    }
    function HideDisplays() {
        $("#results").addClass("hide");
        $('#warning-wrap659').slideUp();
    }

</script>

