@using ODMSCommon.Resources
@model List<ODMSModel.WorkOrderCard.CampaignDetail.LabourModel>
@{
    Layout = null;
}

<div class="">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @MessageResource.CampaignLabour_Display_LabourCode
                </th>
                <th>
                    @MessageResource.LabourDuration_Display_Labour
                </th>
                <th>
                    @MessageResource.LabourDuration_Display_Duration
                </th>
                <th>
                    @MessageResource.CampaignLabour_Display_Quantity
                </th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.LabourCode
                        </td>
                        <td>
                            @item.LabourName
                        </td>
                        <td>
                            @item.Duration
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">
                         @MessageResource.Error_DB_NoRecordFound
                    </td>
                </tr>
               
            }
        </tbody>
    </table>
</div>