@using ODMSCommon.Resources
@model List<ODMSModel.WorkOrderCard.CampaignDetail.PartModel>
@{
    Layout = null;
}

<div class="">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @MessageResource.SparePart_Display_PartName
                </th>
                <th>
                    @MessageResource.SparePart_Display_PartCode
                </th>
                <th>
                    @MessageResource.AppointDetailsParts_Display_Quantity
                </th>
                 
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.PartName
                        </td>
                        <td>
                            @item.PartCode
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">
                         @MessageResource.Error_DB_NoRecordFound
                    </td>
                </tr>
               
            }
        </tbody>
    </table>
</div>