 @{
    Layout = null;
}
@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.ChangeProcessTypeModel
<div>
    

<div id="warning-wrap43" class="alert" style="display:none"><strong></strong></div>
    

    @using (Ajax.BeginForm("UpdateProcessType", "WorkOrderCard", new AjaxOptions { HttpMethod = "POST", OnComplete = "SetAjaxMessage" }, new { id = "AddWorkOrderPart" }))
    {
        <input type="hidden" name="workOrderDetailId" value="@ViewBag.DetailId"/>
        <input type="hidden" id="confirmed" name="confirmed" value="false"/>
        <div class="labelDiv"><label>@MessageResource.TechnicianOperationViewModel_Display_ProcessType</label></div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBox().Name("ProcessType").DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(Model.ProcessTypeList).AutoBind(true).Value(Model.CurrentProcessType)

        </div>
        <div class="clearDiv">&nbsp;</div>
        <button class="k-button" onclick="HideDisplays()">
             @MessageResource.Global_Display_Update
        </button>
        
    }
    

</div>
<script>
    function SetAjaxMessage(content) {
        var json = JSON.parse(content.responseText);
        if (json.ErrorNo == 0) {
            $("#warning-wrap43").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#warning-wrap43  strong").html(json.Message);
            $('#warning-wrap43').slideDown();
        } else if (json.ErrorNo == 1 || json.ErrorNo == 3 || json.ErrorNo == 4) {
            $("#warning-wrap43").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap43  strong").html(json.Message);
            $('#warning-wrap43').slideDown();
            // SetResultsTable(json.List);
        } else {
            CustomConfirm(function () {
                $('#AddWorkOrderPart #confirmed').val("true");
                $('#AddWorkOrderPart').submit();
                $('#AddWorkOrderPart #confirmed').val("false");
            }, "@MessageResource.Global_Display_AddConfirmTitle", json.Message, "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
        }
        
    }
    function HideDisplays() {
        $('#warning-wrap43').slideUp();
    }

</script>