  @{
    Layout = null;
}
@using ODMSCommon.Resources
@model Int64
<div>
    

    <div id="warning-wrap87sa" class="alert" style="display:none"><strong></strong></div>
    

    @using (Ajax.BeginForm("AddHourMaintenance", "WorkOrderCard", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBegin",OnComplete = "SetAjaxMessage" }, new { id = "frmAddHourMaint" }))
    {
        <input type="hidden" name="WorkOrderId" value="@Model"/>
        <div class="labelDiv"><label>@MessageResource.Maintenance_Display_Name</label></div>
        <div class="shortTxtDiv">
            @(Html.Kendo().ComboBox().Name("MaintId")
                                    .DataTextField("Text").DataValueField("Value")
                                    .BindTo(ViewBag.MaintList as List<SelectListItem>)
                                    .SelectFirstOne(ViewBag.MaintList as List<SelectListItem>)
                                    .Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose))
                                        @Html.ValidationMessage("MaintId")
        </div>
        <div class="clearDiv">&nbsp;</div>
        <button class="k-button" onclick="HideDisplays()">
             @MessageResource.Global_Display_Add
        </button>
        
    }
    

</div>
<script>
    $(document).ready(function() {
        $('#frmAddHourMaint').each(function () {
            var validator = $(this).data('validator');
            if (validator != '' && validator != null) {
                if (validator && validator.settings) {
                    validator.settings.ignore = "";
                }
            }
        });
    });
    function OnBegin(e) {
        if ($("#MaintId").val() == "") {
            $("#warning-wrap87sa").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap87sa  strong").html('@MessageResource.WorkOrderCard_Validation_SelectHourlyMaint');
            $('#warning-wrap87sa').slideDown();
            return false;
        }
    }
    function SetAjaxMessage(content) {
        var json = JSON.parse(content.responseText);
        if (json.Result == 1) {
            $("#warning-wrap87sa").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#warning-wrap87sa  strong").html(json.Message);
            $('#warning-wrap87sa').slideDown();
        } else {
            $("#warning-wrap87sa").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap87sa  strong").html(json.Message);
            $('#warning-wrap87sa').slideDown();
        }
        
    }
    function HideDisplays() {
        $('#warning-wrap87sa').slideUp();
    }

</script>