@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.PartRemovalDto
<div class="panel panel-primary">
    <div class="panel-heading">
        @MessageResource.WorkOrderCard_Display_PartRemovalTitle
    </div>
    <div class="panel-body">
        
        <div id="warning-wrap464" class="alert" style="display:none"><strong></strong></div>
        <div id="ajax-load" class="ajax-loading" style="display: none !important; "></div>
        @using (Ajax.BeginForm("UpdateRemovedPartInfo", "WorkOrderCard", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "ajax-load", OnBegin = "onBegin", OnComplete = "onComplete" }, new { id = "frmUpdateRemovedPartInfo" }))
        {
            @Html.HiddenFor(c=>c.WorkOrderDetailId)
            @Html.HiddenFor(c=>c.PartId)
            <div class="labelDiv">@Html.LabelFor(c => c.PartName)</div>
            <div class="labelDiv"><label>@Model.PartCode / @Model.PartName</label></div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@Html.LabelFor(c => c.PartSerialNo)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.PartSerialNo) @Html.ValidationMessageFor(c=>c.PartSerialNo) </div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@Html.LabelFor(c => c.DismentledPartId)</div>
            <div class="shortTxtDiv">@(Html.Kendo()
                                           .ComboBoxFor(c => c.DismentledPartId)
                                           .BindTo(ViewBag.RemovablePartList as List<SelectListItem>)
                                           .DataTextField("Text")
                                           .DataValueField("Value")
                                           .Value(Model.DismentledPartId == 0 ? string.Empty : Model.DismentledPartId.ToString())
                                           .Placeholder(MessageResource.Global_Display_Select)
                                           )
            </div>
            <div class="clearDiv"></div>
            <div class="labelDiv">@Html.LabelFor(c => c.DismentledPartSerialNo)</div>
            <div class="shortTxtDiv">@Html.TextBoxFor(c => c.DismentledPartSerialNo) @Html.ValidationMessageFor(c=>c.DismentledPartSerialNo)</div>
            <div class="clearDiv"></div>
            <input type="submit" class="k-button" value="@MessageResource.Global_Display_Save"/>
        }

    </div>
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    var errors = [];
    $(document).ready(function () {
        try {
            var settings = $('#frmUpdateRemovedPartInfo').validate().settings;
            if (settings) {
                settings.wrapper = "label";
                settings.showErrors = function (errorMap, errorList) {
                    this.defaultShowErrors();
                    $(".field-validation-error").each(function (i, e) {
                        if ($("a", e).length > 0) return;
                        var html = $("label", e).text().replace("'", "").replace("'", "");
                        var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                            $(e).html(newHtml);

                            $("a", e).tooltip({ placement: "right" });
                        });
                    };
                }
                $(".field-validation-error").each(function (i, k) {
                    // if ($("a", e).length > 0) return;
                    //console.log("k=>" + $(k).html());
                    var html = $(k).html().replace("'", "").replace("'", "");
                    var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                    $(k).html(newHtml);

                    $("a", k).tooltip({ placement: "right", html: true });
                });
            }
            catch (m) { }
        });


    function onBegin() {
        HideDisplays();
        if ($("#frmUpdateRemovedPartInfo").valid() == false)
            return false;
    }

    function onComplete(content) {
        var json = JSON.parse(content.responseText);
        if (json.ErrorNo == 0) {
            $("#warning-wrap464").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#warning-wrap464  strong").html(json.Message);
            $('#warning-wrap464').slideDown();
        } else {
            $("#warning-wrap464").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap464  strong").html(json.Message);
            $('#warning-wrap464').slideDown();
        }
        $('#ajax-load').attr("style", "display:none !important");
    }
    function HideDisplays() {
        $('#warning-wrap464').slideUp();
    }

</script>