@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.PdiResultModel
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div id="warning-wrap6895" class="alert" style="display:none">
     <a class="close"  onclick="$('.alert').fadeOut();">&times;</a> 
    <strong></strong>
</div>
    

        @using (Ajax.BeginForm("SavePdiResult", "WorkOrderCard", new AjaxOptions { HttpMethod = "POST", OnBegin = "onBegin", OnComplete = "SetAjaxMessage65465" }, new { Id = "frmSavePdiResult" }))
        {
            <input type="hidden" name="WorkOrderId" value="@Model.WorkOrderId"/>
            <input type="hidden" name="ControlCode" value="@Model.ControlCode" />
            <div class="labelDiv">@MessageResource.PDIControlPartDefinition_Display_PDIControlCode</div>
            <div class="shortTxtDiv">@ViewBag.ControlCode</div>
            <div class="clearDiv">&nbsp;</div>

            <div class="labelDiv">@MessageResource.PDIControlDefinition_Display_ControlNameML</div>
            <div class="shortTxtDiv">@ViewBag.ControlName</div>
            <div class="clearDiv">&nbsp;</div>

            <div class="labelDiv">@MessageResource.PartDefinition_Display_PartName</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.PartCode).Name("PartCode").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.PartList as List<SelectListItem>)
                @Html.ValidationMessageFor(c=>c.PartCode)
            </div>
            <div class="clearDiv">&nbsp;</div>

            <div class="labelDiv">@MessageResource.BreakdownDefinition_Display_BreakdownName</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.BreakDownCode).Name("BreakDownCode").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.BreakDownList as List<SelectListItem>)
                @Html.ValidationMessageFor(c=>c.BreakDownCode)
            </div>
            <div class="clearDiv">&nbsp;</div>

            <div class="labelDiv">@MessageResource.PDIResultDefinition_Display_ResultNameML</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c=>c.ResultCode).Name("ResultCode").DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ResultList as List<SelectListItem>)
                @Html.ValidationMessageFor(c=>c.ResultCode)
            </div>
         
            <div class="clearDiv">&nbsp;</div>
            <div>
                <button class="btn btn-primary">@MessageResource.Global_Display_Save</button>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        try {
            var settings = $('#frmSavePdiResult').validate().settings;
            if (settings) {
                settings.wrapper = "label";
                settings.showErrors = function (errorMap, errorList) {
                    this.defaultShowErrors();
                    $(".field-validation-error").each(function (i, e) {
                        if ($("a", e).length > 0) return;
                        var html = $("label", e).text().replace("'", "").replace("'", "");
                        var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                        $(e).html(newHtml);

                        $("a", e).tooltip({ placement: "right" });
                    });
                };
            }
            $(".field-validation-error").each(function (i, k) {
                // if ($("a", e).length > 0) return;
                //console.log("k=>" + $(k).html());
                var html = $(k).html().replace("'", "").replace("'", "");
                var newHtml = "<a title='" + html + "' data-toggle='tool-tip'><img style='width:16px'  class='' src='@Url.Content("~/images/messagebox_warning.png")' /> </a>";
                $(k).html(newHtml);

                $("a", k).tooltip({ placement: "right", html: true });
            });
        }
        catch (m) { }



        $('#frmSavePdiResult').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
    function SetAjaxMessage65465(content) {
        var json = JSON.parse(content.responseText);
        if (json.Result == false) {
            $("#warning-wrap6895").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
            $("#warning-wrap6895  strong").html(json.Message);
        } else {
            $("#warning-wrap6895").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
            $("#warning-wrap6895  strong").html(json.Message);
        }
        $('#warning-wrap6895').slideDown();
    }
    function onBegin() {
        if ($("#frmSavePdiResult").valid() == false)
            return false;
    }
</script>
