@model System.Collections.Generic.List<ODMSModel.PeriodicMaintControlList.PeriodicMaintControlListListModel>
@using ODMSCommon.Resources

<div class="panel panel-primary">
    <div class="panel-heading">
        @MessageResource.PeriodicMaintControlList_PageTitle_Index
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @MessageResource.Global_Display_Download
                    </th>
                    <th>
                        @MessageResource.PeriodicMaintControlList_Display_DocumentDesc
                    </th>
                    <th>
                        @MessageResource.PeriodicMaintControlList_Display_DocName
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a class="k-link" href="@Url.Action("PeriodicMaintControlListDocumentDownload","PeriodicMaintControlList",new{id=document.DocId})">
                                <i class="glyphicon glyphicon-download"></i>
                            </a>
                        </td>
                        <td>
                            @document.DocumentDesc
                        </td>
                        <td>
                            @document.DocName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

