@using ODMSCommon.Resources
@{
    Layout = null;// "~/Views/Shared/Popup_Layout.cshtml";
    long workOrderID = ViewBag.WorkOrderId;
    string vehiclePlate = ViewBag.Plate;
}
<div id="warning-wrap" class="alert alert-warning">
        <strong>@MessageResource.WorkOrderCard_Warning_VehiclePlate</strong>
</div>
<div style="margin-top: 20px;">

    @Html.Hidden("VehicleId", workOrderID)
    @Html.Hidden("VehiclePlate", vehiclePlate)
    <div class="col-sm-2 labelDiv">
        @MessageResource.Vehicle_Display_VehiclePlate
    </div>
    <div class="col-sm-1 shortTxtDiv">
        @*@Html.Kendo().NumericTextBox().Name("KM").Max(9999999999).Decimals(0).Spinners(false).Format("{0:N0}").HtmlAttributes(new { maxlength = "10", style = "width:205px;" })*@
        @Html.TextBox("Plate")
   
    </div>
    <div class="clearfix"></div>
    <div class="" style="margin-right:30px; margin-top:10px">
        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.WorkOrderCard.WorkOrderCardUpdate, "WorkOrderCardUpdate", "UpdateVehiclePLATE();")
    </div>


</div>
<script type="text/javascript">
    function UpdateVehiclePLATE() {
        debugger;
        mvc.build("@Url.Action("UpdateVehiclePlate", "WorkOrderCard")", null, null, { id: $("workOrderID").val(), plate: $("#Plate").val() }, true, "json");
        mvc.post(null, function (json) {

            if (json.Result == false) {
                $("#warning-wrap").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
                $("#warning-wrap  strong").html(json.Message);

            } else {
                $("#warning-wrap").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
                $("#warning-wrap  strong").html(json.Message);
                $("#VehiclePlate").text(json.plate);
                $("#btnBodyWorkProcess").removeClass("disabled");
                var obj2 = document.getElementById('btnBodyWorkProcess'); BodyWorkProcess(obj2);
            }
        }, null);
    }
</script>