@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.WorkOrderCustomerNoteUpdateModel
@{
    Layout = null;// "~/Views/Shared/Popup_Layout.cshtml";
}
<div id="warning-wrap" class="alert alert-warning">
    <strong>@MessageResource.Global_Display_Update</strong>
</div>
<div id="cancelWo-window" style="margin-top: 20px;">
    @using (Html.BeginForm("UpdateNote", "WorkOrder", FormMethod.Post, new { id = "frmNoteUpdate" }))
    {
        @Html.HiddenFor(c => c.WorkOrderId)
        <div class="col-sm-2 labelDiv">
          @("Müşteri Talebi")
        </div>
        <div class="col-sm-1 shortTxtDiv">
            @Html.TextAreaFor(c => c.Note)
            @Html.ValidationMessageFor(c => c.Note)
        </div>
        <div class="clearfix"></div>
    }
    <div class="text-right" style="margin-right:30px; margin-top:10px">
        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.WorkOrderCard.WorkOrderCardUpdate, "", "UpdateNote();")
    </div>


</div>
<script type="text/javascript">
    function UpdateNote() {
        debugger;
        if ($('#frmNoteUpdate').valid() == false) return;
        mvc.build("@Url.Action("UpdateNote", "WorkOrderCard")", null, null, { Note: $("#Note").val(), WorkOrderId: $("#WorkOrderId").val() }, true, "json");
        mvc.post(null, function(json) {
            console.log(json);
            if (json.Result == false) {
                $("#warning-wrap").removeClass("alert-success").removeClass("alert-warning").addClass("alert-danger");
                $("#warning-wrap  strong").html(json.Message);
            } else {
                $("#warning-wrap").removeClass("alert-warning").removeClass("alert-danger").addClass("alert-success");
                $("#warning-wrap  strong").html(json.Message);
            }
            $('#cancelWo-window').html('');
        }, null);
    }
</script>