@{
    Layout = null;
}
@using ODMSCommon.Resources
@model ODMSModel.WorkOrderCard.VehicleNoteDetailModel

<div style="line-height: 14px;" class="panel panel-info">
    <div class="panel-heading">@MessageResource.VehicleNote_Display_Note</div>
    <div class="panel-body" style="min-height: 110px;">
        @Model.Note 
    </div>
    <div class="panel-footer">
        <label class="label label-danger"> @MessageResource.CycleCountStockDiff_Display_CreateDate : @Model.CreateDate</label>
    </div>
</div>
<div class="text-center" style="margin:0 10px">
    @if (Model.Prev.HasValue)
    {
        <a class="btn btn-info" onclick="GetVehicleNote(@Model.Prev)">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    }
    
    <label class="label label-success">@Model.NoteId / @Model.Total</label>
    @if (Model.Next.HasValue)
    {
        <a class="btn btn-info" onclick="GetVehicleNote(@Model.Next)">
            <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
    }
</div>

