@using System.Linq
@using ODMSCommon.Resources
@using ODMSModel.WorkOrderCard
@model ODMSModel.WorkOrderCard.WorkOrderCardModel
@{
    Layout = null;

    bool HasMaint = Model == null ? false : Model.Details.Any(c => c.MaintenanceId > 0);
}



<table id="tblWorkOrderDetails" class="table table-striped table-bordered" style="width: 100%; margin:10px auto 0;">
    <thead>
        <tr class="menu">
            <th class="text-center">
                @MessageResource.WorkOrderCard_Display_Indicator @MessageResource.Global_Display_Id / GIF NO
            </th>
            <th>@MessageResource.WorkOrderCard_Display_IndicatorStatus</th>
            <th>@MessageResource.Work_Order_GuaranteeConfirmDesc</th>
            <th>@MessageResource.WorkOrderCard_Display_Part</th>
            <th>@MessageResource.WorkOrderCard_Display_Labour</th>
            <th>@MessageResource.WorkOrderCard_Display_TechnicalDescription</th>
            @if (Model != null && Model.Details.Any(c => c.IsCampaign))
            {
                <th>
                    @MessageResource.WorkOrderCard_Display_CampaingPartRequest
                </th>
            }
            <th>@MessageResource.Global_Display_Cancel</th>
            <th>@MessageResource.AppointmentIndicatorFailureCode_Display_Code</th>
            <th>@MessageResource.WorkOrderCard_Display_Type</th>
            <th>@MessageResource.WorkOrderCard_Display_PartLabourCode</th>
            <th>@MessageResource.WorkOrderCard_Display_Description</th>
            <th>@MessageResource.WorkOrderCard_Display_CountTime</th>
            <th>@MessageResource.WorkOrderCard_Display_UnitPrice</th>
            <th>@MessageResource.WorkOrderCard_Display_DiscountRatio</th>
            <th>@MessageResource.WorkOrderCard_Display_TotalPrice</th>
            <th>@MessageResource.WorkOrderCard_Display_WarrantyRatio</th>
            <th>@MessageResource.GuaranteeRequestApprove_Display_WarrantyTotal</th>
            <th class="teksatir" style="vertical-align:middle">
                @if ((bool)ViewBag.IsVehicleLeft == false && Model.Details.Any(c => c.ReservedQuantity > 0) && !Model.IsCentralDealer)
                {
                    <a style="margin-left: 10px; color: #ff0000;" class="k-link picking blink_me" onclick=" PickDetailParts(0, this) ">
                        <i class="glyphicon glyphicon-plus-sign"></i>@MessageResource.WokrOrderCard_Display_Pick
                    </a>
                    <span class="ajax-loading hide"></span>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @if ((bool)ViewBag.IsVehicleLeft == false)
        {
            foreach (var item in Model.DetailList.Where(c => c.InvoiceId.HasValue == false && !c.WarrantyStatus.In(1, 4, 5)))
            {
                <tr class="@(item.IsCanceled ? Html.Raw("danger") : Html.Raw("info")) text-center">
                    <td>
                        @item.WorkOrderDetailId / @item.GifNo
                    </td>
                    <td>
                        @if (item.GosApprovalNeed)
                        {
                            @item.WarrantyStatusDesc
                            if (item.WarrantyStatus.In(3, 6))
                            {
                                <a class="k-link bstooltip" title="@item.GuaranteeConfirmDesc">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            }
                        }
                        @if (item.InvoiceId.HasValue)
                        {
                            <span style="display:inline-block" class="bold text-success">@MessageResource.WorkOrderCard_Display_Invoiced</span>
                        }
                        else if (item.InvoiceId == null && item.IsBillable && item.InvoiceCancel)
                        {
                            <span style="display: inline-block" class="bold text-success">@MessageResource.WorkOrderCard_Not_Invoice</span>
                        }

                    </td>
                    <td>
                        <a class="k-link bstooltip" title="@item.GuaranteeConfirmDesc">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </td>
                    <!--Basılmamış etiketleri bas || Etiket bas-->
                    <td class="text-center">
                        @if (item.IndicatorType == IndicatorType.BreakDown && !item.WarrantyStatus.In(4, 5))
                        {
                            <a class="k-link" onclick="AddPart(@item.WorkOrderDetailId, this); ">
                                <img src="@Url.Content("~/Images/add2.png")" />
                            </a>
                        }
                    </td>
                    <td class="text-center">
                        @if (item.IndicatorType == IndicatorType.BreakDown && !item.WarrantyStatus.In(4, 5))
                        {
                            <a class="k-link" onclick="AddLabour(@item.WorkOrderDetailId, @ViewBag.VehicleId, this); ">
                                <img src="@Url.Content("~/Images/add2.png")" />
                            </a>
                        }
                    </td>
                    <td class="text-center">

                        <a class="k-link bstooltip" title="@item.TechicalDescription" onclick="AddTechnicalDetail(@item.WorkOrderDetailId, this); ">
                            <img src="@Url.Content("~/Images/edit.png")" />
                        </a>
                    </td>
                    @if (Model.Details.Any(c => c.IsCampaign))
                    {
                    <td>
                        @if (Model.Details.Any(c => c.IsCampaign && c.WorkOrderDetailId == item.WorkOrderDetailId && c.HasOtokarCampaignStock == false && c.CampaignRequestId == null))
                        {
                            if (item.IsCampaignCritical)
                            {
                                <a class="k-link" onclick="CreateCampaignRequest(@item.WorkOrderDetailId, this) ">@MessageResource.CampaignRequest_PageTitle_Create</a>
                                <span class="ajax-loading hide"></span>
                            }



                        }
                        else if (Model.Details.Any(c => c.IsCampaign && c.WorkOrderDetailId == item.WorkOrderDetailId && c.HasOtokarCampaignStock == false && c.CampaignRequestId != null))
                        {
                            <a class="k-link" onclick="OpenCampaignRequestDetails(@item.WorkOrderDetailId, @Model.Details.FirstOrDefault(c => c.IsCampaign && c.WorkOrderDetailId == item.WorkOrderDetailId).CampaignRequestId, this) ">@MessageResource.CampaignRequest_PageTitle_Details</a>
                        }

                    </td>
                    }

                    <td class="text-center">

                        @{
                            var campaignRequestId = Model.Details.Any(c => c.IsCampaign && c.WorkOrderDetailId == item.WorkOrderDetailId && c.HasOtokarCampaignStock == false && c.CampaignRequestId != null) ?
                                Model.Details.FirstOrDefault(c => c.IsCampaign && c.WorkOrderDetailId == item.WorkOrderDetailId).CampaignRequestId
                                : 0;
                        }
                        @if (campaignRequestId == 0)
                        {
                            <a class="k-link" onclick="CancelWorkOrderDetail(@item.WorkOrderDetailId, @(!((int)item.IndicatorType).In((int)IndicatorType.BreakDown,(int)IndicatorType.Campaign)?Html.Raw("true"):Html.Raw("false")), this) ">
                                @MessageResource.Global_Display_Cancel
                            </a>
                        }
                        else
                        {
                            <a class="k-link" onclick="CancelWorkOrderDetailWithCampaignRequest(@item.WorkOrderDetailId, @campaignRequestId, this) ">
                                @MessageResource.Global_Display_Cancel
                            </a>

                        }
                    </td>
                    <td>
                        <a class="bstooltip k-link" title="@item.FailureCodeDescription">@item.FailureCode</a>
                        @if (item.AllowFailureCodeChange)
                        {
                            <span>&nbsp; - &nbsp;</span>

                            <a class="k-link" onclick="UpdateFailureCode(@item.WorkOrderDetailId, '@item.FailureCode', this); "><i class="glyphicon glyphicon-edit"></i></a>
                        }
                    </td>
                    <td>@item.ProcessType  
                        @if (Model.DetailList.FirstOrDefault(c => c.WorkOrderDetailId == item.WorkOrderDetailId).IsFromProposal==false)
                        {
                            <span>&nbsp; - &nbsp;</span>
                            <a class="k-link" onclick="UpdateProcessType(@item.WorkOrderDetailId, this); "><i class="glyphicon glyphicon-edit"></i></a>
                        }  </td>
                    <td>@item.Code</td>
                    <td>@item.Description</td>
                    <td>
                        @if (Model.Details.Any(c => c.WorkOrderDetailId == item.WorkOrderDetailId && (c.Type == "PART" && c.ReservedQuantity == 0)) && !Model.IsCentralDealer)
                        {
                            <a class="k-link" href="javascript:void(0);" onclick="ReservDetailParts(@item.WorkOrderDetailId, this); "><i style="padding-right: 6px;" class="glyphicon glyphicon-repeat"></i>Rezerv Et</a>
                        }

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center text-danger">
                       @if (Model.VehicleLeaveDate.HasValue == false && item.GuarantyAuthorizationNeed && item.WarrantyStatus.In(0, 3) && Model.Details.Any(c => c.WorkOrderDetailId == item.WorkOrderDetailId && c.Type != "INDICATOR"))
                       {
                            <a class="k-link bstooltip" onclick="SendToWarrantyPreAppoval(@item.WorkOrderDetailId, this);" title="@MessageResource.WorkOrderCard_Message_WarrantyPreAppoval">

                                <span class="blink_me" style="color:red">@MessageResource.WorkOrderCard_Display_SendToPreWarranty</span>
                            </a>
                            <span class="ajax-loading hide"></span>
                        }


                    </td>

                    @if (!Model.IsCentralDealer)
                    {
                        <td class="teksatir">
                            <a class="k-link picking" onclick="PickDetailParts(@item.WorkOrderDetailId, this) ">
                                <i class="glyphicon glyphicon-plus-sign"></i>@MessageResource.WokrOrderCard_Display_Pick
                            </a>
                            <span class="ajax-loading hide"></span>
                            <a> - </a>
                            <a class="k-link picking" onclick="ReturnParts(@item.WorkOrderDetailId, this) ">
                                <i class="glyphicon glyphicon-hand-left"></i>@MessageResource.Global_Display_Return
                            </a>
                            <span class="ajax-loading hide"></span>
                        </td>
                    }
                </tr>
                            foreach (var detail in Model.Details.Where(c => c.WorkOrderDetailId == item.WorkOrderDetailId && c.Type != "INDICATOR"))
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center @GetDismentledPartTdClass(detail,Model.DetailList.Where(x=>x.WorkOrderDetailId == detail.WorkOrderDetailId).FirstOrDefault().ProcessTypeCode)">
                                        @if (detail.Type == "PART")
                                        {
                                            <a class="k-link bstooltip" title="@MessageResource.WorkOrderCard_Display_DismentledPart" onclick="OpenPartRemovalWindow(@item.WorkOrderDetailId, @detail.Id, this); "><i class="glyphicon glyphicon-edit"></i></a>
                                        }

                                    </td>
                                    @if (detail.Type == "LABOUR")
                                    {
                                        <td title="@GetLabourTdTitle(detail)" class="bstooltip text-center @GetLabourTdClass(detail.LabourWorkStatusId, detail.IsExternalLabour)">


                                            @if (!detail.IsExternalLabour)
                            {
                                                <a class="k-link btn-sm" onclick="OpenAssaignTechicianWindow(@item.WorkOrderDetailId, @detail.Id, this); ">@MessageResource.LabourTechnician_PageTitle_Index</a>


                                            }
                                            @if (detail.LabourWorkStatusId == 4)
                            {
                                                <button class="btn btn-danger" onclick="CancelLabourTecnician(@item.WorkOrderDetailId,@detail.Id,this);">
                                                    <i class="glyphicon glyphicon-ban-circle"></i>@MessageResource.Global_Display_Cancel
                                                </button>
                                            }
                                            else
                                            {

                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td class="text-center"></td>
                                    @if (Model.Details.Any(c => c.IsCampaign))
                        {
                                        <td></td>
                                    }
                                    <td>
                                        @if (!detail.IsCampaign && detail.MaintenanceId == 0 && item.IndicatorType != IndicatorType.Pdi)
                                        {
                                            <a class="k-link" title="@MessageResource.Global_Display_Delete" onclick="DeleteItem(@item.WorkOrderDetailId, @detail.Id, '@detail.Type', this); "> <i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                        else if (detail.MaintenanceId > 0 && !detail.IsMust)
                                        {
                                            <a class="k-link" title="@MessageResource.Global_Display_Delete" onclick="RemoveMaintItem(@detail.MaintenanceId ,@item.WorkOrderDetailId, @detail.Id, '@detail.Type', this); "> <i class="glyphicon glyphicon-trash"></i></a>
                                        }
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @(detail.Type == "LABOUR" ? detail.IsExternalLabour ? MessageResource.WorkOrderCard_Display_ExternalLabour : MessageResource.WorkOrderCard_Display_Labour : MessageResource.WorkOrderCard_Display_Part)
                                    </td>
                                    <td class="@Html.Raw(detail.Type == "LABOUR"?"labourCode" :"partCode")">@detail.Code</td>
                                    <td>
                                        @if (detail.Type == "PART")
                                        {
                                            @detail.Name
                                            <a class="k-link bstooltip" title="@detail.StockType">
                                                <i class="glyphicon glyphicon-info-sign"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            @detail.Name
                                        }

                                    </td>
                                    <td class="@(detail.Type == "PART" ? GetPartTdClass(detail.RequiredQuantity, detail.ReservedQuantity, detail.PickedQuantity, detail.ReturnedQuantity) : @Html.Raw(""))">
                                        @if (detail.Type == "PART")
                                        {
                                            @detail.RequiredQuantity
                                        }
                                        else
                                        {
                                            <span>@Convert.ToInt32(detail.Quantity) / @detail.Duration</span>
                                        }
                                        @if (!detail.IsCampaign && item.IndicatorType != IndicatorType.Pdi)
                                        {
                                            if (item.DetailType != DetailType.Meintenance)
                                            {
                                                @Html.Raw("&nbsp; - &nbsp;")
                                                <a class="k-link" onclick="AddDetailQuantity(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', this); ">@MessageResource.Global_Display_Add</a>
                                            }
                                            else
                                            {
                                                @Html.Raw("&nbsp; - &nbsp;")
                                                <a class="k-link" onclick="EditMaintenanceQuantity(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', @detail.MaintenanceId, this); "><i class="glyphicon glyphicon-edit"></i></a>
                                            }
                                        }

                                        @if (detail.Type == "PART")
                                        {
                                            <a class="part-tooltip" title="@(GetPartToolTipHtml(detail.RequiredQuantity, detail.ReservedQuantity, detail.PickedQuantity, detail.ReturnedQuantity))">
                                                <i class="glyphicon glyphicon-info-sign"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @detail.Price.RoundUp(2)
                                        @if (!detail.IsCampaign)
                                        {
                                            @Html.Raw("&nbsp; - &nbsp;")
                                            <a class="k-link" onclick="ChangePriceList(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', this); "><i class="glyphicon glyphicon-edit"></i></a>
                                            if (!Model.VehicleLeaveDate.HasValue && detail.Type == "LABOUR" && item.ProcessTypeCode == "PT_M")
                                            {
                                                <a class="k-link" onclick="AddLabourPrice(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', this); "><i class="glyphicon glyphicon-plus-sign"></i></a>
                                            }
                                        }
                                        <a class="part-tooltip" title="@(GetPriceToolTipHtml(detail))">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </a>
                                    </td>
                                    @if (detail.Type == "PART" && !detail.IsCampaign)
                        {
                                        <td title="@GetDiscountTdTitle(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio)" class="@GetDiscountTdClass(detail.DiscountPrice, detail.DealerPrice, detail.ProfitMarginRatio) bstooltip">
                                            @detail.DiscountRatio
                                            @if (!detail.IsCampaign && detail.WarrantyRatio.GetValueOrDefault(0) == 0)
                                            {
                                                @Html.Raw("&nbsp; - &nbsp;")
                                                <a class="k-link" onclick="AddDetailDiscount(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', this); ">@MessageResource.Global_Display_Add</a>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @detail.DiscountRatio
                                            @if (!detail.IsCampaign && detail.WarrantyRatio.GetValueOrDefault(0) == 0)
                                            {
                                                @Html.Raw("&nbsp; - &nbsp;")
                                                <a class="k-link" onclick="AddDetailDiscount(@detail.WorkOrderDetailId, @detail.Id, '@detail.Type', this); ">@MessageResource.Global_Display_Add</a>
                                            }
                                        </td>
                                    }

                                    <td>@detail.TotalPrice.RoundUp(2)</td>
                                    <td>@detail.WarrantyRatio</td>
                                    <td>@detail.WarrantyTotal</td>
                                    <td>&nbsp;</td>
                                </tr>
                                    }
                                }
                            }
        @Html.Partial("_WorkOrderInvoicedDetails", Model)
    </tbody>

</table>

<div class="panel-footer">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <a class="k-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseCustomerTotal">


                <strong style="font-size: 16px;">
                    @MessageResource.WorkOrderCard_Display_TotalCustomer
                </strong>
            </a>

        </div>
        <div class="panel-body panel-collapse collapse" id="collapseCustomerTotal" style="height: 0px">



            <table class="table table-bordered table-zipped">
                <tbody>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.PDIInvoiceList_Display_TotalPartPrice : </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalCustomerPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.PDIInvoiceList_Display_TotalLabourPrice :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalCustomerPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_CustomerTotalPrice :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.TotalCustomerPrice).RoundUp(2)</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_DiscountPartPrice :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalDiscount : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_DiscountLabourPrice :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalDiscount : 0).RoundUp(2) </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_DiscountTotalPrice :</th>
                        <td class="col-md-2" colspan="3">@Model.Details.Sum(c => c.TotalDiscount).RoundUp(2)</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Discounted_Total_SparePart_Price</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? (c.TotalPrice) : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Discounted_Total_Labour_Price :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? (c.TotalPrice) : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Discounted_Total_Customer_Price :</th>
                        <td class="col-md-2" colspan="3">@Model.Details.Sum(c => c.TotalPrice).RoundUp(2)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading">
            <a class="k-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseWarrantyTotal">


                <strong style="font-size: 16px;">
                    @MessageResource.WorkOrderCard_Display_TotalWarranty
                </strong>
            </a>

        </div>
        <div class="panel-body panel-collapse collapse" id="collapseWarrantyTotal" style="height: 0px">

            <table class="table table-bordered table-zipped">
                <tbody>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.PDIInvoiceList_Display_TotalPartPrice :  </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalWarrantyPriceWithoutDeduction : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.PDIInvoiceList_Display_TotalLabourPrice : </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalWarrantyPriceWithoutDeduction : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyTotalPrice :</th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.TotalWarrantyPriceWithoutDeduction).RoundUp(2)</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Deduction_Total_SparePart_Price :  </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalWarrantyDeductionPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Deduction_Total_Labour_Price :  </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalWarrantyDeductionPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Deduction_Total_Guarantee_Price :</th>
                        <td class="col-md-2 ">@Model.Details.Sum(c => c.TotalWarrantyDeductionPrice).RoundUp(2)</td>

                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyPartGeneralPrice :  </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalWarrantyPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyLabourGeneralPrice :  </th>
                        <td class="col-md-2">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalWarrantyPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_WarrantyGeneralPrice :</th>
                        <td class="col-md-2 ">@Model.Details.Sum(c => c.TotalWarrantyPrice).RoundUp(2)</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading">
            <a class="k-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseWOTotal">


                <strong style="font-size: 16px;">
                    @MessageResource.WorkOrderCard_Display_WOTotal
                </strong>
            </a>

        </div>
        <div class="panel-body panel-collapse collapse" id="collapseWOTotal" style="height: 0px">

            <table class="table table-bordered table-zipped">
                <tbody>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i> @MessageResource.WorkOrderCard_Display_TotalPart : </th>
                        <td class="col-md-3">@Model.Details.Where(c => c.Type == "PART").Sum(c => c.RequiredQuantity) </td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_TotalLabour :</th>
                        <td class="col-md-7" colspan="3">@Model.Details.Where(c => c.Type == "LABOUR").Count()</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_Deduction_And_Discount_Before_Price : </th>
                        <td class="col-md-7" colspan="3">@Model.Details.Sum(c => (c.TotalCustomerPrice + c.TotalWarrantyPriceWithoutDeduction)).RoundUp(2)</td>
                    </tr>
                    <tr>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i> @MessageResource.PDIInvoiceList_Display_TotalPartPrice : </th>
                        <th class="col-md-3">@Model.Details.Sum(c => c.Type == "PART" ? c.TotalPrice + c.TotalWarrantyPrice : 0).RoundUp(2)</th>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.PDIInvoiceList_Display_TotalLabourPrice : </th>
                        <td class="col-md-3" colspan="3">@Model.Details.Sum(c => c.Type == "LABOUR" ? c.TotalPrice + c.TotalWarrantyPrice : 0).RoundUp(2)</td>
                        <th class="col-md-1 teksatir t-customhead"><i class="fa fa-caret-right"></i>@MessageResource.WorkOrderCard_Display_WOTotal : </th>
                        <td class="col-md-3" colspan="3">@Model.Details.Sum(c => c.TotalPrice + c.TotalWarrantyPrice).RoundUp(2)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<script>


    $(function() {
        $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position', 'fixed').css('top', '0').css('margin-top', '0').css('z-index', '500').removeClass('original').hide();

        stickIt();
        $(window).resize(stickIt);
    });
</script>
@helper GetPartTdClass(decimal required, decimal reserved, decimal picked, decimal returned)
{
if (required > reserved && required > 0 && required > (reserved + picked - returned))
{
        @Html.Raw(" danger ")
    return;
}
if (required == (picked - returned))
{
        @Html.Raw(" success ")
    return;
}
if (required == reserved + (picked - returned) && reserved > 0)
{
        @Html.Raw(" warning ")
}
}

@helper GetPartToolTipHtml(decimal required, decimal reserved, decimal picked, decimal returned)
{
    @Html.Raw("<div class=\"part-detail-tooltip\"> " +
        "<ul>" +

           " <li><span class=\"bold\">" + MessageResource.WorkOrderCard_Display_ReservedQuantity + "</span><span class='value'>" + reserved + "</span></li>" +
           " <li><span class=\"bold\">" + MessageResource.WorkOrderCard_Display_WorkShopQuantity + "</span><span class='value'>" + (picked - returned) + "</span></li>" +

        "</ul>" +
    "</div>")
}
@helper GetDiscountTdClass(decimal discountPrice, decimal? dealerPrice, decimal? profitMarginRatio)
{
if (dealerPrice.GetValueOrDefault(0) > discountPrice)
{
        @Html.Raw("danger")
    return;
}
if (profitMarginRatio.GetValueOrDefault() > 0)
{
    if ((dealerPrice * (1 + (profitMarginRatio / 100))) < discountPrice)
    {
            @Html.Raw("warning")
    }
}

}
@helper GetDiscountTdTitle(decimal discountPrice, decimal? dealerPrice, decimal? profitMarginRatio)
{
if (dealerPrice.GetValueOrDefault(0) > discountPrice)
{
        @Html.Raw(MessageResource.WorkOrderWard_Message_DiscountLessThanDealerPrice)
    return;
}
if (profitMarginRatio.GetValueOrDefault() > 0)
{
    if ((dealerPrice * (1 + (profitMarginRatio / 100))) < discountPrice)
    {
            @Html.Raw(MessageResource.WorkOrderWard_Message_DiscountLessThanProfitMargin)
    }
}

}
@helper GetPriceToolTipHtml(WorkOrderDetailModel detail)
{
    <table>
        @if (detail.Type == "PART")
        {
            <tr>
                <th style="padding-right: 8px">@MessageResource.StockCard_Display_AvgDealerPrice </th>
                <td>: @detail.DealerPrice</td>
            </tr>
        }
        <tr>
            @if (detail.ProcessTypeCode == "PT_P" && detail.Type == "PART")
            {
                <th style="padding-right: 8px">@MessageResource.WorkOrderCard_Display_PartWarrantyPrice </th>
            }
            else
            {
                <th style="padding-right: 8px">@MessageResource.WorkOrderCard_Display_WarrantyPrice </th>
            }
            <td>: @detail.WarrantyPrice</td>
        </tr>
    </table>
}
@helper GetLabourTdClass(sbyte id, bool isExternal)
{
if (isExternal)
{
        @Html.Raw(" success ")
    return;
}
if (id == -1 || id == 0)
{
        @Html.Raw(" danger ")
    return;
}
else if (id == 4)
{
        @Html.Raw(" success ")
    return;
}
else
{
        @Html.Raw(" warning ")
}
}
@helper GetLabourTdTitle(WorkOrderDetailModel detail)
{
if (detail.LabourWorkStatusId != 4)
{
    if (@detail.LabourTechnician.Count() > 0)
    {
            <table>
                <tr>
                    <th style="padding-right: 8px">@Html.Raw(detail.LabourWorkStatus)</th>
                    <td>: @detail.LabourTechnician</td>
                </tr>
            </table>
    }
    else
    {
            @Html.Raw(detail.LabourWorkStatus)
    }
}
else
{
        <table>
            <tr>
                <th style="padding-right:8px">@MessageResource.LabourTechnician_Display_UserNameSurname </th>
                <td>: @detail.LabourTechnician</td>
            </tr>
            @if (detail.LabourStartDate != DateTime.MinValue)
            {
                <tr>
                    <th style="padding-right: 8px">@MessageResource.LabourTechnician_Display_StartDate </th>
                    <td>: @detail.LabourStartDate.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
                <tr>
                    <th style="padding-right: 8px">@MessageResource.LabourTechnician_Display_EndDate </th>
                    <td>
                        : @detail.LabourFinishDate.ToString("dd/MM/yyyy HH:mm")
                    </td>
                </tr>
            }
        </table>
}
}
@helper GetDismentledPartTdClass(WorkOrderDetailModel detail, string processTypeCode)
{
if (detail.Type != "PART")
{
    return;
}
else
{
    if (!string.IsNullOrEmpty(detail.DismantledPart))
    {
            @Html.Raw("success")
        return;
    }
    else
    {
        if (processTypeCode == "PT_M")
        {
            //zorunlu değil
            @Html.Raw(" _blue")
                return;
            }
            else
            {
                if (detail.DismantledPartCount == 1)
                {
                    //zorunlu değil
                    @Html.Raw(" _blue")
                    return;
                }
                else if (detail.DismantledPartCount > 1)
                {
                    //zorunlu
                    @Html.Raw("danger")
                return;
            }
        }
    }

}
}