@model ODMSModel.CycleCountStockDiff.CycleCountStockDiffViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CycleCountStockDiff_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CycleCountStockDiffCreate", "CycleCountStockDiff", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.WarehouseName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.WarehouseId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.WarehouseList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.WarehouseId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.StockCardName)</div>
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "OrginalSparePart", ControlId = "StockCardId", Title1 = "", Title2 = "", DefaultText = Model.StockCardName, DefaultValue = Model.StockCardId });@Html.ValidationMessageFor(v => v.StockCardId)
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AfterCount)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.AfterCount) @Html.ValidationMessageFor(c => c.AfterCount)</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.CycleCountId)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.CycleCountStockDiff.CycleCountStockDiffCreate, "CycleCountStockDiffCreate")        
}

<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
