@using ODMSCommon.Resources
@using ODMSModel.Bank

@model BankListModel
@{
    ViewBag.Title = @MessageResource.Bank_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.Code)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.Code) </div>
        <div class="labelDiv">@Html.LabelFor(b => b.Name)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.Name) </div>
    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Bank.BankIndex)
@ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.Bank_PageTitle_Create, CommonValues.PermissionCodes.Bank.BankCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<BankListModel>()
          .Name("grid")
          .Columns(columns =>
              {
                  columns.Bound(b => b.Id).ClientTemplate("<center><a class='details modalClick' id='#=Id#' frameTitle='" + MessageResource.Bank_PageTitle_Details + "' href='/Bank/BankDetails/#=Id#'><img class='iconLink' src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(MessageResource.Global_Display_View).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Bank.BankDetails));
                  columns.Bound(b => b.Id).ClientTemplate("<center><a class='edit modalClick' id='#=Id#' frameTitle='" + MessageResource.Bank_PageTitle_Update + "' href='/Bank/BankUpdate/#=Id#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(MessageResource.Global_Display_Update).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Bank.BankUpdate));
                  columns.Bound(b => b.Id).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.Bank_PageTitle_Delete + "' onclick='DeleteBank(#=Id#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(MessageResource.Global_Display_Delete).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Bank.BankDelete));
                  columns.Bound(b => b.Code).Width(200).Sortable(true);
                  columns.Bound(b => b.Name).Width(200).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListBanks", "Bank", Model).Data("Search"))
                                        .Model(model => model.Field(b => b.Id).DefaultValue(-1)))
          )

</div>

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
        .Title("Bank")
        .Draggable()
        .Resizable()
        .Width(360)
        .Height(180)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
    )
</div>

@section Scripts
{
    <script>
        $(function () {
            RegisterEventHandlers();
        });

        function RegisterEventHandlers() {
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html('@MessageResource.Global_Display_Search_Criteria');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });

            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("BankDetails", "Bank", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("BankUpdate", "Bank", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("BankCreate", "Bank")";
                }

                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }

        function Search() {
            return {
                Code: $("#Code").val(),
                Name: $("#Name").val()
            };
        }
        
        function DeleteBank(Id) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("BankDelete","Bank")", 
                    data: { Id: Id, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }

    </script>
}
