@using ODMSCommon.Resources
@model ODMSModel.Bank.BankDetailModel
@{
    ViewBag.Title = MessageResource.Bank_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("BankCreate", "Bank", FormMethod.Post))
{
    <div class="labelDiv" style="width: 100px; margin-top: 10px;">@Html.LabelFor(b => b.Code)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 10px; width: 100px">@Html.TextBoxFor(b => b.Code)
        @Html.ValidationMessageFor(v => v.Code)</div>
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 100px">@Html.LabelFor(b => b.Name)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 100px; width: 100px">@Html.TextBoxFor(b => b.Name) 
        @Html.ValidationMessageFor(v => v.Name)</div>
    <br/>
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.Bank.BankCreate, "BankCreate")        
}

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });
    
    function adjustPage() {
        $("#popupContent").css("width", 350);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 180);
        $("#popupContentWrapper").css("width", 360);
    }
    
    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "50px");
        $("#Create").css("margin-left", "-100px");
        $("#Create").css("width", "75px");

        $(".shortTxtDiv span").css("position", "absolute");
        $(".shortTxtDiv span").css("margin-left", "198px");
        
        $(".shortTxtDiv span[data-valmsg-for='Code']").css("margin-top", "-18px");
        $(".shortTxtDiv span[data-valmsg-for='Name']").css("margin-top", "-18px");
        
    }
</script>
