@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.CriticalStockQuantity.CriticalStockQuantityListModel

@{
    ViewBag.Title = MessageResource.CriticalStockQuantity_PageTitle_Index;
}

<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv" style="width: 120px">@Html.LabelFor(v => v.DealerName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(!UserManager.UserInfo.IsDealer)
        </div>
        <div class="labelDiv">@Html.LabelFor(d => d.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartCode) </div>

        <div class="labelDiv">@Html.LabelFor(d => d.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartName) </div>
    </div>
    <br />
    @Html.HiddenFor(v => v.StockTypeId)
</div>
@ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.CriticalStockQuantity.CriticalStockQuantityIndex)
<br />
<div id="CriticalStockQuantityModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("CriticalStockQuantityModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#CriticalStockQuantityGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    $(document).ready(init);
    function CriticalStockQuantitySearch() {
        return {
            DealerId: $('#DealerId').val(),
            PartId: $('#PartId').val(),
            PartName: $('#PartName').val(),
            PartCode: $('#PartCode').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#CriticalStockQuantityGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
    }

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CriticalStockQuantity.CriticalStockQuantityListModel>()
          .Name("CriticalStockQuantityGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.DealerName).Sortable(true);
                  columns.Bound(p => p.PartCode).Sortable(true);
                  columns.Bound(p => p.PartName).Sortable(true);
                  columns.Bound(p => p.CriticalStockLevel).Sortable(true);
                  columns.Bound(p => p.StockQuantity).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCriticalStockQuantity", "CriticalStockQuantity", Model).Data("CriticalStockQuantitySearch"))
                                        )

          )
</div>
