@using ODMSCommon.Resources
@model ODMSModel.FixAssetInventory.FixAssetInventoryViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("FixAssetInventory_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("FixAssetInventoryCreate", "FixAssetInventory", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(c => c.IsPartOriginal)</div>
    <div class="shortTxtDiv">
        @Html.RadioButtonFor(c => c.IsPartOriginal, true) @Html.LabelFor(c => c.IsPartOriginal, MessageResource.Global_Display_Yes)
        <span style="padding-right: 15px;"></span>
        @Html.RadioButtonFor(c => c.IsPartOriginal, false) @Html.LabelFor(c => c.IsPartOriginal, MessageResource.Global_Display_No)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div id="partDetails">
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        @{ Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "OrginalSparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = Model.PartName, DefaultValue = Model.PartId, CallbackFunction = "GetRackList" }); }
        @Html.ValidationMessageFor(v => v.PartId)
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.RackName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.RackId).DataValueField("Value").Events(e => e.Change("GetStockTypeList")).DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.RackId)
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.StockTypeName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.StockTypeId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.StockTypeId)
        </div>

    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Code)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Code) @Html.ValidationMessageFor(c => c.Code)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Name)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Name) @Html.ValidationMessageFor(c => c.Name)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Unit)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Unit) @Html.ValidationMessageFor(c => c.Unit)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.SerialNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SerialNo) @Html.ValidationMessageFor(c => c.SerialNo)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Description) @Html.ValidationMessageFor(c => c.Description) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleGroupId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VehicleGroupList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))@Html.ValidationMessageFor(c => c.VehicleGroupId)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.EquipmentTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.EquipmentTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))@Html.ValidationMessageFor(c => c.EquipmentTypeId)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StatusName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(false)</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v=>v.StatusId)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.FixAssetInventory.FixAssetInventoryCreate, "FixAssetInventoryCreate")        
}

<script type="text/javascript">
    $(function () {
        $('input[name=IsPartOriginal]').click(function () {
            var isPartOriginal = $(this).val();
            HideShowDetails(isPartOriginal);
        });
    });
    function HideShowDetails(isPartOriginal) {
        if (isPartOriginal == 'True') {
            $("#partDetails").show();
            $("#RackId").data("kendoComboBox").enable(true);
            $("#StockTypeId").data("kendoComboBox").enable(true);
        } else {
            $("#partDetails").hide();
            $("#RackId").data("kendoComboBox").enable(false);
            $("#StockTypeId").data("kendoComboBox").enable(false);
        }
    }
    function GetStockTypeList() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ListStockTypes", "FixAssetInventory")",
            data: { partId: $('#PartId').val(), rackId: $('#RackId').val() },
            traditional: true,
            success: function (result) {
                $("#StockTypeId").data("kendoComboBox").enable(true);
                var combobox = $("#StockTypeId").data("kendoComboBox");
                combobox.dataSource.data(result);
                combobox.dataSource.query();
                combobox.value("");
            },
            dataType: "json"
        });
    }
    function GetRackList() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ListRacks", "FixAssetInventory")",
            data: { partId: $('#PartId').val() },
            traditional: true,
            success: function (result) {
                $("#RackId").data("kendoComboBox").enable(true);
                var combobox = $("#RackId").data("kendoComboBox");
                combobox.dataSource.data(result);
                combobox.dataSource.query();
                combobox.value("");
                GetStockTypeList();
            },
            dataType: "json"
        });
    }
    $(document).ready(function () {
        $("#RackId").data("kendoComboBox").enable(false);
        $("#StockTypeId").data("kendoComboBox").enable(false);
        
        if ($('#RackId').val() == '') {
            $("#VehicleGroupId").data("kendoComboBox").text('');
            $("#EquipmentTypeId").data("kendoComboBox").text('');
            $("#RackId").data("kendoComboBox").text('');
            $("#StockTypeId").data("kendoComboBox").text('');
        }
        document.getElementById("IsPartOriginal").checked = true;
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
