@{
    ViewBag.Title = CommonUtility.GetResourceValue("FixAssetInventory_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.FixAssetInventory.FixAssetInventoryViewModel
 
    @if (!string.IsNullOrEmpty(@Model.PartName))
    {
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName) &nbsp;</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.StockTypeName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.StockTypeName) &nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.RackName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.RackName) &nbsp;</div>
        <div class="clearDiv">&nbsp;</div>
    }
    <div class="labelDiv">@Html.LabelFor(v => v.Code)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Code) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Name)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Name) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Unit)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Unit) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.SerialNo)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.SerialNo) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.Description) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleGroupName) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.EquipmentTypeName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StatusName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.StatusName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>

<div class="clearDiv">&nbsp;</div>
<br />




