@using ODMSCommon.Resources
@model ODMSModel.SparePartSale.SparePartSaleViewModel
<style type="text/css">
    #popupContent {
        width: auto !important;
    }
</style>
<div id="CustomerAddressModelWindowDiv">
    @(Html.Kendo().Window()
                                .Name("CustomerAddressModelWindow")
                             .Draggable()
                            .Resizable()
                            .Width(850)
                            .Height(350)
                            .Visible(false)
                            .Modal(true)
                            .Iframe(true)
                            .Events(ev => ev.Close(@"function(e){

}"))
    )
</div>
<body style="height: 500px">
    <link href="~/Style/Content.css" rel="stylesheet" />
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/custom.js"></script>
    @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(v => v.CustomerId)</div>
    <div>
        @if (Model.IsCustomerDealer)
        {
            @Html.DisplayFor(c => c.CustomerName)
            @Html.HiddenFor(c => c.CustomerId)
            @Html.HiddenFor(c => c.CustomerName)
        }
        else
        {
            @Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ReferenceObjectValue = Model != null ? Model.CustomerId : 0, ParentWindowId = "modelWindow", Required = true, SelectCallBackFunction = "RefreshAddressCombo", ClearCallBackFunction = "ClearAddressCombo" })
        }
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.VatExclude)</div>
    <div class="shortTxtDiv">

        @Html.Kendo().ComboBoxFor(v => v.VatExclude).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VatExcludeTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.VatExclude)

        @*@Html.Kendo().ComboBoxFor(v => v.SaleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SaleTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
            @Html.ValidationMessageFor(c => c.SaleTypeId)*@
    </div>
    <div class="shortTxtDiv" id="vatChanged" style="display:none;"><div class="btn btn-xs btn-danger">@Html.Raw(ODMSCommon.Resources.MessageResource.SparePartSale_Display_VatExemptionWarning)</div></div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.SaleTypeId)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.SaleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SaleTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.SaleTypeId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.SaleDate)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().DateTimePickerFor(v => v.SaleDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).Min(DateTime.Now).HtmlAttributes(new { type = "text" })
        @Html.ValidationMessageFor(v => v.SaleDate)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleName)</div>
    <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Vehicle, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Vehicle, ReferenceObjectId = "VehicleId", ClearCallBackFunction = null, SelectCallBackFunction = "selectVehicle", ParentWindowId = "modelWindow", Required = false, ReferenceObjectValue = Model == null ? null : Model.VehicleId, ReferenceObjectText = Model != null ? Model.VehicleName : string.Empty })</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(c => c.StockTypeId)
    @Html.HiddenFor(c => c.SaleStatusLookVal)
    @Html.HiddenFor(c => c.SparePartSaleId)
    <div class="clearDiv">&nbsp;</div>

</body>
<script src="~/Scripts/odms.objectsearch.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">

    function RefreshMasterGrid() {
        if ($('#SparePartSaleId').val() != '0') {
            if ('@ViewBag.IsCreate' == 'True') {
                parent.ShowTabs($('#SparePartSaleId').val(), true);
                parent.refreshGridAndselectRow(true);
                $('#SparePartSaleId').val('');
            }
        }
    }

     function GetVehicleVatExemption() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetVehicleExemption", "SparePartSale")",
            data: { vehicleId: $('#VehicleId').val() },
            traditional: true,
            success: function (json) {
                var combobox = $("#VatExclude").data("kendoComboBox");
                var oldVal = combobox.value();
                combobox.value(json);

                if (oldVal != json) {
                    $("#vatChanged").show();
                    setTimeout(function () { $("#vatChanged").hide(); }, 5000);
                }
            },
            dataType: "json"
        });
    }

    function selectVehicle() {
        GetVehicleVatExemption();
    }



    $(document).ready(function () {

        $("[name='action:SparePartSaleCreate'],[name='action:SparePartSaleUpdate']").on("click", function (e) {
            if ($("#VatExclude").val() == "1") {
                e.preventDefault();
                var formIsValid = $("#frmSparePartSale").valid();
                if (formIsValid) {
                    CustomConfirm(function () { $("#frmSparePartSale").submit(); }, "@MessageResource.Global_Display_Warning", "@MessageResource.SparePartSale_Display_VatExemptionWarning2", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
                }
            }
        });

        RefreshMasterGrid();
        $.mask.definitions['1'] = '[0-1]';

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>

