@model SparePartSaleViewModel
@using ODMSCommon.Resources
@using ODMSModel.SparePartSale
@{
    ViewBag.Title = MessageResource.SparePartSale_PageTitle_Index;
}
<style type="text/css">
    #searchFields .k-datepicker {
        padding: 0;
        width: 200px !important;
    }
</style>

<script src="~/Scripts/odms.objectsearch.js"></script>
<script type="text/javascript">
    function refreshGridAndselectRow(isSelected) {
        var grid = $('#grid').data('kendoGrid');
        grid.dataSource.read();
        if (isSelected)
            grid.element.find('tbody tr:first').addClass('k-state-selected');
    }
    function SparePartSaleSearch() {
        return {
            CustomerId: $('#CustomerId').val(),
            SaleStatusLookVal: $('#SaleStatusLookVal').val(),
            SaleTypeId: $('SaleTypeId').val(),
            InvoiceNo: $('#InvoiceNo').val(),
            InvoiceDate: $('#InvoiceDate').val(),
            WaybillNo: $('#WaybillNo').val(),
            WaybillDate: $('#WaybillDate').val(),
            PartCode: $('#PartCode').val(),
            PartName: $('#PartName').val()
        };
    }
    var SparePartSaleId = 0;
    function ShowTabs(id, ocp) {
        $("#modelWindow").data("kendoWindow").close(true);
        SparePartSaleId = id;
        $('#TabContent').html('');
        $('#divDetails').show();
        LoadTabContent('@Url.Action("SparePartSaleDetailIndex", "SparePartSaleDetail")', ocp);
    }
    function LoadTabContent(url, ocp) {
        $('#TabContent').html('');
        $.ajax({
            type: "GET",
            url: url,
            data: { id: SparePartSaleId, openCreatePopup: ocp },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#TabContent').html(result);
                $('#TabContent').show();
            },
            error: function (request, status, err) {
                //console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
    }


    $(document).ready(init);

    function SparePartSaleCollect(spsId) {
        $('#divDetails').hide();
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SparePartSaleCollect", "SparePartSale")",
                    data: { sparePartSaleId: spsId, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function(result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            $('#divDetails').hide();
                            SetSuccessMessage('@MessageResource.Global_Display_Success');
                        }
                    },
                    dataType: "json"
                });
            }, "@MessageResource.SparePartSale_Display_Collect",
            "@MessageResource.SparePartSale_Display_CollectConfirm",
            "@MessageResource.Global_Display_Yes",
            "@MessageResource.Global_Display_No");

    }

    function SparePartSaleCancelCollect(spsId) {
        $('#divDetails').hide();
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SparePartSaleCancelCollect", "SparePartSale")",
                    data: { sparePartSaleId: spsId, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function(result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            $('#divDetails').hide();
                            SetSuccessMessage('@MessageResource.Global_Display_Success');
                        }
                    },
                    dataType: "json"
                });
            }, "@MessageResource.SparePartSale_Display_Cancel",
            "@MessageResource.SparePartSale_Display_CancelConfirm",
            "@MessageResource.Global_Display_Yes",
            "@MessageResource.Global_Display_No");

    }
    String.format = function () {
        var s = arguments[0];
        for (var i = 0; i < arguments.length - 1; i++) {
            var reg = new RegExp("\\{" + i + "\\}", "gm");
            s = s.replace(reg, arguments[i + 1]);
        }

        return s;
    }
    function SparePartSaleCancel(spsId, sId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        var message = "@MessageResource.SparePartSale_Display_Cancel";
        var confirmMessage = "@MessageResource.SparePartSale_Display_CancelConfirm";

        if (sId == "4") // Invoiced
        {
            confirmMessage   = String.format("@Html.Raw(MessageResource.SparePartSale_Display_CancelInvoiced)", spsId);
            message = String.format("@Html.Raw(MessageResource.SparePartSale_Display_CancelInvoicedConfirm)", spsId);
        }
        if (sId == "3") // Waybilled
        {
            confirmMessage = String.format("@Html.Raw(MessageResource.SparePartSale_Display_CancelWaybilled)", spsId);
            message    = String.format("@Html.Raw(MessageResource.SparePartSale_Display_CancelWaybilledConfirm)", spsId);
        }
        CustomConfirm(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SparePartSaleCancel", "SparePartSale")",
                    data: { sparePartSaleId: spsId },
                    traditional: true,
                    success: function(result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            $('#divDetails').hide();
                            SetSuccessMessage('@MessageResource.Global_Display_Success');
                        }
                    },
                    dataType: "json"
                });
            }, message,
            confirmMessage,
            "@MessageResource.Global_Display_Yes",
            "@MessageResource.Global_Display_No");
    }

    function DeleteSparePartSale(spsId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSparePartSale", "SparePartSale")",
                data: { sparePartSaleId: spsId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    function init() {

        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

            $('#divDetails').hide();
        });

        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();
            var width = 0;
            var height = 0;
            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("SparePartSaleDetails", "SparePartSale", new { id = -1 })";
                link = link.replace("-1", clickedId);
                width = 500;
                height = 420;
            } else if ($(this).hasClass("edit")) {
                link = "@Url.Action("SparePartSaleUpdate", "SparePartSale", new { id = -1 })";
                link = link.replace("-1", clickedId);
                width = 1000;
                height = 410;
            } else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("SparePartSaleCreate", "SparePartSale")";
                width = 1000;
                height = 600;
            } else if ($(this).hasClass("invoice")) {
                $('#divDetails').hide();
                link = "@Url.Action("SparePartSaleCreateInvoice", "SparePartSale", new { sparePartSaleId = -1 })";
                link = link.replace("-1", clickedId);
                width = 1350;
                height = 700;
            } else if ($(this).hasClass("cancelCollect")) {
                $('#divDetails').hide();
                link = "@Url.Action("SparePartSaleCancelCollect", "SparePartSale", new { sparePartSaleId = -1 })";
                link = link.replace("-1", clickedId);
                width = 1200;
                height = 600;
            } else if ($(this).hasClass("waybill")) {
                $('#divDetails').hide();
                link = "@Url.Action("SparePartSaleCreateWaybill", "SparePartSale", new { sparePartSaleId = -1 })";
                link = link.replace("-1", clickedId);
                width = 1350;
                height = 700;
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            windowWidget.wrapper.css({ width: width, height: height });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
        });
    }
</script>

<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerId)</div>
        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ReferenceObjectValue = null, Required = true, SelectCallBackFunction = "" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.SaleStatusLookVal)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SaleStatusLookVal).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SaleStatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.SaleTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SaleTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SaleTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.InvoiceNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.InvoiceNo) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.InvoiceDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(v => v.InvoiceDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.WaybillNo)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.WaybillNo) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.WaybillDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(v => v.WaybillDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).HtmlAttributes(new { type = "text" })</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartCode)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartName)</div>
        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.SparePartSale.SparePartSaleIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("SparePartSale_PageTitle_Create"), CommonValues.PermissionCodes.SparePartSale.SparePartSaleCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<SparePartSaleListModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.SparePartSaleId).Width(30);
        columns.Bound(p => p.SparePartSaleId).ClientTemplate("<a class='loadTab' " +
                                                             "onclick='ShowTabs(#=SparePartSaleId#,false);' id='#=SparePartSaleId#'>" +
                                                             "<img class=iconLink src='" +
                                                             Url.Content("~/Images/tabs.png") + "'></a>")
                                                             .Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleDetails));
        columns.Bound(p => p.SparePartSaleId).ClientTemplate("<a class='details modalClick' " +
                                                             "id='#=SparePartSaleId#' frameTitle='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Details") +
                                                             "' href='/SparePartSale/SparePartSaleDetails/#=SparePartSaleId#'><img class=iconLink src='" +
                                                             @Url.Content("~/Images/view.png") + "'></a>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleDetails));
        columns.Bound(p => p.SparePartSaleId).ClientTemplate(
                                                                (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleCollect) ?
                                                                "#if(SaleStatusLookVal!=5 && DisplayCollectButton){#" +
                                                                "<a href='javascript:void(0);' frameTitle='" +
                                                                             MessageResource.SparePartSale_Display_Collect +
                                                                 "' title='" + CommonUtility.GetResourceValue("SparePartSale_Display_Collect") + "'" +
                                                                 " onclick='SparePartSaleCollect(#=SparePartSaleId#);'><img class='iconLink' style=\"width:20px; height:20px;\" src='" +
                                                                 Url.Content("~/Images/choose.ico") +
                                                                 "'/></a>#}#" : "")
                                                                 + "  " +
                                                                 (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleCancelCollect) ?
                                                                 "#if(SaleStatusLookVal!=5 && DisplayCancelCollectButton){#" +
                                                                 "<a class='cancelCollect modalClick' id='#=SparePartSaleId#' frameTitle='" +
                                                                 CommonUtility.GetResourceValue("SparePartSale_Display_CancelCollect") +
                                                                 "' title='" + CommonUtility.GetResourceValue("SparePartSale_Display_CancelCollect") + "'" +
                                                                 " href='/SparePartSale/SparePartSaleCancelCollect/#=SparePartSaleId#'><img class=iconLink src='" +
                                                                 @Url.Content("~/Images/select.png") +
                                                                 "'></a>#}#" : "")
                                                                 + "  " +
                                                                 (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleInvoice) ?
                                                                 "#if(SaleStatusLookVal!=5 && DisplayInvoiceButton){#" +
                                                                 "<a class='invoice modalClick' id='#=SparePartSaleId#' frameTitle='" +
                                                                 CommonUtility.GetResourceValue("SparePartSale_PageTitle_Invoice") +
                                                                 "' title='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Invoice") + "'" +
                                                                 " href='/SparePartSale/SparePartSaleInvoice/#=SparePartSaleId#'><img class=iconLink src='" +
                                                                 @Url.Content("~/Images/invoice.jpg") +
                                                                 "'></a>#}#" : "")
                                                                 + "  " +
                                                                 (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleWaybill) ?
                                                                 "#if(SaleStatusLookVal!=5 && DisplayWaybillButton){#" +
                                                                 "<a class='waybill modalClick' id='#=SparePartSaleId#' frameTitle='" +
                                                                 CommonUtility.GetResourceValue("SparePartSale_PageTitle_Waybill") +
                                                                 "' title='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Waybill") + "'" +
                                                                 " href='/SparePartSale/SparePartSaleWaybill/#=SparePartSaleId#'><img class=iconLink src='" +
                                                                 @Url.Content("~/Images/invoiceCopy.jpg") +
                                                                 "'></a>#}#" : "")
                                                                 ).Title(MessageResource.SparePartSaleOrder_Display_Operations).Width(150).Sortable(false);
        columns.Bound(p => p.SparePartSaleId).ClientTemplate("#if(SaleStatusLookVal!=4 && SaleStatusLookVal != 3 && DisplayCancelButton){#" +
                                                             "<a class='edit modalClick' id='#=SparePartSaleId#' " +
                                                             "frameTitle='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Update") + "' " +
                                                             "href='/SparePartSale/SparePartSaleUpdate/#=SparePartSaleId#'>" +
                                                             "<img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleUpdate));
        columns.Bound(o => o.SparePartSaleId).ClientTemplate("#if(DisplayCancelButton){#" +
                                                             "<a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Cancel") + "' " +
                                                             "onclick='SparePartSaleCancel(#=SparePartSaleId#,\"#=SaleStatusLookVal#\");'>" +
                                                             "<img class='iconLink' src='" + Url.Content("~/Images/passive.png") + "'/></a>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Cancel")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleCancel));
        columns.Bound(o => o.SparePartSaleId).ClientTemplate("#if(SaleStatusLookVal==0){#" +
                                                             "<a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("SparePartSale_PageTitle_Delete") + "' " +
                                                             "onclick='DeleteSparePartSale(#=SparePartSaleId#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a>" +
                                                             "#}#").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartSale.SparePartSaleDelete));
        columns.Bound(p => p.CustomerName).Width(100).Sortable(true);
        columns.Bound(p => p.InvoiceNo).Width(50).Sortable(true);
        columns.Bound(p => p.InvoiceDate).Format("{0:dd/MM/yyyy}").Width(50).Sortable(true);
        columns.Bound(p => p.WaybillNo).Width(50).Sortable(true);
        columns.Bound(p => p.WaybillDate).Format("{0:dd/MM/yyyy}").Width(50).Sortable(true);
        columns.Bound(p => p.SaleStatus).Width(60).Sortable(true);
        columns.Bound(p => p.SaleTypeName).Width(60).Sortable(true);
        columns.Container.NoRecordsTemplate.Html = "<div style='text-align:center'>" + MessageResource.Error_DB_NoRecordFound + "</div>";
    })
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .PageSize(10)
                                  .ServerOperation(true)
                                          .Read(read => read.Action("ListSparePartSales", "SparePartSale", Model).Data("SparePartSaleSearch"))
                                  .Model(model => model.Field(o => o.SparePartSaleId).DefaultValue(-1)))

    )
</div>

<div id="divDetails" style="display: none; margin-top: 20px;">
    @(Html.Kendo().TabStrip()
          .Name("Tabs")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.SparePartSaleDetail_PageTitle_Index)))
    <div id="TabContent" style="padding-left: 20px; display: none" class="k-content" role="tabpanel"></div>
</div>

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(1300)
    .Height(850)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         refreshGridAndselectRow(false);
    }"))
    )
</div>


