@model ODMSModel.CustomerAddress.CustomerAddressIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CustomerAddress_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CustomerAddressCreate", "CustomerAddress", FormMethod.Post))
{
    @Html.HiddenFor(v=>v.AddressId)

    <div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.CustomerName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AddressTypeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.AddressTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AddressTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.AddressTypeId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.CountryName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.CountryId).DataTextField("Text").DataValueField("Value").Events(ev =>ev.Change(@"function(e){CountrySelected();}")).BindTo(ViewBag.CountryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.CountryId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div id ="divDetail">
        <div class="labelDiv">@Html.LabelFor(v => v.CityName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.CityId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCities", "CustomerAddress").Data("GetCountryId")).ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("CountryId") 
                @Html.ValidationMessageFor(c => c.CityId)
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.TownName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.TownId).DataValueField("Value").DataTextField("Text").Events(e=>e.DataBound(@"function(e){CitySelected();}")).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListTowns", "CustomerAddress").Data("GetCityId")).ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("CityId") 
        </div>
        <div class="clearDiv">&nbsp;</div>
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.Address1)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Address1) @Html.ValidationMessageFor(v => v.Address1) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.Address2)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Address2) @Html.ValidationMessageFor(v => v.Address2) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Address3)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Address3) @Html.ValidationMessageFor(v => v.Address3) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.ZipCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ZipCode) @Html.ValidationMessageFor(v => v.ZipCode) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
   <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.CustomerId)
    @Html.HiddenFor(v => v.CustomerName)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.CustomerAddress.CustomerAddressCreate, "CustomerAddressCreate")
}

<script type="text/javascript">
    function CountrySelected() {
        $("#CityId").data("kendoComboBox").value('');
        $("#CityId").data("kendoComboBox").text('');
        $("#TownId").data("kendoComboBox").value('');
        $("#TownId").data("kendoComboBox").text('');
    }
    function CitySelected() {
        $("#TownId").data("kendoComboBox").value('0');
    }
    function GetCountryId() {
        $('#divDetail').show();
        return {
            id: $('#CountryId').val()
        };
    }
    function GetCityId() {
        return {
            id: $('#CityId').val()
        };
    }

    function setParentAddress() {
        if (parseInt(@Model.AddressId) != 0) {
            window.parent.SetAddress('@Model.AddressId', '@Model.AddressTypeId');
        }
        $("#AddressTypeId").data("kendoComboBox").value(@Model.AddressTypeId);
        $("#AddressTypeId").data("kendoComboBox").readonly(true);
    }

    $(document).ready(function () {
        if ('@Model.AddressTypeId' != '')
            setParentAddress();
        
        if ($('#CityId').val() == '') {
            $('#divDetail').hide();
            CountrySelected();
        }
        $("#CountryId").data("kendoComboBox").value('1');
        
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
