@{
    ViewBag.Title = CommonUtility.GetResourceValue("CustomerAddress_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.CustomerAddress.CustomerAddressIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CustomerName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AddressTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.AddressTypeName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.CountryName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CountryName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.CityName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CityName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.TownName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.TownName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Address1)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Address1) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Address2)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Address2) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Address3)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Address3) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ZipCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ZipCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<br />




