@using ODMSCommon.Security
@model ODMSModel.Schedule.ScheduleViewModel
@Html.AntiForgeryToken()

@Html.HiddenFor(v => v.AppointmentId)

<div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(UserManager.UserInfo.GetUserDealerId() == 0)</div>

<div class="labelDiv">@Html.LabelFor(v => v.AppointmentTypeId)</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.AppointmentTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AppointmentTypeList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose)@Html.ValidationMessageFor(v => v.AppointmentTypeId)</div>

<div class="labelDiv">@Html.LabelFor(v => v.CustomerId)</div>
<div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = ODMSCommon.Resources.MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ClearCallBackFunction = null, SelectCallBackFunction = null, Required = false, ReferenceObjectValue = Model == null ? null : Model.CustomerId, ParentWindowId = "modelWindow" })</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleId)</div>
<div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Vehicle, WindowTitle = ODMSCommon.Resources.MessageResource.ObjectSearch_WindowTitle_Vehicle, ReferenceObjectId = "VehicleId", ClearCallBackFunction = null, SelectCallBackFunction = "SetVehicleInfo", Required = false, ReferenceObjectValue = Model == null ? null : Model.VehicleId, ParentWindowId = "modelWindow" })</div>

<div class="labelDiv">@Html.LabelFor(v => v.VehicleModelCode)</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleModelCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VehicleModelList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose)</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleType)</div>
<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleType).DataValueField("Value").DataTextField("Text").Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).DataSource(source => source.Read(read => read.Action("ListVehicleTypes", "Appointment")
                             .Data("GetVehicleModelCode"))
                             .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("VehicleModelCode")
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehiclePlate)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehiclePlate, new { @onkeyup = "InputToUpperWithoutWhiteSpace(this);" })@Html.ValidationMessageFor(v => v.VehiclePlate)</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleColor)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.VehicleColor)@Html.ValidationMessageFor(v => v.VehicleColor)</div>

<div class="labelDiv">@Html.LabelFor(v => v.ContactName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactName)@Html.ValidationMessageFor(v => v.ContactName)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContactLastName)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactLastName)@Html.ValidationMessageFor(v => v.ContactLastName)</div>

<div class="labelDiv">@Html.LabelFor(v => v.ContactPhone)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactPhone)@Html.ValidationMessageFor(v => v.ContactPhone)</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContactAddress)</div>
<div class="shortTxtDiv">@Html.TextBoxFor(v => v.ContactAddress)@Html.ValidationMessageFor(v => v.ContactAddress)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AppointmentDate)</div>
<div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.AppointmentDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).Min(DateTime.Now).HtmlAttributes(new { type = "text" })@Html.ValidationMessageFor(v => v.AppointmentDate)</div>
<div class="labelDiv">@Html.LabelFor(v => v.AppointmentTime)</div>
<div class="shortTxtDiv">@Html.Kendo().TimePickerFor(v => v.AppointmentTime).Interval(15).Min(new TimeSpan(8, 0, 0)).Max(new TimeSpan(18, 0, 0))</div>
<div class="labelDiv">@Html.LabelFor(v => v.ComplaintDescription)</div>
<div class="shortTxtDiv">@Html.TextAreaFor(v => v.ComplaintDescription, new { @style = "resize:none; height:50px" })@Html.ValidationMessageFor(v => v.ComplaintDescription)</div>



@*<div class="labelDiv">@Html.LabelFor(v => v.OptionValue)</div>

@if (Model.OptionValue != null)
{
    if (Model.OptionValue == "2")
    {
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.OptionValue).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.OptionValueList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).HtmlAttributes(new { @disabled = "disabled" })</div>
    }
    else
    {
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.OptionValue).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.OptionValueList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose)@Html.ValidationMessageFor(v => v.OptionValue)</div>    
    }
}
else
{
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.OptionValue).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.OptionValueList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose)@Html.ValidationMessageFor(v => v.OptionValue)</div>
}*@


<div class="clearDiv">&nbsp;</div>



<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/odms.objectsearch.js"></script>

<script type="text/javascript">
    function GetVehicleModelCode() {
        return {
            vehicleModelCode: $('#VehicleModelCode').val()
        };
    }

    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

    $(document).ready(function () {
        $("#ContactPhone").mask("(999) 999 99 99", { placeholder: " " });
    });
    function SetVehicleInfo() {
        alert($("#VehicleId").val());
    }
</script>


