@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.Schedule
@model  ScheduleViewModel

@{
    ViewBag.Title = MessageResource.ScheduleViewModel_PageTitle_Index;
}

<div style="float: right; display: none;">
    <div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).Events(e => e.Select("onSelect")).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(UserManager.UserInfo.GetUserDealerId() == 0)</div>
</div>

@(Html.Kendo().Scheduler<ScheduleViewModel>()
          .Name("scheduler")
          .Date(DateTime.Today)
          .StartTime(DateTime.Today)
          .Timezone("Etc/UTC")
          .Selectable(true)
          .AllDayEventTemplate("<div class='edit'  noneAppId='#= NonAppId #' optionId='#= OptionValue #' id='#= AppointmentId #'  style='color:black; width:202px !important;' " +
          "title=' " + @MessageResource.Appointment_Display_VehiclePlate + " : #= VehiclePlate # " + @MessageResource.Appointment_Display_AppointmentType + " : #= AppointmentTypeName # " + @MessageResource.Appointment_Display_Qty + " : #= Qty #  '>" +
                                             "<p style='text-align:center;margin-right:17px;'>  #= LangCode =='TR' ? kendo.toString(start,'HH:mm') : kendo.toString(start,'hh:mm') # </p>" +
                               "</div>")
          .Height(700)
          .EventTemplate("<div class='edit'  noneAppId='#= NonAppId #' optionId='#= OptionValue #' id='#= AppointmentId #'  style='color:black; width:552px !important;' " +
                          "title=' " +
                          "<tr>" +
                              "<td>" + @MessageResource.Appointment_Display_VehiclePlate + " : </td>" + "<td>#= VehiclePlate != null ? VehiclePlate:'" + @MessageResource.Appointment_Display_Undefined + "' #  " + "</td>" +
                          "</tr>" +
                          "<tr>" +
                              "<td>" + @MessageResource.Appointment_Display_Customer + " : </td>" + "<td>#= CustomerName != null ? CustomerName :'" + @MessageResource.Appointment_Display_Undefined + "'  # " + "</dt>" +
                              "</tr>" +
                          "<tr>" +
                              "<td>" + @MessageResource.Vehicle_Display_VinNo + " : </td>" + "<td>#= VinNo  != null ?  VinNo : '" + @MessageResource.Appointment_Display_Undefined + "'# " + "</dt>" +
                              "</tr>" +
                          "<tr>" +
                              "<td>" + @MessageResource.Appointment_Display_DeliveryEstimateDate + " : </td>" + "<td>#= DeliveryEstimateDateString != null ?  DeliveryEstimateDateString :  '" + @MessageResource.Appointment_Display_Undefined + "' #" + "</dt>" +
                          "</tr>" +
                          "<p style='text-align:center;margin-right:17px;'>  #= LangCode =='TR' ? kendo.toString(start,'HH:mm') : kendo.toString(start,'hh:mm') # </p>" +
                            "</div>")
          .Views(views =>
          {
              views.DayView(c => c.DateHeaderTemplate("<span class='k-link k-nav-day'>#=kendo.toString(date, 'dd/MM/yyyy')#</span>").Title(@MessageResource.ScheduleViewModel_Display_Day));
              views.WeekView(c => c.DateHeaderTemplate("<span class='k-link k-nav-day'>#=kendo.toString(date, 'dd/MM/yyyy')#</span>").Title(@MessageResource.ScheduleViewModel_Display_Week).Selected(true));
              views.MonthView(c => c.Title(@MessageResource.ScheduleViewModel_Display_Month));
          })
          .Events(e => e.Remove("RemoveEvent"))
          .Editable(false)
          .Resources(resource => resource.Add(m => m.OptionValue)
                .Title("AppointmentOption")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataColorField("Color")
                .BindTo(new[] {
                    new { Text = "Appointment", Value = 1, Color = "#FFCC00" },
                    new { Text = "None Appointment", Value = 2, Color = "#CC3300" },
                    new { Text = "None", Value = 3, Color = "#778059" }
                }))
            .DataSource(d => d
            .Model(m => m.Id(f => f.AppointmentId))
            .Read("Read", "Scheduler"))
            .Messages(m =>
            {
                m.AllDay(@MessageResource.ScheduleViewModel_Display_AllDay);
                m.Today(@MessageResource.ScheduleViewModel_Display_Today);
            })
)

<table cellpadding="0" cellspacing="10px" class="alignable">
    <tr>
        <td style="margin-top: 1px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div style="margin-right: 3px; border: 1px solid #FFCC00; background-color: #FFCC00; height: 10px; width: 10px;"></div>
                    </td>
                    <td>
                        <p style="margin-top: 9px; font-weight: bold;">@MessageResource.Appointment_Display_AppointmentReserved </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div style="border: 1px solid #CC3300; background-color: #CC3300; height: 10px; width: 10px;"></div>
                    </td>
                    <td>
                        <p style="margin-top: 9px; font-weight: bold;">@MessageResource.Appointment_Display_AppointmentUnReserved </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div style="border: 1px solid #778059; background-color: #778059; height: 10px; width: 10px;"></div>
                    </td>
                    <td>
                        <p style="margin-top: 9px; font-weight: bold;">@MessageResource.Appointment_Display_AppointmentIndefinite </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


<style>
    .alignable {
        margin-left: 83%;
        font-family: Tahoma;
        font-size: 13px;
    }

    ul {
        list-style-type: none;
        font-size: 13px;
        font-family: Tahoma;
    }
</style>

<script src="~/Scripts/AjaxQueue.js"></script>

<script src="~/Scripts/Tooltipster/jquery.tooltipster.js"></script>
<script src="~/Scripts/Tooltipster/jquery.tooltipster.min.js"></script>
<link href="~/Style/Tooltipster/tooltipster.css" rel="stylesheet" />
<link href="~/Style/Tooltipster/tooltipster-shadow.css" rel="stylesheet" />

<script>
    var dealerId;
    var dateLast;
    var dateFirst;


    //Dealer Combo Change Oldugunda Read Çağrılır
    function onSelect(e) {
        var dataItem = this.dataItem(e.item.index());
        dealerId = dataItem.Value;

        $.ajaxq("testqueue", {
            type: "POST",
            cache: false,
            url: "@Url.Action("Read", "Scheduler")",
            data: { dealerId: dealerId },
            traditional: true,
            success: function () {
                var scheduler = $('#scheduler').data('kendoScheduler');
                scheduler.dataSource.read();
            },
            dataType: "json"
        });
    }

    //Event Silindiğinde  Read Çağrılır
    function RemoveEvent(e) {
        var IsDealer = "@ODMSCommon.Security.UserManager.UserInfo.IsDealer";
        if (e.event.OptionValue == "2" && e.event.NonAppId != null && IsDealer) {
            $.ajaxq("testqueue_Delete", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Destroy", "Scheduler")",
                data: { nonAppId: e.event.NonAppId },
                traditional: true,
                success: function () { },
                dataType: "json"
            });
        }
        else
            e.preventDefault();
    }

    $(document).ready(function () {

        $(".k-scheduler-footer a:first").trigger("click");

        //Scheduler Next butonuna basıldıgında Read Çağrılır
        $('.k-nav-next').click(function () {
            var dateStr = $(this).next().children().children().next().text();
            dateStr = dateStr.split('-');
            dateLast = dateStr[1].toString();

            $.ajaxq("testqueue_date", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Read", "Scheduler")",
                data: { dealerId: dealerId, nextToDate: dateLast },
                traditional: true,
                success: function () {
                    var scheduler = $('#scheduler').data('kendoScheduler');
                    scheduler.dataSource.read();
                },
                dataType: "json"
            });
        });

        //Scheduler Prev. butonuna basıldıgında Read Çağrılır
        $('.k-nav-prev').click(function () {
            var dateStr = $(this).next().next().children().children().next().text();
            dateStr = dateStr.split('-');
            dateFirst = dateStr[0].toString();

            $.ajaxq("testqueue_PrevDate", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Read", "Scheduler")",
                data: { dealerId: dealerId, nextToDate: dateLast, prevToDate: dateFirst },
                traditional: true,
                success: function () {
                    var scheduler = $('#scheduler').data('kendoScheduler');
                    scheduler.dataSource.read();
                },
                dataType: "json"
            });
        });

        //Scheduler Today butonuna basıldıgında Read Çağrılır
        $('.k-nav-today').click(function () {
            var d = new Date();
            var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + (d.getDate() - 1);

            $.ajaxq("testqueue_GetToday", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Read", "Scheduler")",
                data: { dealerId: dealerId, nextToDate: strDate },
                traditional: true,
                success: function () {
                    var scheduler = $('#scheduler').data('kendoScheduler');
                    scheduler.dataSource.read();
                },
                dataType: "json"
            });

        });

        //Default Page Load'da Read Çağrılır
        var d = new Date();
        var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + (d.getDate() - 1);

        $.ajaxq("testqueue_GetDate", {
            type: "POST",
            cache: false,
            url: "@Url.Action("Read", "Scheduler")",
            data: { dealerId: dealerId, nextToDate: strDate },
            traditional: true,
            success: function () {
                var scheduler = $('#scheduler').data('kendoScheduler');
                scheduler.dataSource.read();
            },
            dataType: "json"
        });

        //Scheduler Calendarda tarih seçildiğinde Read Çağrılır
        $("body").delegate(".k-scheduler-calendar  table tbody tr td", "click", function (e) {
            var date = $(this).children().attr("title");

            $.ajaxq("testqueue_CalendarDate", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Read", "Scheduler")",
                data: { calendarToDate: date },
                traditional: true,
                success: function () {
                    var scheduler = $('#scheduler').data('kendoScheduler');
                    scheduler.dataSource.read();
                },
                dataType: "json"
            });
        });

        //Scheduler Calendarda o gunun tarihi seçildiğinde Read Çağrılır
        $("body").delegate(".k-scheduler-calendar  .k-footer .k-nav-today", "click", function (e) {
            var date = $(this).attr("title");

            $.ajaxq("testqueue_GetFooterDate", {
                type: "POST",
                cache: false,
                url: "@Url.Action("Read", "Scheduler")",
                data: { dealerId: dealerId, nextToDate: strDate },
                traditional: true,
                success: function () {
                    var scheduler = $('#scheduler').data('kendoScheduler');
                    scheduler.dataSource.read();

                },
                dataType: "json"
            });

        });
    });
</script>

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
          .Name("modelWindow")
          .Title("Scheduler")
          .Draggable()
          .Width(1350)
          .Height(500)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){var scheduler = $('#scheduler').data('kendoScheduler');scheduler.dataSource.read();}"))
    )
</div>

<script>
    //Popup
    var currentCell;
    var url = document.URL.substr(0, document.URL.lastIndexOf('/'));

    //Create
    $("body").delegate(".k-scheduler-content table tbody tr td", "click", function (e) {

        var dealerInfo = "@ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId()";

        if (dealerInfo != 0) {
            $('#modelWindow').html('');
            e.preventDefault();
            currentCell = $(this);

            var scheduler = $('#scheduler').data('kendoScheduler');
            var startDate = scheduler._selection.start;
            var endDate = scheduler._selection.end;

            var startDateStr = startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear() + ' ' + startDate.getHours() + ':' + startDate.getMinutes();
            var endDateStr = endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear() + ' ' + endDate.getHours() + ':' + endDate.getMinutes();


            var link = url + "/ScheduleCreate/?startDate=" + startDateStr + "&endDate=" + endDateStr;

            $("#modelWindow_wnd_title").html("@MessageResource.ScheduleViewModel_Display_Create");

            var windowWidget = $("#modelWindow").data("kendoWindow");
            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
        }
    });

    //Update
    $("body").delegate(".k-event", "dblclick", function (e) {

        var dealerInfo = "@ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId()";
        var optionId = $(this).children().next().attr("optionId");
        var nonAppId = $(this).children().next().attr("noneappid");

        if (dealerInfo != 0 && optionId != 3) {
            if ((nonAppId != 'null' && optionId == 2) || optionId == 1) {
                $('#modelWindow').html('');
                e.preventDefault();
                currentCell = $(this);

                var appId = $(this).children().next().attr("id");

                var link = url + "/ScheduleUpdate/?appointmentId=" + appId + "&optionValue=" + optionId + "&nonAppId=" + nonAppId;

                $("#modelWindow_wnd_title").html("@MessageResource.ScheduleViewModel_Display_Update");

                var windowWidget = $("#modelWindow").data("kendoWindow");
                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
            }
        }
    });

</script>

<script>
    $(document).ready(function () {
        $("body").delegate(".k-event", 'mouseenter', function () {
            $('.edit').tooltipster({
                animation: 'fade',
                delay: 100,
                theme: 'tooltipster-default',
                touchDevices: false,
                trigger: 'hover',
                fixedWidth: '50px',
                maxWidth: 230,
                position: 'bottom',
                contentAsHTML: true
            });
        });
    });
</script>
