@using ODMSCommon.Resources
@model ODMSModel.DealerStartupInventoryLevel.DealerStartupInventoryLevelViewModel
@{
    ViewBag.Title = MessageResource.DealerStartupInventoryLevel_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("DealerStartupInventoryLevelUpdate", "DealerStartupInventoryLevel", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(b => b.DealerClassName)</div>
    <div class="shortTxtDiv">
        @Html.DisplayFor(b => b.DealerClassName)&nbsp;
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(b => b.PartCodeName)</div>
    <div class="shortTxtDiv">
        @Html.DisplayFor(b => b.PartName)&nbsp;
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.PackageQuantity)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.PackageQuantity)  </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(b => b.Quantity)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().NumericTextBoxFor(c => c.Quantity).Decimals(2).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", style = "width:200px" }).Spinners(false)
        @Html.ValidationMessageFor(v => v.Quantity)
    </div>
    <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>

    <div class="clearDiv">&nbsp;</div>
    <br />
    //@Html.HiddenFor(b => b.DealerClassId)
    @Html.HiddenFor(b => b.PartId)
    @Html.HiddenFor(b => b.PartName)
    @Html.HiddenFor(b => b.DealerClassName)
    @Html.HiddenFor(b => b.DealerClassCode)
    @Html.HiddenFor(b=>b.PackageQuantity)
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.DealerStartupInventoryLevel.DealerStartupInventoryLevelUpdate, "DealerStartupInventoryLevelUpdate")        
}

<script src="~/Scripts/jquery.maskedinput.js"></script>
 
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
