@using ODMSCommon.Security
@model ODMSModel.DealerGuaranteeRatio.DealerGuaranteeRatioIndexViewModel
@{
    ViewBag.Title = ViewBag.Title = ODMSCommon.Resources.MessageResource.DealerGuaranteeRatio_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("DealerGuaranteeRatioUpdate", "DealerGuaranteeRatio", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        @Html.ValidationMessageFor(c => c.IdDealer)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.GuaranteeRatio)</div>
        <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.GuaranteeRatio).Decimals(2).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.GuaranteeRatio)
    </div>

    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v=>v.IdDealer)
    <br />
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.DealerGuaranteeRatio.DealerGuaranteeRatioUpdate, "DealerGuaranteeRatioUpdate")
}

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    function GetDealerId() {
        return {
            IdDealer: $('#IdDealer').val()
        };
    }
    function GetCustomerId() {
        return {
            GuaranteeRatio: $('#GuaranteeRatio').val()
        };
    }
    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
