@{
    ViewBag.Title = MessageResource.WorkOrder_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
@using ODMSCommon.Resources
@using ODMSModel.WorkOrder
@model WorkOrderViewModel
@Html.ValidationSummary()
@using (Html.BeginForm("WorkOrderCreate", "WorkOrder", FormMethod.Post, new { id = "frmWorkOrderCreate" }))
{
     Html.RenderPartial("_WorkOrderEdit", Model);
     @Html.HiddenFor(c => c.FleetId)
     <input type="hidden" id="IsRejected" value="false"/>      
}
@ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("WorkOrder_Display_Save"), CommonValues.PermissionCodes.WorkOrder.WorkOrderCreate,"WorkOrderCreate",onClick:"return CheckFleet();",submit:false)  
<div id="AddFleetWindow" style="background-color: #EDF1F4 !important" class="hide" ></div>     
<div id="CustomerChangeWindow" style="background-color: #EDF1F4 !important" class="hide"></div>
<script type="text/javascript">
    var firstCustomerId =0 ;
    function CheckFleet() {
        DisableClicks();
        if ($("#IsRejected").val() == "true" || $("#FleetId").val() > 0) {
            ValidateCustomer();

            return false;
        }
        ClearFleetId();
        var data= {
            customerId: $("#CustomerId").val(),
            vehicleId:$("#VehicleId").val()
        }
        if (data.vehicleId.length == 0) {
            ShowWarningMessage("@MessageResource.WorkOrder_Message_SelectVehicle");
            EnableClicks();
            return false;
        }
        if (data.customerId.length == 0) {
            ShowWarningMessage("@MessageResource.WorkOrder_Message_SelectCustomer");
            EnableClicks();
            return false;
        }
        $.ajax({
            url: "@Url.Action("CheckFleet","WorkOrder")",
            type: "POST",
            data: data,
            dataType: "json",

        }).done(function(json) {
            if (json.applicableFleetId > 0) {
                ShowAddFleetWindow(json.applicableFleetId);
            } else if (json.applicableFleetId == "0") {
                SetFleetId(json.applicableFleetId);
                ValidateCustomer();
            }
        }).fail(function() {
            SetErrorMessage("@MessageResource.Global_Display_Error")
        });

        return false;
    }
    function SetFleetId(fleetId) {
        $("#FleetId").val(fleetId);
    }
    function ClearFleetId() {
        $("#FleetId").val('0');
        $("#IsRejected").val("false");
    }
    function ShowAddFleetWindow(fleetId) {
        $('#AddFleetWindow').kwnd('@Url.Action("ShowFleetInfo")/' +fleetId , '@Html.Raw(MessageResource.WorkOrderCard_Display_FleetInfo)',
        {
            iframe: false,
            width: 960,
            height: 350,
            onClose: function () {
                $("#AddFleetWindow").html('');
                $("#frmWorkOrderCreate").submit();
            }
        });
        $('#AddFleetWindow').removeClass("hide");
        OpenWindow($('#AddFleetWindow'));
    }
    function RejectFleet() {
        var wnd = $('#AddFleetWindow').data("kendoWindow");
        if (wnd) wnd.close();
        $("#IsRejected").val("true");
    }

    function ValidateCustomer() {

        GetVehicleCustomerId();

    }

    function GetVehicleCustomerId() {
        $.ajax({
            url: "@Url.Action("GetVehicleCustomerId","WorkOrder")",
            type: "POST",
        data: {vehicleId:$("#VehicleId").val()},
        dataType: "json",

        }).done(function(json) {
            if (json != $("#CustomerId").val() && json!=0) {
                OpenCustomerChangeWindow(json);
            }
            else {
                var $form = $("#frmWorkOrderCreate");
                if ($form.valid()) {
                    $form.submit();
                }
                else {
                    EnableClicks();
                }
            }
        }).fail(function() {
            SetErrorMessage("@MessageResource.Global_Display_Error");
        });
    }
    function DisableClicks() {
        $(".btn, a.k-link, .k-button").not(".k-window-action").addClass("disabled");
        $(".k-link").css({ opacity: "0.7" });
        $("#Create").attr("disabled", "disabled");
        $("#Create").val("@Html.Raw(MessageResource.Please_Waiting)");
    }

    function EnableClicks() {
        $(".btn, a.k-link, .k-button").removeClass("disabled");
        $(".k-link").css({ opacity: "1" });
        $("#Create").removeAttr("disabled");
        $("#Create").val("@Html.Raw(MessageResource.WorkOrder_Display_Save)");
    }
    function OpenCustomerChangeWindow(vehicleCustomerId) {
        $('#CustomerChangeWindow').kwnd('@Url.Action("OpenCustomerChange")?customerId=' + $("#CustomerId").val() + '&vehicleCustomerId=' + vehicleCustomerId, '@Html.Raw(MessageResource.Global_Display_Warning)',
         {
             iframe: false,
             width: 800,
             height: 250,
             onClose: function () {
                 $("#CustomerChangeWindow").html('');
             }
         });
        $('#CustomerChangeWindow').removeClass("hide");
        OpenWindow($('#CustomerChangeWindow'));
    }

    function CloseCustomerChangeWindow() {
        $('#CustomerChangeWindow').html('');
        var wnd = $('#CustomerChangeWindow').data("kendoWindow");
        if (wnd) wnd.close();
    }

    function SetWorkOrderCustomer(id) {
        $("#CustomerId").val(id);
        CloseCustomerChangeWindow();
        var $form = $("#frmWorkOrderCreate");
        if ($form.valid()) {
            $form.submit();
        }
        else {
            EnableClicks();
        }
    }

</script>

