@using ODMSCommon.Resources
@model ODMSModel.UserRole.UserRoleViewModel

@{
    ViewBag.Title = MessageResource.UserRoles_PageTitle_Index;
}
<script type="text/x-kendo-tmpl" id="RoleItemTemplate">
    <div class="ListItemText">
        <span data-roleid=#:Value#>#:Text#</span>
    </div>
</script>

@Html.AntiForgeryToken()
<div>
    <div class="labelDiv">
        @Html.Label(@MessageResource.UserRoles_Display_SelectUser)
    </div> 
    <div class="shortTxtDiv">
         @(Html.Kendo().ComboBox()
          .HtmlAttributes(new{@style="width:300px;"})
          .Name("UserId")
          .Placeholder(CommonUtility.GetResourceValue("UserRoles_Display_SelectUser"))
          .BindTo(Model.UserList)
          .DataTextField("Text")
          .DataValueField("Value")
          .Events(e => e.Change("SelectedUserChanged"))
          
          )
    </div>
    <div class="clearfix"></div>
</div>
<div id="roles-wrapper" style="width:700px; margin-left: 30px;">
        <div style="float:left;width:280px;">
        <h4>
            @MessageResource.UserRoles_Display_RolesExcluded
        </h4>
        @(Html.Kendo().ListView<ODMSModel.Common.ComboBoxModel>()
              .Name("lstRolesNotIncludedInUser")
              .Selectable(v=>v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("RoleItemTemplate")
              .TagName("div")
              .DataSource(ds => ds.Read(read =>
                  read.Action("ListRolesNotIncludedInUser", "UserRole").Data("GetSelectedUserId")))
              .HtmlAttributes(new{@style="height:200px; overflow:auto;"})    
              )
    </div>
    <div style="float:left; width:140px; margin-top: 40px;">
        <div style="text-align: center; margin-top:10px;">
            @ODMSHelpers.LinkButton("btnAdd", "&raquo;", "", "arrow-btn", "","")
        </div>
        <div style="text-align: center; margin-top: 10px;">
            @ODMSHelpers.LinkButton("btnRemove", "&laquo;", "", "arrow-btn", "","")
        </div>
    </div>
    
    <div style="float:left; width:280px">
        <h4>
            @MessageResource.UserRoles_Display_RolesIncluded
        </h4>
        @(Html.Kendo().ListView<ODMSModel.Common.ComboBoxModel>()
              .Name("lstRolesIncludedInUser")
              .Selectable(v=>v.Mode(ListViewSelectionMode.Multiple))
              .ClientTemplateId("RoleItemTemplate")
              .TagName("div")
              .HtmlAttributes(new{@style="height:200px; overflow:auto;"})
              .DataSource(ds => ds.Read(read =>
                  read.Action("ListRolesIncludedInUser", "UserRole").Data("GetSelectedUserId"))))
    </div>
    
 <div class="clearfix" style="margin-bottom: 15px;"></div>
  @ODMSHelpers.LinkButton("btnSave", @MessageResource.Global_Display_Save, "", "", "","") 
</div>





@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#roles-wrapper').hide();
            $('#btnAdd').click(AddRoleHandler);
            $('#btnRemove').click(RemoveRoleHandler);
            $('#btnSave').click(SaveRolesHandler);
        });

        function SelectedUserChanged() {
            if (GetSelectedUserId() != 0) {
                $('#roles-wrapper').show();
                var includedRolelist = $("#lstRolesIncludedInUser").data("kendoListView");
                var notIncludedRolelist = $("#lstRolesNotIncludedInUser").data("kendoListView");

                includedRolelist.dataSource.read();
                notIncludedRolelist.dataSource.read();
            } else {
                $('#roles-wrapper').hide();
            }
        }

        function GetSelectedUserId() {
            return { userId: $('#UserId').val() };
        }

        function AddRoleHandler() {
            $(".k-state-selected", "#lstRolesNotIncludedInUser").each(function(i, e) {
                $("#lstRolesIncludedInUser").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function RemoveRoleHandler() {
            $(".k-state-selected", "#lstRolesIncludedInUser").each(function(i, e) {
                $("#lstRolesNotIncludedInUser").append($(e).clone()).html();
                $(e).remove();
            });
        }

        function SaveRolesHandler() {
            var userId = parseInt($('#UserId').val());
            if (userId == 0) {
                SetErrorMessage('@MessageResource.UserRoles_Display_SelectUser');
                return;
            }
            var includedRoleIds = [];
            $("#lstRolesIncludedInUser").children().each(function(i, e) {
                var roleId = $("span", e).data("roleid");
                includedRoleIds[i] = roleId;
            });
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save","UserRole")",
                data: { RoleId: userId, PermissionIdList: includedRoleIds, "__RequestVerificationToken": token },
                traditional: true,
                success: function(result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else
                        SetSuccessMessage(result.Message);
                },
                dataType: "json"
            });


        }
    </script>
}
