@model ODMSModel.AppointmentDetailsMaintenance.AppointmentDetailsMaintenanceViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentDetailsMaint_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("AppointmentDetailsMaintenanceCreate", "AppointmentDetailsMaintenance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="labelDiv">@Html.LabelFor(v => v.MaintId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MaintId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.MSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(d => d.AppIndicId)

    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.AppointmentIndicatorMaint.AppointmentIndicatorMaintCreate, "AppointmentDetailsMaintenanceCreate")
    
}
<script>
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 200);
    });
</script>