@using ODMSCommon.Resources
@using ODMSModel.AppointmentDetailsMaintenance
@model AppointmentDetailsMaintenanceViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentDetailsMaint_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div class="clearDiv">&nbsp;</div>

    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.MaintId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MaintId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.MSelectList as List<SelectListItem>).Enable(false).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        @ODMSHelpers.LinkButton("btnDelete", "Sil", "Create", "", CommonUtility.GetResourceValue("AppointmentDetailsMaint_PageTitle_Create"), null)
    </div>

@if (Model.MaintId==null)
{
    @ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickAppDetailMaint createNewAppDetailMaint", CommonUtility.GetResourceValue("AppointmentDetailsMaint_PageTitle_Create"), CommonValues.PermissionCodes.AppointmentIndicatorMaint.AppointmentIndicatorMaintCreate)  
    <script>
        $("#searchFields").hide();
    </script>
}

<script>
    function SearchAppIndicMaint() {
        return {
            MaintId: $('#MaintId').val()
        };
    }
    $("#btnDelete").click(function() {
        var maintId = $('#MaintId').val();
        DeleteAppointmentDetailsMaintenance(maintId,@Model.AppIndicId);
    });
    $(document).ready(function () {
        $("body").delegate(".modalClickAppDetailMaint", "click", function (e) {
            $('#modelWindowAppDetailMaint').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            var width = "950";
            var height = "350";
            if ($(this).hasClass("createNewAppDetailMaint")) {
                link = "@Url.Action("AppointmentDetailsMaintenanceCreate", "AppointmentDetailsMaintenance", new { AppIndicId = Model.AppIndicId })";
                height = "200";
            }
            if ($(this).hasClass("deleteAppDetailMaint")) {
                var maintId = $('#MaintId').val();
                DeleteAppointmentDetailsMaintenance(maintId,@Model.AppIndicId);
                return;
            }
            if ($(this).hasClass("changepart")) {
                link = "@Url.Action("ChangePart", "AppointmentDetailsMaintenance", new { AppIndPartId = -1 })";
                link = link.replace("-1", clickedId);
                height = "355";
            }
            $("#modelWindowAppDetailMaint_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowAppDetailMaint").data("kendoWindow");
            windowWidget.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

    });
    function DeleteAppointmentDetailsMaintenance(MaintId, AppIndicId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAppointmentDetailsMaintenance", "AppointmentDetailsMaintenance")",
                data: { MaintId: MaintId, AppIndicId: AppIndicId ,"__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        SetSuccessMessage(result.Message);
                        onClose();
                    }
                },
                dataType: "json"
            });
        });
    }
    function onDataBoundAppDetMaint(arg) {
        var data = $("#AppDetailMaintGrid").data("kendoGrid").dataSource.data();
        $.each(data, function (i, row) {
            if (row.IsRemoved) {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#FE2E2E");
                $('tr[data-uid="' + row.uid + '"] td:first-child').find('a').attr('onClick', 'AddRecord(' + row.LabourPartId + ','+row.ObjType+')');
            } else {
                $('tr[data-uid="' + row.uid + '"]').css("background-color", "#32cd32");
                $('tr[data-uid="' + row.uid + '"] td:first-child').find('img').attr('src', '@Url.Content("~/Images/delete.png")');
                $('tr[data-uid="' + row.uid + '"] td:first-child').find('a').attr('onClick', 'DeleteRecord(' + row.LabourPartId + ',' + row.ObjType + ')');
            }
            if (row.ObjType==2) {
                $('tr[data-uid="' + row.uid + '"] td:nth-child(2)').html('');
            }
            if (row.IsMust) {
                $('tr[data-uid="' + row.uid + '"] td:first-child').html('');
            }
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowAppDetailMaint")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close("onClose"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<AppointmentDetailsMaintenanceListModel>()
          .Name("AppDetailMaintGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.MaintId).ClientTemplate("<center><a class='loadclss'><img width='16px' height='16px' class=iconLink src='" + @Url.Content("~/Images/add.png") + "'></a></center>").Title(MessageResource.AppointmentDetailsMaint_Display_AddRemove).Width(50).Sortable(false);
                  columns.Bound(p => p.LabourPartId).ClientTemplate("<center><a id=#=LabourPartId# class='changepart modalClickAppDetailMaint'><img class=iconLink src='" + @Url.Content("~/Images/wheel.png") + "'></a></center>").Title(MessageResource.AppointmentDetailsMaint_PageTitle_ChangePart).Width(50).Sortable(false);
                  columns.Bound(p => p.Name).Width(100).Sortable(true);
                  columns.Bound(p => p.Quantity).Width(110).Sortable(true);
                  columns.Bound(p => p.Type).Width(150).Sortable(true);
                  columns.Bound(p => p.ObjType).Visible(false);
                  columns.Bound(p => p.LabourPartId).Visible(false);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .Events(e => e.DataBound("onDataBoundAppDetMaint"))
           
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListAppointmentDetailsMaintenance", "AppointmentDetailsMaintenance", Model).Data("SearchAppIndicMaint"))
                                        .Model(model => model.Field(o => o.MaintId).DefaultValue(-1)))

          )
</div>
<script>
    function ChangePart(val) {
        alert(val);
    }

    function AddRecord(id,objType) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        AddConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAppDetailLabourAndPart", "AppointmentDetailsMaintenance")",
                data: { LabourPartId: id, ObjType: objType, "__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppDetailMaintGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
    function DeleteRecord(id,objType) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAppDetailLabourAndPart", "AppointmentDetailsMaintenance")",
                data: { LabourPartId: id, ObjType: objType,"__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppDetailMaintGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
