@using ODMSCommon.Resources
@model ODMSModel.Proficiency.ProficiencyDetailModel
@{
    ViewBag.Title = MessageResource.Proficiency_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("ProficiencyCreate", "Proficiency", FormMethod.Post))
{
    <div id="tagCodeDiv" class="labelDiv" style="position: absolute; margin-top: 10px; width: 100px">@Html.LabelFor(d => d.ProficiencyCode)</div>
    <div id="txtCodeDiv" class="shortTxtDiv" style="position: absolute; margin-top: 10px; margin-left: 100px;">
        @Html.TextBoxFor(d => d.ProficiencyCode)
        @Html.ValidationMessageFor(d => d.ProficiencyCode)
    </div>
    
    <div id="tagNameDiv" class="labelDiv" style="width: 100px; margin-top: 50px;">@Html.LabelFor(d => d.ProficiencyName)</div>
    <div id="txtNameDiv" class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 50px; width: 100px">
        @{
            Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model == null ? string.Empty : Model.MultiLanguageContentAsText, IsEnabled = true });
            @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
        }
    </div>
    
    <div id="tagDescriptionDiv" class="labelDiv" style="position: absolute; margin-top: 160px; width: 100px">@Html.LabelFor(d => d.Description)</div>
    <div id="txtDescriptionDiv" class="shortTxtDiv" style="margin-left: 100px; position: absolute; margin-top: 160px;">
        @Html.TextBoxFor(d => d.Description)
        @Html.ValidationMessageFor(d => d.Description)
    </div>
    
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.Proficiency.ProficiencyCreate, "ProficiencyCreate")        
}

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });
    
    function adjustPage() {
        $("#popupContent").css("width", 440);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 450);
    }

    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "220px");
        $("#Create").css("margin-left", "-100px");
        $("#Create").css("width", "75px");
        
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-left", "-77px");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-top", "80px");
    }
</script>