@using ODMSCommon.Resources
@using ODMSModel.Proficiency

@model ProficiencyIndexModel
@{
    ViewBag.Title = @MessageResource.Proficiency_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.ProficiencyCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.ProficiencyCode) </div>
        <div class="labelDiv">@Html.LabelFor(b => b.ProficiencyName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.ProficiencyName) </div>
        <div class="labelDiv">@Html.LabelFor(b => b.Description)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.Description) </div>
    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.Proficiency.ProficiencyIndex)
@ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.Proficiency_PageTitle_Create, CommonValues.PermissionCodes.Proficiency.ProficiencyCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ProficiencyListModel>()
          .Name("grid")
          .Columns(columns =>
              {
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a class='details modalClick' id='#=ProficiencyCode#' frameTitle='" + MessageResource.Proficiency_PageTitle_Details + "' href='/Proficiency/ProficiencyDetails/#=ProficiencyCode#'><img class='iconLink' src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(MessageResource.Global_Display_View).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proficiency.ProficiencyDetails));
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a class='edit modalClick' id='#=ProficiencyCode#' frameTitle='" + MessageResource.Proficiency_PageTitle_Update + "' href='/Proficiency/ProficiencyUpdate/#=ProficiencyCode#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(MessageResource.Global_Display_Update).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proficiency.ProficiencyUpdate));
                  columns.Bound(b => b.ProficiencyCode).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.Proficiency_PageTitle_Delete + "' onclick='DeleteProficiency(\"#=ProficiencyCode#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(MessageResource.Global_Display_Delete).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Proficiency.ProficiencyDelete));
                  columns.Bound(b => b.ProficiencyCode).Width(200).Sortable(true);
                  columns.Bound(b => b.ProficiencyName).Width(200).Sortable(true);
                  columns.Bound(b => b.Description).Width(200).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListProficiencies", "Proficiency", Model).Data("Search")))
          )

</div>

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
        .Title("Proficiency")
        .Draggable()
        .Resizable()
        .Width(450)
        .Height(400)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
    )
</div>

@section Scripts
{
    <script>
        $(function () {
            RegisterEventHandlers();
        });

        function RegisterEventHandlers() {
            $("body").delegate("#showSearch", "click", function () {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html('@MessageResource.Global_Display_Search_Criteria');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });

            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("ProficiencyDetails", "Proficiency", new { proficiencyCode = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("ProficiencyUpdate", "Proficiency", new { proficiencyCode = -1 })";
                    link = link.replace("-1", clickedId);
                }
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("ProficiencyCreate", "Proficiency")";
                }

                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
                
            });
        }

        function Search() {
            return {
                ProficiencyCode: $("#ProficiencyCode").val(),
                ProficiencyName: $("#ProficiencyName").val(),
                Description: $("#Description").val()
            };
        }
        
        function DeleteProficiency(code) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProficiencyDelete","Proficiency")", 
                    data: { proficiencyCode: code, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }

    </script>
}
