@using ODMSCommon.Resources
@using ODMSModel.WorkOrderPicking

@model WorkOrderPickingViewModel
@{
    ViewBag.Title = @MessageResource.WorkOrderPicking_PageTitle_Index;
}
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(b => b.Status)</div>
        @*<div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(p => p.StatusId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SLWOPicking as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose) </div>*@

        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.StatusIds).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.SLWOPicking as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>



        <div class="labelDiv">@Html.LabelFor(b => b.WorkOrderPlate)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(b => b.WorkOrderPlate, new { @onkeyup = "InputToUpperWithoutWhiteSpace(this);" }) </div>

        <div class="labelDiv">@Html.LabelFor(b => b.IsReturn)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(p => p.IsReturn).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SLWOIsReturn as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose) </div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(b => b.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(p => p.StartDate).Format("{0:dd/MM/yyyy}").Events(e => e.Open("OpenStartDate").Change("OpenEndDate")).HtmlAttributes(new { type = "text" }) </div>

        <div class="labelDiv">@Html.LabelFor(b => b.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(p => p.EndDate).Format("{0:dd/MM/yyyy}").Events(e => e.Open("OpenEndDate").Change("OpenStartDate")).HtmlAttributes(new { type = "text" })</div>

        <div class="labelDiv">@Html.LabelFor(b => b.No)</div>
        @Html.Kendo().NumericTextBoxFor(p => p.No).Spinners(false).Format("#").Min(1).HtmlAttributes(new { type = "text" })

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.CustomerId)</div>
        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel { ObjectSearchType = CommonValues.ObjectSearchType.Customer, WindowTitle = ODMSCommon.Resources.MessageResource.ObjectSearch_WindowTitle_Customer, ReferenceObjectId = "CustomerId", ClearCallBackFunction = "", SelectCallBackFunction = "", Required = false, ReferenceObjectValue = Model.CustomerId, ParentWindowId = "" })</div>
        
         <div class="labelDiv">@Html.LabelFor(d => d.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartCode) </div>

        <div class="labelDiv">@Html.LabelFor(d => d.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartName) </div>
    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", null)

@Html.HiddenFor(c => c.PartSaleId)
@Html.HiddenFor(c => c.IsReturn)
@Html.HiddenFor(c => c.StatusId)
@Html.HiddenFor(c => c.WorkOrderPickingId)
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<WorkOrderPickingListModel>()
          .Name("gridMST")
          .Columns(columns =>
              {
                  columns.Bound(p => p.WorkOrderPickingId).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(\"#=WorkOrderPickingId#\",#=StatusId#,#=IsReturn#)' id='#=WorkOrderPickingId#'><img class=iconLink src='" + @Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(50).Sortable(false);
                  columns.Bound(p => p.WorkOrderPickingId).ClientTemplate("#if(IsReturn){#" +
                      "<center><a onClick='GenerateReturnReport(#=WorkOrderPickingId#)' frameTitle='" + @CommonUtility.GetResourceValue("DeliveryGoodsPlacement_Display_Form") + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/form.ico") + "'></a></center>" +
                      "#}else{#" +
                      "<center><a onClick='GenerateReport(#=WorkOrderPickingId#)' frameTitle='" + @CommonUtility.GetResourceValue("DeliveryGoodsPlacement_Display_Form") + "' href='javascript:void(0);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/form.ico") + "'></a></center>" +
                      "#}#").Title(CommonUtility.GetResourceValue("DeliveryGoodsPlacement_Display_Form")).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkOrderPicking.WorkOrderPickingIndex)).Width(50);
                  columns.Bound(b => b.No).Width(70).Sortable(true);
                  columns.Bound(b => b.WorkOrderPlate).Width(300).Sortable(true);
                  columns.Bound(b => b.Status).Width(90).Sortable(true);
                  columns.Bound(b => b.IsReturnS).Width(80).Sortable(true);
                  columns.Bound(b => b.OrderSource).Width(100).Sortable(true);
                  columns.Bound(b => b.CreateDate).Format("{0:dd/MM/yyyy}").Width(150).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListWorkOrderPicking", "WorkOrderPicking", Model).Data("SearchWOPicking"))
                                        .Model(model => model.Field(b => b.WorkOrderPickingId).DefaultValue(-1)))
          )

</div>

<br />
<div id="divDetails">
    @(Html.Kendo().TabStrip()
          .Name("TabWorkOrderPickignDetail")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.WorkOrderPickingDet_PageTitle_Index).LoadContentFrom(Url.Action("WorkOrderPickingDetailIndex", "WorkOrderPickingDetail"))))
</div>
<script src="~/Scripts/odms.objectsearch.js"></script>

<script>
    function GenerateReport(value) {
        var url = "@Url.Action("PrintSparePartPickingReport", "WorkOrderPicking", new { woPickingId = -1 })";
        url = url.replace("-1", value);
        window.open(url, '_blank');
        $('#divDetails').hide();
        var grid = $('#gridMST').data('kendoGrid');
        grid.dataSource.page(1);
    }

    function GenerateReturnReport(value) {
        var url = "@Url.Action("PrintReturnSparePartPickingReport", "WorkOrderPicking", new { woPickingId = -1 })";
        url = url.replace("-1", value);
        window.open(url, '_blank');
        $('#divDetails').hide();
        var grid = $('#gridMST').data('kendoGrid');
        grid.dataSource.page(1);
    }

    function loadTabs(wopMSTId, statusId, isReturn) {
        if (statusId == 2) {
            $("#acsDiv").hide();
        } else {
            $("#acsDiv").show();
        }

        var tabStrip = $('#TabWorkOrderPickignDetail').kendoTabStrip().data("kendoTabStrip");
        var wopTab = tabStrip.contentElements[0];
        $(wopTab).html('');

        $.ajax({
            type: "GET",
            url: '@Url.Action("WorkOrderPickingDetailIndex", "WorkOrderPickingDetail")',
            async: false,
            data: { id: wopMSTId, statusId: statusId, isReturn: isReturn },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(wopTab).html(result);
                tabStrip.select(0);
            },
            error: function (request, status, err) {
                alert(status);
                alert(err);
            },
            dataType: "html"
        });

        $('#divDetails').show();
    }

    function OpenStartDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");

        if ($("#EndDate").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#StartDate").data("kendoDatePicker");
        var dateEnd = $("#EndDate").data("kendoDatePicker");

        if ($("#StartDate").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }
    $(document).ready(function () {
        if ('@Model.PartSaleId' != '') {
            loadTabs('@Model.WorkOrderPickingId', '@Model.StatusId', '@Model.IsReturn');
        } else {
            $('#divDetails').hide();
        }
    });
    $(function () {
        RegisterEventHandlers();

    });

    function RegisterEventHandlers() {
        //$('#divDetails').show();
        $('#StartDate').prop("readonly", true);
        $('#EndDate').prop("readonly", true);
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            } else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#gridMST').data('kendoGrid');
            grid.dataSource.page(1);

        });
    }

    function SearchWOPicking() {
        return {
            PartSaleId: $("#PartSaleId").val(),
            StatusIds: $("#StatusIds").data('kendoMultiSelect').value().toString(),
            WorkOrderPlate: $("#WorkOrderPlate").val(),
            StartDate: $("#StartDate").val(),
            EndDate: $("#EndDate").val(),
            IsReturn: $("#IsReturn").val(),
            No: $("#No").val(),
            CustomerId: $("#CustomerId").val(),
            PartName: $("#PartName").val(),
            PartCode: $("#PartCode").val()
    };
    }
    
</script>

