@using ODMSCommon.Resources
@using ODMSModel.VehicleGroup
@model VehicleGroupListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleGroup_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleGroupId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VehicleGroupList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.AdminDesc) </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", ODMSCommon.CommonValues.PermissionCodes.VehicleGroup.VehicleGroupIndex)
<script>

    function Search() {
        return {
            IsActiveSearch: $("#IsActiveSearch").val(),
            VehicleGroupId: $("#VehicleGroupId").val(),
            AdminDesc: $("#AdminDesc").val()
        };
    }
    $(document).ready(function () {
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html("@MessageResource.Global_Display_Hide_Search_Criteria");
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("VehicleGroupUpdate", "VehicleGroup", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("details") == true) {
                link = "@Url.Action("VehicleGroupDetails", "VehicleGroup", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteVehicleGroup(vehicleGroupId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("VehicleGroupDelete", "VehicleGroup")",
                data: { id: vehicleGroupId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<VehicleGroupListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.VehicleGroupId).ClientTemplate("<center><a class='details modalClick' id='#=VehicleGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleGroup_PageTitle_Details") + "' href='/VehicleGroup/VehicleGroupDetails/#=VehicleGroupId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleGroup.VehicleGroupDetails));
                  columns.Bound(p => p.VehicleGroupId).ClientTemplate("<center><a class='edit modalClick' id='#=VehicleGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleGroup_PageTitle_Update") + "' href='/VehicleGroup/VehicleGroupUpdate/#=VehicleGroupId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleGroup.VehicleGroupUpdate));
                  columns.Bound(o => o.VehicleGroupId).ClientTemplate("<center><a onclick='DeleteVehicleGroup(#=VehicleGroupId#)' href='javascript:void(0);' id='#=VehicleGroupId#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleGroup_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleGroup.VehicleGroupDelete));
                  columns.Bound(p => p.VehicleGroupName).Width(400).Sortable(true);
                  columns.Bound(p => p.AdminDesc).Width(600).Sortable(true);
                  columns.Bound(p => p.IsActiveS).Sortable(true);

              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVehicleGroup", "VehicleGroup", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.VehicleGroupId).DefaultValue(-1)))

          )
</div>
