@model ODMSModel.VehicleGroup.VehicleGroupIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleGroup_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<link href="~/Style/bootstrap.css" rel="stylesheet" />
 

@using (Html.BeginForm("VehicleGroupDelete", "VehicleGroup", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc) </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive) </div>
    @Html.HiddenFor(v => v.VehicleGroupId)
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), ODMSCommon.CommonValues.PermissionCodes.VehicleGroup.VehicleGroupDelete, "VehicleGroupDelete")
    }


}