@model ODMSModel.ServiceCallSchedule.ServiceCallScheduleViewModel

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.ServiceCallScheduleViewModel_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("ServiceCallScheduleUpdate", "ServiceCallSchedule", FormMethod.Post))
{
    @Html.HiddenFor(v => v.ServiceId)

    <div class="labelDiv">@Html.LabelFor(v => v.ServiceDescription)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ServiceDescription)@Html.ValidationMessageFor(v => v.ServiceDescription)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.CallIntervalMinute)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().NumericTextBoxFor(c => c.CallIntervalMinute).Decimals(2).Min(0).Format("{0:0,0}").Spinners(true).HtmlAttributes(new { type = "text", maxlength = "10", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.CallIntervalMinute)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.LastCallDate)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.LastCallDate)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.NextCallDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(p=>p.NextCallDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).Min(DateTime.Now).HtmlAttributes(new { type = "text" }) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.LastSuccessCallDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(p => p.LastSuccessCallDate).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).Min(DateTime.Now.AddYears(-1)).HtmlAttributes(new { type = "text" }) </div>


    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.TriggerServiceName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsTriggerService)</div>

     <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsResponseLogged)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsResponseLogged)@Html.ValidationMessageFor(v => v.IsResponseLogged)</div>

    <div class="clearDiv">&nbsp;</div>

    @ODMSHelpers.Button("Save", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.ServiceCallSchedule.ServiceCallScheduleUpdate, "ServiceCallScheduleUpdate")
}

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });

    $(document).ready(function () {
        $("#LastCallDate").prop('readonly', true);
        $("#NextCallDate").prop('readonly', true);
        //var nextDate = $("#NextCallDate").data("kendoDateTimePicker");
        //nextDate.min(new Date($.now()));
    });

    function adjustPage() {
        $("#popupContent").css("width", 450);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 400);
    }

    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "180px");
        $("#Create").css("margin-left", "-100px");
        $("#Create").css("width", "75px");

        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-left", "-75px");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-top", "80px");
    }
</script>
