@using ODMSCommon.Resources

@model Int64
@{
    ViewBag.Title = @MessageResource.AnnouncementRole_PageTitle_Index;
    Layout = null;
}
 
 @Html.AntiForgeryToken()
<script>
    $(function () {
        RegisterEventHandlers();
    });
    
    function RegisterEventHandlers() {

        $("body").delegate("#btnAdd", "click", AddAnnouncementRoleClickHandler);
        $("body").delegate("#btnRemove", "click", RemoveAnnouncementRoleClickHandler);
        $("#btnSave").unbind("click",SaveAnnouncementRoleClickHandler);//Grid üzerindeki sadece son değişikliği yapması sağlanıyor
        $("#btnSave").bind("click",SaveAnnouncementRoleClickHandler);
        $("body").delegate("#btnAddAll", "click", AddAllAnnouncementRoleClickHandler);
        $("body").delegate("#btnRemoveAll", "click", RemoveAllAnnouncementRoleClickHandler);
    }
    
    // Used in kendo listview read action
    function GetSelectedIdAnnouncement() {
        return {
            idAnnouncement : @Model
        };
    }
    
    // Called when kendo combobox changed event is fired
    function SelectedRoleChanged() {
        var includedRolelist = $("#lstAnnouncementIncludedInRole").data("kendoListView");
        var notIncludedRolelist = $("#lstAnnouncementNotIncludedInRole").data("kendoListView");

        includedRolelist.dataSource.read();
        notIncludedRolelist.dataSource.read();
    }
    
    function AddAnnouncementRoleClickHandler() {
        $(".k-state-selected", "#lstAnnouncementNotIncludedInRole").each(function (i, e) {
            $("#lstAnnouncementIncludedInRole").append($(e).clone()).html();
            $(e).remove();
        });
    }

    function AddAllAnnouncementRoleClickHandler() {
        $(".ListItem", "#lstAnnouncementNotIncludedInRole").each(function (i, e) {
            $("#lstAnnouncementIncludedInRole").append($(e).clone()).html();
            $(e).remove();
        });
    }
    
    function RemoveAnnouncementRoleClickHandler() {
        $(".k-state-selected", "#lstAnnouncementIncludedInRole").each(function (i, e) {
            $("#lstAnnouncementNotIncludedInRole").append($(e).clone()).html();
            $(e).remove();
        });
    }

    function RemoveAllAnnouncementRoleClickHandler() {
        $(".ListItem", "#lstAnnouncementIncludedInRole").each(function (i, e) {
            $("#lstAnnouncementNotIncludedInRole").append($(e).clone()).html();
            $(e).remove();
        });
    }
    
    // IE'nin HTML 5 desteklemeyen versiyonlarinda jquery'nin data fonksiyonu calismayabilir. 
    // test etmemiz lazim
    function SaveAnnouncementRoleClickHandler() {
        var idAnnouncement = @Model;
        if (idAnnouncement == "") // If no role is selected just return.
            return;

        var selectedRoleTypeIds = [];
        $("#lstAnnouncementIncludedInRole").children().each(function (i, e) {
            var selectedIdRoleType = $("span", e).data("idroletype");//don't change idroletype ! - Orhan
            selectedRoleTypeIds[i] = selectedIdRoleType;
        });
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveAnnouncementRole", "AnnouncementRole")",
            data: { IdAnnouncement: idAnnouncement, RoleTypeIdList : selectedRoleTypeIds, "__RequestVerificationToken": token  },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    SetSuccessMessage(result.Message);
                    var grid = $('#AnnouncementGrid').data('kendoGrid');
                    grid.dataSource.read();
                }
                    
            },
            dataType: "json"
        });
    }
    
</script>
<script type="text/x-kendo-tmpl" id="AnnouncementRoleItemTemplate">
    <div class="ListItem">
        <table>
            <tr>
                <td style="width:400px"><span data-idRoleType=#:IdRoleType#>#:RoleTypeName#</span></td>
@*                <td style="width:60px"><a href="/Permission/PermissionDetails/#:PermissionId#">(@MessageResource.Global_Display_Details)</a></td>*@
            </tr>
        </table>
    </div>
</script>


<div style="height:400px; overflow:auto;">
    <div> 
        <h4>
            @MessageResource.AnnouncemetRole_Display_AllAnnouncement
        </h4>

        <h4 style="margin-left:643px; margin-top:-30px; margin-bottom:0px;">
            @MessageResource.AnnouncementRole_Display_AnnouncementRole
        </h4>
    </div> 
    <div>

        
        @(Html.Kendo().ListView<ODMSModel.AnnouncementRole.AnnouncementRoleListModel>()
                .Name("lstAnnouncementIncludedInRole")
                .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                .ClientTemplateId("AnnouncementRoleItemTemplate")
                .TagName("div")
                .DataSource(ds => ds.Read(read =>
                    read.Action("ListRoleTypeWithoutAnnouncement", "AnnouncementRole").Data("GetSelectedIdAnnouncement")))
                .HtmlAttributes(new {@style = "position: absolute; float: left; width: 500px; height: 300px; margin-top: 20px; margin-left: 640px; overflow:auto;"})
                )
    </div>
     
    @ODMSHelpers.LinkButton("btnAdd", @MessageResource.Global_Display_AddRight, "", "Button", "","", "position: absolute; margin-left: 515px; margin-top: 110px; ")
    @ODMSHelpers.LinkButton("btnRemove", @MessageResource.Global_Display_AddLeft, "", "Button", "","", "position: absolute; margin-left: 515px; margin-top: 140px;")
    @ODMSHelpers.LinkButton("btnAddAll", @MessageResource.Global_Display_AddAllRight, "", "Button", "","", "position: absolute; margin-left: 515px; margin-top: 170px;")
    @ODMSHelpers.LinkButton("btnRemoveAll", @MessageResource.Global_Display_AddAllLeft, "", "Button", "","", "position: absolute; margin-left: 515px; margin-top: 200px;")

    <div>
        @(Html.Kendo().ListView<ODMSModel.AnnouncementRole.AnnouncementRoleListModel>()
                .Name("lstAnnouncementNotIncludedInRole")
                .Selectable(v => v.Mode(ListViewSelectionMode.Multiple))
                .ClientTemplateId("AnnouncementRoleItemTemplate")
                .TagName("div")
                .DataSource(ds => ds.Read(read =>
                    read.Action("ListAnnouncementRole", "AnnouncementRole").Data("GetSelectedIdAnnouncement")))
                .HtmlAttributes(new {@style = "width: 500px; height: 300px; margin-top: 20px; margin-left: 0px;overflow:auto;"})
                )          
    </div>
    @if (ViewBag.MasterIsActive==0)
    {
            <div style="position: absolute; height: 35px; width:850px">
    @ODMSHelpers.LinkButton("btnSave", @MessageResource.Global_Display_Save, "", "Button", "","", "float: left; margin-top: 5px")
    </div>
    }


</div>


