@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.CampaignRequest.CampaignRequestListModel

@{
    ViewBag.Title = MessageResource.CampaignRequest_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.Label(@MessageResource.CampaignRequest_Display_IdDealer)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        </div>

        <div class="labelDiv">@Html.LabelFor(v => v.RequestStatus)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.RequestStatus).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.RequestStatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.CampaignName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.CampaignName) </div>

        <div class="labelDiv">@Html.LabelFor(v => v.IdCampaignRequest)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.IdCampaignRequest) </div>
        <br />
        <br />
    </div>
    <br />
</div>

@{
    if (UserManager.UserInfo.GetUserDealerId() != null)
    {
    @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.CampaignRequest.CampaignRequestIndex)
    @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.CampaignRequest_PageTitle_Create, CommonValues.PermissionCodes.CampaignRequest.CampaignRequestCreate)
    }
}

<br />
<div id="CampaignRequestModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("CampaignRequestModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(440)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#CampaignRequestGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function DeleteCampaignRequest(obj, aId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteCampaignRequest", "CampaignRequest")",
                data: { IdCampaignRequest: aId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#CampaignRequestGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    function CreateOrderCampaignRequest(campaignRequestId) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendApproved", "CampaignRequest")",
                data: { campaignRequestId: campaignRequestId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#CampaignRequestGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        }, "@MessageResource.Global_Display_Confirm", "@MessageResource.CampaignRequest_Display_SendApprovalQuestion", "@MessageResource.Global_Display_Yes", "@MessageResource.Global_Display_No");
    }


    function DetailsCampaignRequest(obj, idCampaignRequest) {
        $('#modelWindow').html('');
        var frameTitle = $(obj).attr("frameTitle");
        var link = "@Url.Action("CampaignRequestDetails", "CampaignRequest", new { IdCampaignRequest = "idCampaignRequest" })";
        link = link.replace("idCampaignRequest", idCampaignRequest);

        ShowPopup(frameTitle, link);
    }

    function UpdateCampaignRequest(obj, idCampaignRequest) {
        $('#modelWindow').html('');
        var frameTitle = $(obj).attr("frameTitle");
        var link = "@Url.Action("CampaignRequestUpdate", "CampaignRequest", new { IdCampaignRequest = "idCampaignRequest" })";
        link = link.replace("idCampaignRequest", idCampaignRequest);

        ShowPopup(frameTitle, link);
    }

    function ShowPopup(frameTitle, link) {
        $("#CampaignRequestModelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#CampaignRequestModelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();

    }

    $(document).ready(init);
    function CampaignRequestSearch() {
        //alert("arama");
        return {
            IdDealer: $('#IdDealer').val(),
            CampaignName: $('#CampaignName').val(),
            RequestStatus: $('#RequestStatus').val(),
            IdCampaignRequest: $('#IdCampaignRequest').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#CampaignRequestGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#CampaignRequestModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("idCampaignRequest");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit") == true) {
                link = "@Url.Action("CampaignRequestUpdate", "CampaignRequest", new { idCampaignRequest = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("details") == true) {
                link = "@Url.Action("CampaignRequestDetails", "CampaignRequest", new { idCampaignRequest = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("CampaignRequestCreate", "CampaignRequest")";
                    link = link.replace("status", status);
                }

            $("#CampaignRequestModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#CampaignRequestModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });
}

</script>

<script>

    function InVisible() {
        $('.visible').each(function (i, e) {
            var status = $(e).attr("status");
            /* if it hasn't been Draft ! */
            if (status != 0) {
                $(e).css("visibility", "hidden");
            }
        });
    }

    function DisplayPoNumber(poNumber) {
        if (poNumber) {
            return "<center><a target='_blank' href='" + "@Url.Action("PurchaseOrderIndex", "PurchaseOrder")" + "/?poNumber=" + poNumber + "'>" + poNumber + "</a></center>"
        } else {
            return "";
        }
    }

</script>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignRequest.CampaignRequestListModel>()
          .Name("CampaignRequestGrid")
          .Columns(columns =>
    {
        columns.Bound(p => p.IdCampaignRequest).ClientTemplate("<center><a class='details modalClick' idCampaignRequest='#=IdCampaignRequest#' frameTitle='" + CommonUtility.GetResourceValue("CampaignRequest_PageTitle_Details") + "' href='/CampaignRequest/CampaignRequestDetails/#=IdCampaignRequest#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(20).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequest.CampaignRequestDetails));
        columns.Bound(p => p.IdCampaignRequest).ClientTemplate("#if(RequestStatus == 0 ){#<center><a class='edit modalClick' idCampaignRequest='#=IdCampaignRequest#' frameTitle='" + CommonUtility.GetResourceValue("CampaignRequest_PageTitle_Update") + "' href='/CampaignRequest/CampaignRequestUpdate/#=IdCampaignRequest#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(20).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequest.CampaignRequestUpdate));
        columns.Bound(p => p.IdCampaignRequest).ClientTemplate("#if(RequestStatus == 0 ){#<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CustomerDiscount_PageTitle_Delete") + "' onclick='DeleteCampaignRequest(this,#=IdCampaignRequest#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(20).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequest.CampaignRequestDelete));
        columns.Bound(p => p.IdCampaignRequest).ClientTemplate("<center><a class='visible' status='#=RequestStatus#' href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CampaignRequest_PageTitle_Create") + "'  onclick='CreateOrderCampaignRequest(#=IdCampaignRequest#);'><img class=iconLink style=\"width:20px; height:20px;\" src='" + @Url.Content("~/Images/choose.ico") + "'></a></center>").Title(MessageResource.Global_Display_SendApproval).Width(30).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequest.CampaignRequestCreate));
        columns.Bound(p => p.PoNumber).ClientTemplate("#=DisplayPoNumber(PoNumber)#").Title(MessageResource.CampaignRequest_Display_PoNumber).Width(30).Sortable(true).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CampaignRequest.CampaignRequestIndex));
        columns.Bound(p => p.IdCampaignRequest).Sortable(true).Width(30);
        columns.Bound(p => p.VerihcleModelCode).Sortable(true).Width(30);
        columns.Bound(p => p.WorkOrderId).Width(60).ClientTemplate("#if(WorkOrderId>0){#" +
            "<center><a class='' id='#=WorkOrderId#' href='" + Url.Action("WorkOrderCardIndex", "WorkOrderCard") + "/#=WorkOrderId#'>#=WorkOrderId#</a></center>" +
            "#}else{#" +
            "#}#").Sortable(true);
        columns.Bound(p => p.Quantity).Sortable(true).Width(15);
        columns.Bound(p => p.CampaignName).Sortable(true).Width(70);
        columns.Bound(p => p.PreferredOrderDate).Format("{0:dd/MM/yyyy}").Sortable(true).Width(90);
        columns.Bound(p => p.RequestStatusName).Sortable(true).Width(30);
    })
          .Pageable()
          .Sortable()
          .Scrollable()
          .Events(e => e.DataBound("InVisible"))

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCampaignRequest", "CampaignRequest", Model).Data("CampaignRequestSearch"))
                                        .Model(model => model.Field(o => o.IdCampaignRequest).DefaultValue(-1)))

    )
</div>
