@model ODMSModel.CampaignRequest.CampaignRequestViewModel
@using ODMSCommon.Resources
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@{
    ViewBag.Title = MessageResource.CampaignRequest_PageTitle_Create;
}


<style>
    .clearVinBtn, .orderVinBtn {
        display: none;
        width: 100px;
    }

    .vinSearches {
        display: none;
    }

    .vinNumbers {
        border-bottom: 1px solid #dfd6d6;
        padding: 3px;
        margin: 3px;
    }

    .vinNumbers label {
        font-size: 11.9px !important;
        line-height: 12px !important;
        font-weight: bold;
        cursor: pointer;
    }

    .vinNumbers:hover {
        background-color: #eeebeb;
    }

    .vinNumbersHovered {
        background-color: #eeebeb;
    }

    .campVin {
        background-color: white;
        max-height: 150px !important;
        overflow-y: scroll !important;
        width: 200px;
        padding-top: 0px;
        text-align: center;
    }
</style>

<script>

        $(document).ready(documentInit());

        function documentInit() {
            $("#campVinSearch").bind('paste', function (event) {
                setTimeout(function () {
                    searchVinNo($("#campVinSearch").val());
                }, 250);
            });
        }

        function clearSelectedVins()
        {
            $('.vinNumbers input[type="checkbox"]:checked').prop('checked',false);
            $("#CampaignVinCodes").val('');
            $(".clearVinBtn").hide();
            $(".orderVinBtn").hide();
            $(".vinNumbers").removeClass("vinNumbersHovered");
            $(".vinNumbers").attr("order", "2");

            $("#Quantity").val('');
            $("#campVinSearch").val('');
            searchVinNo('');
        }

        function selectVin(elem,vinNo)
        {
            var selectedChecks = $('.vinNumbers input[type="checkbox"]:checked'); 
            var map = selectedChecks.map(function () { return this.value; }).get().join(',');

            $("#CampaignVinCodes").val(map);
            $(".clearVinBtn").show();
            $(".orderVinBtn").show();

            var closesVin = $(elem).closest(".vinNumbers");
            var order = (closesVin.attr("order") == "2" ? "1" : "2");
            closesVin.attr("order", order);

            closesVin.toggleClass("vinNumbersHovered");

            $("#Quantity").val(selectedChecks.length == 0 ? "" : selectedChecks.length);

        }

        function ReOrderVinList() {

            var vinNumberList = $(".vinNumbers").sort(function (a, b) {

                var sortA = parseInt($(a).attr("order"));
                var sortB = parseInt($(b).attr("order"));
                return (sortA < sortB) ? -1 : (sortA > sortB) ? 1 : 0;
            });

            $("#campVinSearch").val('');
            searchVinNo('');
            $(".campVin").html(vinNumberList);
            $(".campVin").scrollTop(0);
        }

        function onCampChange(e)
        {

            $.post('@Url.Action("GetCampaignVinNumbers", "CampaignRequest")',
            {
                CampaignCode: e.sender._selectedValue

            }, function (data) {

                var html = "";

                $(".campVin").html('');
                $(".vinSearches").hide();
                clearSelectedVins();

                if (data.Data.length>0) {
                    $(".vinSearches").show();
                }


                $.each(data.Data, function () {
                    html += "<div  class='vinNumbers' vin='" + this.VinNo + "' order='2'>";
                        html += "<label>";
                            html += "<input type='checkbox' value='" + this.VinNo + "'  onclick=\"selectVin(this,'" + this.VinNo + "')\"/>";
                            html += this.VinNo;
                        html += "</label>";
                    html += "</div>";
                });


                $(".campVin").html(html);


            });

        }

    function searchVinNo(searchKey) {

        searchKey = searchKey.toLocaleLowerCase();

        var vinNumbers = $(".vinNumbers");

        $.each(vinNumbers, function () {

            var currentElem = $(this);
            var currentVin = currentElem.attr("vin").toLocaleLowerCase();

            if (searchKey.indexOf(',') > -1) {
                var searchKeyArray = searchKey.split(',');

                var exitFlag = 0;
                $.each(searchKeyArray, function () {

                    if (currentVin.indexOf(this) > -1) {
                        currentElem.show();
                        exitFlag = 1;
                    }
                    else {
                        currentElem.hide();
                    }

                    if (exitFlag == 1) {
                        return false;
                    }

                });
            }
            else {
                if (currentVin.indexOf(searchKey) > -1) {
                    currentElem.show();
                }
                else {
                    currentElem.hide();
                }
            }

        });


        }

</script>

@using (Html.BeginForm("CampaignRequestCreate", "CampaignRequest", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId() == 0)
        @Html.ValidationMessageFor(v => v.IdDealer)
    </div>

    <div class="labelDiv">@Html.LabelFor(v => v.CampaignCode)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.CampaignCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CampaignCodeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Events(e => e.Change("onCampChange"))
        @Html.ValidationMessageFor(v => v.CampaignCode)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.RequestNote)</div>
    <div class="shortTxtDiv">
        @Html.TextAreaFor(v => v.RequestNote) @Html.ValidationMessageFor(v => v.RequestNote)
        @Html.ValidationMessageFor(v => v.RequestNote)
    </div>

    <div class="labelDiv campLabel vinSearches">@MessageResource.CampaignRequest_Display_VinNumbers</div>
    <div class="shortTxtDiv vinSearches">
        <input id="campVinSearch" type='text' class='k-input' onkeyup='searchVinNo(this.value);' placeholder='@MessageResource.CampaignRequest_Display_SearchVin' />

        @Html.HiddenFor(v => v.CampaignVinCodes)
        <div class="campVin">

        </div>
        <div class="btn-group">
            <button class="orderVinBtn btn btn-primary" type="button" onclick="ReOrderVinList();">@MessageResource.CampaignRequest_Display_OrderVin</button>
            <button class="clearVinBtn btn btn-danger" type="button" onclick="clearSelectedVins();">@MessageResource.CampaignRequest_Display_ClearVin</button>
        </div>

    </div>


    @*<div class="labelDiv">@Html.LabelFor(v => v.PreferredOrderDate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().DatePickerFor(v => v.PreferredOrderDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).Min(DateTime.Now).HtmlAttributes(new { type = "text" })
            @Html.ValidationMessageFor(v => v.PreferredOrderDate)
        </div>*@


    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">
        @*@Html.Kendo().NumericTextBoxFor(v => v.Quantity).Decimals(0).Format("{0:N}").Min(1).Max(999).Spinners(false).HtmlAttributes(new { type = "text", style = "width:204px" })*@
        @Html.TextBoxFor(v => v.Quantity, new { @class = "k-input", @min = 1, @maxlength = 999, @style = "width:200px;", onkeypress = "return isNumberKey(event);", onkeydown= "return checkSelectedvin(event);" })
        @Html.ValidationMessageFor(v => v.Quantity)
    </div>

    <div class="clearDiv">&nbsp;</div>


    @Html.HiddenFor(v => v.RequestStatus)
    @Html.HiddenFor(v => v.IdDealer)

    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.CampaignRequest.CampaignRequestCreate, "CampaignRequestCreate")

}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function checkSelectedvin(event)
    {
        if ($("#CampaignVinCodes").val() != "") {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
        else {
            return true;
        }
       
    }

    $(document).ready(function () {

        $("#CampaignCode").data("kendoComboBox").value(null);
        $("#CampaignCode").data("kendoComboBox").text(null);

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });

        $('#PreferredOrderDate').prop("readonly", true);

    });


</script>


<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContentWrapper").css("height", 440);
    }
</script>
