@using ODMSCommon.Resources

@model ODMSModel.StockCardYearly.StockCardYearlyListModel

@{
    ViewBag.Title = MessageResource.StockCardYearly_PageTitle_Index;
    Layout = "";
}

<script type="text/javascript">
    function StockTypeChange(e) {
        var idStock = $("#IdStockType").val();

        if (idStock > 0) {

            //Start UpdateMonthlyStock
            $.ajax({
                type: 'GET',
                data: { idDealer: $("#IdDealer").val(), idPart: $("#IdPart").val(), idStockType: $("#IdStockType").val() },
                url: '@Url.Action("StartUpdateMonthlyStock", "StockCardYearly")'
                   });

            $("#StockCardYearlyGrid").data("kendoGrid").dataSource.read();
        }
    }
</script>

    <div class="labelDiv">@Html.LabelFor(v => v.IdStockType)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IdStockType).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockTypeList as List<SelectListItem>).Events(e=>e.Change("StockTypeChange")).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    </div>

<br /><br />

<script type="text/javascript">

    function StockCardYearlySearch() {
        
        return {
            IdDealer: $("#IdDealer").val(),
            IdPart: $("#IdPart").val(),
            Year: $("#CurrentYear").val(),
            IdStockType : $('#IdStockType').val()
            };
    }


    $(document).ready(function () {
        var yearNow = new Date().getFullYear();
        var idStock = $("#IdStockType").val();

        if (idStock > 0) {
            $.ajax({
                type: 'GET',
                data: { idDealer: $("#IdDealer").val(), idPart: $("#IdPart").val(), idStockType: $("#IdStockType").val() },
                url: '@Url.Action("StartUpdateMonthlyStock", "StockCardYearly")'
            });
        }

        if ($("#CurrentYear").val() == yearNow) {
            //alert($("#CurrentYear").val() + "=" + yearNow);

            //$('#leftBtn').attr("disabled", true);
            //.prop('disabled', true);
            //.attr("disabled", "disabled");
            //.prop("disabled", "disabled");
            //.attr("disabled", true);
        }
    });

    function StockCardYearlyRight(isDown) {
       
        var date = new Date();
        var year = new Date().getFullYear();
        var month = date.getMonth();


        if (isDown) {
            $("#CurrentYear").val($("#CurrentYear").val() - 1);
            
        } else {
            if ($('#CurrentYear').val() >= year) {
                return;
            }


            $("#CurrentYear").val(parseInt($("#CurrentYear").val()) + 1);
        }
  
        $("#StockCardYearlyGrid").data("kendoGrid").dataSource.read();

        if (isDown) {

            for (var i = month + 12; i > month; i--) {

                var index = (i + 1) % 12 == 0 ? 12 : (i + 1) % 12;

                var columnName = $("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html();
                var newYear = parseInt($("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html().substring($("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html().length - 4) - 1);

                var newTitle = columnName.substring(0, columnName.length - 4) + "" + newYear;

                $("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html(newTitle);
            }
        } else {
     
            for (var i = month + 12; i > month; i--) {

                var index = (i + 1) % 12 == 0 ? 12 : (i + 1) % 12;

                var columnName = $("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html();
                var newYear = parseInt($("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html().substring($("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html().length - 4))+1;

                var newTitle = columnName.substring(0, columnName.length - 4) + "" + newYear;

                $("#StockCardYearlyGrid th[data-field='_" + index.toString() + "'] .k-link").html(newTitle);
            }
        }             
    }

    function StockTypeClick(e) {
        var idStock = $("#IdStockType").data("kendoComboBox").val();
        alert(idStock);
        $("#StockCardYearlyGrid").data("kendoGrid").dataSource.read();
    }
</script>
@{List<string> months = new List<string>
      {
          MessageResource.Global_Display_January, 
          MessageResource.Global_Display_February, 
          MessageResource.Global_Display_March, 
          MessageResource.Global_Display_April, 
          MessageResource.Global_Display_May, 
          MessageResource.Global_Display_June, 
          MessageResource.Global_Display_July, 
          MessageResource.Global_Display_August, 
          MessageResource.Global_Display_September, 
          MessageResource.Global_Display_October, 
          MessageResource.Global_Display_November, 
          MessageResource.Global_Display_December
      };}

 @Html.HiddenFor(v => v.IdDealer)
 @Html.HiddenFor(v => v.IdPart)
 @Html.HiddenFor(v => v.IdStockType)
 @Html.Hidden("CurrentYear",DateTime.Now.Year)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMS.Controllers.Result>()
          .Name("StockCardYearlyGrid")

          .Columns(columns =>
              {

                  columns.Template(@<text></text>).ClientTemplate("<center><a id=\"leftBtn\" href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Test left") + "' onclick='StockCardYearlyRight(false);'><img style=\"width:20px;\" class=iconLink src='" + @Url.Content("~/Images/arrow_l.ico") + "'></a></center>").Title(MessageResource.Global_Display_After).Width(40);
                  columns.Template(@<text></text>).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Test right") + "' onclick='StockCardYearlyRight(true);'><img id=\"right\" style=\"width:20px;\" class=iconLink src='" + @Url.Content("~/Images/arrow_r.ico") + "'></a></center>").Title(MessageResource.Global_Display_Before).Width(40);
                  
                  var year = DateTime.Now.Year;
                  for (int i = DateTime.Now.Month+12; i > DateTime.Now.Month; i--)
                  {
                      var month = i % 12 == 0 ? 12 : i % 12;
                      if (i % 12 == 0)
                      {
                          year = year - 1;
                      }
                      columns.Bound("_" + (month).ToString()).Title(months[(month) - 1] + " - " + year);
                  }

              })
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListStockCardYearly", "StockCardYearly").Data("StockCardYearlySearch"))
                                        )
                                        .AutoBind(true)
          )
</div>