@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.Warehouse.WarehouseDetailModel
@{
    ViewBag.Title = MessageResource.Warehouse_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("WarehouseCreate", "Warehouse", FormMethod.Post))
{
    <div class="labelDiv">@Html.Label(MessageResource.CustomerDiscount_Display_IdDealer)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(w => w.Code)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(b => b.Code)
        @Html.ValidationMessageFor(v => v.Code)
    </div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(w => w.IsActiveString)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(w => w.IsActive)</div>

    <div class="clearDiv">&nbsp;</div>

    @Html.HiddenFor(c => c.DealerId)
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.Warehouse.WarehouseCreate, "WarehouseCreate")
}


<script type="text/javascript">
    $(document).ready(function () {

        var result = "@UserManager.UserInfo.GetUserDealerId()";
        if (result != "0") {
            $("#DealerId").data("kendoComboBox").readonly(true);
        }

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>


<script>
    $(function () {
        adjustPage();
        //adjustControlPositions();
    });

    function adjustPage() {
        $("#popupContent").css("width", 500);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 300);
    }

    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "180px");
        $("#Create").css("margin-left", "-100px");
        $("#Create").css("width", "75px");

        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-left", "-75px");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-top", "80px");
    }
</script>
