@using ODMSCommon.Resources
@using ODMSModel.Education
@model EducationViewModel
@{
    ViewBag.Title =  CommonUtility.GetResourceValue("Education_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.EducationTypeId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.EducationTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ETSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleModelCode)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleModelCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VMSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        
        <div class="clearDiv">&nbsp;</div> 

        <div class="labelDiv">@Html.LabelFor(v => v.IsMandatorySearch)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsMandatorySearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YNSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
        
        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "",null)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickEducation createNewEducation", CommonUtility.GetResourceValue("Education_PageTitle_Create"),CommonValues.PermissionCodes.Education.EducationCreate)
<script>

    function SearchEducation() {
        return {
            VehicleModelKod: $('#VehicleModelCode').val(),
            IsActiveSearch: $('#IsActiveSearch').val(),
            IsMandatorySearch: $('#IsMandatorySearch').val(),
            EducationTypeId: $('#EducationTypeId').val()
    };
    }
    $(document).ready(function () {
        $('#divDetails').hide();
        
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#EducationGrid').data('kendoGrid');
            grid.dataSource.page(1);
            $('#divDetails').hide();
        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickEducation", "click", function (e) {
            $('#modelWindowEducation').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            var width = "950";
            var height = "350";
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("EducationUpdate", "Education", new { id = -1 })";
                link = link.replace("-1", clickedId);
                height = "355";
            }
            else if ($(this).hasClass("createNewEducation")) {
                link = "@Url.Action("EducationCreate", "Education")";
                height = "355";
            }
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("EducationDetails", "Education", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowEducation_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowEducation").data("kendoWindow");
            windowWidget.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

    });
    function DeleteEducation(eduCode) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("EducationDelete", "Education")",
                data: { eduCode: eduCode, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#EducationGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowEducation")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#EducationGrid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<EducationListModel>()
          .Name("EducationGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.EducationCode).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(\"#=EducationCode#\")' id='#=EducationCode#'><img class=iconLink src='" + @Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Education.EducationDetails));
                  columns.Bound(p => p.EducationCode).ClientTemplate("<center><a class='details modalClickEducation' id='#=EducationCode#' frameTitle='" + @CommonUtility.GetResourceValue("Education_PageTitle_Details") + "' href='/Education/EducationDetails/#=EducationCode#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Education.EducationDetails));
                  columns.Bound(p => p.EducationCode).ClientTemplate("<center><a class='edit modalClickEducation' id='#=EducationCode#' frameTitle='" + @CommonUtility.GetResourceValue("Education_PageTitle_Update") + "' href='/Education/EducationUpdate/#=EducationCode#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Education.EducationUpdate));
                  columns.Bound(o => o.EducationCode).ClientTemplate("<center><a onclick='DeleteEducation(\"#=EducationCode#\")' href='javascript:void(0);' id='#=EducationCode#' frameTitle='" + @CommonUtility.GetResourceValue("Education_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Education.EducationDelete));
                  columns.Bound(p => p.EducationCode).Width(100).Sortable(true);
                  columns.Bound(p => p.EducationName).Width(110).Sortable(true);
                  columns.Bound(p => p.AdminDesc).Width(150).Sortable(true);
                  columns.Bound(p => p.EducationDurationDay).Width(50).Sortable(true);
                  columns.Bound(p => p.EducationDurationHour).Width(50).Sortable(true);
                  columns.Bound(p => p.VehicleModelName).Width(100).Sortable(true);
                  columns.Bound(p => p.EducationTypeName).Width(100).Sortable(true);
                  columns.Bound(p => p.IsMandatory).Sortable(true).Width(70);
                  columns.Bound(p => p.IsActiveS).Sortable(true).Width(70);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
           
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListEducation", "Education", Model).Data("SearchEducation"))
                                        .Model(model => model.Field(o => o.EducationCode).DefaultValue(-1)))

          )
</div>
<div id="divDetails">
        @(Html.Kendo().TabStrip()
          .Name("EducationDetails")
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.EducationDates_PageTitle_Index).LoadContentFrom(Url.Action("EducationDatesIndex", "EducationDates")).Selected(true))
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.EducationCont_PageTitle_Index).LoadContentFrom(Url.Action("EducationContributersIndex", "EducationContributers")))
          .Items(tabstrip => tabstrip.Add().Text(MessageResource.EducationRequestList_PageTitle_Index).LoadContentFrom(Url.Action("EducationRequestListIndex", "EducationRequestList"))))
</div>

<script type="text/javascript">
    function loadTabs(educationCode) {

        var tabStrip = $('#EducationDetails').kendoTabStrip().data("kendoTabStrip");

        var eduDatesTab = tabStrip.contentElements[0];
        $.ajax({
            type: "GET",
            url: '@Url.Action("EducationDatesIndex","EducationDates")',
            data: { id: educationCode },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(eduDatesTab).html(result);
            },
            error: function (request, status, err) {
                //////console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
        var eduContTab = tabStrip.contentElements[1];
        $.ajax({
            type: "GET",
            url: '@Url.Action("EducationContributersIndex","EducationContributers")',
            data: { id: educationCode },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(eduContTab).html(result);
            },
            error: function (request, status, err) {
                //////console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
        var eduReqListTab = tabStrip.contentElements[2];
        $.ajax({
            type: "GET",
            url: '@Url.Action("EducationRequestListIndex","EducationRequestList")',
            data: { id: educationCode },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(eduReqListTab).html(result);
            },
            error: function (request, status, err) {
                //////console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });

        $('#divDetails').show();

    }
</script>