@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.SparePart.SparePartIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("SparePart_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


 
@using (Html.BeginForm("SparePartUpdate", "SparePart", FormMethod.Post))
{
    if (Model.IsOriginal != 1)
    {
    <div class="labelDiv">@Html.LabelFor(v => v.OriginalPartName)</div>
    <div class="shortTxtDiv">
        @{
        Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { Required = true, SearchType = "OrginalSparePart", ControlId = "OriginalPartId", Title1 = "", Title2 = "", DefaultText = Model.OriginalPartName, DefaultValue = Model.OriginalPartId, CallbackFunction = "GetSparePartData" });
        }
        @Html.ValidationMessageFor(v => v.OriginalPartId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    }
    <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartCode) @Html.ValidationMessageFor(v => v.PartCode) </div>

    <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }</div>
    @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Barcode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Barcode)</div>
 
    @Html.HiddenFor(c => c.PartTypeCode)
                                @* TFS NO : 29729 OYA
                                if (!UserManager.UserInfo.IsDealer)
                                {
    <div class="labelDiv">@Html.LabelFor(v => v.PartTypeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.PartTypeCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SparePartTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.DealerId)</div>
                                }*@
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Brand)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Brand)  @Html.ValidationMessageFor(v => v.Brand)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealersList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.DealerId)</div>
    <div class="clearDiv">&nbsp;</div>
                                if (!UserManager.UserInfo.IsDealer)
                                {
    <div class="labelDiv">@Html.LabelFor(v => v.NSN)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.NSN) @Html.ValidationMessageFor(v => v.NSN)</div>
    <div class="clearDiv">&nbsp;</div>
                                }
    <div class="labelDiv">@Html.LabelFor(v => v.ShipQuantity)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c => c.ShipQuantity).Decimals(2).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", style = "width:200px" }).Spinners(false)
        @Html.ValidationMessageFor(v => v.ShipQuantity)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.UnitName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.Unit).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.UnitsList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.Unit)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.Volume)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().NumericTextBoxFor(c => c.Volume).Decimals(2).Format("#.00 cm3").HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", style = "width:200px" }).Spinners(false)
        @Html.ValidationMessageFor(v => v.Volume)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Weight)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c => c.Weight).Decimals(2).Format("#.00 kg").HtmlAttributes(new { type = "text", maxlength = "7", data_val_min = "0", style = "width:200px" }).Spinners(false)
        @Html.ValidationMessageFor(v => v.Weight)
    </div>
                                if (!UserManager.UserInfo.IsDealer && Model.IsOriginal.GetValue<int>() == 1)
                                {
        <div class="labelDiv">@Html.LabelFor(v => v.CompatibleGuaranteeUsageName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.CompatibleGuaranteeUsage).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.CompatibleGuaranteeUsage)</div>
                                }
                                else
                                {
        <div class="labelDiv">@Html.LabelFor(v => v.CompatibleGuaranteeUsageName)</div>
        <div class="shortTxtDiv" style="padding-left:15px; font-weight: bold; font-size:13px;" id="lblCompatibleGuaranteeUsage"></div>

                                }
    <div class="clearDiv">&nbsp;</div>    
   
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>

    <div class="labelDiv">@Html.LabelFor(c => c.LeadTime)</div>
    <div class="shortTxtDiv">
        @if (Model.IsOriginal == 1)
        {
            @Html.DisplayFor(c => c.LeadTime)
            @Html.HiddenFor(c => c.LeadTime)
        }
        else
        {
            @Html.Kendo().NumericTextBoxFor(v => v.LeadTime).Min(1).Max(9999).Decimals(0).Spinners(false).HtmlAttributes(new { type = "text", style = "width:204px;" })
            @Html.ValidationMessageFor(v => v.LeadTime)
        }
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsOrderAllowed)</div>
        <div class="shortTxtDiv">
            @if (Model.IsOriginal == 1)
            {
                @(Model.IsOrderAllowed ? Html.Raw(MessageResource.Global_Display_Yes) : Html.Raw(MessageResource.Global_Display_No))
                @Html.HiddenFor(c => c.IsOrderAllowed)
            }
            else
            {
                @Html.Kendo().ComboBoxFor(v => v.IsOrderAllowed).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoBooleanList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.IsOrderAllowed)
            }
        </div>

            if (UserManager.UserInfo.IsDealer == false && Model.IsOriginal.GetValue<int>() == 1)
            {
        <div class="labelDiv">@Html.LabelFor(v => v.GuaranteeAuthorityNeed)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.GuaranteeAuthorityNeed).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.GuaranteeAuthorityNeedList as List<SelectListItem>).SelectedIndex(((List<SelectListItem>)ViewBag.GuaranteeAuthorityNeedList).FindIndex(c => c.Value == "0")).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
            @Html.ValidationMessageFor(v => v.GuaranteeAuthorityNeed)
        </div>
            }
            else
            {
        <div class="labelDiv">@Html.LabelFor(v => v.GuaranteeAuthorityNeed)</div>
        <div class="labelDiv" style="padding-left:15px; font-weight: bold; font-size:13px;" id="lblGuaranteeAuthorityNeed">  </div>


            }

        
        <div class="clearDiv">&nbsp;</div>
            if (Model.IsOriginal != 1)
            {
        <div class="labelDiv">@Html.LabelFor(v => v.VatRatio)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.VatRatio).BindTo(ViewBag.VatRatioList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>
            }
        <div class="clearDiv">&nbsp;</div>

        @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.SparePart.SparePartUpdate, "SparePartUpdate")
        @Html.HiddenFor(v => v.PartId)
        @Html.HiddenFor(v => v.PartCode)
        @Html.HiddenFor(v => v.IsOriginal)
        @Html.HiddenFor(v => v.DealerId)
        @Html.HiddenFor(v => v.GuaranteeAuthorityNeed)
}
        <script type="text/javascript">
            function GetSparePartData() {
                $.post("@Url.Action("GetSparePart", "SparePart")", {
                    partId: $("#PartId").val(),
                    dealerId: $("#DealerId").val(),
                    processId :1
                }, function (json) {
                    if (json) {
                        $("#PartCode").val(json.SubPartCode);
                        $("#Barcode").val(json.Barcode);
                        $("#MultiLanguageContentAsText").val(json.PartName);
                        $("#lblGuaranteeAuthorityNeed").html(json.GuaranteeAuthorityNeedName);
                        $("#lblCompatibleGuaranteeUsage").html(json.CompatibleGuaranteeUsageName);
                        $.ajax({
                            url: '@Url.Action("MultiLanguageTextbox", "MultiLanguage")',
                            dataType: 'html',
                            data: { DefaultText: json.PartName, DefaultValue: json.PartName, IsEnabled: true },
                            traditional: true,
                            type: 'POST',
                            success: function (content) {
                                $("#divName").html(content);
                            }
                        });
                    }
                }, "JSON");
            }
            $(function () {
                $('.k-widget').addClass('input-validation-valid');
                $(".k-widget").removeClass("input-validation-error");
            });
            $(document).ready(function () {

                // TFS NO : 27645 OYA 19.12.2014 orjinal parça bayi kullanıcısı tarafından pasife çekilememeli
                if ('@Model.IsOriginal' == '1' && '@UserManager.UserInfo.IsDealer' == 'True')
                    $("#IsActive").attr("disabled", "disabled");
                else
                    $("#IsActive").removeAttr("disabled");

                $("#PartCode").attr("readonly", "readonly");
                $("#DealerId").data("kendoComboBox").enable(false);

                $('form').each(function () {
                    var validator = $(this).data('validator');
                    if (validator && validator.settings) {
                        validator.settings.ignore = "";
                    }
                });
                GetSparePartData();

            });
        </script>
