@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.SparePart.SparePartIndexViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("SparePart_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 

<div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Barcode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Barcode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PartTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartTypeName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Brand)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Brand) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.NSN)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.NSN) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.OriginalPartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.OriginalPartName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ShipQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ShipQuantity) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.UnitName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.UnitName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DiscountRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DiscountRatio) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Volume)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Volume) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Weight)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Weight) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.CompatibleGuaranteeUsageName)</div>
<div class="shortTxtDiv" style="padding-left: 15px; font-weight: bold; font-size: 13px;">@Html.DisplayFor(v => v.CompatibleGuaranteeUsageName) &nbsp;</div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.ClassCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.ClassCode) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.GuaranteeAuthorityNeed)</div>
    @*<div class="shortTxtDiv" style="font-weight: bold; font-size:13px;" id="lblGuaranteeAuthorityNeed"> </div>*@
    <div class="shortTxtDiv" style="font-weight: bold; font-size:13px;">@Html.DisplayFor(v => v.GuaranteeAuthorityNeedName) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsOrderAllowed)</div>
    <div class="shortTxtDiv">@(Model.IsOrderAllowed ? Html.Raw(MessageResource.Global_Display_Yes) : Html.Raw(MessageResource.Global_Display_No)) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.LeadTime)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LeadTime) &nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
    <br />

    <script type="text/javascript">

        $(function () {
            $('.k-widget').addClass('input-validation-valid');
            $(".k-widget").removeClass("input-validation-error");
        });
        function GetSparePartData() {
            $.post("@Url.Action("GetSparePart", "SparePart")", {
                partId: $("#OriginalPartId").val(),
                dealerId: $("#DealerId").val()
            }, function (json) {
                if (json) {
                    $("#PartCode").val(json.SubPartCode);
                    $("#Barcode").val(json.Barcode);
                    $("#MultiLanguageContentAsText").val(json.PartName);
                    $("#lblGuaranteeAuthorityNeed").html(json.GuaranteeAuthorityNeedName);
                    $("#lblCompatibleGuaranteeUsage").html(json.CompatibleGuaranteeUsageName);
                    $.ajax({
                        url: '@Url.Action("MultiLanguageTextbox", "MultiLanguage")',
                        dataType: 'html',
                        data: { DefaultText: json.PartName, DefaultValue: json.PartName, IsEnabled: true },
                        traditional: true,
                        type: 'POST',
                        success: function (content) {
                            $("#divName").html(content);
                        }
                    });
                }
            }, "JSON");
        }
        $(document).ready(function () {
            $("#PartCode").attr("readonly", "readonly");
            //$("#Barcode").attr("readonly", "readonly");
            if ($('#OriginalPartId').val() == 0) {
                @*
            Oyaya istinaden Taner
            if ('@ODMSCommon.Security.UserManager.UserInfo.IsDealer' == 'False') {
                //$("#PartTypeCode").data("kendoComboBox").text('');
            }*@

                $("#Unit").data("kendoComboBox").text('');
                $("#IsOrderAllowed").data("kendoComboBox").text('');

            }
            $("#DealerId").data("kendoComboBox").enable(false);

            $('form').each(function () {
                var validator = $(this).data('validator');
                if (validator && validator.settings) {
                    validator.settings.ignore = "";
                }
            });
        });
    </script>


