@using ODMSCommon.Security
@model ODMSModel.DamagedItemDispose.DamagedItemDisposeViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("DamagedItemDispose_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("DamagedItemDisposeCreate", "DamagedItemDispose", FormMethod.Post,new{id="frmDamageDispose"}))
{
    
    <div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        @Html.ValidationMessageFor(c => c.DealerId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart", ControlId = "PartId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "", CallbackFunction="PartCallBack" });@Html.ValidationMessageFor(v => v.PartId)
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.WarehouseName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.WarehouseId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.WarehouseList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(false)
        @Html.ValidationMessageFor(c => c.WarehouseId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.RackName)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.RackId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListRacks", "DamagedItemDispose").Data("GetWarehouseId")).ServerFiltering(true)).Enable(true).AutoBind(false).CascadeFrom("WarehouseId")
        @Html.ValidationMessageFor(c => c.RackId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StockTypeName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.StockTypeId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StockTypeList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(c => c.StockTypeId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
    <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c => c.Quantity).Decimals(2).Min(0).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "7", data_val_min = "0", style = "width:200px" })
         @Html.ValidationMessageFor(v => v.Quantity)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.Description) @Html.ValidationMessageFor(c => c.Description)
    </div>
        <div class="labelDiv">@Html.LabelFor(v => v.DocName)</div>
    <div class="shortTxtDiv">@Html.Kendo().Upload().Name("attachments").Messages(x => x.Select(ODMSCommon.Resources.MessageResource.Global_Display_SelectFile))</div>
    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.DamageDisposeId)
    @Html.HiddenFor(v => v.DealerId)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.DamagedItemDispose.DamagedItemDisposeCreate, "DamagedItemDisposeCreate")        
}
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $("#txtPartId").change(function() {
        CheckPartForWarehouse();
    });
    function PartCallBack() {
        CheckPartForWarehouse();
    }
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    function GetWarehouseId() {
        return {
            id: $('#WarehouseId').val(),
            partId : $("#PartId").val()
        };
    }
    function CheckPartForWarehouse() {
        var partId = $("#PartId").val();
        if (partId) {
            $("#WarehouseId").data("kendoComboBox").enable(true);
        } else {
            $("#WarehouseId").data("kendoComboBox").enable(false);
        }
    }
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
