@using ODMSCommon.Resources
@model ODMSModel.FleetRequestVehicleApprove.FleetRequestApproveViewModel
@{
    ViewBag.Title = MessageResource.FleetRequestApprove_PageTitle_Index;
    bool status = ViewBag.RequestStatus==null || (int) ViewBag.RequestStatus == 2;
}
<style>
    .k-link2 {
        color: #0077DD !important;
    }
</style>

@if (!Model.HideElements)
{
    <script src="~/Scripts/odms.objectsearch.js"></script>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong style="font-size: 16px;"> @MessageResource.FleetRequestApprove_Display_RequestDetails</strong>
        </div>
        <div class="panel-body">
            <div class="labelDiv">@Html.LabelFor(c => c.Description)</div> 
            <div class="shortTxtDiv">@Html.DisplayFor(c => c.Description)</div>
            <div class="labelDiv">@Html.LabelFor(c => c.FleetRequestStatus)</div> 
            <div class="shortTxtDiv">@Html.DisplayFor(c => c.FleetRequestStatus)</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong style="font-size: 16px;"> @MessageResource.FleetRequestApprove_Display_Requests</strong>
        </div>
        <div class="panel-body">
            
            @using (Html.BeginForm("SaveRequests","FleetRequestVehicleApprove",FormMethod.Post,new{id="FleetRequestsForm"}))
            {
                <div class="btn-group" style="margin-bottom: 15px;">
                    <div class="btn-block">
                        @if (status)
                        {
                            <button class="btn btn-primary">
                                <i class="glyphicon glyphicon-ok"></i> @MessageResource.Global_Display_Save                    
                            </button>
                        }
                    </div>
            </div>
                <table id="requests" class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@MessageResource.FleetVehicle_Display_Customer</th>
                            <th>@MessageResource.FleetVehicle_Display_Vehicle</th> 
                            <th>@MessageResource.FleetRequestVehicle_Display_Document</th>
                            <th>@MessageResource.FleetVehicle_Display_Fleet</th>
                            <th>@MessageResource.FleetVehicle_Display_OldFleet</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Requests.Count; i++)
                        {
                            @Html.HiddenFor(c => c.Requests[i].FleetRequestVehicleId)
                            <tr class="request" data-fleetRequestId="@Model.Requests[0].FleetRequestVehicleId">
                                <td>
                                    @Model.Requests[i].CutomerName
                                </td>
                                <td>
                                    @Model.Requests[i].VehicleName
                                </td>
                                <td>
                                  <a class="k-link2" href="@Url.Action("DownloadVehicleDocument","FleetRequestVehicle",new{id=Model.Requests[i].DocumentId})">   @Model.Requests[i].DocumentName</a>
                                </td>
                                <td>
                                    @if (status)
                                    {
                                        <script>
                                            @Html.Raw(" function onRequests_"+i+"__FleetIdClose() {var originalParentState = originalParentWindowStateForRequests_"+i+"__FleetId;var parentWindowId = '';var searchWindowId = 'Requests_"+i+"__FleetIdSearchWindow';var targetWindowState = getWindowState(searchWindowId, false);var gotParentWindow = parentWindowId != null && parentWindowId != '';restoreParentWindowState(parentWindowId, originalParentState, targetWindowState, gotParentWindow);}")
                                        </script>
                                        <div class="shortTxtDivObjectSearch">@Html.Partial("~/Views/ObjectSearch/ObjectSearch.cshtml", new ODMSModel.ObjectSearch.ObjectSearchModel {ObjectSearchType = CommonValues.ObjectSearchType.Fleet, WindowTitle = MessageResource.ObjectSearch_WindowTitle_Fleet, ReferenceObjectName = string.Format("Requests[{0}].FleetId", i), ReferenceObjectId = string.Format("Requests_{0}__FleetId", i), ReferenceObjectValue = Model != null ? Model.Requests[i].FleetId : 0, ParentWindowId = null, Required = false, SelectCallBackFunction = null, ClearCallBackFunction = null}) </div>
                                    }
                                    else
                                    {
                                        @Model.Requests[i].FleetName
                                    } 
                                </td>
                                <td>
                                    @Model.Requests[i].OldFleetNames
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    @Html.ValidationSummary()

}
