@using ODMSCommon.Resources
@model  List<ODMSModel.PrivateMessage.PrivateMessageListModel>
@{
    int total = ViewBag.Total;
    int currentPage = ViewBag.CurrentPage;
    bool hasMessagesToShow = currentPage * CommonValues.GridPageSize.Short < total;
    int curretUserId = ODMSCommon.Security.UserManager.UserInfo.UserId;
}
@if (hasMessagesToShow)
{
    <div class="more-message">
        <a style="cursor:pointer" onclick="GetMessages(false);">@MessageResource.PrivateMessage_Display_PreviousMessages</a> 
    </div>
}
@foreach (var message in Model)
{

    if (curretUserId == message.SenderId)
    {
        <div class="fr">
            <table>
                <tr>
                    <td><div class="arrow_box-left @(message.IsUrgent?Html.Raw("text-danger"):Html.Raw("text-info")) @(message.ReadDate.HasValue? Html.Raw("readed"):@Html.Raw(""))">
                            <div> @message.Message</div>
                        <div class="label"style="text-align: right; color:#4F4D4D;">@message.CreateDate</div>
                        </div> </td>
                    <td>
                         <div><img alt="@message.Sender" title="@message.Sender" style="max-width: 36px; max-height: 30px;" src="@Url.Action("Image","User",new{id=message.RecieverId})"/> </div> 
                    </td>
                </tr>
            </table>
            
            
        </div>   
        <div class="clearfix"></div>
    }
    else
    {
        <div class="fl">
            <table>
                <tr>
                    <td><div><img alt="@message.Sender" title="@message.Sender" style="max-width: 36px; max-height: 30px;" src="@Url.Action("Image","User",new{id=message.RecieverId})"/> </div> </td>
                    <td> <div class="arrow_box-right @(message.IsUrgent?Html.Raw("text-danger"):Html.Raw("text-info")) @(message.ReadDate.HasValue? Html.Raw("readed"):@Html.Raw(""))">
               <div> @message.Message</div>
                        <div class="label" style="text-align: right; color:#4F4D4D;">@message.CreateDate</div>
            </div></td>
                </tr>
            </table>
           
            
        </div>   
        <div class="clearfix"></div>
    }
}
