@model ODMSModel.SparePartType.SparePartTypeIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("SparePartType_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


 
@using (Html.BeginForm("SparePartTypeUpdate", "SparePartType", FormMethod.Post))
{
   
    <div class="labelDiv">@Html.LabelFor(v => v.PartTypeCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartTypeCode) @Html.ValidationMessageFor(v => v.PartTypeCode) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.PartTypeName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>

    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.SparePartType.SparePartTypeUpdate, "SparePartTypeUpdate")
    @Html.HiddenFor(v => v.PartTypeCode)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>



<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 500);
    }
</script>


