@using ODMSCommon.Resources
@model ODMSModel.WorkshopWorker.WorkshopWorkerDetailModel
@{
    ViewBag.Title = MessageResource.WorkshopWorker_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("WorkshopWorkerCreate", "WorkshopWorker", FormMethod.Post))
{
    <div id="tagWorkshopListDiv" class="labelDiv">@Html.Label(@MessageResource.WorkshopWorker_Display_WorkshopList)</div>
    <div id="cmbWorkshopListDiv" class="shortTxtDiv">
        @(Html.Kendo().ComboBoxFor(d => d.WorkshopId)
                  .Placeholder(MessageResource.WorkshopWorker_Display_SelectWorkshop)
                  .BindTo(ViewBag.WorkshopList)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .HtmlAttributes(new { @class = "ComboBox", @style = "width: 205px;" })
              )
        @Html.ValidationMessageFor(c => c.WorkshopId)
    </div>
    <div class="clearfix"></div>
    <div id="tagWorkerListDiv" class="labelDiv" style="">@Html.Label(@MessageResource.WorkshopWorker_Display_WorkerList)</div>
    <div id="cmbWorkerListDiv" class="shortTxtDiv" style="">
        @(Html.Kendo().ComboBoxFor(d => d.WorkerId)
              .Placeholder(MessageResource.WorkshopWorker_Display_SelectWorker)
              .BindTo(ViewBag.WorkerList)
              .DataTextField("Text")
              .DataValueField("Value")
              .HtmlAttributes(new { @class = "ComboBox", @style = "width: 205px;" })
              )
        @Html.ValidationMessageFor(d => d.WorkerId)
    </div>
    <div class="clearfix"></div>
    
    <div id="tagStartDateDiv" class="labelDiv" style="">@Html.Label(@MessageResource.Global_Display_StartDate)</div>
    <div id="dtStartDateDiv" class="shortTxtDiv" style="">@Html.Kendo().DatePickerFor(d => d.StartDate).Format("dd/MM/yyyy").ParseFormats(new string[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", @style = "width: 205px; margin-top: 0px" }) @Html.ValidationMessageFor(d => d.StartDate)</div>
    <div class="clearfix"></div>
    <div id="tagEndDateDiv" class="labelDiv" style="">@Html.Label(@MessageResource.Global_Display_EndDate)</div>
    <div id="dtEndDateDiv" class="shortTxtDiv" style="">@Html.Kendo().DatePickerFor(d => d.EndDate).Format("dd/MM/yyyy").ParseFormats(new string[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", @style = "width: 205px; margin-top: 0px" }) @Html.ValidationMessageFor(d => d.EndDate)</div>
    <div class="clearfix"></div>
    <div class="labelDiv" style="">@Html.LabelFor(d => d.IsActiveString)</div>
    <div class="shortTxtDiv" style="">@Html.CheckBoxFor(d => d.IsActive)</div>
    <div class="clearfix"></div>
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.WorkshopWorker.WorkshopWorkerCreate, "WorkshopWorkerCreate")
}

<script>
    $(function () {
        adjustPage();
    });

    $(document).ready(function () {
        if ($('#WorkshopId').val() == '') {
            $('#WorkshopId').data('kendoComboBox').text('');
            $('#WorkerId').data('kendoComboBox').text('');
        }
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
    function adjustPage() {
        $("#popupContent").css("width", 530);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 390);
        $("#popupContentWrapper").css("width", 550);
    }
</script>
