@model ODMSModel.MaintenanceLabour.MaintenanceLabourViewModel
 
<link href="~/Style/bootstrap.css" rel="stylesheet" />
<style type="text/css">
    #popupContentWrapper {
        min-height: 250px !important;
    }
</style>
@Html.AntiForgeryToken()

<div class="labelDiv">@Html.LabelFor(v => v.LabourId)</div>

@if (Model.IsCreate)
{
    <div class="shortTxtDiv">
        @{
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "LabourName", ControlId = "LabourId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });
        }
    </div>
}
else
{
    <div class="shortTxtDiv">
        @Html.ValueFor(v => v.LabourName)
    </div>
}


<div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
<div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c => c.Quantity).Decimals(2).Format("{0:N}").Spinners(false).HtmlAttributes(new { type = "text", maxlength = "6", data_val_min = "0", data_val = "true", style = "width:204px" })@Html.ValidationMessageFor(v => v.Quantity)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsMust)</div>
<div class="shortTxtDiv">@Html.CheckBox("IsMust", Model.IsMust ?? false)    @Html.ValidationMessageFor(v => v.IsMust)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.SearchIsActive)</div>
<div class="shortTxtDiv">@Html.CheckBox("IsActive", Model.IsActive)    @Html.ValidationMessageFor(v => v.IsMust)</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });

</script>
