@model AppointmentDetailsLaboursViewModel
@using ODMSCommon.Resources
@using ODMSModel.AppointmentDetailsLabours
@using ODMSModel.AppointmentDetailsMaintenance

@{
    ViewBag.Title = MessageResource.AppointmentDetailsLabours_PageTitle_Index;
}
<div class="clearDiv">&nbsp;</div>
@Html.AntiForgeryToken()
<div id="appointmentdetaillabourContent">
    <script>
        function SearchAppIndic() {
            return {AppointmentIndicatorId:@Model.AppointmentIndicatorId};
        }

        function SearchAppIndicMaintL() {
            return {
                AppIndicId: @Model.AppointmentIndicatorId,
                ObjType : 2
                
            };
        } 
        function onDataBoundAppDetMaintL(arg) {
            var data = $("#AppDetailMaintGrid").data("kendoGrid").dataSource.data();
            $.each(data, function (i, row) {
                if (row.IsRemoved) {
                    $('tr[data-uid="' + row.uid + '"]').css("background-color", "#FE2E2E");
                    $('tr[data-uid="' + row.uid + '"] td:first-child').find('a').attr('onClick', 'AddRecord(' + row.LabourPartId + ',' + row.ObjType + ')');
                } else {
                    $('tr[data-uid="' + row.uid + '"]').css("background-color", "#32cd32");
                    $('tr[data-uid="' + row.uid + '"] td:first-child').find('img').attr('src', '@Url.Content("~/Images/delete.png")');
                    $('tr[data-uid="' + row.uid + '"] td:first-child').find('a').attr('onClick', 'DeleteRecord(' + row.LabourPartId + ',' + row.ObjType + ')');
                }
                if (row.IsMust) {
                    $('tr[data-uid="' + row.uid + '"] td:first-child').html('');
                }
            });
        }
    </script>

    @Html.HiddenFor(c => c.AppointmentIndicatorId)
    @*search start*@

    @*serach end*@


   

    @*grid start*@
    @if (Model.IndicType != "IT_P")
    {
         @ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick2 createNew", CommonUtility.GetResourceValue("AppointmentDetailsLabours_PageTitle_Create"), CommonValues.PermissionCodes.AppointmentDetail.AppointmentDetailCreate)
        <div class="kendoGridDiv" id="grdLabours">
        @(Html.Kendo().Grid<AppointmentDetailsLaboursListModel>()
          .Name("grid2")

          .Columns(columns =>
          {
              columns.Bound(p => p.AppointmentIndicatorLabourId).ClientTemplate("<center><a class='edit modalClick2' id='#=AppointmentIndicatorLabourId#' frameTitle='" + CommonUtility.GetResourceValue("AppointmentDetailsLabours_PageTitle_Update") + "' href='" + Url.Action("AppointmentDetailsLaboursUpdate", "AppointmentDetailsLabours") + "/#=AppointmentIndicatorLabourId#'><img class='iconLink' src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentDetailsLabours.AppointmentDetailsLaboursUpdate));
              columns.Bound(o => o.AppointmentIndicatorLabourId).ClientTemplate("<center><a href='javascript:void(0);' id='#=AppointmentIndicatorLabourId#' frameTitle='" + CommonUtility.GetResourceValue("AppointmentDetailsLabours_PageTitle_Delete") + "' onclick='DeleteAppointmentDetailsLabours(#=AppointmentIndicatorLabourId#)' ><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentDetailsLabours.AppointmentDetailsLaboursDelete));
              columns.Bound(p => p.LabourCode).Width(150).Sortable(true);
              columns.Bound(p => p.LabourName).Width(150).Sortable(true);
              columns.Bound(p => p.Quantity).Width(150).Sortable(true);
              columns.Bound(p => p.ListPrice).Width(100).Sortable(true).HtmlAttributes(new { @style = "text-align:right" });
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListAppointmentDetailsLabours", "AppointmentDetailsLabours",Model).Data("SearchAppIndic"))
                                        .Model(model => model.Field(o => o.AppointmentIndicatorLabourId).DefaultValue(-1)))

          )
    </div>
    }
    else
    {
           @(Html.Kendo().Grid<AppointmentDetailsMaintenanceListModel>()
          .Name("AppDetailMaintGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.MaintId).ClientTemplate("<center><a class='loadclss'><img width='16px' height='16px' class=iconLink src='" + @Url.Content("~/Images/add.png") + "'></a></center>").Title(MessageResource.AppointmentDetailsMaint_Display_AddRemove).Width(50).Sortable(false);
                  //columns.Bound(p => p.LabourPartId).ClientTemplate("<center><a id=#=LabourPartId# class='changepart modalClickAppDetailMaint'><img class=iconLink src='" + @Url.Content("~/Images/wheel.png") + "'></a></center>").Title(MessageResource.AppointmentDetailsMaint_PageTitle_ChangePart).Width(50).Sortable(false);
                  columns.Bound(p => p.Name).Width(100).Sortable(true);
                  columns.Bound(p => p.Quantity).Width(110).Sortable(true);
                  columns.Bound(p => p.Price).Width(150).Sortable(true);
                  columns.Bound(p => p.ObjType).Visible(false);
                  columns.Bound(p => p.LabourPartId).Visible(false);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .Events(e => e.DataBound("onDataBoundAppDetMaintL"))
           
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListAppointmentDetailsMaintenance", "AppointmentDetailsMaintenance", Model).Data("SearchAppIndicMaintL"))
                                        .Model(model => model.Field(o => o.AppIndicId).DefaultValue(-1)))

          )
    }
    
    @*grid end*@


    @*modelWindow start*@
    <div id="modelWindowDiv">
       @(Html.Kendo().Window()
          .Name("modelWindow2")
          .Title("Customer")
          .Draggable()
          .Resizable()
          .Width(950)
          .Height(310)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid2').data('kendoGrid');
         if(grid){

         }
         else{
            grid = $('#AppDetailMaintGrid').data('kendoGrid');
         }
         grid.dataSource.page(1);
         grid.dataSource.read();
        
    }"))
          )
    </div>

    @*modelWindow end*@

</div>

@*scripts start*@

<script type="text/javascript">
 
    function AddRecord(id,objType) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        AddConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAppDetailLabourAndPart", "AppointmentDetailsMaintenance")",
                data: { LabourPartId: id, ObjType: objType, "__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppDetailMaintGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
    function DeleteRecord(id,objType) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAppDetailLabourAndPart", "AppointmentDetailsMaintenance")",
                data: { LabourPartId: id, ObjType: objType,"__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppDetailMaintGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    $(document).ready(init2);

    function init2() {
        $("body").delegate(".modalClick2", "click", function (e) {
            $('#modelWindow2').html('');
            e.preventDefault();
            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("AppointmentDetailsLaboursUpdate", "AppointmentDetailsLabours", new { id = -1 })";
                link = link.replace("-1", clickedId);
            } else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("AppointmentDetailsLaboursCreate", "AppointmentDetailsLabours", new { id = Model.AppointmentIndicatorId })";
            }
            $("#modelWindow2_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow2").data("kendoWindow");
            var closeOrigin = windowWidget.close;
            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });
    }

    function DeleteAppointmentDetailsLabours(id) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AppointmentDetailsLaboursDelete", "AppointmentDetailsLabours")",
                data: { id: id,"__RequestVerificationToken": token  },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid2', '#appointmentdetaillabourContent').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
@*scripts end*@

