@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.HolidayDate.HolidayDateViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("HolidayDate_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@using (Html.BeginForm("HolidayDateUpdate", "HolidayDate", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.IdCountry)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdCountry).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CountryList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(true)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Description) @Html.ValidationMessageFor(v => v.Description)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.HolidayDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.HolidayDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })@Html.ValidationMessageFor(v => v.HolidayDate)</div>
    <div class="clearDiv">&nbsp;</div>

    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Contract.ContractUpdate, "HolidayDateUpdate")
    @Html.HiddenFor(x => x.IdHolidayDate)
}
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
