@using ODMSCommon.Resources
@model ODMSModel.HolidayDate.HolidayDateListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("HolidayDate_PageTitle_Index");
}

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.IdCountry)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IdCountry).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CountryList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).Enable(true)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.Description)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Description)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.HolidayDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.HolidayDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" })</div>

        <div class="clearDiv">&nbsp;</div>
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.HolidayDate.HolidayDateDetails)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickHolidayDate createNewHolidayDate", CommonUtility.GetResourceValue("HolidayDate_PageTitle_Create"), CommonValues.PermissionCodes.HolidayDate.HolidayDateCreate)

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#HolidayDateGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )

</div>
<script type="text/javascript">
    function onActivate(e) {
        alert($(e.item).find("> .k-link").text());
        //kendoConsole.log("Activated: " + $(e.item).find("> .k-link").text());
    }

    function Search() {
        return {
            HolidayDate: $('#HolidayDate').val(),
            Description: $('#Description').val(),
            IdCountry: $("#IdCountry").val()
        };
    }

    $(document).ready(function () {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#HolidayDateGrid').data('kendoGrid');
            grid.dataSource.page(1);
        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickHolidayDate", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("HolidayDateDetails", "HolidayDate", new { IdHolidayDate = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("HolidayDateUpdate", "HolidayDate", new { IdHolidayDate = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNewHolidayDate")) {
                link = "@Url.Action("HolidayDateCreate", "HolidayDate")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });

    function DeleteHolidayDate(cId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteHolidayDate", "HolidayDate")",
                data: { idHolidayDate: cId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0) {
                        SetErrorMessage(result.Message);
                    } else {
                        $('#IdHolidayDate').val('');
                        var grid = $('#HolidayDateGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.HolidayDate.HolidayDateListModel>()
          .Name("HolidayDateGrid")
          .Columns(columns =>
          {
              //columns.Bound(p => p.IdHolidayDate).ClientTemplate("<center><a class='details modalClickHolidayDate' id='#=IdHolidayDate#' frameTitle='" + @CommonUtility.GetResourceValue("HolidayDate_PageTitle_Details") + "' href='/HolidayDate/HolidayDateDetails/#=IdHolidayDate#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.HolidayDate.HolidayDateDetails));
              columns.Bound(p => p.IdHolidayDate).ClientTemplate("<center><a class='edit modalClickHolidayDate' id='#=IdHolidayDate#' frameTitle='" + @CommonUtility.GetResourceValue("HolidayDate_PageTitle_Update") + "' href='/HolidayDate/HolidayDateUpdate/#=IdHolidayDate#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.HolidayDate.HolidayDateUpdate));
              columns.Bound(o => o.IdHolidayDate).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("HolidayDate_PageTitle_Delete") + "' onclick='DeleteHolidayDate(\"#=IdHolidayDate#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.HolidayDate.HolidayDateDelete));
              columns.Bound(p => p.Description).Width(180).Sortable(true);
              columns.Bound(p => p.LanguageCode).Width(180).Sortable(true);
              columns.Bound(p => p.HolidayDate).Format("{0:dd/MM/yyyy}").Width(180).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListHolidayDate", "HolidayDate", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.IdHolidayDate).DefaultValue(-1)))

    )
</div>
@*<div id="TabContent" style="padding-left: 20px;" class="k-content" role="tabpanel" aria-expanded="true"></div>*@
