@{
    ViewBag.Title = CommonUtility.GetResourceValue("CustomerContact_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.CustomerContact.CustomerContactIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CustomerName)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Name)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Name) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Surname)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Surname) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContactTypeName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ContactTypeName) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ContactTypeValue)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ContactTypeValue) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<br />




