@using ODMSCommon.Resources
@model ODMSModel.ClaimDismantledParts.ClaimDismantledPartsListModel

@Html.AntiForgeryToken()
@if (ViewBag.AcceptUser == "")
{
    <div class="labelDiv">@Html.Label(MessageResource.ClaimDismantledParts_Display_Barcode)</div>
    <div class="shortTxtDiv">@Html.TextBox("barcode") </div>       
    <div class="clearDiv">&nbsp;</div>
}
<script>
    $(document).ready(function () {
        $('#barcode').text('');
        
        $('#barcode').keypress(function (e) {
            var code = e.keyCode ? e.keyCode : e.which;
            if (code == 13) {
                var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
                var list = grid.dataSource.data();
                for (var i = 0; i < list.length; i++) {
                    var barcode = list[i].Barcode;
                    if (barcode == $('#barcode').val()) {
                        list[i].IsSelected = true;
                        $("#" + list[i].ClaimDismantledPartId).attr("checked", true);
                        $('tr[data-uid="' + list[i].uid + '"] ').addClass("k-state-selected");
                    }
                }
            }
        });
    });
    function SelectRow(id) {
        var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
        var list = grid.dataSource.data();
        for (var i = 0; i < list.length; i++) {
            var rowId = list[i].ClaimDismantledPartId;
            var checked = $("#" + list[i].ClaimDismantledPartId).prop("checked");
            if (rowId == id) {
                list[i].IsSelected = checked;
                $("#" + list[i].ClaimDismantledPartId).attr("checked", checked);
            }
        }
    }
    function OnDatabound(firmActionExplanation) {
        if(firmActionExplanation == null) {
            return '@MessageResource.Global_Display_Enter';
        } else {
            return firmActionExplanation;
        }
    }
    function OnDataboundCB(claimDismantledPartId,isSelected) {
        return "<input type='checkbox' id='"+claimDismantledPartId+"' value='"+isSelected
            +"' onClick='SelectRow("+claimDismantledPartId+")'></input>";
    }
    function onEdit(e) {
        var data = e.model;
        if (data.IsSelected == false) {
            this.closeCell();
        }
        e.preventDefault();
    }

    function ReturnSelectIdList() {
        var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
        var strSelectedIds = "";
        var ischecked = grid.tbody.find(":checked");
        $.each(ischecked, function () {
            var claimDismantlePartId = $(this).attr("id");
            if (strSelectedIds != "") {
                strSelectedIds += "," + claimDismantlePartId;
            } else {
                strSelectedIds += claimDismantlePartId;
            }
        });
        return strSelectedIds;
    }

    function SaveAndComplete() {
        var errMsg = '';
        var isValid = true;
        var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
        var strSelectedIds = ReturnSelectIdList();
        if (strSelectedIds.length == 0) {
            SetErrorMessage('@MessageResource.ScrapDetail_Error_RowNotSelected');
            return false;
        } else {
            var list = grid.dataSource.data();
            for (var i = 0; i < list.length; i++) {
                var id = list[i].ClaimDismantledPartId;
                if ((list[i].FirmActionId == null) && strSelectedIds.indexOf(id) > -1) {
                    isValid = false;
                    errMsg = '@MessageResource.ClaimDismantledParts_Warning_EmptyFirmAction';
                    $('tr[data-uid="' + list[i].uid + '"] ').css("background-color", "lightPink");
                }
                if (list[i].FirmActionExplanation != null && list[i].FirmActionExplanation.length > 100) {
                    isValid = false;
                    errMsg = '@MessageResource.ClaimDismantledParts_Warning_FirmActionExplanationLength';
                    $('tr[data-uid="' + list[i].uid + '"] ').css("background-color", "lightPink");
                }
            }
            if (isValid) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                
                grid.saveChanges();
                $("#barcode").val("");
                var selectedIdList = ReturnSelectIdList();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ClaimDismantledPartComplete", "ClaimDismantledParts")",
                    data: { claimWaybillId: @Model.ClaimWaybillId, idList: selectedIdList,"__RequestVerificationToken": token  },
                    traditional: true,
                    success: function(result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#ClaimDismantledPartsGrid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage('@MessageResource.Global_Display_Success');
                            window.location.reload();
                        }
                    },
                    dataType: "json"
                });
            } else {
                SetErrorMessage(errMsg);
            }
        }
    }
    function Save() {
        var errMsg = '';
        var isValid = true;
        var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
        var strSelectedIds = ReturnSelectIdList();
        if (strSelectedIds.length == 0) {
            SetErrorMessage('@MessageResource.ScrapDetail_Error_RowNotSelected');
            return false;
        } else {
            var list = grid.dataSource.data();
            for (var i = 0; i < list.length; i++) {
                var id = list[i].ClaimDismantledPartId;
                if ((list[i].FirmActionId == null) && strSelectedIds.indexOf(id) > -1) {
                    isValid = false;
                    errMsg = '@MessageResource.ClaimDismantledParts_Warning_EmptyFirmAction';
                    $('tr[data-uid="' + list[i].uid + '"] ').css("background-color", "lightPink");
                }
                if (list[i].FirmActionExplanation != null && list[i].FirmActionExplanation.length > 100) {
                    isValid = false;
                    errMsg = '@MessageResource.ClaimDismantledParts_Warning_FirmActionExplanationLength';
                    $('tr[data-uid="' + list[i].uid + '"] ').css("background-color", "lightPink");
                }
            }
            if (isValid) {
                grid.saveChanges();
                $("#barcode").val("");
                SetSuccessMessage('@MessageResource.Global_Display_Success');
                var grid = $("#ClaimDismantledPartsGrid").data("kendoGrid");
                grid.dataSource.read();
            } else {
                SetErrorMessage(errMsg);
            }
        }
    }
</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.ClaimDismantledParts.ClaimDismantledPartsListModel>()
          .Name("ClaimDismantledPartsGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.IsSelected).ClientTemplate("#= OnDataboundCB(ClaimDismantledPartId, IsSelected)#").Width(50).Sortable(false).Title("").Visible(@ViewBag.AcceptUser == "");
                  columns.Bound(p => p.DismantledPartName).Width(100).Sortable(true);
                  columns.Bound(p => p.PartName).Width(100).Sortable(true);
                  columns.Bound(p => p.Quantity).Width(100).Sortable(true);
                  columns.Bound(p => p.DismantledPartSerialNo).Width(120).Sortable(true);
                  columns.Bound(p => p.Barcode).Width(250).Sortable(true);
                  columns.Bound(p => p.CreateDate).Width(100).Format("{0:dd/MM/yyyy}").Sortable(true);
                  columns.Bound(p => p.RackCode).Width(100).Sortable(true);
                  columns.ForeignKey(e => e.FirmActionId, (System.Collections.IEnumerable)ViewData["FirmActionList"], "Value", "Text").Width(100).EditorTemplateName("FirmActionEditor");
                  columns.Bound(p => p.FirmActionExplanation).Sortable(true).ClientTemplate("#= OnDatabound(FirmActionExplanation)#").EditorTemplateName("FirmActionExplanationEditor");
              })
          .Pageable()
          .Sortable()
          .Scrollable()
           
          .Events(e => e.Edit("onEdit"))
          .Editable(editable => editable.Mode(GridEditMode.InCell))
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .Read(read => read.Action("ListClaimDismantledParts", "ClaimDismantledParts", Model))
                                        .Model(
                                            model =>
                                                {
                                                    model.Id(p => p.ClaimDismantledPartId);
                                                    model.Field(p => p.DismantledPartName).Editable(false);
                                                    model.Field(p => p.PartName).Editable(false);
                                                    model.Field(p => p.Quantity).Editable(false);
                                                    model.Field(p => p.DismantledPartSerialNo).Editable(false);
                                                    model.Field(p => p.Barcode).Editable(false);
                                                    model.Field(p => p.CreateDate).Editable(false);
                                                    model.Field(p => p.IsSelected).Editable(false);
                                                    model.Field(p => p.RackCode).Editable(false);
                                                })
                                        .Update(update => update.Action("ClaimDismantledPartsSave", "ClaimDismantledParts").Type(HttpVerbs.Post))))
</div>
<br />
@if (ViewBag.AcceptUser == "")
{
    @ODMSHelpers.Button("btnSave", CommonUtility.GetResourceValue("ClaimDismantledParts_Display_Save"), CommonValues.PermissionCodes.ClaimDismantledParts.ClaimDismantledPartsIndex, "ClaimDismantledPartsIndex", "Save();")
    @ODMSHelpers.Button("btnSaveAndComplete", CommonUtility.GetResourceValue("ClaimDismantledParts_Display_SaveAndComplete"), CommonValues.PermissionCodes.ClaimDismantledParts.ClaimDismantledPartsComplete, "ClaimDismantledPartsComplete", "SaveAndComplete();")
}