@using ODMSCommon.Resources

@model ODMSModel.StockRackDetail.StockRackDetailListModel

@{
    ViewBag.Title = MessageResource.EmptyStockRackDetail_PageTitle_Index;
}

<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv" style="width: 120px">@Html.Label(@MessageResource.StockTypeDetail_Display_IdDealer)</div>
            <div class="shortTxtDiv">
                @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId() == 0)
            </div>

    </div>
        <br />
</div>


        @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.StockRackDetail.EmptyStockRackDetailIndex)

<br />

<script type="text/javascript">

    $(document).ready(init);
    function StockRackDetailSearch()
    {
        return {
            IdDealer: $('#IdDealer').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#StockRackDetailGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
        });
}

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.StockRackDetail.StockRackDetailListModel>()
          .Name("StockRackDetailGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.WarehouseName).Sortable(true);
                  columns.Bound(p => p.RackName).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListEmptyStockRackDetail", "StockRackDetail", Model).Data("StockRackDetailSearch"))
                                        .Model(model => model.Field(o => o.IdDealer).DefaultValue(-1)))

          )
</div>
