@using ODMSCommon.Resources

@model ODMSModel.StockRackDetail.StockRackTypeDetailListModel

@{
    ViewBag.Title = MessageResource.StockRackDetail_PageTitle_Index;
}
<br />

<script type="text/javascript">
    function StockRackTypeDetailSearch() {
        return {
            IdDealer: '@Model.IdDealer',
            PartId: '@Model.PartId'
        };
    }
</script>

 @Html.HiddenFor(v => v.IdDealer)
 @Html.HiddenFor(v => v.PartId)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.StockRackDetail.StockRackTypeDetailListModel>()
          .Name("StockRackTypeDetailGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.WarehouseName).Sortable(true);
              columns.Bound(p => p.RackName).Sortable(true);
              columns.Bound(p => p.StockTypeName).Sortable(true);
              columns.Bound(p => p.Quantity).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListStockRackTypeDetail", "StockRackDetail", Model).Data("StockRackTypeDetailSearch"))
                                        .Model(model => model.Field(o => o.IdDealer).DefaultValue(-1)))

          )
</div>
