@using ODMSCommon.Resources

@model ODMSModel.SparePartCountryVatRatio.SparePartCountryVatRatioListModel

@{
    ViewBag.Title = MessageResource.SparePartCountryVatRatio_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">
        @{
            Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "OrginalSparePart", ControlId = "IdPart", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });       
        }
        </div>
        <div class="clearDiv">&nbsp;</div>
         <div class="labelDiv">@Html.LabelFor(v => v.IdCountry)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IdCountry).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CountryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>
                <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

        </div>
        <br />
    </div>

@{
    if (ODMSCommon.Security.UserManager.UserInfo.GetUserDealerId() != null)
    {
        @ODMSHelpers.LinkButton("btnSearch", ODMSCommon.Resources.MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.SparePartCountryVatRatio.SparePartCountryVatRatioIndex)
        @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.SparePartCountryVatRatio_PageTitle_Create, CommonValues.PermissionCodes.SparePartCountryVatRatio.SparePartCountryVatRatioCreate)
    }     
}

<br />
<div id="SparePartCountryVatRatioModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("SparePartCountryVatRatioModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#SparePartCountryVatRatioGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function DeleteSparePartCountryVatRatio(obj, aId, idCountry) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSparePartCountryVatRatio","SparePartCountryVatRatio")",
                data: { IdPart: aId, IdCountry: idCountry, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#SparePartCountryVatRatioGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
        });
}

@*function DetailsSparePartCountryVatRatio(obj, idPart, idCountry) {
    $('#modelWindow').html('');
    var frameTitle = $(obj).attr("frameTitle");
    var link = "@Url.Action("SparePartCountryVatRatioDetails", "SparePartCountryVatRatio",new { IdPart = "idPart", IdCountry = "idCountry"})";
        link = link.replace("idPart", idPart);
        link = link.replace("idCountry", idCountry);

        ShowPopup(frameTitle, link);
    }*@

    function UpdateSparePartCountryVatRatio(obj, idPart, idCountry) {
        $('#modelWindow').html('');
        var frameTitle = $(obj).attr("frameTitle");
        var link = "@Url.Action("SparePartCountryVatRatioUpdate", "SparePartCountryVatRatio",new { IdPart = "idPart", IdCountry = "idCountry"})";
        link = link.replace("idPart", idPart);
        link = link.replace("idCountry", idCountry);

        ShowPopup(frameTitle, link);
    }

    function ShowPopup(frameTitle, link) {
        $("#SparePartCountryVatRatioModelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#SparePartCountryVatRatioModelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
       
    }

    $(document).ready(init);
    function SparePartCountryVatRatioSearch()
    {
        //alert("arama");
        return {
            IdPart: $('#IdPart').val(),
            IdCountry: $('#IdCountry').val(),
            IsActive: $('#IsActive').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#SparePartCountryVatRatioGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#SparePartCountryVatRatioModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("idPart");
            var clickedDealerId = $(this).attr("idCountry");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit") == true) {
                link = "@Url.Action("SparePartCountryVatRatioUpdate", "SparePartCountryVatRatio", new { idPart = -1, idCountry = -1 })";
                    link = link.replace("-1", clickedId);
                    link = link.replace("-1", clickedDealerId);
                }
               @* else if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("SparePartCountryVatRatioDetails", "SparePartCountryVatRatio", new { idPart = -1, idCountry = -1 })";
                    link = link.replace("-1", clickedId);
                    link = link.replace("-1", clickedDealerId);
                } *@
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("SparePartCountryVatRatioCreate", "SparePartCountryVatRatio")";
                }
                $("#SparePartCountryVatRatioModelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#SparePartCountryVatRatioModelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
               

            });

    }

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.SparePartCountryVatRatio.SparePartCountryVatRatioListModel>()
          .Name("SparePartCountryVatRatioGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.IdPart).ClientTemplate("<center><a class='edit modalClick' idPart='#=IdPart#' idCountry='#=IdCountry#' frameTitle='" + CommonUtility.GetResourceValue("SparePartCountryVatRatio_PageTitle_Update") + "' href='/SparePartCountryVatRatio/SparePartCountryVatRatioUpdate/#=IdPart#&#=IdCountry#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartCountryVatRatio.SparePartCountryVatRatioUpdate));
                  columns.Bound(p => p.IdPart).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("SparePartCountryVatRatio_PageTitle_Delete") + "' onclick='DeleteSparePartCountryVatRatio(this,#=IdPart#, #=IdCountry#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.SparePartCountryVatRatio.SparePartCountryVatRatioDelete));
                  columns.Bound(p => p.PartCode).Sortable(true);
                  columns.Bound(p => p.PartName).Sortable(true);
                  columns.Bound(p => p.CountryName).Sortable(true);
                  columns.Bound(p => p.VatRatio).Sortable(true);
                  columns.Bound(p => p.IsActiveName).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListSparePartCountryVatRatio", "SparePartCountryVatRatio", Model).Data("SparePartCountryVatRatioSearch"))
                                        .Model(model => model.Field(o => o.IdPart).DefaultValue(-1)))

          )
</div>
