@model ODMSModel.Campaign.CampaignViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Campaign_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("CampaignUpdate", "Campaign", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.CampaignCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.CampaignCode)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.CampaignName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }@Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StartDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.StartDate)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.EndDate)</div>
    <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.EndDate)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.ModelKod)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.ModelKod).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.ModelKodList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.ModelKod)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.MainFailureCode)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.MainFailureCode).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SLFailureCode).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.MainFailureCode)</div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsValidAbroadName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsValidAbroad).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.IsValidAbroad)</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc)</div>
    <div class="labelDiv">@Html.LabelFor(v => v.SubCategoryId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.SubCategoryId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SubCategoryList).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.SubCategoryId)</div>    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsMustName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsMust)  </div>
    <div class="clearDiv">&nbsp;</div>
    
    <br />
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Campaign.CampaignUpdate, "CampaignUpdate")
    @Html.HiddenFor(v => v.CampaignCode)
}
<script type="text/javascript">
    $(function () {
        $('.k-widget').addClass('input-validation-valid');
        $(".k-widget").removeClass("input-validation-error");
    });
    $(document).ready(function () {

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
