
@using ODMSModel.VehicleNote
@model ODMSModel.VehicleNote.VehicleNotesModel
@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.VehicleNote_PageTitle_Index;
}
  <!-- Content.css zaten bundles/odms/css/commons icerisinde var. tekrar link vermeye gerek yok -->
@Html.AntiForgeryToken()
<br/>
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick2 createNew2", CommonUtility.GetResourceValue("VehicleNote_PageTitle_Create"),CommonValues.PermissionCodes.VehicleNotes.VehicleNotesIndex)

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow2")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid2').data('kendoGrid');
        grid.dataSource.read();
    }"))
    )
</div>

    <script>
        $(document).ready(function () {

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            $("body").delegate(".modalClick2", "click", function (e) {
                $('#modelWindow2').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                
                var frameTitle = $(this).attr("frameTitle");
                if ($(this).hasClass("index") == true) {
                    link = "@Url.Action("VehicleNotesIndex", "VehicleNotes", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                 
            }
            else if ($(this).hasClass("createNew2")) {
                link = "@Url.Action("VehicleNotesCreate", "VehicleNotes", new { id = Model.VehicleId })";                
            }
            $("#modelWindow2_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow2").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
            
        });

        });
        function DeleteVehicleNote(vnId) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteVehicle")',
                    data: { id: vnId, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid2').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }
    </script>

<div class="kendoGridDiv" id="grd2" >
    @(Html.Kendo().Grid<VehicleNotesListModel>()
          .Name("grid2")

          .Columns(columns =>
          {
              columns.Bound(p => p.DealerName).Width(50).Sortable(true);
              columns.Bound(p => p.Note).Width(100).Sortable(true);
              columns.Bound(p => p.VehicleKm).Width(50).Sortable(true);

          })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(CommonValues.GridPageSize.Short)
              .ServerOperation(true)
              .Read(read => read.Action("ListVehicleNote", "VehicleNotes", Model).Type(HttpVerbs.Post))
              .Model(model => model.Field(o => o.VehicleNotesId).DefaultValue(-1))))
</div>
