@model ODMSModel.VehicleNoteProposal.VehicleNotesProposalModel

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.VehicleNote_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@using (Html.BeginForm("VehicleNotesProposalCreate", "VehicleNotesProposal", FormMethod.Post))
{
    //<div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
    // <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DealerId)</div>

    //  <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.Note)</div>
    <div class="textarea">@Html.TextAreaFor(v => v.Note, new { style = "width: 200px; height: 100px;" }) @Html.ValidationMessageFor(v => v.Note) </div>

    <div class="clearDiv">&nbsp;</div>@*

        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)</div>
    *@
    <div class="clearDiv">&nbsp;</div>




    @Html.ValidationSummary(true)


    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    @Html.HiddenFor(d => d.VehicleId)
    @Html.HiddenFor(d => d.DealerId)
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.VehicleNotes.VehicleNotesCreate, "VehicleNotesCreate")
}
