@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.Supplier
@model SupplierViewModel


<link href="~/Style/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/custom.js"></script>
@Html.AntiForgeryToken()

@*Yurtdışı*@
@if (Model.DealerPoGroup == 13)
{
    <div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.DealerId).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0) @Html.ValidationMessageFor(v => v.DealerId)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.SupplierName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SupplierName,new { maxlength="100"}) @Html.ValidationMessageFor(v => v.SupplierName) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.TaxOffice)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxOffice, new { maxlength = "25" }) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.TaxNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxNo, new { maxlength = "20" }) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Url)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Url, new { maxlength = "50" }) @Html.ValidationMessageFor(v => v.Url) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.ContactPerson)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ContactPerson, new { maxlength = "30" }) @Html.ValidationMessageFor(v => v.ContactPerson) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Email)  </div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.Email, new { maxlength = "50" }) @Html.ValidationMessageFor(v => v.Email)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.Phone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Phone, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.Phone) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Fax)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Fax, new { maxlength = "20" }) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.MobilePhone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MobilePhone, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.MobilePhone)   </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.ChamberOfCommerce)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ChamberOfCommerce, new { maxlength = "50" })  </div>
    <div class="labelDiv">@Html.LabelFor(c => c.TradeRegistryNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TradeRegistryNo, new { maxlength = "15" })  </div>
    <div class="clearDiv">&nbsp;</div>


    <div class="labelDiv">@Html.LabelFor(c => c.CountryId)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox()
                  .Name("CountryId")
                  .HtmlAttributes(new { style = "width:150px" })
                  .Placeholder(MessageResource.Global_Display_Select)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Filter(FilterType.Contains)
                  .BindTo(ViewBag.CountryList)
                  .SelectedIndex(((List<SelectListItem>)ViewBag.CountryList).FindIndex(c => c.Value == "1" && Model.CountryId.HasValue == false))
        ) @Html.ValidationMessageFor(v => v.CountryId)
    </div>
    <div class="labelDiv">@Html.LabelFor(c => c.CityId)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox()
        .Name("CityId")
        .Placeholder(MessageResource.Global_Display_Select)
        .DataTextField("Text")
        .DataValueField("Value")
        .Filter(FilterType.Contains)
        .DataSource(source => source.Read(read => read.Action("ListCities", "Supplier")
                                                   .Data("GetCountryId"))
                                 .ServerFiltering(true))
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("CountryId")
        ) @Html.ValidationMessageFor(v => v.CityId)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.TownId)</div>
    <div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(c => c.TownId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListTowns", "Supplier")
            .Data("GetCityId"))
            .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("CityId") 
        @Html.ValidationMessageFor(c => c.TownId)
    </div>
    <div class="labelDiv">@Html.LabelFor(v => v.ZipCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ZipCode, new { maxlength = "5" })</div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.Address)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(c => c.Address, new { maxlength = "100" }) @Html.ValidationMessageFor(c => c.Address)</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>

    <script type="text/javascript">
     $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
    </script>

}
else
{
    <div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(c => c.DealerId).BindTo(ViewBag.DealerList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0) @Html.ValidationMessageFor(v => v.DealerId)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.SupplierName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SupplierName, new { maxlength = "100" }) @Html.ValidationMessageFor(v => v.SupplierName) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.TaxOffice)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxOffice, new { maxlength = "25" }) @Html.ValidationMessageFor(v => v.TaxOffice) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.TaxNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TaxNo, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.TaxNo) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Url)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Url, new { maxlength = "50" }) @Html.ValidationMessageFor(v => v.Url) </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.ContactPerson)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ContactPerson, new { maxlength = "30" }) @Html.ValidationMessageFor(v => v.ContactPerson) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Email)  </div>
    <div class="shortTxtDiv">
        @Html.TextBoxFor(c => c.Email, new { maxlength = "50" }) @Html.ValidationMessageFor(v => v.Email)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.Phone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Phone, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.Phone) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.Fax)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.Fax, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.Fax)   </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.MobilePhone)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.MobilePhone, new { maxlength = "20" }) @Html.ValidationMessageFor(v => v.MobilePhone)   </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.ChamberOfCommerce)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ChamberOfCommerce, new { maxlength = "50" }) @Html.ValidationMessageFor(v => v.ChamberOfCommerce) </div>
    <div class="labelDiv">@Html.LabelFor(c => c.TradeRegistryNo)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.TradeRegistryNo, new { maxlength = "15" }) @Html.ValidationMessageFor(v => v.TradeRegistryNo) </div>
    <div class="clearDiv">&nbsp;</div>


    <div class="labelDiv">@Html.LabelFor(c => c.CountryId)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox()
                  .Name("CountryId")
                  .HtmlAttributes(new { style = "width:150px" })
                  .Placeholder(MessageResource.Global_Display_Select)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Filter(FilterType.Contains)
                  .BindTo(ViewBag.CountryList)
                  .SelectedIndex(((List<SelectListItem>)ViewBag.CountryList).FindIndex(c => c.Value == "1" && Model.CountryId.HasValue == false))
        ) @Html.ValidationMessageFor(v => v.CountryId)
    </div>
    <div class="labelDiv">@Html.LabelFor(c => c.CityId)</div>
    <div class="shortTxtDiv">
        @(Html.Kendo().ComboBox()
        .Name("CityId")
        .Placeholder(MessageResource.Global_Display_Select)
        .DataTextField("Text")
        .DataValueField("Value")
        .Filter(FilterType.Contains)
        .DataSource(source => source.Read(read => read.Action("ListCities", "Supplier")
                                                   .Data("GetCountryId"))
                                 .ServerFiltering(true))
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("CountryId")
        ) @Html.ValidationMessageFor(v => v.CityId)
    </div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.TownId)</div>
    <div class="shortTxtDiv">
    @Html.Kendo().ComboBoxFor(c => c.TownId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListTowns", "Supplier")
                .Data("GetCityId"))
                .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("CityId") @Html.ValidationMessageFor(v => v.TownId)
        </div>
    <div class="labelDiv">@Html.LabelFor(v => v.ZipCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(c => c.ZipCode, new { maxlength = "5" }) @Html.ValidationMessageFor(c => c.ZipCode)</div>
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(c => c.Address)</div>
    <div class="shortTxtDiv">@Html.TextAreaFor(c => c.Address, new { maxlength = "100" }) @Html.ValidationMessageFor(c => c.Address)</div>
    <div class="labelDiv">@Html.LabelFor(c => c.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>
    <script type="text/javascript">
     $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
        $("#Phone,#Fax,#MobilePhone").mask("(999) 999 99 99", { placeholder: " " });
    });
    </script>

}

@Html.HiddenFor(c => c.DealerId)
@Html.HiddenFor(c => c.DealerPoGroup)
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
<script type="text/javascript">
    function GetCountryId() {
        return {
            id: $('#CountryId').val()
        };
    }
    function GetCityId() {
        return {
            id: $('#CityId').val()
        };
    }

    function control()
    {
        var valid = true;
        $(".field-validation-valid").parent().each(function (i, e) {
            var inputId = $(e).find("span[class=field-validation-valid]:first").attr("data-valmsg-for");
            $(e).find("input,textarea").each(function (i1, e1) {
                if ($(e1).attr("id") == inputId && $(e1).val() == "") {
                    console.info($(e1).attr("id"));

                    $(e1).change(function () {
                        if($(this).val() != "")
                        {
                            $(this).parent().find("span[class=field-validation-error]").html("");
                            $(this).parent().find("span[class=field-validation-error]").attr("class", "field-validation-valid");
                        }
                    });

                    var inputObj = $(e).find("span[class=field-validation-valid]:first");
                    $(inputObj).attr("class", "field-validation-error");
                    $(inputObj).html('<a title="" data-toggle="tool-tip" data-original-title="*"><img style="width:16px" class="" src="@Url.Content("~/images/messagebox_warning.png")"> </a>');
                    valid = false;
                }
            });
            
        });
        return valid;
    }

</script>
