@using ODMSCommon.Resources

@using ODMSCommon.Security
@using ODMSModel.Price

@model PriceListModel
@{
    ViewBag.Title = @MessageResource.Price_PageTitle_Index;
}
@Html.AntiForgeryToken()



<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.PriceListId)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.PriceListId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.SLPriceList as List<SelectListItem>).Placeholder(ODMSCommon.Resources.MessageResource.Global_Display_Choose).SelectedIndex(0)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartClassList)</div>        
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.PartClassList).HtmlAttributes(new { style = "width:200px;" }).Value(ViewBag.PartClassList.ToString()).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.PartClassList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>
        <div class="labelDiv">@Html.LabelFor(d => d.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartCode) </div>
        <div class="clearfix"></div>        
        <div class="labelDiv">@Html.LabelFor(d => d.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PartName) </div>
        <div class="labelDiv">@Html.LabelFor(b => b.StartDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.StartDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>
        <div class="labelDiv">@Html.LabelFor(b => b.EndDate)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.EndDate).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text" , onkeypress = "return false;" })</div>
        <div class="clearfix"></div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsValid)</div>
        <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsValid)</div>
    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.PriceList.PriceListIndex)
@Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())

@using (Html.BeginForm("PriceIndex", "Price", FormMethod.Post, new { onsubmit = "FillParameter();" }))
{
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv" style="width: 80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample","StockCard")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br />
    </div>
    <div class="labelDiv">@Html.LabelFor(d => d.PartCodeList) </div>
    <div class="shortTxtDiv">
        @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
    </div>
    <div id="divExcepUpload">
        @ODMSHelpers.Button("StockCardSearch", CommonUtility.GetResourceValue("Global_Display_Search"), CommonValues.PermissionCodes.StockCard.StockCardSearch, "StockCardSearch")
    </div>

    <br />
    @Html.HiddenFor(x => x.PriceListId, new { id = "_PriceListId" })
    @Html.HiddenFor(x => x.PartClassList, new { id = "_PartClassList" })
    @Html.HiddenFor(x => x.PartCode, new { id = "_PartCode" })
    @Html.HiddenFor(x => x.PartName, new { id = "_PartName" })
    @Html.HiddenFor(x => x.StartDate, new { id = "_StartDate" })
    @Html.HiddenFor(x => x.EndDate, new { id = "_EndDate" })
  

    <script>
        $(document).ready(function () {
            FillParameter();
            document.getElementById("IsValid").checked = true;
        });
    </script>
    <br />
    <div class="clearDiv">&nbsp;</div>
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PriceListModel>()
          .Name("gridList")
          .Columns(columns =>
          {
              columns.Bound(b => b.PartClassCode).Width(90).Sortable(false);
              columns.Bound(b => b.PartCode).Width(130).ClientTemplate("<center><a title='" + CommonUtility.GetResourceValue("StockCard_PageTitle_Details") + "' href='../StockCard/StockCardIndex/?partId=#=PartId#&dealerId=" + UserManager.UserInfo.GetUserDealerId() + "'>#=PartCode#</a></center>").Sortable(false);
              columns.Bound(p => p.PartName).Width(130).ClientTemplate("<center><a class='details modalClick' id='#=PartId#'" + " frameTitle='" + @CommonUtility.GetResourceValue("SparePart_PageTitle_Details") + "' href='/SparePart/SparePartDetails/#=PartId#'>#=PartName#</a></center>").Sortable(false);
              columns.Bound(b => b.PriceList).Width(80).Sortable(false);
              columns.Bound(b => b.Price).Width(80).Sortable(true).HtmlAttributes(new { @style = "text-align:right" });
              columns.Bound(b => b.ValidityStartDate).Format("{0:dd/MM/yyyy}").Width(100).Sortable(true);
              columns.Bound(b => b.ValidityStopDate).Format("{0:dd/MM/yyyy}").Width(100).Sortable(true);
              columns.Bound(b => b.ChangedPartCode).Width(130).Sortable(false);
              columns.Bound(p => p.ChangedPartName).Width(130).Sortable(false);
              columns.Bound(b => b.ChangedPartPrice).Width(80).Sortable(true).HtmlAttributes(new { @style = "text-align:right" });
          })
          .Pageable()
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(CommonValues.GridPageSize.Long)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPrice", "Price", Model).Data("GetParameters")))
    )
    @Html.Partial("_ResponseTimeForGrid")
</div>

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelPriceListWindow")
        .Title("")
        .Draggable()
        .Resizable()
        .Width(950)
        .Height(580)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){
            var grid = $('#gridList').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
    )
</div>
@section scripts{
   }
<script>


        $(function () {
            $("#searchDiv").show();
            RegisterEventHandlers();

            if (document.addEventListener) {
                document.addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                }, false);
            } else {
                document.attachEvent('oncontextmenu', function () {
                    window.event.returnValue = false;
                });
            }
        });

        function RegisterEventHandlers() {
            $("body").delegate("#showSearch", "click", function (e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html('@MessageResource.Global_Display_Search_Criteria');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
            });

            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#gridList').data('kendoGrid');
                grid.dataSource.page(1);

            });

            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelPriceListWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("SparePartDetails", "SparePart", new { id = -1 })";
                    link = link.replace("-1", clickedId);
                }

                $("#modelPriceListWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelPriceListWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();

            });
        }

        function GetParameters() {
            return {
                PartCode: $('#PartCode').val(),
                PartName: $('#PartName').val(),
                PriceListId: $('#PriceListId').val(),
                PartClassList: $("#PartClassList").data('kendoMultiSelect').value().toString(),
                IsValid: document.getElementById("IsValid").checked,
                Price: $('#Price').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                ReportType: 24,
                Columns: "PartClassCode,PartCode,PartName,PriceList,Price,ValidityStartDateString,ValidityStopDateString"
            };
        }
        function FillParameter() {
            $("#_PriceListId").val($("#PriceListId").val());
            $("#_PartClassList").val($("#PartClassList").data('kendoMultiSelect').value().toString());
            $("#_PartCode").val($("#PartCode").val());
            $("#_PartName").val($("#PartName").val());
            $("#_StartDate").val($("#StartDate").val().toString());
            $("#_EndDate").val($("#EndDate").val().toString());
        }
</script>