@using ODMSCommon.Resources
@using ODMSModel.AppointmentIndicatorCategory
@model AppointmentIndicatorCategoryListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentIndicatorCategory_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">
       
        <div class="labelDiv">@Html.LabelFor(v => v.AppointmentIndicatorMainCategoryName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.AppointmentIndicatorMainCategoryId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AppointmentMainCategoryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

        <div class="labelDiv">@Html.LabelFor(c => c.AppointmentIndicatorCategoryName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.AppointmentIndicatorCategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCategories", "AppointmentIndicatorCategory")
                .Data("GetMainCategoryId").Type(HttpVerbs.Post)).ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("AppointmentIndicatorMainCategoryId")
        </div>
        
        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.AdminDesc)</div>        

        <div class="clearfix"></div>
        
        
        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", ODMSCommon.CommonValues.PermissionCodes.AppointmentIndicatorCategory.AppointmentIndicatorCategoryIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickAppointmentIndicatorCategory createNewAppointmentIndicatorCategory", CommonUtility.GetResourceValue("AppointmentIndicatorCategory_PageTitle_Create"), ODMSCommon.CommonValues.PermissionCodes.AppointmentIndicatorCategory.AppointmentIndicatorCategoryCreate)
@Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
<script>


    function GetMainCategoryId() {
        return {
            id: $('#AppointmentIndicatorMainCategoryId').val()
        };
    }

    function GetParameters() {
        return {
            IsActive: $("#IsActive").val(),
            ReportType: 4,
            Columns: "AppointmentIndicatorMainCategoryName,Code,AdminDesc,AppointmentIndicatorCategoryName"
        };
    }
    $(document).ready(function () {

        $("body").delegate("#btnReset", "click", function (e) {
            var combo = $("#AppointmentIndicatorMainCategoryId").data("kendoComboBox");
            combo.select(function (dataItem) { return dataItem.Value == -1; });
        });

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#AppointmentIndicatorCategoryGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickAppointmentIndicatorCategory", "click", function (e) {
            $('#modelWindowAppointmentIndicatorCategory').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            var height = "350";
            var width = "950";
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("AppointmentIndicatorCategoryUpdate", "AppointmentIndicatorCategory", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNewAppointmentIndicatorCategory")) {
                link = "@Url.Action("AppointmentIndicatorCategoryCreate", "AppointmentIndicatorCategory")";
            }
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("AppointmentIndicatorCategoryDetails", "AppointmentIndicatorCategory", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowAppointmentIndicatorCategory_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowAppointmentIndicatorCategory").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidget.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
           
        });

    });
    function DeleteAppointmentIndicatorCategory(cId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AppointmentIndicatorCategoryDelete", "AppointmentIndicatorCategory")",
                data: { appointmentIndicatorCategoryId: cId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppointmentIndicatorCategoryGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowAppointmentIndicatorCategory")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#AppointmentIndicatorCategoryGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<AppointmentIndicatorCategoryListModel>()
          .Name("AppointmentIndicatorCategoryGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.AppointmentIndicatorCategoryId).ClientTemplate("<center><a class='details modalClickAppointmentIndicatorCategory' id='#=AppointmentIndicatorCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorCategory_PageTitle_Details") + "' href='/AppointmentIndicatorCategory/AppointmentIndicatorCategoryDetails/#=AppointmentIndicatorCategoryId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorCategory.AppointmentIndicatorCategoryDetails));
              columns.Bound(p => p.AppointmentIndicatorCategoryId).ClientTemplate("<center><a class='edit modalClickAppointmentIndicatorCategory' id='#=AppointmentIndicatorCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorCategory_PageTitle_Update") + "' href='/AppointmentIndicatorCategory/AppointmentIndicatorCategoryUpdate/#=AppointmentIndicatorCategoryId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorCategory.AppointmentIndicatorCategoryUpdate));
              columns.Bound(o => o.AppointmentIndicatorCategoryId).ClientTemplate("<center><a  onclick='DeleteAppointmentIndicatorCategory(#=AppointmentIndicatorCategoryId#)' href='javascript:void(0);'  id='#=AppointmentIndicatorCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorCategory_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorCategory.AppointmentIndicatorCategoryDelete));
              columns.Bound(p => p.AppointmentIndicatorMainCategoryName).Width(200).Sortable(true);
              columns.Bound(p => p.Code).Width(200).Sortable(true);
              columns.Bound(p => p.AdminDesc).Width(200).Sortable(true);
              columns.Bound(p => p.AppointmentIndicatorCategoryName).Width(200).Sortable(true);
              columns.Bound(p => p.IsActiveName).Sortable(true).Width(50);
              columns.Bound(p => p.AppointmentIndicatorCategoryId).Sortable(false).Title(@CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Details")).ClientTemplate(Html.ActionLink(@CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Details"), "AppointmentIndicatorSubCategoryIndex", "AppointmentIndicatorSubCategory", new { appointmentIndicatorCategoryId = "#=AppointmentIndicatorCategoryId#", appointmentIndicatorMainCategoryId = "#=AppointmentIndicatorMainCategoryId#" }, new { target = "_blank" }).ToString()).Width(100).Filterable(false);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("ListAppointmentIndicatorCategory", "AppointmentIndicatorCategory", Model).Data("GetParameters"))
              .Model(model => model.Field(o => o.AppointmentIndicatorCategoryId).DefaultValue(-1)))

    )
</div>


<br />
<h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
<div class="labelDiv" style="width:80px">@MessageResource.Global_Display_SampleFile </div>
<div>
    <a class="k-link2" href="@Url.Action("ExcelSample")">
        <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
    </a>
    <br />
    @using (Html.BeginForm("AppointmentIndicatorCategoryIndex", "AppointmentIndicatorCategory", FormMethod.Post))
    {
        @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
        <div id="divExcepUpload">
            @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
        </div>
    }
</div>
