@using ODMSCommon.Resources
@using ODMSCommon.Security

@model ODMSModel.CustomerDiscount.CustomerDiscountListModel

@{
    ViewBag.Title = MessageResource.CustomerDiscount_PageTitle_Index;
}
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.Label(@MessageResource.CustomerDiscount_Display_IdDealer)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.CustomerName) </div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartDiscountRatio)</div>
        <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c=>c.PartDiscountRatio).Decimals(2).Min(0).Max(100).Format("{0:N}").Spinners(false).HtmlAttributes(new{ type = "text", maxlength ="5",data_val_min="0",style="width:204px"})</div>

        <div class="labelDiv">@Html.LabelFor(v => v.LabourDiscountRatio)</div>
        <div class="shortTxtDiv">@Html.Kendo().NumericTextBoxFor(c=>c.LabourDiscountRatio).Decimals(2).Min(0).Max(100).Format("{0:N}").Spinners(false).HtmlAttributes(new{ type = "text", maxlength ="5",data_val_min="0",style="width:204px"})</div>
        <br /><br />
        </div>
        <br />
    </div>

@{
    if (UserManager.UserInfo.GetUserDealerId() != 0)
    {
        @ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountIndex)
        @ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.CustomerDiscount_PageTitle_Create, CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountCreate)
    }     
}

<br />
<div id="CustomerDiscountModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("CustomerDiscountModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#CustomerDiscountGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function DeleteCustomerDiscount(obj,aId, idDealer) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteCustomerDiscount","CustomerDiscount")",
            data: { IdCustomer: aId, IdDealer: idDealer , "__RequestVerificationToken": token  },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#CustomerDiscountGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
        });
    }

    function DetailsCustomerDiscount(obj, idCustomer, idDealer) {
        $('#CustomerDiscountModelWindow').html('');
        var frameTitle = $(obj).attr("frameTitle");
        var link = "@Url.Action("CustomerDiscountDetails", "CustomerDiscount",new { IdCustomer = "idCustomer", IdDealer = "idDealer"})";
        link = link.replace("idCustomer", idCustomer);
        link = link.replace("idDealer", idDealer);

        ShowPopup(frameTitle, link);
    }

    function UpdateCustomerDiscount(obj, idCustomer, idDealer) {
        $('#CustomerDiscountModelWindow').html('');
        var frameTitle = $(obj).attr("frameTitle");
        var link = "@Url.Action("CustomerDiscountUpdate", "CustomerDiscount",new { IdCustomer = "idCustomer", IdDealer = "idDealer"})";
        link = link.replace("idCustomer", idCustomer);
        link = link.replace("idDealer", idDealer);

        ShowPopup(frameTitle, link);
    }

    function ShowPopup(frameTitle, link) {
        $("#CustomerDiscountModelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#CustomerDiscountModelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
        
    }

    $(document).ready(init);
    function CustomerDiscountSearch()
    {
        //alert("arama");
        return {
            IdDealer: $('#IdDealer').val(),
            CustomerName: $('#CustomerName').val(),
            PartDiscountRatio: $('#PartDiscountRatio').val(),
            LabourDiscountRatio: $('#LabourDiscountRatio').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#CustomerDiscountGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                }
                else {
                    $(this).html("@MessageResource.Global_Display_Search_Criteria");
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
            $("body").delegate(".modalClick", "click", function (e) {
                $('#CustomerDiscountModelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("idCustomer");
                var clickedDealerId = $(this).attr("idDealer");
                var frameTitle = $(this).attr("frameTitle");
                if ($(this).hasClass("edit") == true) {
                    link = "@Url.Action("CustomerDiscountUpdate", "CustomerDiscount", new { idCustomer = -1, idDealer = -1 })";
                                    link = link.replace("-1", clickedId);
                                    link = link.replace("-1", clickedDealerId);
                }
                else if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("CustomerDiscountDetails", "CustomerDiscount", new { idCustomer = -1, idDealer = -1 })";
                    link = link.replace("-1", clickedId);
                    link = link.replace("-1", clickedDealerId);
                } 
                else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("CustomerDiscountCreate", "CustomerDiscount")";
                }
                $("#CustomerDiscountModelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#CustomerDiscountModelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
               
            });

}

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CustomerDiscount.CustomerDiscountListModel>()
          .Name("CustomerDiscountGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.IdCustomer).ClientTemplate("<center><a class='details modalClick' idCustomer='#=IdCustomer#' idDealer='#=IdDealer#' frameTitle='" + CommonUtility.GetResourceValue("CustomerDiscount_PageTitle_Details") + "' href='/CustomerDiscount/CustomerDiscountDetails/#=IdCustomer#&#=IdDealer#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountDetails));
                  columns.Bound(p => p.IdCustomer).ClientTemplate("<center><a class='edit modalClick' idCustomer='#=IdCustomer#' idDealer='#=IdDealer#' frameTitle='" + CommonUtility.GetResourceValue("CustomerDiscount_PageTitle_Update") + "' href='/CustomerDiscount/CustomerDiscountUpdate/#=IdCustomer#&#=IdDealer#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(70).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountUpdate));
                  columns.Bound(p => p.IdCustomer).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("CustomerDiscount_PageTitle_Delete") + "' onclick='DeleteCustomerDiscount(this,#=IdCustomer#, #=IdDealer#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerDiscount.CustomerDiscountDelete));
                  columns.Bound(p => p.CustomerName).Sortable(true);
                  columns.Bound(p => p.DealerName).Sortable(true);
                  columns.Bound(p => p.PartDiscountRatio).Sortable(true).Format("{0:N}");
                  columns.Bound(p => p.LabourDiscountRatio).Sortable(true).Format("{0:N}");
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListCustomerDiscount", "CustomerDiscount", Model).Data("CustomerDiscountSearch"))
                                        .Model(model => model.Field(o => o.IdCustomer).DefaultValue(-1)))

          )
</div>
