@model ODMSModel.MaintenancePart.MaintenancePartViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("MaintenancePart_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 

<div class="labelDiv">@Html.LabelFor(v => v.MaintName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MaintName)</div>

<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsAlternateAllow)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsAlternateAllow)</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsDifBrandAllow)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsDifBrandAllow)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsMust)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsMust)</div>

<div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Quantity)</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive)</div>


<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContentWrapper").css("min-height", 350);
    }

</script>
