@model ODMSModel.MaintenancePart.MaintenancePartViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("MaintenancePart_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("MaintenancePartDelete", "MaintenancePart", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
        <div class="labelDiv">@Html.LabelFor(v => v.MaintName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.MaintName)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsAlternateAllow)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsAlternateAllow)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsDifBrandAllow)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsDifBrandAllow)</div>

        <div class="clearDiv">&nbsp;</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsMust)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsMust)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.Quantity)</div>
        <div class="shortTxtDiv">@Html.DisplayFor(v => v.Quantity)</div>

        <div class="clearDiv">&nbsp;</div>
        @Html.HiddenFor(d => d.MaintId)
        @Html.HiddenFor(d => d.PartId)

        @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), CommonValues.PermissionCodes.MaintenancePart.MaintenancePartsDelete, "MaintenancePartDelete")
    }
}
