@using ODMSCommon.Resources
@model ODMSModel.LabourType.LabourTypeDetailModel
@{
    ViewBag.Title = MessageResource.LabourType_PageTitle_Update;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("LabourTypeUpdate", "LabourType", FormMethod.Post))
{
    <div class="labelDiv" style="width: 100px; margin-top: 10px;">@Html.LabelFor(d => d.Name)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 10px; width: 100px">
    @{
        Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true });
        @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    }
    </div>@*
    <div class="labelDiv" style="position: absolute; margin-top: 120px; width: 100px">@Html.LabelFor(d => d.VatRatio)</div>
    <div style="position: absolute; margin-top: 120px; margin-left: 100px;">
        @(Html.Kendo().ComboBox()
                  .Name("VatRatio")
                  .Placeholder(MessageResource.LabourType_Display_VatRatio)
                  .BindTo(ViewBag.VatRatioList)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .HtmlAttributes(new { @class = "ComboBox", @style = "width: 200px;" })
              )
        @Html.ValidationMessageFor(v => v.VatRatio)
    </div>*@
    <div class="labelDiv" style="position: absolute; margin-top: 120px; width: 100px">@Html.LabelFor(d => d.Description)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 120px; margin-left: 100px; width: 100px">
        @Html.TextBoxFor(d => d.Description) 
        @Html.ValidationMessageFor(v => v.Description)
    </div>
    <div class="labelDiv" style="position: absolute; width: 100px; margin-left: 120px; margin-top: 150px;">@Html.LabelFor(w => w.IsActiveString)</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 150px; margin-left: 100px; width: 100px">@Html.CheckBoxFor(w => w.IsActive)</div>
    <br/>
    @ODMSHelpers.Button("Update", MessageResource.Global_Display_Update, CommonValues.PermissionCodes.LabourType.LabourTypeUpdate, "LabourTypeUpdate")        
}

<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });
    
    function adjustPage() {
        $("#popupContent").css("width", 300);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 500);
    }

    function adjustControlPositions() {
        $("#Update").css("position", "absolute");
        $("#Update").css("margin-top", "180px");
        $("#Update").css("margin-left", "-100px");
        $("#Update").css("width", "75px");
        
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-left", "-77px");
        $(".shortTxtDiv span[data-valmsg-for='MultiLanguageContentAsText']").css("margin-top", "80px");
    }
</script>