@using ODMSCommon.Resources
@model ODMSModel.LabourType.LabourTypeDetailModel
@{
    ViewBag.Title = MessageResource.LabourType_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("LabourTypeDetails", "LabourType", FormMethod.Post))
{
    <div class="labelDiv" style="width: 100px; margin-top: 10px;">@Html.LabelFor(d => d.Name)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 10px; width: 250px">@Html.DisplayFor(d => d.Name)&nbsp;</div>
   @* <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 100px">@Html.LabelFor(d => d.VatRatio)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 100px; width: 100px">@Html.DisplayFor(d => d.VatRatio)&nbsp;</div>*@
    <div class="labelDiv" style="position: absolute; width: 100px; margin-top: 40px;">@Html.LabelFor(d => d.IsActiveString)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 100px; width: 100px">@Html.DisplayFor(d => d.IsActiveString)&nbsp;</div>
    <div class="labelDiv" style="position: absolute; width: 100px; margin-top: 70px;">@Html.LabelFor(d => d.Description)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 70px; margin-left: 100px; width: 250px">@Html.DisplayFor(d => d.Description)&nbsp;</div>
}


<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 300);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 500);
    }
</script>
