@{
    ViewBag.Title = MessageResource.LabourCountryVatRatio_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style type="text/css">
    #popupContentWrapper {
        min-height: 360px !important;
    }

    #popupContent {
        width: 480px !important;
    }
</style>
@using ODMSCommon.Resources
@model ODMSModel.LabourCountryVatRatio.LabourCountryVatRatioViewModel
@using (Html.BeginForm("LabourCountryVatRatioCreate", "LabourCountryVatRatio", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="labelDiv">@Html.LabelFor(v => v.LabourId)</div>
    <div class="shortTxtDiv">
        @{
    Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "LabourName", ControlId = "LabourId", Title1 = "", Title2 = "", DefaultText = "", DefaultValue = "" });
        }
        @Html.ValidationMessageFor(v => v.LabourId)
    </div>

    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.CountryId)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.CountryId).BindTo(ViewBag.CountryList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.CountryId) </div>
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.VatRatio)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.VatRatio).BindTo(ViewBag.VatRatioList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) @Html.ValidationMessageFor(v => v.VatRatio)</div>
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">
        <label>@MessageResource.User_Display_IsActive</label>
    </div>    
    <div class="shortTxtDiv">@Html.CheckBoxFor(c => c.IsActive)</div>
    <div class="clearDiv">&nbsp;</div>

    @Html.HiddenFor(x => x.LabourId)
    
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.LabourCountryVatRatio.LabourCountryVatRatioCreate, "LabourCountryVatRatioCreate")        
}
<script type="text/javascript">
    $(document).ready(function () {

        if ($('#CountryId').val() == '') {
            $("#CountryId").data("kendoComboBox").text('');
            $("#VatRatio").data("kendoComboBox").text('');
        }

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
