@using ODMSCommon.Resources
@using ODMSModel.AppointmentIndicatorSubCategory
@model AppointmentIndicatorSubCategoryListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Index");
}
 
@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.AppointmentIndicatorMainCategoryName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.AppointmentIndicatorMainCategoryId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AppointmentMainCategoryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="labelDiv">@Html.LabelFor(c => c.AppointmentIndicatorCategoryName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.AppointmentIndicatorCategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCategories", "AppointmentIndicatorSubCategory")
                .Data("GetMainCategoryId").Type(HttpVerbs.Post)).ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("AppointmentIndicatorMainCategoryId")
        </div>
        <div class="clearfix"></div>

        <div class="labelDiv">@Html.LabelFor(c => c.AppointmentIndicatorSubCategoryName)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(c => c.AppointmentIndicatorSubCategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListSubCategories", "AppointmentIndicatorSubCategory")
                .Data("GetCategoryId").Type(HttpVerbs.Post)).ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("AppointmentIndicatorCategoryId")
        </div>

        <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(c => c.AdminDesc)</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsAutoCreateName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsAutoCreate).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>

        <div class="clearfix"></div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.StatusList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>

    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickAppointmentIndicatorSubCategory createNewAppointmentIndicatorSubCategory", CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Create"), CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryCreate)
@Html.Partial("_ExcelExport",new ODMS.Model.ExportModel())
<script>
    function GetMainCategoryId() {
        return {
            id: $('#AppointmentIndicatorMainCategoryId').val()
        };
    }
    function GetCategoryId() {
        return {
            id: $('#AppointmentIndicatorCategoryId').val()
        };
    }
    function GetParameters() {
        return {
            IsActive: $("#IsActive").val(),
            AppointmentIndicatorMainCategoryId: $("#AppointmentIndicatorMainCategoryId").val(),
            AppointmentIndicatorCategoryId: $("#AppointmentIndicatorCategoryId").val(),
            AppointmentIndicatorSubCategoryId: $("#AppointmentIndicatorSubCategoryId").val(),
            AdminDesc: $("#AdminDesc").val(),
            IsAutoCreate: $("#IsAutoCreate").val(),
            ReportType: 5,
            Columns: "AppointmentIndicatorMainCategoryName,AppointmentIndicatorCategoryName,SubCode,AdminDesc,AppointmentIndicatorSubCategoryName"
        };
    }
    $(document).ready(function () {

        $("body").delegate("#btnReset", "click", function (e) {
            var combo = $("#AppointmentIndicatorMainCategoryId").data("kendoComboBox");
            combo.select(function (dataItem) { return dataItem.Value == -1; });
        });

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#AppointmentIndicatorSubCategoryGrid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClickAppointmentIndicatorSubCategory", "click", function (e) {
            $('#modelWindowAppointmentIndicatorSubCategory').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            var height = "350";
            var width = "950";
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("AppointmentIndicatorSubCategoryUpdate", "AppointmentIndicatorSubCategory", new { id = -1 })";
                link = link.replace("-1", clickedId);
                height = "350";
            }
            else if ($(this).hasClass("createNewAppointmentIndicatorSubCategory")) {
                link = "@Url.Action("AppointmentIndicatorSubCategoryCreate", "AppointmentIndicatorSubCategory")";
                height = "350";
            }
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("AppointmentIndicatorSubCategoryDetails", "AppointmentIndicatorSubCategory", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindowAppointmentIndicatorSubCategory_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindowAppointmentIndicatorSubCategory").data("kendoWindow");
            //Change Size of Window for different actions
            windowWidget.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
           
        });

    });
    function DeleteAppointmentIndicatorSubCategory(cId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AppointmentIndicatorSubCategoryDelete", "AppointmentIndicatorSubCategory")",
                data: { appointmentIndicatorSubCategoryId: cId, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#AppointmentIndicatorSubCategoryGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowAppointmentIndicatorSubCategory")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#AppointmentIndicatorSubCategoryGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<AppointmentIndicatorSubCategoryListModel>()
          .Name("AppointmentIndicatorSubCategoryGrid")
          .Columns(columns =>
    {
        columns.Bound(p => p.AppointmentIndicatorSubCategoryId).ClientTemplate("<center><a class='details modalClickAppointmentIndicatorSubCategory' id='#=AppointmentIndicatorSubCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Details") + "' href='/AppointmentIndicatorSubCategory/AppointmentIndicatorSubCategoryDetails/#=AppointmentIndicatorSubCategoryId#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryDetails));
        columns.Bound(p => p.AppointmentIndicatorSubCategoryId).ClientTemplate("<center><a class='edit modalClickAppointmentIndicatorSubCategory' id='#=AppointmentIndicatorSubCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Update") + "' href='/AppointmentIndicatorSubCategory/AppointmentIndicatorSubCategoryUpdate/#=AppointmentIndicatorSubCategoryId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryUpdate));
        columns.Bound(o => o.AppointmentIndicatorSubCategoryId).ClientTemplate("<center><a  onclick='DeleteAppointmentIndicatorSubCategory(#=AppointmentIndicatorSubCategoryId#)' href='javascript:void(0);'  id='#=AppointmentIndicatorSubCategoryId#' frameTitle='" + @CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryDelete));

        columns.Bound(p => p.AppointmentIndicatorMainCategoryName).Width(200).Sortable(true);
        columns.Bound(p => p.AppointmentIndicatorCategoryName).Width(200).Sortable(true);
        columns.Bound(p => p.SubCode).Width(100).Sortable(true);
        columns.Bound(p => p.AdminDesc).Width(150).Sortable(true);
        columns.Bound(p => p.IsAutoCreateName).Width(100).Sortable(true);
        columns.Bound(p => p.AppointmentIndicatorSubCategoryName).Width(150).Sortable(true);
        columns.Bound(p => p.IsActiveName).Sortable(true).Width(70);

    })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("ListAppointmentIndicatorSubCategory", "AppointmentIndicatorSubCategory", Model).Data("GetParameters"))
              .Model(model => model.Field(o => o.AppointmentIndicatorSubCategoryId).DefaultValue(-1)))

    )
</div>

<br />
<h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
<div class="labelDiv" style="width:80px">@MessageResource.Global_Display_SampleFile </div>
<div>
    <a class="k-link2" href="@Url.Action("ExcelSample")">
        <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
    </a>
    <br />
    @using (Html.BeginForm("AppointmentIndicatorSubCategoryIndex", "AppointmentIndicatorSubCategory", FormMethod.Post))
    {
        @Html.Kendo().Upload().Name("excelFile").Events(e => e.Select("onSelect")).TemplateId("fileTemplate").Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
        <div id="divExcepUpload">
            @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("Global_Display_UploadFromExcel"), "", "UploadExcel")
        </div>
    }
</div>


