@model ODMSModel.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Create");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("AppointmentIndicatorSubCategoryCreate", "AppointmentIndicatorSubCategory", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.AppointmentIndicatorMainCategoryName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.AppointmentIndicatorMainCategoryId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AppointmentMainCategoryList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(v => v.AppointmentIndicatorMainCategoryId)
    </div> 
    
    <div class="labelDiv">@Html.LabelFor(c => c.AppointmentIndicatorCategoryName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.AppointmentIndicatorCategoryId).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).DataSource(source => source.Read(read => read.Action("ListCategories", "AppointmentIndicatorSubCategory")
                                 .Data("GetMainCategoryId")
                                 .Type(HttpVerbs.Post)
                                 )
                                 .ServerFiltering(true)).Enable(false).AutoBind(false).CascadeFrom("AppointmentIndicatorMainCategoryId") @Html.ValidationMessageFor(v => v.AppointmentIndicatorCategoryId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.SubCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.SubCode) @Html.ValidationMessageFor(v => v.SubCode)</div>  
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminDesc) @Html.ValidationMessageFor(v => v.AdminDesc)</div> 
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.AppointmentIndicatorSubCategoryName)</div>
    <div class="shortTxtDiv" style="margin-top: 5px">
        @{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = "", IsEnabled = true }); }
        @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    </div>
      
         <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>

    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsAutoCreateName)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsAutoCreate).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(v => v.IsAutoCreate)
    </div> 
    <div class="labelDiv">@Html.LabelFor(v => v.IndicatorTypeCode)</div>
    <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(c => c.IndicatorTypeCode).BindTo(ViewBag.IndicatorTypeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text").Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(v => v.IndicatorTypeCode)
    </div>
    
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), ODMSCommon.CommonValues.PermissionCodes.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryCreate, "AppointmentIndicatorSubCategoryCreate")        
}
<script>
    function GetMainCategoryId() {
        return {
            id: $('#AppointmentIndicatorMainCategoryId').val()
        };
    }
    
    $(document).ready(function () {
        if ($('#AppointmentIndicatorMainCategoryId').val() == '') {
            $('#AppointmentIndicatorMainCategoryId').data('kendoComboBox').text('');
            $('#AppointmentIndicatorCategoryId').data('kendoComboBox').text('');
        }

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
