@model ODMSModel.AppointmentIndicatorSubCategory.AppointmentIndicatorSubCategoryViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("AppointmentIndicatorSubCategory_PageTitle_Details");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
<div class="labelDiv">@Html.LabelFor(v => v.AppointmentIndicatorCategoryName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.AppointmentIndicatorCategoryName) &nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.SubCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.SubCode) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(c => c.AdminDesc)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.AdminDesc) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>

<div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.AppointmentIndicatorSubCategoryName)</div>
<div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>

<div class="labelDiv">@Html.LabelFor(v => v.IndicatorTypeCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IndicatorTypeCode) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>

<div class="clearDiv">&nbsp;</div>

<div class="labelDiv">@Html.LabelFor(v => v.IsAutoCreateName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsAutoCreateName) &nbsp;</div>
