@using ODMSCommon.Resources

@model ODMSModel.WorkorderInvoicePayments.WorkorderInvoicePaymentsIndexModel
@{
    ViewBag.Title = @MessageResource.WorkorderInvoicePayments_PageTitle_Index;
}
@Html.AntiForgeryToken()
@foreach (var paymentType in Model.PaymentTypeList)
{
    @Html.Hidden("PaymentType" + paymentType.Id, paymentType.Id, new { paymentType.BankRequired, paymentType.InstalmentRequired, paymentType.TransmitNoRequired})
}

<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv" style="width: 120px">@Html.Label(@MessageResource.WorkorderInvoicePayments_Display_PaymentTypeList)</div>
        <div class="shortTxtDiv">
            @(Html.Kendo().ComboBox()
                  .Name("cmbPaymentTypes")
                  .Placeholder(@MessageResource.WorkorderInvoicePayments_Display_SelectPaymentType)
                  .BindTo(Model.PaymentTypeList)
                  .DataTextField("PaymentTypeName")
                  .DataValueField("Id")
                  .HtmlAttributes(new { @class = "ComboBox", @style = "width: 205px;" })
                  .Events(e => e.Change("PaymentTypeSelectionChanged"))
                  )
        </div>
        
        <div class="labelDiv" style="width: 120px; margin-left: -20px">@Html.Label(@MessageResource.WorkorderInvoicePayments_Display_BankList)</div>
        <div class="shortTxtDiv">
            @(Html.Kendo().ComboBox()
                  .Name("cmbBanks")
                  .Placeholder(@MessageResource.WorkorderInvoicePayments_Display_SelectBank)
                  .BindTo(Model.BankList)
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .HtmlAttributes(new { @class = "ComboBox", @style = "width: 205px;" })
                  )
        </div>

        <div class="labelDiv" style="width: 80px">@Html.LabelFor(d => d.InstalmentNumber)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.InstalmentNumber, new { @style="width:120px"}) </div>
        <div class="labelDiv" style="width: 80px; margin-left: -80px">@Html.LabelFor(d => d.PayAmount)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(d => d.PayAmount, new { @style="width:120px"}) </div>
        @Html.HiddenFor(d => d.WorkorderInvoiceId)
        @Html.HiddenFor(d => d.WorkorderId)
    </div>
</div>

@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.WorkorderInvoicePayments.WorkorderInvoicePaymentsIndex)
@ODMSHelpers.LinkButton("btnCreate", MessageResource.Global_Display_New, "Create", "modalClick createNew", MessageResource.WorkorderInvoicePayments_PageTitle_Create, CommonValues.PermissionCodes.WorkorderInvoicePayments.WorkorderInvoicePaymentsCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.WorkorderInvoicePayments.WorkorderInvoicePaymentsListModel>()
          .Name("grid")
          .Columns(columns =>
              {
                  columns.Bound(d => d.Id).ClientTemplate("<center><a class='details modalClick' id='#=Id#' frameTitle='" + MessageResource.WorkorderInvoicePayments_PageTitle_Details + "' href='/WorkorderInvoicePayments/WorkorderInvoicePaymentsDetails/#=Id#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(MessageResource.Global_Display_View).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkorderInvoicePayments.WorkorderInvoicePaymentsDetails));
                  columns.Bound(d => d.Id).ClientTemplate("<center><a class='edit modalClick' id='#=Id#' frameTitle='" + MessageResource.WorkorderInvoicePayments_PageTitle_Update + "' href='/WorkorderInvoicePayments/WorkorderInvoicePaymentsUpdate/#=Id#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(MessageResource.Global_Display_Update).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkorderInvoicePayments.WorkorderInvoicePaymentsUpdate));
                  columns.Bound(d => d.Id).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + MessageResource.WorkorderInvoicePayments_PageTitle_Delete + "' onclick='DeleteWorkorderInvoicePayments(#=Id#);'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(MessageResource.Global_Display_Delete).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.WorkorderInvoicePayments.WorkorderInvoicePaymentsDelete));
                  columns.Bound(d => d.PaymentTypeName).Width(200).Sortable(true);
                  columns.Bound(d => d.PayAmount).Width(200).Sortable(true);
                  columns.Bound(d => d.BankName).Width(200).Sortable(true);
                  columns.Bound(d => d.InstalmentNumber).Width(200).Sortable(true);
                  columns.Bound(d => d.TransmitNumber).Width(200).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListWorkorderInvoicePayments", "WorkorderInvoicePayments").Data("Search")))
          )

</div>

<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
          .Name("modelWindow")
          .Title("WorkorderInvoicePayments")
          .Draggable()
          .Resizable()
          .Width(380)
          .Height(320)
          .Scrollable(false)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
          )
</div>

@section Scripts
{
    <script>
        $(function() {
            RegisterEventHandlers();
        });

        function RegisterEventHandlers() {
            $("body").delegate("#showSearch", "click", function(e) {
                var IsVisible = Boolean($(this).hasClass("searchVisible"));

                if (!IsVisible) {
                    $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                    $(this).addClass("searchVisible");
                    $("#searchDiv").show("slow");
                } else {
                    $(this).html('@MessageResource.Global_Display_Search_Criteria');
                    $(this).removeClass("searchVisible");
                    $("#searchDiv").hide("slow");
                }
            });
            
            $("body").delegate("#btnSearch", "click", function (e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1);

            });
            
            $("body").delegate(".modalClick", "click", function (e) {
                $('#modelWindow').html('');
                e.preventDefault();

                var link;
                var clickedId = $(this).attr("id");
                var workorderInvoiceId = $("#WorkorderInvoiceId").val();
                var workorderId = $("#WorkorderId").val();
                var frameTitle = $(this).attr("frameTitle");

                if ($(this).hasClass("details") == true) {
                    link = "@Url.Action("WorkorderInvoicePaymentsDetails", "WorkorderInvoicePayments", new {id = -1})";
                    link = link.replace("-1", clickedId);
                } else if ($(this).hasClass("edit")) {
                    link = "@Url.Action("WorkorderInvoicePaymentsUpdate", "WorkorderInvoicePayments", new {id = -1})";
                    link = link.replace("-1", clickedId);
                } else if ($(this).hasClass("createNew")) {
                    link = "@Url.Action("WorkorderInvoicePaymentsCreate", "WorkorderInvoicePayments", new { workorderInvoiceId = "p1", workorderId = "p2"})";
                    link = link.replace("p1", workorderInvoiceId);
                    link = link.replace("p2", workorderId);
                }

                //console.log(link);
                $("#modelWindow_wnd_title").html(frameTitle);

                var windowWidget = $("#modelWindow").data("kendoWindow");
                var closeOrigin = windowWidget.close;

                windowWidget.refresh({
                    url: link
                }).center();
                windowWidget.center();
                windowWidget.open();
               
            });
        }
        
        function Search() {
            return {
                PaymentTypeId: $("#cmbPaymentTypes").val(),
                BankId: $("#cmbBanks").val(),
                InstalmentNumber: $("#InstalmentNumber").val(),
                PayAmount: $("#PayAmount").val(),
                WorkorderInvoiceId: $("#WorkorderInvoiceId").val(),
                WorkorderId: $("#WorkorderId").val()
            };
        }
        
        function PaymentTypeSelectionChanged() {
            var selectedItemId = $("#cmbPaymentTypes").val();
            var hiddenDataId = "PaymentType" + selectedItemId;
            var data = $("#" + hiddenDataId);

            var bankRequired = data.attr("BankRequired");
            var instalmentRequired = data.attr("InstalmentRequired");
            
            if (bankRequired == "False") {
                $("#cmbBanks").data("kendoComboBox").text('');
                $("#cmbBanks").data("kendoComboBox").enable(false);
            } else {
                $("#cmbBanks").data("kendoComboBox").enable(true);
            }
            
            if (instalmentRequired == "False") {
                $("#InstalmentNumber").val('');
                $("#InstalmentNumber").attr("disabled", true);
            } else {
                $("#InstalmentNumber").removeAttr("disabled");
            }
        }
        
        function DeleteWorkorderInvoicePayments(id) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            DeleteConfirm(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("WorkorderInvoicePaymentsDelete", "WorkorderInvoicePayments")",
                    data: { id: id, "__RequestVerificationToken": token },
                    traditional: true,
                    success: function (result) {
                        if (result.Status == 0)
                            SetErrorMessage(result.Message);
                        else {
                            var grid = $('#grid').data('kendoGrid');
                            grid.dataSource.read();
                            SetSuccessMessage(result.Message);
                        }
                    },
                    dataType: "json"
                });
            });
        }
    </script>

}