@using ODMSCommon.Resources
@using ODMSTerminal.Infrastructure.Utility
@model ODMSBusiness.Terminal.Common.EnumerableResponse<ODMSBusiness.Terminal.PickingList.Dtos.PickingListItem>
@{
    ViewBag.Title = MessageResource.Terminal_PickingList_Title_Index;
    ViewBag.WrapperCssClass = "wrapper-colored white-background";
    ViewBag.BodyCssClass = "primary";
}
@section header
{
    @Html.Partial("_subheader")
}
<div class="margin-3 pageContent">
    
    @Html.GeneratePagingLinks(Model.PagingInfo, "Index", "PickingList")

    <table border="0" cellspacing="0" style="table-layout: fixed" width="100%" class="margin-top-3 datatable">
        <thead>
        <tr class="pagination">
            <th colspan="3">
                @Model.PagingInfo.CurrentPage / @Model.PagingInfo.TotalPages
            </th>
            <th class="last-child">
                @Model.PagingInfo.Total
            </th>
        </tr>
        <tr>
            <th>@MessageResource.Terminal_PickingList_PlateAndCustomer</th>
            <th>@MessageResource.Terminal_PickingList_Date</th>
            <th>@MessageResource.Terminal_PickingList_Source</th>
            <th class="last-child">@MessageResource.Terminal_PickingList_OrderId</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr onclick=" location.href = '@Url.Action("parts", new {pickingId = item.PickingId})'; ">
                <td style="width: 25%; word-break: break-all">@item.PlateAndCustomer</td>
                <td style="width: 25%">@item.Date.FormatForView()</td>
                <td style="width: 25%">@Html.Raw(item.Source == "1" ? MessageResource.Terminal_PickingList_WorkOrder : MessageResource.Terminal_PickingList_SparePartSale)</td>
                <td style="width: 25%" class="last-child">@item.OrderId</td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('table.datatable tr:even').addClass('even');
            $('table.datatable tr:odd').addClass('odd');
        });
    </script>

}
