@using Kendo.Mvc.UI.Html
@using ODMSCommon.Resources
@using ODMSTerminal.Infrastructure.Utility
@model ODMSBusiness.Terminal.PickingList.Dtos.PickingInfo
@{
    ViewBag.Title = MessageResource.Terminal_PickingList_Title_Index;
    ViewBag.WrapperCssClass = "wrapper-colored white-background";
    ViewBag.BodyCssClass = "primary";
}
@section header
{
    @Html.Partial("_subheader")
}
<div class="margin-3 pageContent">

    @using (Html.BeginForm("Parts", "PickingList", FormMethod.Get))
    {
        @Html.HiddenFor(x => x.PickingId)

        <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
            <tbody>
                <tr>
                    <td class="bold stay-line">@MessageResource.Global_Display_Id</td>
                    <td class="bold">:</td>
                    <td>@Model.PickingId</td>
                    <td class="last-child">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold">@MessageResource.Terminal_PickingList_PlateAndCustomer</td>
                    <td class="bold">:</td>
                    <td>@Model.PlateAndCustomer</td>
                    <td class="last-child">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold stay-line">@MessageResource.Terminal_PickingList_Date</td>
                    <td class="bold">:</td>
                    <td>@Model.Date.FormatForView()</td>
                    <td class="last-child">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold stay-line">@MessageResource.Terminal_PickingList_Source</td>
                    <td class="bold">:</td>
                    <td>@Html.Raw(Model.Source == "1" ? MessageResource.Terminal_PickingList_WorkOrder : MessageResource.Terminal_PickingList_SparePartSale)</td>
                    <td class="last-child">&nbsp;</td>
                </tr>

                <tr>
                    <td class="bold stay-line">@MessageResource.Terminal_PickingList_OrderId</td>
                    <td class="bold">:</td>
                    <td>@Model.OrderId</td>
                    <td class="last-child">&nbsp;</td>
                </tr>
                @if (Model.Parts.Any())
                {
                    <tr>
                        <td class="bold stay-line">@MessageResource.PurchaseOrderDetail_Display_PartName</td>
                        <td class="bold">:</td>
                        <td>@Html.TextBoxFor(c => c.PartCode, new { @class = "text" })</td>
                        <td class="last-child">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="last-child text-right"><input id="btnSearch" type="submit" class="btn btn-xs success margin-top-3" value="@MessageResource.Global_Display_Search"></td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (!Model.Parts.Any())
    {
        using (Html.BeginForm("Complete", "PickingList", FormMethod.Post, new { id = "frmComplete" }))
        {
            @Html.HiddenFor(c => c.PickingId)
            <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
                <tr>
                    <td colspan="4" class="last-child text-right">
                      
                        <input id="btnComplete" type="submit" class="btn btn-xs success margin-top-3" value="@MessageResource.Global_Display_Complete">

                    </td>
                </tr>
            </table>
        }
    }

        @if (Model.Parts != null && Model.Parts.Any())
        {

            <table border="0" cellspacing="0" style="table-layout: fixed" width="100%" class="margin-top-3 datatable">
                <thead>
                    <tr>
                        <th>@MessageResource.Terminal_PickingList_Part</th>
                        <th>@MessageResource.Terminal_PickingList_AcceptedQuantity</th>
                        <th>@MessageResource.Terminal_PickingList_StockType</th>
                        <th class="last-child">@MessageResource.Terminal_PickingList_LeftQuantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Parts)
                    {
                        <tr onclick="location.href='@Url.Action("detail", new {pickingDetailId = item.PickicngDetailId})';">
                            <td style="width: 30%; word-break: break-all">@item.PartCode</td>
                            <td>@item.AcceptedQuantity</td>
                            <td>@item.StockType</td>
                            <td class="last-child">@item.LeftQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $('table.datatable tr:even').addClass('even');
                $('table.datatable tr:odd').addClass('odd');
                KS.Common.Focus("#PartCode");
                $("#btnComplete").click(function () {
                    $("#frmComplete")[0].submit();
                });
            });
        </script>

    }
