@using ODMSCommon.Resources
@model  List<ODMSModel.SparePartBarcode.SparePartBarcodeIndexViewModel>

<link href="~/Style/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jQuery.print.js"></script>
<script src="~/Scripts/imagesloaded.pkgd.js"></script>

@if (Model.Any())
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.btn').hide();

            //waits until all images are loaded
            imagesLoaded(document.querySelector("#printLabelWrapper"), function (instance) {
                $('.btn').show();
            });
        });

        function checkControl(evt) {
            var result = $(evt).attr('checked');
            if (result != 'checked') {
                $(evt).attr('checked', 'checked');
            } else {
                $(evt).removeAttr('checked');
            }
        }

        function CheckAllControl(source) {

            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }

        function PrintDetails() {

            var Ids = '';
            var anyChecked = true;

            $("input[type=checkbox]").each(function (i, e) {
                if ($(e).is(":checked")) {
                    anyChecked = false;
                }

                Ids += $(e).attr('id') + ',';
            });

            if (!anyChecked) {
                Ids = '';
                for (var i = 0; i < $("input[type=checkbox]").length; i++) {
                    if ($("input[type=checkbox]").eq(i).is(':checked')) {
                        $("#container").append($('.barcode[value="' + $("input[type=checkbox]").eq(i).val() + '"]'));
                        Ids += $("input[type=checkbox]").eq(i).attr("id") + ',';
                    }
                }

                $("#printLabelWrapper").html('');

                jQuery.print("container");
            } else {
                jQuery.print("printLabelWrapper");


            }

            Ids = Ids.substr(0, Ids.length - 1);
            updatePrintDateByIds(Ids);
        }

        function updatePrintDateByIds(IdList) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateBarcode", "SparePartBarcode")",
                data: { idList: IdList},
                traditional: true,
                success: function (result) {
                    if (result.Status == 0) {
                        SetErrorMessage(result.ErrorMessage);
                    }
                },
                dataType: "json"
            });
        }

    </script>
}

<style>
    @@media print {
        button {
            display: none !important;
        }

        input {
            display: none !important;
        }

        label {
            display: none !important;
        }

        img{
            width: 130px !important;
            height: 130px !important;
        }

        .noprint{
            display: none !important;
        }
    }

    .btn {
        float: right;
    }


    .barcode {
        height: 116px;
        width: 200px;
        margin: 0 0 64px 15%;
    }

    table tr td {
        font-size: 6px;
    }

    label {
        font-size: 10px !important;
        display: initial !important;
        font-weight: bold;
    }

    .chkbox {
        float: left;
    }

    .leftDiv {
        margin-top: 20px;
        float: left;
        width: 130px;
        padding-left: 3px;
    }

    .rightDiv {
        margin-top: -131px;
        margin-left: 170px;
        float: left;
        width: 125px;
        font-size: 10px !important;
    }

    .chk {
        margin-top: 20px;
        float: left;
        padding-left: 12%;
    }
</style>


@if (Model.Any())
{
        <label class="label-default noprint" style="margin-left:20px;">Select All</label><br/>
        <input id='checkAll' type='checkbox' class='chkbox chk' style="margin-left:93px; margin-top:-12px;" onclick="CheckAllControl(this)" />

        <button class="btn btn-default" onclick=' PrintDetails(); '>@MessageResource.Global_Display_Print</button>

    <br />
    <div style="margin-top: -16px;" id="printLabelWrapper">

        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="chk">
                <input type="checkbox" value="@Model[i].PartCode" class="chkbox" id="@Model[i].ClaimDismantledPartId" onclick="checkControl(this)" />
            </div>

            <div class="barcode" value="@Model[i].PartCode">

                <div class="leftDiv">
                    @*<img style="height: 70px !important;" src='@Url.Action("Image", "SparePartBarcode", new { barcode = Model[i].Barcode })' />*@
                    <img style="height: 130px !important; width:130px !important;" src='data:image/png;base64,@Model[i].EncodedBarcodeImage' />
                </div>
                <div class="rightDiv">
                    @Html.LabelFor(p => p[i].GifNo)
                    @Html.DisplayFor(p => p[i].GifNo)
                    <br />
                    @Html.LabelFor(p => p[i].VinNo)
                    @Html.DisplayFor(p => p[i].VinNo)
                    <br />
                    @Html.LabelFor(p => p[i].PartCode)
                    @Html.DisplayFor(p => p[i].PartCode)
                    <br />
                    @Html.LabelFor(p => p[i].PartName)
                    @Html.DisplayFor(p => p[i].PartName)
                    <br />
                    @Html.LabelFor(p => p[i].Quantity)
                    @Html.DisplayFor(p => p[i].Quantity) 
                    <br />
                    @Html.LabelFor(p => p[i].DealerName)
                    @Html.DisplayFor(p => p[i].DealerName)
                </div>
                @*<div class="rightDiv">
                        @Html.LabelFor(p => p[i].WorkOrderId)
                        @Html.DisplayFor(p => p[i].WorkOrderId)
                        <br />
                        @Html.LabelFor(p => p[i].WorkOrderDetail)
                        @Html.DisplayFor(p => p[i].WorkOrderDetail)
                        <br />
                        @Html.LabelFor(p => p[i].VinNo)
                        @Html.DisplayFor(p => p[i].VinNo)
                        <br />
                        @Html.LabelFor(p => p[i].WarrantlyStartDate)
                        @Html.DisplayFor(p => p[i].WarrantlyStartDate)
                        <br />
                        @Html.LabelFor(p => p[i].WorkOrderDate)
                        @Html.DisplayFor(p => p[i].WorkOrderDate)
                        <br />
                        @Html.LabelFor(p => p[i].PartCode)
                        @Html.DisplayFor(p => p[i].PartCode)
                        <br />
                        @Html.LabelFor(p => p[i].PartName)
                        @Html.DisplayFor(p => p[i].PartName)
                        <br />
                        @Html.LabelFor(p => p[i].VehicleKm)
                        @Html.DisplayFor(p => p[i].VehicleKm)
                        <br />
                        @Html.LabelFor(p => p[i].DealerName)
                        @Html.DisplayFor(p => p[i].DealerName)
                        <br />
                        @Html.LabelFor(p => p[i].ShipQuantity)
                        @Html.DisplayFor(p => p[i].ShipQuantity)
                        <br />
                        @Html.LabelFor(p => p[i].GifNo)
                        @Html.DisplayFor(p => p[i].GifNo)
                    </div>*@
            </div>
            <br />
        }
    </div>

    <div style="margin-top: -16px;" id="container"></div>
}
else
{
    <div style="margin: 10px;" id="warning-wrap655646sd" class="alert alert-info">
        <a class="close" onclick=" $('.alert').fadeOut(); ">&times;</a>
        <strong>
            @MessageResource.Global_Display_PrintNotFound
        </strong>
    </div>
}
