@using ODMSCommon.Resources
@using ODMSCommon.Security

@model ODMSModel.PurchaseOrderSuggestion.PurchaseOrderSuggestionListModel

@{
    ViewBag.Title = MessageResource.PurchaseOrderSuggestion_PageTitle_Index;
}

<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">

        <div class="labelDiv">@Html.LabelFor(v => v.IdDealer)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IdDealer).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.DealerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).Enable(UserManager.UserInfo.GetUserDealerId() == 0)
        </div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsAuto)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IsAuto).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AutoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IsActive).DataTextField("Text").SelectedIndex(0).DataValueField("Value").BindTo(ViewBag.ActiveList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>

        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v => v.PlanDateStart)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.PlanDateStart).Events(e => e.Open("OpenStartDate").Change("OpenEndDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

        <div class="labelDiv">@Html.LabelFor(v => v.PlanDateEnd)</div>
        <div class="shortTxtDiv">@Html.Kendo().DatePickerFor(v => v.PlanDateEnd).Events(e => e.Open("OpenEndDate").Change("OpenStartDate")).Format("dd/MM/yyyy").ParseFormats(new[] { "dd.MM.yyyy" }).HtmlAttributes(new { type = "text", onkeypress = "return false;" })</div>

        <div class="labelDiv">@Html.LabelFor(v => v.IsPoCreate)</div>
        <div class="shortTxtDiv">
            @Html.Kendo().ComboBoxFor(v => v.IsPoCreate).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.AutoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        </div>
        <br />
        <br />
    </div>
    <br />
</div>


@ODMSHelpers.LinkButton("btnSearch", MessageResource.Global_Display_Search, "", "", "", CommonValues.PermissionCodes.PurchaseOrderSuggestion.PurchaseOrderSuggestionIndex)
@ODMSHelpers.LinkButton("btnCreateOrderSuggest", MessageResource.PurchaseOrderSuggestion_Display_CreatePurchaseOrderSuggest, "", "", "", CommonValues.PermissionCodes.PurchaseOrderSuggestion.PurchaseOrderSuggestionIndex)


<br />
<div id="PurchaseOrderSuggestionModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("PurchaseOrderSuggestionModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)//.Width(950)
    .Height(350)//.Height(440)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#PurchaseOrderSuggestionGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">

    function OpenStartDate() {
        var dateStart = $("#PlanDateStart").data("kendoDatePicker");
        var dateEnd = $("#PlanDateEnd").data("kendoDatePicker");
        if ($("#PlanDateEnd").val()) {
            dateStart.max(dateEnd.value());
        } else {
            dateStart.max(new Date(3000, 0, 1));
        }
    }

    function OpenEndDate() {
        var dateStart = $("#PlanDateStart").data("kendoDatePicker");
        var dateEnd = $("#PlanDateEnd").data("kendoDatePicker");
        if ($("#PlanDateStart").val()) {
            dateEnd.min(dateStart.value());
        } else {
            dateEnd.min(new Date(1900, 0, 1));
        }
    }

    $(document).ready(init);
    function PurchaseOrderSuggestionSearch() {
        return {
            IdDealer: $('#IdDealer').val(),
            IsActive: $('#IsActive').val(),
            IsAuto: $('#IsAuto').val(),
            PlanDateStart: $('#PlanDateStart').val(),
            PlanDateEnd: $('#PlanDateEnd').val(),
            IsPoCreate: $('#IsPoCreate').val()
        };
    }
    function init() {

        $("body").delegate("#btnSearch", "click", function (e) {
            if ($('#IdDealer').val() == '') {
                alert('@CommonUtility.GetResourceValue("PurchaseOrderSuggestion_Warning_NotSelectedDealer")');
            }
            else {
                var grid = $('#PurchaseOrderSuggestionGrid').data('kendoGrid');
                grid.dataSource.page(1);
                $('#divDetails').hide();
            }
        });

        $('#divDetails').hide();

        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html("@MessageResource.Global_Display_Search_Criteria");
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });

        $("#btnCreateOrderSuggest").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateOrderSuggest", "PurchaseOrderSuggestion")',
                data: { },
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#PurchaseOrderSuggestionGrid').data('kendoGrid');
                        grid.dataSource.page(1);
                        SetSuccessMessage(result.Message);
                    }
                },
                error: function () {
                    
                },
                dataType: "json"
            });
        });

    }

</script>


<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.PurchaseOrderSuggestion.PurchaseOrderSuggestionListModel>()
          .Name("PurchaseOrderSuggestionGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.IdMrp).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(\"#=IdMrp#\")' id='#=IdMrp#'><img class=iconLink src='" + @Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(60).Sortable(false);
                  columns.Bound(p => p.IsAutoName).Sortable(true);
                  columns.Bound(p => p.PlanDate).Sortable(true).Format("{0:dd/MM/yyyy}"); //- HH:mm:ss}");
                  columns.Bound(p => p.PoDate).Sortable(true).Format("{0:dd/MM/yyyy}");
                  columns.Bound(p => p.PoNumber).Sortable(true);
                  columns.Bound(p => p.IsActiveName).Sortable(true);
                  columns.Bound(p => p.PurchaseOrderRate).Sortable(false).Format("{0:N}");
                  columns.Bound(p => p.IsPoCreate).Sortable(true).Width(200);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPurchaseOrderSuggestion", "PurchaseOrderSuggestion", Model).Data("PurchaseOrderSuggestionSearch"))
                                        .Model(model => model.Field(o => o.IdMrp).DefaultValue(-1)))

    )
</div>
<div id="divDetails">
    @(Html.Kendo().TabStrip()
          .Name("POSuggestionDetails")
          .Items(tabstrip => tabstrip.Add().Selected(true).Text(MessageResource.Global_Display_Details).LoadContentFrom(Url.Action("PurchaseOrderSuggestionDetailIndex", "PurchaseOrderSuggestionDetail"))))
</div>

<script type="text/javascript">
    function loadTabs(mstId) {
        //alert("tab entered");
        var tabStrip = $('#POSuggestionDetails').kendoTabStrip().data("kendoTabStrip");

        var Tab = tabStrip.contentElements[0];
        $.ajax({
            type: "GET",
            url: '@Url.Action("PurchaseOrderSuggestionDetailIndex", "PurchaseOrderSuggestionDetail")',
            data: { mstId: mstId },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(Tab).html(result);
                tabStrip.select(tabStrip.tabGroup.children("li").eq(0));
            },
            error: function (request, status, err) {
                //console.log(arguments);
                alert(status);
                alert(err);
            },
            dataType: "html"
        });
        $("#divDetails").show();
    }

</script>