@{
    ViewBag.Title = CommonUtility.GetResourceValue("StockCard_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
 

@model ODMSModel.StockCard.StockCardViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.DealerName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerName) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.Weight)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Weight) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.Volume)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Volume) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VatRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VatRatio) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AutoOrderName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.AutoOrderName) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.MinSaleQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MinSaleQuantity) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.MinStockQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MinStockQuantity) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.MaxStockQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.MaxStockQuantity) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.WarehouseName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.WarehouseName) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.RackName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(c => c.RackName) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.AvgDealerPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.AvgDealerPrice) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.CriticalStockQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CriticalStockQuantity) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.SalePrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.SalePrice) &nbsp;
</div>
<div class="labelDiv">@Html.LabelFor(v => v.ProfitMarginRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ProfitMarginRatio) &nbsp;
</div>
<div class="clearDiv">&nbsp;</div>
<br />




