@model ODMSModel.Fleet.FleetViewModel
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

@{
    ViewBag.Title = ODMSCommon.Resources.MessageResource.Fleet_PageTitle_Create;
}


@using (Html.BeginForm("FleetCreate", "Fleet", FormMethod.Post))
{
    @Html.AntiForgeryToken() 
    <div class="labelDiv">@Html.LabelFor(v => v.FleetName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.FleetName) @Html.ValidationMessageFor(c => c.FleetName)</div> 
    
    <div class="labelDiv">@Html.LabelFor(v => v.FleetCode)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.FleetCode) @Html.ValidationMessageFor(c => c.FleetCode)</div> 
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.StartDateValid)</div>
    <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(v => v.StartDateValid).Events(e => e.Change("StartChange")).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).Min(CommonUtility.GetSeedDateForPublish()).HtmlAttributes(new { type = "text" })  @Html.ValidationMessageFor(v => v.StartDateValid)</div>    
    
    <div class="labelDiv">@Html.LabelFor(v => v.EndDateValid)</div>
    <div class="shortTxtDiv">@Html.Kendo().DateTimePickerFor(v => v.EndDateValid).Events(e => e.Change("EndChange")).TimeFormat("HH:mm").Format("dd/MM/yyyy HH:mm").ParseFormats(new[] { "dd.MM.yyyy HH:mm" }).Min(CommonUtility.GetSeedDateForPublish().AddDays(1)).HtmlAttributes(new { type = "text" }) @Html.ValidationMessageFor(v => v.EndDateValid) </div>    
    
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.OtokarPartDiscount)</div>
    <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.OtokarPartDiscount).Decimals(2).Min(0).Max(100).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "5", data_val_min = "0", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.OtokarPartDiscount)
    </div>

    <div class="labelDiv">@Html.LabelFor(v => v.OtokarLabourDiscount)</div>
    <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.OtokarLabourDiscount).Decimals(2).Min(0).Max(100).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "5", data_val_min = "0", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.OtokarLabourDiscount)
    </div>
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.DealerPartDiscount)</div>
    <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.DealerPartDiscount).Decimals(2).Min(0).Max(100).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "5", data_val_min = "0", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.DealerPartDiscount)
    </div>

    <div class="labelDiv">@Html.LabelFor(v => v.DealerLabourDiscount)</div>
    <div style="width: 300px; float: left">@Html.Kendo().NumericTextBoxFor(c => c.DealerLabourDiscount).Decimals(2).Min(0).Max(100).Spinners(false).Format("{0:N}").HtmlAttributes(new { type = "text", maxlength = "5", data_val_min = "0", style = "width:204px" })
        @Html.ValidationMessageFor(v => v.DealerLabourDiscount)
    </div>
    <div class="clearDiv">&nbsp;</div>
    
   
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsConstricted)</div>
    <div class="shortTxtDiv">
        @Html.Kendo().ComboBoxFor(v => v.IsConstricted).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.YesNoList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))
        @Html.ValidationMessageFor(v => v.IsConstricted)
    </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsVinControl)</div>
    <div class="shortTxtDiv">
        @Html.CheckBoxFor(v => v.IsVinControl)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)</div>
    
    <div class="clearDiv">&nbsp;</div>
    
    @ODMSHelpers.Button("Create", CommonUtility.GetResourceValue("Global_Display_Save"), CommonValues.PermissionCodes.Fleet.FleetCreate, "FleetCreate")          

}
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    function StartChange() {
        var start = $("#StartDateValid").data("kendoDateTimePicker");
        var end = $("#EndDateValid").data("kendoDateTimePicker");
        end.min(start.value());
    }

    function EndChange() {
        var start = $("#StartDateValid").data("kendoDateTimePicker");
        var end = $("#EndDateValid").data("kendoDateTimePicker");
        start.max(end.value());
        start.min(new Date($.now()));
    }

    $(document).ready(function () {
        $('#StartDateValid').prop("readonly", true);
        $('#EndDateValid').prop("readonly", true);

        if ($('#FleetId').val() == null) {
            $('#IsConstricted').data("kendoComboBox").value(null);
        }

        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        }); 
    });

</script>


