@using ODMSCommon.Resources
@model ODMSModel.Rack.RackDetailModel
@{
    ViewBag.Title = MessageResource.Rack_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("RackDetails", "Rack", FormMethod.Post))
{
    <div class="labelDiv" style="width: 100px; margin-top: 10px;">@Html.LabelFor(d => d.Code)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 10px; width: 250px">@Html.DisplayFor(d => d.Code)&nbsp;</div>@*
    <div class="labelDiv" style="position: absolute; margin-top: 40px; width: 100px">@Html.LabelFor(d => d.Name)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 40px; margin-left: 100px; width: 100px">@Html.DisplayFor(d => d.Name)&nbsp;</div>*@
    <div class="labelDiv" style="position: absolute; margin-top: 70px; width: 100px">@Html.LabelFor(d => d.WarehouseCode)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-left: 100px; margin-top: 70px; width: 250px">@Html.DisplayFor(d => d.WarehouseCode)&nbsp;</div>@*
    <div class="labelDiv" style="position: absolute; margin-top: 100px; width: 100px">@Html.LabelFor(d => d.WarehouseName)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 100px; margin-left: 100px; width: 100px">@Html.DisplayFor(d => d.WarehouseName)&nbsp;</div>*@
    <div class="labelDiv" style="position: absolute; width: 100px; margin-top: 130px;">@Html.LabelFor(d => d.IsActiveString)&nbsp;</div>
    <div class="shortTxtDiv" style="position: absolute; margin-top: 130px; margin-left: 100px; width: 100px">@Html.DisplayFor(d => d.IsActiveString)&nbsp;</div>
}


<script>
    $(function () {
        adjustPage();
        adjustControlPositions();
    });
     
    function adjustPage() {
        $("#popupContent").css("width", 300);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 250);
        $("#popupContentWrapper").css("width", 350);
    }

    function adjustControlPositions() {
        $("#Create").css("position", "absolute");
        $("#Create").css("margin-top", "130px");
        $("#Create").css("margin-left", "-100px");
        $("#Create").css("width", "75px");

        $(".shortTxtDiv span[data-valmsg-for='Code']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='Code']").css("margin-left", "200px");
        $(".shortTxtDiv span[data-valmsg-for='Code']").css("margin-top", "-20px");

        $(".shortTxtDiv span[data-valmsg-for='Name']").css("position", "absolute");
        $(".shortTxtDiv span[data-valmsg-for='Name']").css("margin-left", "200px");
        $(".shortTxtDiv span[data-valmsg-for='Name']").css("margin-top", "-20px");
        

        $("#ajaxWarning").css("width", 350);
        $("#ajaxError").css("width", 350);
        $("#ajaxSuccess").css("width", 350);
    }
</script>