@using ODMSCommon.Resources
@model ODMSModel.CustomerSparePartDiscount.CustomerSparePartDiscountListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("CustomerSparePartDiscount_Title_Index");
}
<link href="~/Style/Content.css" rel="stylesheet" />

@Html.AntiForgeryToken()
<div id="showSearch">@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")</div>




<div id="searchDiv">
    <div id="searchFields">

        @*<div class="labelDiv">@Html.LabelFor(v => v.DealerId)</div>
            <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.DealerId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.CustomerList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>*@
        <div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartName) </div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v => v.PartCode) </div>
        <div class="clearDiv"></div>
        <div class="labelDiv">@Html.LabelFor(v => v.CustomerIdList)</div>
        <div class="shortTxtDiv">
            @{
                Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "CustomerList", ControlId = "CustomerIdList", Title1 = "", Title2 = "", Required = true, DefaultText = Model.CustomerIdList , DefaultValue = Model.CustomerIdList});
            }
            @Html.HiddenFor(v => v.PartCode)
        </div>
        <div class="labelDiv">@Html.LabelFor(v => v.PartClassList)</div>
        <div class="shortTxtDiv">@Html.Kendo().MultiSelectFor(c => c.PartClassList).HtmlAttributes(new { style = "width:200px;" }).AutoBind(true).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")).BindTo(ViewBag.SparePartClassCodeList as List<SelectListItem>).DataValueField("Value").DataTextField("Text")</div>


        <br />

    </div>
    <br />
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", CommonValues.PermissionCodes.CustomerSparePartDiscount.CustomerSparePartDiscountIndex)
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("CustomerSparePartDiscount_Title_Create"), CommonValues.PermissionCodes.CustomerSparePartDiscount.CustomerSparePartDiscountCreate)

<br />

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CustomerSparePartDiscount.CustomerSparePartDiscountListModel>()
          .Name("grid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.CustomerSparePartDiscountId).ClientTemplate("<center><a class='edit modalClick' id='#=CustomerSparePartDiscountId#' frameTitle='" + CommonUtility.GetResourceValue("CustomerSparePartDiscount_Title_Update") + "' href='/CustomerSparePartDiscount/CustomerSparePartDiscountUpdate/#=CustomerSparePartDiscountId#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerSparePartDiscount.CustomerSparePartDiscountUpdate));
                  columns.Bound(o => o.CustomerSparePartDiscountId).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Currency_PageTitle_Delete") + "' onclick='DeleteCustomerSparePartDiscount(\"#=CustomerSparePartDiscountId#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.CustomerSparePartDiscount.CustomerSparePartDiscountDelete));
                  columns.Bound(p => p.DealerName).Width(100).Sortable(true);
                  columns.Bound(p => p.CustomerName).Width(100).Sortable(true);
                  columns.Bound(p => p.PartCode).Width(100).Sortable(true);
                  columns.Bound(p => p.PartName).Width(100).Sortable(true);
                  columns.Bound(p => p.SparePartClassCode).Width(100).Sortable(true);
                  columns.Bound(p => p.OrgTypeName).Width(100).Sortable(true);
                  columns.Bound(p => p.IsApplicableToWorkOrderName).Width(100).Sortable(true).Visible(false);
                  columns.Bound(p => p.DiscountRatio).Width(100).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                                        .Read(read => read.Action("ListCustomerSparePartDiscount", "CustomerSparePartDiscount", Model).Data("Search"))
                                                .Model(model => model.Field(o => o.CustomerSparePartDiscountId).DefaultValue(-1)))

    )
</div>



<div id="modelWindowDiv">
    @(Html.Kendo().Window()
          .Name("modelWindow")
          .Draggable()
          .Resizable()
          .Width(650)
          .Height(350)
          .Visible(false)
          .Modal(true)
          .Iframe(true)
          .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
        ResizeWindow(650, 350);
    }"))
    )
</div>

<script>
    function Search() {


        var customerIdList;
        if ($('#txtCustomerIdList').val() == "" || $('#txtCustomerIdList').val() == null)
            customerIdList = null;
        else
            customerIdList =$("#CustomerIdList").val();
        return {
            PartCode: $('#PartCode').val(),
            PartName: $('#PartName').val(),
            CustomerIdList: customerIdList,
            PartClassList: $("#PartClassList").data('kendoMultiSelect').value().toString()
        };
    }
    function CloseModelWindow() {
        $("#modelWindow").data("kendoWindow").close();
    }

    function ResizeWindow(width, height) {
        var windowWidget = $("#modelWindow").data("kendoWindow");
        windowWidget.wrapper.css({ width: width, height: height });
        windowWidget.center();
    }
    $(document).ready(function () {

        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Hide_Search_Criteria")');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@CommonUtility.GetResourceValue("Global_Display_Search_Criteria")');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("CustomerSparePartDiscountUpdate", "CustomerSparePartDiscount", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("createNew")) {
                link = "@Url.Action("CustomerSparePartDiscountCreate", "CustomerSparePartDiscount")";
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteCustomerSparePartDiscount(id) {

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CustomerSparePartDiscountDelete", "CustomerSparePartDiscount")",
                data: { id: id },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>