@model ODMSModel.Currency.CurrencyIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Currency_PageTitle_Update");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


 
@using (Html.BeginForm("CurrencyUpdate", "Currency", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.CurrencyCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.CurrencyCode)  </div>
    <div class="labelDiv">@Html.LabelFor(v => v.CurrencyName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = true }); }
         @Html.ValidationMessageFor(v => v.MultiLanguageContentAsText)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.DecimalPartName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.DecimalPartName) @Html.ValidationMessageFor(v => v.DecimalPartName) </div>
    <div class="labelDiv">@Html.LabelFor(v => v.ListOrder)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.ListOrder) @Html.ValidationMessageFor(v => v.ListOrder) </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.AdminName)</div>
    <div class="shortTxtDiv">@Html.TextBoxFor(v => v.AdminName) @Html.ValidationMessageFor(v => v.AdminName) </div>    
    <div class="labelDiv">@Html.LabelFor(c => c.IsActiveName)</div>
    <div class="shortTxtDiv">@Html.CheckBoxFor(v => v.IsActive)  </div>
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Update", CommonUtility.GetResourceValue("Global_Display_Update"), CommonValues.PermissionCodes.Currency.CurrencyUpdate, "CurrencyUpdate")
    @Html.HiddenFor(v => v.CurrencyCode)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () {
            var validator = $(this).data('validator');
            if (validator && validator.settings) {
                validator.settings.ignore = "";
            }
        });
    });
</script>
