@{
    ViewBag.Title = CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.PurchaseOrderDetail.PurchaseOrderDetailViewModel
<link href="~/Style/Content.css" rel="stylesheet" />
<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PartName)&nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PackageQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.PackageQuantity)&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DesireQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DesireQuantity)&nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.OrderQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.OrderQuantity)&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.OrderPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.OrderPrice)&nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.StatusName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StatusName)&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.DesireDeliveryDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DesireDeliveryDate)&nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.CurrencyCode)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CurrencyCode) </div>
<br />

<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContentWrapper").css("min-height", 483);//350
    }

</script>


