@using ODMSCommon.Resources
@using ODMSModel.PurchaseOrderDetail
@model PurchaseOrderDetailListModel
@if (ViewBag.PoStatusId != (int)CommonValues.PurchaseOrderStatus.ClosePurchaseOrder &&
                             ViewBag.PoStatusId != (int)CommonValues.PurchaseOrderStatus.CanceledPurhcaseOrder &&
                             Model.StatusMst != (int)CommonValues.PurchaseOrderStatus.OpenPurchaseOrder &&
                             !(Model.IsProposal && Model.StatusMst == (int)CommonValues.PurchaseOrderStatus.NewRecord && Model.SupplierDealerConfirm != (int)CommonValues.SupplierDealerConfirmType.NewProposal) &&
                             !(Model.SupplyTypeMst == (int)CommonValues.SupplyPort.DealerService && !Model.AcceptOrderProposal) &&
                             !Model.IsCampaignPO)
{
    @ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickPurchaseOrderDetail createNewPurchaseOrderDetail", CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Create"), CommonValues.PermissionCodes.PurchaseOrderDetail.PurchaseOrderDetailCreate)

}
@Html.AntiForgeryToken()

<br />
<style>
    .k-widget.k-tooltip {
        background-color: white;
        color: #090909;
    }

    .tooltip-content {
        background-color: white;
        text-align: left;
        padding: 10px;
    }

        .tooltip-content .bold {
            padding-right: 12px;
        }

    .color-box-wrapper {
        display: inline-block;
        margin: 0 5px;
        text-align: center;
    }

    .color-box {
        border-radius: 15px;
        content: "";
        display: inline-block;
        height: 15px;
        width: 15px;
    }
</style>
<div id="PurchaseOrderDetailModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("PurchaseOrderDetailModelWindow")
     .Draggable()
    .Resizable()
    .Width(1050)
    .Height(483)//352
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#PurchaseOrderDetailGrid').data('kendoGrid');
        grid.dataSource.read();

        var gridMaster = $('#PurchaseOrderGrid').data('kendoGrid');
         selectedRowIndex=$('#PurchaseOrderGrid').find('tbody tr.k-state-selected').index();
        gridMaster.dataSource.read();
        UpdateMaster();


    }"))
    )
    @Html.HiddenFor(v => v.PurchaseOrderNumber)
    @Html.HiddenFor(v => v.StatusMst)
    @Html.HiddenFor(v => v.ManuelPriceAllow)
    @Html.HiddenFor(v => v.SupplyTypeMst)
</div>
<script>

    function UpdateMaster() {
        parent.loadTabs('@Model.PurchaseOrderNumber', false);
        $("#PurchaseOrderModelWindow").data("kendoWindow").close();
    }
    function OpenCreatePopup() {
        var link = "@Url.Action("PurchaseOrderDetailCreate", "PurchaseOrderDetail", new { purchaseOrderNumber = Model.PurchaseOrderNumber})";

        $("#PurchaseOrderDetailModelWindow_wnd_title").html('@CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Create")');
        var width = 950;
        var height = 600;
        var windowWidget = $("#PurchaseOrderDetailModelWindow").data("kendoWindow");
        windowWidget.wrapper.css({
            width: width,
            height: height
        });
        var closeOrigin = windowWidget.close;
        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
    }
    $(document).ready(function () {
        if ('@ViewBag.OpenCreatePopup' == 'True')
            OpenCreatePopup();

        $("body").delegate(".modalClickPurchaseOrderDetail", "click", function (e) {
            $('#PurchaseOrderDetailModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var width = 950;
            var height = 600;
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("PurchaseOrderDetailDetails", "PurchaseOrderDetail", new { purchaseOrderDetailSeqNo = -1 })";
                link = link.replace("-1", clickedId);
            }
            else if ($(this).hasClass("edit")) {
                link = "@Url.Action("PurchaseOrderDetailUpdate", "PurchaseOrderDetail", new { purchaseOrderDetailSeqNo = -1, supplyTypeMst = Model.SupplyTypeMst})";
                link = link.replace("-1", clickedId);
                width = 770;
                height = 580;
            }
            else if ($(this).hasClass("createNewPurchaseOrderDetail")) {
                link = "@Url.Action("PurchaseOrderDetailCreate", "PurchaseOrderDetail", new { purchaseOrderNumber = Model.PurchaseOrderNumber})";
            }
            $("#PurchaseOrderDetailModelWindow_wnd_title").html(frameTitle);
            var windowWidget = $("#PurchaseOrderDetailModelWindow").data("kendoWindow");
            windowWidget.wrapper.css({
                width: width,
                height: height
            });
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function CancelPurchaseOrderDetail(purchaseOrderDetailSeqNoParam) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        CustomConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CancelPurchaseOrderDetail", "PurchaseOrderDetail")",
                data: { purchaseOrderDetailSeqNo: purchaseOrderDetailSeqNoParam, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var gridMaster = $('#PurchaseOrderGrid').data('kendoGrid');
                        selectedRowIndex = $('#PurchaseOrderGrid').find('tbody tr.k-state-selected').index();
                        gridMaster.dataSource.read();
                        UpdateMaster();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        }, '@MessageResource.Global_Display_CancelConfirmTitle', '@MessageResource.PurchaseOrderDetail_Message_CancelConfirm', '@MessageResource.Global_Display_Yes', '@MessageResource.Global_Display_No');
    }
    function DeletePurchaseOrderDetail(purchaseOrderDetailSeqNoParam) {
        var token = $('input[name="__RequestVerificationToken"]').val();

        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeletePurchaseOrderDetail", "PurchaseOrderDetail")",
                data: { purchaseOrderDetailSeqNo: purchaseOrderDetailSeqNoParam, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#PurchaseOrderDetailGrid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }

    function SetRowsColor() {
        if ($('#PurchaseOrderDetailGrid').data() != null) {
            var dataSource = $('#PurchaseOrderDetailGrid').data().kendoGrid.dataSource;
            var count = dataSource.total();
            for (var i = 0; i < count; i++) {
                var item = dataSource.data()[i];
                if (item != null) {
                    //DealerPriceEmpty
                    if (item.DealerPrice == 0) {
                        $('tr[data-uid="' + item.uid + '"] ').css("background-color", "Pink");
                    }
                    //sipariş adet ile paket adet aynı değilse
                    if (item.OrderQuantity != item.DesireQuantity) {
                        $('tr[data-uid="' + item.uid + '"] ').css("background-color", "Yellow");
                    }
                    if (item.StatusId == 2) {
                        $('tr[data-uid="' + item.uid + '"] td').eq(3).html('');
                    }
                }
            }
        }
        $("a.kendotooltip").each(function (i, e) {
            toolTipIt(e);
        });

    }

    function toolTipIt(it) {
        var partId = $(it).data("partid");
        $(it).kendoTooltip({
            content: {
                url: "@Url.Action("GetChangedPartInfo","SparePart")?partId=" + partId
            },
            width: 250,
            height: 100,
            position: "top",
        });
    }

    function PurchaseOrderPartsSearch() {
        return { PurchaseOrderNumber: $("#PurchaseOrderNumber").val() };
    }

    function openpopup(partCode) {
        $('#PopupWindow').kwnd('@Url.Action("SparePartAssemblePopup","SparePartAssemble")?partCode=' + partCode, '@Html.Raw(MessageResource.Global_Display_ChangedParts)',
                   {
                       iframe: false,
                       width: 1200,
                       height: 450,
                       onClose: function () {
                           $("#PopupWindow").empty();
                       }
                   });
        $('#PopupWindow').removeClass("hide");
        OpenWindow($('#PopupWindow'));
    }



</script>
<div class="clearDiv">&nbsp;</div>

<div id="PopupWindow" style="background-color: #EDF1F4 !important" class="hide"></div>
@Html.ExportExcelButton(new ExcelExportDto("PurchaseOrderDetail", "ListPurchaseOrderDetail", "PurchaseOrderPartsSearch", "sdfsdf").Build<PurchaseOrderDetailListModel, object>(
c => c.PartCode,
c => c.PartName,
c => c.PackageQuantity,
c => c.DesireQuantity,
c => c.ShipmentQuantity,
c => c.DesireDeliveryDate,
c => c.OrderQuantity,
c => c.OrderPriceS,
c => c.CurrencyCode,
c => c.StatusName))
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<PurchaseOrderDetailListModel>()
          .Name("PurchaseOrderDetailGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.PurchaseOrderDetailSeqNo).ClientTemplate("<center><a class='details modalClickPurchaseOrderDetail' id='#=PurchaseOrderDetailSeqNo#' frameTitle='"
                  + CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Details")
                  + "' href='/PurchaseOrderDetail/PurchaseOrderDetailDetails/#=PurchaseOrderDetailSeqNo#'><img class=iconLink src='"
                  + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(30).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderDetail.PurchaseOrderDetailDetails));
              columns.Bound(p => p.PurchaseOrderDetailSeqNo).ClientTemplate("#if(StatusId==-1){#<center><a class='edit modalClickPurchaseOrderDetail' id='#=PurchaseOrderDetailSeqNo#' frameTitle='"
                  + @CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Update")
                  + "' href='/PurchaseOrderDetail/PurchaseOrderDetailUpdate/#=PurchaseOrderDetailSeqNo#'><img class=iconLink src='"
                  + Url.Content("~/Images/edit.png")
                  + "'/></a></center>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(30).Sortable(false).Visible(
                  ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderDetail.PurchaseOrderDetailUpdate)
                  && ViewBag.PoStatusId != (int)CommonValues.PurchaseOrderStatus.ClosePurchaseOrder
                  && ViewBag.PoStatusId != (int)CommonValues.PurchaseOrderStatus.CanceledPurhcaseOrder
                  && (Model.SupplierIdDealer == null || Model.SupplierIdDealer == 0 ||
                                                                                    ((Model.StatusMst == 0 && (Model.SupplierIdDealer == null || Model.SupplierIdDealer == 0)) ||
                                                                                     (Model.StatusMst == 0 && Model.SupplyTypeMst == 3 && (Model.SupplierDealerConfirm == 0 || Model.SupplierDealerConfirm == 3))))
                  && !Model.IsCampaignPO);
              columns.Bound(o => o.PurchaseOrderDetailSeqNo).ClientTemplate("#if(StatusId==-1 && (ReceivedQuantity != 0 || ReceivedQuantity != null) && (ShipmentQuantity != 0 || ShipmentQuantity != null)){#<center><a href='javascript:void(0);' frameTitle='"
                                                                            + CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Delete")
                                                                            + "' onclick='DeletePurchaseOrderDetail(#=PurchaseOrderDetailSeqNo#);'><img class='iconLink' src='"
                                                                            + Url.Content("~/Images/delete.png") + "'/></a></center>#}#").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(30).Sortable(false).Visible(
                                                                                ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderDetail.PurchaseOrderDetailDelete)
                                                                                && ViewBag.PoStatusId != (int)CommonValues.PurchaseOrderStatus.ClosePurchaseOrder
                                                                                && (Model.SupplierIdDealer == null || Model.SupplierIdDealer == 0 ||
                                                                                    ((Model.StatusMst == 0 && (Model.SupplierIdDealer == null || Model.SupplierIdDealer == 0)) ||
                                                                                     (Model.StatusMst == 0 && Model.SupplyTypeMst == 3 && (Model.SupplierDealerConfirm == 0 || Model.SupplierDealerConfirm == 3)))));
              columns.Bound(o => o.PurchaseOrderDetailSeqNo).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='"
                  + CommonUtility.GetResourceValue("PurchaseOrderDetail_PageTitle_Cancel")
                  + "' onclick='CancelPurchaseOrderDetail(#=PurchaseOrderDetailSeqNo#);'><img class='iconLink' src='"
                  + Url.Content("~/Images/passive.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Cancel")).Width(30).Sortable(false).Visible(
                  ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.PurchaseOrderDetail.PurchaseOrderDetailCancel)
                  && Model.StatusMst == (int)CommonValues.PurchaseOrderStatus.OpenPurchaseOrder
                  && Model.SupplierId != null);
              columns.Bound(p => p.PartCode).ClientTemplate(
                  "#if (ChangedPartId!= null && ChangedPartId!=PartId){#" +
                  "#=PartCode# <a class='k-link kendotooltip' data-partid='#=ChangedPartId#' onclick='openpopup(\"#=PartCode#\");'> <i class='glyphicon glyphicon-info-sign'></i></a>" +
                  "#} else {# #=PartCode# #}# "

                  ).Width(120).Sortable(true);
              columns.Bound(p => p.PartName).Width(120).Sortable(true);
              columns.Bound(p => p.PackageQuantityString).Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.DesireQuantity).Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.ShipmentQuantity).ClientTemplate("#if(ShipmentQuantity>0){# <a href=\"javascript:;\" onclick=\"OpenShipmentDetails(#=PurchaseOrderDetailSeqNo#);\">#=ShipmentQuantity#</a>#}#")
              .Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.DesireDeliveryDate).Format("{0:dd/MM/yyyy}").Width(50).Sortable(true);
              columns.Bound(p => p.OrderQuantity).Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.ListDiscountRatio).Width(120).Sortable(true).Title(MessageResource.SparePartSaleOrderDetail_Display_ListDiscountRatio);
              columns.Bound(p => p.AppliedDiscountRatio).Width(120).Sortable(true).Title(MessageResource.PurchaseOrderDetail_Display_AppliedDiscountRatio);
              columns.Bound(p => p.OrderPriceS).Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.ConfirmPrice).Width(50).Sortable(true).HtmlAttributes(new { style = "text-align:right" });
              columns.Bound(p => p.CurrencyCode).Width(50).Sortable(true);
              columns.Bound(p => p.StatusName).Width(50).Sortable(true);
              columns.Bound(p => p.DenyReason).Width(70).Sortable(false);
              columns.Bound(p => p.SpecialExplanation).Width(70).Sortable(true).Title(MessageResource.SparePartSaleOrderDetail_Display_SpecialExplanation);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .Events(e => e.DataBound("SetRowsColor"))

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListPurchaseOrderDetail", "PurchaseOrderDetail", Model))
                                        .Model(model => model.Field(o => o.PurchaseOrderDetailSeqNo).DefaultValue(-1)))

    )
</div>
