@using System.Web.Optimization
@using ODMSCommon.Security
@{
    var lang =UserManager.LanguageCode.ToLower();
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="@lang">
    <title>@ViewBag.Title - Otokar</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="@ViewBag.BodyCssClass body">
<div id="content" class="@ViewBag.WrapperCssClass">
    @RenderSection("header", false)
    @if (TempData["MessageToShow"] == null && TempData["IsError"] == null)
    {
        <div id="pageMessage" class="messageDiv hide">

        </div>
    }
    else
    {
        if (!Convert.ToBoolean(TempData["IsError"]) && TempData["MessageToShow"] != null && !string.IsNullOrEmpty(TempData["MessageToShow"].ToString()))
        {
            <div id="pageMessage" class="messageDiv text-success">
                @(TempData["MessageToShow"])
            </div>
        }

        if (Convert.ToBoolean(TempData["IsError"]))
        {
            <div id="pageMessage" class="messageDiv text-danger">
                @(TempData["MessageToShow"])
            </div>
        }
    }
    @RenderBody()
</div>
    @*<script src="~/Scripts/ie7/IE9.js"></script>*@
    @Scripts.Render("~/bundles/js")
    <script src="@Url.Content($"~/Scripts/resource/ks.resource.{lang}.js")"></script>
<script type="text/javascript">
    KS.Url.Base="@Url.Content("~/")"
</script>
    @RenderSection("scripts", false)
</body>
</html>