@using ODMSCommon.Resources
@using ODMSCommon.Security
@model ODMSModel.ClaimRecallPeriodPart.ClaimRecallPeriodPartViewModel
@{
    ViewBag.Title = MessageResource.Bank_PageTitle_Create;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<style>
    #popupContent {
        width: 550px;
    }

    #popupContentWrapper {
        min-height: 250px !important;
        overflow: hidden;
    }
</style>

<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("ClaimRecallPeriodPartCreate", "ClaimRecallPeriodPart", FormMethod.Post))
{
    <div class="labelDiv">@Html.LabelFor(v => v.PartId)</div>
    <div class="shortTxtDiv">
        @{ Html.RenderAction("AutocompleteSearch", "AutocompleteSearch", new { SearchType = "SparePart", ControlId = "PartId", ExtraParameter = UserManager.UserInfo.GetUserDealerId(), Title1 = "", Title2 = "", DefaultText = Model.PartName, DefaultValue = Model.PartId, CallbackFunction = "", Required=true }); }

        @Html.ValidationMessageFor(v => v.PartId)
    </div>
    <div class="clearDiv">&nbsp;</div>
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">
        @Html.CheckBoxFor(c => c.IsActive)
    </div>

    <div class="clearDiv">&nbsp;</div>
    <br />
    @ODMSHelpers.Button("Create", MessageResource.Global_Display_Save, CommonValues.PermissionCodes.ClaimRecallPeriodPart.ClaimRecallPeriodPartCreate, "ClaimRecallPeriodPartCreate")
}
