@using ODMSCommon.Resources
@using ODMSModel.Equipment
@model ODMSModel.Equipment.EquipmentViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("EquipmentType_PageTitle_Index");
}

<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/UI_Scripts/EquipmentType.js"></script>

<script>
    //SearchScript
    $("body").delegate("#showSearch", "click", function (e) {
        var IsVisible = Boolean($(this).hasClass("searchVisible"));

        if (!IsVisible) {
            $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
            $(this).addClass("searchVisible");
            $("#searchDiv").show("slow");
        }
        else {
            $(this).html('@MessageResource.Global_Display_Search_Criteria');
            $(this).removeClass("searchVisible");
            $("#searchDiv").hide("slow");
        }
    });

</script>
<script>
    //Popup
    $("body").delegate(".modalClick", "click", function (e) {
        $('#modelWindow').html('');
        e.preventDefault();
       
        var link;
        var clickedId = $(this).attr("id");
        var frameTitle = $(this).attr("frameTitle");

        if ($(this).hasClass("details") == true) {
            link = "@Url.Action("EquipmentTypeDisplay", "EquipmentType", new { equipmentId = -1 })";
            link = link.replace("-1", clickedId);
        }
        else if ($(this).hasClass("edit")) {
            link = "@Url.Action("EquipmentTypeUpdate", "EquipmentType", new { equipmentId = -1 })";
            link = link.replace("-1", clickedId);
        }
        else if ($(this).hasClass("createNew")) {
            link = "@Url.Action("EquipmentTypeCreate", "EquipmentType")";
        }

        $("#modelWindow_wnd_title").html(frameTitle);

        var windowWidget = $("#modelWindow").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
        
    });
</script>


@*<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeName)</div>
        <div class="shortTxtDiv">
            @Html.TextBoxFor(v => v.EquipmentTypeName)@Html.ValidationMessageFor(v => v.EquipmentTypeName)
        </div>
    </div>
</div>*@
@*@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "", null)*@
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClick createNew", CommonUtility.GetResourceValue("Equipment_PageTitle_Create"), CommonValues.PermissionCodes.Equipment.EquipmentCreate)

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<EquipmentViewModel>()
          .Name("EquipmentTypeGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.EquipmentId).ClientTemplate("<center><a class='details modalClick' id='#=EquipmentId#' frameTitle='" + @CommonUtility.GetResourceValue("Equipment_PageTitle_Display") + "' href='./EquipmentTypeDisplay/#=EquipmentId#'><img class=iconLink src='" + @Url.Content("~/Images/view.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Equipment.EquipmentSelect)).Width(10);
              columns.Bound(p => p.EquipmentId).ClientTemplate("<center><a class='edit modalClick' id='#=EquipmentId#' frameTitle='" + @CommonUtility.GetResourceValue("Equipment_PageTitle_Update") + "' href='./EquipmentTypeUpdate/#=EquipmentId#'><img class=iconLink src='" + @Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Equipment.EquipmentUpdate)).Width(10);
              columns.Bound(o => o.EquipmentId).ClientTemplate("<center><a onclick='Delete(#=EquipmentId#)' href='javascript:void(0);' id='#=EquipmentId#' frameTitle='" + @CommonUtility.GetResourceValue("Equipment_PageTitle_Delete") + "' ><img class=iconLink src='" + @Url.Content("~/Images/delete.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Equipment.EquipmentDelete)).Width(10);
              columns.Bound(p => p.EquipmentTypeName).Width(50).Sortable(true);
              columns.Bound(p => p.EquipmentTypeDesc).Width(20).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
           
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .ServerOperation(true)
              .Read(read => read.Action("GetData", "EquipmentType", Model).Data("SearchEquipment"))
              .Model(model => model.Field(o => o.EquipmentId).DefaultValue(-1)))

    )
</div>

<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
        .Title("EquipmentType")
        .Draggable()
        .Resizable()
        .Width(410)
        .Height(400)
        .Scrollable(false)
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        .Events(ev => ev.Close(@"function(e){
            var grid = $('#EquipmentTypeGrid').data('kendoGrid');
            grid.dataSource.page(1);
            }"))
    )
</div>