@using ODMSBusiness.Terminal.Common
@using ODMSBusiness.Terminal.StockMovement.Dtos
@using ODMSTerminal.Infrastructure.Utility
@model ODMSTerminal.Models.DeliveryPlacementModel
@{
    ViewBag.Title = MessageResource.Terminal_Putaway_Title_Index;
    ViewBag.WrapperCssClass = "wrapper-colored white-background";
    ViewBag.BodyCssClass = "primary";
    var warehouses = ViewBag.Warehouses as EnumerableResponse<DealerWareHouseListItem>;
    bool hasOnlyOneRack = (warehouses.Count() == 1 && warehouses.First().Racks.Count() == 1);
}
@section header{
    @Html.Partial("_subheader")
}
<div class="margin-3 pageContent">
    <table border="0" cellspacing="0" width="100%" class="margin-top-3 readonly">
        <tbody>
        <tr>
            <td class="bold stay-line">@MessageResource.Terminal_PickingList_Part</td>
            <td class="bold stay-line">:</td>
            <td>@Model.DetailInfo.PartName</td>
            <td class="last-child">&nbsp;</td>
        </tr>
        <tr>
            <td class="bold stay-line">@MessageResource.Terminal_PickingList_AcceptedQuantity </td>
            <td class="bold stay-line">:</td>
            <td>@Model.DetailInfo.AcceptedAmount</td>
            <td class="last-child">&nbsp;</td>
        </tr>
        <tr>
            <td class="bold stay-line">@MessageResource.Terminal_PickingList_LeftQuantity :</td>
            <td class="bold stay-line">:</td>
            <td>@Model.DetailInfo.LeftAmount</td>
            <td class="last-child">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    @if (@Model.DetailInfo.LeftAmount > 0)
    {
        using (Html.BeginForm("AddPart", "PutawayList", FormMethod.Post, new {id="frmAddPart"} ))
        {
            <input type="hidden" name="deliveryId" value="@ViewBag.DeliveryId" />
            <input type="hidden" name="leftQuantity" id="LeftQuantity" value="@Model.DetailInfo.LeftAmount" />
             <input type="hidden" name="deliverySeqNo" value="@Model.DetailInfo.DeliverySequenceNo"/>
             <input type="hidden" name="WarehouseId" id="WarehouseId" value="@Html.Raw(warehouses.Count() == 1?warehouses.First().WarehouseId.ToString():"")"/>
             <input type="hidden" name="RackId" id="RackId" value="@Html.Raw(hasOnlyOneRack?warehouses.First().Racks.First().RackId.ToString():"")"/>
             <input type="hidden" name="PartId" value="@Model.DetailInfo.PartId"/>
           
             <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
                 <tbody>
                 <tr>
                     <td class="bold stay-line">@MessageResource.CycleCountResultReport_Display_WareHouseName:</td>
                     <td width="60%">
                         @if (warehouses.Count() == 1)
                         {
                             @Html.TextBox("WarehouseCode", warehouses.First().WarehouseCode, new {@class = "text", @readonly = "readonly"})
                         }
                         else
                         {
                             @Html.TextBox("WarehouseCode", "", new {@class = "text", onblur = "Rack.SearchWareHouse()"})
                         }
                     </td>
                     <td class="last-child">&nbsp;</td>
                 </tr>
                 <tr>
                     <td class="bold stay-line">@MessageResource.CycleCountResultReport_Display_RackName:</td>
                     <td width="60%">
                         @if (hasOnlyOneRack)
                         {
                             @Html.TextBox("RackCode", warehouses.First().Racks.First().RackCode, new {@class = "text", @readonly = "readonly"})
                         }
                         else
                         {
                             @Html.TextBox("RackCode", "", new {@class = "text", onblur = "Rack.SearchRack()"})
                         }
                     </td>
                     <td class="last-child">&nbsp;</td>

                 </tr>
                 <tr class="margin-top-3">
                     <td class="bold stay-line">@MessageResource.Terminal_PutawayList_RackQuantity:</td>
                     <td width="60%">
                         <label id="RackQuantity"></label>
                     </td>
                     <td class="last-child">&nbsp;</td>

                 </tr>
                 <tr>
                     <td class="bold stay-line">@MessageResource.Terminal_StockMovement_Quantity:</td>
                     <td width="60%">
                         @Html.TextBox("Quantity", "", new {@class = "text",onblur= "Rack.EnableDisableSaveButton();" })
                     </td>
                     <td class="last-child">&nbsp;</td>

                 </tr>
                 </tbody>
             </table>
         }
        <table border="0" cellspacing="1" width="100%" class="margin-top-3 readonly">
            <tr>
                <td class="text-right last-child"><input id="btnSave" disabled="disabled" type="submit" class="btn btn-xs success margin-top-3" value="@MessageResource.Global_Display_Save"></td>
            </tr>
        </table>

    }
    <table border="0" cellspacing="0" width="100%" class="margin-top-3 datatable">
        <thead>
        <tr>
            <th width="20%">@MessageResource.Global_Display_Delete</th>
            <th>Raf</th>
            <th class="last-child">@MessageResource.Global_Display_Amout</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PartsPlacementList)
        {
            <tr>
                <td><input type="submit" class="btn btn-xs danger delete" data-placementid="@item.PlacementId" value="@MessageResource.Global_Display_Delete"></td>
                <td>@item.Text</td>
                <td class="last-child">@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
    @using (Html.BeginForm("DeletePlacement", "PutawayList", FormMethod.Post,new {id="frmDeletePlacement"}))
    {
        <input type="hidden" name="placementId" id="PlacementId"/>
        <input type="hidden" name="deliverySeqNo" value="@Model.DetailInfo.DeliverySequenceNo" />
        <input type="hidden" name="deliveryId" value="@ViewBag.DeliveryId" />
    }


</div>
@section scripts
{
<script src="~/Scripts/views/putawaylist/rack.js"></script>
    <script>
        $(document).ready(function () {
            $('table.datatable tr:even').addClass('even');
            $('table.datatable tr:odd').addClass('odd');
            Rack.PageInit();
            if (@((warehouses.Count() == 1&& hasOnlyOneRack).ForJavascript())) {
                Rack.SearchRack();
            }
            KS.Common.Focus("#WarehouseCode");
        });
    </script>
}
