@{
    ViewBag.Title = ViewBag.Title = ODMSCommon.Resources.MessageResource.DealerSaleSparepart_PageTitle_Details;
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.DealerSaleSparepart.DealerSaleSparepartIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.PartName)</div>
<div class="labelDiv">@Html.DisplayFor(v => v.PartName)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.PartCode)</div>
<div class="labelDiv">@Html.DisplayFor(v => v.PartCode)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.ListPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.ListPrice)</div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv" style="width:155px;">@Html.LabelFor(v => v.DiscountPrice)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DiscountPrice) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv" style="width:155px;">@Html.LabelFor(v => v.DiscountRatio)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DiscountRatio) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv" style="width:155px;">@Html.LabelFor(v => v.CreateDate)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.CreateDate) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv" style="width:155px;">@Html.LabelFor(v => v.StockQuantity)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StockQuantity) </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv" style="width:155px;">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) </div>
<br />

<script type="text/javascript">
    $(document).ready(function () {
        $("#popupContentWrapper").css("min-height", 350);//199
        $("#popupContent").css("max-width", 650);//500
    });
</script>


