@using ODMSBusiness
@using ODMSCommon.Resources
@using ODMSModel.VehicleModel
@model VehicleModelIndexViewModel
@{
    ViewBag.Title =  CommonUtility.GetResourceValue("VehicleModel_PageTitle_Index");
}
  
@Html.AntiForgeryToken()
<div id="showSearch">@MessageResource.Global_Display_Search_Criteria</div>
<div id="searchDiv">
    <div id="searchFields">
        <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleGroupId).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.VGSelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="labelDiv">@Html.LabelFor(v=>v.VehicleModelKod)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.VehicleModelKod).DataTextField("Text").DataValueField("Value").BindTo(VehicleModelBL.ListVehicleModelAsSelectList(ODMSCommon.Security.UserManager.UserInfo).Data as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose"))</div>
        <div class="clearDiv">&nbsp;</div>
        <div class="labelDiv">@Html.LabelFor(v=>v.VehicleModelName)</div>
        <div class="shortTxtDiv">@Html.TextBoxFor(v=>v.VehicleModelName)</div>
        <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
        <div class="shortTxtDiv">@Html.Kendo().ComboBoxFor(v => v.IsActiveSearch).DataTextField("Text").DataValueField("Value").BindTo(ViewBag.IASelectList as List<SelectListItem>).Placeholder(CommonUtility.GetResourceValue("Global_Display_Choose")) </div>      
    </div>
</div>
@ODMSHelpers.LinkButton("btnSearch", CommonUtility.GetResourceValue("Global_Display_Search"), "", "", "",ODMSCommon.CommonValues.PermissionCodes.VehicleModel.VehicleModelIndex)
<script>

    function Search() {
        return {
            IsActiveSearch: $("#IsActiveSearch").val(),
            VehicleGroupId : $("#VehicleGroupId").val(),
            VehicleModelKod: $("#VehicleModelKod").val(),
            VehicleModelName: $("#VehicleModelName").val(),
        };
    }
    $(document).ready(function () {
        $("body").delegate("#btnSearch", "click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);

        });
        $("body").delegate("#showSearch", "click", function (e) {
            var IsVisible = Boolean($(this).hasClass("searchVisible"));

            if (!IsVisible) {
                $(this).html('@MessageResource.Global_Display_Hide_Search_Criteria');
                $(this).addClass("searchVisible");
                $("#searchDiv").show("slow");
            }
            else {
                $(this).html('@MessageResource.Global_Display_Search_Criteria');
                $(this).removeClass("searchVisible");
                $("#searchDiv").hide("slow");
            }
        });
        $("body").delegate(".modalClick", "click", function (e) {
            $('#modelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var frameTitle = $(this).attr("frameTitle");
            if ($(this).hasClass("edit")) {
                link = "@Url.Action("VehicleModelUpdate", "VehicleModel", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            if ($(this).hasClass("details") == true) {
                link = "@Url.Action("VehicleModelDetails", "VehicleModel", new { id = -1 })";
                link = link.replace("-1", clickedId);
            }
            $("#modelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#modelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();
           
        });

    });
    function DeleteVehicleModel(vehicleModelKod) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        
        DeleteConfirm(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("VehicleModelDelete", "VehicleModel")",
                data: { vehicleModelKod: vehicleModelKod, "__RequestVerificationToken": token },
                traditional: true,
                success: function (result) {
                    if (result.Status == 0)
                        SetErrorMessage(result.Message);
                    else {
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                        SetSuccessMessage(result.Message);
                    }
                },
                dataType: "json"
            });
        });
    }
</script>
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindow")
    .Title("Customer")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#grid').data('kendoGrid');
        grid.dataSource.page(1);
        grid.dataSource.read();
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<VehicleModelListModel>()
          .Name("grid")

          .Columns(columns =>
            {
                columns.Bound(p => p.VehicleModelKod).ClientTemplate("<center><a class='details modalClick' id='#=VehicleModelKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleModel_PageTitle_Details") + "' href='/VehicleModel/VehicleModelDetails/#=VehicleModelKod#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleModel.VehicleModelDetails));
                columns.Bound(p => p.VehicleModelKod).ClientTemplate("<center><a class='edit modalClick' id='#=VehicleModelKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleModel_PageTitle_Update") + "' href='/VehicleModel/VehicleModelUpdate/#=VehicleModelKod#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleModel.VehicleModelUpdate));
                columns.Bound(o => o.VehicleModelKod).ClientTemplate("<center><a onclick='DeleteVehicleModel(\"#=VehicleModelKod#\")' href='javascript:void(0);' id='#=VehicleModelKod#' frameTitle='" + @CommonUtility.GetResourceValue("VehicleModel_PageTitle_Delete") + "'><img class=iconLink src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(50).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.VehicleModel.VehicleModelDelete));
                columns.Bound(p => p.VehicleGroupName).Width(200).Sortable(true);
                columns.Bound(p => p.VehicleModelKod).Width(180).Sortable(true);
                columns.Bound(p => p.VehicleModelName).Width(180).Sortable(true);
                columns.Bound(p => p.IsPdiCheck).Width(150).Sortable(true);
                columns.Bound(p => p.IsCouponCheck).Width(100).Sortable(true);
                columns.Bound(p => p.IsBodyWorkDetailCheck).Width(150).Sortable(true);
                columns.Bound(p => p.IsActiveS).Sortable(true).Width(70);
            })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListVehicleModel", "VehicleModel", Model).Data("Search"))
                                        .Model(model => model.Field(o => o.VehicleModelKod).DefaultValue(-1)))

          )
</div>
