@model ODMSModel.VehicleModel.VehicleModelIndexViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("VehicleModel_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<link href="~/Style/bootstrap.css" rel="stylesheet" />
 

@using (Html.BeginForm("VehicleModelDelete", "VehicleModel", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
        
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleModelKod)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleModelKod) </div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleGroupName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleGroupName) </div>
    
    <div class="clearDiv">&nbsp;</div>
       
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleModelSSID)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleModelSSID)</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.VehicleModelName)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.VehicleModelName) </div>
   
    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsCouponCheck)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsCouponCheck) </div>  
       
    <div class="labelDiv">@Html.LabelFor(v => v.IsPDICheck)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsPDICheck) </div>
    
    <div class="clearDiv">&nbsp;</div> 
    
    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive) </div>

    @Html.HiddenFor(v => v.VehicleModelKod)
    <div class="clearDiv">&nbsp;</div>
    @ODMSHelpers.Button("Delete", CommonUtility.GetResourceValue("Global_Display_Delete"), ODMSCommon.CommonValues.PermissionCodes.VehicleModel.VehicleModelDelete, "VehicleModelDelete")
    }


}