@using ODMSCommon.Resources
@using ODMSModel.ContractPart
@model ODMSModel.ContractPart.ContractPartListModel
@ODMSHelpers.LinkButton("btnCreate", CommonUtility.GetResourceValue("Global_Display_New"), "Create", "modalClickContractPart createNewContractPart", CommonUtility.GetResourceValue("ContractPart_PageTitle_Create"), CommonValues.PermissionCodes.Contract.ContractCreate)
@Html.AntiForgeryToken()
<br />
<div id="ContractPartModelWindowDiv">
    @(Html.Kendo().Window()
        .Name("ContractPartModelWindow")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#ContractPartGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
    @Html.HiddenFor(v => v.IdContract)
    @Html.HiddenFor(v => v.IdContractPart)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").delegate(".modalClickContractPart", "click", function (e) {
            $('#ContractPartModelWindow').html('');
            e.preventDefault();

            var link;
            var clickedId = $(this).attr("id");
            var idList = clickedId.split("$");
            var idContractPartParam = idList[0];
            var frameTitle = $(this).attr("frameTitle");

            if ($(this).hasClass("edit")) {
                link = "@Url.Action("ContractPartUpdate", "ContractPart", new { idContract = -1})";
                link = link.replace("-1", idContractPartParam);
            }
            else if ($(this).hasClass("createNewContractPart")) {
                link = "@Url.Action("ContractPartCreate", "ContractPart", new { idContract = Model.IdContract})";
            }
            $("#ContractPartModelWindow_wnd_title").html(frameTitle);

            var windowWidget = $("#ContractPartModelWindow").data("kendoWindow");
            var closeOrigin = windowWidget.close;

            windowWidget.refresh({
                url: link
            }).center();
            windowWidget.center();
            windowWidget.open();

        });

    });
    function DeleteContractPart(idContPart) {
        var token = $('input[name="__RequestVerificationToken"]').val();
    DeleteConfirm(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteContractPart", "ContractPart")",
            data: { idContractPart: idContPart, "__RequestVerificationToken": token },
            traditional: true,
            success: function (result) {
                if (result.Status == 0)
                    SetErrorMessage(result.Message);
                else {
                    var grid = $('#ContractPartGrid').data('kendoGrid');
                    grid.dataSource.read();
                    SetSuccessMessage(result.Message);
                }
            },
            dataType: "json"
        });
    });
}
</script>
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.ContractPart.ContractPartListModel>()
          .Name("ContractPartGrid")

          .Columns(columns =>
          {
              //columns.Bound(p => p.IdContractPart).ClientTemplate("<center><a class='details modalClickContractPart' id='#=IdContractPart#' frameTitle='" + @CommonUtility.GetResourceValue("Contract_PageTitle_Details") + "' href='/ContractPart/ContractPartDetails/#=IdContractPart#'><img class=iconLink src='" + Url.Content("~/Images/view.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_View")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractDetails));
              //columns.Bound(p => p.IdContractPart).ClientTemplate("<center><a class='edit modalClickContractPart' id='#=IdContractPart#' frameTitle='" + @CommonUtility.GetResourceValue("Contract_PageTitle_Update") + "' href='/ContractPart/ContractPartUpdate/#=IdContractPart#'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractUpdate));
              columns.Bound(o => o.IdContractPart).ClientTemplate("<center><a href='javascript:void(0);' frameTitle='" + CommonUtility.GetResourceValue("Contract_PageTitle_Delete") + "' onclick='DeleteContractPart(\"#=IdContractPart#\");'><img class='iconLink' src='" + Url.Content("~/Images/delete.png") + "'/></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Delete")).Width(40).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Contract.ContractDelete));
              //columns.Bound(p => p.IdContractPart).Width(100).Sortable(true);
              columns.Bound(p => p.AdminDesc).Width(100).Sortable(true);
              columns.Bound(p => p.PartCode).Width(100).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListContractPart", "ContractPart", Model))
                                        .Model(model => model.Field(o => o.IdContractPart).DefaultValue(-1)))

    )
</div>
<div id="excelVisibilityContractPart">
    <h4>@Html.Raw(MessageResource.Global_Display_UploadFromExcel) </h4>
    <div class="labelDiv" style="width: 80px">@MessageResource.Global_Display_SampleFile </div>
    <div>
        <a class="k-link2" href="@Url.Action("ExcelSample", "ContractPart")">
            <img class=iconLink src='@Url.Content("~/Images/excelSample.png")' title='@MessageResource.Global_Display_SampleFile'>
        </a>
        <br />
        @using (Html.BeginForm("ContractPartIndex", "ContractPart", FormMethod.Post))
        {
            @Html.Kendo().Upload().Name("contractPartExcelFile").TemplateId("fileTemplate").Events(e => e.Select("onSelect")).Multiple(false).Messages(m => m.Select(MessageResource.Global_Display_SelectFile))
            <div id="divContractPartExcelUpload">
                @ODMSHelpers.Button("Upload", CommonUtility.GetResourceValue("LabourDuration_Display_UploadFromExcel"), "", "UploadExcel")
            </div>
        }
    </div>
</div>