@model ODMSModel.Labour.LabourViewModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("Labour_PageTitle_Delete");
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

 
@using (Html.BeginForm("LabourDelete", "Labour", FormMethod.Post))
{
    if (!Model.HideFormElements)
    {
    <div class="labelDiv">@Html.LabelFor(v => v.LabourMainGroupId)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LabourMainGroupName)</div>
    <div class="labelDiv">@Html.LabelFor(c => c.LabourSubGroupId)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(c => c.LabourSubGroupName)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.RepairCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.RepairCode)</div>

    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv" style="margin-top: 5px">@Html.LabelFor(v => v.LabourName)</div>
    <div class="shortTxtDiv" style="margin-top: 5px">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }</div>

    <div class="labelDiv">@Html.LabelFor(v => v.LabourCode)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.LabourCode)</div>

    <div class="clearDiv">&nbsp;</div>
    
    <div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.AdminDesc)</div>
    
    <div class="clearDiv">&nbsp;</div>

    <div class="labelDiv">@Html.LabelFor(v => v.IsDealerDuration)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsDealerDuration)</div>
    
    <div class="clearDiv">&nbsp;</div>


    <div class="labelDiv">@Html.LabelFor(v => v.IsActive)</div>
    <div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActive)</div>

    <div class="clearDiv">&nbsp;</div>
    @Html.HiddenFor(v => v.LabourId)
    @ODMSHelpers.Button("DELETE", CommonUtility.GetResourceValue("Global_Display_Delete"), ODMSCommon.CommonValues.PermissionCodes.Labour.LabourDelete, "LabourDelete")
    }
}
